Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @rickwinter, @ronniegeraghty, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                @jsquire @rickwinter @ronniegeraghty

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama @LarryOsterman

###########
# Client SDKs
###########

# PRLabel: %Attestation
/sdk/attestation/        @LarryOsterman @gkostal @anilba06 @kroshkina-ms @ahmadmsft @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @EmmaZhu @antkmsft @vhvb1989 @gearama @LarryOsterman @microzchang

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek

Fix push script passing in optional argument
  eng/common/scripts/git-branch-push.ps1
Owners: @danieljurek, @weshaggard, @benbp

remove version id inTaggedBlobItem and add unit test for cold tier (#4121)
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/src/rest_client.cpp
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Remove the use of VCPKG_ROOT and VCPKG_INSTALLATION_ROOT from the cmake module.
  cmake-modules/AzureVcpkg.cmake
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

some cleanup
  CMakeSettings.json
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_proxy_manager.hpp
  sdk/core/azure-core-test/src/private/testproxy.ps1
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
  sdk/core/azure-core-test/src/test_proxy_policy.cpp
  sdk/core/azure-core-tracing-opentelemetry/test/ut/azure_core_otel_test.cpp
  sdk/core/azure-core-tracing-opentelemetry/test/ut/service_support_test.cpp
  sdk/identity/azure-identity/test/ut/token_credential_test.cpp
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/certificate_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/secret_client_base_test.hpp
  sdk/storage/azure-storage-common/test/ut/test_base.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

Fix push script passing in optional argument (#4125)
  eng/common/scripts/git-branch-push.ps1
Owners: @danieljurek, @weshaggard, @benbp

Force a popup in the pipeline
  sdk/core/azure-core/test/ut/azure_core_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

This was first discovered by trying to update curl in vcpkg: https://github.com/microsoft/vcpkg/pull/27778
  sdk/core/azure-core/CMakeLists.txt
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Add screenshot
  eng/pipelines/templates/steps/cmake-build.yml
  eng/scripts/New-Screenshot.ps1
Owners: @danieljurek, @weshaggard, @benbp

ignore result
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

testproxy remade
  cmake-modules/TestProxyPrep.cmake
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

This was first discovered by trying to update curl in vcpkg: https://github.com/microsoft/vcpkg/pull/27778 (#4127)
  sdk/core/azure-core/CMakeLists.txt
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

fiiine , do something with the result , goooosh
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_proxy_policy.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Update vcpkg baseline to latest released tags/2022.10.19 (#4100)
  cmake-modules/AzureVcpkg.cmake
  vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

install test proxy
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/cmake-generate.tests.yml
  eng/pipelines/templates/jobs/live.tests.yml
  sdk/core/azure-core-test/inc/azure/core/test/test_proxy_policy.hpp
Owners: @danieljurek, @weshaggard, @benbp, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

clang
  sdk/attestation/azure-security-attestation/test/ut/policycertmgmt_test.cpp
  sdk/core/azure-core-test/inc/azure/core/test/test_context_manager.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_proxy_manager.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_proxy_policy.hpp
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
  sdk/core/azure-core-test/src/test_proxy_policy.cpp
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
  sdk/storage/azure-storage-common/test/ut/test_base.cpp
Owners: @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

clang
  .gitignore
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/storage/azure-storage-common/test/ut/test_base.cpp
  sdk/storage/azure-storage-common/test/ut/test_base.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

certs maybe
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/cmake-generate.tests.yml
  eng/pipelines/templates/jobs/live.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

cmake generate fix,
  eng/pipelines/templates/jobs/cmake-generate.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

start test proxy script
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/live.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

start test proxy on env
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

clang, move TP after build
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/live.tests.yml
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
  sdk/storage/azure-storage-common/test/ut/test_base.hpp
Owners: @danieljurek, @weshaggard, @benbp, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

certs
  eng/common/testproxy/test-proxy-tool.yml
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

sda
  eng/common/testproxy/test-proxy-tool.yml
Owners: @danieljurek, @weshaggard, @benbp

dss
  eng/common/testproxy/test-proxy-tool.yml
Owners: @danieljurek, @weshaggard, @benbp

allow insecure connections
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_proxy_manager.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

put back
  eng/common/testproxy/test-proxy-tool.yml
Owners: @danieljurek, @weshaggard, @benbp

debug
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

iuy
  eng/common/testproxy/test-proxy-tool.yml
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

try again
  eng/common/testproxy/test-proxy-tool.yml
Owners: @danieljurek, @weshaggard, @benbp

ewew
  eng/common/testproxy/test-proxy-tool.yml
Owners: @danieljurek, @weshaggard, @benbp

chmod
  eng/common/testproxy/test-proxy-tool.yml
Owners: @danieljurek, @weshaggard, @benbp

try again
  eng/common/testproxy/test-proxy-tool.yml
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
Owners: @danieljurek, @weshaggard, @benbp, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

update sanitizer
  eng/common/testproxy/test-proxy-tool.yml
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
Owners: @danieljurek, @weshaggard, @benbp, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

output testproxy log
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

sjhgasjgdajh
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

folder
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

worxy
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

fix tests and log file
  eng/pipelines/templates/jobs/ci.tests.yml
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_rotation_policy_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/recordings/KeyVaultKeyClient.CreateEcHsmKey.json
  sdk/keyvault/azure-security-keyvault-keys/test/ut/recordings/KeyVaultKeyClient.CreateRsaHsmKey.json
Owners: @danieljurek, @weshaggard, @benbp, @vhvb1989, @gearama, @antkmsft, @rickwinter

format files
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_proxy_manager.hpp
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

clang format
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/storage/azure-storage-common/test/ut/test_base.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang
