Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @rickwinter, @ronniegeraghty, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp

Update sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

More accurate condition
  sdk/core/azure-core/vcpkg/Config.cmake.in
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs

Fix warnings
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Added information for configuring linux or other OS package manager to install OpenSSL
  README.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Format files as vcpkg formats them; pull one change back from vcpkg
  sdk/attestation/azure-security-attestation/vcpkg/vcpkg.json
  sdk/core/azure-core/vcpkg/vcpkg.json
  sdk/identity/azure-identity/vcpkg/vcpkg.json
Owners: @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @schaabs

update links
  sdk/storage/azure-storage-blobs/README.md
  sdk/storage/azure-storage-common/README.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Compilation fixes for UWP (#4335)
  sdk/attestation/azure-security-attestation/vcpkg/vcpkg.json
  sdk/core/azure-core/vcpkg/Config.cmake.in
  sdk/core/azure-core/vcpkg/vcpkg.json
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
  sdk/identity/azure-identity/vcpkg/vcpkg.json
Owners: @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @schaabs

update links
  sdk/storage/README.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Undo change to the vcpkg manifest file (went in in other PR)
  sdk/core/azure-core/vcpkg/vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Sync with main
  sdk/core/azure-core/vcpkg/vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

update storage README (#4183)
  sdk/storage/README.md
  sdk/storage/azure-storage-blobs/README.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-files-datalake/README.md
  sdk/storage/azure-storage-files-shares/README.md
  sdk/storage/azure-storage-queues/README.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Core February Release (#4315)
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Increment package version after release of azure-core
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Increment package version after release of azure-core-tracing-opentelemetry
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/src/private/package_version.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Increment version for core releases (#4338)
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/src/private/package_version.hpp
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Added information for configuring linux or other OS package manager to install OpenSSL (#4336)
  README.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Update artifacts for ci.yml (#4330)
  cmake-modules/FolderList.cmake
  sdk/keyvault/azure-security-keyvault-administration/vcpkg.json
  sdk/keyvault/ci.yml
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @danieljurek

update folder list
  cmake-modules/FolderList.cmake
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

put to stable versions
  cmake-modules/FolderList.cmake
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

put back to last GA
  cmake-modules/FolderList.cmake
  sdk/keyvault/azure-security-keyvault-administration/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/Config.cmake.in
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

put back to original
  cmake-modules/FolderList.cmake
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

proper regex for win 2022
  eng/scripts/Get-BinarySizes.ps1
Owners: @danieljurek, @weshaggard, @benbp

proper regex for win 2022 (#4339)
  eng/scripts/Get-BinarySizes.ps1
Owners: @danieljurek, @weshaggard, @benbp

try core 1.8.0
  cmake-modules/FolderList.cmake
  sdk/keyvault/azure-security-keyvault-administration/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/Config.cmake.in
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Revert "try core 1.8.0"
  cmake-modules/FolderList.cmake
  sdk/keyvault/azure-security-keyvault-administration/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/Config.cmake.in
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

add Files Datalake README.md
  sdk/storage/azure-storage-files-datalake/README.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

add file share README.md
  sdk/storage/azure-storage-files-datalake/README.md
  sdk/storage/azure-storage-files-shares/README.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

add queues README.md
  sdk/storage/azure-storage-queues/README.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

resolve conversation
  sdk/storage/azure-storage-files-datalake/README.md
  sdk/storage/azure-storage-files-shares/README.md
  sdk/storage/azure-storage-queues/README.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

update link
  sdk/storage/azure-storage-files-datalake/README.md
  sdk/storage/azure-storage-files-shares/README.md
  sdk/storage/azure-storage-queues/README.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

update storage README(datalake&shares&queues) (#4318)
  sdk/storage/azure-storage-files-datalake/README.md
  sdk/storage/azure-storage-files-shares/README.md
  sdk/storage/azure-storage-queues/README.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Fix cspell flagged typos across the repo by triggering it on all files.
  sdk/core/azure-core/test/ut/response_t_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Feb key vault release (#4319)
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/Config.cmake.in
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-certificates/CMakeSettings.json
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Increment package version after release of azure-security-keyvault-administration
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/src/private/package_version.hpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Test proxy start (#4295)
  .vscode/cspell.json
  CONTRIBUTING.md
  cmake-modules/TestProxyPrep.cmake
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/scripts/Start-TestProxy.ps1
  sdk/attestation/azure-security-attestation/test/ut/CMakeLists.txt
  sdk/attestation/azure-security-attestation/test/ut/tpmattestation_test.cpp
  sdk/core/azure-core-test/CMakeLists.txt
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/test/ut/settings_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/certificate_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/secret_client_base_test.hpp
  sdk/storage/azure-storage-blobs/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-common/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-common/test/ut/test_base.hpp
  sdk/storage/azure-storage-files-datalake/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-queues/test/ut/CMakeLists.txt
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @danieljurek, @weshaggard, @benbp, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

Identity February Release (#4317)
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/identity/azure-identity/src/private/package_version.hpp
  sdk/identity/azure-identity/vcpkg/Config.cmake.in
  sdk/identity/azure-identity/vcpkg/vcpkg.json
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Increment package version after release of azure-identity
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Increment package version after release of azure-security-keyvault-administration (#4340)
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/src/private/package_version.hpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Increment package version after release of azure-identity (#4342)
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

autotrigger the keyvault CI when a testproxy file is changed
  sdk/keyvault/ci.yml
Owners: @danieljurek

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                @jsquire @rickwinter @ronniegeraghty

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama @LarryOsterman

###########
# Client SDKs
###########

# PRLabel: %Attestation
/sdk/attestation/        @LarryOsterman @gkostal @anilba06 @kroshkina-ms @ahmadmsft @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @EmmaZhu @antkmsft @vhvb1989 @gearama @LarryOsterman @microzchang

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek
