Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @rickwinter, @ronniegeraghty, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp

Undo any yml changes (Fixed externally?)
  eng/pipelines/templates/jobs/cmake-generate.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

Undo all intentionally unnecessary changes
  eng/pipelines/templates/jobs/cmake-generate.tests.yml
  sdk/core/azure-core/inc/azure/core/datetime.hpp
Owners: @danieljurek, @weshaggard, @benbp, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

move cleanup tool.
  tools/cleanup/CMakeLists.txt
  tools/cleanup/LICENSE
  tools/cleanup/README.md
  tools/cleanup/src/cleanup.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Update broken link (#4306)
  README.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Updates from API Review (#4272)
  sdk/keyvault/azure-security-keyvault-administration/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/rest_client.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/rest_client_models.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/settings_client.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/settings_client.cpp
  sdk/keyvault/azure-security-keyvault-administration/test/samples/sample1-basic-operations/sample1_administration.cpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/settings_client_test.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

update links after file rename
  eng/common/scripts/Cadl-Project-Generate.ps1
  eng/common/scripts/Cadl-Project-Sync.ps1
Owners: @danieljurek, @weshaggard, @benbp

move the file to doc/common and link to it from each script
  eng/common/scripts/Cadl-Project-Generate.ps1
  eng/common/scripts/Cadl-Project-Sync.ps1
  eng/common/scripts/CadlSyncAndGenerateScripts.md
Owners: @danieljurek, @weshaggard, @benbp

add documentation for cadl sync and generate
  eng/common/scripts/CadlSyncAndGenerateScripts.md
Owners: @danieljurek, @weshaggard, @benbp

update paths , moved to macro , call macro in target code
  cmake-modules/TestProxyPrep.cmake
  sdk/attestation/azure-security-attestation/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-common/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-queues/test/ut/CMakeLists.txt
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

core
  sdk/core/azure-core-test/CMakeLists.txt
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Use static constant UserAgent
  sdk/core/azure-core/src/http/telemetry_policy.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Sync eng/common directory with azure-sdk-tools for PR 5272 (#4309)
  eng/common/scripts/Cadl-Project-Generate.ps1
  eng/common/scripts/Cadl-Project-Sync.ps1
Owners: @danieljurek, @weshaggard, @benbp

Move cspell exceptions in markdown file to metadata that isn't visible using html comment syntax
  sdk/core/azure-core/test/ut/proxy_tests/readme.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Add LanguageVersion
  eng/pipelines/templates/jobs/perf.yml
Owners: @danieljurek, @weshaggard, @benbp

Move migration script to eng/common
  eng/common/testproxy/transition-scripts/README.md
  eng/common/testproxy/transition-scripts/generate-assets-json.ps1
Owners: @danieljurek, @weshaggard, @benbp

Remove localization from link
  eng/common/testproxy/transition-scripts/README.md
Owners: @danieljurek, @weshaggard, @benbp

Ignore the improper link
  eng/ignore-links.txt
Owners: @danieljurek, @weshaggard, @benbp

capitalization
  cmake-modules/TestProxyPrep.cmake
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Added deprecated constructors for attestation service
  sdk/core/azure-core/inc/azure/core/internal/http/pipeline.hpp
  sdk/core/azure-core/inc/azure/core/internal/tracing/service_tracing.hpp
  sdk/core/azure-core/test/ut/pipeline_test.cpp
  sdk/core/azure-core/test/ut/service_tracing_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Disable deprecation warnings for clang; improved documentation to reflect deprecated functions
  sdk/core/azure-core/inc/azure/core/internal/http/pipeline.hpp
  sdk/core/azure-core/inc/azure/core/internal/tracing/service_tracing.hpp
  sdk/core/azure-core/test/ut/service_tracing_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Use doxygen @deprecated on deprecated functions
  sdk/core/azure-core/inc/azure/core/internal/http/pipeline.hpp
  sdk/core/azure-core/inc/azure/core/internal/tracing/service_tracing.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Better deprecation disabling
  sdk/core/azure-core/test/ut/pipeline_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Policies do not overwrite HTTP headers if they are already set (#4303)
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/core/azure-core/src/http/telemetry_policy.cpp
  sdk/core/azure-core/test/ut/request_id_policy_test.cpp
  sdk/core/azure-core/test/ut/telemetry_policy_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

fix memory leak at creation of curl connection
  sdk/core/azure-core/src/http/curl/curl.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Better deprecation disabling 2
  sdk/core/azure-core/test/ut/pipeline_test.cpp
  sdk/core/azure-core/test/ut/service_tracing_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

storage february release
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/vcpkg.json
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/vcpkg.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Core February Release
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Consume cosmos emulator from install path on agent
  eng/common/pipelines/templates/steps/cosmos-emulator.yml
  eng/common/scripts/Cosmos-Emulator.ps1
Owners: @danieljurek, @weshaggard, @benbp

Accumulate changelog entries from previous Beta releases
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Identity February Release
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Accumulate changelog entries from previous Beta releases
  sdk/identity/azure-identity/CHANGELOG.md
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Move cspell exceptions in markdown file to metadata that isn't visible using html comment syntax (#4311)
  sdk/core/azure-core/test/ut/proxy_tests/readme.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Consume cosmos emulator from install path on agent (#4316)
  eng/common/pipelines/templates/steps/cosmos-emulator.yml
  eng/common/scripts/Cosmos-Emulator.ps1
Owners: @danieljurek, @weshaggard, @benbp

Better deprecation disabling 3
  sdk/core/azure-core/test/ut/pipeline_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Better deprecation disabling 4
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/pipeline_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

kv release
  sdk/keyvault/azure-security-keyvault-certificates/CMakeSettings.json
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

ds
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Better deprecation disabling 5
  sdk/core/azure-core/inc/azure/core/internal/tracing/service_tracing.hpp
  sdk/core/azure-core/test/ut/pipeline_test.cpp
  sdk/core/azure-core/test/ut/service_tracing_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

move to /tools/cleanup
  sdk/keyvault/CMakeLists.txt
  sdk/keyvault/tools/cleanup/CMakeLists.txt
  sdk/keyvault/tools/cleanup/LICENSE
  sdk/keyvault/tools/cleanup/README.md
  sdk/keyvault/tools/cleanup/src/cleanup.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Don't deprecate in cmakelists.txt
  sdk/core/azure-core/test/ut/CMakeLists.txt
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                @jsquire @rickwinter @ronniegeraghty

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama @LarryOsterman

###########
# Client SDKs
###########

# PRLabel: %Attestation
/sdk/attestation/        @LarryOsterman @gkostal @anilba06 @kroshkina-ms @ahmadmsft @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @EmmaZhu @antkmsft @vhvb1989 @gearama @LarryOsterman @microzchang

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek
