Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @rickwinter, @ronniegeraghty, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp

Added .runsettings to gitignore
  .gitignore
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Update sdk/core/azure-core/test/ut/service_tracing_test.cpp
  sdk/core/azure-core/test/ut/service_tracing_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Added deprecated constructors for attestation service (#4313)
  .gitignore
  sdk/core/azure-core/inc/azure/core/internal/http/pipeline.hpp
  sdk/core/azure-core/inc/azure/core/internal/tracing/service_tracing.hpp
  sdk/core/azure-core/test/ut/pipeline_test.cpp
  sdk/core/azure-core/test/ut/service_tracing_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

aAsaddas
  sdk/keyvault/CMakeLists.txt
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Prepare OpenTelemetry for beta release
  doc/DistributedTracing.md
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Enable nodepool update via bicep and update node SKUs
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

Update sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Removed core changelog changes
  doc/DistributedTracing.md
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Removed core changelog changes 2
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Updated core dependency to 1.8.0
  sdk/core/azure-core-tracing-opentelemetry/vcpkg/Config.cmake.in
  sdk/core/azure-core-tracing-opentelemetry/vcpkg/vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Handle multi-line string concatenation with Write-Warning
  eng/common/TestResources/New-TestResources.ps1
Owners: @danieljurek, @weshaggard, @benbp

Sync eng/common directory with azure-sdk-tools for PR 5291 (#4308)
  eng/common/testproxy/transition-scripts/README.md
  eng/common/testproxy/transition-scripts/generate-assets-json.ps1
  eng/ignore-links.txt
Owners: @danieljurek, @weshaggard, @benbp

Update core minimum version requirement
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/identity/azure-identity/vcpkg/Config.cmake.in
  sdk/identity/azure-identity/vcpkg/vcpkg.json
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Temporarily disable error handling for Get-AzKeyVault -InRemovedState
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Owners: @danieljurek, @weshaggard, @benbp

Best way to fix which may not work in CI
  sdk/core/azure-core/vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

move cleanup tool. (#4307)
  sdk/keyvault/tools/cleanup/CMakeLists.txt
  sdk/keyvault/tools/cleanup/LICENSE
  sdk/keyvault/tools/cleanup/README.md
  sdk/keyvault/tools/cleanup/src/cleanup.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Update sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Handle multi-line string concatenation with Write-Warning (#4321)
  eng/common/TestResources/New-TestResources.ps1
Owners: @danieljurek, @weshaggard, @benbp

core to latest GA
  sdk/keyvault/azure-security-keyvault-administration/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/Config.cmake.in
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/vcpkg.json
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

1.8.0
  sdk/keyvault/azure-security-keyvault-administration/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/Config.cmake.in
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/vcpkg.json
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Update sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Update sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Update sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Update sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Update CHANGELOG.md
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Drop version from cmakelists
  sdk/core/azure-core/vcpkg.json
  sdk/identity/azure-identity/CMakeLists.txt
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs

Remove modification to leftover source files.
  samples/helpers/service/inc/azure/service/client.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/dll_import_export.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/rtti.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/settings_client.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/settings_client_options.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/keyvault_settings_common_request.cpp
  sdk/keyvault/azure-security-keyvault-administration/src/private/administration_constants.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/private/keyvault_settings_common_request.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/settings_client.cpp
  sdk/keyvault/azure-security-keyvault-administration/test/samples/sample1-basic-operations/sample1_administration.cpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/macro_guard.cpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/settings_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/settings_client_test.cpp
  sdk/keyvault/azure-security-keyvault-secrets/test/perf/inc/azure/keyvault/secrets/test/get_secret_test.hpp
  sdk/keyvault/azure-security-keyvault-secrets/test/perf/src/azure_security_keyvault_secrets_perf_test.cpp
  sdk/keyvault/tools/cleanup/src/cleanup.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Make sure PRs modifying markdown files within the repo get CI triggered
  README.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

update target version to newest one that includes .NET body bugfix as well as renames the proxy back to azure.sdk.tools.testproxy
  eng/common/testproxy/target_version.txt
Owners: @danieljurek, @weshaggard, @benbp

Update ci.yml for core to trigger on any markdown file change.
  sdk/core/ci.yml
Owners: @danieljurek

Test to see if wildcards work as expected
  sdk/core/ci.yml
Owners: @danieljurek

Update wildcard to include any markdown file, with a path
  sdk/core/ci.yml
Owners: @danieljurek

Revert README.md file change.
  README.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Modify a markdown file in a nested directory to see if core ci is triggered.
  samples/README.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Exclude sdk/core from the trigger to see if wildcard works correctly.
  sdk/core/ci.yml
Owners: @danieljurek

Add back sdk/core
  sdk/core/ci.yml
Owners: @danieljurek

Revert samples markdown change.
  samples/README.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Attestation February Release
  sdk/attestation/azure-security-attestation/CHANGELOG.md
  sdk/attestation/azure-security-attestation/src/private/package_version.hpp
Owners: @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Changelog (repeat Beta changes)
  sdk/attestation/azure-security-attestation/CHANGELOG.md
Owners: @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Update azure core minimum version dependency
  sdk/attestation/azure-security-attestation/CMakeLists.txt
  sdk/attestation/azure-security-attestation/vcpkg/Config.cmake.in
  sdk/attestation/azure-security-attestation/vcpkg/vcpkg.json
Owners: @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                @jsquire @rickwinter @ronniegeraghty

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama @LarryOsterman

###########
# Client SDKs
###########

# PRLabel: %Attestation
/sdk/attestation/        @LarryOsterman @gkostal @anilba06 @kroshkina-ms @ahmadmsft @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @EmmaZhu @antkmsft @vhvb1989 @gearama @LarryOsterman @microzchang

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek
