Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @LarryOsterman, @ahsonkhan, @antkmsft, @gearama, @schaabs, @Azure/azure-sdk-write-identity, @gkostal, @anilba06, @ahmadmsft, @RickWinter, @vinjiang, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

delete context shared state copy and move operators
  sdk/core/azure-core/inc/azure/core/context.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Update sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Prepare for June AMQP release (#5697)
  sdk/core/azure-core-amqp/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Core June Beta Release (#5696)
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

clangs
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-algorithms.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-allocator.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-alt-string.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-convenience.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-conversions.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-custom-base-class.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-diagnostics.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-no-mem-leak-on-adl-serialize.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-udl.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-udt_macro.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

restore cmake
  sdk/core/azure-core/CMakeLists.txt
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

test
  sdk/core/azure-core/inc/azure/core/internal/json/json.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Sync eng/common directory with azure-sdk-tools for PR 8377 (#5690)
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Owners: @Azure/azure-sdk-eng

Increment package version after release of azure-core
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Increment package version after release of azure-core-amqp
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/src/private/package_version.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Increment version for core releases (#5700)
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/src/private/package_version.hpp
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Storage June Release
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/vcpkg.json
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/vcpkg.json
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/vcpkg.json
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/vcpkg.json
  sdk/storage/azure-storage-queues/CHANGELOG.md
  sdk/storage/azure-storage-queues/vcpkg.json
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Remove 'include windows.h' from inc/* (#5691)
  sdk/core/azure-core/inc/azure/core/http/curl_transport.hpp
  sdk/core/azure-core/inc/azure/core/http/transport.hpp
  sdk/core/azure-core/inc/azure/core/http/win_http_transport.hpp
  sdk/core/azure-core/inc/azure/core/internal/unique_handle.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Use DOTNET_ROLL_FORWARD: 'Major' for test-proxy (#5699)
  eng/common/testproxy/test-proxy-tool.yml
Owners: @Azure/azure-sdk-eng

Remove manual workaround (eng/common change fixes this)
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

test2
  sdk/core/azure-core/inc/azure/core/internal/json/json.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Pin pester version to 5.5.0
  eng/common/pipelines/templates/steps/run-pester-tests.yml
Owners: @Azure/azure-sdk-eng

Pin pester version to 5.5.0 (#5703)
  eng/common/pipelines/templates/steps/run-pester-tests.yml
Owners: @Azure/azure-sdk-eng

the fix doesn't work, need to put back
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

Update github-event-processor to 1.0.0-dev.20240610.2
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Owners: @rickwinter, @LarryOsterman

Update github-event-processor to 1.0.0-dev.20240610.2 (#5706)
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Owners: @rickwinter, @LarryOsterman

bump proxy version
  eng/common/testproxy/target_version.txt
Owners: @Azure/azure-sdk-eng

Remove DOTNET_ROLL_FORWARD
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

Keyvault June release (#5673)
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Tables 1.0 beta 3 (#5672)
  sdk/tables/azure-data-tables/CHANGELOG.md
Owners: @gearama, @LarryOsterman, @antkmsft, @ahsonkhan

annotate macro , put back DOTNET_ROLL_FORWARD
  eng/pipelines/templates/jobs/ci.tests.yml
  sdk/core/azure-core/inc/azure/core/internal/json/json.hpp
Owners: @danieljurek, @weshaggard, @benbp, @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Validate azure arc.
  sdk/identity/azure-identity/src/managed_identity_source.cpp
  sdk/identity/azure-identity/test/ut/managed_identity_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Update changelog entry.
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/managed_identity_source.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Prepare for June eventhubs release (#5694)
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
Owners: @LarryOsterman, @antkmsft, @ahsonkhan, @gearama, @RickWinter

Increment package version after release of azure-security-keyvault-certificates
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/src/private/package_version.hpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Increment package version after release of azure-data-tables
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/src/private/package_version.hpp
Owners: @gearama, @LarryOsterman, @antkmsft, @ahsonkhan

Increment package version after release of azure-security-keyvault-secrets
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/src/private/package_version.hpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Increment package version after release of azure-security-keyvault-keys
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/src/private/package_version.hpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Update cspell, fixup gtest skip, and remove unnecessary logging.
  .vscode/cspell.json
  sdk/identity/azure-identity/src/managed_identity_source.cpp
  sdk/identity/azure-identity/test/ut/managed_identity_credential_test.cpp
Owners: @rickwinter, @LarryOsterman, @antkmsft, @schaabs, @ahsonkhan, @gearama, @Azure/azure-sdk-write-identity

Test using mkdir to create a directory on linux.
  sdk/identity/azure-identity/test/ut/managed_identity_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Update test to remove gtest_skip.
  sdk/identity/azure-identity/test/ut/managed_identity_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Move gtest_skip call inside the gtest.
  sdk/identity/azure-identity/test/ut/managed_identity_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Use system command due to permissions on creating a directory, on linux.
  sdk/identity/azure-identity/test/ut/managed_identity_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Pass in a c_str() to system.
  sdk/identity/azure-identity/test/ut/managed_identity_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Increment version for keyvault releases (#5709)
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/src/private/package_version.hpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
/**                      @rickwinter @LarryOsterman
/sdk/                    @rickwinter @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @gearama
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @ahsonkhan
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @gearama @LarryOsterman @Azure/azure-sdk-write-identity

###########
# Client SDKs
###########

# ServiceOwners: @gkostal @anilba06 @ahmadmsft
# ServiceLabel: %Attestation

# PRLabel: %Attestation
/sdk/attestation/        @gkostal @anilba06 @ahmadmsft @LarryOsterman @rickwinter

# AzureSdkOwners: @LarryOsterman
# ServiceLabel: %Event Hubs
# PRLabel: %Event Hubs
/sdk/eventhubs/           @LarryOsterman @antkmsft @ahsonkhan @gearama @RickWinter

# AzureSdkOwners: @gearama
# ServiceLabel:  %KeyVault
# PRLabel: %KeyVault
/sdk/keyvault/           @gearama @antkmsft @rickwinter @LarryOsterman

# ServiceOwners:@vinjiang @Jinming-Hu @EmmaZhu 
# ServiceLabel: %Storage

# PRLabel: %Storage
/sdk/storage/            @vinjiang @Jinming-Hu @EmmaZhu @antkmsft @gearama @LarryOsterman @microzchang

# AzureSdkOwners: @gearama
# ServiceLabel: %Tables
# PRLabel: %Tables
/sdk/tables/            @gearama @LarryOsterman @antkmsft @ahsonkhan

# AzureSdkOwners: @danieljurek
# ServiceLabel: %EngSys
# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard @LarryOsterman @RickWinter

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/eng/common/             @Azure/azure-sdk-eng
