Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @rickwinter, @ronniegeraghty, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                @jsquire @rickwinter @ronniegeraghty

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama @LarryOsterman

###########
# Client SDKs
###########

# PRLabel: %Attestation
/sdk/attestation/        @LarryOsterman @gkostal @anilba06 @kroshkina-ms @ahmadmsft @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @EmmaZhu @antkmsft @vhvb1989 @gearama @LarryOsterman @microzchang

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek

clang
  sdk/storage/azure-storage-common/test/ut/test_base.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

sa
  sdk/storage/azure-storage-common/test/ut/test_base.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

sa
  sdk/storage/azure-storage-common/test/ut/test_base.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

cleanup
  eng/common/testproxy/test-proxy-tool.yml
Owners: @danieljurek, @weshaggard, @benbp

cspell
  .vscode/cspell.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

oops
  sdk/attestation/azure-security-attestation/test/ut/attestation_metadata.cpp
  sdk/attestation/azure-security-attestation/test/ut/attestation_test.cpp
  sdk/attestation/azure-security-attestation/test/ut/policycertmgmt_test.cpp
  sdk/attestation/azure-security-attestation/test/ut/tpmattestation_test.cpp
Owners: @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Correct invalid UTF-8 in comment in /storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Correct invalid UTF-8 in comment in line 291
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Disable warning C6387 coming from wil in win_http_transport
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Disable warning C6387 coming from wil in win_http_transport header
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Add CI pipeline step and script that validates all files in the repo contain ASCII-only bytes and no UTF-8 BOM
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

Update platform-matrix.json to turn on CHECK_ASCII_CHARACTERS
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

Fix missing comma in json.
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

Clang format fix for header file
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Clang format fix for source file
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Update indentation in the ci.test.yml for the bash script
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

Disable warning C6387 coming from wil in win_http_transport due to SAL annotation (#4132)
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

stress matrix docker args
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

github pr update
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

Exclude the .github folder and test recording json files.
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

Correct invalid UTF-8 in comment in share_options.hpp (#4130)
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Acknowledge community contribution in CHANGELOG
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

fix grammar
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @danieljurek, @weshaggard, @benbp

Acknowledge community contribution in CHANGELOG (#4136)
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Sync eng/common directory with azure-sdk-tools for PR 4713 (#4135)
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

CHANGELOG Community contributions copy-paste fix
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

CHANGELOG Community contributions copy-paste fix (#4138)
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

[Testing phase, don't review] Migrate from azsdk-pool-mms-win-2019-general to azsdk-pool-mms-win-2022-general
  eng/common/scripts/job-matrix/README.md
  eng/pipelines/daily-verification.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-cpp-release.yml
  eng/pipelines/templates/stages/platform-matrix-cmakegenerate.json
  eng/pipelines/templates/stages/platform-matrix-cmakesourcegenerate.json
  eng/pipelines/templates/stages/platform-matrix-live.json
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

Save current progress
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/identity/azure-identity/inc/azure/identity.hpp
  sdk/identity/azure-identity/inc/azure/identity/azure_cli_credential.hpp
  sdk/identity/azure-identity/samples/CMakeLists.txt
  sdk/identity/azure-identity/samples/azure_cli_credential.cpp
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/identity/azure-identity/src/client_secret_credential.cpp
  sdk/identity/azure-identity/src/private/process_helper.hpp
  sdk/identity/azure-identity/src/private/token_cache_internals.hpp
  sdk/identity/azure-identity/src/private/token_credential_impl.hpp
  sdk/identity/azure-identity/src/private/token_parser.hpp
  sdk/identity/azure-identity/src/process_helper.cpp
  sdk/identity/azure-identity/src/token_credential_impl.cpp
  sdk/identity/azure-identity/src/token_parser.cpp
  sdk/identity/azure-identity/test/ut/CMakeLists.txt
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Create ApiViewSettings for most existing packages
  sdk/attestation/azure-security-attestation/inc/ApiViewSettings.json
  sdk/core/azure-core/inc/ApiViewSettings.json
  sdk/identity/azure-identity/inc/ApiViewSettings.json
  sdk/keyvault/azure-security-keyvault-certificates/inc/ApiViewSettings.json
  sdk/keyvault/azure-security-keyvault-keys/inc/ApiViewSettings.json
  sdk/keyvault/azure-security-keyvault-secrets/inc/ApiViewSettings.json
  sdk/storage/azure-storage-blobs/inc/ApiViewSettings.json
  sdk/storage/azure-storage-files-datalake/inc/ApiViewSettings.json
  sdk/storage/azure-storage-files-shares/inc/ApiViewSettings.json
  sdk/storage/azure-storage-queues/inc/ApiViewSettings.json
Owners: @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @schaabs, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

Fixed #4137 - Don't close connection on shutdown
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/test/ut/curl_connection_pool_test.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base_test.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

[Testing phase, don't review] Migrate from azsdk-pool-mms-win-2019-general to azsdk-pool-mms-win-2022-general
  eng/common/scripts/job-matrix/README.md
  eng/pipelines/daily-verification.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-cpp-release.yml
  eng/pipelines/templates/stages/platform-matrix-cmakegenerate.json
  eng/pipelines/templates/stages/platform-matrix-cmakesourcegenerate.json
  eng/pipelines/templates/stages/platform-matrix-live.json
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

remove redundant method
  sdk/attestation/azure-security-attestation/test/ut/attestation_metadata.cpp
  sdk/attestation/azure-security-attestation/test/ut/attestation_test.cpp
  sdk/attestation/azure-security-attestation/test/ut/policycertmgmt_test.cpp
  sdk/attestation/azure-security-attestation/test/ut/policygetset_test.cpp
  sdk/attestation/azure-security-attestation/test/ut/tpmattestation_test.cpp
Owners: @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

tests
  sdk/attestation/azure-security-attestation/test/ut/policygetset_test.cpp
  sdk/attestation/azure-security-attestation/test/ut/recordings/Attestation-MetadataTests.GetOpenIdMetadata-Aad.json
Owners: @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

put back original
  sdk/storage/azure-storage-common/test/ut/test_base.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

restore to 933486385a54a5a09a7444dbd823425f145ad75a
  sdk/storage/azure-storage-common/test/ut/test_base.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

clang-format
  sdk/core/azure-core/test/ut/curl_connection_pool_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

recordings
  sdk/identity/azure-identity/test/ut/recordings/TokenCredentialTest.ClientSecret.json
  sdk/identity/azure-identity/test/ut/recordings/TokenCredentialTest.EnvironmentCredential.json
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

remove storage values
  sdk/storage/azure-storage-common/test/ut/test_base.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

disable non functioning tests
  sdk/storage/azure-storage-blobs/test/ut/blob_batch_client_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang
