Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama, @ronniegeraghty, @Azure/azure-sdk-write-identity, @RickWinter, @gkostal, @anilba06, @ahmadmsft, @vinjiang, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

secrets regen into magic folder
  sdk/keyvault/azure-security-keyvault-secrets/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/secrets/dll_import_export.hpp
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/secrets/generated.hpp
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/secrets/generated/dll_import_export.hpp
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/secrets/generated/rtti.hpp
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/secrets/keyvault_options.hpp
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/secrets/keyvault_secret_paged_response.hpp
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/secrets/secret_client.hpp
  sdk/keyvault/azure-security-keyvault-secrets/src/generated/get_deleted_secrets_paged_response.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/generated/get_secret_versions_paged_response.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/generated/get_secrets_paged_response.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/generated/key_vault_client.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/generated/key_vault_client.hpp
  sdk/keyvault/azure-security-keyvault-secrets/src/generated/key_vault_client_options.hpp
  sdk/keyvault/azure-security-keyvault-secrets/src/generated/key_vault_client_paged_responses.hpp
  sdk/keyvault/azure-security-keyvault-secrets/src/generated/secrets.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/generated/secrets_models.hpp
  sdk/keyvault/azure-security-keyvault-secrets/src/keyvault_deleted_secret.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/keyvault_secret.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/keyvault_secret_paged_response.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/keyvault_secret_properties.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/private/generated_package_version.hpp
  sdk/keyvault/azure-security-keyvault-secrets/src/secret_client.cpp
  sdk/keyvault/azure-security-keyvault-secrets/tspconfig.yaml
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

AZURE to AZ
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/secrets/dll_import_export.hpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

missed
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/secrets/dll_import_export.hpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

drop namespaces
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/secrets/dll_import_export.hpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

regen into generated folder (#6472)
  sdk/keyvault/azure-security-keyvault-secrets/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/secrets/dll_import_export.hpp
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/secrets/generated.hpp
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/secrets/generated/dll_import_export.hpp
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/secrets/generated/rtti.hpp
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/secrets/keyvault_options.hpp
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/secrets/keyvault_secret_paged_response.hpp
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/secrets/secret_client.hpp
  sdk/keyvault/azure-security-keyvault-secrets/src/generated/get_deleted_secrets_paged_response.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/generated/get_secret_versions_paged_response.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/generated/get_secrets_paged_response.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/generated/key_vault_client.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/generated/key_vault_client.hpp
  sdk/keyvault/azure-security-keyvault-secrets/src/generated/key_vault_client_options.hpp
  sdk/keyvault/azure-security-keyvault-secrets/src/generated/key_vault_client_paged_responses.hpp
  sdk/keyvault/azure-security-keyvault-secrets/src/generated/secrets.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/generated/secrets_models.hpp
  sdk/keyvault/azure-security-keyvault-secrets/src/keyvault_deleted_secret.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/keyvault_secret.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/keyvault_secret_paged_response.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/keyvault_secret_properties.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/private/generated_package_version.hpp
  sdk/keyvault/azure-security-keyvault-secrets/src/secret_client.cpp
  sdk/keyvault/azure-security-keyvault-secrets/tspconfig.yaml
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Generate files
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/src/generated/get_deleted_keys_paged_response.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/generated/get_key_versions_paged_response.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/generated/get_keys_paged_response.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/generated/key_vault_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/generated/key_vault_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/generated/key_vault_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/generated/key_vault_client_paged_responses.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/generated/keys.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/generated/keys_models.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_encryption_algorithm.cpp
  sdk/keyvault/azure-security-keyvault-keys/tsp-location.yaml
  sdk/keyvault/azure-security-keyvault-keys/tspconfig.yaml
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

GetKey done
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_models.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/generated/key_vault_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_models.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_get_test_live.cpp
  sdk/keyvault/azure-security-keyvault-secrets/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/secrets/secret_client.hpp
  sdk/keyvault/azure-security-keyvault-secrets/src/secret_serializers.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Creates done
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_models.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_options.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_get_test_live.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

GetDeletedKey
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_models.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_models.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_get_test_live.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

todo: make the continue in param handler optional
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Owners: @Azure/azure-sdk-eng

FORCE instead of letting undefined get stripped off the front of the tuple
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Owners: @Azure/azure-sdk-eng

swap over fully to structured result
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Owners: @Azure/azure-sdk-eng

Update eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Owners: @Azure/azure-sdk-eng

clean up the debugging output
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Owners: @Azure/azure-sdk-eng

Support $IMPORT only. Fix parameter type mismatch with null matrix on IMPORT
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10081 (#6473)
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Owners: @Azure/azure-sdk-eng

Migrate deployment -> job. Deployment job requires checking out vcpkg and runs scripts in eng/
  eng/pipelines/templates/stages/archetype-cpp-release.yml
Owners: @danieljurek, @weshaggard, @benbp

ReleaseGate job
  eng/pipelines/templates/stages/archetype-cpp-release.yml
Owners: @danieljurek, @weshaggard, @benbp

Remove "environment" from "job" entries
  eng/pipelines/templates/stages/archetype-cpp-release.yml
Owners: @danieljurek, @weshaggard, @benbp

Explicit dependsOn
  eng/pipelines/templates/stages/archetype-cpp-release.yml
Owners: @danieljurek, @weshaggard, @benbp

Package Properties processing updates
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

Removed obsolete specc-gen-sdk pipeline template
  eng/common/pipelines/templates/stages/archetype-spec-gen-sdk.yml
Owners: @Azure/azure-sdk-eng

Move variables up, templateContext
  eng/pipelines/templates/stages/archetype-cpp-release.yml
Owners: @danieljurek, @weshaggard, @benbp

templateContext settings
  eng/pipelines/templates/stages/archetype-cpp-release.yml
Owners: @danieljurek, @weshaggard, @benbp

Remove condition
  eng/pipelines/templates/stages/archetype-cpp-release.yml
Owners: @danieljurek, @weshaggard, @benbp

Run npm audit fix to address Component Governance
  eng/common/spelling/package-lock.json
Owners: @Azure/azure-sdk-eng

LINUXNEXTPOOL
  eng/pipelines/templates/stages/archetype-cpp-release.yml
Owners: @danieljurek, @weshaggard, @benbp

beta.26
  sdk/template/azure-template/CHANGELOG.md
  sdk/template/azure-template/src/private/package_version.hpp
Owners: @danieljurek, @weshaggard, @LarryOsterman, @RickWinter

Pool
  eng/pipelines/templates/stages/archetype-cpp-release.yml
Owners: @danieljurek, @weshaggard, @benbp

Windows pool permission, changelog
  eng/pipelines/templates/stages/archetype-cpp-release.yml
  sdk/template/azure-template/CHANGELOG.md
Owners: @danieljurek, @weshaggard, @benbp, @LarryOsterman, @RickWinter

Increment package version after release of azure-template
  sdk/template/azure-template/CHANGELOG.md
  sdk/template/azure-template/src/private/package_version.hpp
Owners: @danieljurek, @weshaggard, @LarryOsterman, @RickWinter

Package Properties processing updates (#6477)
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

Fix fix PublishDocs
  eng/pipelines/templates/stages/archetype-cpp-release.yml
Owners: @danieljurek, @weshaggard, @benbp

Fix PublishVcpkg
  eng/pipelines/templates/stages/archetype-cpp-release.yml
Owners: @danieljurek, @weshaggard, @benbp

Increment package version after release of azure-template
  sdk/template/azure-template/CHANGELOG.md
  sdk/template/azure-template/src/private/package_version.hpp
Owners: @danieljurek, @weshaggard, @LarryOsterman, @RickWinter

Revert sdk/template changes
  sdk/template/azure-template/CHANGELOG.md
  sdk/template/azure-template/src/private/package_version.hpp
Owners: @danieljurek, @weshaggard, @LarryOsterman, @RickWinter

Removed obsolete specc-gen-sdk pipeline template (#6478)
  eng/common/pipelines/templates/stages/archetype-spec-gen-sdk.yml
Owners: @Azure/azure-sdk-eng

Pass APIView host as a parameter
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Update script to use source and head commish
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Add Fetch URI to APIView comment
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
/**                      @rickwinter @LarryOsterman

#Catch all for files at the root
/*                       @rickwinter @LarryOsterman @antkmsft @gearama
/sdk/                    @rickwinter @LarryOsterman

# Git Hub integration and bot rules
/.github/                @rickwinter @ronniegeraghty

# Samples
/samples/                @rickwinter @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @gearama
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @antkmsft
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @rickwinter @gearama @LarryOsterman @Azure/azure-sdk-write-identity

###########
# Client SDKs
###########

# AzureSdkOwners: @gearama
# ServiceLabel: %App Configuration
# PRLabel: %App Configuration
/sdk/appconfiguration/   @gearama @LarryOsterman @antkmsft @RickWinter

# ServiceOwners: @gkostal @anilba06 @ahmadmsft
# ServiceLabel: %Attestation

# PRLabel: %Attestation
/sdk/attestation/        @gkostal @anilba06 @ahmadmsft @LarryOsterman @rickwinter

# AzureSdkOwners: @LarryOsterman
# ServiceLabel: %Event Hubs
# PRLabel: %Event Hubs
/sdk/eventhubs/           @LarryOsterman @antkmsft @gearama @RickWinter

# AzureSdkOwners: @gearama
# ServiceLabel:  %KeyVault
# ServiceOwners:         @cheathamb36 @chen-karen @lgonsoulin

# PRLabel: %KeyVault
/sdk/keyvault/           @gearama @antkmsft @rickwinter @LarryOsterman

# ServiceOwners:@vinjiang @Jinming-Hu @microzchang
# ServiceLabel: %Storage

# PRLabel: %Storage
/sdk/storage/            @vinjiang @Jinming-Hu @EmmaZhu @antkmsft @gearama @LarryOsterman @microzchang

# AzureSdkOwners: @gearama
# ServiceLabel: %Tables
# PRLabel: %Tables
/sdk/tables/            @gearama @LarryOsterman @antkmsft

# AzureSdkOwners: @danieljurek
# ServiceLabel: %EngSys
# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard @LarryOsterman @RickWinter

# ServiceLabel: %Operator Nexus - Network Cloud
#/<NotInRepo>/           @Azure/azure-sdk-write-networkcloud

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/eng/common/             @Azure/azure-sdk-eng
/.github/workflows/      @Azure/azure-sdk-eng
/.github/CODEOWNERS      @rickwinter @ronniegeraghty @Azure/azure-sdk-eng

/.config/1espt/          @benbp @weshaggard
