Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @rickwinter, @ronniegeraghty, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                @jsquire @rickwinter @ronniegeraghty

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama @LarryOsterman

###########
# Client SDKs
###########

# PRLabel: %Attestation
/sdk/attestation/        @LarryOsterman @gkostal @anilba06 @kroshkina-ms @ahmadmsft @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @EmmaZhu @antkmsft @vhvb1989 @gearama @LarryOsterman @microzchang

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek

Add _internal using namespace for NullBodyStream
  sdk/core/azure-core/src/http/request.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Sync eng/common directory with azure-sdk-tools for PR 4962 (#4193)
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Owners: @danieljurek, @weshaggard, @benbp

Fix include path
  sdk/core/azure-core/src/http/request.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Add new Request ctors that accept content-type and obsolete previous ones.
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/src/http/http.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Pass in shouldBufferResponse to the main ctor.
  sdk/core/azure-core/inc/azure/core/http/http.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Try removing obsoleted methods and clang-format the files.
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base_test.cpp
  sdk/storage/azure-storage-blobs/src/rest_client.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

skeletor
  sdk/keyvault/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/NOTICE.txt
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/cgmanifest.json
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/dll_import_export.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/rtti.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-administration/vcpkg.json
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/Config.cmake.in
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/vcpkg.json
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Audit string comparisons
  samples/helpers/get-env/src/get_env.cpp
  sdk/attestation/azure-security-attestation/samples/policy-certificates/cryptohelpers.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/inc/azure/core/internal/strings.hpp
  sdk/core/azure-core/inc/azure/core/url.hpp
  sdk/core/azure-core/src/datetime.cpp
  sdk/core/azure-core/src/environment_log_level_listener.cpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/src/http/raw_response.cpp
  sdk/core/azure-core/src/http/request.cpp
  sdk/core/azure-core/src/http/url.cpp
  sdk/core/azure-core/src/http/user_agent.cpp
  sdk/core/azure-core/src/strings.cpp
  sdk/core/azure-core/src/tracing/tracing.cpp
  sdk/core/azure-core/test/ut/string_test.cpp
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_rotation_policy.cpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-common/src/shared_key_policy.cpp
  sdk/storage/azure-storage-common/test/ut/test_base.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/rest_client.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @schaabs, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

Mac fix
  sdk/core/azure-core/src/http/curl/curl.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

!isxdigit()
  sdk/core/azure-core/src/http/url.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Rewrite condition + comment
  sdk/core/azure-core/src/http/url.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

<3
  sdk/core/azure-core/src/http/url.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Clang-format
  sdk/core/azure-core/src/http/request.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

255
  sdk/core/azure-core/test/ut/string_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Allow uppercase
  sdk/core/azure-core/src/http/http.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

stoi() radix
  sdk/core/azure-core/inc/azure/core/internal/strings.hpp
  sdk/core/azure-core/src/http/url.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

ShouldEncode()
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/src/http/url.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Remove noexcept specification from Azure::DateTime::clock::now()
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/datetime.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Undo unnecessary change (my local clang-format is broken)
  sdk/core/azure-core/inc/azure/core/datetime.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

More accurate argument type for the ExtendableEnumeration == and !=
  sdk/core/azure-core/inc/azure/core/internal/extendable_enumeration.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

noexcept adjustments
  sdk/core/azure-core/inc/azure/core/nullable.hpp
  sdk/core/azure-core/inc/azure/core/operation.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Add load-testing to list of valid sample slugs (#4192)
  eng/common/scripts/Test-SampleMetadata.ps1
Owners: @danieljurek, @weshaggard, @benbp

client
  sdk/keyvault/azure-security-keyvault-administration/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/administration_client.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/administration_client_options.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/rest_client.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/administration_client.cpp
  sdk/keyvault/azure-security-keyvault-administration/src/keyvault_administration_common_request.cpp
  sdk/keyvault/azure-security-keyvault-administration/src/private/administration_constants.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/private/keyvault_administration_common_request.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/rest_client.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

PR follow-ups
  sdk/core/azure-core/CHANGELOG.md
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/inc/azure/identity/detail/token_cache.hpp
  sdk/identity/azure-identity/src/client_credential_core.cpp
  sdk/identity/azure-identity/test/ut/token_cache_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs

update pipeline generator version in the install script
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Owners: @danieljurek, @weshaggard, @benbp

Restore get-codeowners.ps1 test; update used codeowners NuGet package
  eng/common/scripts/get-codeowners.ps1
Owners: @danieljurek, @weshaggard, @benbp

delete obsolete prepare-pipelines.yml
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Owners: @danieljurek, @weshaggard, @benbp

rework
  sdk/keyvault/azure-security-keyvault-administration/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/rest_client.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/settings_client.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/settings_client_options.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/administration_client.cpp
  sdk/keyvault/azure-security-keyvault-administration/src/keyvault_settings_common_request.cpp
  sdk/keyvault/azure-security-keyvault-administration/src/private/administration_constants.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/private/keyvault_settings_common_request.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/rest_client.cpp
  sdk/keyvault/azure-security-keyvault-administration/src/settings_client.cpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/test/ut/macro_guard.cpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/settings_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/settings_client_test.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Sync eng/common directory with azure-sdk-tools for PR 4988 (#4202)
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
  eng/common/scripts/get-codeowners.ps1
Owners: @danieljurek, @weshaggard, @benbp

all works plus test
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/rest_client.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/settings_client.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/settings_client.cpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/settings_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/settings_client_test.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Bump pipeline generator to 20221220.1
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Owners: @danieljurek, @weshaggard, @benbp

Update pipeline generation yaml
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Owners: @danieljurek, @weshaggard, @benbp

Update prepare-pipelines flags
  eng/pipelines/prepare-pipelines.yml
Owners: @danieljurek, @weshaggard, @benbp

Sync eng/common directory with azure-sdk-tools for PR 4998 (#4205)
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Owners: @danieljurek, @weshaggard, @benbp

fixed tests
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
Owners: @danieljurek, @weshaggard, @benbp

Migrate from Win-2019 image to Win-2022 image
  eng/common/pipelines/templates/jobs/docindex.yml
  eng/common/pipelines/templates/jobs/perf.yml
  eng/common/scripts/job-matrix/README.md
  eng/common/scripts/job-matrix/samples/matrix.json
  eng/common/scripts/job-matrix/tests/job-matrix-functions.filter.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
Owners: @danieljurek, @weshaggard, @benbp

Update perf.yml
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @danieljurek, @weshaggard, @benbp

Sync eng/common directory with azure-sdk-tools for PR 4880 (#4203)
  eng/common/pipelines/templates/jobs/docindex.yml
  eng/common/scripts/job-matrix/README.md
  eng/common/scripts/job-matrix/samples/matrix.json
  eng/common/scripts/job-matrix/tests/job-matrix-functions.filter.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
Owners: @danieljurek, @weshaggard, @benbp

add the win2019 back
  eng/pipelines/templates/stages/platform-matrix-live.json
  eng/pipelines/templates/stages/platform-matrix.json
  eng/scripts/Get-BinarySizes.ps1
Owners: @danieljurek, @weshaggard, @benbp

Update Get-BinarySizes.ps1
  eng/scripts/Get-BinarySizes.ps1
Owners: @danieljurek, @weshaggard, @benbp
