Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama, @ronniegeraghty, @Azure/azure-sdk-write-identity, @RickWinter, @gkostal, @anilba06, @ahmadmsft, @vinjiang, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
/**                      @rickwinter @LarryOsterman

#Catch all for files at the root
/*                       @rickwinter @LarryOsterman @antkmsft @gearama
/sdk/                    @rickwinter @LarryOsterman

# Git Hub integration and bot rules
/.github/                @rickwinter @ronniegeraghty

# Samples
/samples/                @rickwinter @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @gearama
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @antkmsft
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @rickwinter @gearama @LarryOsterman @Azure/azure-sdk-write-identity

###########
# Client SDKs
###########

# AzureSdkOwners: @gearama
# ServiceLabel: %App Configuration
# PRLabel: %App Configuration
/sdk/appconfiguration/   @gearama @LarryOsterman @antkmsft @RickWinter

# ServiceOwners: @gkostal @anilba06 @ahmadmsft
# ServiceLabel: %Attestation

# PRLabel: %Attestation
/sdk/attestation/        @gkostal @anilba06 @ahmadmsft @LarryOsterman @rickwinter

# AzureSdkOwners: @LarryOsterman
# ServiceLabel: %Event Hubs
# PRLabel: %Event Hubs
/sdk/eventhubs/           @LarryOsterman @antkmsft @gearama @RickWinter

# AzureSdkOwners: @gearama
# ServiceLabel:  %KeyVault
# ServiceOwners:         @cheathamb36 @chen-karen @lgonsoulin

# PRLabel: %KeyVault
/sdk/keyvault/           @gearama @antkmsft @rickwinter @LarryOsterman

# ServiceOwners:@vinjiang @Jinming-Hu @microzchang
# ServiceLabel: %Storage

# PRLabel: %Storage
/sdk/storage/            @vinjiang @Jinming-Hu @EmmaZhu @antkmsft @gearama @LarryOsterman @microzchang

# AzureSdkOwners: @gearama
# ServiceLabel: %Tables
# PRLabel: %Tables
/sdk/tables/            @gearama @LarryOsterman @antkmsft

# AzureSdkOwners: @danieljurek
# ServiceLabel: %EngSys
# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard @LarryOsterman @RickWinter

# ServiceLabel: %Operator Nexus - Network Cloud
#/<NotInRepo>/           @Azure/azure-sdk-write-networkcloud

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/eng/common/             @Azure/azure-sdk-eng
/.github/workflows/      @Azure/azure-sdk-eng
/.github/CODEOWNERS      @rickwinter @ronniegeraghty @Azure/azure-sdk-eng

/.config/1espt/          @benbp @weshaggard

work in progress for get
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client_models.hpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client_models.cpp
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/certificate_client_test.cpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

clang
  sdk/tables/azure-data-tables/test/ut/table_client_test.cpp
Owners: @gearama, @LarryOsterman, @antkmsft

Temporary fix for the live pipeline (#6496)
  sdk/tables/azure-data-tables/test/ut/table_client_test.cpp
Owners: @gearama, @LarryOsterman, @antkmsft

Add approval script details to sync workflow doc
  eng/common/scripts/Helpers/git-helpers.ps1
Owners: @Azure/azure-sdk-eng

Add re-approval logic
  eng/common/scripts/Helpers/git-helpers.ps1
Owners: @Azure/azure-sdk-eng

Formatting
  eng/common/scripts/Helpers/git-helpers.ps1
Owners: @Azure/azure-sdk-eng

Move functions to git-helpers and resolve review to approval script
  eng/common/scripts/Delete-RemoteTag.ps1
  eng/common/scripts/Helpers/git-helpers.ps1
  eng/common/scripts/Helpers/git-helpers.tests.ps1
Owners: @Azure/azure-sdk-eng

Fix up warnings/unused variables
  eng/common/scripts/Helpers/git-helpers.ps1
Owners: @Azure/azure-sdk-eng

get and get version
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client_models.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/generated/key_vault_client.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

das
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
  sdk/core/azure-core/src/http/transport_policy.cpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Sync eng/common directory with azure-sdk-tools for PR 10134 (#6489)
  eng/common/scripts/Delete-RemoteTag.ps1
  eng/common/scripts/Helpers/git-helpers.ps1
  eng/common/scripts/Helpers/git-helpers.tests.ps1
Owners: @Azure/azure-sdk-eng

Update APIView Helpers
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Remove g++-8, not present in Ubuntu 22
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

Update clang-11 job to Ubuntu 22
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

Move live testing matrix to Ubuntu 22
  eng/pipelines/templates/stages/platform-matrix-live.json
Owners: @danieljurek, @weshaggard, @benbp

image.yml: Linux Next -> Linux
  eng/pipelines/templates/variables/image.yml
Owners: @danieljurek, @weshaggard, @benbp

"release" differentiator
  eng/pipelines/templates/stages/platform-matrix-live.json
Owners: @danieljurek, @weshaggard, @benbp

LINUXNEXT -> LINUX
  eng/pipelines/templates/stages/platform-matrix-cmakegenerate.json
  eng/pipelines/templates/stages/platform-matrix-cmakesourcegenerate.json
  eng/pipelines/templates/stages/platform-matrix-live.json
  eng/pipelines/templates/stages/platform-matrix-quick.json
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

Deduplicate Ubuntu 22 in live matrix
  eng/pipelines/templates/stages/platform-matrix-live.json
Owners: @danieljurek, @weshaggard, @benbp

Trivial change to trigger CI
  sdk/template/azure-template/README.md
Owners: @danieljurek, @weshaggard, @LarryOsterman, @RickWinter

issuer ops
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client_models.hpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client_models.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Update logging functions for github actions
  eng/common/scripts/logging.ps1
Owners: @Azure/azure-sdk-eng

set/get/delete contacts
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client_models.hpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client_models.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Add env var skip for matrix debug. Add acceptance test tag
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Owners: @Azure/azure-sdk-eng

backup restore
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Add handling to stress deploy script to tell users when they lack TME group permissions
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @Azure/azure-sdk-eng

Get /update policy
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client_models.hpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client_models.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

purge
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

updatingpreteststeps
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Owners: @Azure/azure-sdk-eng

we need to ensure that this thing is an array
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

need to include the aztemplate package by default if necessary
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

pull across necessary changes to Artifact handling that MUST be made to enable go to actually match some packages during checks
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

we cannot assume that there are always artifactdetails initially set. on js specifically artifactname isn't populated yet
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

Update logging functions for github actions (#6499)
  eng/common/scripts/logging.ps1
Owners: @Azure/azure-sdk-eng

get deleted
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client_models.hpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client_models.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Update APIView Helpers (#6500)
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10038 (#6494)
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

Update props
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client_models.hpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client_models.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Merge cert
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client_models.hpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client_models.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

import cert
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client_models.hpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client_models.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman
