Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama, @ronniegeraghty, @Azure/azure-sdk-write-identity, @RickWinter, @gkostal, @anilba06, @ahmadmsft, @vinjiang, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

Increment package version after release of azure-security-keyvault-certificates
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/src/private/package_version.hpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Increment package version after release of azure-security-keyvault-certificates (#6562)
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/src/private/package_version.hpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

cspell: Remove node version requirement, node is already on the agent
  eng/common/pipelines/templates/steps/check-spelling.yml
Owners: @Azure/azure-sdk-eng

Succeeded
  eng/common/pipelines/templates/steps/check-spelling.yml
Owners: @Azure/azure-sdk-eng

deploy the proxy with human-readable multipart output (#6551)
  eng/common/testproxy/target_version.txt
Owners: @Azure/azure-sdk-eng

Storage STG98 Features (#6501)
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/rest_client.cpp
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-blobs/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_client_test.cpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Address PR comments
  sdk/core/azure-core/inc/azure/core/http/curl_transport.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/test/ut/curl_options_test.cpp
  sdk/core/ci.yml
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Update changelog and CI line coverage target
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/ci.yml
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Auto-generated docs from SHA(s) c9f07f138922febcfcff73624e1d118f9c4ba9f1
  CONTRIBUTING.html
  attestation.html
  eventhubs.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  identity.html
  index.html
  keyvault.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  tables.html
  toc.html
  xrefmap.yml
Owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama

Update version and change log
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/vcpkg.json
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/vcpkg.json
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Apply suggestions from code review
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

Improve logging for package detection for pullrequests
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

Update Changelog and set curl options test to disable ssl caching for validating non-default codepath
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/test/ut/curl_options_test.cpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

update from azsdk-cli -> azsdk
  eng/common/mcp/azure-sdk-mcp.ps1
Owners: @Azure/azure-sdk-eng

Update version
  sdk/storage/azure-storage-blobs/vcpkg.json
  sdk/storage/azure-storage-files-shares/vcpkg.json
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Pass -Force for . hidden files on non-Windows
  eng/common/TestResources/Remove-TestResources.ps1
Owners: @Azure/azure-sdk-eng

Support writing .env files from Test Resources
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/TestResources-Helpers.ps1
  eng/common/scripts/common.ps1
Owners: @Azure/azure-sdk-eng

Resolve PR feedback
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
Owners: @Azure/azure-sdk-eng

Improve link checking for github links
  eng/common/scripts/Verify-Links.ps1
Owners: @Azure/azure-sdk-eng

ps relative path
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

simplify tag branch
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

trim publish to npm
  eng/common/scripts/Publish-to-Npm.ps1
Owners: @Azure/azure-sdk-eng

generalize the github link for comparison
  eng/common/scripts/Publish-to-Npm.ps1
Owners: @Azure/azure-sdk-eng

Add in default without tag
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

special case for tag
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

quotation
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

single quotes
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

testing for tag provided
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

cleanup artifact name sanitation
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

single
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

add top level artifact name
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

trim publish to npm even more
  eng/common/scripts/Publish-to-Npm.ps1
Owners: @Azure/azure-sdk-eng

add npm publish pipeline files
  eng/common/pipelines/templates/jobs/npm-release-task.yml
  eng/common/scripts/Publish-to-Npm.ps1
  eng/common/scripts/Verify-Npm-Tags.ps1
Owners: @Azure/azure-sdk-eng

pass tags to next job
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

remove pre-publish job
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

pass tags to next job
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10579 (#6564)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/TestResources-Helpers.ps1
  eng/common/scripts/common.ps1
Owners: @Azure/azure-sdk-eng

Improve link checking for github links
  eng/common/scripts/Verify-Links.ps1
Owners: @Azure/azure-sdk-eng

Add default clone path to the link checker template
  eng/common/pipelines/templates/steps/verify-links.yml
Owners: @Azure/azure-sdk-eng

trim publish to npm
  eng/common/scripts/Publish-to-Npm.ps1
Owners: @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
/**                      @rickwinter @LarryOsterman

#Catch all for files at the root
/*                       @rickwinter @LarryOsterman @antkmsft @gearama
/sdk/                    @rickwinter @LarryOsterman

# Git Hub integration and bot rules
/.github/                @rickwinter @ronniegeraghty

# Samples
/samples/                @rickwinter @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @gearama
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @antkmsft
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @rickwinter @gearama @LarryOsterman @Azure/azure-sdk-write-identity

###########
# Client SDKs
###########

# AzureSdkOwners: @gearama
# ServiceLabel: %App Configuration
# PRLabel: %App Configuration
/sdk/appconfiguration/   @gearama @LarryOsterman @antkmsft @RickWinter

# ServiceOwners: @gkostal @anilba06 @ahmadmsft
# ServiceLabel: %Attestation

# PRLabel: %Attestation
/sdk/attestation/        @gkostal @anilba06 @ahmadmsft @LarryOsterman @rickwinter

# AzureSdkOwners: @LarryOsterman
# ServiceLabel: %Event Hubs
# PRLabel: %Event Hubs
/sdk/eventhubs/           @LarryOsterman @antkmsft @gearama @RickWinter

# AzureSdkOwners: @gearama
# ServiceLabel:  %KeyVault
# ServiceOwners:         @cheathamb36 @chen-karen @lgonsoulin

# PRLabel: %KeyVault
/sdk/keyvault/           @gearama @antkmsft @rickwinter @LarryOsterman

# ServiceOwners:@vinjiang @Jinming-Hu @microzchang
# ServiceLabel: %Storage

# PRLabel: %Storage
/sdk/storage/            @vinjiang @Jinming-Hu @EmmaZhu @antkmsft @gearama @LarryOsterman @microzchang

# AzureSdkOwners: @gearama
# ServiceLabel: %Tables
# PRLabel: %Tables
/sdk/tables/            @gearama @LarryOsterman @antkmsft

# AzureSdkOwners: @danieljurek
# ServiceLabel: %EngSys
# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard @LarryOsterman @RickWinter

# ServiceLabel: %Operator Nexus - Network Cloud
#/<NotInRepo>/           @Azure/azure-sdk-write-networkcloud

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/eng/common/             @Azure/azure-sdk-eng
/.github/workflows/      @Azure/azure-sdk-eng
/.github/CODEOWNERS      @rickwinter @ronniegeraghty @Azure/azure-sdk-eng

/.config/1espt/          @benbp @weshaggard
