Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama, @ronniegeraghty, @Azure/azure-sdk-write-identity, @RickWinter, @gkostal, @anilba06, @ahmadmsft, @vinjiang, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
/**                      @rickwinter @LarryOsterman

#Catch all for files at the root
/*                       @rickwinter @LarryOsterman @antkmsft @gearama
/sdk/                    @rickwinter @LarryOsterman

# Git Hub integration and bot rules
/.github/                @rickwinter @ronniegeraghty

# Samples
/samples/                @rickwinter @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @gearama
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @antkmsft
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @rickwinter @gearama @LarryOsterman @Azure/azure-sdk-write-identity

###########
# Client SDKs
###########

# AzureSdkOwners: @gearama
# ServiceLabel: %App Configuration
# PRLabel: %App Configuration
/sdk/appconfiguration/   @gearama @LarryOsterman @antkmsft @RickWinter

# ServiceOwners: @gkostal @anilba06 @ahmadmsft
# ServiceLabel: %Attestation

# PRLabel: %Attestation
/sdk/attestation/        @gkostal @anilba06 @ahmadmsft @LarryOsterman @rickwinter

# AzureSdkOwners: @LarryOsterman
# ServiceLabel: %Event Hubs
# PRLabel: %Event Hubs
/sdk/eventhubs/           @LarryOsterman @antkmsft @gearama @RickWinter

# AzureSdkOwners: @gearama
# ServiceLabel:  %KeyVault
# ServiceOwners:         @cheathamb36 @chen-karen @lgonsoulin

# PRLabel: %KeyVault
/sdk/keyvault/           @gearama @antkmsft @rickwinter @LarryOsterman

# ServiceOwners:@vinjiang @Jinming-Hu @microzchang
# ServiceLabel: %Storage

# PRLabel: %Storage
/sdk/storage/            @vinjiang @Jinming-Hu @EmmaZhu @antkmsft @gearama @LarryOsterman @microzchang

# AzureSdkOwners: @gearama
# ServiceLabel: %Tables
# PRLabel: %Tables
/sdk/tables/            @gearama @LarryOsterman @antkmsft

# AzureSdkOwners: @danieljurek
# ServiceLabel: %EngSys
# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard @LarryOsterman @RickWinter

# ServiceLabel: %Operator Nexus - Network Cloud
#/<NotInRepo>/           @Azure/azure-sdk-write-networkcloud

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/eng/common/             @Azure/azure-sdk-eng
/.github/workflows/      @Azure/azure-sdk-eng
/.github/CODEOWNERS      @rickwinter @ronniegeraghty @Azure/azure-sdk-eng

/.config/1espt/          @benbp @weshaggard

Update sdk/keyvault/azure-security-keyvault-certificates/test/ut/certificate_client_test.cpp
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/certificate_client_test.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

comments
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/certificate_client_test.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Initialize azure sdk MCP conventions/automation
  eng/common/mcp/README.md
  eng/common/mcp/azure-sdk-mcp-runner.ps1
Owners: @Azure/azure-sdk-eng

Add example mcp server config
  eng/common/mcp/mcp-servers-example.json
Owners: @Azure/azure-sdk-eng

get set acl oauth (#6405)
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_client_test.cpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Storage STG98/Added support for x-ms-file-request-intent for blob copy APIs (#6406)
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/rest_client.cpp
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-blobs/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Storage STG98/NFS 2 (#6404)
  sdk/storage/assets.json
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Update blob sas new string to sign
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Update blob sas new string to sign (#6511)
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Add env var skip for matrix debug. Add acceptance test tag (#6512)
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Owners: @Azure/azure-sdk-eng

explicitly turn off
  sdk/keyvault/azure-security-keyvault-certificates/CMakeLists.txt
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

friend comments
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client_models.hpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

clang
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client_models.hpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Certs update (#6507)
  .vscode/cspell.json
  sdk/keyvault/assets.json
  sdk/keyvault/azure-security-keyvault-certificates/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client.hpp
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client_models.hpp
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate-basic-operations/certificate_basic_operations.cpp
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate-get-certificates/certificate_get_certificates.cpp
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate-import-certificate/certificate_import_certificate.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client_models.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client_operations.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client_paged_response.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_serializers.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/generated/certificates.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/generated/certificates_models.hpp
  sdk/keyvault/azure-security-keyvault-certificates/src/generated/get_certificate_issuers_paged_response.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/generated/get_certificate_versions_paged_response.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/generated/get_certificates_paged_response.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/generated/get_deleted_certificates_paged_response.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/generated/key_vault_client.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/generated/key_vault_client.hpp
  sdk/keyvault/azure-security-keyvault-certificates/src/generated/key_vault_client_options.hpp
  sdk/keyvault/azure-security-keyvault-certificates/src/generated/key_vault_client_paged_responses.hpp
  sdk/keyvault/azure-security-keyvault-certificates/src/private/certificate_serializers.hpp
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/certificate_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/certificate_client_test.cpp
  sdk/keyvault/azure-security-keyvault-certificates/tsp-location.yaml
  sdk/keyvault/azure-security-keyvault-certificates/tspconfig.yaml
  sdk/keyvault/ci.yml
Owners: @rickwinter, @LarryOsterman, @gearama, @antkmsft

Revert "Trivial change to trigger CI"
  sdk/template/azure-template/README.md
Owners: @danieljurek, @weshaggard, @LarryOsterman, @RickWinter

a better solution is to climb up the directory path to find the relevant service directory. due to IRL commitments I can't do that solution right now. when I return on the 14th
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

Kv april releases (#6508)
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/src/private/package_version.hpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Ubuntu 20 -> Ubuntu 22 migration (#6498)
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/stages/platform-matrix-cmakegenerate.json
  eng/pipelines/templates/stages/platform-matrix-cmakesourcegenerate.json
  eng/pipelines/templates/stages/platform-matrix-live.json
  eng/pipelines/templates/stages/platform-matrix-quick.json
  eng/pipelines/templates/stages/platform-matrix.json
  eng/pipelines/templates/variables/image.yml
Owners: @danieljurek, @weshaggard, @benbp

Allow eng/ based packages to parse ci.yml (#6514)
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

Identity April GA Release (#6504)
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Increment package version after release of azure-security-keyvault-keys
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/src/private/package_version.hpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Update Identity live test
  sdk/identity/azure-identity/test/ut/azure_pipelines_credential_test.cpp
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Clang-format
  sdk/identity/azure-identity/test/ut/azure_pipelines_credential_test.cpp
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Increment package version after release of azure-security-keyvault-secrets
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/src/private/package_version.hpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Increment package version after release of azure-security-keyvault-certificates
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/src/private/package_version.hpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Update Identity live test (#6516)
  sdk/identity/azure-identity/test/ut/azure_pipelines_credential_test.cpp
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Increment version for keyvault releases (#6515)
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/src/private/package_version.hpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Increment package version after release of azure-identity
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Certs stage1
  sdk/keyvault/azure-security-keyvault-certificates/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/keyvault_certificates_common_request.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/private/certificate_constants.hpp
  sdk/keyvault/azure-security-keyvault-certificates/src/private/keyvault_certificates_common_request.hpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Increment package version after release of azure-identity (#6517)
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

keys part 1
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/src/delete_key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/deleted_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/import_key_options.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/json_web_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_backup.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_paged_responses.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_get_random_bytes.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_release_options.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_release_policy.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_request_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_rotation_policy.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/keyvault_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_backup.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_constants.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_request_parameters.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_serializers.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/recover_deleted_key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_delete_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_rotation_policy_test_live.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

screts part 1
  sdk/keyvault/azure-security-keyvault-secrets/src/private/secret_constants.hpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Use tsp-client in emitter CI
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Check path
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

include arg
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

remove lock scirpt
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Keys part2
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_rotation_policy_test_live.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

keys step3
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_rotation_policy_test_live.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

QFT
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_rotation_policy_test_live.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

clang
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_constants.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_delete_test_live.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/private/secret_constants.hpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman
