Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @rickwinter, @ronniegeraghty, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                @jsquire @rickwinter @ronniegeraghty

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama @LarryOsterman

###########
# Client SDKs
###########

# PRLabel: %Attestation
/sdk/attestation/        @LarryOsterman @gkostal @anilba06 @kroshkina-ms @ahmadmsft @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @EmmaZhu @antkmsft @vhvb1989 @gearama @LarryOsterman @microzchang

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek

remove core install of test proxy
  sdk/core/ci.yml
Owners: @danieljurek

Add hackfix for older Curl version
  sdk/core/azure-core/src/http/curl/curl.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

AzureCliCredential
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/identity/azure-identity/inc/azure/identity/azure_cli_credential.hpp
  sdk/identity/azure-identity/samples/azure_cli_credential.cpp
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/identity/azure-identity/src/managed_identity_source.cpp
  sdk/identity/azure-identity/src/private/process_helper.hpp
  sdk/identity/azure-identity/src/private/token_credential_impl.hpp
  sdk/identity/azure-identity/src/process_helper.cpp
  sdk/identity/azure-identity/src/token_credential_impl.cpp
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Unnecessary change
  sdk/identity/azure-identity/src/managed_identity_source.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Unnecessary change
  sdk/identity/azure-identity/src/private/token_parser.hpp
  sdk/identity/azure-identity/src/token_parser.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

cspell
  sdk/identity/azure-identity/inc/azure/identity/azure_cli_credential.hpp
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/identity/azure-identity/src/token_credential_impl.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Better test ordering
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

ll
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Clang
  sdk/identity/azure-identity/inc/azure/identity/azure_cli_credential.hpp
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/identity/azure-identity/src/token_credential_impl.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Warnings
  sdk/identity/azure-identity/src/token_credential_impl.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Type
  sdk/identity/azure-identity/src/token_credential_impl.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

lcov
  sdk/identity/azure-identity/src/token_credential_impl.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

_LIVEONLY_ tests
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Unit test fixes
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

clang install when needed
  eng/pipelines/templates/jobs/ci.tests.yml
  sdk/storage/azure-storage-common/test/ut/test_base.cpp
Owners: @danieljurek, @weshaggard, @benbp, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

logs on condition
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

skip tests
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/azure-core-test/src/test_base.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

remove = {}
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

}
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

revert cpp to original version
  sdk/storage/azure-storage-common/test/ut/test_base.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

more fixes
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Next portion of fixes
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

quick test
  eng/pipelines/templates/jobs/ci.tests.yml
  sdk/storage/ci.yml
Owners: @danieljurek, @weshaggard, @benbp

array => vector (GCC fix)
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Terminating character
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

right that one
  eng/pipelines/templates/jobs/ci.tests.yml
  sdk/storage/ci.yml
Owners: @danieljurek, @weshaggard, @benbp

Use same CustomCondition as success task
  eng/common/pipelines/templates/steps/publish-artifact.yml
Owners: @danieljurek, @weshaggard, @benbp

one skip
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Unit test fixes
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/identity/azure-identity/src/token_credential_impl.cpp
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Mac fix
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

m_fd init
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Correction for ThrowInt
  sdk/identity/azure-identity/test/ut/token_credential_impl_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

clang format
  sdk/identity/azure-identity/test/ut/token_credential_impl_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

WNOHANG?
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

POSIX: don't wait for pid
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Diagnostic messages for POSIX
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

More diagnostics for POSIX
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Try not destroying actions
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Diagnose process destruction
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

MOre diag
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman
