Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama, @ronniegeraghty, @Azure/azure-sdk-write-identity, @RickWinter, @gkostal, @anilba06, @ahmadmsft, @vinjiang, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
/**                      @rickwinter @LarryOsterman

#Catch all for files at the root
/*                       @rickwinter @LarryOsterman @antkmsft @gearama
/sdk/                    @rickwinter @LarryOsterman

# Git Hub integration and bot rules
/.github/                @rickwinter @ronniegeraghty

# Samples
/samples/                @rickwinter @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @gearama
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @antkmsft
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @rickwinter @gearama @LarryOsterman @Azure/azure-sdk-write-identity

###########
# Client SDKs
###########

# AzureSdkOwners: @gearama
# ServiceLabel: %App Configuration
# PRLabel: %App Configuration
/sdk/appconfiguration/   @gearama @LarryOsterman @antkmsft @RickWinter

# ServiceOwners: @gkostal @anilba06 @ahmadmsft
# ServiceLabel: %Attestation

# PRLabel: %Attestation
/sdk/attestation/        @gkostal @anilba06 @ahmadmsft @LarryOsterman @rickwinter

# AzureSdkOwners: @LarryOsterman
# ServiceLabel: %Event Hubs
# PRLabel: %Event Hubs
/sdk/eventhubs/           @LarryOsterman @antkmsft @gearama @RickWinter

# AzureSdkOwners: @gearama
# ServiceLabel:  %KeyVault
# ServiceOwners:         @cheathamb36 @chen-karen @lgonsoulin

# PRLabel: %KeyVault
/sdk/keyvault/           @gearama @antkmsft @rickwinter @LarryOsterman

# ServiceOwners:@vinjiang @Jinming-Hu @microzchang
# ServiceLabel: %Storage

# PRLabel: %Storage
/sdk/storage/            @vinjiang @Jinming-Hu @EmmaZhu @antkmsft @gearama @LarryOsterman @microzchang

# AzureSdkOwners: @gearama
# ServiceLabel: %Tables
# PRLabel: %Tables
/sdk/tables/            @gearama @LarryOsterman @antkmsft

# AzureSdkOwners: @danieljurek
# ServiceLabel: %EngSys
# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard @LarryOsterman @RickWinter

# ServiceLabel: %Operator Nexus - Network Cloud
#/<NotInRepo>/           @Azure/azure-sdk-write-networkcloud

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/eng/common/             @Azure/azure-sdk-eng
/.github/workflows/      @Azure/azure-sdk-eng
/.github/CODEOWNERS      @rickwinter @ronniegeraghty @Azure/azure-sdk-eng

/.config/1espt/          @benbp @weshaggard

Clang-format
  sdk/identity/azure-identity/test/ut/default_azure_credential_test.cpp
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Identity: IMDS fail-fast and Cred order change in DAC (and Core support)
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_pool_private.hpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/src/http/winhttp/private/win_http_transport_impl.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/default_azure_credential.cpp
  sdk/identity/azure-identity/src/managed_identity_source.cpp
  sdk/identity/azure-identity/src/private/managed_identity_source.hpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Mac fix and cspell update
  .vscode/cspell.json
  sdk/identity/azure-identity/src/managed_identity_source.cpp
  sdk/identity/azure-identity/src/private/managed_identity_source.hpp
Owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama, @Azure/azure-sdk-write-identity

Revert samples back to use DAC
  sdk/attestation/azure-security-attestation/samples/basic-operations/create_admin_client.cpp
  sdk/attestation/azure-security-attestation/samples/policy-certificates/add_policy_certificate.cpp
  sdk/attestation/azure-security-attestation/samples/policy-certificates/get_policy_certificates.cpp
  sdk/attestation/azure-security-attestation/samples/policy/get_policy.cpp
  sdk/attestation/azure-security-attestation/samples/policy/reset_policy.cpp
  sdk/attestation/azure-security-attestation/samples/policy/reset_sealed_policy.cpp
  sdk/attestation/azure-security-attestation/samples/policy/set_policy.cpp
  sdk/attestation/azure-security-attestation/samples/policy/set_sealed_policy.cpp
  sdk/eventhubs/azure-messaging-eventhubs/samples/basic-operations/create_consumer_aad.cpp
  sdk/eventhubs/azure-messaging-eventhubs/samples/basic-operations/create_producer_aad.cpp
  sdk/eventhubs/azure-messaging-eventhubs/samples/consume-events/consume_events_aad.cpp
  sdk/eventhubs/azure-messaging-eventhubs/samples/produce-events/produce_events_aad.cpp
  sdk/keyvault/azure-security-keyvault-administration/samples/sample1-basic-operations/sample1_administration.cpp
  sdk/keyvault/azure-security-keyvault-administration/samples/sample2-full-backup-restore/sample2_full_backup_restore.cpp
  sdk/keyvault/azure-security-keyvault-administration/samples/sample3-backup-selective-restore/sample3_backup_selective_restore.cpp
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate-basic-operations/certificate_basic_operations.cpp
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate-get-certificates/certificate_get_certificates.cpp
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate-import-certificate/certificate_import_certificate.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample1-hello-world/sample1_hello_world.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample2-backup-and-restore/sample2_backup_and_restore.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample3-get-keys/sample3_get_keys.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample4-encrypt-decrypt/sample4_encrypt_decrypt.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample5-sign-verify/sample5_sign_verify.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample6-wrap-unwrap/sample6_wrap_unwrap.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample7-key-rotation/sample7_key_rotation.cpp
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample1-basic-operations/sample1_basic_operations.cpp
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample2-backup-restore/sample2_backup_restore.cpp
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample3-delete-recover/sample3_delete_recover.cpp
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample4-get-secrets-deleted/sample4_get_secrets_deleted.cpp
  sdk/tables/azure-data-tables/samples/tables_entity_operations.cpp
  sdk/tables/azure-data-tables/samples/tables_getting_started.cpp
  sdk/tables/azure-data-tables/samples/tables_service_operations.cpp
  sdk/tables/azure-data-tables/samples/tables_transactions_fail.cpp
  sdk/tables/azure-data-tables/samples/tables_transactions_ok.cpp
Owners: @gkostal, @anilba06, @ahmadmsft, @LarryOsterman, @rickwinter, @antkmsft, @gearama, @RickWinter

Temporarily update samples to use AzCliCred until recordings are re-recorded
  sdk/attestation/azure-security-attestation/samples/basic-operations/create_admin_client.cpp
  sdk/attestation/azure-security-attestation/samples/policy-certificates/add_policy_certificate.cpp
  sdk/attestation/azure-security-attestation/samples/policy-certificates/get_policy_certificates.cpp
  sdk/attestation/azure-security-attestation/samples/policy/get_policy.cpp
  sdk/attestation/azure-security-attestation/samples/policy/reset_policy.cpp
  sdk/attestation/azure-security-attestation/samples/policy/reset_sealed_policy.cpp
  sdk/attestation/azure-security-attestation/samples/policy/set_policy.cpp
  sdk/attestation/azure-security-attestation/samples/policy/set_sealed_policy.cpp
  sdk/eventhubs/azure-messaging-eventhubs/samples/basic-operations/create_consumer_aad.cpp
  sdk/eventhubs/azure-messaging-eventhubs/samples/basic-operations/create_producer_aad.cpp
  sdk/eventhubs/azure-messaging-eventhubs/samples/consume-events/consume_events_aad.cpp
  sdk/eventhubs/azure-messaging-eventhubs/samples/produce-events/produce_events_aad.cpp
  sdk/keyvault/azure-security-keyvault-administration/samples/sample1-basic-operations/sample1_administration.cpp
  sdk/keyvault/azure-security-keyvault-administration/samples/sample2-full-backup-restore/sample2_full_backup_restore.cpp
  sdk/keyvault/azure-security-keyvault-administration/samples/sample3-backup-selective-restore/sample3_backup_selective_restore.cpp
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate-basic-operations/certificate_basic_operations.cpp
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate-get-certificates/certificate_get_certificates.cpp
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate-import-certificate/certificate_import_certificate.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample1-hello-world/sample1_hello_world.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample2-backup-and-restore/sample2_backup_and_restore.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample3-get-keys/sample3_get_keys.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample4-encrypt-decrypt/sample4_encrypt_decrypt.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample5-sign-verify/sample5_sign_verify.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample6-wrap-unwrap/sample6_wrap_unwrap.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample7-key-rotation/sample7_key_rotation.cpp
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample1-basic-operations/sample1_basic_operations.cpp
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample2-backup-restore/sample2_backup_restore.cpp
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample3-delete-recover/sample3_delete_recover.cpp
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample4-get-secrets-deleted/sample4_get_secrets_deleted.cpp
  sdk/tables/azure-data-tables/samples/tables_entity_operations.cpp
  sdk/tables/azure-data-tables/samples/tables_getting_started.cpp
  sdk/tables/azure-data-tables/samples/tables_service_operations.cpp
  sdk/tables/azure-data-tables/samples/tables_transactions_fail.cpp
  sdk/tables/azure-data-tables/samples/tables_transactions_ok.cpp
Owners: @gkostal, @anilba06, @ahmadmsft, @LarryOsterman, @rickwinter, @antkmsft, @gearama, @RickWinter

Update unit test and clang-format
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/identity/azure-identity/test/ut/default_azure_credential_test.cpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Update sdk/identity/azure-identity/src/default_azure_credential.cpp
  sdk/identity/azure-identity/src/default_azure_credential.cpp
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Update sdk/identity/azure-identity/src/default_azure_credential.cpp
  sdk/identity/azure-identity/src/default_azure_credential.cpp
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Fix broken link in azsdk mcp server readme
  eng/common/mcp/README.md
Owners: @Azure/azure-sdk-eng

Update eng/common/mcp/README.md
  eng/common/mcp/README.md
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10733 (#6594)
  eng/common/mcp/README.md
Owners: @Azure/azure-sdk-eng

Add common npm publishing template
  eng/common/pipelines/templates/jobs/npm-publish.yml
Owners: @Azure/azure-sdk-eng

update generation pipeline so that we don't generate CI pipelines anymore. go - pullrequest exists.
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) 03c4e1296066a773132b325aea8c5511b8041586
  CONTRIBUTING.html
  attestation.html
  eventhubs.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  identity.html
  index.html
  keyvault.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  tables.html
  toc.html
  xrefmap.yml
Owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama

Sync eng/common directory with azure-sdk-tools for PR 10736 (#6595)
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Owners: @Azure/azure-sdk-eng

Update sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/CHANGELOG.md
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

TrimString()
  sdk/identity/azure-identity/src/default_azure_credential.cpp
  sdk/identity/azure-identity/test/ut/default_azure_credential_test.cpp
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Test against contains() or startsWith() being used
  sdk/identity/azure-identity/test/ut/default_azure_credential_test.cpp
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Update sdk/identity/azure-identity/src/default_azure_credential.cpp
  sdk/identity/azure-identity/src/default_azure_credential.cpp
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Add common npm publishing template
  eng/common/pipelines/templates/jobs/npm-publish.yml
Owners: @Azure/azure-sdk-eng

Make sure we print env vars for JSON ARM templates
  eng/common/TestResources/TestResources-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Added cargo.lock file to repo
  Cargo.lock
Owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama

TrimString() => StringExtensions::Trim()
  sdk/core/azure-core/inc/azure/core/internal/strings.hpp
  sdk/core/azure-core/src/http/user_agent.cpp
  sdk/identity/azure-identity/src/default_azure_credential.cpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Added cargo.lock file to repo (#6597)
  Cargo.lock
Owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama

Update Event Processor to condition login
  .github/workflows/event-processor.yml
Owners: @Azure/azure-sdk-eng

Add common npm publishing template (#6596)
  eng/common/pipelines/templates/jobs/npm-publish.yml
Owners: @Azure/azure-sdk-eng

Implement AZURE_TOKEN_CREDENTIALS (#6593)
  sdk/core/azure-core/inc/azure/core/internal/strings.hpp
  sdk/core/azure-core/src/http/user_agent.cpp
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/default_azure_credential.cpp
  sdk/identity/azure-identity/test/ut/default_azure_credential_test.cpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Remove SAS auth from Tables template
  sdk/tables/test-resources.json
Owners: @gearama, @LarryOsterman, @antkmsft

Clang-format
  sdk/identity/azure-identity/test/ut/default_azure_credential_test.cpp
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Use CodeFile for pushing Python APIView
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Update Event Processor to condition login (#6600)
  .github/workflows/event-processor.yml
Owners: @Azure/azure-sdk-eng

Specify run directory as repo root for mcp runner
  eng/common/mcp/azure-sdk-mcp.ps1
Owners: @Azure/azure-sdk-eng

Update APIView Endpoint to use API COntrollers (#6601)
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

fix checkout
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Add support for 'AZURE_POD_IDENTITY_AUTHORITY_HOST', override it for running samples in CI
  eng/pipelines/templates/jobs/live.tests.yml
  sdk/identity/azure-identity/src/managed_identity_source.cpp
Owners: @danieljurek, @weshaggard, @benbp, @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

fix checkout (#6603)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Add unit test for AZURE_POD_IDENTITY_AUTHORITY_HOST
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/managed_identity_source.cpp
  sdk/identity/azure-identity/src/private/managed_identity_source.hpp
  sdk/identity/azure-identity/test/ut/managed_identity_credential_test.cpp
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Auto-generated docs from SHA(s) 0e04dd0c630054f58d7d0a6d34cefdf1fe47d01a
  CONTRIBUTING.html
  attestation.html
  eventhubs.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  identity.html
  index.html
  keyvault.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  tables.html
  toc.html
  xrefmap.yml
Owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama

"in milliseconds"
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

PR Feedback
  samples/helpers/service/src/client.cpp
  sdk/core/azure-core/inc/azure/core/http/transport.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_pool_private.hpp
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/identity/azure-identity/src/default_azure_credential.cpp
  sdk/identity/azure-identity/src/managed_identity_source.cpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity
