Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @LarryOsterman, @ahsonkhan, @antkmsft, @gearama, @schaabs, @Azure/azure-sdk-write-identity, @gkostal, @anilba06, @ahmadmsft, @RickWinter, @vinjiang, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

Update remove-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Owners: @Azure/azure-sdk-eng

update macos image from 11 to latest
  eng/pipelines/templates/stages/platform-matrix-live.json
  eng/pipelines/templates/stages/platform-matrix.json
  eng/pipelines/templates/variables/image.yml
Owners: @danieljurek, @weshaggard, @benbp

Update eng/pipelines/templates/stages/platform-matrix.json
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

Sync eng/common directory with azure-sdk-tools for PR 8457 (#5722)
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
  eng/common/pipelines/templates/steps/run-pester-tests.yml
Owners: @Azure/azure-sdk-eng

Comment out unused variable
  sdk/eventhubs/azure-messaging-eventhubs/test/perf/inc/azure/messaging/eventhubs/test/eventhubs_batch_perf_test.hpp
Owners: @LarryOsterman, @antkmsft, @ahsonkhan, @gearama, @RickWinter

Update eventhubs_batch_perf_test.hpp
  sdk/eventhubs/azure-messaging-eventhubs/test/perf/inc/azure/messaging/eventhubs/test/eventhubs_batch_perf_test.hpp
Owners: @LarryOsterman, @antkmsft, @ahsonkhan, @gearama, @RickWinter

Pass pipeline vnet to live test arm templates
  eng/common/TestResources/New-TestResources.ps1
Owners: @Azure/azure-sdk-eng

Pass pipeline vnet to live test arm templates (#5724)
  eng/common/TestResources/New-TestResources.ps1
Owners: @Azure/azure-sdk-eng

Fix case where changelog wasn't marked as invalid
  eng/common/scripts/ChangeLog-Operations.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 8422 (#5712)
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/sub-config/AzurePublicMsft.json
Owners: @Azure/azure-sdk-eng

Add queue role assignments
  sdk/storage/test-resources.json
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

clang-format
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_system_client_test.hpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_path_client_test.hpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_service_client_test.hpp
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.hpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.hpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

fix build error
  sdk/storage/azure-storage-files-shares/test/ut/share_service_client_test.cpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

playback cases
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Update publish template
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Owners: @Azure/azure-sdk-eng

first build pass
  sdk/keyvault/azure-security-keyvault-administration/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/backup_restore_client.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/backup_restore_client.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Update publish template (#5727)
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Owners: @Azure/azure-sdk-eng

move models
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/backup_restore_client.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/rest_client_models.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/backup_restore_client.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Fix case where changelog wasn't marked as invalid (#5726)
  eng/common/scripts/ChangeLog-Operations.ps1
Owners: @Azure/azure-sdk-eng

limit to run actual test in tool repo
  .github/workflows/js-sdk-release-tool-pull-request-check.yml
Owners: @rickwinter, @LarryOsterman

add to workflow
  .github/workflows/js-sdk-release-tool-pull-request-check.yml
Owners: @rickwinter, @LarryOsterman

fix working dir
  .github/workflows/js-sdk-release-tool-pull-request-check.yml
Owners: @rickwinter, @LarryOsterman

add github action
  .github/workflows/js-sdk-release-tool-pull-request-check.yml
Owners: @rickwinter, @LarryOsterman

Add switch
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.hpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-common/test/ut/test_base.hpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_service_client_test.hpp
  sdk/storage/azure-storage-files-shares/test/ut/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_service_client_test.hpp
  sdk/storage/azure-storage-queues/test/ut/queue_client_test.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_service_client_test.cpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

update recording
  sdk/storage/assets.json
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Add BackupRestoreClient with tests and options
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/backup_restore_client.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/rest_client_models.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/backup_restore_client.cpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/test/ut/backup_restore_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/backup_restore_client_test.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Add a trouble shooting guide for azure-identity.
  sdk/identity/azure-identity/TROUBLESHOOTING.md
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Fix casing.
  sdk/identity/azure-identity/TROUBLESHOOTING.md
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Enhance BackupRestoreClient and tests
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/backup_restore_client.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/rest_client_models.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/backup_restore_client.cpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/backup_restore_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/backup_restore_client_test.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Add cspell opt-outs.
  sdk/identity/azure-identity/TROUBLESHOOTING.md
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Add pool variable and user env variables to test resources environment
  eng/pipelines/templates/jobs/live.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

update the target version of the proxy
  eng/common/testproxy/target_version.txt
Owners: @Azure/azure-sdk-eng

Update section level nesting to 3 instead of 4.
  sdk/identity/azure-identity/TROUBLESHOOTING.md
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Add a trouble shooting guide for azure-identity, specific to C++. (#5730)
  sdk/identity/azure-identity/TROUBLESHOOTING.md
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Add AzurePipelinesCredential for authenticating an Azure Pipelines service connection with workload identity federation.
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/inc/azure/identity.hpp
  sdk/identity/azure-identity/inc/azure/identity/azure_pipelines_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/detail/client_credential_core.hpp
  sdk/identity/azure-identity/src/azure_pipelines_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Update handles record
  sdk/storage/assets.json
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Add unit tests.
  sdk/identity/azure-identity/inc/azure/identity/detail/client_credential_core.hpp
  sdk/identity/azure-identity/src/azure_pipelines_credential.cpp
  sdk/identity/azure-identity/src/token_credential_impl.cpp
  sdk/identity/azure-identity/test/ut/CMakeLists.txt
  sdk/identity/azure-identity/test/ut/azure_pipelines_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Add comment about not throwing in the ctor, but rather deferring it.
  sdk/identity/azure-identity/src/azure_pipelines_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Order field in order of initialization and fix cspell.
  .vscode/cspell.json
  sdk/identity/azure-identity/inc/azure/identity/azure_pipelines_credential.hpp
Owners: @rickwinter, @LarryOsterman, @antkmsft, @schaabs, @ahsonkhan, @gearama, @Azure/azure-sdk-write-identity

Fix ambiguous call to EnvironmentOverride in tests.
  sdk/identity/azure-identity/test/ut/azure_pipelines_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
/**                      @rickwinter @LarryOsterman
/sdk/                    @rickwinter @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @gearama
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @ahsonkhan
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @gearama @LarryOsterman @Azure/azure-sdk-write-identity

###########
# Client SDKs
###########

# ServiceOwners: @gkostal @anilba06 @ahmadmsft
# ServiceLabel: %Attestation

# PRLabel: %Attestation
/sdk/attestation/        @gkostal @anilba06 @ahmadmsft @LarryOsterman @rickwinter

# AzureSdkOwners: @LarryOsterman
# ServiceLabel: %Event Hubs
# PRLabel: %Event Hubs
/sdk/eventhubs/           @LarryOsterman @antkmsft @ahsonkhan @gearama @RickWinter

# AzureSdkOwners: @gearama
# ServiceLabel:  %KeyVault
# PRLabel: %KeyVault
/sdk/keyvault/           @gearama @antkmsft @rickwinter @LarryOsterman

# ServiceOwners:@vinjiang @Jinming-Hu @EmmaZhu 
# ServiceLabel: %Storage

# PRLabel: %Storage
/sdk/storage/            @vinjiang @Jinming-Hu @EmmaZhu @antkmsft @gearama @LarryOsterman @microzchang

# AzureSdkOwners: @gearama
# ServiceLabel: %Tables
# PRLabel: %Tables
/sdk/tables/            @gearama @LarryOsterman @antkmsft @ahsonkhan

# AzureSdkOwners: @danieljurek
# ServiceLabel: %EngSys
# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard @LarryOsterman @RickWinter

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/eng/common/             @Azure/azure-sdk-eng
