Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama, @ronniegeraghty, @Azure/azure-sdk-write-identity, @RickWinter, @gkostal, @anilba06, @ahmadmsft, @vinjiang, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10241 (#6518)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Add missing backticks
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Add missing backticks (#6520)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Preserve Cert order
  sdk/keyvault/assets.json
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client_models.hpp
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client_options.hpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client_models.cpp
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/certificate_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/certificate_client_test.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

recored tests add checks for preserve
  sdk/keyvault/assets.json
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/certificate_client_test.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

get scope out of url
  sdk/tables/azure-data-tables/CMakeLists.txt
  sdk/tables/azure-data-tables/src/private/url_scope.hpp
  sdk/tables/azure-data-tables/src/table_clients.cpp
Owners: @gearama, @LarryOsterman, @antkmsft

Auto-generated docs from SHA(s) 27c2e5d335c9306d08aa49bd5fe92d0cc1628fe0
  CONTRIBUTING.html
  attestation.html
  eventhubs.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  identity.html
  index.html
  keyvault.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  tables.html
  toc.html
  xrefmap.yml
Owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama

try
  sdk/tables/azure-data-tables/inc/azure/data/tables/table_client.hpp
  sdk/tables/azure-data-tables/src/table_clients.cpp
Owners: @gearama, @LarryOsterman, @antkmsft

dsf
  sdk/tables/azure-data-tables/src/table_clients.cpp
Owners: @gearama, @LarryOsterman, @antkmsft

Use eng working directory
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

backtick
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Fixes to generate-config step
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Allow for scope to be passed in
  sdk/tables/azure-data-tables/CMakeLists.txt
  sdk/tables/azure-data-tables/inc/azure/data/tables.hpp
  sdk/tables/azure-data-tables/inc/azure/data/tables/table_client.hpp
  sdk/tables/azure-data-tables/inc/azure/data/tables/tables_audience.hpp
  sdk/tables/azure-data-tables/src/private/tables_constants.hpp
  sdk/tables/azure-data-tables/src/table_clients.cpp
  sdk/tables/azure-data-tables/test/ut/serializers_test.hpp
  sdk/tables/azure-data-tables/test/ut/table_client_test.cpp
Owners: @gearama, @LarryOsterman, @antkmsft

comment
  sdk/tables/azure-data-tables/inc/azure/data/tables/tables_audience.hpp
Owners: @gearama, @LarryOsterman, @antkmsft

clang and others
  sdk/tables/azure-data-tables/inc/azure/data/tables.hpp
  sdk/tables/azure-data-tables/inc/azure/data/tables/table_client.hpp
  sdk/tables/azure-data-tables/inc/azure/data/tables/tables_audience.hpp
  sdk/tables/azure-data-tables/src/table_clients.cpp
  sdk/tables/azure-data-tables/test/ut/serializers_test.hpp
Owners: @gearama, @LarryOsterman, @antkmsft

Update sdk/tables/azure-data-tables/test/ut/table_client_test.cpp
  sdk/tables/azure-data-tables/test/ut/table_client_test.cpp
Owners: @gearama, @LarryOsterman, @antkmsft

Add APIView Automation Project in JS
  eng/common/scripts/apiview-automation-client/.env.production
  eng/common/scripts/apiview-automation-client/cmd/tsv.js
  eng/common/scripts/apiview-automation-client/package-lock.json
  eng/common/scripts/apiview-automation-client/package.json
  eng/common/scripts/apiview-automation-client/src/index.ts
  eng/common/scripts/apiview-automation-client/tsconfig.json
Owners: @Azure/azure-sdk-eng

Storage STG99/Content Validation - Main Function and Blob Support (#6407)
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/rest_client.cpp
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/constants.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/structured_message_decoding_stream.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/structured_message_encoding_stream.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/structured_message_helper.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_common.hpp
  sdk/storage/azure-storage-common/src/structured_message_decoding_stream.cpp
  sdk/storage/azure-storage-common/src/structured_message_encoding_stream.cpp
  sdk/storage/azure-storage-common/src/structured_message_helper.cpp
  sdk/storage/azure-storage-common/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-common/test/ut/structured_message_test.cpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Exit early if no API changes are found
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Update sdk/tables/azure-data-tables/inc/azure/data/tables/tables_audience.hpp
  sdk/tables/azure-data-tables/inc/azure/data/tables/tables_audience.hpp
Owners: @gearama, @LarryOsterman, @antkmsft

Update sdk/tables/azure-data-tables/inc/azure/data/tables/tables_audience.hpp
  sdk/tables/azure-data-tables/inc/azure/data/tables/tables_audience.hpp
Owners: @gearama, @LarryOsterman, @antkmsft

PR comments
  sdk/tables/azure-data-tables/CMakeLists.txt
  sdk/tables/azure-data-tables/inc/azure/data/tables.hpp
  sdk/tables/azure-data-tables/inc/azure/data/tables/table_audience.hpp
  sdk/tables/azure-data-tables/inc/azure/data/tables/table_client.hpp
  sdk/tables/azure-data-tables/test/ut/table_client_test.cpp
Owners: @gearama, @LarryOsterman, @antkmsft

Update sdk/tables/azure-data-tables/inc/azure/data/tables/table_audience.hpp
  sdk/tables/azure-data-tables/inc/azure/data/tables/table_audience.hpp
Owners: @gearama, @LarryOsterman, @antkmsft

Update sdk/tables/azure-data-tables/inc/azure/data/tables/table_audience.hpp
  sdk/tables/azure-data-tables/inc/azure/data/tables/table_audience.hpp
Owners: @gearama, @LarryOsterman, @antkmsft

PR
  sdk/tables/azure-data-tables/inc/azure/data/tables/table_audience.hpp
  sdk/tables/azure-data-tables/test/ut/table_client_test.cpp
Owners: @gearama, @LarryOsterman, @antkmsft

Updates to emitter CI
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

add path
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

add missing $
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

clang
  sdk/tables/azure-data-tables/test/ut/table_client_test.cpp
Owners: @gearama, @LarryOsterman, @antkmsft

Add file and datalake support
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_utilities.cpp
  sdk/storage/azure-storage-files-datalake/src/rest_client.cpp
  sdk/storage/azure-storage-files-datalake/swagger/README.md
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Kv cleanup (#6519)
  sdk/keyvault/assets.json
  sdk/keyvault/azure-security-keyvault-certificates/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client_models.hpp
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client_options.hpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client_models.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/keyvault_certificates_common_request.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/private/certificate_constants.hpp
  sdk/keyvault/azure-security-keyvault-certificates/src/private/keyvault_certificates_common_request.hpp
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/certificate_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/certificate_client_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/src/delete_key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/deleted_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/import_key_options.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/json_web_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_backup.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_paged_responses.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_get_random_bytes.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_release_options.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_release_policy.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_request_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_rotation_policy.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/keyvault_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_backup.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_constants.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_request_parameters.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_serializers.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/recover_deleted_key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_delete_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_rotation_policy_test_live.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/private/secret_constants.hpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Small cleanup
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/CMakeLists.txt
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Sync eng/common directory with azure-sdk-tools for PR 10293 (#6524)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Small cleanup (#6526)
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/CMakeLists.txt
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Expose Scopes on the client options (#6522)
  sdk/tables/azure-data-tables/CMakeLists.txt
  sdk/tables/azure-data-tables/inc/azure/data/tables.hpp
  sdk/tables/azure-data-tables/inc/azure/data/tables/table_audience.hpp
  sdk/tables/azure-data-tables/inc/azure/data/tables/table_client.hpp
  sdk/tables/azure-data-tables/src/private/tables_constants.hpp
  sdk/tables/azure-data-tables/src/table_clients.cpp
  sdk/tables/azure-data-tables/test/ut/serializers_test.hpp
  sdk/tables/azure-data-tables/test/ut/table_client_test.cpp
Owners: @gearama, @LarryOsterman, @antkmsft

open as draft logic and fix emitter version
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

add comment
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Update comment
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Move tsp-client step to regenerate stage
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10314 (#6528)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
/**                      @rickwinter @LarryOsterman

#Catch all for files at the root
/*                       @rickwinter @LarryOsterman @antkmsft @gearama
/sdk/                    @rickwinter @LarryOsterman

# Git Hub integration and bot rules
/.github/                @rickwinter @ronniegeraghty

# Samples
/samples/                @rickwinter @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @gearama
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @antkmsft
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @rickwinter @gearama @LarryOsterman @Azure/azure-sdk-write-identity

###########
# Client SDKs
###########

# AzureSdkOwners: @gearama
# ServiceLabel: %App Configuration
# PRLabel: %App Configuration
/sdk/appconfiguration/   @gearama @LarryOsterman @antkmsft @RickWinter

# ServiceOwners: @gkostal @anilba06 @ahmadmsft
# ServiceLabel: %Attestation

# PRLabel: %Attestation
/sdk/attestation/        @gkostal @anilba06 @ahmadmsft @LarryOsterman @rickwinter

# AzureSdkOwners: @LarryOsterman
# ServiceLabel: %Event Hubs
# PRLabel: %Event Hubs
/sdk/eventhubs/           @LarryOsterman @antkmsft @gearama @RickWinter

# AzureSdkOwners: @gearama
# ServiceLabel:  %KeyVault
# ServiceOwners:         @cheathamb36 @chen-karen @lgonsoulin

# PRLabel: %KeyVault
/sdk/keyvault/           @gearama @antkmsft @rickwinter @LarryOsterman

# ServiceOwners:@vinjiang @Jinming-Hu @microzchang
# ServiceLabel: %Storage

# PRLabel: %Storage
/sdk/storage/            @vinjiang @Jinming-Hu @EmmaZhu @antkmsft @gearama @LarryOsterman @microzchang

# AzureSdkOwners: @gearama
# ServiceLabel: %Tables
# PRLabel: %Tables
/sdk/tables/            @gearama @LarryOsterman @antkmsft

# AzureSdkOwners: @danieljurek
# ServiceLabel: %EngSys
# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard @LarryOsterman @RickWinter

# ServiceLabel: %Operator Nexus - Network Cloud
#/<NotInRepo>/           @Azure/azure-sdk-write-networkcloud

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/eng/common/             @Azure/azure-sdk-eng
/.github/workflows/      @Azure/azure-sdk-eng
/.github/CODEOWNERS      @rickwinter @ronniegeraghty @Azure/azure-sdk-eng

/.config/1espt/          @benbp @weshaggard
