Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @vinjiang, @katmsft, @JinmingHu-MSFT, @danieljurek, @azure/azure-sdk-eng

doc updates more
  sdk/core/azure-core/inc/azure/core/http/http.hpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

missing period
  sdk/core/azure-core/inc/azure/core/http/http.hpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

formatting
  sdk/core/azure-core/inc/azure/core/http/http.hpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

remove extra layer variables from CMake for transpot adapter options
  CMakeLists.txt
  cmake-modules/DefineTransportAdapter.cmake
  sdk/core/azure-core/CMakeLists.txt
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989

Adding retry policy to unit tests (#707)
  sdk/core/azure-core/test/ut/transport_adapter.cpp
  sdk/core/azure-core/test/ut/transport_adapter_file_upload.cpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

update all CMake projects to 3.13 version
  CMakeLists.txt
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/test/e2e/CMakeLists.txt
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/performance-stress/CMakeLists.txt
  sdk/core/performance-stress/test/CMakeLists.txt
  sdk/storage/CMakeLists.txt
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/CMakeLists.txt
  sdk/template/azure-template/CMakeLists.txt
  sdk/template/azure-template/test/CMakeLists.txt
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @vinjiang, @katmsft, @JinmingHu-MSFT

Sync eng/common directory with azure-sdk-tools for PR 1066 (#713)
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 1077 (#711)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
Owners: @danieljurek, @azure/azure-sdk-eng

Added release notes for C++
  sdk/core/azure-core/CHANGELOG.md
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Add RequestFailedException
  sdk/core/azure-core/inc/azure/core/exception.hpp
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/test/ut/transport_adapter.cpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Add periods and other review feedback
  sdk/core/azure-core/CHANGELOG.md
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Support env vars with hyphens when printing output
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/README.md
Owners: @danieljurek, @azure/azure-sdk-eng

update exception name
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/src/http/raw_response.cpp
  sdk/core/azure-core/test/ut/http.cpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

update RFC number to 7230
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/src/http/request.cpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

enhance unit test
  sdk/core/azure-core/test/ut/http.cpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Apply suggestions from code review
  CMakeLists.txt
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @rickwinter, @joshfree, @danieljurek, @azure/azure-sdk-eng

update option names
  CMakeLists.txt
  CMakeSettings.json
  CONTRIBUTING.md
  cmake-modules/DefineTransportAdapter.cmake
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/http/winhttp/win_http_client.hpp
  sdk/core/azure-core/test/e2e/CMakeLists.txt
Owners: @rickwinter, @joshfree, @danieljurek, @azure/azure-sdk-eng, @ahsonkhan, @antkmsft, @vhvb1989

Add DateTime: supporting standardized string date and time representations.
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/datetime.hpp
  sdk/core/azure-core/src/datetime.cpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/datetime.cpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

UT test names
  sdk/core/azure-core/inc/azure/core/datetime.hpp
  sdk/core/azure-core/test/ut/datetime.cpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Make waiting for socket cancelable
  sdk/core/azure-core/inc/azure/core/context.hpp
  sdk/core/azure-core/inc/azure/core/http/curl/curl.hpp
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Added 2020-02-10 features. (#692)
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_service_client_test.cpp
Owners: @vinjiang, @katmsft, @JinmingHu-MSFT, @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Integrate storage retry policy.
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_utilities.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_utilities.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
Owners: @vinjiang, @katmsft, @JinmingHu-MSFT, @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Removed the logic to make URL empty when '.blob.' is not found in URL.
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_utilities.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_utilities.cpp
Owners: @vinjiang, @katmsft, @JinmingHu-MSFT, @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Avoid test case throw meaningless exception when sys env is not set.
  sdk/storage/azure-storage-common/test/test_base.cpp
Owners: @vinjiang, @katmsft, @JinmingHu-MSFT, @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Integrate storage retry policy. (#722)
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_utilities.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
Owners: @vinjiang, @katmsft, @JinmingHu-MSFT, @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Resolved breaking change for file/datalake service
  sdk/storage/CMakeLists.txt
  sdk/storage/azure-storage-common/src/storage_version.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_sas_builder.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
Owners: @vinjiang, @katmsft, @JinmingHu-MSFT, @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Apply master branch's core test code.
  sdk/core/azure-core/test/ut/transport_adapter_file_upload.cpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Update date
  sdk/core/azure-core/CHANGELOG.md
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Escape the characters
  sdk/core/azure-core/CHANGELOG.md
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Added release notes for C++ (#714)
  sdk/core/azure-core/CHANGELOG.md
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Increment package version after release of azure-template
  sdk/template/azure-template/CHANGELOG.md
  sdk/template/azure-template/inc/azure/template/version.hpp
Owners: @rickwinter, @joshfree

Support env vars with hyphens when printing output (#720)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/README.md
Owners: @danieljurek, @azure/azure-sdk-eng

Build fixes
  sdk/core/azure-core/inc/azure/core/datetime.hpp
  sdk/core/azure-core/src/datetime.cpp
  sdk/core/azure-core/test/ut/datetime.cpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*      @rickwinter @joshfree
/sdk/  @rickwinter @joshfree

# Samples
/samples/      @rickwinter
/sdk/samples/  @rickwinter

# Azure::Core
/sdk/core/     @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Service teams
/sdk/storage/  @vinjiang @katmsft @JinmingHu-MSFT @ahsonkhan @antkmsft @rickwinter @vhvb1989

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng
