Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @schaabs, @vinjiang, @katmsft, @Jinming-Hu, @danieljurek, @weshaggard, @benbp

update
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @antkmsft, @rickwinter, @vhvb1989, @gearama

update
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @antkmsft, @rickwinter, @vhvb1989, @gearama

ToString()
  sdk/core/azure-core/test/ut/datetime_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

A few more lines
  sdk/core/azure-core/test/ut/curl_connection_pool_test.cpp
  sdk/core/azure-core/test/ut/curl_session_test_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

COver more lines
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/test/ut/curl_connection_pool_test.cpp
  sdk/core/azure-core/test/ut/curl_session_test_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

More SHA
  sdk/core/azure-core/test/ut/sha_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Remove unnecessary changes
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/core/azure-core/test/ut/datetime_test.cpp
  sdk/core/azure-core/test/ut/pipeline_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Fix DateTime::Parse validation for dates past year 9999 due to adjustments (#3177)
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/datetime.cpp
  sdk/core/azure-core/test/ut/datetime_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Update min code coverage goals
  sdk/core/ci.yml
Owners: @danieljurek

checkpoint
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @antkmsft, @rickwinter, @vhvb1989, @gearama

Re-add test new test cases lost during merge
  sdk/core/azure-core/test/ut/datetime_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

recordings
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.SourceBlobAccessConditions.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.SourceTagsConditions.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @antkmsft, @rickwinter, @vhvb1989, @gearama

Add a few simple unit tests to boost coverage (#3163)
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/curl_connection_pool_test.cpp
  sdk/core/azure-core/test/ut/datetime_test.cpp
  sdk/core/azure-core/test/ut/environment_log_level_listener_test.cpp
  sdk/core/azure-core/test/ut/exception_test.cpp
  sdk/core/azure-core/test/ut/log_policy_test.cpp
  sdk/core/azure-core/test/ut/pipeline_test.cpp
  sdk/core/azure-core/test/ut/retry_policy_test.cpp
  sdk/core/azure-core/test/ut/sha_test.cpp
  sdk/core/azure-core/test/ut/url_test.cpp
  sdk/core/ci.yml
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @danieljurek

setting a valid tenant id format
  eng/pipelines/templates/jobs/ci.tests.yml
  sdk/core/azure-core-test/src/interceptor_manager.cpp
Owners: @danieljurek, @weshaggard, @benbp, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Use code coverage annotations in places that never can be covered
  sdk/core/azure-core/src/azure_assert.cpp
  sdk/core/azure-core/src/datetime.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Comments
  sdk/core/azure-core/src/azure_assert.cpp
  sdk/core/azure-core/src/datetime.cpp
  sdk/identity/azure-identity/src/managed_identity_credential.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @schaabs

Increment goal
  sdk/identity/ci.yml
Owners: @danieljurek

checkpoint
  sdk/storage/azure-storage-blobs/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @antkmsft, @rickwinter, @vhvb1989, @gearama

pageBlob recordings
  sdk/storage/azure-storage-blobs/test/ut/recordings/PageBlobClientTest.ContentCrc64.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/PageBlobClientTest.ContentMd5.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/PageBlobClientTest.CreateDelete.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/PageBlobClientTest.CreateIfNotExists.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/PageBlobClientTest.CreateWithTags.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/PageBlobClientTest.Lease.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/PageBlobClientTest.PageBlobAccessConditions.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/PageBlobClientTest.Resize.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/PageBlobClientTest.SourceBlobAccessConditions.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/PageBlobClientTest.StartCopyIncremental.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/PageBlobClientTest.UpdateSequenceNumber.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/PageBlobClientTest.UploadFromUri.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @antkmsft, @rickwinter, @vhvb1989, @gearama

prepPR
  Dockerfile
  Dockerfile.src
  cmake-modules/FolderList.cmake
  sdk/keyvault/azure-security-keyvault-certificates/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/CMakeSettings.json
  sdk/keyvault/azure-security-keyvault-certificates/samples/CMakeLists.txt
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Generate map files in build
  CMakeLists.txt
  cmake-modules/CreateMapFile.cmake
  sdk/core/azure-core-test/CMakeLists.txt
  sdk/core/azure-core/test/fault-injector/CMakeLists.txt
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/perf/CMakeLists.txt
  sdk/core/perf/test/CMakeLists.txt
  sdk/identity/azure-identity/test/e2e/CMakeLists.txt
  sdk/identity/azure-identity/test/live/CMakeLists.txt
  sdk/identity/azure-identity/test/perf/CMakeLists.txt
  sdk/identity/azure-identity/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/perf/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/test/test-app/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/CMakeLists.txt
  sdk/storage/CMakeLists.txt
  sdk/template/azure-template/test/CMakeLists.txt
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @schaabs, @vinjiang, @katmsft, @Jinming-Hu, @danieljurek, @weshaggard

Add .map file artifact publishing
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

Add Xlinker to spelling exceptions
  .vscode/cspell.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Remove PublishMapFiles from clang builds
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

Generate the map file artifact name
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

skip valid time on playback
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/storage/azure-storage-common/test/ut/test_base.cpp
  sdk/storage/azure-storage-common/test/ut/test_base.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @vinjiang, @katmsft, @Jinming-Hu

storage_retry_policy_test
  sdk/storage/azure-storage-blobs/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/ut/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-common/test/ut/test_base.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @antkmsft, @rickwinter, @vhvb1989, @gearama

all blob
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/storage/azure-storage-blobs/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/ut/recordings/StorageTest.StoragetimeoutTestBasic.json
  sdk/storage/azure-storage-blobs/test/ut/storage_timeout_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @vinjiang, @katmsft, @Jinming-Hu

gitignore updates
  .gitignore
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

project changes
  sdk/core/ci.yml
  sdk/storage/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_directory_client_test.hpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.hpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_system_client_test.hpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_path_client_test.hpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_service_client_test.hpp
  sdk/storage/azure-storage-files-datalake/test/ut/macro_guard.cpp
  sdk/storage/azure-storage-files-shares/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/test/ut/macro_guard.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_client_test.hpp
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.hpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_attributes_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.hpp
  sdk/storage/azure-storage-files-shares/test/ut/share_sas_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_service_client_test.hpp
  sdk/storage/azure-storage-queues/CMakeLists.txt
  sdk/storage/ci.yml
Owners: @danieljurek, @vinjiang, @katmsft, @Jinming-Hu, @antkmsft, @rickwinter, @vhvb1989, @gearama

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @antkmsft @rickwinter @vhvb1989 @gearama

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek
