Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989, @vinjiang, @katmsft, @JinmingHu-MSFT, @danieljurek, @azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*      @rickwinter @joshfree
/sdk/  @rickwinter @joshfree

# Samples
/samples/      @rickwinter
/sdk/samples/  @rickwinter

# Azure::Core
/sdk/core/     @ahsonkhan @antkmsft @rickwinter @vhvb1989

# Service teams
/sdk/storage/  @vinjiang @katmsft @JinmingHu-MSFT @ahsonkhan @antkmsft @rickwinter @vhvb1989

###########
# Eng Sys
###########
/eng/       @danieljurek @azure/azure-sdk-eng
/**/ci.yml  @danieljurek @azure/azure-sdk-eng

disable signal handling and reenable after the clean up to prevent the issue
  sdk/core/azure-core/inc/azure/core/http/curl/curl.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Add build instruction for running tests (#690)
  CONTRIBUTING.md
Owners: @rickwinter, @joshfree

fixing typos from #686
  sdk/core/azure-core/inc/azure/core/http/curl/curl.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/test/e2e/azure_hang.cpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

more typos
  sdk/core/azure-core/src/http/curl/curl.cpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Apply suggestions from code review
  sdk/core/azure-core/inc/azure/core/http/curl/curl.hpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

cmake updates for building transport adapters
  CMakeLists.txt
  cmake-modules/DefineTransportAdapter.cmake
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/http/curl/curl.hpp
  sdk/core/azure-core/inc/azure/core/http/winhttp/win_http_client.hpp
Owners: @rickwinter, @joshfree, @ahsonkhan, @antkmsft, @vhvb1989

remove curl direct src
  sdk/core/azure-core/CMakeLists.txt
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Adding retry policy to unit tests
  sdk/core/azure-core/test/ut/transport_adapter.cpp
  sdk/core/azure-core/test/ut/transport_adapter_file_upload.cpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

build CI with Curl
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

,issing CI opt
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools repository for Tools PR 1066
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

use bool for AddHeader and output parameter for invalid char index
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/src/http/raw_response.cpp
  sdk/core/azure-core/src/http/request.cpp
  sdk/core/azure-core/test/ut/http.cpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Sync eng/common directory with azure-sdk-tools repository for Tools PR 1077
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
Owners: @danieljurek, @azure/azure-sdk-eng

docs for addHeader methods
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/src/http/raw_response.cpp
  sdk/core/azure-core/test/ut/http.cpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Sync eng/common directory with azure-sdk-tools repository for Tools PR 1062
  eng/common/scripts/Verify-Links.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

typos
  sdk/core/azure-core/inc/azure/core/http/curl/curl.hpp
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/reliable_stream.hpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @vinjiang, @katmsft, @JinmingHu-MSFT

formatting docs
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/src/http/request.cpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

missing typo
  sdk/core/azure-core/src/http/curl/curl.cpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

update CMake min version to 3.15
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/test/e2e/CMakeLists.txt
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/performance-stress/CMakeLists.txt
  sdk/core/performance-stress/test/CMakeLists.txt
  sdk/template/azure-template/CMakeLists.txt
  sdk/template/azure-template/test/CMakeLists.txt
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989, @joshfree

fixing typos from #686 (#704)
  sdk/core/azure-core/inc/azure/core/http/curl/curl.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/test/e2e/azure_hang.cpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

Update location of patch files
  eng/common/pipelines/templates/steps/create-pull-request.yml
Owners: @danieljurek, @azure/azure-sdk-eng

Switch to pushing to upstream
  eng/common/scripts/git-branch-push.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Add some changes in eng/common to test things
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/git-branch-push.ps1
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/common/scripts/modules/Package-Properties.psm1
Owners: @danieljurek, @azure/azure-sdk-eng

Change workflow to use upstream branches
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Add-Issue-Comment.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/git-branch-push.ps1
  eng/common/scripts/modules/ChangeLog-Operations.psm1
Owners: @danieljurek, @azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 1052 (#705)
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Add-Issue-Comment.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/git-branch-push.ps1
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/common/scripts/modules/Package-Properties.psm1
Owners: @danieljurek, @azure/azure-sdk-eng

remove extra
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

remove extra space
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Added the cache control for existing blobs as well
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Update cache-control for newly created blobs
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Update copy-docs-to-blobstorage.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Update Readme and Contribute to Oct07-2020 release instructions
  CMakeLists.txt
  CONTRIBUTING.md
  README.md
Owners: @rickwinter, @joshfree

Update eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

docs and windows check
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/README.md
Owners: @danieljurek, @azure/azure-sdk-eng

Simplify Net-TestResources usage
  eng/common/TestResources/New-TestResources.ps1
Owners: @danieljurek, @azure/azure-sdk-eng

Fix links
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
Owners: @danieljurek, @azure/azure-sdk-eng

make service directory the default parameter
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
Owners: @danieljurek, @azure/azure-sdk-eng

Doc change
  eng/common/TestResources/README.md
Owners: @danieljurek, @azure/azure-sdk-eng

update markdown
  eng/common/TestResources/New-TestResources.ps1.md
Owners: @danieljurek, @azure/azure-sdk-eng

make addHeader to thow on invalid header
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/src/http/raw_response.cpp
  sdk/core/azure-core/src/http/request.cpp
  sdk/core/azure-core/test/ut/http.cpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989

update docs
  sdk/core/azure-core/inc/azure/core/http/http.hpp
Owners: @ahsonkhan, @antkmsft, @rickwinter, @vhvb1989
