Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @rickwinter, @ronniegeraghty, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp

Added a bit of comments
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

path
  sdk/storage/azure-storage-blobs/perf.yml
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

';l'l;
  sdk/storage/azure-storage-blobs/perf.yml
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Swap out twiter.com for wikipedia.org
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

removed unused variables because gcc doesn't like them
  sdk/core/azure-core-tracing-opentelemetry/test/ut/test_exporter.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Fixed doxygen comments
  sdk/core/azure-core-tracing-opentelemetry/test/ut/test_exporter.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Cannot use wikipedia on CI pipeline
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Fixed aws url
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Removed a bunch of unnecessary headers
  sdk/core/azure-core-tracing-opentelemetry/test/ut/service_support_test.cpp
  sdk/core/azure-core-tracing-opentelemetry/test/ut/test_exporter.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

add support for sync param
  sdk/storage/azure-storage-blobs/test/perf/inc/azure/storage/blobs/test/download_blob_test.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

custom matrixfilename and ordering of generatedValues.yaml
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

pr comments and some error handling
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

JobMatrix write host
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
Owners: @danieljurek, @weshaggard, @benbp

Added yaml support for job matrix creation
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Owners: @danieljurek, @weshaggard, @benbp

update to default sparse
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

common module import
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Owners: @danieljurek, @weshaggard, @benbp

autogen scenario matrix for stress test
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Owners: @danieljurek, @weshaggard, @benbp

Temporary Working State
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

--sync flag support
  sdk/core/perf/src/options.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

typo
  sdk/core/perf/src/options.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Add extra parameters for .net readme path
  eng/common/scripts/Update-DocsMsToc.ps1
Owners: @danieljurek, @weshaggard, @benbp

Remove custom source
  eng/common/scripts/Update-DocsMsToc.ps1
Owners: @danieljurek, @weshaggard, @benbp

Use another way for default value
  eng/common/scripts/Update-DocsMsToc.ps1
Owners: @danieljurek, @weshaggard, @benbp

sync
  sdk/storage/azure-storage-blobs/test/perf/inc/azure/storage/blobs/test/download_blob_test.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Sync eng/common directory with azure-sdk-tools for PR 3790 (#4041)
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

sync to y
  sdk/core/perf/src/options.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

for PR
  .vscode/cspell.json
  CMakeSettings.json
  cmake-modules/PerfTest.cmake
  eng/pipelines/templates/jobs/perf.yml
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @danieljurek, @weshaggard, @benbp

clang
  sdk/storage/azure-storage-blobs/test/perf/inc/azure/storage/blobs/test/download_blob_test.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Storageblob (#4043)
  .vscode/cspell.json
  cmake-modules/PerfTest.cmake
  eng/pipelines/templates/jobs/perf.yml
  sdk/core/perf/src/options.cpp
  sdk/storage/azure-storage-blobs/perf-resources.bicep
  sdk/storage/azure-storage-blobs/perf.yml
  sdk/storage/azure-storage-blobs/test/perf/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/perf/src/azure_storage_blobs_perf_test.cpp
  vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @danieljurek, @weshaggard, @benbp, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

Added ability to switch to OpenSSL 1.1.1n
  CMakeSettings.json
  sdk/core/azure-core/src/http/curl/curl.cpp
  vcpkg-custom-ports/openssl/install-pc-files.cmake
  vcpkg-custom-ports/openssl/openssl.pc.in
  vcpkg-custom-ports/openssl/portfile.cmake
  vcpkg-custom-ports/openssl/unix/CMakeLists.txt
  vcpkg-custom-ports/openssl/unix/portfile.cmake
  vcpkg-custom-ports/openssl/unix/remove-deps.cmake
  vcpkg-custom-ports/openssl/usage
  vcpkg-custom-ports/openssl/uwp/EnableUWPSupport.patch
  vcpkg-custom-ports/openssl/uwp/make-openssl.bat
  vcpkg-custom-ports/openssl/uwp/portfile.cmake
  vcpkg-custom-ports/openssl/vcpkg-cmake-wrapper.cmake.in
  vcpkg-custom-ports/openssl/vcpkg.json
  vcpkg-custom-ports/openssl/windows/portfile.cmake
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Comment changes from pull request feedback
  sdk/core/azure-core/inc/azure/core/internal/diagnostics/global_exception.hpp
  sdk/core/azure-core/test/ut/azure_core_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Update sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

pull request feedback
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/core/azure-core/test/ut/azure_libcurl_core_main_test.cpp
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
  sdk/core/perf/src/program.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Bumped test discovery timeout
  cmake-modules/AddGoogleTest.cmake
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Update sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Upgrade cspell packages to version `^6.12.0`
  eng/common/spelling/Invoke-Cspell.ps1
  eng/common/spelling/package-lock.json
  eng/common/spelling/package.json
Owners: @danieljurek, @weshaggard, @benbp

More pull request feedback
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/retry_policy.cpp
  sdk/core/azure-core/src/http/transport_policy.cpp
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Upgrade cspell packages to version `^6.12.0` (#4044)
  eng/common/spelling/Invoke-Cspell.ps1
  eng/common/spelling/package-lock.json
  eng/common/spelling/package.json
Owners: @danieljurek, @weshaggard, @benbp

It compiles
  sdk/core/azure-core/src/http/curl/curl.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Checkpoint
  sdk/core/azure-core/src/http/curl/curl.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                @jsquire @rickwinter @ronniegeraghty

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama @LarryOsterman

###########
# Client SDKs
###########

# PRLabel: %Attestation
/sdk/attestation/        @LarryOsterman @gkostal @anilba06 @kroshkina-ms @ahmadmsft @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @EmmaZhu @antkmsft @vhvb1989 @gearama @LarryOsterman @microzchang

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek
