Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @LarryOsterman, @ahsonkhan, @antkmsft, @gearama, @schaabs, @Azure/azure-sdk-write-identity, @gkostal, @anilba06, @ahmadmsft, @RickWinter, @vinjiang, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

Spelling isn't my forte'
  README.md
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @LarryOsterman, @ahsonkhan, @antkmsft, @gearama

clang-format
  sdk/core/azure-core/inc/azure/core/context.hpp
  sdk/core/azure-core/test/ut/curl_options_test.cpp
  sdk/core/azure-core/test/ut/global_context_test.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Update sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Update sdk/core/azure-core/test/ut/context_test.cpp
  sdk/core/azure-core/test/ut/context_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

bump target version of the test proxy
  eng/common/testproxy/target_version.txt
Owners: @Azure/azure-sdk-eng

PAT Removal from pipeline generation yml
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Owners: @Azure/azure-sdk-eng

update version of PipelineGenerator to install
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 8370 (#5689)
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Owners: @Azure/azure-sdk-eng

Add retries to tests relying on Http bin to improve test resiliency.
  sdk/core/azure-core/test/ut/curl_connection_pool_test.cpp
  sdk/core/azure-core/test/ut/curl_options_test.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base_test.hpp
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

bump target version of the test proxy (#5688)
  eng/common/testproxy/target_version.txt
Owners: @Azure/azure-sdk-eng

Remove 'include windows.h' from inc/*
  sdk/core/azure-core/inc/azure/core/http/win_http_transport.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Clang format
  sdk/core/azure-core/inc/azure/core/http/win_http_transport.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Qualify namespace
  sdk/core/azure-core/inc/azure/core/http/win_http_transport.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Clean up includes a bit further
  sdk/core/azure-core/inc/azure/core/http/curl_transport.hpp
  sdk/core/azure-core/inc/azure/core/http/transport.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Fix errors
  sdk/core/azure-core/inc/azure/core/http/win_http_transport.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Clang format
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Added comments about public, private and internal types
  CONTRIBUTING.md
  README.md
Owners: @rickwinter, @LarryOsterman

move out _detail definitions
  sdk/core/azure-core/inc/azure/core/http/win_http_transport.hpp
  sdk/core/azure-core/inc/azure/core/internal/unique_handle.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Print exception message before retrying.
  sdk/core/azure-core/test/ut/curl_connection_pool_test.cpp
  sdk/core/azure-core/test/ut/curl_options_test.cpp
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Context timeout in snippet is 5 seconds, not 500ms
  README.md
Owners: @rickwinter, @LarryOsterman

Added a catch for sample
  README.md
Owners: @rickwinter, @LarryOsterman

Update README.md
  README.md
Owners: @rickwinter, @LarryOsterman

Added a default value to ContextSharedState constructor to save creating a new constructor
  sdk/core/azure-core/inc/azure/core/context.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Made creation of ApplicationContext explicit
  sdk/core/azure-core/src/context.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Align eventhubs connection property names with Go
  sdk/eventhubs/azure-messaging-eventhubs/src/private/eventhubs_utilities.hpp
Owners: @LarryOsterman, @antkmsft, @ahsonkhan, @gearama, @RickWinter

Update sdk/eventhubs/azure-messaging-eventhubs/src/private/eventhubs_utilities.hpp
  sdk/eventhubs/azure-messaging-eventhubs/src/private/eventhubs_utilities.hpp
Owners: @LarryOsterman, @antkmsft, @ahsonkhan, @gearama, @RickWinter

Changelog
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
Owners: @LarryOsterman, @antkmsft, @ahsonkhan, @gearama, @RickWinter

Fixed extra value caught by Anton
  sdk/eventhubs/azure-messaging-eventhubs/src/private/eventhubs_utilities.hpp
Owners: @LarryOsterman, @antkmsft, @ahsonkhan, @gearama, @RickWinter

Update eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/deploy-test-resources.yml
Owners: @Azure/azure-sdk-eng

Plumb env vars through deploy test resources
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Owners: @Azure/azure-sdk-eng

Update eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/deploy-test-resources.yml
Owners: @Azure/azure-sdk-eng

Align eventhubs connection property names with Go (#5693)
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/private/eventhubs_utilities.hpp
Owners: @LarryOsterman, @antkmsft, @ahsonkhan, @gearama, @RickWinter

Prepare for June AMQP release
  sdk/core/azure-core-amqp/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Prepare for June eventhubs release
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
Owners: @LarryOsterman, @antkmsft, @ahsonkhan, @gearama, @RickWinter

anton comments
  sdk/core/azure-core/inc/azure/core/internal/json/json.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Prepare for the June Identity GA release.
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Core June Beta Release
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

clang
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-testsuites.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

comment out some asserts
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/internal/json/json.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

restore originals
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-algorithms.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-allocator.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-alt-string.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-capacity.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-class_const_iterator.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-class_iterator.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-class_lexer.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-comparison.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-concepts.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-constructor1.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-constructor2.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-convenience.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
/**                      @rickwinter @LarryOsterman
/sdk/                    @rickwinter @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @gearama
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @ahsonkhan
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @gearama @LarryOsterman @Azure/azure-sdk-write-identity

###########
# Client SDKs
###########

# ServiceOwners: @gkostal @anilba06 @ahmadmsft
# ServiceLabel: %Attestation

# PRLabel: %Attestation
/sdk/attestation/        @gkostal @anilba06 @ahmadmsft @LarryOsterman @rickwinter

# AzureSdkOwners: @LarryOsterman
# ServiceLabel: %Event Hubs
# PRLabel: %Event Hubs
/sdk/eventhubs/           @LarryOsterman @antkmsft @ahsonkhan @gearama @RickWinter

# AzureSdkOwners: @gearama
# ServiceLabel:  %KeyVault
# PRLabel: %KeyVault
/sdk/keyvault/           @gearama @antkmsft @rickwinter @LarryOsterman

# ServiceOwners:@vinjiang @Jinming-Hu @EmmaZhu 
# ServiceLabel: %Storage

# PRLabel: %Storage
/sdk/storage/            @vinjiang @Jinming-Hu @EmmaZhu @antkmsft @gearama @LarryOsterman @microzchang

# AzureSdkOwners: @gearama
# ServiceLabel: %Tables
# PRLabel: %Tables
/sdk/tables/            @gearama @LarryOsterman @antkmsft @ahsonkhan

# AzureSdkOwners: @danieljurek
# ServiceLabel: %EngSys
# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard @LarryOsterman @RickWinter

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/eng/common/             @Azure/azure-sdk-eng
