Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @LarryOsterman, @antkmsft, @ronniegeraghty, @Azure/azure-sdk-write-identity, @RickWinter, @gkostal, @anilba06, @ahmadmsft, @danieljurek, @weshaggard, @Azure/azure-sdk-write-keyvault, @vinjiang, @Jinming-Hu, @EmmaZhu, @microzchang, @benbp, @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
/**                      @rickwinter @LarryOsterman

#Catch all for files at the root
/*                       @rickwinter @LarryOsterman @antkmsft
/sdk/                    @rickwinter @LarryOsterman

# Git Hub integration and bot rules
/.github/                @rickwinter @ronniegeraghty

# Samples
/samples/                @rickwinter @antkmsft @LarryOsterman

# AzureSdkOwners: @rickwinter
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @antkmsft @LarryOsterman

# AzureSdkOwners: @antkmsft
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @rickwinter @LarryOsterman @Azure/azure-sdk-write-identity

####################
# Client Libraries
####################

# PRLabel: %App Configuration
/sdk/appconfiguration/                                             @LarryOsterman @antkmsft @RickWinter

# ServiceLabel: %App Configuration
# AzureSdkOwners: @rickwinter
# ServiceOwners: @LarryOsterman @antkmsft @RickWinter

# PRLabel: %Attestation
/sdk/attestation/                                                  @gkostal @anilba06 @ahmadmsft @LarryOsterman @rickwinter

# ServiceLabel: %Attestation
# ServiceOwners: @gkostal @anilba06 @ahmadmsft

# PRLabel: %EngSys
/sdk/template/                                                     @danieljurek @weshaggard @LarryOsterman @RickWinter

# ServiceLabel: %EngSys
# AzureSdkOwners: @danieljurek
# ServiceOwners: @danieljurek @weshaggard @LarryOsterman @RickWinter

# PRLabel: %Event Hubs
/sdk/eventhubs/                                                    @LarryOsterman @antkmsft @RickWinter

# ServiceLabel: %Event Hubs
# AzureSdkOwners: @LarryOsterman
# ServiceOwners: @LarryOsterman @antkmsft @RickWinter

# PRLabel: %KeyVault
/sdk/keyvault/                                                     @antkmsft @rickwinter @LarryOsterman @Azure/azure-sdk-write-keyvault

# ServiceLabel: %KeyVault
# AzureSdkOwners: @rickwinter @Azure/azure-sdk-write-keyvault
# ServiceOwners: @cheathamb36 @chen-karen @Azure/azure-sdk-write-keyvault

# ServiceLabel: %Operator Nexus - Network Cloud
#/<NotInRepo>/ @Azure/azure-sdk-write-networkcloud

# PRLabel: %Storage
/sdk/storage/                                                      @vinjiang @Jinming-Hu @EmmaZhu @antkmsft @LarryOsterman @microzchang

# ServiceLabel: %Storage
# ServiceOwners: @vinjiang @Jinming-Hu @microzchang

# PRLabel: %Tables
/sdk/tables/                                                       @LarryOsterman @antkmsft

# ServiceLabel: %Tables
# AzureSdkOwners: @rickwinter
# ServiceOwners: @LarryOsterman @antkmsft

####################
# Management Libraries
####################

###########
# Eng Sys
###########

/eng/                    @danieljurek @weshaggard @benbp
/eng/common/             @Azure/azure-sdk-eng
/.github/workflows/      @Azure/azure-sdk-eng
/.github/CODEOWNERS      @rickwinter @ronniegeraghty @Azure/azure-sdk-eng

/.config/1espt/          @benbp @weshaggard

Storage/STG100 Protocol Layer Changes (#6695)
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/src/rest_client.cpp
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/rest_client.cpp
  sdk/storage/azure-storage-files-datalake/swagger/README.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/rest_client.hpp
  sdk/storage/azure-storage-queues/src/rest_client.cpp
  sdk/storage/azure-storage-queues/swagger/README.md
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @LarryOsterman, @microzchang

Fix IMDS token requests for managed identities
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/managed_identity_source.cpp
Owners: @antkmsft, @rickwinter, @LarryOsterman, @Azure/azure-sdk-write-identity

Update eng/common/instructions/azsdk-tools/verify-namespace-approval.prompt.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.prompt.md
Owners: @Azure/azure-sdk-eng

fix
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/create-sdk-locally.prompt.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.prompt.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
Owners: @Azure/azure-sdk-eng

rename to .instructions.md
  eng/common/instructions/azsdk-tools/check-api-readiness.instructions.md
  eng/common/instructions/azsdk-tools/check-package-readiness.instructions.md
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.instructions.md
  eng/common/instructions/azsdk-tools/create-spec-pullrequest.instructions.md
  eng/common/instructions/azsdk-tools/run-sdk-gen-pipeline.instructions.md
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/validate-typespec.instructions.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.instructions.md
Owners: @Azure/azure-sdk-eng

change to .instructions
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
Owners: @Azure/azure-sdk-eng

remove uneeded headers
  eng/common/instructions/azsdk-tools/check-api-readiness.instructions.md
  eng/common/instructions/azsdk-tools/check-package-readiness.instructions.md
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.instructions.md
  eng/common/instructions/azsdk-tools/create-spec-pullrequest.instructions.md
  eng/common/instructions/azsdk-tools/run-sdk-gen-pipeline.instructions.md
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/validate-typespec.instructions.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.instructions.md
Owners: @Azure/azure-sdk-eng

place prompts in common place
  eng/common/instructions/azsdk-tools/check-api-readiness.prompt.md
  eng/common/instructions/azsdk-tools/check-package-readiness.prompt.md
  eng/common/instructions/azsdk-tools/create-release-plan.prompt.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.prompt.md
  eng/common/instructions/azsdk-tools/create-spec-pullrequest.prompt.md
  eng/common/instructions/azsdk-tools/run-sdk-gen-pipeline.prompt.md
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.prompt.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
  eng/common/instructions/azsdk-tools/validate-typespec.prompt.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.prompt.md
Owners: @Azure/azure-sdk-eng

run to refer to
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Fix IMDS token requests for managed identities (#6698)
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/managed_identity_source.cpp
Owners: @antkmsft, @rickwinter, @LarryOsterman, @Azure/azure-sdk-write-identity

Principal Bound Delegation Sas and TQF
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_sas_builder.hpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_sas_test.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_sas_builder.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_sas_builder.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_service_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_sas_builder.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_sas_test.cpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/queue_options.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/queue_sas_builder.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/queue_service_client.hpp
  sdk/storage/azure-storage-queues/src/queue_sas_builder.cpp
  sdk/storage/azure-storage-queues/src/queue_service_client.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_sas_test.cpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @LarryOsterman, @microzchang

Disable test cases
  sdk/storage/azure-storage-blobs/test/ut/blob_sas_test.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_sas_test.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_sas_test.cpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @LarryOsterman, @microzchang

Update devops task for code coverage (#6694)
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/live.tests.yml
Owners: @danieljurek, @weshaggard, @benbp
