Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @rickwinter, @ronniegeraghty, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp

Warn on env variable overwrite. Base name generation off resource group
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/Update-TestResources.ps1
Owners: @danieljurek, @weshaggard, @benbp

Handle issues with EnvironmentVariable parameter ref being updated
  eng/common/TestResources/New-TestResources.ps1
Owners: @danieljurek, @weshaggard, @benbp

Use SHA256 algorithm for short name hash
  eng/common/TestResources/SubConfig-Helpers.ps1
Owners: @danieljurek, @weshaggard, @benbp

Contrib
  CONTRIBUTING.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Sync eng/common directory with azure-sdk-tools for PR 5242 (#4294)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/Update-TestResources.ps1
Owners: @danieljurek, @weshaggard, @benbp

missing content plus pipeline trigger
  doc/TestProxy.md
  sdk/core/ci.yml
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @danieljurek

stress tests spell checked
  doc/StressTest.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

one more
  doc/StressTest.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

clangs
  CONTRIBUTING.md
  sdk/storage/azure-storage-common/test/ut/test_base.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

clangs
  sdk/attestation/azure-security-attestation/test/ut/tpmattestation_test.cpp
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/settings_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/certificate_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/secret_client_base_test.hpp
  sdk/storage/azure-storage-common/test/ut/test_base.cpp
  sdk/storage/azure-storage-common/test/ut/test_base.hpp
Owners: @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

test logs
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

pipeline
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

more clangs
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/storage/azure-storage-common/test/ut/test_base.cpp
  sdk/storage/azure-storage-common/test/ut/test_base.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

pipeline
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

clang
  sdk/storage/azure-storage-common/test/ut/test_base.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

try try again
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

try try again
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

try again
  .vscode/cspell.json
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @danieljurek, @weshaggard, @benbp

try again
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

again
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

make initialization public
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/xml_wrapper.hpp
  sdk/storage/azure-storage-common/src/xml_wrapper.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Missing content for testProxy.md , spellchecked stress, added /doc as triggetr for the core pipeline (#4296)
  doc/StressTest.md
  doc/TestProxy.md
  sdk/core/ci.yml
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @danieljurek

address feedback
  eng/common/scripts/Cadl-Project-Generate.ps1
  eng/common/scripts/Cadl-Project-Sync.ps1
Owners: @danieljurek, @weshaggard, @benbp

add reference to common script
  eng/common/scripts/Cadl-Project-Generate.ps1
Owners: @danieljurek, @weshaggard, @benbp

couple tweaks to relative path updates
  eng/common/scripts/Cadl-Project-Sync.ps1
Owners: @danieljurek, @weshaggard, @benbp

updates to make scripts more generic
  eng/common/scripts/Cadl-Project-Generate.ps1
  eng/common/scripts/Cadl-Project-Sync.ps1
Owners: @danieljurek, @weshaggard, @benbp

update copy paste issue with emitter path
  eng/common/scripts/Cadl-Project-Generate.ps1
  eng/common/scripts/common.ps1
Owners: @danieljurek, @weshaggard, @benbp

move scripts to common
  eng/common/scripts/Cadl-Project-Generate.ps1
  eng/common/scripts/Cadl-Project-Sync.ps1
  eng/common/scripts/common.ps1
Owners: @danieljurek, @weshaggard, @benbp

Sync eng/common directory with azure-sdk-tools for PR 5231 (#4288)
  eng/common/scripts/Cadl-Project-Generate.ps1
  eng/common/scripts/Cadl-Project-Sync.ps1
  eng/common/scripts/common.ps1
Owners: @danieljurek, @weshaggard, @benbp

Policies do not overwrite HTTP headers if they are already set
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/core/azure-core/src/http/telemetry_policy.cpp
  sdk/core/azure-core/test/ut/request_id_policy_test.cpp
  sdk/core/azure-core/test/ut/telemetry_policy_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Add date-only ToString() for DateTime
  sdk/core/azure-core/inc/azure/core/datetime.hpp
  sdk/core/azure-core/src/datetime.cpp
  sdk/core/azure-core/test/ut/datetime_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

properly update the documentation to align with the assembly name update.
  eng/common/testproxy/test-proxy-tool.yml
Owners: @danieljurek, @weshaggard, @benbp

bump proxy version to newest version that also has properly signed mac binaries
  eng/common/testproxy/target_version.txt
Owners: @danieljurek, @weshaggard, @benbp

commit the version reference
  eng/common/testproxy/target_version.txt
Owners: @danieljurek, @weshaggard, @benbp

remove global static RAII wrapper
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/xml_wrapper.hpp
  sdk/storage/azure-storage-common/src/xml_wrapper.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Dummy commit to get the current CI error
  eng/pipelines/templates/jobs/cmake-generate.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

Touch file in core to trigger the CI
  sdk/core/azure-core/inc/azure/core/datetime.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Touch file in core to trigger the CI
  sdk/core/azure-core/inc/azure/core/datetime.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Dummy commit to get the current CI error
  eng/pipelines/templates/jobs/cmake-generate.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

Wonderful, and a broken link now too
  README.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                @jsquire @rickwinter @ronniegeraghty

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama @LarryOsterman

###########
# Client SDKs
###########

# PRLabel: %Attestation
/sdk/attestation/        @LarryOsterman @gkostal @anilba06 @kroshkina-ms @ahmadmsft @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @EmmaZhu @antkmsft @vhvb1989 @gearama @LarryOsterman @microzchang

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek
