Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @rickwinter, @ronniegeraghty, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                @jsquire @rickwinter @ronniegeraghty

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama @LarryOsterman

###########
# Client SDKs
###########

# PRLabel: %Attestation
/sdk/attestation/        @LarryOsterman @gkostal @anilba06 @kroshkina-ms @ahmadmsft @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @EmmaZhu @antkmsft @vhvb1989 @gearama @LarryOsterman @microzchang

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek

clang-format
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Stress deployment namespace bug fix
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

fix typo in PerformanceTesting.md
  doc/PerformanceTesting.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

PT1
  sdk/attestation/azure-security-attestation/test/ut/CMakeLists.txt
  sdk/core/azure-core-tracing-opentelemetry/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/perf/test/CMakeLists.txt
  sdk/identity/azure-identity/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-common/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-queues/test/ut/CMakeLists.txt
  sdk/template/azure-template/test/CMakeLists.txt
Owners: @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @schaabs, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard

typo
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/CMakeLists.txt
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

timeout
  sdk/attestation/azure-security-attestation/test/ut/CMakeLists.txt
  sdk/core/azure-core-tracing-opentelemetry/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/perf/test/CMakeLists.txt
  sdk/identity/azure-identity/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-common/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-queues/test/ut/CMakeLists.txt
  sdk/template/azure-template/test/CMakeLists.txt
Owners: @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @schaabs, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard

Dump out correlation id without verbose logging for resource deployment (#4069)
  eng/common/TestResources/New-TestResources.ps1
Owners: @danieljurek, @weshaggard, @benbp

gtest_1.12.1
  cmake-modules/AddGoogleTest.cmake
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

cspell isnore cmakelistst , it seem to freeze when checking these files
  .vscode/cspell.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

target new version
  eng/common/testproxy/target_version.txt
Owners: @danieljurek, @weshaggard, @benbp

fix typo in PerformanceTesting.md (#4076)
  doc/PerformanceTesting.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Fix non-matching Chart.yaml files being evaluated too soon
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Owners: @danieljurek, @weshaggard, @benbp

Skip CI print for stress matrix. Minor improvements.
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
Owners: @danieljurek, @weshaggard, @benbp

Update stress examples to addons 0.2.0. Script QOL fixes.
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

Fix contains method in stress generate function
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
Owners: @danieljurek, @weshaggard, @benbp

timeout for cmake generate
  eng/pipelines/templates/jobs/cmake-generate-jobs.yml
  eng/pipelines/templates/jobs/cmake-generate.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
Owners: @danieljurek, @weshaggard, @benbp

timeout for cmake generate p2
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/pipelines/templates/jobs/cmake-generate-jobs.yml
  eng/pipelines/templates/jobs/cmake-generate.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

timeout for cmake generate p3
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
Owners: @danieljurek, @weshaggard, @benbp

timeout for cmake generate p4
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/pipelines/templates/jobs/cmake-generate-jobs.yml
Owners: @danieljurek, @weshaggard, @benbp

timeout for cmake generate p5
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
Owners: @danieljurek, @weshaggard, @benbp

Sync eng/common directory with azure-sdk-tools for PR 4544 (#4080)
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

target new version (#4079)
  eng/common/testproxy/target_version.txt
Owners: @danieljurek, @weshaggard, @benbp

Add package source override to toc script.
  eng/common/scripts/Update-DocsMsToc.ps1
Owners: @danieljurek, @weshaggard, @benbp

Core November release
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Identity November release
  sdk/identity/azure-identity/CHANGELOG.md
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Handle helm version modifiers in stress test min version check
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Owners: @danieljurek, @weshaggard, @benbp

Handle helm version modifiers in stress test min version check (#4085)
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Owners: @danieljurek, @weshaggard, @benbp

page blob download support
  sdk/storage/azure-storage-datamovement/CMakeLists.txt
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/job_engine.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/tasks/download_page_blob_to_file_task.hpp
  sdk/storage/azure-storage-datamovement/src/job_engine_serialization.cpp
  sdk/storage/azure-storage-datamovement/src/job_engine_task_generation.cpp
  sdk/storage/azure-storage-datamovement/src/tasks/download_page_blob_to_file_task.cpp
  sdk/storage/azure-storage-datamovement/test/ut/blob_transfer_manager_download_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

fix build errors
  sdk/storage/azure-storage-datamovement/src/job_engine_task_generation.cpp
  sdk/storage/azure-storage-datamovement/src/tasks/download_page_blob_to_file_task.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

fix build errors
  sdk/storage/azure-storage-datamovement/src/job_engine_task_generation.cpp
  sdk/storage/azure-storage-datamovement/src/tasks/download_page_blob_to_file_task.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Add package source override to toc script. (#4081)
  eng/common/scripts/Update-DocsMsToc.ps1
Owners: @danieljurek, @weshaggard, @benbp

PR
  .vscode/cspell.json
  sdk/core/azure-core/cgmanifest.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

node 18
  eng/common/pipelines/templates/steps/check-spelling.yml
Owners: @danieljurek, @weshaggard, @benbp

nppm
  eng/common/spelling/Invoke-Cspell.ps1
Owners: @danieljurek, @weshaggard, @benbp

npm
  eng/common/spelling/Invoke-Cspell.ps1
Owners: @danieljurek, @weshaggard, @benbp

bug in cspell, freezed on txt files
  .vscode/cspell.json
  eng/common/pipelines/templates/steps/check-spelling.yml
  eng/common/spelling/Invoke-Cspell.ps1
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @danieljurek, @weshaggard, @benbp

AntonComment extra space
  sdk/core/azure-core-tracing-opentelemetry/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/perf/test/CMakeLists.txt
  sdk/identity/azure-identity/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-common/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-queues/test/ut/CMakeLists.txt
  sdk/template/azure-template/test/CMakeLists.txt
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard

cspell issues in cpp branch , needs updated node, and cspell and npx need to be installed for cspell to run
  eng/common/pipelines/templates/steps/check-spelling.yml
  eng/common/spelling/Invoke-Cspell.ps1
Owners: @danieljurek, @weshaggard, @benbp

cspell
  .vscode/cspell.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

cspell issues in cpp branch , needs updated node, and cspell and npx need to be installed for cspell to run (#4086)
  eng/common/pipelines/templates/steps/check-spelling.yml
  eng/common/spelling/Invoke-Cspell.ps1
Owners: @danieljurek, @weshaggard, @benbp
