Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @LarryOsterman, @ahsonkhan, @antkmsft, @gearama, @schaabs, @Azure/azure-sdk-write-identity, @gkostal, @anilba06, @ahmadmsft, @RickWinter, @vinjiang, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

Increment package version after release of azure-data-tables (#5710)
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/src/private/package_version.hpp
Owners: @gearama, @LarryOsterman, @antkmsft, @ahsonkhan

Update permissions to create keys and address pr feedback (rename test var and method to remove 'valid').
  sdk/identity/azure-identity/test/ut/managed_identity_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Address PR feedback - nits.
  sdk/identity/azure-identity/src/managed_identity_source.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Fix remaining rename of local variable.
  sdk/identity/azure-identity/test/ut/managed_identity_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Removal of the devops release PAT
  eng/common/pipelines/templates/steps/validate-all-packages.yml
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
  eng/common/scripts/Validate-All-Packages.ps1
  eng/common/scripts/Validate-Package.ps1
Owners: @Azure/azure-sdk-eng

Updates for feedback
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Validate-Package.ps1
Owners: @Azure/azure-sdk-eng

Don't pass in the access token, just use the AzureCLI task and do everything in the scripts
  eng/common/pipelines/templates/steps/validate-all-packages.yml
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
  eng/common/scripts/Validate-All-Packages.ps1
  eng/common/scripts/Validate-Package.ps1
Owners: @Azure/azure-sdk-eng

Prepare for the June Identity GA release. (#5695)
  .vscode/cspell.json
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/managed_identity_source.cpp
  sdk/identity/azure-identity/src/private/package_version.hpp
  sdk/identity/azure-identity/test/ut/managed_identity_credential_test.cpp
Owners: @rickwinter, @LarryOsterman, @antkmsft, @schaabs, @ahsonkhan, @gearama, @Azure/azure-sdk-write-identity

Increment package version after release of azure-messaging-eventhubs
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/private/package_version.hpp
Owners: @LarryOsterman, @antkmsft, @ahsonkhan, @gearama, @RickWinter

Increment package version after release of azure-identity
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Increment package version after release of azure-messaging-eventhubs (#5713)
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/private/package_version.hpp
Owners: @LarryOsterman, @antkmsft, @ahsonkhan, @gearama, @RickWinter

Storage June Release (#5702)
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/vcpkg.json
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/vcpkg.json
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/vcpkg.json
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/vcpkg.json
  sdk/storage/azure-storage-queues/CHANGELOG.md
  sdk/storage/azure-storage-queues/vcpkg.json
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Increment package version after release of azure-storage-common
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/private/package_version.hpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Increment package version after release of azure-storage-blobs
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Increment package version after release of azure-storage-files-datalake
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Increment package version after release of azure-storage-files-shares
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Increment package version after release of azure-storage-queues
  sdk/storage/azure-storage-queues/CHANGELOG.md
  sdk/storage/azure-storage-queues/src/private/package_version.hpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Increment version for storage releases (#5715)
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
  sdk/storage/azure-storage-queues/CHANGELOG.md
  sdk/storage/azure-storage-queues/src/private/package_version.hpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Increment package version after release of azure-identity (#5714)
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Fix prepare-pipelines line wrapping
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Owners: @Azure/azure-sdk-eng

Fix prepare-pipelines line wrapping (#5716)
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Owners: @Azure/azure-sdk-eng

Add back-ticks around the WWW-Authenticate header name in exception message.
  sdk/identity/azure-identity/src/managed_identity_source.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

remove leftover files
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-convenience.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-inspection.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-udt_macro.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Sync eng/common directory with azure-sdk-tools for PR 8388 (#5704)
  eng/common/pipelines/templates/steps/validate-all-packages.yml
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
  eng/common/scripts/Validate-All-Packages.ps1
  eng/common/scripts/Validate-Package.ps1
Owners: @Azure/azure-sdk-eng

Add back-ticks around the WWW-Authenticate header name in exception (#5717)
  sdk/identity/azure-identity/src/managed_identity_source.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

reww
  sdk/core/azure-core/README.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

update changelog
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

remove left over file
  sdk/core/azure-core/test/nlohmann-json-test/CMakeLists.txt
  sdk/core/azure-core/test/nlohmann-json-test/src/test_utils.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Trivial change
  sdk/core/azure-core/README.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Update spelling dependencies
  eng/common/spelling/package-lock.json
Owners: @Azure/azure-sdk-eng

remove some doxygen comments
  sdk/core/azure-core/inc/azure/core/internal/json/json.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @gearama, @LarryOsterman

Update spelling dependencies (#5719)
  eng/common/spelling/package-lock.json
Owners: @Azure/azure-sdk-eng

Update CodeownersLinter version to 1.0.0-dev.20240614.4
  eng/common/pipelines/codeowners-linter.yml
Owners: @Azure/azure-sdk-eng

Update CodeownersLinter version to 1.0.0-dev.20240614.4 (#5720)
  eng/common/pipelines/codeowners-linter.yml
Owners: @Azure/azure-sdk-eng

unpin pester now that 5.6.0 is on the agent
  eng/common/pipelines/templates/steps/run-pester-tests.yml
Owners: @Azure/azure-sdk-eng

Update macos image from 11 to latest
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Owners: @Azure/azure-sdk-eng

Bring forward working parts
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/build-test-resource-config.yml
Owners: @Azure/azure-sdk-eng

SubConfig-Helpers.ps1 changes
  eng/common/TestResources/SubConfig-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Merge subscription configuration file values with the supplied subscription config
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/sub-config/AzurePublicMsft.json
Owners: @Azure/azure-sdk-eng

Collapse into a single task
  eng/common/TestResources/build-test-resource-config.yml
Owners: @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
/**                      @rickwinter @LarryOsterman
/sdk/                    @rickwinter @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @gearama
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @ahsonkhan
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @gearama @LarryOsterman @Azure/azure-sdk-write-identity

###########
# Client SDKs
###########

# ServiceOwners: @gkostal @anilba06 @ahmadmsft
# ServiceLabel: %Attestation

# PRLabel: %Attestation
/sdk/attestation/        @gkostal @anilba06 @ahmadmsft @LarryOsterman @rickwinter

# AzureSdkOwners: @LarryOsterman
# ServiceLabel: %Event Hubs
# PRLabel: %Event Hubs
/sdk/eventhubs/           @LarryOsterman @antkmsft @ahsonkhan @gearama @RickWinter

# AzureSdkOwners: @gearama
# ServiceLabel:  %KeyVault
# PRLabel: %KeyVault
/sdk/keyvault/           @gearama @antkmsft @rickwinter @LarryOsterman

# ServiceOwners:@vinjiang @Jinming-Hu @EmmaZhu 
# ServiceLabel: %Storage

# PRLabel: %Storage
/sdk/storage/            @vinjiang @Jinming-Hu @EmmaZhu @antkmsft @gearama @LarryOsterman @microzchang

# AzureSdkOwners: @gearama
# ServiceLabel: %Tables
# PRLabel: %Tables
/sdk/tables/            @gearama @LarryOsterman @antkmsft @ahsonkhan

# AzureSdkOwners: @danieljurek
# ServiceLabel: %EngSys
# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard @LarryOsterman @RickWinter

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/eng/common/             @Azure/azure-sdk-eng
