Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @rickwinter, @ronniegeraghty, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                @jsquire @rickwinter @ronniegeraghty

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama @LarryOsterman

###########
# Client SDKs
###########

# PRLabel: %Attestation
/sdk/attestation/        @LarryOsterman @gkostal @anilba06 @kroshkina-ms @ahmadmsft @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @EmmaZhu @antkmsft @vhvb1989 @gearama @LarryOsterman @microzchang

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek

Update prepare-pipelines flags (#4207)
  eng/pipelines/prepare-pipelines.yml
Owners: @danieljurek, @weshaggard, @benbp

Migrate eng/common (except job-matrix) to Ubuntu 22.04
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/jobs/perf.yml
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Owners: @danieljurek, @weshaggard, @benbp

sample , self pr
  sdk/keyvault/azure-security-keyvault-administration/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/rest_client.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/settings_client.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/settings_client_options.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/keyvault_settings_common_request.cpp
  sdk/keyvault/azure-security-keyvault-administration/src/private/administration_constants.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/private/keyvault_settings_common_request.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/settings_client.cpp
  sdk/keyvault/azure-security-keyvault-administration/test/samples/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/test/samples/sample1-basic-operations/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/test/samples/sample1-basic-operations/sample1_administration.cpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/settings_client_test.cpp
  sdk/keyvault/azure-security-keyvault-administration/vcpkg.json
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Reset connection pool upon failure to read response
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_session_private.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

cspell
  sdk/core/azure-core/src/http/curl/curl_session_private.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

format
  sdk/core/azure-core/src/http/curl/curl_session_private.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

format
  sdk/core/azure-core/src/http/curl/curl.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Add package helper to common
  eng/common/scripts/common.ps1
Owners: @danieljurek, @weshaggard, @benbp

Update eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Helpers/Package-Helpers.ps1
Owners: @danieljurek, @weshaggard, @benbp

add deprecated message to display name
  eng/common/scripts/Helpers/Package-Helpers.ps1
Owners: @danieljurek, @weshaggard, @benbp

typo
  eng/common/scripts/Helpers/Package-Helpers.ps1
Owners: @danieljurek, @weshaggard, @benbp

Give the csv flexibility to onboard not new package to Docs.Ms
  eng/common/scripts/Update-DocsMsPackages.ps1
Owners: @danieljurek, @weshaggard, @benbp

Use placeholder if the accurate msservice not decided yet
  eng/common/scripts/Update-DocsMsMetadata.ps1
Owners: @danieljurek, @weshaggard, @benbp

reformat
  eng/common/scripts/Helpers/Package-Helpers.ps1
Owners: @danieljurek, @weshaggard, @benbp

typo again
  eng/common/scripts/Helpers/Package-Helpers.ps1
Owners: @danieljurek, @weshaggard, @benbp

Sync eng/common directory with azure-sdk-tools for PR 4985 (#4209)
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Update-DocsMsMetadata.ps1
  eng/common/scripts/Update-DocsMsPackages.ps1
  eng/common/scripts/common.ps1
Owners: @danieljurek, @weshaggard, @benbp

tests
  sdk/keyvault/assets.json
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/settings_client.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/settings_client_options.hpp
  sdk/keyvault/azure-security-keyvault-administration/samples/README.md
  sdk/keyvault/azure-security-keyvault-administration/samples/sample1_administration.md
  sdk/keyvault/azure-security-keyvault-administration/src/settings_client.cpp
  sdk/keyvault/azure-security-keyvault-administration/test/samples/sample1-basic-operations/sample1_administration.cpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/settings_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/settings_client_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_rotation_policy_test_live.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

clang
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/rest_client.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/keyvault_settings_common_request.cpp
  sdk/keyvault/azure-security-keyvault-administration/src/private/keyvault_settings_common_request.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/settings_client.cpp
  sdk/keyvault/azure-security-keyvault-administration/test/samples/sample1-basic-operations/sample1_administration.cpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/settings_client_test.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Mind your language .. Sir ...
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/samples/sample1_administration.md
  sdk/keyvault/azure-security-keyvault-administration/test/samples/sample1-basic-operations/sample1_administration.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

comments
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/settings_client.hpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

removed preprocessor directives
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/settings_client.hpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Review feedback
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

dec release protocol layer (#4102)
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/src/rest_client.cpp
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

remove version id inTaggedBlobItem and add unit test for cold tier (#4121)
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/src/rest_client.cpp
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

datalake append/flush with lease (#4110)
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/rest_client.cpp
  sdk/storage/azure-storage-files-datalake/swagger/README.md
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/DataLakeFileClientTest.AppendFileWithLease.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/DataLakeFileClientTest.FlushFileWithLease.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

unit_test_for_file_invalid_xml (#4113)
  sdk/storage/azure-storage-files-shares/test/ut/recordings/FileShareDirectoryClientTest.ListFilesAndDirectoriesEncoded.json
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

fix conversation
  sdk/storage/assets.json
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/rest_client.cpp
  sdk/storage/azure-storage-files-datalake/swagger/README.md
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/DataLakeFileClientTest.AppendFileWithLease.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/DataLakeFileClientTest.FlushFileWithLease.json
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/test/ut/recordings/FileShareDirectoryClientTest.ListFilesAndDirectoriesEncoded.json
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

removed template class
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/dll_import_export.hpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Migrate from win2019 to win2022 (#4157)
  eng/pipelines/daily-verification.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/stages/archetype-cpp-release.yml
  eng/pipelines/templates/stages/platform-matrix-cmakegenerate.json
  eng/pipelines/templates/stages/platform-matrix-cmakesourcegenerate.json
  eng/pipelines/templates/stages/platform-matrix-live.json
  eng/pipelines/templates/stages/platform-matrix.json
  eng/scripts/Get-BinarySizes.ps1
Owners: @danieljurek, @weshaggard, @benbp

dll clang
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/dll_import_export.hpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Rick PR
  sdk/keyvault/azure-security-keyvault-administration/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/NOTICE.txt
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/rest_client.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/settings_client.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/settings_client_options.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/keyvault_settings_common_request.cpp
  sdk/keyvault/azure-security-keyvault-administration/src/private/administration_constants.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/private/keyvault_settings_common_request.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/settings_client.cpp
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/vcpkg.json
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Storage January release (#4212)
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/src/rest_client.cpp
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/rest_client.cpp
  sdk/storage/azure-storage-files-datalake/swagger/README.md
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Use Azure Pipelines and workaround for WSL installation
  eng/pipelines/templates/stages/platform-matrix.json
  eng/scripts/Install-WSL.ps1
Owners: @danieljurek, @weshaggard, @benbp

Only update once
  eng/scripts/Install-WSL.ps1
Owners: @danieljurek, @weshaggard, @benbp

Use Azure Pipelines and workaround for WSL installation (#4215)
  eng/pipelines/templates/stages/platform-matrix.json
  eng/scripts/Install-WSL.ps1
Owners: @danieljurek, @weshaggard, @benbp

Audit string comparisons (#4197)
  samples/helpers/get-env/src/get_env.cpp
  sdk/attestation/azure-security-attestation/samples/policy-certificates/cryptohelpers.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/inc/azure/core/internal/strings.hpp
  sdk/core/azure-core/inc/azure/core/url.hpp
  sdk/core/azure-core/src/datetime.cpp
  sdk/core/azure-core/src/environment_log_level_listener.cpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/src/http/raw_response.cpp
  sdk/core/azure-core/src/http/request.cpp
  sdk/core/azure-core/src/http/url.cpp
  sdk/core/azure-core/src/http/user_agent.cpp
  sdk/core/azure-core/src/strings.cpp
  sdk/core/azure-core/src/tracing/tracing.cpp
  sdk/core/azure-core/test/ut/string_test.cpp
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_rotation_policy.cpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-common/src/shared_key_policy.cpp
  sdk/storage/azure-storage-common/test/ut/test_base.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/rest_client.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @schaabs, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

Remove noexcept specification from Azure::DateTime::clock::now() (#4198)
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/datetime.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

More accurate argument type for the ExtendableEnumeration == and != (#4199)
  sdk/core/azure-core/inc/azure/core/internal/extendable_enumeration.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

noexcept adjustments (#4200)
  sdk/core/azure-core/inc/azure/core/nullable.hpp
  sdk/core/azure-core/inc/azure/core/operation.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

PR follow-ups (#4201)
  sdk/core/azure-core/CHANGELOG.md
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/inc/azure/identity/detail/token_cache.hpp
  sdk/identity/azure-identity/src/client_credential_core.cpp
  sdk/identity/azure-identity/test/ut/token_cache_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs
