Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @rickwinter, @ronniegeraghty, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                @jsquire @rickwinter @ronniegeraghty

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama @LarryOsterman

###########
# Client SDKs
###########

# PRLabel: %Attestation
/sdk/attestation/        @LarryOsterman @gkostal @anilba06 @kroshkina-ms @ahmadmsft @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @EmmaZhu @antkmsft @vhvb1989 @gearama @LarryOsterman @microzchang

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek

f
  sdk/storage/azure-storage-blobs/README.md
  sdk/storage/azure-storage-common/README.md
  sdk/storage/azure-storage-files-datalake/README.txt
  sdk/storage/azure-storage-files-shares/README.txt
  sdk/storage/azure-storage-queues/README.txt
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

add README
  sdk/storage/README.md
  sdk/storage/azure-storage-blobs/README.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

add storage common README
  sdk/storage/azure-storage-common/README.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

f
  sdk/storage/azure-storage-files-datalake/README.md
  sdk/storage/azure-storage-files-shares/README.md
  sdk/storage/azure-storage-queues/README.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

ff
  sdk/storage/README.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

update blob readme
  sdk/storage/azure-storage-blobs/README.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

f2
  sdk/storage/README.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

f3
  sdk/storage/README.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

fix conversation
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

fix conversation
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Add wil dependency
  sdk/core/azure-core/vcpkg/vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Fix vcpkg install
  cmake-modules/AzureVcpkg.cmake
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Add credscan to GenerateReleaseArtifacts
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @weshaggard, @benbp

Prepare OpenTelemetry for beta release (#4320)
  doc/DistributedTracing.md
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
  sdk/core/azure-core-tracing-opentelemetry/vcpkg/Config.cmake.in
  sdk/core/azure-core-tracing-opentelemetry/vcpkg/vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

trigger pipelines
  sdk/core/azure-core/README.md
  sdk/identity/azure-identity/README.md
  sdk/keyvault/README.md
  sdk/storage/README.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

try again
  README.md
  sdk/attestation/azure-security-attestation/README.md
  sdk/core/azure-core/README.md
  sdk/identity/azure-identity/README.md
  sdk/keyvault/README.md
  sdk/storage/README.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @schaabs, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

tryyrt
  sdk/core/azure-core/src/datetime.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

update target version to newest one that includes .NET body bugfix as well as renames the proxy back to azure.sdk.tools.testproxy (#4325)
  eng/common/testproxy/target_version.txt
Owners: @danieljurek, @weshaggard, @benbp

Enable nodepool update via bicep and update node SKUs (#4322)
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

s
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @weshaggard, @benbp

update artifacts
  sdk/keyvault/ci.yml
Owners: @danieljurek

Fix vcpkg install (#4327)
  cmake-modules/AzureVcpkg.cmake
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Remove mention of testing related changes from telemetry changelog
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

remove error
  sdk/keyvault/azure-security-keyvault-administration/vcpkg.json
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Make sure PRs modifying markdown files within the repo get CI triggered (#4323)
  sdk/core/ci.yml
Owners: @danieljurek

revert changes that trigger pipelines
  README.md
  sdk/attestation/azure-security-attestation/README.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/src/datetime.cpp
  sdk/identity/azure-identity/README.md
  sdk/keyvault/README.md
  sdk/storage/README.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @schaabs, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

remove empty lines
  sdk/core/azure-core/README.md
  sdk/identity/azure-identity/README.md
  sdk/keyvault/README.md
  sdk/storage/README.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

Temporarily disable error handling for Get-AzKeyVault -InRemovedState (#4329)
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Owners: @danieljurek, @weshaggard, @benbp

Update sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Update sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

try
  sdk/keyvault/azure-security-keyvault-administration/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/Config.cmake.in
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/vcpkg.json
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Remove mention of testing related changes from telemetry changelog (#4331)
  sdk/core/azure-core-tracing-opentelemetry/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

gfd
  sdk/keyvault/azure-security-keyvault-administration/CMakeLists.txt
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

folderlist
  cmake-modules/FolderList.cmake
  sdk/keyvault/azure-security-keyvault-administration/CMakeLists.txt
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Add credscan to GenerateReleaseArtifacts (#4328)
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @weshaggard, @benbp

Always release to vcpkg when doing Daily Release
  eng/pipelines/templates/steps/vcpkg-publish.yml
  eng/scripts/Test-ShouldReleaseToVcpkg.ps1
Owners: @danieljurek, @weshaggard, @benbp

put back core
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/Config.cmake.in
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/vcpkg.json
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Add ability to skip live tests via variable
  eng/pipelines/templates/jobs/live.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

Use 1ES agents instead of Azure Pipelines
  eng/pipelines/templates/stages/platform-matrix-live.json
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

Compilation fixes for UWP
  sdk/core/azure-core/vcpkg/Config.cmake.in
  sdk/core/azure-core/vcpkg/vcpkg.json
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs
