Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @schaabs, @vinjiang, @katmsft, @Jinming-Hu, @danieljurek, @weshaggard, @benbp

update
  sdk/core/azure-core-test/inc/azure/core/test/interceptor_manager.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Update to a commit sha from 11-10-2021, after last SDK release
  eng/vcpkg-commit.txt
Owners: @danieljurek, @weshaggard, @benbp

remove header
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/identity/azure-identity/test/ut/CMakeLists.txt
  sdk/identity/azure-identity/test/ut/credential_base_test.hpp
  sdk/identity/azure-identity/test/ut/token_credential_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @schaabs

missing breakline
  sdk/identity/azure-identity/test/ut/token_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama

update live test config
  sdk/identity/ci.yml
Owners: @danieljurek

checkpoint
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.customerprovidedkey.json
  sdk/storage/azure-storage-common/test/ut/test_base.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @antkmsft, @rickwinter, @vhvb1989, @gearama

ignore spelling on recordings
  .vscode/cspell.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Treat third-party dependencies as system to avoid triggering warnings in code we don't control
  sdk/storage/azure-storage-common/CMakeLists.txt
Owners: @vinjiang, @katmsft, @Jinming-Hu, @antkmsft, @rickwinter, @vhvb1989, @gearama

support to skip LIVEONLY
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_context_manager.hpp
  sdk/core/azure-core-test/src/record_policy.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.hpp
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.customerprovidedkey.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @vinjiang, @katmsft, @Jinming-Hu

update live only tests
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @antkmsft, @rickwinter, @vhvb1989, @gearama

support unique ids as part of the url path
  sdk/core/azure-core-test/src/interceptor_manager.cpp
  sdk/identity/azure-identity/test/ut/recordings/TokenCredentialTest.ClientSecret.json
  sdk/identity/azure-identity/test/ut/recordings/TokenCredentialTest.EnvironmentCredential.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @schaabs

Taking the parameter literally
  eng/common/scripts/Update-DocsMsPackages.ps1
Owners: @danieljurek, @weshaggard, @benbp

container recordings
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.accessconditionlastmodifiedtime.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.accessconditionleaseid.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.accessconditiontags.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.deleteblob.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.questionmarkblobname.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.specialblobname.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.tags.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @antkmsft, @rickwinter, @vhvb1989, @gearama

Support linux disk matrics
  eng/common/scripts/Write-FileSystemMetrics.ps1
Owners: @danieljurek, @weshaggard, @benbp

Add disk metrics script and template
  eng/common/pipelines/templates/steps/write-filesystemmetrics.yml
  eng/common/scripts/Write-FileSystemMetrics.ps1
Owners: @danieljurek, @weshaggard, @benbp

Add continueOnError to write-filesystemmetrics.yml
  eng/common/pipelines/templates/steps/write-filesystemmetrics.yml
Owners: @danieljurek, @weshaggard, @benbp

Sync eng/common directory with azure-sdk-tools for PR 2381 (#3162)
  eng/common/pipelines/templates/steps/write-filesystemmetrics.yml
  eng/common/scripts/Write-FileSystemMetrics.ps1
Owners: @danieljurek, @weshaggard, @benbp

appendBlob
  sdk/core/azure-core-test/src/record_policy.cpp
  sdk/storage/azure-storage-blobs/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.hpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.hpp
  sdk/storage/azure-storage-blobs/test/ut/recordings/AppendBlobClientTest.accessconditionetag.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/AppendBlobClientTest.accessconditionlastmodifiedtime.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/AppendBlobClientTest.accessconditionleaseid.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/AppendBlobClientTest.createappenddelete.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/AppendBlobClientTest.createifnotexists.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/AppendBlobClientTest.createwithtags.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/AppendBlobClientTest.seal.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @vinjiang, @katmsft, @Jinming-Hu

Sync eng/common directory with azure-sdk-tools for PR 2363 (#3159)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

fix
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @antkmsft, @rickwinter, @vhvb1989, @gearama

fresh recordings
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.hpp
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.AccessConditionLastModifiedTime.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.AccessConditionLeaseId.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.AccessConditionTags.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.BlobContainerCreateDelete.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.DeleteBlob.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.Lease.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.ListBlobsByHierarchy.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.ListBlobsFlat.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.ListBlobsOtherStuff.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.Metadata.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.QuestionMarkBlobName.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.SpecialBlobName.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.Tags.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @vinjiang, @katmsft, @Jinming-Hu

use skip test macro
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.CreateDelete.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @antkmsft, @rickwinter, @vhvb1989, @gearama

sas test as live only
  sdk/storage/azure-storage-blobs/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/ut/blob_sas_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @antkmsft, @rickwinter, @vhvb1989, @gearama

Taking the parameter literally (#3166)
  eng/common/scripts/Update-DocsMsPackages.ps1
Owners: @danieljurek, @weshaggard, @benbp

MOve macos up to 10.15 or remove where there is sufficient 10.15 coverage
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

Added new API to get list of github issues
  eng/common/scripts/Invoke-GitHubAPI.ps1
Owners: @danieljurek, @weshaggard, @benbp

update recordings
  sdk/storage/azure-storage-blobs/test/ut/recordings/AppendBlobClientTest.AccessConditionETag.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/AppendBlobClientTest.AccessConditionLastModifiedTime.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/AppendBlobClientTest.AccessConditionLeaseId.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/AppendBlobClientTest.CreateAppendDelete.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/AppendBlobClientTest.CreateIfNotExists.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/AppendBlobClientTest.CreateWithTags.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/AppendBlobClientTest.Seal.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @antkmsft, @rickwinter, @vhvb1989, @gearama

remove old recordings
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.accessconditionlastmodifiedtime.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.accessconditionleaseid.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.accessconditiontags.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.accesscontrollist.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.deleteblob.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.lease.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.listblobsbyhierarchy.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.listblobsflat.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.listblobsotherstuff.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.metadata.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.questionmarkblobname.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.specialblobname.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.tags.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @antkmsft, @rickwinter, @vhvb1989, @gearama

Update vcpkg and dependencies to the newer commit sha from 11-10-2021, after last SDK release (#3154)
  eng/vcpkg-commit.txt
  sdk/storage/azure-storage-common/CMakeLists.txt
Owners: @danieljurek, @weshaggard, @benbp, @vinjiang, @katmsft, @Jinming-Hu, @antkmsft, @rickwinter, @vhvb1989, @gearama

checkpoint
  sdk/storage/azure-storage-blobs/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.hpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.hpp
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlockBlobClientTest.CreateDelete.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlockBlobClientTest.SoftDelete.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @antkmsft, @rickwinter, @vhvb1989, @gearama

Move macos up to 10.15 or remove where there is sufficient 10.15 coverage (#3169)
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

Update cspell.json
  .vscode/cspell.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Added new API to get list of github issues (#3170)
  eng/common/scripts/Invoke-GitHubAPI.ps1
Owners: @danieljurek, @weshaggard, @benbp

Use named parameter arguments and explicitly set switch argument values
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

checkpoint
  sdk/core/azure-core-test/inc/azure/core/test/interceptor_manager.hpp
  sdk/core/azure-core-test/inc/azure/core/test/network_models.hpp
  sdk/core/azure-core-test/inc/azure/core/test/playback_http_client.hpp
  sdk/core/azure-core-test/src/playback_http_transport.cpp
  sdk/core/azure-core-test/src/record_policy.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.hpp
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlockBlobClientTest.DownloadTransactionalHash.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlockBlobClientTest.SmallUploadDownload.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlockBlobClientTest.UploadWithTags.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @vinjiang, @katmsft, @Jinming-Hu

windows
  sdk/core/azure-core-test/src/playback_http_transport.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @vinjiang, @katmsft, @Jinming-Hu

quick fix
  sdk/core/azure-core-test/src/playback_http_transport.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

update recordings
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlockBlobClientTest.CreateDelete.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlockBlobClientTest.SoftDelete.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @antkmsft, @rickwinter, @vhvb1989, @gearama

Use named parameter arguments and explicitly set switch argument values (#3171)
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

Replacing gmtime with gmtime_r
  sdk/core/azure-core/src/datetime.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @antkmsft @rickwinter @vhvb1989 @gearama

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek
