Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama, @ronniegeraghty, @Azure/azure-sdk-write-identity, @RickWinter, @gkostal, @anilba06, @ahmadmsft, @vinjiang, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

Integrate the exact copy of #6581 - to make sure we're testing the same change with libcurl >= 8.12, and also make future merging easier
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/curl_transport.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/test/ut/curl_options_test.cpp
  sdk/core/ci.yml
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Update cspell
  .vscode/cspell.json
Owners: @rickwinter, @LarryOsterman

Move feature to bugfix
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Sync with changes in #6574
  .vscode/cspell.json
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama

Fix Windows error for failing curl SSL cache
  sdk/core/azure-core/src/http/curl/curl.cpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Fix unused parameter warning in win_http_transport.cpp, as in #6579
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Update changelog, cspell, and conditional init m_sslShareHandle
  .vscode/cspell.json
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/http/curl/curl.cpp
Owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama

Specify run directory as repo root for mcp runner
  eng/common/mcp/azure-sdk-mcp.ps1
Owners: @Azure/azure-sdk-eng

Use correct leading slash in common.ps1 repo root resolution
  eng/common/scripts/common.ps1
Owners: @Azure/azure-sdk-eng

Fix Windows error for failing curl SSL cache (#6582)
  .vscode/cspell.json
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama

Update libcurl transport pool to include all options into connection key
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/test/ut/curl_connection_pool_test.cpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Make code to compile with either newer or older version of opentelemetry-cpp
  sdk/core/azure-core-tracing-opentelemetry/test/ut/test_exporter.hpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Update vcpkg baseline
  cmake-modules/AzureVcpkg.cmake
  vcpkg.json
Owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama

Clang-format
  sdk/core/azure-core-tracing-opentelemetry/test/ut/test_exporter.hpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Make code to compile with either newer or older version of opentelemetry-cpp
  sdk/core/azure-core-tracing-opentelemetry/test/ut/test_exporter.hpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Suppress otel warnings in stress test code
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/src/eventhubs_stress_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/src/scenarios/inc/batch_stress_tests.hpp
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/src/scenarios/inc/shared_functions.hpp
Owners: @LarryOsterman, @antkmsft, @gearama, @RickWinter

Update CI to update vcpkg cache if the run is PR-initiated
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @weshaggard, @benbp

Clang-format
  sdk/core/azure-core-tracing-opentelemetry/test/ut/test_exporter.hpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Turn SSL caching off by default
  sdk/core/azure-core/inc/azure/core/http/curl_transport.hpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Integrate the exact copy of #6581 - to make sure we're testing the same change with libcurl >= 8.12, and also make future merging easier
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/curl_transport.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/test/ut/curl_options_test.cpp
  sdk/core/ci.yml
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Update cspell
  .vscode/cspell.json
Owners: @rickwinter, @LarryOsterman

Move feature to bugfix
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Update vcpkg.yml
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @weshaggard, @benbp

Copy #6582 to verify against the latest libcurl
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/curl_transport.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/test/ut/curl_options_test.cpp
  sdk/core/ci.yml
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Undo unnecessary changes
  .vscode/cspell.json
  sdk/core/azure-core/src/http/curl/curl.cpp
Owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama

Changed QueueProperties.ApproximateMessagesCount from int to long
  sdk/storage/assets.json
  sdk/storage/azure-storage-queues/CHANGELOG.md
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/queue_client.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/queue_responses.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/rest_client.hpp
  sdk/storage/azure-storage-queues/src/queue_client.cpp
  sdk/storage/azure-storage-queues/src/rest_client.cpp
  sdk/storage/azure-storage-queues/swagger/README.md
  sdk/storage/azure-storage-queues/test/ut/queue_client_test.cpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Update libcurl transport pool to include all options into connection key (#6583)
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/test/ut/curl_connection_pool_test.cpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Update vcpkg baseline (#6574)
  cmake-modules/AzureVcpkg.cmake
  eng/pipelines/templates/steps/vcpkg.yml
  sdk/core/azure-core-tracing-opentelemetry/test/ut/test_exporter.hpp
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/src/eventhubs_stress_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/src/scenarios/inc/batch_stress_tests.hpp
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/src/scenarios/inc/shared_functions.hpp
  vcpkg.json
Owners: @rickwinter, @LarryOsterman, @danieljurek, @weshaggard, @benbp, @antkmsft, @gearama, @RickWinter

Remove PR commenting variable
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

use staging url for testing
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Switch back to prod endpoint
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Changed QueueProperties.ApproximateMessagesCount from int to long (#6584)
  sdk/storage/assets.json
  sdk/storage/azure-storage-queues/CHANGELOG.md
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/queue_client.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/queue_responses.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/rest_client.hpp
  sdk/storage/azure-storage-queues/src/queue_client.cpp
  sdk/storage/azure-storage-queues/src/rest_client.cpp
  sdk/storage/azure-storage-queues/swagger/README.md
  sdk/storage/azure-storage-queues/test/ut/queue_client_test.cpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Sync eng/common directory with azure-sdk-tools for PR 10286 (#6588)
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Only convert to json if response content is of json type
  eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Only convert to json if response content is of json type (#6589)
  eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Use azsdk-pool and windows-2022 in eng/common docindex.yml
  eng/common/pipelines/templates/jobs/docindex.yml
Owners: @Azure/azure-sdk-eng

Direct traffic to credential chains doc
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/img/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/azure-identity/img/mermaidjs/DefaultAzureCredentialAuthFlow.svg
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Direct traffic to credential chains doc (#6591)
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/img/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/azure-identity/img/mermaidjs/DefaultAzureCredentialAuthFlow.svg
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Update APIView Endpoint to use API COntrollers
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Implement AZURE_TOKEN_CREDENTIALS
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/default_azure_credential.cpp
  sdk/identity/azure-identity/test/ut/default_azure_credential_test.cpp
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
/**                      @rickwinter @LarryOsterman

#Catch all for files at the root
/*                       @rickwinter @LarryOsterman @antkmsft @gearama
/sdk/                    @rickwinter @LarryOsterman

# Git Hub integration and bot rules
/.github/                @rickwinter @ronniegeraghty

# Samples
/samples/                @rickwinter @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @gearama
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @antkmsft
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @rickwinter @gearama @LarryOsterman @Azure/azure-sdk-write-identity

###########
# Client SDKs
###########

# AzureSdkOwners: @gearama
# ServiceLabel: %App Configuration
# PRLabel: %App Configuration
/sdk/appconfiguration/   @gearama @LarryOsterman @antkmsft @RickWinter

# ServiceOwners: @gkostal @anilba06 @ahmadmsft
# ServiceLabel: %Attestation

# PRLabel: %Attestation
/sdk/attestation/        @gkostal @anilba06 @ahmadmsft @LarryOsterman @rickwinter

# AzureSdkOwners: @LarryOsterman
# ServiceLabel: %Event Hubs
# PRLabel: %Event Hubs
/sdk/eventhubs/           @LarryOsterman @antkmsft @gearama @RickWinter

# AzureSdkOwners: @gearama
# ServiceLabel:  %KeyVault
# ServiceOwners:         @cheathamb36 @chen-karen @lgonsoulin

# PRLabel: %KeyVault
/sdk/keyvault/           @gearama @antkmsft @rickwinter @LarryOsterman

# ServiceOwners:@vinjiang @Jinming-Hu @microzchang
# ServiceLabel: %Storage

# PRLabel: %Storage
/sdk/storage/            @vinjiang @Jinming-Hu @EmmaZhu @antkmsft @gearama @LarryOsterman @microzchang

# AzureSdkOwners: @gearama
# ServiceLabel: %Tables
# PRLabel: %Tables
/sdk/tables/            @gearama @LarryOsterman @antkmsft

# AzureSdkOwners: @danieljurek
# ServiceLabel: %EngSys
# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard @LarryOsterman @RickWinter

# ServiceLabel: %Operator Nexus - Network Cloud
#/<NotInRepo>/           @Azure/azure-sdk-write-networkcloud

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/eng/common/             @Azure/azure-sdk-eng
/.github/workflows/      @Azure/azure-sdk-eng
/.github/CODEOWNERS      @rickwinter @ronniegeraghty @Azure/azure-sdk-eng

/.config/1espt/          @benbp @weshaggard
