Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @rickwinter, @ronniegeraghty, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                @jsquire @rickwinter @ronniegeraghty

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama @LarryOsterman

###########
# Client SDKs
###########

# PRLabel: %Attestation
/sdk/attestation/        @LarryOsterman @gkostal @anilba06 @kroshkina-ms @ahmadmsft @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @EmmaZhu @antkmsft @vhvb1989 @gearama @LarryOsterman @microzchang

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek

Create Storage DataMovement directory (#3594)
  cmake-modules/FolderList.cmake
  sdk/storage/CMakeLists.txt
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/file_io.hpp
  sdk/storage/azure-storage-common/src/file_io.cpp
  sdk/storage/azure-storage-datamovement/CHANGELOG.md
  sdk/storage/azure-storage-datamovement/CMakeLists.txt
  sdk/storage/azure-storage-datamovement/NOTICE.txt
  sdk/storage/azure-storage-datamovement/cgmanifest.json
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/blob_folder.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/datamovement_options.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/dll_import_export.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/job_properties.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/rtti.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/scheduler.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/storage_transfer_manager.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/task.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/tasks/upload_blob_from_file_task.hpp
  sdk/storage/azure-storage-datamovement/samples/CMakeLists.txt
  sdk/storage/azure-storage-datamovement/samples/datamovement_getting_started.cpp
  sdk/storage/azure-storage-datamovement/src/private/package_version.hpp
  sdk/storage/azure-storage-datamovement/src/scheduler.cpp
  sdk/storage/azure-storage-datamovement/src/storage_transfer_manager.cpp
  sdk/storage/azure-storage-datamovement/src/tasks/upload_blob_from_file_task.cpp
  sdk/storage/azure-storage-datamovement/vcpkg.json
  sdk/storage/azure-storage-datamovement/vcpkg/Config.cmake.in
  sdk/storage/azure-storage-datamovement/vcpkg/portfile.cmake
  sdk/storage/azure-storage-datamovement/vcpkg/vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

DataMovement library Upload functionalities (#3618)
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/constants.hpp
  sdk/storage/azure-storage-common/src/file_io.cpp
  sdk/storage/azure-storage-datamovement/CMakeLists.txt
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/blob_folder.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/blob_transfer_manager.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/datamovement_options.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/directory_iterator.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/job_properties.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/scheduler.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/storage_transfer_manager.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/task.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/tasks/upload_blob_from_file_task.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/tasks/upload_blobs_from_directory_task.hpp
  sdk/storage/azure-storage-datamovement/samples/datamovement_getting_started.cpp
  sdk/storage/azure-storage-datamovement/src/blob_folder.cpp
  sdk/storage/azure-storage-datamovement/src/blob_transfer_manager.cpp
  sdk/storage/azure-storage-datamovement/src/directory_iterator.cpp
  sdk/storage/azure-storage-datamovement/src/scheduler.cpp
  sdk/storage/azure-storage-datamovement/src/storage_transfer_manager.cpp
  sdk/storage/azure-storage-datamovement/src/tasks/upload_blob_from_file_task.cpp
  sdk/storage/azure-storage-datamovement/src/tasks/upload_blobs_from_directory_task.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Add blob downloading. (#3658)
  sdk/storage/azure-storage-datamovement/CMakeLists.txt
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/tasks/download_blob_directory_task.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/tasks/download_blob_to_file_task.hpp
  sdk/storage/azure-storage-datamovement/src/tasks/download_blob_directory_task.cpp
  sdk/storage/azure-storage-datamovement/src/tasks/download_blob_to_file_task.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Storage DataMovement: Job suspension/resumption/cancellation Error/Progress handling (#3662)
  sdk/storage/azure-storage-datamovement/CMakeLists.txt
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/blob_folder.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/datamovement_options.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/directory_iterator.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/job_properties.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/scheduler.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/storage_transfer_manager.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/task.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/tasks/download_blob_directory_task.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/tasks/download_blob_to_file_task.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/tasks/upload_blob_from_file_task.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/tasks/upload_blobs_from_directory_task.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/utilities.hpp
  sdk/storage/azure-storage-datamovement/samples/datamovement_getting_started.cpp
  sdk/storage/azure-storage-datamovement/src/blob_folder.cpp
  sdk/storage/azure-storage-datamovement/src/blob_transfer_manager.cpp
  sdk/storage/azure-storage-datamovement/src/directory_iterator.cpp
  sdk/storage/azure-storage-datamovement/src/job_properties.cpp
  sdk/storage/azure-storage-datamovement/src/scheduler.cpp
  sdk/storage/azure-storage-datamovement/src/storage_transfer_manager.cpp
  sdk/storage/azure-storage-datamovement/src/tasks/download_blob_directory_task.cpp
  sdk/storage/azure-storage-datamovement/src/tasks/download_blob_to_file_task.cpp
  sdk/storage/azure-storage-datamovement/src/tasks/upload_blob_from_file_task.cpp
  sdk/storage/azure-storage-datamovement/src/tasks/upload_blobs_from_directory_task.cpp
  sdk/storage/azure-storage-datamovement/src/utilities.cpp
  sdk/storage/azure-storage-datamovement/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-datamovement/test/ut/blob_transfer_manager_download_test.cpp
  sdk/storage/azure-storage-datamovement/test/ut/blob_transfer_manager_test.cpp
  sdk/storage/azure-storage-datamovement/test/ut/blob_transfer_manager_test.hpp
  sdk/storage/azure-storage-datamovement/test/ut/blob_transfer_manager_upload_test.cpp
  sdk/storage/ci.yml
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang, @danieljurek

rewrite blobfolder (#3681)
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/blob_folder.hpp
  sdk/storage/azure-storage-datamovement/samples/datamovement_getting_started.cpp
  sdk/storage/azure-storage-datamovement/src/blob_folder.cpp
  sdk/storage/azure-storage-datamovement/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-datamovement/test/ut/blob_folder_test.cpp
  sdk/storage/azure-storage-datamovement/test/ut/blob_transfer_manager_upload_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Storage Transfer Manager: Job Engine Implementation (#3742)
  sdk/storage/azure-storage-datamovement/CMakeLists.txt
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/blob_folder.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/datamovement_options.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/directory_iterator.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/filesystem.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/job_engine.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/job_properties.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/storage_transfer_manager.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/task.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/task_shared_status.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/tasks/download_blob_directory_task.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/tasks/download_blob_to_file_task.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/tasks/upload_blob_from_file_task.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/tasks/upload_blobs_from_directory_task.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/transfer_engine.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/utilities.hpp
  sdk/storage/azure-storage-datamovement/samples/datamovement_getting_started.cpp
  sdk/storage/azure-storage-datamovement/src/blob_folder.cpp
  sdk/storage/azure-storage-datamovement/src/blob_transfer_manager.cpp
  sdk/storage/azure-storage-datamovement/src/directory_iterator.cpp
  sdk/storage/azure-storage-datamovement/src/filesystem.cpp
  sdk/storage/azure-storage-datamovement/src/job_engine.cpp
  sdk/storage/azure-storage-datamovement/src/job_engine_serialization.cpp
  sdk/storage/azure-storage-datamovement/src/job_engine_task_generation.cpp
  sdk/storage/azure-storage-datamovement/src/job_properties.cpp
  sdk/storage/azure-storage-datamovement/src/storage_transfer_manager.cpp
  sdk/storage/azure-storage-datamovement/src/task_shared_status.cpp
  sdk/storage/azure-storage-datamovement/src/tasks/download_blob_directory_task.cpp
  sdk/storage/azure-storage-datamovement/src/tasks/download_blob_to_file_task.cpp
  sdk/storage/azure-storage-datamovement/src/tasks/upload_blob_from_file_task.cpp
  sdk/storage/azure-storage-datamovement/src/tasks/upload_blobs_from_directory_task.cpp
  sdk/storage/azure-storage-datamovement/src/transfer_engine.cpp
  sdk/storage/azure-storage-datamovement/src/utilities.cpp
  sdk/storage/azure-storage-datamovement/test/ut/blob_transfer_manager_download_test.cpp
  sdk/storage/azure-storage-datamovement/test/ut/blob_transfer_manager_test.cpp
  sdk/storage/azure-storage-datamovement/test/ut/blob_transfer_manager_upload_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Sequential write in downloading and directory download (#3779)
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/blob_folder.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/tasks/download_blob_to_file_task.hpp
  sdk/storage/azure-storage-datamovement/src/job_engine_serialization.cpp
  sdk/storage/azure-storage-datamovement/src/job_engine_task_generation.cpp
  sdk/storage/azure-storage-datamovement/src/tasks/download_blob_to_file_task.cpp
  sdk/storage/azure-storage-datamovement/test/ut/blob_transfer_manager_download_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Transfer Manager, copy support & journal for downloading (#3792)
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/file_io.hpp
  sdk/storage/azure-storage-common/src/file_io.cpp
  sdk/storage/azure-storage-datamovement/CMakeLists.txt
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/blob_folder.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/blob_transfer_manager.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/datamovement_options.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/job_engine.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/job_properties.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/task.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/tasks/async_copy_blob_task.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/tasks/download_blob_to_file_task.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/transfer_engine.hpp
  sdk/storage/azure-storage-datamovement/src/blob_transfer_manager.cpp
  sdk/storage/azure-storage-datamovement/src/job_engine.cpp
  sdk/storage/azure-storage-datamovement/src/job_engine_task_generation.cpp
  sdk/storage/azure-storage-datamovement/src/tasks/async_copy_blob_task.cpp
  sdk/storage/azure-storage-datamovement/src/tasks/download_blob_to_file_task.cpp
  sdk/storage/azure-storage-datamovement/src/transfer_engine.cpp
  sdk/storage/azure-storage-datamovement/src/utilities.cpp
  sdk/storage/azure-storage-datamovement/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-datamovement/test/ut/blob_transfer_manager_async_copy_test.cpp
  sdk/storage/azure-storage-datamovement/test/ut/blob_transfer_manager_download_test.cpp
  sdk/storage/azure-storage-datamovement/test/ut/blob_transfer_manager_test.cpp
  sdk/storage/azure-storage-datamovement/test/ut/blob_transfer_manager_test.hpp
  sdk/storage/azure-storage-datamovement/test/ut/blob_transfer_manager_upload_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Expose token cache internals for testing
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/identity/azure-identity/src/private/token_cache.hpp
  sdk/identity/azure-identity/src/private/token_cache_internals.hpp
  sdk/identity/azure-identity/src/token_cache.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

OnBeforeWriteLock
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/identity/azure-identity/src/private/token_cache_internals.hpp
  sdk/identity/azure-identity/src/token_cache.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

mac fix
  sdk/identity/azure-identity/src/private/token_cache_internals.hpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

First unit test
  sdk/identity/azure-identity/test/ut/CMakeLists.txt
  sdk/identity/azure-identity/test/ut/token_cache_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

mac constexpr fix
  sdk/identity/azure-identity/src/private/token_cache_internals.hpp
  sdk/identity/azure-identity/src/token_cache.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Update VCPKG Baseline due to zlib (#4027)
  vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

More tests
  sdk/identity/azure-identity/src/private/token_cache.hpp
  sdk/identity/azure-identity/src/token_cache.cpp
  sdk/identity/azure-identity/test/perf/inc/azure/identity/test/secret_credential_test.hpp
  sdk/identity/azure-identity/test/ut/credential_test_helper.cpp
  sdk/identity/azure-identity/test/ut/token_cache_test.cpp
  sdk/identity/azure-identity/test/ut/token_credential_impl_test.cpp
  sdk/identity/azure-identity/test/ut/token_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Undo perf test change
  sdk/identity/azure-identity/test/perf/inc/azure/identity/test/secret_credential_test.hpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Update changelog
  sdk/identity/azure-identity/CHANGELOG.md
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Update sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

first checkin
  sdk/keyvault/azure-security-keyvault-keys/test/perf/inc/azure/keyvault/keys/test/get_key_test.hpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Update sdk/identity/azure-identity/src/private/token_cache_internals.hpp
  sdk/identity/azure-identity/src/private/token_cache_internals.hpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

clang format
  sdk/identity/azure-identity/src/private/token_cache_internals.hpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

update baseline
  cmake-modules/AzureVcpkg.cmake
  vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

typo
  sdk/keyvault/azure-security-keyvault-keys/test/perf/inc/azure/keyvault/keys/test/get_key_test.hpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

852476da1a1ae456ba56d541c6fe7749
  cmake-modules/AzureVcpkg.cmake
  vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Fixed CURL build breaks discovered by newer openssl baselines
  sdk/core/azure-core/src/http/curl/curl.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

clang-format
  sdk/core/azure-core/src/http/curl/curl.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Fixed CURL build breaks discovered by newer openssl baselines (#4034)
  sdk/core/azure-core/src/http/curl/curl.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Update sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Update sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

pull request feedback
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/test/ut/azure_core_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Pull request feedback
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/test/ut/azure_core_test.cpp
  sdk/core/azure-core/test/ut/azure_libcurl_core_main_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

More pull request feedback
  sdk/core/azure-core/inc/azure/core/http/win_http_transport.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/core/azure-core/test/ut/azure_core_test.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base_test.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

clang-format
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

vcpkg baseline
  cmake-modules/AzureVcpkg.cmake
  vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Refreshing one token does not lock the entire container
  sdk/identity/azure-identity/src/private/token_cache_internals.hpp
  sdk/identity/azure-identity/src/token_cache.cpp
  sdk/identity/azure-identity/test/ut/token_cache_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Nit PR feedback
  sdk/identity/azure-identity/src/private/token_cache.hpp
  sdk/identity/azure-identity/src/private/token_cache_internals.hpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

valule
  sdk/identity/azure-identity/src/token_cache.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

mac fix: remove unused variable
  sdk/identity/azure-identity/test/ut/token_cache_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Add cache cleanup every ==2^n insertions, where n>=5
  sdk/identity/azure-identity/src/token_cache.cpp
  sdk/identity/azure-identity/test/ut/token_cache_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Improve tests for element locks during cleanup
  sdk/identity/azure-identity/test/ut/token_cache_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman
