Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @rickwinter, @ronniegeraghty, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                @jsquire @rickwinter @ronniegeraghty

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama @LarryOsterman

###########
# Client SDKs
###########

# PRLabel: %Attestation
/sdk/attestation/        @LarryOsterman @gkostal @anilba06 @kroshkina-ms @ahmadmsft @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @EmmaZhu @antkmsft @vhvb1989 @gearama @LarryOsterman @microzchang

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek

Switch azure pipeline pool to 1ES pool
  eng/pipelines/templates/stages/platform-matrix-live.json
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

add new variable match
  eng/scripts/Get-BinarySizes.ps1
Owners: @danieljurek, @weshaggard, @benbp

add new variable match
  eng/common/scripts/Verify-AgentOS.ps1
Owners: @danieljurek, @weshaggard, @benbp

use regex
  eng/common/scripts/Verify-AgentOS.ps1
Owners: @danieljurek, @weshaggard, @benbp

change to tls
  eng/pipelines/templates/stages/platform-matrix-live.json
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

Update doc/PerformanceTesting.md
  doc/PerformanceTesting.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Update doc/PerformanceTesting.md
  doc/PerformanceTesting.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Update doc/PerformanceTesting.md
  doc/PerformanceTesting.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

PR
  doc/PerformanceTesting.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

identicalize the comments type (#4063)
  sdk/core/azure-core-tracing-opentelemetry/src/private/package_version.hpp
  sdk/core/azure-core/src/private/package_version.hpp
  sdk/identity/azure-identity/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-certificates/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-secrets/src/private/package_version.hpp
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-common/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
  sdk/storage/azure-storage-queues/src/private/package_version.hpp
  sdk/template/azure-template/src/private/package_version.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard

Improve scenario matrix edge case handling (#4065)
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

Update doc/PerformanceTesting.md
  doc/PerformanceTesting.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

bump version to newest
  eng/common/testproxy/target_version.txt
Owners: @danieljurek, @weshaggard, @benbp

Dump out correlation id without verbose logging for resource deployment
  eng/common/TestResources/New-TestResources.ps1
Owners: @danieljurek, @weshaggard, @benbp

docV1 (#4051)
  doc/PerformanceTesting.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

sasa
  eng/pipelines/templates/jobs/live.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

bump version to newest (#4066)
  eng/common/testproxy/target_version.txt
Owners: @danieljurek, @weshaggard, @benbp

stress test addons version check
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Owners: @danieljurek, @weshaggard, @benbp

cleanup
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Owners: @danieljurek, @weshaggard, @benbp

Async WInHTTP changes to WebSockets; fixed a couple of websocket bugs reported by cognitive.
  sdk/core/azure-core/inc/azure/core/http/curl_transport.hpp
  sdk/core/azure-core/inc/azure/core/http/websockets/curl_websockets_transport.hpp
  sdk/core/azure-core/inc/azure/core/http/websockets/win_http_websockets_transport.hpp
  sdk/core/azure-core/inc/azure/core/http/win_http_transport.hpp
  sdk/core/azure-core/src/environment_log_level_listener.cpp
  sdk/core/azure-core/src/http/websockets/websockets_impl.cpp
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/core/azure-core/src/http/winhttp/win_http_websockets.cpp
  sdk/core/azure-core/test/ut/websocket_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

cspell; clang-format
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Sync eng/common directory with azure-sdk-tools for PR 4543 (#4071)
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Owners: @danieljurek, @weshaggard, @benbp

Disable proxy test on mac
  sdk/core/azure-core/test/ut/websocket_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Fixed crash caused by premature destruction of WinHttpRequest object.
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Disable proxy tests if proxy tests are disabled
  sdk/core/azure-core/test/ut/websocket_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Removed unnecessary header
  sdk/core/azure-core/src/http/curl/curl.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Fixed race condition shutting down connections due to TLS violations
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

cspell
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

moved cspell out of doxygen comments
  sdk/core/azure-core/inc/azure/core/http/win_http_transport.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

moved cspell out of doxygen comments
  sdk/core/azure-core/inc/azure/core/http/win_http_transport.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Added the ability to select OpenSSL 1.1.1n if desired. (#4045)
  .vscode/cspell.json
  CMakeSettings.json
  README.md
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/platform-matrix.json
  eng/pipelines/templates/steps/cmake-build.yml
  eng/scripts/Get-BinarySizes.ps1
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/http/curl/curl.cpp
  vcpkg-custom-ports/openssl/install-pc-files.cmake
  vcpkg-custom-ports/openssl/openssl.pc.in
  vcpkg-custom-ports/openssl/portfile.cmake
  vcpkg-custom-ports/openssl/unix/CMakeLists.txt
  vcpkg-custom-ports/openssl/unix/portfile.cmake
  vcpkg-custom-ports/openssl/unix/remove-deps.cmake
  vcpkg-custom-ports/openssl/usage
  vcpkg-custom-ports/openssl/uwp/EnableUWPSupport.patch
  vcpkg-custom-ports/openssl/uwp/make-openssl.bat
  vcpkg-custom-ports/openssl/uwp/portfile.cmake
  vcpkg-custom-ports/openssl/vcpkg-cmake-wrapper.cmake.in
  vcpkg-custom-ports/openssl/vcpkg.json
  vcpkg-custom-ports/openssl/windows/portfile.cmake
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @danieljurek, @weshaggard, @benbp

Improved names of SetEvent and ResetEvent
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

cspell
  doc/PerformanceTesting.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

clang-format
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Traces to figure out test failure
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

More traces
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Another try closing the TLS cert failure window
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

More atempts at improving CI
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

storage-nov-release-datalake-12.4.0
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/vcpkg.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

update dependency version
  sdk/storage/azure-storage-files-datalake/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/vcpkg.json
  sdk/storage/azure-storage-files-datalake/vcpkg/Config.cmake.in
  sdk/storage/azure-storage-files-datalake/vcpkg/vcpkg.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang
