Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama, @ronniegeraghty, @Azure/azure-sdk-write-identity, @RickWinter, @gkostal, @anilba06, @ahmadmsft, @vinjiang, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
/**                      @rickwinter @LarryOsterman

#Catch all for files at the root
/*                       @rickwinter @LarryOsterman @antkmsft @gearama
/sdk/                    @rickwinter @LarryOsterman

# Git Hub integration and bot rules
/.github/                @rickwinter @ronniegeraghty

# Samples
/samples/                @rickwinter @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @gearama
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @antkmsft
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @rickwinter @gearama @LarryOsterman @Azure/azure-sdk-write-identity

###########
# Client SDKs
###########

# AzureSdkOwners: @gearama
# ServiceLabel: %App Configuration
# PRLabel: %App Configuration
/sdk/appconfiguration/   @gearama @LarryOsterman @antkmsft @RickWinter

# ServiceOwners: @gkostal @anilba06 @ahmadmsft
# ServiceLabel: %Attestation

# PRLabel: %Attestation
/sdk/attestation/        @gkostal @anilba06 @ahmadmsft @LarryOsterman @rickwinter

# AzureSdkOwners: @LarryOsterman
# ServiceLabel: %Event Hubs
# PRLabel: %Event Hubs
/sdk/eventhubs/           @LarryOsterman @antkmsft @gearama @RickWinter

# AzureSdkOwners: @gearama
# ServiceLabel:  %KeyVault
# ServiceOwners:         @cheathamb36 @chen-karen @lgonsoulin

# PRLabel: %KeyVault
/sdk/keyvault/           @gearama @antkmsft @rickwinter @LarryOsterman

# ServiceOwners:@vinjiang @Jinming-Hu @microzchang
# ServiceLabel: %Storage

# PRLabel: %Storage
/sdk/storage/            @vinjiang @Jinming-Hu @EmmaZhu @antkmsft @gearama @LarryOsterman @microzchang

# AzureSdkOwners: @gearama
# ServiceLabel: %Tables
# PRLabel: %Tables
/sdk/tables/            @gearama @LarryOsterman @antkmsft

# AzureSdkOwners: @danieljurek
# ServiceLabel: %EngSys
# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard @LarryOsterman @RickWinter

# ServiceLabel: %Operator Nexus - Network Cloud
#/<NotInRepo>/           @Azure/azure-sdk-write-networkcloud

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/eng/common/             @Azure/azure-sdk-eng
/.github/workflows/      @Azure/azure-sdk-eng
/.github/CODEOWNERS      @rickwinter @ronniegeraghty @Azure/azure-sdk-eng

/.config/1espt/          @benbp @weshaggard

remove some methods
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Add support for building with ICU 75.1 or later
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/xml_wrapper.cpp
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/src/xml_wrapper.cpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

support accessing a different key for the value of the Package
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Owners: @Azure/azure-sdk-eng

update a bit of additional logging
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Owners: @Azure/azure-sdk-eng

need to pass the setting through to the script
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
Owners: @Azure/azure-sdk-eng

Formatting
  eng/common/scripts/Helpers/git-helpers.ps1
Owners: @Azure/azure-sdk-eng

Fix up warnings/unused variables
  eng/common/scripts/Helpers/git-helpers.ps1
Owners: @Azure/azure-sdk-eng

Move functions to git-helpers and resolve review to approval script
  eng/common/scripts/Delete-RemoteTag.ps1
  eng/common/scripts/Helpers/git-helpers.ps1
  eng/common/scripts/Helpers/git-helpers.tests.ps1
Owners: @Azure/azure-sdk-eng

Add re-approval logic
  eng/common/scripts/Helpers/git-helpers.ps1
Owners: @Azure/azure-sdk-eng

Add approval script details to sync workflow doc
  eng/common/scripts/Helpers/git-helpers.ps1
Owners: @Azure/azure-sdk-eng

tests
  sdk/keyvault/assets.json
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

PR pipeline
  .vscode/cspell.json
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_models.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_options.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_encryption_algorithm.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
Owners: @rickwinter, @LarryOsterman, @gearama, @antkmsft

more PR
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_options.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

fsdfs
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

clang
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_options.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Sync eng/common directory with azure-sdk-tools for PR 10004 (#6490)
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10145 (#6488)
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Owners: @Azure/azure-sdk-eng

update to hsm
  sdk/keyvault/assets.json
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

PR comments
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_models.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut-hsm/key_client_test_hsm_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/tsp-location.yaml
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/secrets/secret_client.hpp
  sdk/keyvault/test-resources.json
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

PR
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_models.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_options.hpp
  sdk/tables/azure-data-tables/test/ut/table_client_test.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

rwe
  sdk/keyvault/ci.yml
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Rerecord for HSM and fix get
  sdk/keyvault/assets.json
  sdk/keyvault/azure-security-keyvault-keys/src/generated/key_vault_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut-hsm/key_client_test_hsm_live.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Update CHANGELOG
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/tables/azure-data-tables/CHANGELOG.md
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Fix NPM braces and other package vulnerabilities (#6487)
  eng/common/spelling/package-lock.json
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) a836fde12ac67ee3faf4265eb805f1b0ef81723f
  CONTRIBUTING.html
  attestation.html
  eventhubs.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  identity.html
  index.html
  keyvault.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  tables.html
  toc.html
  xrefmap.yml
Owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama

gdf
  sdk/keyvault/test-resources.json
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Update Identity root README to align with the common format
  sdk/identity/azure-identity/README.md
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Update vcpkg link identifier in README
  sdk/identity/azure-identity/README.md
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Remove vcpkg installation instructions from README
  sdk/identity/azure-identity/README.md
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

pull across necessary changes to Artifact handling that MUST be made to enable go to actually match some packages during checks
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

need to include the aztemplate package by default if necessary
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

we cannot assume that there are always artifactdetails initially set. on js specifically artifactname isn't populated yet
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

updatingpreteststeps
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Owners: @Azure/azure-sdk-eng

Update Identity root README to align with the common format (#6493)
  sdk/identity/azure-identity/README.md
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Keys update (#6491)
  .vscode/cspell.json
  sdk/keyvault/assets.json
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_models.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/generated/get_deleted_keys_paged_response.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/generated/get_key_versions_paged_response.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/generated/get_keys_paged_response.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/generated/key_vault_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/generated/key_vault_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/generated/key_vault_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/generated/key_vault_client_paged_responses.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/generated/keys.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/generated/keys_models.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_models.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_options.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_paged_responses.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_cryptographic_client_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/mocked_client_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/mocked_transport_adapter_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/tsp-location.yaml
  sdk/keyvault/azure-security-keyvault-keys/tspconfig.yaml
  sdk/keyvault/azure-security-keyvault-secrets/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/secrets/secret_client.hpp
  sdk/keyvault/azure-security-keyvault-secrets/src/secret_serializers.cpp
  sdk/keyvault/ci.yml
  sdk/tables/azure-data-tables/test/ut/table_client_test.cpp
Owners: @rickwinter, @LarryOsterman, @gearama, @antkmsft

generate code and build the generated code
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
  sdk/core/azure-core/src/http/transport_policy.cpp
  sdk/keyvault/azure-security-keyvault-certificates/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/src/generated/certificates.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/generated/certificates_models.hpp
  sdk/keyvault/azure-security-keyvault-certificates/src/generated/get_certificate_issuers_paged_response.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/generated/get_certificate_versions_paged_response.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/generated/get_certificates_paged_response.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/generated/get_deleted_certificates_paged_response.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/generated/key_vault_client.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/generated/key_vault_client.hpp
  sdk/keyvault/azure-security-keyvault-certificates/src/generated/key_vault_client_options.hpp
  sdk/keyvault/azure-security-keyvault-certificates/src/generated/key_vault_client_paged_responses.hpp
  sdk/keyvault/azure-security-keyvault-certificates/tsp-location.yaml
  sdk/keyvault/azure-security-keyvault-certificates/tspconfig.yaml
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

client
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client.hpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/generated/key_vault_client.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

update name
  sdk/keyvault/azure-security-keyvault-certificates/src/generated/key_vault_client.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

put back things
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
  sdk/core/azure-core/src/http/transport_policy.cpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

take out expects till we fix the TME thing
  sdk/tables/azure-data-tables/test/ut/table_client_test.cpp
Owners: @gearama, @LarryOsterman, @antkmsft
