Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama, @ronniegeraghty, @Azure/azure-sdk-write-identity, @RickWinter, @gkostal, @anilba06, @ahmadmsft, @vinjiang, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

trim publish to npm even more
  eng/common/scripts/Publish-to-Npm.ps1
Owners: @Azure/azure-sdk-eng

ps relative path
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

Add in default without tag
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

generalize the github link for comparison
  eng/common/scripts/Publish-to-Npm.ps1
Owners: @Azure/azure-sdk-eng

single quotes
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

special case for tag
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

single
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

simplify tag branch
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

quotation
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

add npm publish pipeline files
  eng/common/pipelines/templates/jobs/npm-release-task.yml
  eng/common/scripts/Publish-to-Npm.ps1
  eng/common/scripts/Verify-Npm-Tags.ps1
Owners: @Azure/azure-sdk-eng

pass tags to next job
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

testing for tag provided
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

add top level artifact name
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

pass tags to next job
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

cleanup artifact name sanitation
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

remove pre-publish job
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10593 (#6565)
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Owners: @Azure/azure-sdk-eng

Update sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Update CHANGELOG.md
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Update cspell.json
  .vscode/cspell.json
Owners: @rickwinter, @LarryOsterman

Add SSL caching share for curl (#6537)
  .vscode/cspell.json
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/curl_transport.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/test/ut/curl_options_test.cpp
  sdk/core/ci.yml
Owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama

Allow links to use the checked out repo for validation
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Owners: @Azure/azure-sdk-eng

Update eng/common/scripts/Verify-Links.ps1
  eng/common/scripts/Verify-Links.ps1
Owners: @Azure/azure-sdk-eng

Use correct variable name in error
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

HtmlDecode hrefs
  eng/common/scripts/Verify-Links.ps1
Owners: @Azure/azure-sdk-eng

Update the change log date
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Sync eng/common directory with azure-sdk-tools for PR 10611 (#6566)
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Owners: @Azure/azure-sdk-eng

Storage May Release (#6563)
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/vcpkg.json
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/vcpkg.json
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Increment package version after release of azure-storage-blobs
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Increment package version after release of azure-storage-files-shares
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Use correct variable name in error (#6568)
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Increment version for storage releases (#6567)
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

HtmlDecode hrefs (#6570)
  eng/common/scripts/Verify-Links.ps1
Owners: @Azure/azure-sdk-eng

Support `az bicep build` in New-TestResources
  eng/common/TestResources/TestResources-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Restore missing comment
  eng/common/TestResources/New-TestResources.ps1
Owners: @Azure/azure-sdk-eng

Revert some unintentional changes
  eng/common/TestResources/New-TestResources.ps1
Owners: @Azure/azure-sdk-eng

Allow for empty serviceDirectory in deploy-test-resources
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/deploy-test-resources.yml
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10522 (#6555)
  eng/common/pipelines/templates/steps/check-spelling.yml
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10532 (#6571)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/deploy-test-resources.yml
Owners: @Azure/azure-sdk-eng

Support `az bicep build` in New-TestResources (#6572)
  eng/common/TestResources/TestResources-Helpers.ps1
Owners: @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
/**                      @rickwinter @LarryOsterman

#Catch all for files at the root
/*                       @rickwinter @LarryOsterman @antkmsft @gearama
/sdk/                    @rickwinter @LarryOsterman

# Git Hub integration and bot rules
/.github/                @rickwinter @ronniegeraghty

# Samples
/samples/                @rickwinter @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @gearama
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @antkmsft
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @rickwinter @gearama @LarryOsterman @Azure/azure-sdk-write-identity

###########
# Client SDKs
###########

# AzureSdkOwners: @gearama
# ServiceLabel: %App Configuration
# PRLabel: %App Configuration
/sdk/appconfiguration/   @gearama @LarryOsterman @antkmsft @RickWinter

# ServiceOwners: @gkostal @anilba06 @ahmadmsft
# ServiceLabel: %Attestation

# PRLabel: %Attestation
/sdk/attestation/        @gkostal @anilba06 @ahmadmsft @LarryOsterman @rickwinter

# AzureSdkOwners: @LarryOsterman
# ServiceLabel: %Event Hubs
# PRLabel: %Event Hubs
/sdk/eventhubs/           @LarryOsterman @antkmsft @gearama @RickWinter

# AzureSdkOwners: @gearama
# ServiceLabel:  %KeyVault
# ServiceOwners:         @cheathamb36 @chen-karen @lgonsoulin

# PRLabel: %KeyVault
/sdk/keyvault/           @gearama @antkmsft @rickwinter @LarryOsterman

# ServiceOwners:@vinjiang @Jinming-Hu @microzchang
# ServiceLabel: %Storage

# PRLabel: %Storage
/sdk/storage/            @vinjiang @Jinming-Hu @EmmaZhu @antkmsft @gearama @LarryOsterman @microzchang

# AzureSdkOwners: @gearama
# ServiceLabel: %Tables
# PRLabel: %Tables
/sdk/tables/            @gearama @LarryOsterman @antkmsft

# AzureSdkOwners: @danieljurek
# ServiceLabel: %EngSys
# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard @LarryOsterman @RickWinter

# ServiceLabel: %Operator Nexus - Network Cloud
#/<NotInRepo>/           @Azure/azure-sdk-write-networkcloud

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/eng/common/             @Azure/azure-sdk-eng
/.github/workflows/      @Azure/azure-sdk-eng
/.github/CODEOWNERS      @rickwinter @ronniegeraghty @Azure/azure-sdk-eng

/.config/1espt/          @benbp @weshaggard
