Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @rickwinter, @ronniegeraghty, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp

Fix Github to GitHub
  eng/common/scripts/Helpers/Service-Level-Readme-Automation-Helpers.ps1
Owners: @danieljurek, @weshaggard, @benbp

clangs
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/cryptography_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_models.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_request_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/keyvault_protocol.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

updated changelog
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

settings tests
  sdk/keyvault/azure-security-keyvault-administration/test/ut/settings_client_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

oops the other way around
  sdk/keyvault/azure-security-keyvault-administration/test/ut/settings_client_test.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Move Ubuntu20 to general pool
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

Move Ubuntu20 to general pool
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

Move Ubuntu20 to perf pool
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

asstes
  sdk/keyvault/assets.json
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Revert all changes in platform-matrix.json
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

sample and readm e
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/test/samples/sample1-basic-operations/sample1_administration.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Fix Github to GitHub (#4243)
  eng/common/scripts/Helpers/Service-Level-Readme-Automation-Helpers.ps1
Owners: @danieljurek, @weshaggard, @benbp

try try again
  sdk/keyvault/azure-security-keyvault-administration/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/test/samples/sample1-basic-operations/sample1_administration.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Nullable::Reset() hardening (#4232)
  sdk/core/azure-core/inc/azure/core/nullable.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Revert MultipleCrlOperations test to the previous version (#4238)
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

typo
  sdk/keyvault/azure-security-keyvault-administration/README.md
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

CR
  sdk/core/azure-core/src/http/curl/curl.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

live settings tests (#4242)
  sdk/keyvault/assets.json
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/test/samples/sample1-basic-operations/sample1_administration.cpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/settings_client_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Update on existing metadata json file.
  eng/common/scripts/Update-DocsMsMetadata.ps1
Owners: @danieljurek, @weshaggard, @benbp

Okp (#4239)
  sdk/keyvault/assets.json
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/cryptography_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_models.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_curve_name.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_request_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_type.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/keyvault_protocol.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_constants.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_request_parameters.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_test.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

ApiView
  sdk/keyvault/azure-security-keyvault-administration/inc/ApiViewSettings.json
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Update on existing metadata json file. (#4247)
  eng/common/scripts/Update-DocsMsMetadata.ps1
Owners: @danieljurek, @weshaggard, @benbp

ongoing
  eng/common/scripts/get-codeowners.ps1
Owners: @danieljurek, @weshaggard, @benbp

ongoing (#4249)
  eng/common/scripts/get-codeowners.ps1
Owners: @danieljurek, @weshaggard, @benbp

Increment package version after release of azure-storage-files-datalake (#4233)
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Removed unused APIs `SetScheme()` and `SetPort()` from `Core::Url`.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/url.hpp
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
  sdk/core/azure-core/test/ut/url_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Ignore warning C4100 on Windows for unused parameter in OpenTelemetry headers.
  sdk/core/azure-core-tracing-opentelemetry/test/ut/service_support_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Remove "recordings" exclusion since it doesn't exist anymore.
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

Fixed UTF-8 with BOM and other non-ASCII character issues within the files in the repo.
  CMakeSettings.json
  doc/LibcurlTransportAdapter.md
  sdk/core/azure-core/test/ut/proxy_tests/readme.md
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/settings_client.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/settings_client_options.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/keyvault_settings_common_request.cpp
  sdk/keyvault/azure-security-keyvault-administration/src/private/administration_constants.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/private/keyvault_settings_common_request.hpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/settings_client_test.cpp
  sdk/keyvault/azure-security-keyvault-certificates/CMakeSettings.json
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates.hpp
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client.hpp
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client_models.hpp
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client_operations.hpp
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client_options.hpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client_operations.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_serializers.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/keyvault_certificates_common_request.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/private/certificate_constants.hpp
  sdk/keyvault/azure-security-keyvault-certificates/src/private/certificate_serializers.hpp
  sdk/keyvault/azure-security-keyvault-certificates/src/private/keyvault_certificates_common_request.hpp
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/certificate_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/certificate_client_test.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/keyvault_secrets_common_request.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/private/keyvault_secrets_common_request.hpp
  sdk/keyvault/azure-security-keyvault-secrets/test/samples/sample2-backup-restore/sample2_backup_restore.cpp
  sdk/keyvault/azure-security-keyvault-secrets/test/samples/sample3-delete-recover/sample3_delete_recover.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_path_client_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

Exclude nlohmann json tests from ASCII validation check.
  eng/pipelines/templates/jobs/ci.tests.yml
  sdk/keyvault/azure-security-keyvault-administration/test/ut/settings_client_base_test.hpp
Owners: @danieljurek, @weshaggard, @benbp, @vhvb1989, @gearama, @antkmsft, @rickwinter

Fix spelling in doc comments within Certificate client models.
  .vscode/cspell.json
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client_models.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Log an intro to the CI console for the validation step.
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

Remove codecoverage.cmake exclusion.
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

Remove exclusion for docs and tools directories.
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

Fix spelling in doc comments within Certificate client models. (#4255)
  .vscode/cspell.json
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client_models.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

skip okp test sfor non HSM test runs
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

no return value
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_base_test.hpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Kv perf pipeline (#4222)
  CMakeSettings.json
  sdk/keyvault/azure-security-keyvault-certificates/perf.yml
  sdk/keyvault/azure-security-keyvault-keys/perf.yml
  sdk/keyvault/azure-security-keyvault-secrets/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/perf.yml
  sdk/keyvault/azure-security-keyvault-secrets/test/perf/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/test/perf/inc/azure/keyvault/secrets/test/get_secret_test.hpp
  sdk/keyvault/azure-security-keyvault-secrets/test/perf/src/azure_security_keyvault_secrets_perf_test.cpp
  sdk/keyvault/cleanup/CMakeLists.txt
  sdk/keyvault/cleanup/cleanup.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

stupid mistake
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_base_test.hpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

clang
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                @jsquire @rickwinter @ronniegeraghty

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama @LarryOsterman

###########
# Client SDKs
###########

# PRLabel: %Attestation
/sdk/attestation/        @LarryOsterman @gkostal @anilba06 @kroshkina-ms @ahmadmsft @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @EmmaZhu @antkmsft @vhvb1989 @gearama @LarryOsterman @microzchang

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek
