Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @rickwinter, @ronniegeraghty, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                @jsquire @rickwinter @ronniegeraghty

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama @LarryOsterman

###########
# Client SDKs
###########

# PRLabel: %Attestation
/sdk/attestation/        @LarryOsterman @gkostal @anilba06 @kroshkina-ms @ahmadmsft @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @EmmaZhu @antkmsft @vhvb1989 @gearama @LarryOsterman @microzchang

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek

POSIX APIs, 0 means success
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

identity pushed
  sdk/identity/assets.json
  sdk/identity/azure-identity/test/ut/recordings/TokenCredentialTest.ClientSecret.json
  sdk/identity/azure-identity/test/ut/recordings/TokenCredentialTest.EnvironmentCredential.json
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Use same CustomCondition as success task (#4148)
  eng/common/pipelines/templates/steps/publish-artifact.yml
Owners: @danieljurek, @weshaggard, @benbp

maybe
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_context_manager.hpp
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
  sdk/identity/azure-identity/test/ut/token_credential_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs

override
  sdk/identity/azure-identity/test/ut/token_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

clang
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
  sdk/identity/azure-identity/test/ut/token_credential_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs

clang
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/identity/azure-identity/test/ut/token_credential_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs

Update sample
  sdk/identity/azure-identity/samples/azure_cli_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

NULL => nullptr
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

std::string::value_type => char
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

-ZeroMemory()
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

public/private/protected
  sdk/identity/azure-identity/inc/azure/identity/azure_cli_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/client_secret_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/environment_credential.hpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

~ShellProcess() => Destruct()
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

200ms => 50ms sleep interval
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

cmd without full path/COMSPEC
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Use UniqueHandle<HANDLE>
  sdk/core/azure-core/inc/azure/core/internal/unique_handle.hpp
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs

GCC/Clang warnings
  sdk/core/azure-core/inc/azure/core/internal/unique_handle.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Workaround for the MSVC 19.34 bug
  sdk/storage/azure-storage-blobs/test/perf/inc/azure/storage/blobs/test/list_blob_test.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Use _MSC_VER instead of _VSC_FULL_VER (at least 19.34.31931 and .31933 are affected)
  sdk/storage/azure-storage-blobs/test/perf/inc/azure/storage/blobs/test/list_blob_test.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Remove newline
  sdk/storage/azure-storage-blobs/test/perf/inc/azure/storage/blobs/test/list_blob_test.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Use same code for all compiler versions
  sdk/storage/azure-storage-blobs/test/perf/inc/azure/storage/blobs/test/list_blob_test.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Workaround for the MSVC 19.34 bug (#4152)
  sdk/storage/azure-storage-blobs/test/perf/inc/azure/storage/blobs/test/list_blob_test.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

reenable 20+ tests
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/recordings/AppendBlobClientTest.AccessConditionLeaseId.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/AppendBlobClientTest.ContentHash.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.Lease.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobServiceClientTest.UserDelegationKey.json
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

5 tests left , lease related
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

a bit of cleanup
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

AzureCliCredential (#4146)
  sdk/core/azure-core/inc/azure/core/internal/unique_handle.hpp
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/identity/azure-identity/inc/azure/identity.hpp
  sdk/identity/azure-identity/inc/azure/identity/azure_cli_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/client_secret_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/environment_credential.hpp
  sdk/identity/azure-identity/samples/CMakeLists.txt
  sdk/identity/azure-identity/samples/azure_cli_credential.cpp
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/identity/azure-identity/src/client_secret_credential.cpp
  sdk/identity/azure-identity/src/private/token_cache_internals.hpp
  sdk/identity/azure-identity/src/private/token_credential_impl.hpp
  sdk/identity/azure-identity/src/token_credential_impl.cpp
  sdk/identity/azure-identity/test/ut/CMakeLists.txt
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
  sdk/identity/azure-identity/test/ut/token_credential_impl_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs

Fix conditional add of '--profile'
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @danieljurek, @weshaggard, @benbp

Pass profile flag
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @danieljurek, @weshaggard, @benbp

Don't publish everything
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @danieljurek, @weshaggard, @benbp

Pass profile parameter as flag option
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @danieljurek, @weshaggard, @benbp

One more attempt at how to enable profile
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @danieljurek, @weshaggard, @benbp

Create profile variable
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @danieljurek, @weshaggard, @benbp

Move profile parameter after iterations
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @danieljurek, @weshaggard, @benbp

Fixed #4137 - Don't close CURL connection on shutdown (#4142)
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/test/ut/curl_connection_pool_test.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base_test.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

try now
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_proxy_manager.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Sync eng/common directory with azure-sdk-tools for PR 4878 (#4156)
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @danieljurek, @weshaggard, @benbp

snitizers
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_proxy_manager.hpp
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

some fixes
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobServiceClientTest.CreateDeleteBlobContainer2.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobServiceClientTest.ListContainers2.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobServiceClientTest.ListSystemContainers2.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobServiceClientTest.UndeleteBlobContainer2.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

capitalization
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobServiceClientTest.CreateDeleteBlobContainer.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobServiceClientTest.ListContainers.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobServiceClientTest.ListSystemContainers.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobServiceClientTest.UndeleteBlobContainer.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

clang , cover, peakA
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_proxy_manager.hpp
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
  sdk/storage/azure-storage-queues/test/ut/recordings/QueueClientTest.PeekMessageA.json
  sdk/storage/ci.yml
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek
