Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @rickwinter, @ronniegeraghty, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                @jsquire @rickwinter @ronniegeraghty

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama @LarryOsterman

###########
# Client SDKs
###########

# PRLabel: %Attestation
/sdk/attestation/        @LarryOsterman @gkostal @anilba06 @kroshkina-ms @ahmadmsft @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @EmmaZhu @antkmsft @vhvb1989 @gearama @LarryOsterman @microzchang

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek

Attestation February Release (#4326)
  sdk/attestation/azure-security-attestation/CHANGELOG.md
  sdk/attestation/azure-security-attestation/CMakeLists.txt
  sdk/attestation/azure-security-attestation/src/private/package_version.hpp
  sdk/attestation/azure-security-attestation/vcpkg/Config.cmake.in
  sdk/attestation/azure-security-attestation/vcpkg/vcpkg.json
Owners: @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

reworked docker file
  sdk/core/azure-core/test/libcurl-stress-test/Dockerfile
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Increment package version after release of azure-security-attestation
  sdk/attestation/azure-security-attestation/CHANGELOG.md
  sdk/attestation/azure-security-attestation/src/private/package_version.hpp
Owners: @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Increment package version after release of azure-security-attestation (#4345)
  sdk/attestation/azure-security-attestation/CHANGELOG.md
  sdk/attestation/azure-security-attestation/src/private/package_version.hpp
Owners: @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Storage February release (#4324)
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/vcpkg.json
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/vcpkg.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Increment package version after release of azure-storage-blobs
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Increment package version after release of azure-storage-files-shares
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Increment version for storage releases (#4346)
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Remove "Services" parameter
  eng/pipelines/templates/jobs/perf.yml
Owners: @danieljurek, @weshaggard, @benbp

Move InstallLanguageSteps parameter
  eng/pipelines/templates/jobs/perf.yml
Owners: @danieljurek, @weshaggard, @benbp

Change parameter order
  sdk/storage/azure-storage-blobs/perf.yml
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Order parameters
  sdk/core/perf.yml
  sdk/keyvault/azure-security-keyvault-certificates/perf.yml
  sdk/keyvault/azure-security-keyvault-keys/perf.yml
  sdk/keyvault/azure-security-keyvault-secrets/perf.yml
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Remove services
  sdk/core/perf.yml
  sdk/keyvault/azure-security-keyvault-certificates/perf.yml
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Remove sample args
  sdk/storage/azure-storage-blobs/perf-tests.yml
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Add perf-tests.yml files
  sdk/core/perf-tests.yml
  sdk/keyvault/azure-security-keyvault-certificates/perf-tests.yml
  sdk/keyvault/azure-security-keyvault-keys/perf-tests.yml
  sdk/keyvault/azure-security-keyvault-secrets/perf-tests.yml
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Fix typo in package name
  sdk/keyvault/azure-security-keyvault-keys/perf-tests.yml
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Remove language from profile zip
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @danieljurek, @weshaggard, @benbp

Revert "Remove language from profile zip"
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @danieljurek, @weshaggard, @benbp

Remove Services parameter
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @danieljurek, @weshaggard, @benbp

Run both sync and async tests by default
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @danieljurek, @weshaggard, @benbp

Add LanguageVersion to common perf.yml
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @danieljurek, @weshaggard, @benbp

Fix path to tests-file
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @danieljurek, @weshaggard, @benbp
