Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @LarryOsterman, @ahsonkhan, @antkmsft, @gearama, @schaabs, @Azure/azure-sdk-write-identity, @gkostal, @anilba06, @ahmadmsft, @RickWinter, @vinjiang, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

Add a live test to AzurePipelinesCredential.
  sdk/identity/azure-identity/test/ut/azure_pipelines_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Force amd64 as the build platform - it has to match what the AKS cluster is running on.
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @Azure/azure-sdk-eng

Add invalid test cases and output response.
  sdk/identity/azure-identity/src/azure_pipelines_credential.cpp
  sdk/identity/azure-identity/test/ut/azure_pipelines_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Prepare for the June Identity beta release, oob.
  sdk/identity/azure-identity/CHANGELOG.md
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Address PR feedback, suppress warning, move oidc fetch in token cache, and update exception message.
  sdk/identity/azure-identity/src/azure_pipelines_credential.cpp
  sdk/identity/azure-identity/src/token_credential_impl.cpp
  sdk/identity/azure-identity/test/ut/azure_pipelines_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Address PR feedback, use ID and capitalize Azure Pipelines.
  sdk/identity/azure-identity/inc/azure/identity/azure_pipelines_credential.hpp
  sdk/identity/azure-identity/src/azure_pipelines_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Revert back to the workaround for the warning, rather than suppressing it.
  sdk/identity/azure-identity/src/token_credential_impl.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Update the TSG for AzurePipelinesCredential.
  sdk/identity/azure-identity/TROUBLESHOOTING.md
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Add access token env var in ci.yml.
  sdk/identity/ci.yml
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Address PR feedback, move getting an assertion to a helper, and add const.
  sdk/identity/azure-identity/inc/azure/identity/azure_pipelines_credential.hpp
  sdk/identity/azure-identity/src/azure_pipelines_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Add identity yml files and EnvVars.
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  sdk/identity/azure-identity/managed-identity-matrix.json
  sdk/identity/azure-identity/tests.yml
  sdk/identity/ci.yml
Owners: @danieljurek, @weshaggard, @benbp, @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Updating cspell.json to see code review flow
  .vscode/cspell.json
Owners: @rickwinter, @LarryOsterman

Update ci.yml
  sdk/storage/ci.yml
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Add AzurePipelinesCredential for authenticating an Azure Pipelines service connection with workload identity federation. (#5733)
  .vscode/cspell.json
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/inc/azure/identity.hpp
  sdk/identity/azure-identity/inc/azure/identity/azure_pipelines_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/detail/client_credential_core.hpp
  sdk/identity/azure-identity/src/azure_pipelines_credential.cpp
  sdk/identity/azure-identity/src/token_credential_impl.cpp
  sdk/identity/azure-identity/test/ut/CMakeLists.txt
  sdk/identity/azure-identity/test/ut/azure_pipelines_credential_test.cpp
Owners: @rickwinter, @LarryOsterman, @antkmsft, @schaabs, @ahsonkhan, @gearama, @Azure/azure-sdk-write-identity

Fix merge conflicts and print out the oidc response.
  sdk/identity/azure-identity/src/azure_pipelines_credential.cpp
  sdk/identity/azure-identity/src/token_credential_impl.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
/**                      @rickwinter @LarryOsterman
/sdk/                    @rickwinter @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @gearama
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @ahsonkhan
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @gearama @LarryOsterman @Azure/azure-sdk-write-identity

###########
# Client SDKs
###########

# ServiceOwners: @gkostal @anilba06 @ahmadmsft
# ServiceLabel: %Attestation

# PRLabel: %Attestation
/sdk/attestation/        @gkostal @anilba06 @ahmadmsft @LarryOsterman @rickwinter

# AzureSdkOwners: @LarryOsterman
# ServiceLabel: %Event Hubs
# PRLabel: %Event Hubs
/sdk/eventhubs/           @LarryOsterman @antkmsft @ahsonkhan @gearama @RickWinter

# AzureSdkOwners: @gearama
# ServiceLabel:  %KeyVault
# PRLabel: %KeyVault
/sdk/keyvault/           @gearama @antkmsft @rickwinter @LarryOsterman

# ServiceOwners:@vinjiang @Jinming-Hu @EmmaZhu 
# ServiceLabel: %Storage

# PRLabel: %Storage
/sdk/storage/            @vinjiang @Jinming-Hu @EmmaZhu @antkmsft @gearama @LarryOsterman @microzchang

# AzureSdkOwners: @gearama
# ServiceLabel: %Tables
# PRLabel: %Tables
/sdk/tables/            @gearama @LarryOsterman @antkmsft @ahsonkhan

# AzureSdkOwners: @danieljurek
# ServiceLabel: %EngSys
# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard @LarryOsterman @RickWinter

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/eng/common/             @Azure/azure-sdk-eng
