Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama, @ronniegeraghty, @Azure/azure-sdk-write-identity, @RickWinter, @gkostal, @anilba06, @ahmadmsft, @vinjiang, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
/**                      @rickwinter @LarryOsterman

#Catch all for files at the root
/*                       @rickwinter @LarryOsterman @antkmsft @gearama
/sdk/                    @rickwinter @LarryOsterman

# Git Hub integration and bot rules
/.github/                @rickwinter @ronniegeraghty

# Samples
/samples/                @rickwinter @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @gearama
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @antkmsft
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @rickwinter @gearama @LarryOsterman @Azure/azure-sdk-write-identity

###########
# Client SDKs
###########

# AzureSdkOwners: @gearama
# ServiceLabel: %App Configuration
# PRLabel: %App Configuration
/sdk/appconfiguration/   @gearama @LarryOsterman @antkmsft @RickWinter

# ServiceOwners: @gkostal @anilba06 @ahmadmsft
# ServiceLabel: %Attestation

# PRLabel: %Attestation
/sdk/attestation/        @gkostal @anilba06 @ahmadmsft @LarryOsterman @rickwinter

# AzureSdkOwners: @LarryOsterman
# ServiceLabel: %Event Hubs
# PRLabel: %Event Hubs
/sdk/eventhubs/           @LarryOsterman @antkmsft @gearama @RickWinter

# AzureSdkOwners: @gearama
# ServiceLabel:  %KeyVault
# ServiceOwners:         @cheathamb36 @chen-karen @lgonsoulin

# PRLabel: %KeyVault
/sdk/keyvault/           @gearama @antkmsft @rickwinter @LarryOsterman

# ServiceOwners:@vinjiang @Jinming-Hu @microzchang
# ServiceLabel: %Storage

# PRLabel: %Storage
/sdk/storage/            @vinjiang @Jinming-Hu @EmmaZhu @antkmsft @gearama @LarryOsterman @microzchang

# AzureSdkOwners: @gearama
# ServiceLabel: %Tables
# PRLabel: %Tables
/sdk/tables/            @gearama @LarryOsterman @antkmsft

# AzureSdkOwners: @danieljurek
# ServiceLabel: %EngSys
# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard @LarryOsterman @RickWinter

# ServiceLabel: %Operator Nexus - Network Cloud
#/<NotInRepo>/           @Azure/azure-sdk-write-networkcloud

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/eng/common/             @Azure/azure-sdk-eng
/.github/workflows/      @Azure/azure-sdk-eng
/.github/CODEOWNERS      @rickwinter @ronniegeraghty @Azure/azure-sdk-eng

/.config/1espt/          @benbp @weshaggard

Add logic for seting APIView Pull Request comment
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Owners: @Azure/azure-sdk-eng

Update APIVBiew comment header and add state to search api call
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Owners: @Azure/azure-sdk-eng

Make API Change Check a header
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Add option to create self contained test resources post script
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) 92a3185c88b546330b4202b4be808b74c0d155e0
  CONTRIBUTING.html
  attestation.html
  eventhubs.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  identity.html
  index.html
  keyvault.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  tables.html
  toc.html
  xrefmap.yml
Owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama

Update eng/pipelines/templates/stages/archetype-cpp-release.yml
  eng/pipelines/templates/stages/archetype-cpp-release.yml
Owners: @danieljurek, @weshaggard, @benbp

Use image.yml variables for jobs
  eng/pipelines/templates/stages/archetype-cpp-release.yml
Owners: @danieljurek, @weshaggard, @benbp

Test release pipeline
  sdk/template/azure-template/CHANGELOG.md
  sdk/template/azure-template/src/private/package_version.hpp
Owners: @danieljurek, @weshaggard, @LarryOsterman, @RickWinter

Increment package version after release of azure-template
  sdk/template/azure-template/CHANGELOG.md
  sdk/template/azure-template/src/private/package_version.hpp
Owners: @danieljurek, @weshaggard, @LarryOsterman, @RickWinter

#
  sdk/template/azure-template/CHANGELOG.md
Owners: @danieljurek, @weshaggard, @LarryOsterman, @RickWinter

Increment package version after release of azure-template
  sdk/template/azure-template/CHANGELOG.md
  sdk/template/azure-template/src/private/package_version.hpp
Owners: @danieljurek, @weshaggard, @LarryOsterman, @RickWinter

Revert CHANGELOG.md and packages_version.hpp
  sdk/template/azure-template/CHANGELOG.md
  sdk/template/azure-template/src/private/package_version.hpp
Owners: @danieljurek, @weshaggard, @LarryOsterman, @RickWinter

[1ESPT] Migrate deployment -> job (#6475)
  eng/pipelines/templates/stages/archetype-cpp-release.yml
Owners: @danieljurek, @weshaggard, @benbp

&& -> -and
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Owners: @Azure/azure-sdk-eng

identify and fix the issue with no results on a matrix that is PRBatched. The platform filters eliminate all the jobs, which is why it only turned up on the second windows leg
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10129 (#6483)
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Owners: @Azure/azure-sdk-eng

Add option to create self contained test resources post script
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
Owners: @Azure/azure-sdk-eng

Add option to create self contained test resources post script (#6476)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
Owners: @Azure/azure-sdk-eng

StartDeleteKey
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

StartRecoverDeleted
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_models.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

backup/restore
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Import Az powershell module in self contained post script task
  eng/common/TestResources/deploy-test-resources.yml
Owners: @Azure/azure-sdk-eng

purge/rotate
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

import
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_options.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

update properties
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_models.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_models.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_options.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

get/update rotation policy
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_models.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_models.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

release key
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_options.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Import Az powershell module in self contained post script task (#6484)
  eng/common/TestResources/deploy-test-resources.yml
Owners: @Azure/azure-sdk-eng

Fix unstable test cases
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_directory_client_test.cpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Run npm audit fix to address Component Governance issue
  eng/common/spelling/package-lock.json
Owners: @Azure/azure-sdk-eng

Fix unstable test cases (#6485)
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_directory_client_test.cpp
Owners: @vinjiang, @Jinming-Hu, @EmmaZhu, @antkmsft, @gearama, @LarryOsterman, @microzchang

Removed license field and undo some removed packages which are also in main
  eng/common/spelling/package-lock.json
Owners: @Azure/azure-sdk-eng

Removed extra spaces
  eng/common/spelling/package-lock.json
Owners: @Azure/azure-sdk-eng

GetProps of keys
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_models.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_models.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_paged_responses.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

test feature branch build with a non-op pr
  eng/common/spelling/package-lock.json
Owners: @Azure/azure-sdk-eng

GeoDR preparation - EventHubs Offset is a string, not an integer encoded as a string (#6461)
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/blob_checkpoint_store.cpp
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/test/ut/blob_checkpoint_store_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/models/checkpoint_store_models.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/models/event_data.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/models/management_models.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/models/partition_client_models.hpp
  sdk/eventhubs/azure-messaging-eventhubs/src/event_data.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/partition_client.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/private/eventhubs_constants.hpp
  sdk/eventhubs/azure-messaging-eventhubs/src/private/eventhubs_utilities.hpp
  sdk/eventhubs/azure-messaging-eventhubs/src/processor_partition_client.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/checkpoint_store_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/event_data_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/processor_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/round_trip_test.cpp
Owners: @LarryOsterman, @antkmsft, @gearama, @RickWinter

GetVersions
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_models.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_paged_responses.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

GetDeletedKeys
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_models.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_models.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_paged_responses.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

remove test used for test
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_get_test_live.cpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

cleanup tests
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_cryptographic_client_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/mocked_client_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/mocked_transport_adapter_test.hpp
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman
