Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @rickwinter, @ronniegeraghty, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp

Nullable::Reset() hardening
  sdk/core/azure-core/inc/azure/core/nullable.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

fix paths + add diagnostic output on failure (#4231)
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Owners: @danieljurek, @weshaggard, @benbp

reset to only GA version
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/vcpkg.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Storage January release (#4216)
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/vcpkg.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Increment package version after release of azure-storage-files-datalake
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Identity January Release (#4220)
  sdk/identity/azure-identity/CHANGELOG.md
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Increment package version after release of azure-identity
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

first pass
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_models.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_type.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_constants.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_request_parameters.hpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

part2
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_models.hpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Increment package version after release of azure-identity (#4235)
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Renamed includeInternal to allowInternal; Added storage common; Fixed package names
  sdk/attestation/azure-security-attestation/inc/ApiViewSettings.json
  sdk/core/azure-core/inc/ApiViewSettings.json
  sdk/identity/azure-identity/inc/ApiViewSettings.json
  sdk/keyvault/azure-security-keyvault-certificates/inc/ApiViewSettings.json
  sdk/keyvault/azure-security-keyvault-keys/inc/ApiViewSettings.json
  sdk/keyvault/azure-security-keyvault-secrets/inc/ApiViewSettings.json
  sdk/storage/azure-storage-blobs/inc/ApiViewSettings.json
  sdk/storage/azure-storage-common/inc/ApiViewSettings.json
  sdk/storage/azure-storage-files-datalake/inc/ApiViewSettings.json
  sdk/storage/azure-storage-files-shares/inc/ApiViewSettings.json
  sdk/storage/azure-storage-queues/inc/ApiViewSettings.json
Owners: @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @schaabs, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

Fixed spelling error
  sdk/storage/azure-storage-queues/inc/ApiViewSettings.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Unblock CI
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Liveonly on Linux only
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Use RAII wrappers instead of manual memory management
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/xml_wrapper.hpp
  sdk/storage/azure-storage-common/src/xml_wrapper.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

If there's an error accessing the site with no CRL checks, don't try it any more
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Disable instead of liveonly
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Clang-format and try LIVEONLY again
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Stop checking example.com because it doesn't work
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

DISABLED_
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Update sdk/attestation/azure-security-attestation/inc/ApiViewSettings.json
  sdk/attestation/azure-security-attestation/inc/ApiViewSettings.json
Owners: @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Update sdk/core/azure-core/inc/ApiViewSettings.json
  sdk/core/azure-core/inc/ApiViewSettings.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Update sdk/keyvault/azure-security-keyvault-secrets/inc/ApiViewSettings.json
  sdk/keyvault/azure-security-keyvault-secrets/inc/ApiViewSettings.json
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

clang-format-version-agnostic layout
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Comment-out the test entirely on Linux
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Unblock Core CI (#4236)
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

part3
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/cryptography_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_models.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_curve_name.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_request_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/keyvault_protocol.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_constants.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_test.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Remove bug
  sdk/storage/azure-storage-common/src/xml_wrapper.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Why am I so stupid
  sdk/storage/azure-storage-common/src/xml_wrapper.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Add ApiView settings for existing packages. (#4226)
  .vscode/cspell.json
  sdk/attestation/azure-security-attestation/inc/ApiViewSettings.json
  sdk/core/azure-core/inc/ApiViewSettings.json
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
  sdk/identity/azure-identity/inc/ApiViewSettings.json
  sdk/keyvault/azure-security-keyvault-certificates/inc/ApiViewSettings.json
  sdk/keyvault/azure-security-keyvault-keys/inc/ApiViewSettings.json
  sdk/keyvault/azure-security-keyvault-secrets/inc/ApiViewSettings.json
  sdk/storage/azure-storage-blobs/inc/ApiViewSettings.json
  sdk/storage/azure-storage-common/inc/ApiViewSettings.json
  sdk/storage/azure-storage-files-datalake/inc/ApiViewSettings.json
  sdk/storage/azure-storage-files-shares/inc/ApiViewSettings.json
  sdk/storage/azure-storage-queues/inc/ApiViewSettings.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @schaabs, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

part 5
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

pre PR
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_request_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_type.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/keyvault_protocol.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Settings API (#4210)
  sdk/keyvault/CMakeLists.txt
  sdk/keyvault/assets.json
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/NOTICE.txt
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/cgmanifest.json
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/dll_import_export.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/rest_client.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/rtti.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/settings_client.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/settings_client_options.hpp
  sdk/keyvault/azure-security-keyvault-administration/samples/README.md
  sdk/keyvault/azure-security-keyvault-administration/samples/sample1_administration.md
  sdk/keyvault/azure-security-keyvault-administration/src/keyvault_settings_common_request.cpp
  sdk/keyvault/azure-security-keyvault-administration/src/private/administration_constants.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/private/keyvault_settings_common_request.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-administration/src/settings_client.cpp
  sdk/keyvault/azure-security-keyvault-administration/test/samples/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/test/samples/sample1-basic-operations/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/test/samples/sample1-basic-operations/sample1_administration.cpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/test/ut/macro_guard.cpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/settings_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/settings_client_test.cpp
  sdk/keyvault/azure-security-keyvault-administration/vcpkg.json
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/Config.cmake.in
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_rotation_policy_test_live.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

updated tests
  sdk/keyvault/assets.json
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Experiment with CI and MultipleCrlOperations test
  eng/pipelines/templates/stages/platform-matrix.json
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
Owners: @danieljurek, @weshaggard, @benbp, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Switch to an older, less failure-proof version of the test from yesterday
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Switch Ubuntu18 to Azure Pipelines as well
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

Undo CI changes just to make sure it fails
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

Apply CI machine pool changes
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

fix test
  sdk/keyvault/assets.json
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                @jsquire @rickwinter @ronniegeraghty

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama @LarryOsterman

###########
# Client SDKs
###########

# PRLabel: %Attestation
/sdk/attestation/        @LarryOsterman @gkostal @anilba06 @kroshkina-ms @ahmadmsft @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @EmmaZhu @antkmsft @vhvb1989 @gearama @LarryOsterman @microzchang

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek
