Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @rickwinter, @ronniegeraghty, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                @jsquire @rickwinter @ronniegeraghty

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama @LarryOsterman

###########
# Client SDKs
###########

# PRLabel: %Attestation
/sdk/attestation/        @LarryOsterman @gkostal @anilba06 @kroshkina-ms @ahmadmsft @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @EmmaZhu @antkmsft @vhvb1989 @gearama @LarryOsterman @microzchang

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek

Update ChainedTokenCredential sample to use AzureCliCredential (#4164)
  sdk/identity/azure-identity/samples/chained_token_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Only allow BearerTokenAuthPolicy for HTTPS
  sdk/core/azure-core/src/http/bearer_token_authentication_policy.cpp
  sdk/core/azure-core/test/ut/bearer_token_authentication_policy_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

One more update
  sdk/identity/azure-identity/test/e2e/azure_identity_e2e_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Fix Linux build break properly
  sdk/core/azure-core/src/http/curl/curl.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Update sdk/identity/azure-identity/src/token_credential_impl.cpp
  sdk/identity/azure-identity/src/token_credential_impl.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Line coverage / Strict ISO 8601 datetime parse test
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Clang format
  sdk/identity/azure-identity/test/e2e/azure_identity_e2e_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Proper string termination
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Clang format
  sdk/identity/azure-identity/src/token_credential_impl.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Fix more Debian 9 build breaks
  sdk/core/azure-core/src/http/curl/curl.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Use nlohmann::json to parse Identity token (#4167)
  sdk/identity/azure-identity/src/token_credential_impl.cpp
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
  sdk/identity/azure-identity/test/ut/token_credential_impl_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Only allow BearerTokenAuthPolicy for HTTPS (#4170)
  sdk/core/azure-core/src/http/bearer_token_authentication_policy.cpp
  sdk/core/azure-core/test/ut/bearer_token_authentication_policy_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Better TokenRequestContext initialization (#4169)
  sdk/attestation/azure-security-attestation/src/attestation_administration_client.cpp
  sdk/attestation/azure-security-attestation/src/attestation_client.cpp
  sdk/core/azure-core/test/ut/bearer_token_authentication_policy_test.cpp
  sdk/identity/azure-identity/test/e2e/azure_identity_e2e_test.cpp
  sdk/identity/azure-identity/test/ut/token_credential_impl_test.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/cryptography_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/secret_client.cpp
Owners: @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @schaabs

remove version id inTaggedBlobItem and add unit test for cold tier (#4121)
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/src/rest_client.cpp
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

dec release protocol layer (#4102)
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/src/rest_client.cpp
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobServiceClientTest.SetProperties.json
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-files-shares/test/ut/recordings/FileShareDirectoryClientTest.HandlesFunctionalityWorks.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/FileShareDirectoryClientTest.ListFilesAndDirectoriesSinglePageTest.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/FileShareFileClientTest.HandlesFunctionalityWorks.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

unit_test_for_file_invalid_xml (#4113)
  sdk/storage/azure-storage-files-shares/test/ut/recordings/FileShareDirectoryClientTest.ListFilesAndDirectoriesEncoded.json
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

datalake append/flush with lease (#4110)
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/rest_client.cpp
  sdk/storage/azure-storage-files-datalake/swagger/README.md
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/DataLakeFileClientTest.AppendFileWithLease.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/DataLakeFileClientTest.FlushFileWithLease.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

fix Typo in DeleteBlobResult documentation #4162
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/swagger/README.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Workaround for the MSVC 19.34 bug (#4152)
  sdk/storage/azure-storage-blobs/test/perf/inc/azure/storage/blobs/test/list_blob_test.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Comments for private methods
  sdk/identity/azure-identity/inc/azure/identity/detail/token_cache.hpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Per-credential-instance token cache (#4160)
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/identity/azure-identity/inc/azure/identity/azure_cli_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/client_certificate_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/client_secret_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/detail/token_cache.hpp
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/identity/azure-identity/src/client_certificate_credential.cpp
  sdk/identity/azure-identity/src/client_secret_credential.cpp
  sdk/identity/azure-identity/src/managed_identity_source.cpp
  sdk/identity/azure-identity/src/private/managed_identity_source.hpp
  sdk/identity/azure-identity/src/private/token_cache_internals.hpp
  sdk/identity/azure-identity/src/token_cache.cpp
  sdk/identity/azure-identity/test/ut/client_secret_credential_test.cpp
  sdk/identity/azure-identity/test/ut/credential_test_helper.cpp
  sdk/identity/azure-identity/test/ut/credential_test_helper.hpp
  sdk/identity/azure-identity/test/ut/environment_credential_test.cpp
  sdk/identity/azure-identity/test/ut/managed_identity_credential_test.cpp
  sdk/identity/azure-identity/test/ut/token_cache_test.cpp
  sdk/identity/azure-identity/test/ut/token_credential_impl_test.cpp
  sdk/identity/azure-identity/test/ut/token_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

fix Typo in DeleteBlobResult documentation
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/swagger/README.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

fix grammar (#4175)
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @danieljurek, @weshaggard, @benbp

fix Typo in DeleteBlobResult documentation (#4178)
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/swagger/README.md
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Remove the identity dependency from pkgs.
  sdk/keyvault/azure-security-keyvault-certificates/vcpkg.json
  sdk/keyvault/azure-security-keyvault-keys/vcpkg.json
  sdk/keyvault/azure-security-keyvault-secrets/vcpkg.json
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

introduce job version of "prepare-pipelines.yml"
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Owners: @danieljurek, @weshaggard, @benbp

Remove the identity dependency from pkgs. (#4179)
  sdk/keyvault/azure-security-keyvault-certificates/vcpkg.json
  sdk/keyvault/azure-security-keyvault-keys/vcpkg.json
  sdk/keyvault/azure-security-keyvault-secrets/vcpkg.json
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Clean up token cache from expired items on Fibonacci cache sizes instead of 2^N
  sdk/identity/azure-identity/src/token_cache.cpp
  sdk/identity/azure-identity/test/ut/token_cache_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Clang format
  sdk/identity/azure-identity/test/ut/token_cache_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

ClientCertificateCredential: Add AuthorityHost override and Azure Stack support
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/identity/azure-identity/inc/azure/identity/client_certificate_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/client_secret_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/detail/client_credential_core.hpp
  sdk/identity/azure-identity/inc/azure/identity/environment_credential.hpp
  sdk/identity/azure-identity/src/client_certificate_credential.cpp
  sdk/identity/azure-identity/src/client_credential_core.cpp
  sdk/identity/azure-identity/src/client_secret_credential.cpp
  sdk/identity/azure-identity/src/environment_credential.cpp
  sdk/identity/azure-identity/test/ut/client_certificate_credential_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Another usings style
  sdk/identity/azure-identity/src/environment_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

fix #740
  sdk/storage/azure-storage-files-shares/test/ut/share_service_client_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

fix #740 (#4182)
  sdk/storage/azure-storage-files-shares/test/ut/share_service_client_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Update cmake-modules/TestProxyPrep.cmake
  cmake-modules/TestProxyPrep.cmake
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Update eng/scripts/Start-TestProxy.ps1
  eng/scripts/Start-TestProxy.ps1
Owners: @danieljurek, @weshaggard, @benbp

Update eng/scripts/Stop-TestProxy.ps1
  eng/scripts/Stop-TestProxy.ps1
Owners: @danieljurek, @weshaggard, @benbp

Add support for space character instead of 'T' when parsing RFC3339 DateTimes
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/datetime.cpp
  sdk/core/azure-core/test/ut/datetime_test.cpp
  sdk/identity/azure-identity/src/token_credential_impl.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs

Add support for space character instead of 'T' when parsing RFC3339 DateTimes (#4184)
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/datetime.cpp
  sdk/core/azure-core/test/ut/datetime_test.cpp
  sdk/identity/azure-identity/src/token_credential_impl.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs

PR comments
  .gitignore
  .vscode/cspell.json
  cmake-modules/TestProxyPrep.cmake
  eng/scripts/Start-TestProxy.ps1
  eng/scripts/Stop-TestProxy.ps1
  sdk/core/azure-core-test/CMakeLists.txt
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_context_manager.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_proxy_manager.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_proxy_policy.hpp
  sdk/core/azure-core-test/src/test_base.cpp
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
  vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @danieljurek, @weshaggard, @benbp

clangs
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_context_manager.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman
