Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @rickwinter, @ronniegeraghty, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                @jsquire @rickwinter @ronniegeraghty

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama @LarryOsterman

###########
# Client SDKs
###########

# PRLabel: %Attestation
/sdk/attestation/        @LarryOsterman @gkostal @anilba06 @kroshkina-ms @ahmadmsft @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @EmmaZhu @antkmsft @vhvb1989 @gearama @LarryOsterman @microzchang

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek

introduce job version of "prepare-pipelines.yml" (#4185)
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Owners: @danieljurek, @weshaggard, @benbp

PR feedback
  sdk/identity/azure-identity/inc/azure/identity/client_certificate_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/client_secret_credential.hpp
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/identity/azure-identity/src/client_certificate_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

*has
  sdk/identity/azure-identity/src/client_certificate_credential.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Spelling dict update for 'MSAL'
  .vscode/cspell.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

ClientCertificateCredential: Add AuthorityHost override and Azure Stack support (#4181)
  .vscode/cspell.json
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/identity/azure-identity/inc/azure/identity/client_certificate_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/client_secret_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/detail/client_credential_core.hpp
  sdk/identity/azure-identity/inc/azure/identity/environment_credential.hpp
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/identity/azure-identity/src/client_certificate_credential.cpp
  sdk/identity/azure-identity/src/client_credential_core.cpp
  sdk/identity/azure-identity/src/client_secret_credential.cpp
  sdk/identity/azure-identity/src/environment_credential.cpp
  sdk/identity/azure-identity/test/ut/client_certificate_credential_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs

Sync eng/common directory with azure-sdk-tools repository
  eng/common/scripts/Get-AADIdentityFromGithubUser.ps1
Owners: @danieljurek, @weshaggard, @benbp

Sync eng/common directory with azure-sdk-tools repository (#4186)
  eng/common/scripts/Get-AADIdentityFromGithubUser.ps1
Owners: @danieljurek, @weshaggard, @benbp

Update prepare-pipelines.yml
  eng/pipelines/prepare-pipelines.yml
Owners: @danieljurek, @weshaggard, @benbp

Update sdk/core/azure-core-test/src/test_proxy_policy.cpp
  sdk/core/azure-core-test/src/test_proxy_policy.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

build
  sdk/core/azure-core-test/README.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Add comments
  sdk/identity/azure-identity/src/token_cache.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

text correction
  sdk/identity/azure-identity/src/token_cache.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

More comments
  sdk/identity/azure-identity/src/token_cache.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

live test guard
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/azure-core-test/src/test_base.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Update eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

Helm template for deploy script
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

fixing helm upgrade command
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

live test guard (#4188)
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/azure-core-test/src/test_base.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

exclude template from test proxy
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

exclute testproxy log also
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

Clean up token cache from expired items on Fibonacci cache sizes instead of 2^Ns (#4180)
  sdk/identity/azure-identity/src/token_cache.cpp
  sdk/identity/azure-identity/test/ut/token_cache_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

exclude template from test proxy (#4189)
  eng/pipelines/templates/jobs/ci.tests.yml
Owners: @danieljurek, @weshaggard, @benbp

Update prepare-pipelines.yml (#4187)
  eng/pipelines/prepare-pipelines.yml
Owners: @danieljurek, @weshaggard, @benbp

Migrate to new pool
  eng/pipelines/daily-verification.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/stages/archetype-cpp-release.yml
  eng/pipelines/templates/stages/platform-matrix-cmakegenerate.json
  eng/pipelines/templates/stages/platform-matrix-cmakesourcegenerate.json
  eng/pipelines/templates/stages/platform-matrix-live.json
  eng/pipelines/templates/stages/platform-matrix.json
  eng/scripts/Get-BinarySizes.ps1
Owners: @danieljurek, @weshaggard, @benbp

Update platform-matrix-live.json
  eng/pipelines/templates/stages/platform-matrix-live.json
Owners: @danieljurek, @weshaggard, @benbp

Update Get-BinarySizes.ps1
  eng/scripts/Get-BinarySizes.ps1
Owners: @danieljurek, @weshaggard, @benbp

Update platform-matrix.json
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

Update the regex to embrace more image names
  eng/common/scripts/Verify-AgentOS.ps1
Owners: @danieljurek, @weshaggard, @benbp

Sync eng/common directory with azure-sdk-tools for PR 4944 (#4191)
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

Modify newer files.
  sdk/core/azure-core-test/inc/azure/core/test/test_proxy_manager.hpp
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
  sdk/core/azure-core-test/src/test_proxy_policy.cpp
  sdk/identity/azure-identity/inc/azure/identity/azure_cli_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/detail/client_credential_core.hpp
  sdk/identity/azure-identity/inc/azure/identity/detail/token_cache.hpp
  sdk/identity/azure-identity/samples/azure_cli_credential.cpp
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/identity/azure-identity/src/client_credential_core.cpp
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs

Add load-testing to list of valid sample slugs
  eng/common/scripts/Test-SampleMetadata.ps1
Owners: @danieljurek, @weshaggard, @benbp

Update eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Owners: @danieljurek, @weshaggard, @benbp

Update eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Owners: @danieljurek, @weshaggard, @benbp

prepare pipeline job bug fix
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Owners: @danieljurek, @weshaggard, @benbp

Update the regex to embrace more image names (#4190)
  eng/common/scripts/Verify-AgentOS.ps1
Owners: @danieljurek, @weshaggard, @benbp

Update Get-BinarySizes.ps1
  eng/scripts/Get-BinarySizes.ps1
Owners: @danieljurek, @weshaggard, @benbp

Move Request ctor impl to the request.cpp file instead of http.cpp
  sdk/core/azure-core/src/http/http.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Add the ctors to request.cpp
  sdk/core/azure-core/src/http/request.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Remove null body stream header from http.cpp
  sdk/core/azure-core/src/http/http.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Remove unused namespace using
  sdk/core/azure-core/src/http/http.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman
