Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @rickwinter, @ronniegeraghty, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp

Spelling
  sdk/identity/azure-identity/test/ut/token_cache_test.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Avoid clang-format inconsistencies between versions
  sdk/identity/azure-identity/src/token_cache.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

put back vcpkg version
  cmake-modules/AzureVcpkg.cmake
  vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

module
  cmake-modules/PerfTest.cmake
  sdk/core/perf/test/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/perf/CMakeLists.txt
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

trete
  sdk/keyvault/azure-security-keyvault-keys/test/perf/CMakeLists.txt
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

versions
  sdk/keyvault/azure-security-keyvault-keys/test/perf/src/azure_security_keyvault_keys_perf_test.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

oopsy ?
  sdk/keyvault/azure-security-keyvault-keys/test/perf/CMakeLists.txt
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Added more control over what events cause requests to complete
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

f4b262b259145adb2ab0116a390b08642489d32b
  cmake-modules/AzureVcpkg.cmake
  vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

79fa9d85cb4510b05c2657bd7ec8a6a2cb266dc5
  cmake-modules/AzureVcpkg.cmake
  vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

6ca56aeb457f033d344a7106cb3f9f1abf8f4e98
  cmake-modules/AzureVcpkg.cmake
  vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

ewew
  sdk/keyvault/azure-security-keyvault-keys/test/perf/CMakeLists.txt
  vcpkg.json
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter, @ahsonkhan, @LarryOsterman

override
  vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

1.4.1`
  vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Vcpkg baseline to latest (#4036)
  cmake-modules/AzureVcpkg.cmake
  vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Removed version override for opentelemetry
  sdk/core/azure-core-tracing-opentelemetry/test/ut/service_support_test.cpp
  vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

datalake encryption scopes
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/DataLakeFileSystemClientTest.EncryptionScope.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/DataLakeServiceClientTest.ListFileSystemsSegment.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

improve unit test
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_system_client_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Pull request feedback
  sdk/core/azure-core-tracing-opentelemetry/test/ut/azure_core_test.cpp
  sdk/core/azure-core/inc/azure/core/internal/diagnostics/global_exception.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/core/azure-core/test/ut/azure_core_test.cpp
  sdk/core/azure-core/test/ut/azure_libcurl_core_main_test.cpp
  sdk/core/azure-core/test/ut/curl_connection_pool_test.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base_test.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Disable deprecation warnings for open telemety tests to guard against future deprecations
  sdk/core/azure-core-tracing-opentelemetry/test/ut/CMakeLists.txt
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

first take
  cmake-modules/PerfTest.cmake
  sdk/storage/azure-storage-blobs/test/perf/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/perf/src/azure_storage_blobs_perf_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

grrrrr
  vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

qwqwq
  sdk/storage/azure-storage-blobs/test/perf/CMakeLists.txt
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

ewqw
  sdk/storage/azure-storage-blobs/test/perf/CMakeLists.txt
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

eewew
  cmake-modules/PerfTest.cmake
  sdk/storage/azure-storage-blobs/test/perf/CMakeLists.txt
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

put back
  CMakeSettings.json
  cmake-modules/PerfTest.cmake
  sdk/storage/azure-storage-blobs/test/perf/CMakeLists.txt
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

Update sdk/core/azure-core/inc/azure/core/internal/diagnostics/global_exception.hpp
  sdk/core/azure-core/inc/azure/core/internal/diagnostics/global_exception.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

&
  sdk/identity/azure-identity/src/token_cache.cpp
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

clang-format
  sdk/core/azure-core/inc/azure/core/internal/diagnostics/global_exception.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Added explanation for 4996 error; removed InMemoryExporter from documentation
  doc/DistributedTracing.md
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core-tracing-opentelemetry/test/ut/CMakeLists.txt
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

clang-format, again
  sdk/core/azure-core/test/ut/azure_core_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Checkpoint adding manual telemetry exporter
  sdk/core/azure-core-tracing-opentelemetry/test/ut/service_support_test.cpp
  sdk/core/azure-core-tracing-opentelemetry/test/ut/test_exporter.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Removed version override for opentelemetry (#4037)
  doc/DistributedTracing.md
  sdk/core/azure-core-tracing-opentelemetry/README.md
  sdk/core/azure-core-tracing-opentelemetry/test/ut/CMakeLists.txt
  sdk/core/azure-core-tracing-opentelemetry/test/ut/service_support_test.cpp
  vcpkg.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Don't set the complete event until after the mutex is released
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

datalake encryption scopes (#4038)
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/DataLakeFileSystemClientTest.EncryptionScope.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/DataLakeServiceClientTest.ListFileSystemsSegment.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

pipeline
  sdk/storage/azure-storage-blobs/perf-resources.bicep
  sdk/storage/azure-storage-blobs/perf.yml
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Switch from using OpenTelemetry's InMemoryExporter (which is an internal-to-opentelemetry test hook) to our own SpanExporter
  sdk/core/azure-core-tracing-opentelemetry/test/ut/service_support_test.cpp
  sdk/core/azure-core-tracing-opentelemetry/test/ut/test_exporter.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Set read-only VCPKG_BINARY_SOURCES_SECRET
  eng/pipelines/templates/jobs/perf.yml
Owners: @danieljurek, @weshaggard, @benbp

Pass InstallLanguageSteps through the perf template
  eng/pipelines/templates/jobs/perf.yml
  sdk/core/perf.yml
Owners: @danieljurek, @weshaggard, @benbp, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

blop pipeline
  sdk/storage/azure-storage-blobs/perf.yml
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                @jsquire @rickwinter @ronniegeraghty

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama @LarryOsterman

###########
# Client SDKs
###########

# PRLabel: %Attestation
/sdk/attestation/        @LarryOsterman @gkostal @anilba06 @kroshkina-ms @ahmadmsft @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @EmmaZhu @antkmsft @vhvb1989 @gearama @LarryOsterman @microzchang

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek
