Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama, @ronniegeraghty, @Azure/azure-sdk-write-identity, @RickWinter, @gkostal, @anilba06, @ahmadmsft, @vinjiang, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
/**                      @rickwinter @LarryOsterman

#Catch all for files at the root
/*                       @rickwinter @LarryOsterman @antkmsft @gearama
/sdk/                    @rickwinter @LarryOsterman

# Git Hub integration and bot rules
/.github/                @rickwinter @ronniegeraghty

# Samples
/samples/                @rickwinter @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @gearama
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @antkmsft
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @rickwinter @gearama @LarryOsterman @Azure/azure-sdk-write-identity

###########
# Client SDKs
###########

# AzureSdkOwners: @gearama
# ServiceLabel: %App Configuration
# PRLabel: %App Configuration
/sdk/appconfiguration/   @gearama @LarryOsterman @antkmsft @RickWinter

# ServiceOwners: @gkostal @anilba06 @ahmadmsft
# ServiceLabel: %Attestation

# PRLabel: %Attestation
/sdk/attestation/        @gkostal @anilba06 @ahmadmsft @LarryOsterman @rickwinter

# AzureSdkOwners: @LarryOsterman
# ServiceLabel: %Event Hubs
# PRLabel: %Event Hubs
/sdk/eventhubs/           @LarryOsterman @antkmsft @gearama @RickWinter

# AzureSdkOwners: @gearama
# ServiceLabel:  %KeyVault
# ServiceOwners:         @cheathamb36 @chen-karen @lgonsoulin

# PRLabel: %KeyVault
/sdk/keyvault/           @gearama @antkmsft @rickwinter @LarryOsterman

# ServiceOwners:@vinjiang @Jinming-Hu @microzchang
# ServiceLabel: %Storage

# PRLabel: %Storage
/sdk/storage/            @vinjiang @Jinming-Hu @EmmaZhu @antkmsft @gearama @LarryOsterman @microzchang

# AzureSdkOwners: @gearama
# ServiceLabel: %Tables
# PRLabel: %Tables
/sdk/tables/            @gearama @LarryOsterman @antkmsft

# AzureSdkOwners: @danieljurek
# ServiceLabel: %EngSys
# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard @LarryOsterman @RickWinter

# ServiceLabel: %Operator Nexus - Network Cloud
#/<NotInRepo>/           @Azure/azure-sdk-write-networkcloud

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/eng/common/             @Azure/azure-sdk-eng
/.github/workflows/      @Azure/azure-sdk-eng
/.github/CODEOWNERS      @rickwinter @ronniegeraghty @Azure/azure-sdk-eng

/.config/1espt/          @benbp @weshaggard

Disable SBOM for public builds
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Owners: @Azure/azure-sdk-eng

Update Github Event Processor version number
  .github/workflows/scheduled-event-processor.yml
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10467 (#6544)
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Owners: @Azure/azure-sdk-eng

Initialize azure sdk MCP conventions/automation
  eng/common/mcp/README.md
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
  eng/common/testproxy/install-test-proxy.ps1
  eng/common/testproxy/test-proxy.ps1
Owners: @Azure/azure-sdk-eng

Fixes
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Owners: @Azure/azure-sdk-eng

use working directory in eng\common\pipelines\templates\steps\save-package-properties.yml
  eng/common/pipelines/templates/steps/save-package-properties.yml
Owners: @Azure/azure-sdk-eng

use working directory in eng\common\pipelines\templates\steps\save-package-properties.yml (#6545)
  eng/common/pipelines/templates/steps/save-package-properties.yml
Owners: @Azure/azure-sdk-eng

Fix typo for workingDirectory
  eng/common/pipelines/templates/steps/save-package-properties.yml
Owners: @Azure/azure-sdk-eng

Fix typo for workingDirectory (#6546)
  eng/common/pipelines/templates/steps/save-package-properties.yml
Owners: @Azure/azure-sdk-eng

Properly handle error for case where no issue (pr) is found for specified commit
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Use logInfo in various places
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Change LogWarning to LogInfo
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10482 (#6548)
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10470 (#6549)
  eng/common/mcp/README.md
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
  eng/common/testproxy/install-test-proxy.ps1
  eng/common/testproxy/test-proxy.ps1
Owners: @Azure/azure-sdk-eng

Update Github Event Processor version number (#6547)
  .github/workflows/scheduled-event-processor.yml
Owners: @Azure/azure-sdk-eng

Wraper script for calling package properties
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Tidy up path and serviceDirectoryName
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10508 (#6550)
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

deploy the proxy with multipart output
  eng/common/testproxy/target_version.txt
Owners: @Azure/azure-sdk-eng

Temporarily disable CheckFailedCrlValidation test to unblock CI
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Update branch coverage
  sdk/core/ci.yml
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Temporarily disable CheckFailedCrlValidation test to unblock CI (#6554)
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
  sdk/core/ci.yml
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

</li></ul>
  sdk/identity/azure-identity/TROUBLESHOOTING.md
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Identity: update Troubleshooting.md with all the credentials
  sdk/identity/azure-identity/TROUBLESHOOTING.md
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Identity: update Troubleshooting.md with all the credentials (#6552)
  sdk/identity/azure-identity/TROUBLESHOOTING.md
Owners: @antkmsft, @rickwinter, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

pr feedback
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

fix: bump node version in emitter pipeline
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10523 (#6556)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Owners: @Azure/azure-sdk-eng

Revert some unintentional changes
  eng/common/TestResources/New-TestResources.ps1
Owners: @Azure/azure-sdk-eng

Allow for empty serviceDirectory in deploy-test-resources
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/deploy-test-resources.yml
Owners: @Azure/azure-sdk-eng

Update release notes for version 4.3.0-beta.4
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Move logging script sourceing to global scope
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Add helper function for spec-gen-sdk pipeline
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

update link
  eng/common/scripts/Test-SampleMetadata.ps1
Owners: @Azure/azure-sdk-eng

update most current taxnonomy for entra
  eng/common/scripts/Test-SampleMetadata.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10542 (#6559)
  eng/common/scripts/Test-SampleMetadata.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10534 (#6560)
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Support `az bicep build` in New-TestResources
  eng/common/TestResources/TestResources-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Updated Features Added
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman

Update release notes for version 4.3.0-beta.4 (#6558)
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
Owners: @gearama, @antkmsft, @rickwinter, @LarryOsterman
