Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @rickwinter, @ronniegeraghty, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp

clang
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

pr comments, clang
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

oops
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_base_test.hpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

skipping maybe?
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Update sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

fir RemovePreffffffix
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Okp skip tests (#4256)
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

tree<->blob
  sdk/keyvault/azure-security-keyvault-administration/README.md
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Reset connection pool upon failure to read response (#4208)
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_session_private.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Update changelog for the Azurite fix
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Reformat link
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Spell ckeck update
  .vscode/cspell.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

perf resources
  sdk/keyvault/azure-security-keyvault-certificates/perf-resources.json
  sdk/keyvault/azure-security-keyvault-keys/perf-resources.json
  sdk/keyvault/azure-security-keyvault-secrets/perf-resources.json
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

yt
  sdk/keyvault/azure-security-keyvault-secrets/perf.yml
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

par 1
  sdk/keyvault/azure-security-keyvault-secrets/perf.yml
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

put back resource
  sdk/keyvault/azure-security-keyvault-secrets/perf.yml
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Update changelog for the Azurite fix (#4259)
  .vscode/cspell.json
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

perf resources (#4260)
  sdk/keyvault/azure-security-keyvault-certificates/perf-resources.json
  sdk/keyvault/azure-security-keyvault-keys/perf-resources.json
  sdk/keyvault/azure-security-keyvault-secrets/perf-resources.json
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Checkpoint - Put back TelemetryPolicy even when using RequestActivityPolicy.
  doc/DistributedTracing.md
  sdk/attestation/azure-security-attestation/src/attestation_administration_client.cpp
  sdk/attestation/azure-security-attestation/src/attestation_client.cpp
  sdk/core/azure-core-tracing-opentelemetry/test/ut/service_support_test.cpp
  sdk/core/azure-core-tracing-opentelemetry/test/ut/test_exporter.hpp
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/core/azure-core/inc/azure/core/internal/http/pipeline.hpp
  sdk/core/azure-core/inc/azure/core/internal/tracing/service_tracing.hpp
  sdk/core/azure-core/inc/azure/core/tracing/tracing.hpp
  sdk/core/azure-core/src/http/request_activity_policy.cpp
  sdk/core/azure-core/test/ut/request_activity_policy_test.cpp
  sdk/core/azure-core/test/ut/service_tracing_test.cpp
  sdk/core/azure-core/test/ut/telemetry_policy_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft

Update changelog for the Azurite fix
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Update changelog wording
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Update changelog wording
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Enforce that context is immutable
  sdk/core/azure-core-tracing-opentelemetry/test/ut/service_support_test.cpp
  sdk/core/azure-core-tracing-opentelemetry/test/ut/test_exporter.hpp
  sdk/core/azure-core/inc/azure/core/context.hpp
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/core/azure-core/inc/azure/core/internal/tracing/service_tracing.hpp
  sdk/core/azure-core/inc/azure/core/operation.hpp
  sdk/core/azure-core/inc/azure/core/tracing/tracing.hpp
  sdk/core/azure-core/src/context.cpp
  sdk/core/azure-core/src/http/request_activity_policy.cpp
  sdk/core/azure-core/src/tracing/tracing.cpp
  sdk/core/azure-core/test/ut/context_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Add "Fixed ..."
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Added "courtesy of" wording
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Spell checker update
  .vscode/cspell.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Update changelog wording (#4262)
  .vscode/cspell.json
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

clang-format
  doc/DistributedTracing.md
  sdk/core/azure-core/src/http/request_activity_policy.cpp
  sdk/core/azure-core/src/tracing/tracing.cpp
  sdk/core/azure-core/test/ut/service_tracing_test.cpp
  sdk/core/azure-core/test/ut/telemetry_policy_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

clang-format; fixed missing HTTP options
  sdk/core/azure-core/inc/azure/core/tracing/tracing.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Revert attestation user-agent value
  sdk/attestation/azure-security-attestation/src/attestation_administration_client.cpp
  sdk/attestation/azure-security-attestation/src/attestation_client.cpp
Owners: @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

stressTest
  sdk/core/azure-core/test/libcurl-stress-test/.helmignore
  sdk/core/azure-core/test/libcurl-stress-test/CMakeLists.txt
  sdk/core/azure-core/test/libcurl-stress-test/Chart.yaml
  sdk/core/azure-core/test/libcurl-stress-test/Dockerfile
  sdk/core/azure-core/test/libcurl-stress-test/deploy.ps1
  sdk/core/azure-core/test/libcurl-stress-test/generatedValues.yaml
  sdk/core/azure-core/test/libcurl-stress-test/libcurl_stress_test.cpp
  sdk/core/azure-core/test/libcurl-stress-test/scenarios-matrix.yaml
  sdk/core/azure-core/test/libcurl-stress-test/stress-test-resources.bicep
  sdk/core/azure-core/test/libcurl-stress-test/templates/deploy-job.yaml
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Complete client changes for OpenTelemetry semantic conventions
  sdk/attestation/azure-security-attestation/src/attestation_administration_client.cpp
  sdk/attestation/azure-security-attestation/src/attestation_client.cpp
  sdk/core/azure-core-tracing-opentelemetry/inc/azure/core/tracing/opentelemetry/opentelemetry.hpp
  sdk/core/azure-core-tracing-opentelemetry/src/opentelemetry.cpp
  sdk/core/azure-core-tracing-opentelemetry/test/ut/service_support_test.cpp
  sdk/core/azure-core/inc/azure/core/internal/http/pipeline.hpp
  sdk/core/azure-core/inc/azure/core/internal/tracing/service_tracing.hpp
  sdk/core/azure-core/src/http/request_activity_policy.cpp
  sdk/core/azure-core/src/tracing/tracing.cpp
  sdk/core/azure-core/test/ut/request_activity_policy_test.cpp
  sdk/core/azure-core/test/ut/service_tracing_test.cpp
  sdk/template/azure-template/src/template_client.cpp
Owners: @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @danieljurek, @weshaggard

Remove CHECKENFORCER file
  eng/CHECKENFORCER
Owners: @danieljurek, @weshaggard, @benbp

STRESS WORKS
  sdk/core/azure-core/test/libcurl-stress-test/.helmignore
  sdk/core/azure-core/test/libcurl-stress-test/Chart.yaml
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

missing space
  sdk/core/azure-core/test/libcurl-stress-test/.helmignore
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

docs for stress perf
  doc/StressTest.md
  doc/TestProxy.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Add perf-tests.yml
  sdk/storage/azure-storage-blobs/perf-tests.yml
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Remove "Services" parameter
  sdk/storage/azure-storage-blobs/perf.yml
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Remove CHECKENFORCER file (#4267)
  eng/CHECKENFORCER
Owners: @danieljurek, @weshaggard, @benbp

dotnet contrib
  CONTRIBUTING.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                @jsquire @rickwinter @ronniegeraghty

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama @LarryOsterman

###########
# Client SDKs
###########

# PRLabel: %Attestation
/sdk/attestation/        @LarryOsterman @gkostal @anilba06 @kroshkina-ms @ahmadmsft @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @EmmaZhu @antkmsft @vhvb1989 @gearama @LarryOsterman @microzchang

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek
