Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @schaabs, @vinjiang, @katmsft, @Jinming-Hu, @danieljurek, @weshaggard, @benbp

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @antkmsft @rickwinter @vhvb1989 @gearama

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek

Ensure ownership grant
  eng/common/TestResources/New-TestResources.ps1
Owners: @danieljurek, @weshaggard, @benbp

Added more parameter for JS use
  eng/common/scripts/Update-DocsMsMetadata.ps1
Owners: @danieljurek, @weshaggard, @benbp

Ensure ownership grant (#3173)
  eng/common/TestResources/New-TestResources.ps1
Owners: @danieljurek, @weshaggard, @benbp

Handle skipping docker build when PushImages is set and there is no dockerfile
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

Add logic for retrieving package infro from DevOps feed
  eng/common/scripts/Invoke-DevOpsAPI.ps1
Owners: @danieljurek, @weshaggard, @benbp

Add template for docwarden
  eng/common/pipelines/templates/steps/verify-readme.yml
  eng/common/scripts/Verify-Readme.ps1
Owners: @danieljurek, @weshaggard, @benbp

Remove Invoke-DevOpsAPI changes
  eng/common/scripts/Invoke-DevOpsAPI.ps1
Owners: @danieljurek, @weshaggard, @benbp

Update verify readme logic
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Verify-Readme.ps1
Owners: @danieljurek, @weshaggard, @benbp

Added more parameter for JS use (#3175)
  eng/common/scripts/Update-DocsMsMetadata.ps1
Owners: @danieljurek, @weshaggard, @benbp

Sync eng/common directory with azure-sdk-tools for PR 2417 (#3176)
  eng/common/pipelines/templates/steps/verify-readme.yml
  eng/common/scripts/Verify-Readme.ps1
Owners: @danieljurek, @weshaggard, @benbp

checkpoint
  sdk/core/azure-core-test/inc/azure/core/test/record_network_call_policy.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/azure-core-test/src/record_policy.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.hpp
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlockBlobClientTest.AsyncCopyFromUri.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlockBlobClientTest.CopyWithTagsMetadataTier.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlockBlobClientTest.CreateDelete.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlockBlobClientTest.DownloadEmpty.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlockBlobClientTest.DownloadTransactionalHash.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlockBlobClientTest.IsCurrentVersion.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlockBlobClientTest.Properties.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlockBlobClientTest.SmallUploadDownload.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlockBlobClientTest.SnapShotVersions.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlockBlobClientTest.SoftDelete.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlockBlobClientTest.StageBlock.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlockBlobClientTest.SyncCopyFromUri.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlockBlobClientTest.UploadWithTags.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @vinjiang, @katmsft, @Jinming-Hu

Fix DateTime::Parse validation for dates past year 9999 due to adjustments
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/datetime.cpp
  sdk/core/azure-core/test/ut/datetime_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Newline
  sdk/core/azure-core/test/ut/datetime_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

checkout
  sdk/core/azure-core-test/src/test_base.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.hpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @vinjiang, @katmsft, @Jinming-Hu

Shorten distance to overflow
  sdk/core/azure-core/test/ut/datetime_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

blockBlobParams
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToBuffer-c1s16777216.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToBuffer-c1s8388608.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToBuffer-c1s8388608o0.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToBuffer-c1s8388608o0l16777216.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToBuffer-c1s8388608o0l8388608.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToBuffer-c2s16777216.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToBuffer-c2s8388608.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToBuffer-c2s8388608o0.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToBuffer-c2s8388608o0l16777216.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToBuffer-c2s8388608o0l8388608.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToBuffer-c4s16777216.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToBuffer-c4s8388608.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToBuffer-c4s8388608o0.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToBuffer-c4s8388608o0l16777216.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToBuffer-c4s8388608o0l8388608.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToFile-c1s16777216.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToFile-c1s8388608.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToFile-c1s8388608o0.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToFile-c1s8388608o0l16777216.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToFile-c1s8388608o0l8388608.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToFile-c2s16777216.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToFile-c2s8388608.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToFile-c2s8388608o0.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToFile-c2s8388608o0l16777216.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToFile-c2s8388608o0l8388608.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToFile-c4s16777216.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToFile-c4s8388608.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToFile-c4s8388608o0.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToFile-c4s8388608o0l16777216.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToFile-c4s8388608o0l8388608.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @antkmsft, @rickwinter, @vhvb1989, @gearama

Shorten distance to overflow
  sdk/core/azure-core/test/ut/datetime_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Remove static curl transport
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/src/http/curl/static_curl.cpp
  sdk/core/azure-core/src/http/curl/static_curl_transport.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Remove static curl transport (#3178)
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/src/http/curl/static_curl.cpp
  sdk/core/azure-core/src/http/curl/static_curl_transport.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Shorten distance to overflow
  sdk/core/azure-core/test/ut/datetime_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Unused variable warnings
  sdk/core/azure-core/test/ut/datetime_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Add few simple unit tests to boost coverage
  sdk/core/azure-core/test/ut/datetime_test.cpp
  sdk/core/azure-core/test/ut/exception_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Unit test fix
  sdk/core/azure-core/test/ut/datetime_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

More coverage
  sdk/core/azure-core/test/ut/datetime_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Upadte conditions
  sdk/core/azure-core/test/ut/datetime_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

FIx condition
  sdk/core/azure-core/test/ut/datetime_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Fix warnings
  sdk/core/azure-core/test/ut/datetime_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Update condition once again
  sdk/core/azure-core/test/ut/datetime_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

LogLevel extra coverage
  sdk/core/azure-core/test/ut/environmentLogLevelListener_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Additional Policies
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/core/azure-core/test/ut/pipeline_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Log port and path
  sdk/core/azure-core/test/ut/log_policy_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Spell check
  sdk/core/azure-core/test/ut/retry_policy_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Retry log messages
  sdk/core/azure-core/test/ut/retry_policy_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Exception
  sdk/core/azure-core/test/ut/exception_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Rename file
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/environment_log_level_listener_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

URL Decode
  sdk/core/azure-core/test/ut/url_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Fixes
  sdk/core/azure-core/test/ut/exception_test.cpp
  sdk/core/azure-core/test/ut/pipeline_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Fix warning
  sdk/core/azure-core/test/ut/pipeline_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

Url
  sdk/core/azure-core/test/ut/url_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama

update
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/recordings/withParam-BlockBlobClient.downloadToBuffer-c1s8388608ominus1l1.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @antkmsft, @rickwinter, @vhvb1989, @gearama
