Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @rickwinter, @ronniegeraghty, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                @jsquire @rickwinter @ronniegeraghty

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama @LarryOsterman

###########
# Client SDKs
###########

# PRLabel: %Attestation
/sdk/attestation/        @LarryOsterman @gkostal @anilba06 @kroshkina-ms @ahmadmsft @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @EmmaZhu @antkmsft @vhvb1989 @gearama @LarryOsterman @microzchang

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek

update changelog
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

changelog update
  sdk/identity/azure-identity/CHANGELOG.md
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

Move Request ctor impl to the request.cpp file instead of http.cpp (#4195)
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/src/http/request.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Migrate eng/common (except job-matrix) to Ubuntu 22.04 (#4218)
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/jobs/perf.yml
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Owners: @danieljurek, @weshaggard, @benbp

Core January Release
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Identity January Release
  sdk/identity/azure-identity/CHANGELOG.md
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

trigger PR
  sdk/identity/azure-identity/CHANGELOG.md
Owners: @antkmsft, @schaabs, @ahsonkhan, @rickwinter, @vhvb1989, @gearama, @LarryOsterman

secrets
  sdk/keyvault/azure-security-keyvault-secrets/perf.yml
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

perftestst for get Secret
  sdk/keyvault/azure-security-keyvault-secrets/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/test/perf/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/test/perf/inc/azure/keyvault/secrets/test/get_secret_test.hpp
  sdk/keyvault/azure-security-keyvault-secrets/test/perf/src/azure_security_keyvault_secrets_perf_test.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

move things out from eng/common/scripts/job-matrix
  eng/common/scripts/job-matrix/README.md
  eng/common/scripts/job-matrix/samples/matrix-job-sample.yml
  eng/common/scripts/job-matrix/samples/matrix-test.yml
  eng/common/scripts/job-matrix/samples/matrix.json
  eng/common/scripts/job-matrix/tests/job-matrix-functions.filter.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
  eng/common/scripts/job-matrix/tests/test-import-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

fix broken link for CI/CD verification
  eng/common/scripts/job-matrix/README.md
Owners: @danieljurek, @weshaggard, @benbp

Sync eng/common directory with azure-sdk-tools for PR 5027 (#4221)
  eng/common/scripts/job-matrix/README.md
  eng/common/scripts/job-matrix/samples/matrix-job-sample.yml
  eng/common/scripts/job-matrix/samples/matrix-test.yml
  eng/common/scripts/job-matrix/samples/matrix.json
  eng/common/scripts/job-matrix/tests/job-matrix-functions.filter.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
  eng/common/scripts/job-matrix/tests/test-import-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

Hyperlink from eng/common job-matrix README to matrix_generator.md
  eng/common/scripts/job-matrix/README.md
Owners: @danieljurek, @weshaggard, @benbp

Core January Release (#4219)
  sdk/core/azure-core/CHANGELOG.md
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

dss
  CMakeSettings.json
  sdk/keyvault/azure-security-keyvault-secrets/test/perf/inc/azure/keyvault/secrets/test/get_secret_test.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

qfe
  sdk/keyvault/azure-security-keyvault-secrets/test/perf/CMakeLists.txt
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Increment package version after release of azure-core
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Revert "Migrate eng/common (except job-matrix) to Ubuntu 22.04 (#5005)" for perf.yml
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @danieljurek, @weshaggard, @benbp

Revert "Migrate eng/common (except job-matrix) to Ubuntu 22.04 (#5005)" for perf.yml (#4225)
  eng/common/pipelines/templates/jobs/perf.yml
Owners: @danieljurek, @weshaggard, @benbp

Corrected name for blobs storage review name
  sdk/storage/azure-storage-blobs/inc/ApiViewSettings.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Adding test pipeline for common-tests
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
  eng/common/pipelines/templates/steps/run-pester-tests.yml
Owners: @danieljurek, @weshaggard, @benbp

Added cspell settings for DCURL
  .vscode/cspell.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

pipelines
  sdk/keyvault/azure-security-keyvault-certificates/perf.yml
  sdk/keyvault/azure-security-keyvault-keys/perf.yml
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

comments
  sdk/keyvault/azure-security-keyvault-secrets/test/perf/inc/azure/keyvault/secrets/test/get_secret_test.hpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Increment package version after release of azure-core (#4223)
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

cleanup script
  sdk/keyvault/CMakeLists.txt
  sdk/keyvault/cleanup/CMakeLists.txt
  sdk/keyvault/cleanup/cleanup.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Hyperlink from eng/common job-matrix README to matrix_generator.md (#4227)
  eng/common/scripts/job-matrix/README.md
Owners: @danieljurek, @weshaggard, @benbp

update package versions
  eng/common/scripts/get-codeowners.ps1
Owners: @danieljurek, @weshaggard, @benbp

Adding test pipeline for common-tests (#4228)
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
  eng/common/pipelines/templates/steps/run-pester-tests.yml
Owners: @danieljurek, @weshaggard, @benbp

comment
  sdk/keyvault/azure-security-keyvault-certificates/test/perf/inc/azure/keyvault/certificates/test/get_certificate_test.hpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

key last
  sdk/keyvault/cleanup/cleanup.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

somemore stuff
  sdk/keyvault/CMakeLists.txt
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Added cspell settings for DCURL
  .vscode/cspell.json
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Corrected name for blobs storage review name
  sdk/storage/azure-storage-blobs/inc/ApiViewSettings.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

ApiView settings changes for DataLake
  sdk/storage/azure-storage-files-datalake/inc/ApiViewSettings.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Create ApiViewSettings for most existing packages
  sdk/attestation/azure-security-attestation/inc/ApiViewSettings.json
  sdk/core/azure-core/inc/ApiViewSettings.json
  sdk/identity/azure-identity/inc/ApiViewSettings.json
  sdk/keyvault/azure-security-keyvault-certificates/inc/ApiViewSettings.json
  sdk/keyvault/azure-security-keyvault-keys/inc/ApiViewSettings.json
  sdk/keyvault/azure-security-keyvault-secrets/inc/ApiViewSettings.json
  sdk/storage/azure-storage-blobs/inc/ApiViewSettings.json
  sdk/storage/azure-storage-files-datalake/inc/ApiViewSettings.json
  sdk/storage/azure-storage-files-shares/inc/ApiViewSettings.json
  sdk/storage/azure-storage-queues/inc/ApiViewSettings.json
Owners: @LarryOsterman, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @schaabs, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang

clang
  sdk/keyvault/cleanup/cleanup.cpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

update package versions (#4229)
  eng/common/scripts/get-codeowners.ps1
Owners: @danieljurek, @weshaggard, @benbp

Use non-template-template parameter in UniqueHandle
  sdk/core/azure-core/inc/azure/core/internal/unique_handle.hpp
  sdk/identity/azure-identity/inc/azure/identity/client_certificate_credential.hpp
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/identity/azure-identity/src/client_certificate_credential.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs

fix paths + add diagnostic output on failure
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Owners: @danieljurek, @weshaggard, @benbp
