Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @rickwinter, @ronniegeraghty, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs, @gkostal, @anilba06, @kroshkina-ms, @ahmadmsft, @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp

recording
  sdk/core/azure-core-test/CMakeLists.txt
  sdk/core/azure-core-test/inc/azure/core/test/interceptor_manager.hpp
  sdk/core/azure-core-test/inc/azure/core/test/playback_http_client.hpp
  sdk/core/azure-core-test/inc/azure/core/test/record_test_proxy_policy.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_context_manager.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_proxy_manager.hpp
  sdk/core/azure-core-test/src/interceptor_manager.cpp
  sdk/core/azure-core-test/src/playback_http_transport.cpp
  sdk/core/azure-core-test/src/record_policy.cpp
  sdk/core/azure-core-test/src/record_test_proxy_policy.cpp
  sdk/core/azure-core-test/src/test_base.cpp
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/recordings/KeyVaultSecretClientTest.FirstCreateTest.json
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/secret_client_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

Add optional TestResourcesDirectory override parameter
  eng/common/TestResources/New-TestResources.ps1
Owners: @danieljurek, @weshaggard, @benbp

Handle possible strict mode bugs
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

Add optional TestResourcesDirectory override parameter (#4105)
  eng/common/TestResources/New-TestResources.ps1
Owners: @danieljurek, @weshaggard, @benbp

Handle possible strict mode bugs (#4106)
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

Warn user when helm fails due to large files not being ignored
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

Fix typo for llong -> long in doc comment for Key Vault Certificates
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client_operations.hpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Warn user when helm fails due to large files not being ignored (#4107)
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

add test commit
  eng/common/README.md
Owners: @danieljurek, @weshaggard, @benbp

playback
  sdk/core/azure-core-test/CMakeLists.txt
  sdk/core/azure-core-test/inc/azure/core/test/playback_test_proxy_policy.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_proxy_manager.hpp
  sdk/core/azure-core-test/src/playback_test_proxy_policy.cpp
  sdk/core/azure-core-test/src/test_base.cpp
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/recordings/KeyVaultSecretClientTest.FirstCreateTest.json
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/secret_client_test.cpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

datalake append/flush with lease
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/rest_client.cpp
  sdk/storage/azure-storage-files-datalake/swagger/README.md
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/DataLakeFileClientTest.AppendFileWithLease.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/DataLakeFileClientTest.FlushFileWithLease.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

fix comment
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

fix spell
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

fix test record
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/DataLakeFileClientTest.AppendFileWithLease.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/DataLakeFileClientTest.FlushFileWithLease.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

fix clang format
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

Fix typo for llong -> long in doc comment for Key Vault Certificates (#4108)
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client_operations.hpp
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

updating target version to one with brotli encoding supported
  eng/common/testproxy/target_version.txt
Owners: @danieljurek, @weshaggard, @benbp

updating target version to one with brotli encoding supported (#4112)
  eng/common/testproxy/target_version.txt
Owners: @danieljurek, @weshaggard, @benbp

refactor, playback and record
  sdk/core/azure-core-test/CMakeLists.txt
  sdk/core/azure-core-test/inc/azure/core/test/record_test_proxy_policy.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_proxy_manager.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_proxy_policy.hpp
  sdk/core/azure-core-test/src/playback_test_proxy_policy.cpp
  sdk/core/azure-core-test/src/private/stopProxy.ps1
  sdk/core/azure-core-test/src/private/testproxy.ps1
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
  sdk/core/azure-core-test/src/test_proxy_policy.cpp
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/certificate_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/secret_client_base_test.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman

file_share_invalid_xml
  sdk/storage/azure-storage-files-shares/test/ut/recordings/FileShareDirectoryClientTest.ListFilesAndDirectoriesEncoded.json
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

adjust the edge cases tests
  eng/common/scripts/Service-Level-Readme-Automation-Functions.ps1
Owners: @danieljurek, @weshaggard, @benbp

Service readme index table stays the same even the table content needs to update
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Service-Level-Readme-Automation-Functions.ps1
  eng/common/scripts/Service-Level-Readme-Automation.ps1
Owners: @danieljurek, @weshaggard, @benbp

Fixed the service name
  eng/common/scripts/Service-Level-Readme-Automation.ps1
Owners: @danieljurek, @weshaggard, @benbp

add missing files
  eng/common/scripts/Helpers/Service-Level-Readme-Automation-Helpers.ps1
Owners: @danieljurek, @weshaggard, @benbp

change the helper function to helper folder
  eng/common/scripts/Service-Level-Readme-Automation-Functions.ps1
  eng/common/scripts/Service-Level-Readme-Automation.ps1
Owners: @danieljurek, @weshaggard, @benbp

Sync eng/common directory with azure-sdk-tools for PR 4632 (#4117)
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Helpers/Service-Level-Readme-Automation-Helpers.ps1
  eng/common/scripts/Service-Level-Readme-Automation.ps1
Owners: @danieljurek, @weshaggard, @benbp

datalake append/flush with lease (#4110)
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/rest_client.cpp
  sdk/storage/azure-storage-files-datalake/swagger/README.md
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/DataLakeFileClientTest.AppendFileWithLease.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/DataLakeFileClientTest.FlushFileWithLease.json
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

unit_test_for_file_invalid_xml (#4113)
  sdk/storage/azure-storage-files-shares/test/ut/recordings/FileShareDirectoryClientTest.ListFilesAndDirectoriesEncoded.json
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

klklk
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/recordings/KeyVaultCertificateClientTest.GetContacts.json
Owners: @vhvb1989, @gearama, @antkmsft, @rickwinter

Log out the link
  eng/common/scripts/Queue-Pipeline.ps1
Owners: @danieljurek, @weshaggard, @benbp

Adding debug messages.
  eng/common/scripts/Queue-Pipeline.ps1
Owners: @danieljurek, @weshaggard, @benbp

Make the env variable upper case
  eng/common/scripts/Queue-Pipeline.ps1
Owners: @danieljurek, @weshaggard, @benbp

Sync eng/common directory with azure-sdk-tools for PR 4701 (#4119)
  eng/common/scripts/Queue-Pipeline.ps1
Owners: @danieljurek, @weshaggard, @benbp

remove version id inTaggedBlobItem and add unit test for cold tier
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/src/rest_client.cpp
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
Owners: @vinjiang, @katmsft, @Jinming-Hu, @EmmaZhu, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @microzchang

open telemetry, identity
  sdk/core/azure-core-tracing-opentelemetry/test/ut/CMakeLists.txt
  sdk/core/azure-core-tracing-opentelemetry/test/ut/azure_core_otel_test.cpp
  sdk/core/azure-core-tracing-opentelemetry/test/ut/service_support_test.cpp
  sdk/identity/azure-identity/test/ut/CMakeLists.txt
  sdk/identity/azure-identity/test/ut/recordings/TokenCredentialTest.ClientSecret.json
  sdk/identity/azure-identity/test/ut/recordings/TokenCredentialTest.EnvironmentCredential.json
  sdk/identity/azure-identity/test/ut/token_credential_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_base_test.hpp
Owners: @rickwinter, @ahsonkhan, @antkmsft, @vhvb1989, @gearama, @LarryOsterman, @schaabs

Fix minor issue getting stress secret labels with quoting and error handling
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

Fix minor issue getting stress secret labels with quoting and error handling (#4122)
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @danieljurek, @weshaggard, @benbp

Use the new audience field
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
Owners: @danieljurek, @weshaggard, @benbp

Sync eng/common directory with azure-sdk-tools for PR 4628 (#4111)
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Prepare-Release.ps1
Owners: @danieljurek, @weshaggard, @benbp

Use the new audience field (#4124)
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
Owners: @danieljurek, @weshaggard, @benbp

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

################
# Automation
################

# Git Hub integration and bot rules
/.github/                @jsquire @rickwinter @ronniegeraghty

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
*                        @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman
/sdk/                    @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# Samples
/samples/                @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama @LarryOsterman

# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @schaabs @ahsonkhan @rickwinter @vhvb1989 @gearama @LarryOsterman

###########
# Client SDKs
###########

# PRLabel: %Attestation
/sdk/attestation/        @LarryOsterman @gkostal @anilba06 @kroshkina-ms @ahmadmsft @rickwinter @ahsonkhan @antkmsft @vhvb1989 @gearama

# PRLabel: %KeyVault
/sdk/keyvault/           @vhvb1989 @gearama @antkmsft @rickwinter

# PRLabel: %Storage
/sdk/storage/            @vinjiang @katmsft @Jinming-Hu @EmmaZhu @antkmsft @vhvb1989 @gearama @LarryOsterman @microzchang

# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/**/ci.yml               @danieljurek
/**/tests.yml            @danieljurek
