Repository Azure/azure-sdk-for-cpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama, @ronniegeraghty, @Azure/azure-sdk-write-identity, @RickWinter, @gkostal, @anilba06, @ahmadmsft, @vinjiang, @Jinming-Hu, @EmmaZhu, @microzchang, @danieljurek, @weshaggard, @benbp, @Azure/azure-sdk-eng

use staging url for testing
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Switch back to prod endpoint
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Remove PR commenting variable
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Identity: IMDS fail-fast and Cred order change in DAC (and Core support)
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_pool_private.hpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/src/http/winhttp/private/win_http_transport_impl.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/img/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/azure-identity/img/mermaidjs/DefaultAzureCredentialAuthFlow.svg
  sdk/identity/azure-identity/src/default_azure_credential.cpp
  sdk/identity/azure-identity/src/managed_identity_source.cpp
  sdk/identity/azure-identity/src/private/managed_identity_source.hpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Mac fix and cspell update
  .vscode/cspell.json
  sdk/identity/azure-identity/src/managed_identity_source.cpp
  sdk/identity/azure-identity/src/private/managed_identity_source.hpp
Owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama, @Azure/azure-sdk-write-identity

Update unit test and clang-format
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/identity/azure-identity/test/ut/default_azure_credential_test.cpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman, @Azure/azure-sdk-write-identity

Sync eng/common directory with azure-sdk-tools repository
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools repository (#6575)
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

Add option to perserve auth
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Owners: @Azure/azure-sdk-eng

Update eng/common/pipelines/templates/steps/sparse-checkout.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Owners: @Azure/azure-sdk-eng

Fixes to auto-download/start azsdk mcp
  eng/common/mcp/azure-sdk-mcp.ps1
Owners: @Azure/azure-sdk-eng

Fix unused parameter warning in win_http_transport.cpp.
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Sync eng/common directory with azure-sdk-tools for PR 10664 (#6576)
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Owners: @Azure/azure-sdk-eng

Fix unused parameter warning in win_http_transport.cpp.
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Fixes to auto-download/start azsdk mcp (#6578)
  eng/common/mcp/azure-sdk-mcp.ps1
Owners: @Azure/azure-sdk-eng

fix 404 links
  doc/DistributedTracing.md
  sdk/attestation/azure-security-attestation/samples/README.md
Owners: @rickwinter, @LarryOsterman, @gkostal, @anilba06, @ahmadmsft

update doc
  doc/DistributedTracing.md
Owners: @rickwinter, @LarryOsterman

update
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Owners: @danieljurek, @weshaggard, @benbp

update ubuntu image
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
  eng/pipelines/templates/stages/platform-matrix-cmakegenerate.json
  eng/pipelines/templates/stages/platform-matrix-cmakesourcegenerate.json
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @Azure/azure-sdk-eng, @danieljurek, @weshaggard, @benbp

update
  eng/pipelines/templates/stages/platform-matrix.json
Owners: @danieljurek, @weshaggard, @benbp

revert
  doc/DistributedTracing.md
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/stages/platform-matrix-cmakegenerate.json
  eng/pipelines/templates/stages/platform-matrix-cmakesourcegenerate.json
  eng/pipelines/templates/stages/platform-matrix.json
  sdk/attestation/azure-security-attestation/samples/README.md
Owners: @rickwinter, @LarryOsterman, @Azure/azure-sdk-eng, @danieljurek, @weshaggard, @benbp, @gkostal, @anilba06, @ahmadmsft

Fix unused parameter warning in win_http_transport.cpp.
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

somehow messed up copy/pasta
  eng/common/pipelines/templates/steps/save-package-properties.yml
Owners: @Azure/azure-sdk-eng

ensure the directory that gets logged is the actual changed packages service directory
  eng/common/pipelines/templates/steps/save-package-properties.yml
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 10657 (#6580)
  eng/common/pipelines/templates/steps/save-package-properties.yml
Owners: @Azure/azure-sdk-eng

Specify run directory as repo root for mcp runner
  eng/common/mcp/azure-sdk-mcp.ps1
Owners: @Azure/azure-sdk-eng

Auto-generated docs from SHA(s) 8ce6da864540aab5b95fd2ec3950b15ac00aa9e3
  CONTRIBUTING.html
  attestation.html
  eventhubs.html
  favicon.ico
  fonts/glyphicons-halflings-regular.eot
  fonts/glyphicons-halflings-regular.svg
  fonts/glyphicons-halflings-regular.ttf
  fonts/glyphicons-halflings-regular.woff
  fonts/glyphicons-halflings-regular.woff2
  identity.html
  index.html
  keyvault.html
  logo.svg
  manifest.json
  navtoc.html
  other.html
  search-stopwords.json
  storage.html
  styles/docfx.css
  styles/docfx.js
  styles/docfx.vendor.css
  styles/docfx.vendor.js
  styles/lunr.js
  styles/lunr.min.js
  styles/main.css
  styles/main.js
  styles/search-worker.js
  tables.html
  toc.html
  xrefmap.yml
Owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama

Update CI to update vcpkg cache if the run is PR-initiated
  eng/pipelines/templates/steps/vcpkg.yml
Owners: @danieljurek, @weshaggard, @benbp

Suppress otel warnings in stress test code
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/src/eventhubs_stress_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/src/scenarios/inc/batch_stress_tests.hpp
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/src/scenarios/inc/shared_functions.hpp
Owners: @LarryOsterman, @antkmsft, @gearama, @RickWinter

Clang-format
  sdk/core/azure-core-tracing-opentelemetry/test/ut/test_exporter.hpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Update vcpkg baseline
  cmake-modules/AzureVcpkg.cmake
  vcpkg.json
Owners: @rickwinter, @LarryOsterman, @antkmsft, @gearama

Make code to compile with either newer or older version of opentelemetry-cpp
  sdk/core/azure-core-tracing-opentelemetry/test/ut/test_exporter.hpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Fix unused parameter warning in win_http_transport.cpp, as in #6579
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Turn SSL caching off by default
  sdk/core/azure-core/inc/azure/core/http/curl_transport.hpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Disable libcurl SSL connection sharing
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/curl_transport.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/test/ut/curl_options_test.cpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Remove SetLibcurlShareOption()
  sdk/core/azure-core/src/http/curl/curl.cpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Revert more lines
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/ci.yml
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

#6579
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Make code to compile with either newer or older version of opentelemetry-cpp
  sdk/core/azure-core-tracing-opentelemetry/test/ut/test_exporter.hpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

Clang-format
  sdk/core/azure-core-tracing-opentelemetry/test/ut/test_exporter.hpp
Owners: @rickwinter, @antkmsft, @gearama, @LarryOsterman

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
/**                      @rickwinter @LarryOsterman

#Catch all for files at the root
/*                       @rickwinter @LarryOsterman @antkmsft @gearama
/sdk/                    @rickwinter @LarryOsterman

# Git Hub integration and bot rules
/.github/                @rickwinter @ronniegeraghty

# Samples
/samples/                @rickwinter @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @gearama
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @rickwinter @antkmsft @gearama @LarryOsterman

# AzureSdkOwners: @antkmsft
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @antkmsft @rickwinter @gearama @LarryOsterman @Azure/azure-sdk-write-identity

###########
# Client SDKs
###########

# AzureSdkOwners: @gearama
# ServiceLabel: %App Configuration
# PRLabel: %App Configuration
/sdk/appconfiguration/   @gearama @LarryOsterman @antkmsft @RickWinter

# ServiceOwners: @gkostal @anilba06 @ahmadmsft
# ServiceLabel: %Attestation

# PRLabel: %Attestation
/sdk/attestation/        @gkostal @anilba06 @ahmadmsft @LarryOsterman @rickwinter

# AzureSdkOwners: @LarryOsterman
# ServiceLabel: %Event Hubs
# PRLabel: %Event Hubs
/sdk/eventhubs/           @LarryOsterman @antkmsft @gearama @RickWinter

# AzureSdkOwners: @gearama
# ServiceLabel:  %KeyVault
# ServiceOwners:         @cheathamb36 @chen-karen @lgonsoulin

# PRLabel: %KeyVault
/sdk/keyvault/           @gearama @antkmsft @rickwinter @LarryOsterman

# ServiceOwners:@vinjiang @Jinming-Hu @microzchang
# ServiceLabel: %Storage

# PRLabel: %Storage
/sdk/storage/            @vinjiang @Jinming-Hu @EmmaZhu @antkmsft @gearama @LarryOsterman @microzchang

# AzureSdkOwners: @gearama
# ServiceLabel: %Tables
# PRLabel: %Tables
/sdk/tables/            @gearama @LarryOsterman @antkmsft

# AzureSdkOwners: @danieljurek
# ServiceLabel: %EngSys
# PRLabel: %EngSys
/sdk/template/           @danieljurek @weshaggard @LarryOsterman @RickWinter

# ServiceLabel: %Operator Nexus - Network Cloud
#/<NotInRepo>/           @Azure/azure-sdk-write-networkcloud

###########
# Eng Sys
###########
/eng/                    @danieljurek @weshaggard @benbp
/eng/common/             @Azure/azure-sdk-eng
/.github/workflows/      @Azure/azure-sdk-eng
/.github/CODEOWNERS      @rickwinter @ronniegeraghty @Azure/azure-sdk-eng

/.config/1espt/          @benbp @weshaggard
