Repository Azure/azure-sdk-for-cpp, pull requests merged in 2020-08, with the labels that each got.

#371 [Storage Blob Service] API GetAccountInfo
  sdk/storage/inc/blobs/blob_options.hpp
  sdk/storage/inc/blobs/blob_service_client.hpp
  sdk/storage/inc/blobs/protocol/blob_rest_client.hpp
  sdk/storage/src/blobs/blob_service_client.cpp
  sdk/storage/test/blobs/blob_service_client_test.cpp
Labels: Client, Storage

#380 [Storage] Parse error message only from bodyBuffer
  sdk/storage/src/common/storage_error.cpp
Labels: Client, Storage

#381 [Storage Blob Service] Get/SetBlobContainerAccessPolicy
  sdk/storage/inc/blobs/blob_container_client.hpp
  sdk/storage/inc/blobs/blob_options.hpp
  sdk/storage/inc/blobs/blob_sas_builder.hpp
  sdk/storage/inc/blobs/protocol/blob_rest_client.hpp
  sdk/storage/src/blobs/blob_container_client.cpp
  sdk/storage/src/blobs/blob_sas_builder.cpp
  sdk/storage/test/blobs/blob_container_client_test.cpp
  sdk/storage/test/blobs/blob_sas_test.cpp
  sdk/storage/test/test_base.cpp
  sdk/storage/test/test_base.hpp
Labels: Client, Storage

#391 [Storage] Pascal case for acronyms
  sdk/storage/inc/blobs/blob_options.hpp
  sdk/storage/inc/blobs/blob_responses.hpp
  sdk/storage/inc/blobs/blob_sas_builder.hpp
  sdk/storage/inc/blobs/protocol/blob_rest_client.hpp
  sdk/storage/inc/common/crypt.hpp
  sdk/storage/inc/datalake/datalake_responses.hpp
  sdk/storage/src/blobs/append_blob_client.cpp
  sdk/storage/src/blobs/blob_client.cpp
  sdk/storage/src/blobs/blob_sas_builder.cpp
  sdk/storage/src/blobs/block_blob_client.cpp
  sdk/storage/src/blobs/page_blob_client.cpp
  sdk/storage/src/common/account_sas_builder.cpp
  sdk/storage/src/common/crypt.cpp
  sdk/storage/src/common/shared_key_policy.cpp
  sdk/storage/src/datalake/file_client.cpp
  sdk/storage/src/datalake/path_client.cpp
  sdk/storage/test/blobs/append_blob_client_test.cpp
  sdk/storage/test/blobs/blob_container_client_test.cpp
  sdk/storage/test/blobs/blob_sas_test.cpp
  sdk/storage/test/blobs/blob_service_client_test.cpp
  sdk/storage/test/blobs/block_blob_client_test.cpp
  sdk/storage/test/blobs/page_blob_client_test.cpp
  sdk/storage/test/datalake/directory_client_test.cpp
  sdk/storage/test/datalake/file_client_test.cpp
  sdk/storage/test/datalake/file_system_client_test.cpp
  sdk/storage/test/datalake/service_client_test.cpp
  sdk/storage/test/test_base.cpp
  sdk/storage/test/test_base.hpp
Labels: Client, Storage

#403 [Storage Blob Service] Fix compiler warning
  sdk/storage/inc/blobs/protocol/blob_rest_client.hpp
Labels: Client, Storage

#404 [Storage Common] Fix compiler warning
  sdk/storage/inc/common/storage_error.hpp
Labels: Client, Storage

#402 [Storage Blob Service] Container Lease and Blob Lease
  sdk/storage/CMakeLists.txt
  sdk/storage/inc/blobs/blob_client.hpp
  sdk/storage/inc/blobs/blob_container_client.hpp
  sdk/storage/inc/blobs/blob_options.hpp
  sdk/storage/inc/blobs/protocol/blob_rest_client.hpp
  sdk/storage/inc/common/storage_common.hpp
  sdk/storage/src/blobs/blob_client.cpp
  sdk/storage/src/blobs/blob_container_client.cpp
  sdk/storage/src/common/storage_common.cpp
  sdk/storage/test/blobs/blob_container_client_test.cpp
  sdk/storage/test/blobs/page_blob_client_test.cpp
Labels: Client, Storage

#409 [Storage Blobs Service] Blob Versioning
  sdk/storage/inc/blobs/append_blob_client.hpp
  sdk/storage/inc/blobs/blob_client.hpp
  sdk/storage/inc/blobs/block_blob_client.hpp
  sdk/storage/inc/blobs/page_blob_client.hpp
  sdk/storage/inc/blobs/protocol/blob_rest_client.hpp
  sdk/storage/src/blobs/append_blob_client.cpp
  sdk/storage/src/blobs/blob_client.cpp
  sdk/storage/src/blobs/blob_container_client.cpp
  sdk/storage/src/blobs/blob_sas_builder.cpp
  sdk/storage/src/blobs/block_blob_client.cpp
  sdk/storage/src/blobs/page_blob_client.cpp
  sdk/storage/test/blobs/append_blob_client_test.cpp
  sdk/storage/test/blobs/blob_container_client_test.cpp
  sdk/storage/test/blobs/blob_sas_test.cpp
  sdk/storage/test/blobs/block_blob_client_test.cpp
  sdk/storage/test/blobs/page_blob_client_test.cpp
Labels: Client, Storage

#413 Add CHANGELOG enforcement to release process
  eng/pipelines/templates/stages/archetype-cpp-release.yml
Labels: EngSys

#419 [Storage Blobs Service] Only make one HTTP request if the blob size is small for Concurrent Upload API
  sdk/storage/src/blobs/block_blob_client.cpp
  sdk/storage/test/blobs/block_blob_client_test.cpp
Labels: Client, Storage

#421 [Storage Blob Service] integrate reliable stream
  sdk/storage/inc/common/constants.hpp
  sdk/storage/inc/common/reliable_stream.hpp
  sdk/storage/src/blobs/blob_client.cpp
  sdk/storage/src/common/reliable_stream.cpp
Labels: Client, Storage

#426 [Storage Blobs Service] Fix bug: CopyBlob always sends empty access-tier header
  sdk/storage/inc/blobs/blob_options.hpp
Labels: Client, Storage

#427 [Storage Blobs Service] Customer-Provided Key (CPK-V) and Encryption Scope (CPK-N)
  sdk/storage/inc/blobs/blob_client.hpp
  sdk/storage/inc/blobs/blob_container_client.hpp
  sdk/storage/inc/blobs/blob_options.hpp
  sdk/storage/inc/blobs/protocol/blob_rest_client.hpp
  sdk/storage/inc/common/crypt.hpp
  sdk/storage/src/blobs/append_blob_client.cpp
  sdk/storage/src/blobs/blob_client.cpp
  sdk/storage/src/blobs/blob_container_client.cpp
  sdk/storage/src/blobs/block_blob_client.cpp
  sdk/storage/src/blobs/page_blob_client.cpp
  sdk/storage/src/common/crypt.cpp
  sdk/storage/test/blobs/append_blob_client_test.cpp
  sdk/storage/test/blobs/blob_container_client_test.cpp
  sdk/storage/test/blobs/block_blob_client_test.cpp
  sdk/storage/test/blobs/page_blob_client_test.cpp
  sdk/storage/test/test_base.hpp
Labels: Client, Storage

#425 [Storage Blobs Service] Add test cases for LastModifiedTime and ETag and lease id
  sdk/storage/src/blobs/blob_client.cpp
  sdk/storage/src/blobs/blob_container_client.cpp
  sdk/storage/test/blobs/append_blob_client_test.cpp
  sdk/storage/test/blobs/blob_container_client_test.cpp
  sdk/storage/test/test_base.cpp
  sdk/storage/test/test_base.hpp
Labels: Client, Storage, test enhancement

#432 [Storage Blobs Service] Pass Context by const ref
  sdk/storage/inc/blobs/protocol/blob_rest_client.hpp
Labels: Client, Storage

#418 [Storage Blobs Service] Use UUID provided by Core SDK
  sdk/storage/src/common/storage_common.cpp
Labels: Client, Storage

#431 [Storage Common] Add test cases for base64 encode/decode, hash wrapper
  sdk/storage/test/CMakeLists.txt
  sdk/storage/test/common/crypt_functions_test.cpp
Labels: Client, Storage, test enhancement

#438 Fix build error
  sdk/storage/sample/main.cpp
  sdk/storage/src/common/storage_uri_builder.cpp
Labels: Client, Storage, blocking-release

#439 [Storage Blobs Service] x-ms-client-request-id header
  sdk/storage/src/blobs/blob_client.cpp
  sdk/storage/src/blobs/blob_container_client.cpp
  sdk/storage/src/blobs/blob_service_client.cpp
Labels: Client, Storage

#440 [Storage Common] Replace old RFC1123 impl which cannot be built until GCC 5
  sdk/storage/src/common/common_headers_request_policy.cpp
Labels: Client, Storage

#449 Rename return types and option types
  sdk/storage/inc/blobs/append_blob_client.hpp
  sdk/storage/inc/blobs/blob_client.hpp
  sdk/storage/inc/blobs/blob_container_client.hpp
  sdk/storage/inc/blobs/blob_options.hpp
  sdk/storage/inc/blobs/blob_responses.hpp
  sdk/storage/inc/blobs/blob_sas_builder.hpp
  sdk/storage/inc/blobs/blob_service_client.hpp
  sdk/storage/inc/blobs/block_blob_client.hpp
  sdk/storage/inc/blobs/page_blob_client.hpp
  sdk/storage/inc/blobs/protocol/blob_rest_client.hpp
  sdk/storage/inc/datalake/datalake_options.hpp
  sdk/storage/inc/datalake/datalake_responses.hpp
  sdk/storage/sample/blob_getting_started.cpp
  sdk/storage/sample/file_share_getting_started.cpp
  sdk/storage/src/blobs/append_blob_client.cpp
  sdk/storage/src/blobs/blob_client.cpp
  sdk/storage/src/blobs/blob_container_client.cpp
  sdk/storage/src/blobs/blob_service_client.cpp
  sdk/storage/src/blobs/block_blob_client.cpp
  sdk/storage/src/blobs/page_blob_client.cpp
  sdk/storage/src/datalake/datalake_file_client.cpp
  sdk/storage/src/datalake/datalake_file_system_client.cpp
  sdk/storage/src/datalake/datalake_service_client.cpp
  sdk/storage/test/blobs/append_blob_client_test.cpp
  sdk/storage/test/blobs/blob_container_client_test.cpp
  sdk/storage/test/blobs/blob_sas_test.cpp
  sdk/storage/test/blobs/blob_service_client_test.cpp
  sdk/storage/test/blobs/block_blob_client_test.cpp
  sdk/storage/test/blobs/large_scale_test.cpp
  sdk/storage/test/blobs/page_blob_client_test.cpp
  sdk/storage/test/blobs/performance_benchmark.cpp
Labels: Client, Storage, blocking-release

#456 [Storage Blobs Service] Transactional MD5 and CRC64
  sdk/storage/inc/common/crypt.hpp
  sdk/storage/src/blobs/blob_sas_builder.cpp
  sdk/storage/src/common/account_sas_builder.cpp
  sdk/storage/src/common/crypt.cpp
  sdk/storage/src/common/shared_key_policy.cpp
  sdk/storage/test/blobs/blob_container_client_test.cpp
  sdk/storage/test/blobs/page_blob_client_test.cpp
  sdk/storage/test/common/crypt_functions_test.cpp
  sdk/storage/test/test_base.cpp
  sdk/storage/test/test_base.hpp
Labels: Client, Storage

#460 [Storage Blobs Service] Rename Results and Options
  sdk/storage/inc/blobs/blob_options.hpp
  sdk/storage/inc/blobs/blob_responses.hpp
  sdk/storage/inc/blobs/block_blob_client.hpp
  sdk/storage/inc/blobs/protocol/blob_rest_client.hpp
  sdk/storage/sample/blob_getting_started.cpp
  sdk/storage/src/blobs/block_blob_client.cpp
  sdk/storage/src/datalake/datalake_file_client.cpp
  sdk/storage/test/blobs/blob_container_client_test.cpp
  sdk/storage/test/blobs/block_blob_client_test.cpp
  sdk/storage/test/blobs/large_scale_test.cpp
  sdk/storage/test/blobs/performance_benchmark.cpp
Labels: Client, Storage, blocking-release

#377 Sync eng/common directory with azure-sdk-tools repository
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/Verify-Links.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/get-codeowners.ps1
  eng/common/scripts/update-docs-ci.ps1
  eng/common/scripts/update-docs-metadata.ps1
Labels: EngSys

#462 [Storage Blobs Service] Undelete Container
  sdk/storage/inc/blobs/blob_container_client.hpp
  sdk/storage/inc/blobs/blob_options.hpp
  sdk/storage/inc/blobs/protocol/blob_rest_client.hpp
  sdk/storage/inc/common/storage_common.hpp
  sdk/storage/src/blobs/blob_container_client.cpp
  sdk/storage/src/blobs/blob_service_client.cpp
  sdk/storage/test/blobs/blob_container_client_test.cpp
  sdk/storage/test/blobs/blob_service_client_test.cpp
Labels: Client, Storage

#465 [Storage Blobs Service] Seal Append Blob
  sdk/storage/inc/blobs/append_blob_client.hpp
  sdk/storage/inc/blobs/blob_options.hpp
  sdk/storage/inc/blobs/protocol/blob_rest_client.hpp
  sdk/storage/src/blobs/append_blob_client.cpp
  sdk/storage/src/blobs/blob_client.cpp
  sdk/storage/test/blobs/append_blob_client_test.cpp
  sdk/storage/test/blobs/blob_container_client_test.cpp
  sdk/storage/test/blobs/block_blob_client_test.cpp
Labels: Client, Storage

#467 [Storage Blob Service] ORS
  sdk/storage/inc/blobs/protocol/blob_rest_client.hpp
  sdk/storage/test/blobs/blob_container_client_test.cpp
  sdk/storage/test/blobs/blob_service_client_test.cpp
Labels: Client, Storage

#448 Adjust CI YAML headers
  sdk/core/ci.yml
  sdk/storage/ci.yml
Labels: EngSys

#487 [Storage Blob Service] Remove Content-MD5 and ContentCRC64 from Create{PageBlob|AppendBlob}Result
  sdk/storage/inc/blobs/protocol/blob_rest_client.hpp
Labels: Client, Storage

#486 [Storage Blob Service] Concurrent upload for Page Blob
  sdk/storage/inc/blobs/append_blob_client.hpp
  sdk/storage/inc/blobs/blob_options.hpp
  sdk/storage/inc/blobs/blob_responses.hpp
  sdk/storage/inc/blobs/page_blob_client.hpp
  sdk/storage/src/blobs/append_blob_client.cpp
  sdk/storage/src/blobs/page_blob_client.cpp
  sdk/storage/test/blobs/block_blob_client_test.cpp
  sdk/storage/test/blobs/page_blob_client_test.cpp
Labels: Client, Storage

#496 [Storage Blobs Service] GetBlobServiceStatistics
  sdk/storage/inc/blobs/blob_service_client.hpp
  sdk/storage/src/blobs/blob_service_client.cpp
  sdk/storage/test/blobs/blob_service_client_test.cpp
Labels: Client, Storage

#512 [Storage Common] StoragePerRetryPolicy
  sdk/storage/CMakeLists.txt
  sdk/storage/inc/common/storage_per_retry_policy.hpp
  sdk/storage/src/blobs/blob_client.cpp
  sdk/storage/src/blobs/blob_container_client.cpp
  sdk/storage/src/blobs/blob_service_client.cpp
  sdk/storage/src/common/storage_per_retry_policy.cpp
  sdk/storage/src/datalake/datalake_directory_client.cpp
  sdk/storage/src/datalake/datalake_file_client.cpp
  sdk/storage/src/datalake/datalake_file_system_client.cpp
  sdk/storage/src/datalake/datalake_path_client.cpp
  sdk/storage/src/datalake/datalake_service_client.cpp
  sdk/storage/src/shares/share_client.cpp
  sdk/storage/src/shares/share_service_client.cpp
Labels: Client, Storage

#511 Remove context from StorageError::CreateFromResponse
  sdk/storage/inc/blobs/protocol/blob_rest_client.hpp
  sdk/storage/inc/common/storage_error.hpp
  sdk/storage/inc/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/inc/shares/protocol/share_rest_client.hpp
  sdk/storage/src/common/storage_error.cpp
Labels: Client, Storage

#537 Sync eng/common directory with azure-sdk-tools for PR 915
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
Labels: EngSys

#544 Resolved review comments.
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/append_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/block_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/page_blob_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_service_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_constants.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_directory_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_service_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_service_client_test.cpp
Labels: Client, Storage, blocking-release

#545 Resolve review comments
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/page_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
Labels: Client, Storage, blocking-release

#390 perf stress basic struct folder and no op herarchy structure
  CMakeLists.txt
  sdk/core/performance-stress/CHANGELOG.md
  sdk/core/performance-stress/CMakeLists.txt
  sdk/core/performance-stress/LICENSE
  sdk/core/performance-stress/README.md
  sdk/core/performance-stress/inc/perf_stress_options.hpp
  sdk/core/performance-stress/inc/perf_stress_test.hpp
  sdk/core/performance-stress/inc/perf_stress_test_base.hpp
  sdk/core/performance-stress/src/placeholder.cpp
  sdk/core/performance-stress/test/CMakeLists.txt
  sdk/core/performance-stress/test/src/no_op_test.cpp
Labels: Azure.Core

#551 [Storage Blobs Service] Update Changelog
  sdk/storage/azure-storage-blobs/CHANGELOG.md
Labels: Client, Storage
