Repository Azure/azure-sdk-for-cpp, pull requests merged in 2020-11, with the labels that each got.

#868 Create a more random approach to uuid generation
  sdk/core/azure-core/inc/azure/core/uuid.hpp
  sdk/core/azure-core/test/ut/uuid.cpp
Labels: Azure.Core

#893 Sync eng/common directory with azure-sdk-tools for PR 1160
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/git-branch-push.ps1
Labels: Central-EngSys, EngSys

#888 update main root license to be txt
  LICENSE.txt
  README.md
Labels: Azure.Core, Client, auto-merge

#877 remove throw from NextPolicy
  sdk/core/azure-core/inc/azure/core/http/pipeline.hpp
  sdk/core/azure-core/inc/azure/core/http/policy.hpp
  sdk/core/azure-core/src/http/policy.cpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/policy.cpp
Labels: Azure.Core, Client, auto-merge

#900 Sync eng/common directory with azure-sdk-tools for PR 1167
  eng/common/scripts/git-branch-push.ps1
Labels: Central-EngSys, EngSys

#885 curl transport adapter options
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/http/curl/curl connection_pool.hpp
  sdk/core/azure-core/inc/azure/core/http/curl/curl.hpp
  sdk/core/azure-core/inc/azure/core/http/curl/curl_session.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/curl_options.cpp
  sdk/core/azure-core/test/ut/curl_session_test.cpp
  sdk/core/azure-core/test/ut/transport_adapter.cpp
Labels: Azure.Core, Client

#608 Live test framework
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  sdk/core/ci.yml
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/ci.yml
  sdk/storage/test-resources-post.ps1
  sdk/storage/test-resources.json
  sdk/template/ci.yml
Labels: Central-EngSys, EngSys

#894 Added publish to GH pages steps.
  eng/docs/index/Generate-DocIndex.ps1
  eng/pipelines/doc-index.yml
Labels: Central-EngSys, EngSys

#904 Add GetPort to URL
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/src/http/url.cpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/http.cpp
  sdk/core/azure-core/test/ut/url.cpp
Labels: Azure.Core, Client

#908 Sync eng/common directory with azure-sdk-tools for PR 1175
  eng/common/TestResources/New-TestResources.ps1
Labels: Central-EngSys, EngSys

#915 enable license link
  README.md
Labels: Azure.Core, Client

#912 create error string only if there is an error and not before
  sdk/core/azure-core/src/http/curl/curl.cpp
Labels: Azure.Core, Client

#907 remove space from header
  sdk/core/azure-core/inc/azure/core/http/curl/curl.hpp
  sdk/core/azure-core/inc/azure/core/http/curl/curl_connection_pool.hpp
  sdk/core/azure-core/inc/azure/core/http/curl/curl_session.hpp
Labels: Azure.Core, Client

#903 upgrade vcpkg version to 2020.11
  eng/vcpkg-commit.txt
Labels: Azure.Core, Client

#910 Test that a connection won't be moved to the connection pool if uploading fails
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/test/ut/curl_session_test.cpp
Labels: Azure.Core, Client, auto-merge

#889 Adding options for telemetry and transport policy
  CMakeLists.txt
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/curl/curl.hpp
  sdk/core/azure-core/inc/azure/core/http/policy.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/telemetry_policy.cpp
  sdk/core/azure-core/src/http/transport_policy.cpp
  sdk/core/azure-core/test/e2e/azure_core_storage_list_containers_sample.cpp
  sdk/core/azure-core/test/e2e/azure_core_storage_test_sample.cpp
  sdk/core/azure-core/test/e2e/azure_core_with_curl_bodyBuffer.cpp
  sdk/core/azure-core/test/e2e/azure_core_with_curl_bodyStream.cpp
  sdk/core/azure-core/test/ut/curl_options.cpp
  sdk/core/azure-core/test/ut/telemetry_policy.cpp
  sdk/core/azure-core/test/ut/transport_adapter.cpp
  sdk/identity/azure-identity/src/client_secret_credential.cpp
  sdk/storage/azure-storage-blobs/src/blob_batch_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
Labels: Azure.Core, Client, auto-merge

#855 Storage uses Core::Encode
  sdk/storage/azure-storage-common/src/crypt.cpp
Labels: Client, Storage

#925 Disabling BlobContainerClientTest.BlobSasTest since it is failing live test
  sdk/storage/azure-storage-blobs/test/blob_sas_test.cpp
Labels: Storage, test bug

#935 revert change to xmlsoft link
  sdk/storage/README.md
Labels: Azure.Core, Client

#933 remove commented code
  sdk/core/azure-core/inc/azure/core/http/curl/curl_connection_pool.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
Labels: Azure.Core, Client, auto-merge

#919 Sync eng/common directory with azure-sdk-tools for PR 1163
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
Labels: Central-EngSys, EngSys

#936 Adding datetime format decimal and no decimal
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/datetime.hpp
  sdk/core/azure-core/src/datetime.cpp
  sdk/core/azure-core/test/ut/datetime.cpp
Labels: Azure.Core, Client

#937 Sync eng/common directory with azure-sdk-tools for PR 1178
  eng/common/README.md
Labels: Central-EngSys, EngSys

#940 Sync eng/common directory with azure-sdk-tools for PR 1185
  eng/common/README.md
Labels: Central-EngSys, EngSys

#928 Make Transport Adapter Base tests for any transport adapter to implement
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/transport_adapter.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.hpp
  sdk/core/azure-core/test/ut/transport_adapter_curl.cpp
  sdk/core/azure-core/test/ut/transport_adapter_file_upload.cpp
Labels: Azure.Core, Client

#921 move stuff to Details namespace
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_sas_builder.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_batch_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
Labels: Client, Storage, blocking-release

#923 Move protocol layer options and methods to details namespace.
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
Labels: Client, Storage, blocking-release

#942 API review change
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/append_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/block_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/page_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_batch_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_batch_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/large_scale_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-common/inc/azure/storage/common/access_conditions.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_credential.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_exception.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/xml_wrapper.hpp
  sdk/storage/azure-storage-common/src/storage_exception.cpp
  sdk/storage/azure-storage-common/src/xml_wrapper.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/sample/datalake_getting_started.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_sas_test.cpp
Labels: Client, Storage

#864 customized http client
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/src/blob_batch_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
Labels: Client, Storage

#947 Sync eng/common directory with azure-sdk-tools for PR 1188
  eng/common/TestResources/New-TestResources.ps1
Labels: Central-EngSys, EngSys

#948 Sync eng/common directory with azure-sdk-tools for PR 1190
  eng/common/TestResources/New-TestResources.ps1
Labels: Central-EngSys, EngSys

#938 DateTime: API review feedback
  sdk/core/azure-core/inc/azure/core/datetime.hpp
  sdk/core/azure-core/src/datetime.cpp
  sdk/core/azure-core/test/ut/datetime.cpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
Labels: Azure.Core, auto-merge

#916 Sync eng/common directory with azure-sdk-tools for PR 1170
  eng/common/scripts/Verify-Links.ps1
  eng/common/scripts/get-markdown-files-from-changed-files.ps1
Labels: Central-EngSys, EngSys

#941 changelog updated for Releasing 1.0.0-beta.3
  sdk/core/azure-core/CHANGELOG.md
  sdk/identity/CHANGELOG.md
Labels: Azure.Core, Client

#945 move stuff to Models
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/append_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_batch_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_sas_builder.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/block_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/page_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_batch_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/blob_batch_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
Labels: Client, Storage

#953 Move the identity changelog to the directory expected by the pipeline.
  sdk/identity/azure-identity/CHANGELOG.md
Labels: EngSys, auto-merge

#951 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/version.hpp
Labels: auto-merge

#956 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/inc/azure/identity/version.hpp
Labels: EngSys, auto-merge

#952 default concurrency from 1 to 5
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
Labels: Client, Storage

#955 rename SetAccountKey->UpdateAccountKey
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_credential.hpp
Labels: Client, Storage

#957 customers cannot change sas version anymore
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_sas_builder.hpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/account_sas_builder.hpp
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_sas_builder.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_sas_builder.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_sas_builder.hpp
  sdk/storage/azure-storage-files-shares/src/share_sas_builder.cpp
Labels: Client, Storage, auto-merge

#958 rename ToSasQueryParameters->GenerateSasToken
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_sas_builder.hpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-blobs/test/blob_batch_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_sas_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/account_sas_builder.hpp
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_sas_builder.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_sas_builder.hpp
  sdk/storage/azure-storage-files-shares/src/share_sas_builder.cpp
  sdk/storage/azure-storage-files-shares/test/share_sas_test.cpp
Labels: Client, Storage, auto-merge

#950 Update/correct DateTime exception documentation
  sdk/core/azure-core/inc/azure/core/datetime.hpp
Labels: Azure.Core

#967 Remove DateTime::operator Duration()
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/datetime.hpp
  sdk/core/azure-core/test/ut/datetime.cpp
Labels: Azure.Core, auto-merge

#899 Sync eng/common directory with azure-sdk-tools for PR 1161
  eng/common/scripts/Get-PullRequestCreator.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/Submit-PullRequest.ps1
Labels: Central-EngSys, EngSys

#969 Sync eng/common directory with azure-sdk-tools for PR 1199
  eng/common/TestResources/deploy-test-resources.yml
Labels: Central-EngSys, EngSys

#970 Sync eng/common directory with azure-sdk-tools for PR 1202
  eng/common/TestResources/New-TestResources.ps1
Labels: Central-EngSys, EngSys

#977 Update contributing guide for vcpkg steps
  CONTRIBUTING.md
Labels: Azure.Core, Client

#974 changelog for storage common and blob
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
Labels: Client, Storage

#978 Changelog update for file/datalake service for beta.5
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Labels: Storage

#971 Add a simplified identity header.
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/inc/azure/identity.hpp
Labels: Azure.Identity

#979 Increment version for storage releases
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/version.hpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/inc/azure/storage/common/version.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/version.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/version.hpp
Labels: Storage

#983 Sync eng/common directory with azure-sdk-tools for PR 1153
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/SemVer.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#982 Add collapsible version on github io.
  eng/docs/index/templates/matthews/styles/main.css
  eng/docs/index/templates/matthews/styles/main.js
Labels: Docs, EngSys

#981 Fix default EndpointSuffix when parsing connection string
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-common/src/storage_credential.cpp
  sdk/storage/azure-storage-common/test/storage_credential_test.cpp
Labels: Storage, customer-reported

#985 Update LanguageSetting.ps1
  eng/scripts/Language-Settings.ps1
Labels: EngSys

#984 Sync eng/common directory with azure-sdk-tools for PR 1210
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
Labels: Central-EngSys, EngSys

#989 unify blob client options
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_batch_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_batch_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_service_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_directory_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_service_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
Labels: Client, Storage

#987 Blob test enhancements
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/large_scale_test.cpp
  sdk/storage/azure-storage-blobs/test/performance_benchmark.cpp
  sdk/storage/azure-storage-common/test/storage_credential_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_sas_test.cpp
Labels: Client, Storage, test enhancement

#986 Updated Readme to reflect the change of default triplet.
  sdk/storage/README.md
Labels: Storage

#939 Allow exclude for codecoverage
  CONTRIBUTING.md
  cmake-modules/CodeCoverage.cmake
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/ci.yml
Labels: Azure.Core, Client

#994 Blob test enhancement 2
  sdk/storage/azure-storage-blobs/test/blob_service_client_test.cpp
Labels: Client, Storage, test enhancement

#999 Sync eng/common directory with azure-sdk-tools for PR 1203
  eng/common/scripts/Add-IssueComment.ps1
  eng/common/scripts/Add-IssueLabels.ps1
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Get-PullRequestCreator.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/Update-ChangeLog.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/common.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
  eng/common/scripts/create-tags-and-git-release.ps1
  eng/common/scripts/update-docs-ci.ps1
  eng/common/scripts/update-docs-metadata.ps1
Labels: Central-EngSys, EngSys

#1002 Fix coverage report for template and core pipelines
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  sdk/core/ci.yml
  sdk/storage/ci.yml
  sdk/template/ci.yml
Labels: Azure.Core, Client, auto-merge

#1006 Sync eng/common directory with azure-sdk-tools for PR 1222
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: Central-EngSys, EngSys

#995 Rename Get{Block/Append/Page}BlobClient -> As{Block/Append/Page}BlobC…
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
Labels: Client, Storage

#996 AccessConditions as a member
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
Labels: Client, Storage

#997 rename uri->url
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/append_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_batch_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/block_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/page_blob_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_batch_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_batch_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_credential.hpp
  sdk/storage/azure-storage-common/src/storage_credential.cpp
  sdk/storage/azure-storage-common/test/bearer_token_test.cpp
  sdk/storage/azure-storage-common/test/storage_credential_test.cpp
  sdk/storage/azure-storage-common/test/test_base.cpp
  sdk/storage/azure-storage-common/test/test_base.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_service_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
Labels: Client, Storage

#998 clients accept TokenCredential as param
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/append_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/block_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/page_blob_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_service_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_directory_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_service_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
Labels: Client, Storage

#1000 remove c_
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_batch_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/constants.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_common.hpp
  sdk/storage/azure-storage-common/sample/main.cpp
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-common/src/crypt.cpp
  sdk/storage/azure-storage-common/src/storage_exception.cpp
  sdk/storage/azure-storage-common/src/storage_per_retry_policy.cpp
  sdk/storage/azure-storage-common/test/test_base.cpp
  sdk/storage/azure-storage-common/test/test_base.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_sas_builder.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
Labels: Client, Storage

#980 Fix linker error of missing pthread on Linux
  sdk/core/azure-core/CMakeLists.txt
Labels: customer-reported

#1003 Resolve protocol layer latest comment proposed changes from review.
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
Labels: Storage

#1012 Sync eng/common directory with azure-sdk-tools for PR 1226
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/pipelines/templates/steps/docindex.yml
  eng/common/scripts/common.ps1
Labels: Central-EngSys, EngSys

#1016 Removed Share Lease due to it not supported until STG 76
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
Labels: Storage

#1014 Add more test cases to increase datalake service test coverage.
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_utilities.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_utilities.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_service_client_test.cpp
Labels: Storage

#1004 let azure core provide json interface
  cmake-modules/add_nlohmann_json.cmake
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/json.cpp
  sdk/core/azure-core/test/ut/transport_adapter_curl.cpp
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-common/inc/azure/storage/common/json.hpp
  sdk/storage/azure-storage-common/src/storage_exception.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
Labels: Azure.Core, Client

#1015 Removed client secret credential support for file service.
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_directory_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_service_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
Labels: Storage

#1024 fix parameter name case
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_batch_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
Labels: Client, Storage

#1025 rename SharedKeyCredential -> StorageSharedKeyCredential
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/append_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_batch_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_sas_builder.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/block_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/page_blob_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_batch_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/inc/azure/storage/common/account_sas_builder.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/shared_key_policy.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_credential.hpp
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-common/src/storage_credential.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_sas_builder.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_service_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_directory_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_sas_builder.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_service_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_sas_builder.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
Labels: Client, Storage

#1028 Add "Blob" before every "Container"
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/append_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_batch_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_sas_builder.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/block_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/page_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_batch_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/blob_batch_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_service_client_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/account_sas_builder.hpp
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
Labels: Client, Storage

#1011 Sync eng/common directory with azure-sdk-tools for PR 1220
  eng/common/pipelines/templates/steps/bypass-local-dns.yml
  eng/common/pipelines/templates/steps/verify-agent-os.yml
Labels: Central-EngSys, EngSys

#1023 Remove curl transport adapter models and private headers form public API
  sdk/core/azure-core/inc/azure/core/http/curl/curl.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection.hpp
  sdk/core/azure-core/src/http/curl/curl_connection_pool.hpp
  sdk/core/azure-core/src/http/curl/curl_session.hpp
  sdk/core/azure-core/test/ut/curl_options.cpp
  sdk/core/azure-core/test/ut/curl_session.hpp
  sdk/core/azure-core/test/ut/curl_session_test.cpp
  sdk/core/azure-core/test/ut/transport_adapter_curl.cpp
Labels: Azure.Core, Client
