Repository Azure/azure-sdk-for-cpp, pull requests merged in 2020-06, with the labels that each got.

#158 Add support for HTTP methods to unblock storage team
  sdk/core/azure-core/inc/http/http.hpp
  sdk/core/azure-core/src/http/curl/curl_transport.cpp
  sdk/core/azure-core/src/http/request.cpp
Labels: Azure::Core, blocking-release

#152 [Blocking] Adding test framework for azure storage.
  CMakeLists.txt
  sdk/core/azure-core/test/CMakeLists.txt
  sdk/storage/CMakeLists.txt
  sdk/storage/test/CMakeLists.txt
  sdk/storage/test/block_blob_client_test.cpp
  sdk/storage/test/main.cpp
  sdk/storage/test/test_base.cpp
  sdk/storage/test/test_base.hpp
Labels: Client, Storage, blocking-release

#160 Shared Key Authentication Policy
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/storage/CMakeLists.txt
  sdk/storage/inc/blobs/blob.hpp
  sdk/storage/inc/blobs/blob_client.hpp
  sdk/storage/inc/blobs/blob_client_options.hpp
  sdk/storage/inc/blobs/blob_container_client.hpp
  sdk/storage/inc/blobs/blob_container_client_options.hpp
  sdk/storage/inc/blobs/block_blob_client.hpp
  sdk/storage/inc/blobs/internal/protocol/blob_rest_client.hpp
  sdk/storage/inc/common/common_headers_request_policy.hpp
  sdk/storage/inc/common/crypt.hpp
  sdk/storage/inc/common/shared_key_policy.hpp
  sdk/storage/inc/common/storage_common.hpp
  sdk/storage/inc/common/storage_credential.hpp
  sdk/storage/inc/common/storage_url_builder.hpp
  sdk/storage/src/blobs/blob_client.cpp
  sdk/storage/src/blobs/blob_container_client.cpp
  sdk/storage/src/blobs/block_blob_client.cpp
  sdk/storage/src/common/common_headers_request_policy.cpp
  sdk/storage/src/common/crypt.cpp
  sdk/storage/src/common/shared_key_policy.cpp
  sdk/storage/src/common/storage_credential.cpp
  sdk/storage/src/common/storage_url_builder.cpp
Labels: Client, Storage, blocking-release

#153 Adding ADLS gen2 protocol layer code.
  sdk/storage/CMakeLists.txt
  sdk/storage/external/json.hpp
  sdk/storage/inc/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/sample/datalake_getting_started.cpp
  sdk/storage/test/CMakeLists.txt
  sdk/storage/test/main.cpp
Labels: Client, Storage, blocking-release

#177 Export symbols when building storage dll
  sdk/storage/CMakeLists.txt
Labels: Client, Storage, blocking-release

#200 adding host header automatically if missing for libcurl transport
  sdk/core/azure-core/inc/http/http.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/request.cpp
  sdk/samples/http_client/curl/src/azure_core_with_curl_bodyStream.cpp
Labels: Client, bug

#203 fix the number of bytes that are read by stream
  sdk/core/azure-core/src/http/curl/curl.cpp
Labels: Client, bug

#202 Support for requests with no body
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/response.cpp
  sdk/samples/http_client/curl/src/azure_core_with_curl_bodyBuffer.cpp
Labels: Client, bug

#181 Add Unittest for Blob Service, other fixes and enhancements found during validation
  sdk/storage/CMakeLists.txt
  sdk/storage/inc/blobs/append_blob_client.hpp
  sdk/storage/inc/blobs/blob.hpp
  sdk/storage/inc/blobs/blob_client.hpp
  sdk/storage/inc/blobs/blob_container_client.hpp
  sdk/storage/inc/blobs/blob_options.hpp
  sdk/storage/inc/blobs/blob_service_client.hpp
  sdk/storage/inc/blobs/block_blob_client.hpp
  sdk/storage/inc/blobs/internal/protocol/blob_rest_client.hpp
  sdk/storage/inc/blobs/page_blob_client.hpp
  sdk/storage/inc/common/memory_stream.hpp
  sdk/storage/inc/common/storage_credential.hpp
  sdk/storage/inc/common/storage_url_builder.hpp
  sdk/storage/sample/CMakeLists.txt
  sdk/storage/sample/blob_getting_started.cpp
  sdk/storage/sample/datalake_getting_started.cpp
  sdk/storage/sample/main.cpp
  sdk/storage/sample/samples_common.hpp
  sdk/storage/src/blobs/append_blob_client.cpp
  sdk/storage/src/blobs/blob_client.cpp
  sdk/storage/src/blobs/blob_container_client.cpp
  sdk/storage/src/blobs/blob_service_client.cpp
  sdk/storage/src/blobs/block_blob_client.cpp
  sdk/storage/src/blobs/page_blob_client.cpp
  sdk/storage/src/common/memory_stream.cpp
  sdk/storage/src/common/shared_key_policy.cpp
  sdk/storage/src/common/storage_credential.cpp
  sdk/storage/src/common/storage_url_builder.cpp
  sdk/storage/src/datalake/file_system_client.cpp
  sdk/storage/src/datalake/path_client.cpp
  sdk/storage/src/datalake/service_client.cpp
  sdk/storage/test/CMakeLists.txt
  sdk/storage/test/append_blob_client_test.cpp
  sdk/storage/test/append_blob_client_test.hpp
  sdk/storage/test/blob_container_client_test.cpp
  sdk/storage/test/blob_container_client_test.hpp
  sdk/storage/test/blob_service_client_test.cpp
  sdk/storage/test/block_blob_client_test.cpp
  sdk/storage/test/block_blob_client_test.hpp
  sdk/storage/test/main.cpp
  sdk/storage/test/page_blob_client_test.cpp
  sdk/storage/test/page_blob_client_test.hpp
  sdk/storage/test/test_base.cpp
  sdk/storage/test/test_base.hpp
Labels: Client, Storage, blocking-release

#213 Documentation for Storage Blob Service, Nullable, signed int, and others
  sdk/storage/inc/blobs/append_blob_client.hpp
  sdk/storage/inc/blobs/blob_client.hpp
  sdk/storage/inc/blobs/blob_container_client.hpp
  sdk/storage/inc/blobs/blob_options.hpp
  sdk/storage/inc/blobs/blob_service_client.hpp
  sdk/storage/inc/blobs/internal/protocol/blob_rest_client.hpp
  sdk/storage/inc/blobs/page_blob_client.hpp
  sdk/storage/sample/blob_getting_started.cpp
  sdk/storage/src/blobs/append_blob_client.cpp
  sdk/storage/src/blobs/blob_client.cpp
  sdk/storage/src/blobs/blob_service_client.cpp
  sdk/storage/src/blobs/block_blob_client.cpp
  sdk/storage/src/blobs/page_blob_client.cpp
  sdk/storage/src/common/storage_error.cpp
  sdk/storage/test/CMakeLists.txt
  sdk/storage/test/append_blob_client_test.cpp
  sdk/storage/test/blob_container_client_test.cpp
  sdk/storage/test/blob_service_client_test.cpp
  sdk/storage/test/block_blob_client_test.cpp
  sdk/storage/test/page_blob_client_test.cpp
  sdk/storage/test/test_base.cpp
Labels: Client, Storage, blocking-release
