Repository Azure/azure-sdk-for-cpp, pull requests merged in 2020-10, with the labels that each got.

#678 Sync eng/common directory with azure-sdk-tools for PR 1031
  eng/common/scripts/New-ReleaseAsset.ps1
Labels: Central-EngSys, EngSys

#690 Add build instruction for running tests
  CONTRIBUTING.md
Labels: Azure.Core, Client, Docs, auto-merge, customer-reported

#704 fixing typos from #686
  sdk/core/azure-core/inc/azure/core/http/curl/curl.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/test/e2e/azure_hang.cpp
Labels: Azure.Core, Client, auto-merge, priority:Low

#705 Sync eng/common directory with azure-sdk-tools for PR 1052
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Add-Issue-Comment.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/git-branch-push.ps1
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/common/scripts/modules/Package-Properties.psm1
Labels: Central-EngSys, EngSys

#707 Adding retry policy to unit tests
  sdk/core/azure-core/test/ut/transport_adapter.cpp
  sdk/core/azure-core/test/ut/transport_adapter_file_upload.cpp
Labels: Azure.Core, Client

#713 Sync eng/common directory with azure-sdk-tools for PR 1066
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: Central-EngSys, EngSys

#711 Sync eng/common directory with azure-sdk-tools for PR 1077
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
Labels: Central-EngSys, EngSys

#692 Added 2020-02-10 features.
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_service_client_test.cpp
Labels: Storage

#714 Added release notes for C++
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core, auto-merge

#720 Sync eng/common directory with azure-sdk-tools for PR 1083
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/README.md
Labels: Central-EngSys, EngSys

#728 Update code owners to better manage default notifications.
  .github/CODEOWNERS
Labels: EngSys

#710 update CMake min version to 3.15
  CMakeLists.txt
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/test/e2e/CMakeLists.txt
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/performance-stress/CMakeLists.txt
  sdk/core/performance-stress/test/CMakeLists.txt
  sdk/storage/CMakeLists.txt
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/CMakeLists.txt
  sdk/template/azure-template/CMakeLists.txt
  sdk/template/azure-template/test/CMakeLists.txt
Labels: Azure.Core, Client, auto-merge

#703 Validate invalid HTTP headers
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/http/curl/curl.hpp
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/src/http/raw_response.cpp
  sdk/core/azure-core/src/http/request.cpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/http.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/reliable_stream.hpp
Labels: Azure.Core, Client, auto-merge

#706 cmake updates for building transport adapters
  CMakeLists.txt
  CMakeSettings.json
  CONTRIBUTING.md
  cmake-modules/DefineTransportAdapter.cmake
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/http/curl/curl.hpp
  sdk/core/azure-core/inc/azure/core/http/winhttp/win_http_client.hpp
  sdk/core/azure-core/test/e2e/CMakeLists.txt
Labels: Azure.Core, Client, auto-merge

#718 Add DateTime: supporting standardized string date and time representations.
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/datetime.hpp
  sdk/core/azure-core/src/datetime.cpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/datetime.cpp
Labels: Azure.Core

#737 Fixed multichannel bug.
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_service_client_test.cpp
Labels: Storage

#723 Avoid test case throw meaningless exception when sys env is not set.
  sdk/storage/azure-storage-common/test/test_base.cpp
Labels: Storage, test enhancement

#730 Url use url encoded queries
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/src/http/request.cpp
  sdk/core/azure-core/src/http/retry_policy.cpp
  sdk/core/azure-core/src/http/url.cpp
  sdk/core/azure-core/test/e2e/CMakeLists.txt
  sdk/core/azure-core/test/e2e/azure_core_with_curl_bodyStream.cpp
  sdk/core/azure-core/test/ut/http.cpp
  sdk/core/azure-core/test/ut/transport_adapter.cpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/crypt.hpp
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-common/src/crypt.cpp
  sdk/storage/azure-storage-common/src/shared_key_policy.cpp
  sdk/storage/azure-storage-common/src/storage_credential.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_sas_builder.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_sas_builder.cpp
Labels: Azure.Core, Client

#734 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/version.hpp
Labels: Azure.Core

#751 Sync eng/common directory with azure-sdk-tools for PR 1081
  eng/common/README.md
  eng/common/scripts/Add-Issue-Comment.ps1
  eng/common/scripts/Add-IssueComment.ps1
  eng/common/scripts/Add-IssueLabels.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/common.ps1
Labels: Central-EngSys, EngSys, auto-merge

#743 [Storage] Enable tests for setting tiers for snapshots/versions
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
Labels: Client, Storage, test enhancement

#745 Upload/Create is non-overwriting by default
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_common.hpp
Labels: Client, Storage, blocking-release

#747 Removed Nullable return value that never returns.
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
Labels: Storage

#757 Enabled test for get file range diff with snapshot.
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Storage

#755 Make sure CI pipelines legs get triggered when cmake modules are modified.
  sdk/core/ci.yml
  sdk/template/ci.yml
Labels: Azure.Core, EngSys, auto-merge

#756 Make sure CI pipelines legs get triggered with cmake modules are modi…
  sdk/storage/ci.yml
Labels: Storage, auto-merge

#760 concurrent upload is overwriting
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
Labels: auto-merge

#758 changelog
  sdk/storage/azure-storage-blobs/BREAKINGCHANGES.md
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
Labels: Storage, auto-merge

#759 Modified version, Added changelog/breaking changes for beta.3
  sdk/storage/azure-storage-blobs/version.txt
  sdk/storage/azure-storage-common/version.txt
  sdk/storage/azure-storage-files-datalake/BREAKINGCHANGES.md
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/version.txt
  sdk/storage/azure-storage-files-shares/BREAKINGCHANGES.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/version.txt
Labels: auto-merge

#735 Adding a PR checklist to add guidance/reminders for authors to check for recurring PR review feedback.
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  CONTRIBUTING.md
Labels: auto-merge

#772 [Storage] update changelog for storage beta3 release
  sdk/storage/azure-storage-blobs/BREAKINGCHANGES.md
  sdk/storage/azure-storage-blobs/CHANGELOG.md
Labels: Client, Storage, blocking-release

#775 Sync eng/common directory with azure-sdk-tools for PR 1088
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: Central-EngSys, EngSys, auto-merge

#774 [Storage] fix typo in doc
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_retry_policy.hpp
Labels: Client, Storage, blocking-release

#773 [Storage] revert non-overwriting changes
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
Labels: Client, Storage, blocking-release

#762 Updated changelog.md
  sdk/template/azure-template/CHANGELOG.md
Labels: EngSys, customer-reported

#777 [Storage] Rename NextMarker -> ContinuationToken
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/test/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
Labels: Client, Storage, blocking-release

#778 Update Changelog and remove breaking changes individual file.
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/BREAKINGCHANGES.md
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/BREAKINGCHANGES.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Labels: Docs, Storage

#779 Renamed all continuation related object to ContinuationToken.
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/sample/datalake_getting_started.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_service_client_test.cpp
Labels: Storage

#771 Update codeowners
  .github/CODEOWNERS
Labels: EngSys

#753 make Curl default option to build on Win as a temp workaround
  cmake-modules/DefineTransportAdapter.cmake
Labels: Azure.Core, Client, EngSys

#770 Fix version and changelog
  sdk/template/azure-template/CHANGELOG.md
  sdk/template/azure-template/inc/azure/template/version.hpp
Labels: EngSys

#719 Make waiting for socket cancelable
  sdk/core/azure-core/inc/azure/core/context.hpp
  sdk/core/azure-core/inc/azure/core/http/curl/curl.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
Labels: Azure.Core, Client

#780 Prevent transport adapter to keep pulling for data on a closed connection
  sdk/core/azure-core/src/http/curl/curl.cpp
Labels: Azure.Core, Client

#712 Update Readme and Contribute to Oct07-2020 release instructions
  CMakeLists.txt
  CONTRIBUTING.md
  README.md
  sdk/storage/README.md
Labels: Azure.Core, Client

#782 Adding tests to verify that request can be canceled while waiting for socket
  sdk/core/azure-core/test/ut/transport_adapter.cpp
Labels: Azure.Core, Client, test enhancement

#784 Use quotes for files relative to the package
  sdk/identity/azure-identity/src/client_secret_credential.cpp
  sdk/identity/azure-identity/src/environment_credential.cpp
Labels: Azure.Identity, auto-merge

#789 removing log member from curl session
  sdk/core/azure-core/inc/azure/core/http/curl/curl.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
Labels: Azure.Core, Client, auto-merge

#794 fix path encoding issue
  sdk/storage/azure-storage-blobs/src/blob_batch_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/crypt.hpp
  sdk/storage/azure-storage-common/src/crypt.cpp
Labels: Client, Storage, blocking-release

#796 Resolved the issue in datalake/file where file/path/directory/share/f…
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/version.txt
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/version.txt
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/version.txt
Labels: blocking-release

#792 Fixed the upper case of anchor tags
  README.md
Labels: Central-EngSys, EngSys

#790 Sync eng/common directory with azure-sdk-tools for PR 1091
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Add-IssueComment.ps1
  eng/common/scripts/Add-IssueLabels.ps1
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Get-PullRequestCreator.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
Labels: Central-EngSys, EngSys

#801 Add prefix for Azure Core Tests - Fix CI test run
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/core/azure-core/inc/azure/core/http/curl/curl.hpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/transport_adapter.cpp
  sdk/core/ci.yml
Labels: Client, EngSys

#799 DateTime: Allow dates from 1601 to 1900
  sdk/core/azure-core/src/datetime.cpp
  sdk/core/azure-core/test/ut/datetime.cpp
Labels: Azure.Core, auto-merge

#803 Sync eng/common directory with azure-sdk-tools for PR 1103
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: Central-EngSys, EngSys

#805 Sync eng/common directory with azure-sdk-tools for PR 1019
  eng/common/pipelines/templates/steps/verify-links.yml
Labels: Central-EngSys, EngSys

#806 Sync eng/common directory with azure-sdk-tools for PR 1106
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: Central-EngSys, EngSys

#808 Sync eng/common directory with azure-sdk-tools for PR 968
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/common.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: Central-EngSys, EngSys

#810 Sync eng/common directory with azure-sdk-tools for PR 1102
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Submit-PullRequest.ps1
Labels: Central-EngSys, EngSys

#807 Add core.hpp general header
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core.hpp
Labels: Azure.Core, Client, EngSys, auto-merge

#809 remove azure hpp
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/policy.hpp
  sdk/core/azure-core/inc/azure/core/logging/logging.hpp
  sdk/core/azure-core/inc/azure/core/strings.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/raw_response.cpp
  sdk/core/azure-core/src/http/request.cpp
  sdk/core/azure-core/src/http/transport_policy.cpp
  sdk/core/azure-core/src/http/url.cpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/core/azure-core/src/strings.cpp
  sdk/core/azure-core/test/ut/string.cpp
  sdk/storage/azure-storage-common/src/shared_key_policy.cpp
Labels: Azure.Core, Client, auto-merge

#813 Prevent zero length pipeline
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/pipeline.hpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/pipeline.cpp
Labels: Azure.Core, Client, auto-merge

#821 Remove reference to removed header
  sdk/core/azure-core/inc/azure/core.hpp
Labels: Azure.Core, Client, auto-merge

#822 Sync eng/common directory with azure-sdk-tools for PR 1128
  eng/common/scripts/modules/ChangeLog-Operations.psm1
Labels: Central-EngSys, EngSys

#826 Sync eng/common directory with azure-sdk-tools for PR 1104
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#827 Sync eng/common directory with azure-sdk-tools for PR 1129
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#717 Add RequestFailedException
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/exception.hpp
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/retry_policy.cpp
  sdk/core/azure-core/test/e2e/azure_core_with_curl_bodyBuffer.cpp
  sdk/core/azure-core/test/e2e/azure_core_with_curl_bodyStream.cpp
  sdk/core/azure-core/test/ut/transport_adapter.cpp
  sdk/storage/azure-storage-common/src/storage_retry_policy.cpp
Labels: Azure.Core, Client

#825 rename RequestCancelException to OperationCanceledException
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/context.hpp
  sdk/core/azure-core/test/ut/transport_adapter.cpp
Labels: Azure.Core, Client

#818 Scan the entire repo to cover root path
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: EngSys

#824 Add unit test for simplified core.hpp header
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/simplified_header.cpp
Labels: Azure.Core, Client

#831 Add prepare pipelines.
  eng/pipelines/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#833 update exceptions to be a class instead of an struct
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/context.hpp
  sdk/core/azure-core/inc/azure/core/exception.hpp
  sdk/core/azure-core/inc/azure/core/http/http.hpp
Labels: Azure.Core, Client, auto-merge

#838 Sync eng/common directory with azure-sdk-tools for PR 1132
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#840 Sync eng/common directory with azure-sdk-tools for PR 1133
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#832 Sync eng/common directory with azure-sdk-tools for PR 1127
  eng/common/TestResources/New-TestResources.ps1
Labels: Central-EngSys, EngSys

#842 Sync eng/common directory with azure-sdk-tools for PR 1131
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: Central-EngSys, EngSys

#834 replace std::tolower with Azure::Core::Strings::ToLower
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-common/src/shared_key_policy.cpp
  sdk/storage/azure-storage-common/test/test_base.cpp
Labels: Client, Storage

#837 move storage headers
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs.hpp
  sdk/storage/azure-storage-blobs/sample/blob_getting_started.cpp
  sdk/storage/azure-storage-blobs/test/append_blob_client_test.hpp
  sdk/storage/azure-storage-blobs/test/blob_batch_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.hpp
  sdk/storage/azure-storage-blobs/test/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.hpp
  sdk/storage/azure-storage-blobs/test/large_scale_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.hpp
  sdk/storage/azure-storage-blobs/test/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-common/test/bearer_token_test.cpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake.hpp
  sdk/storage/azure-storage-files-datalake/sample/datalake_getting_started.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.hpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.hpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.hpp
  sdk/storage/azure-storage-files-datalake/test/datalake_path_client_test.hpp
  sdk/storage/azure-storage-files-datalake/test/datalake_service_client_test.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares.hpp
  sdk/storage/azure-storage-files-shares/sample/file_share_getting_started.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.hpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.hpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.hpp
  sdk/storage/azure-storage-files-shares/test/share_service_client_test.hpp
Labels: Client, Storage, blocking-release

#846 Sync eng/common directory with azure-sdk-tools for PR 1109
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: Central-EngSys, EngSys

#850 Fixed the http link
  CONTRIBUTING.md
  sdk/storage/README.md
Labels: Docs, auto-merge

#849 Sync eng/common directory with azure-sdk-tools for PR 1136
  eng/common/scripts/Delete-RemoteBranches.ps1
Labels: Central-EngSys, EngSys

#848 Sync eng/common directory with azure-sdk-tools for PR 1135
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/scripts/Verify-Links.ps1
Labels: Central-EngSys, EngSys

#854 Sync eng/common directory with azure-sdk-tools for PR 1130
  eng/common/README.md
Labels: Central-EngSys, EngSys

#844 Change `IncludeAPIs` to `IncludeApis`, and make it nullable.
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/test/share_service_client_test.cpp
Labels: Storage

#845 storage service starts using version.hpp
  cmake-modules/az_version.cmake
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/version.hpp
  sdk/storage/azure-storage-blobs/src/blob_batch_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/version.txt
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_version.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/version.hpp
  sdk/storage/azure-storage-common/src/storage_version.cpp
  sdk/storage/azure-storage-common/version.txt
  sdk/storage/azure-storage-files-datalake/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/version.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/version.txt
  sdk/storage/azure-storage-files-shares/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/version.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/version.txt
Labels: Client, Storage, blocking-release

#853 Sync eng/common directory with azure-sdk-tools for PR 1137
  eng/common/TestResources/AzurePowerShellV4/Utility.ps1
  eng/common/TestResources/Import-AzModules.ps1
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/setup-az-modules.yml
Labels: Central-EngSys, EngSys

#865 Sync eng/common directory with azure-sdk-tools for PR 1144
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: Central-EngSys, EngSys

#866 Add Check Enforcer timeout message.
  eng/CHECKENFORCER
Labels: Central-EngSys, EngSys

#863 Do not reuse a connection that fail while uploading
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/curl/curl.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
Labels: Azure.Core, Client

#873 Sync eng/common directory with azure-sdk-tools for PR 1146
  eng/common/TestResources/Remove-TestResources.ps1
Labels: Central-EngSys, EngSys

#875 Sync eng/common directory with azure-sdk-tools for PR 1148
  eng/common/README.md
Labels: Central-EngSys, EngSys

#869 Refactor curl connection for mocking
  sdk/core/azure-core/inc/azure/core/http/curl/curl connection_pool.hpp
  sdk/core/azure-core/inc/azure/core/http/curl/curl.hpp
  sdk/core/azure-core/inc/azure/core/http/curl/curl_connection.hpp
  sdk/core/azure-core/inc/azure/core/http/curl/curl_session.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/curl_session.hpp
  sdk/core/azure-core/test/ut/curl_session_test.cpp
  sdk/core/azure-core/test/ut/http.hpp
  sdk/core/azure-core/test/ut/transport_adapter.hpp
Labels: Azure.Core, Client

#881 handle server chunked response without number
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/test/ut/curl_session.hpp
  sdk/core/azure-core/test/ut/curl_session_test.cpp
Labels: Azure.Core, Client

#883 Sync eng/common directory with azure-sdk-tools for PR 1158
  eng/common/pipelines/templates/steps/verify-path-length.yml
Labels: Central-EngSys, EngSys

#884 Sync eng/common directory with azure-sdk-tools for PR 1154
  eng/common/scripts/git-branch-push.ps1
  eng/common/scripts/modules/ChangeLog-Operations.psm1
Labels: Central-EngSys, EngSys
