Repository Azure/azure-sdk-for-cpp, pull requests merged in 2020-12, with the labels that each got.

#1034 block id list now is a vector of strings
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/block_blob_client.hpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
Labels: Client, Storage

#1035 rename variables for append blob access condition
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/append_blob_client_test.cpp
Labels: Client, Storage

#1045 fix typo Htttp->Http
  sdk/storage/azure-storage-blobs/test/blob_batch_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_sas_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/account_sas_builder.hpp
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_sas_test.cpp
Labels: Client, Storage, bug

#1033 Resolved some API review comments from Arch board on File Share service.
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_directory_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/sample/file_share_getting_started.cpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.hpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.hpp
  sdk/storage/azure-storage-files-shares/test/share_sas_test.cpp
Labels: Storage

#1046 Move `StoragePerRetryPolicy` and `SharedKeyPolicy` to `Details` namespace
  sdk/storage/azure-storage-blobs/src/blob_batch_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/inc/azure/storage/common/shared_key_policy.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_credential.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_per_retry_policy.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_retry_policy.hpp
  sdk/storage/azure-storage-common/src/shared_key_policy.cpp
  sdk/storage/azure-storage-common/src/storage_per_retry_policy.cpp
  sdk/storage/azure-storage-common/src/storage_retry_policy.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
Labels: Client, Storage

#1036 sas supports raw permissions
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_sas_builder.hpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_sas_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/account_sas_builder.hpp
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_sas_builder.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_sas_builder.hpp
  sdk/storage/azure-storage-files-shares/src/share_sas_builder.cpp
  sdk/storage/azure-storage-files-shares/test/share_sas_test.cpp
Labels: Client, Storage

#1053 Remove alternative token usage
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
Labels: Storage

#1040 use private as suffix for private headers
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_pool_private.hpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/src/http/curl/curl_session_private.hpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/curl_options.cpp
  sdk/core/azure-core/test/ut/curl_session.hpp
  sdk/core/azure-core/test/ut/curl_session_test.cpp
  sdk/core/azure-core/test/ut/transport_adapter_curl.cpp
Labels: Azure.Core, Client, auto-merge

#1062 Delete the redundant files and point to common scripts
  eng/docs/index/Generate-DocIndex.ps1
  eng/docs/index/assets/docfx.json
  eng/docs/index/assets/logo.svg
  eng/docs/index/assets/toc.yml
  eng/docs/index/docfx.json
  eng/docs/index/templates/matthews/partials/affix.tmpl.partial
  eng/docs/index/templates/matthews/partials/class.header.tmpl.partial
  eng/docs/index/templates/matthews/partials/class.tmpl.partial
  eng/docs/index/templates/matthews/partials/enum.tmpl.partial
  eng/docs/index/templates/matthews/partials/namespace.tmpl.partial
  eng/docs/index/templates/matthews/styles/main.css
  eng/docs/index/templates/matthews/styles/main.js
  eng/pipelines/doc-index.yml
  eng/scripts/Language-Settings.ps1
Labels: Central-EngSys

#1050 case-insensitive metadata
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/sample/blob_getting_started.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_common.hpp
  sdk/storage/azure-storage-common/test/metadata_test.cpp
  sdk/storage/azure-storage-common/test/test_base.cpp
  sdk/storage/azure-storage-common/test/test_base.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_utilities.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_utilities.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_directory_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/sample/file_share_getting_started.cpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
Labels: Client, Storage

#1042 Remove CMake nlohmann module
  cmake-modules/add_nlohmann_json.cmake
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  sdk/core/azure-core/CMakeLists.txt
Labels: Azure.Core, Client, auto-merge

#1059 CreateIfNotExists and DeleteIfExists
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/append_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/page_blob_client.hpp
  sdk/storage/azure-storage-blobs/sample/blob_getting_started.cpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
Labels: Client, Storage

#1069 Update Readme for nlohmann-json.
  sdk/storage/README.md
Labels: auto-merge

#1068 new field IsHnsEnabled in AccountInfo
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/test/blob_service_client_test.cpp
Labels: Client, Storage, auto-merge

#1072 Fix MSVC warning D9025 ("overriding '/W3' with '/W4'")
  cmake-modules/global_compile_options.cmake
Labels: Azure.Core, auto-merge

#1065 disable problematic test until it gets fixed
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/transport_adapter_curl.cpp
Labels: Azure.Core, Client, auto-merge, test bug

#1075 Sync eng/common directory with azure-sdk-tools for PR 1233
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/update-docs-ci.ps1
  eng/common/scripts/update-docs-metadata.ps1
Labels: Central-EngSys, EngSys

#1078 Make SDK buildable in VS 2017
  sdk/core/azure-core/src/http/body_stream.cpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/logging_policy.cpp
  sdk/core/azure-core/src/http/policy.cpp
  sdk/core/azure-core/src/http/retry_policy.cpp
  sdk/core/azure-core/src/http/telemetry_policy.cpp
  sdk/core/azure-core/src/http/transport_policy.cpp
Labels: Azure.Core

#1079 Remove last pieces of Storage libs dependency on Identity
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/append_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/block_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/page_blob_client.hpp
  sdk/storage/azure-storage-blobs/test/blob_sas_test.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_service_client.hpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
Labels: Azure.Identity

#1077 use INCLUDE_DISABLED_TESTS for disabling tests
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/transport_adapter_curl.cpp
Labels: Azure.Core, Client

#1083 fix warning while building master
  sdk/core/azure-core/test/ut/transport_adapter_curl.cpp
Labels: Azure.Core, Client

#1086 Try to remove the dependency on a curl header in client secret credential implementation
  sdk/identity/azure-identity/src/client_secret_credential.cpp
Labels: Azure.Identity

#1092 Use CONFIG QUIET when looking for packages
  sdk/core/azure-core/CMakeLists.txt
Labels: Azure.Core, auto-merge

#1091 Fix typo
  sdk/core/azure-core/CMakeLists.txt
Labels: Azure.Core, auto-merge

#1094 Do not use ${TARGET_NAME} unless necessary
  cmake-modules/doxygen_common.cmake
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/performance-stress/CMakeLists.txt
  sdk/core/performance-stress/test/CMakeLists.txt
  sdk/template/azure-template/CMakeLists.txt
Labels: EngSys, auto-merge

#1090 GetPageRangesDiff and GetManagedDiskRangesDiff
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/page_blob_client.hpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
Labels: Client, Storage

#1100 Sync eng/common directory with azure-sdk-tools for PR 1257
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/docgeneration/templates/matthews/styles/main.css
  eng/common/docgeneration/templates/matthews/styles/main.js
Labels: Central-EngSys, EngSys

#1104 Move BearerTokenAuthenticationPolicy to Http namespace/policy.hpp
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/credentials.hpp
  sdk/core/azure-core/inc/azure/core/http/policy.hpp
  sdk/core/azure-core/src/http/bearer_token_authentication_policy.cpp
  sdk/storage/azure-storage-blobs/src/blob_batch_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
Labels: Azure.Core

#1110 Changelog: replace * with -
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Labels: Client, Docs, Storage

#1109 Comment out and disable parts of unstable test - DataLakeFileSystemClientTest.DataLakeSasTest
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
Labels: Client, Storage, test bug, test enhancement

#1095 Resolved a test error hidden by connection reuse.
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
Labels: Storage, test bug

#1108 Make changes towards making libraries individually buildable
  CMakeLists.txt
  cmake-modules/global_compile_options.cmake
  sdk/core/azure-core/CMakeLists.txt
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/storage/CMakeLists.txt
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/CMakeLists.txt
  sdk/template/azure-template/CMakeLists.txt
  sdk/template/azure-template/inc/azure/template.hpp
Labels: EngSys

#1067 Sync eng/common directory with azure-sdk-tools for PR 1243
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/common/scripts/modules/Package-Properties.psm1
  eng/common/scripts/modules/common-manifest.psd1
Labels: Central-EngSys, EngSys

#1118 Use the default coverage report path
  sdk/storage/ci.yml
Labels: Azure.Core, Client

#1145 Sync eng/common directory with azure-sdk-tools for PR 1266
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: Central-EngSys, EngSys

#897 Add WinHTTP Transport support to the SDK for windows clients as another HTTP Transport.
  CMakeSettings.json
  cmake-modules/DefineTransportAdapter.cmake
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/inc/azure/core/http/policy.hpp
  sdk/core/azure-core/inc/azure/core/http/winhttp/win_http_client.hpp
  sdk/core/azure-core/src/http/raw_response.cpp
  sdk/core/azure-core/src/http/request.cpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/transport_adapter_base.hpp
  sdk/core/azure-core/test/ut/transport_adapter_winhttp.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_path_client_test.cpp
Labels: Azure.Core, Client, auto-merge, feature-request

#1106 Add context.IsCanceled to provide a non-throwing alternative to ThrowIfCanceled.
  sdk/core/azure-core/inc/azure/core/context.hpp
  sdk/core/azure-core/test/ut/context.cpp
Labels: Azure.Core, auto-merge, design

#1151 Sync eng/common directory with azure-sdk-tools for PR 1270
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: Central-EngSys, EngSys

#1150 Following the guidelines, use quotes for files within the same project, and angle brackets for external dependencies.
  sdk/core/azure-core/inc/azure/core/credentials.hpp
  sdk/core/azure-core/inc/azure/core/http/body_stream.hpp
  sdk/core/azure-core/inc/azure/core/http/policy.hpp
  sdk/core/azure-core/src/datetime.cpp
  sdk/core/azure-core/src/http/bearer_token_authentication_policy.cpp
  sdk/core/azure-core/src/http/body_stream.cpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/telemetry_policy.cpp
  sdk/core/azure-core/test/ut/context.cpp
  sdk/core/azure-core/test/ut/curl_options.cpp
  sdk/core/azure-core/test/ut/datetime.cpp
  sdk/core/azure-core/test/ut/http.cpp
  sdk/core/azure-core/test/ut/http.hpp
  sdk/core/azure-core/test/ut/json.cpp
  sdk/core/azure-core/test/ut/logging.cpp
  sdk/core/azure-core/test/ut/main.cpp
  sdk/core/azure-core/test/ut/nullable.cpp
  sdk/core/azure-core/test/ut/pipeline.cpp
  sdk/core/azure-core/test/ut/policy.cpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
  sdk/core/azure-core/test/ut/string.cpp
  sdk/core/azure-core/test/ut/telemetry_policy.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.hpp
  sdk/core/azure-core/test/ut/url.cpp
  sdk/core/azure-core/test/ut/uuid.cpp
  sdk/storage/azure-storage-common/src/xml_wrapper.cpp
  sdk/template/azure-template/test/ut/template_test.cpp
Labels: Azure.Core

#1149 Sync eng/common directory with azure-sdk-tools for PR 1274
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: Central-EngSys, EngSys

#1152 Sync eng/common directory with azure-sdk-tools for PR 1273
  eng/common/scripts/SemVer.ps1
Labels: Central-EngSys, EngSys

#1182 Move the PR template up a directory so that it shows up by default.
  .github/pull_request_template.md
Labels: EngSys, auto-merge

#1181 update default value to true for the SDK CurlTransportSSLOptions -> NoRevoke
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/curl/curl.hpp
Labels: Azure.Core, Client, auto-merge

#1153 Remove libcurl non required options
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/curl/curl.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/test/ut/curl_options.cpp
Labels: Azure.Core, Client, auto-merge

#1172 init fields to avoid MSVC warning
  sdk/core/azure-core/src/http/curl/curl_session_private.hpp
Labels: Azure.Core, Client, auto-merge

#1183 add verbose to windows builds and use 4 parallel jobs
  CONTRIBUTING.md
  cmake-modules/global_compile_options.cmake
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Labels: Azure.Core, Client, EngSys

#1193 Sync eng/common directory with azure-sdk-tools for PR 1285
  eng/common/docgeneration/templates/matthews/styles/main.js
Labels: Central-EngSys, EngSys

#1188 Added HTTP Range
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/test/ut/http.cpp
Labels: Azure.Core, Client

#1195 use gtest_discover_tests for creating tests
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/main.cpp
  sdk/template/azure-template/test/CMakeLists.txt
Labels: Azure.Core, Client

#1192 move sas stuff into Sas namespace
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_sas_builder.hpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-blobs/test/blob_batch_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_sas_test.cpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/inc/azure/storage/common/account_sas_builder.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_credential.hpp
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_sas_builder.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_sas_builder.hpp
  sdk/storage/azure-storage-files-shares/src/share_sas_builder.cpp
  sdk/storage/azure-storage-files-shares/test/share_sas_test.cpp
Labels: Client, Storage

#1203 replace #ifdef/#ifndef with #if defined() in storage
  sdk/storage/azure-storage-common/sample/main.cpp
  sdk/storage/azure-storage-common/src/crypt.cpp
  sdk/storage/azure-storage-common/src/file_io.cpp
  sdk/storage/azure-storage-common/src/storage_per_retry_policy.cpp
  sdk/storage/azure-storage-common/test/test_base.cpp
Labels: Client, Storage

#1198 unify fileBodyStream in one single definition for Win and Lin
  sdk/core/azure-core/inc/azure/core/http/body_stream.hpp
  sdk/core/azure-core/inc/azure/core/platform.hpp
Labels: Azure.Core, Client

#1204 Sync eng/common directory with azure-sdk-tools for PR 1287
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/common.ps1
Labels: Central-EngSys, EngSys

#1186 Add Operation<T>
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/operation.hpp
  sdk/core/azure-core/inc/azure/core/operation_status.hpp
  sdk/core/azure-core/inc/azure/core/response.hpp
  sdk/core/azure-core/src/operation_status.cpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/operation.cpp
  sdk/core/azure-core/test/ut/operation_status.cpp
  sdk/core/azure-core/test/ut/operation_test.hpp
Labels: Azure.Core, Client

#1199 replace ifdef for if defined
  sdk/core/azure-core/inc/azure/core/context.hpp
  sdk/core/azure-core/inc/azure/core/http/body_stream.hpp
  sdk/core/azure-core/inc/azure/core/http/curl/curl.hpp
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/inc/azure/core/http/winhttp/win_http_client.hpp
  sdk/core/azure-core/inc/azure/core/internal/contract.hpp
  sdk/core/azure-core/src/datetime.cpp
  sdk/core/azure-core/src/http/body_stream.cpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_pool_private.hpp
  sdk/core/azure-core/src/http/telemetry_policy.cpp
  sdk/core/azure-core/test/e2e/azure_core_storage_test_sample.cpp
  sdk/core/azure-core/test/e2e/azure_core_with_curl_bodyBuffer.cpp
  sdk/core/azure-core/test/e2e/azure_hang.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.cpp
  sdk/core/azure-core/test/ut/transport_adapter_curl.cpp
  sdk/identity/azure-identity/src/environment_credential.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/file_io.hpp
  sdk/storage/azure-storage-common/src/crypt.cpp
Labels: Azure.Core, Client, auto-merge

#1197 Auto release notes
  eng/scripts/Collect-Changelogs.ps1
Labels: Azure.Core, Client, EngSys, auto-merge

#1167 Fix build error and small improvements
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/CMakeLists.txt
Labels: Client, Storage

#1206 Move the default transport adapter assignation to the source
  CMakeLists.txt
  cmake-modules/DefineTransportAdapter.cmake
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/policy.hpp
  sdk/core/azure-core/src/http/transport_policy.cpp
Labels: Azure.Core, Client, auto-merge

#1208 Mention min clang format version and format all cpp and hpp files with clang-format version 9.0
  CONTRIBUTING.md
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/inc/azure/core/nullable.hpp
  sdk/core/azure-core/inc/azure/core/response.hpp
  sdk/core/azure-core/inc/azure/core/version.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/test/e2e/azure_core_with_curl_bodyStream.cpp
  sdk/core/azure-core/test/ut/logging.cpp
  sdk/core/azure-core/test/ut/nullable.cpp
  sdk/core/azure-core/test/ut/operation.cpp
  sdk/core/azure-core/test/ut/pipeline.cpp
  sdk/core/azure-core/test/ut/policy.cpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
  sdk/core/azure-core/test/ut/telemetry_policy.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.hpp
  sdk/core/azure-core/test/ut/uuid.cpp
  sdk/identity/azure-identity/inc/azure/identity/version.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/version.hpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/test/blob_sas_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/version.hpp
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-common/src/crypt.cpp
  sdk/storage/azure-storage-common/src/file_io.cpp
  sdk/storage/azure-storage-common/src/shared_key_policy.cpp
  sdk/storage/azure-storage-common/src/storage_per_retry_policy.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_utilities.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/version.hpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_directory_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_sas_builder.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/version.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_sas_test.cpp
  sdk/template/azure-template/src/template_client.cpp
  sdk/template/azure-template/test/ut/template_test.cpp
Labels: Azure.Core, Client

#1210 Fix doxygen comments for Operation<T>
  sdk/core/azure-core/inc/azure/core/operation.hpp
  sdk/core/azure-core/inc/azure/core/operation_status.hpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/operation.cpp
  sdk/core/azure-core/test/ut/operation_status.cpp
Labels: Azure.Core, Docs, auto-merge

#1212 Add ContentHash struct, replace TransactionalContentMD5 and TransactionContentCrc64 with TransactionalContentHash
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-common/inc/azure/storage/common/crypt.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_common.hpp
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-common/src/crypt.cpp
  sdk/storage/azure-storage-common/src/shared_key_policy.cpp
  sdk/storage/azure-storage-common/test/crypt_functions_test.cpp
  sdk/storage/azure-storage-common/test/test_base.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_sas_builder.cpp
  sdk/storage/azure-storage-files-shares/src/share_sas_builder.cpp
Labels: Client, Storage

#1205 Check if error during test after opening a file
  sdk/core/azure-core/test/ut/transport_adapter_base.cpp
Labels: Azure.Core, Client, auto-merge

#1215 removed e2e core tests
  CMakeLists.txt
  sdk/core/azure-core/test/e2e/CMakeLists.txt
  sdk/core/azure-core/test/e2e/azure_core_storage_list_containers_sample.cpp
  sdk/core/azure-core/test/e2e/azure_core_storage_test_sample.cpp
  sdk/core/azure-core/test/e2e/azure_core_with_curl_bodyBuffer.cpp
  sdk/core/azure-core/test/e2e/azure_core_with_curl_bodyStream.cpp
  sdk/core/azure-core/test/e2e/azure_hang.cpp
Labels: Azure.Core, Client

#1219 EnvironmentCredential: list all possible env vars it reads, or may ever read from
  sdk/identity/azure-identity/inc/azure/identity/environment_credential.hpp
Labels: Azure.Identity, Docs

#1217 Merge param-tests for the transport adapter
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/transport_adapter_base.hpp
  sdk/core/azure-core/test/ut/transport_adapter_curl.cpp
  sdk/core/azure-core/test/ut/transport_adapter_implementation.cpp
  sdk/core/azure-core/test/ut/transport_adapter_winhttp.cpp
Labels: Azure.Core, Client, auto-merge

#1218 fix curl dependency on non-standard install prefix
  sdk/core/azure-core/CMakeLists.txt
Labels: EngSys, customer-reported

#1225 update link to sdk guidelines
  CONTRIBUTING.md
Labels: Azure.Core, Client, EngSys

#1222 AuthenticationException: derives from std::exception
  sdk/core/azure-core/inc/azure/core/credentials.hpp
Labels: Azure.Identity, auto-merge

#1227 Fix main ut tests when not using libcurl
  sdk/core/azure-core/test/ut/main.cpp
Labels: Azure.Core, Client, test bug

#1189 Reuse connection pool depending on host and connection options
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_pool_private.hpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/src/http/curl/curl_session_private.hpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/curl_connection_pool.cpp
  sdk/core/azure-core/test/ut/curl_session.hpp
  sdk/core/azure-core/test/ut/curl_session_test.cpp
  sdk/core/azure-core/test/ut/transport_adapter_curl.cpp
Labels: Azure.Core, Client

#1224 Fix gtest and related warnings
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
Labels: Azure.Core

#1220 DateTime: add default constructor
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/datetime.hpp
  sdk/core/azure-core/test/ut/datetime.cpp
Labels: Azure.Core

#1221 Token: use DateTime
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/credentials.hpp
  sdk/core/azure-core/src/http/bearer_token_authentication_policy.cpp
  sdk/identity/azure-identity/src/client_secret_credential.cpp
Labels: Azure.Core, Azure.Identity

#1230 Adding missing lib for building tests with Ninja from command prompt
  sdk/storage/azure-storage-common/CMakeLists.txt
Labels: Client, Storage, auto-merge

#1233 Fix build error caused by storage-common CMakeFile
  sdk/storage/azure-storage-common/CMakeLists.txt
Labels: Client, Storage, auto-merge

#1238 rename some bool variables, make IsServerEncrypted non-nullable
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
Labels: Client, Storage

#1236 ContentHash integration for File/DataLake
  sdk/storage/azure-storage-common/inc/azure/storage/common/access_conditions.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_common.hpp
  sdk/storage/azure-storage-common/src/storage_common.cpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.hpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.hpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.hpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_sas_test.cpp
Labels: Client, Storage

#1241 HttpHeaders.ContentMd5 is changed to Contenthash
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/test/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
Labels: Client, Storage

#1154 Integrate DateTime into Storage's file service.
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_sas_test.cpp
Labels: Storage

#1239 Throw exception if curl_easy_init returns Null
  sdk/core/azure-core/src/http/curl/curl.cpp
Labels: Azure.Core, bug, customer-reported

#1242 Use SinglePage suffix for list APIs.
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/test/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
Labels: Client, Storage

#1246 Integrate Core::DateTime into storage
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_sas_builder.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/test/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_batch_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/inc/azure/storage/common/access_conditions.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/account_sas_builder.hpp
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-common/test/test_base.cpp
  sdk/storage/azure-storage-common/test/test_base.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_sas_builder.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_service_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_sas_builder.hpp
  sdk/storage/azure-storage-files-shares/src/share_sas_builder.cpp
  sdk/storage/azure-storage-files-shares/test/share_sas_test.cpp
Labels: Client, Storage

#1248 Move version strings into Details namespace
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/version.hpp
  sdk/storage/azure-storage-blobs/src/blob_batch_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/inc/azure/storage/common/version.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/version.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/version.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
Labels: Client, Storage

#1250 Remove libxml internal impl details from header file to avoid expose them to end users.
  sdk/storage/azure-storage-common/inc/azure/storage/common/xml_wrapper.hpp
  sdk/storage/azure-storage-common/src/xml_wrapper.cpp
Labels: Client, Storage

#1247 Integrate `Http::Range` into blob service
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/page_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
Labels: Client, Storage, auto-merge
