Repository Azure/azure-sdk-for-cpp, pull requests merged in 2020-07, with the labels that each got.

#235 Documentation for BlockBlobClient and Blob options
  sdk/storage/inc/blobs/blob_options.hpp
  sdk/storage/inc/blobs/block_blob_client.hpp
  sdk/storage/src/blobs/block_blob_client.cpp
  sdk/storage/test/block_blob_client_test.cpp
  sdk/storage/test/block_blob_client_test.hpp
Labels: Client, Storage, blocking-release

#236 Memory Stream - File Stream (win/lin) - HTTP Request / Response - Updates
  CMakeLists.txt
  CMakeSettings.json
  cmake-modules/DefinePlatform.cmake
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/context.hpp
  sdk/core/azure-core/inc/http/body_stream.hpp
  sdk/core/azure-core/inc/http/curl/curl.hpp
  sdk/core/azure-core/inc/http/http.hpp
  sdk/core/azure-core/inc/http/pipeline.hpp
  sdk/core/azure-core/inc/http/stream.hpp
  sdk/core/azure-core/src/credentials/credentials.cpp
  sdk/core/azure-core/src/http/body_stream.cpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/request.cpp
  sdk/core/azure-core/src/http/response.cpp
  sdk/core/azure-core/src/http/stream.cpp
  sdk/samples/http_client/curl/src/azure_core_with_curl_bodyBuffer.cpp
  sdk/samples/http_client/curl/src/azure_core_with_curl_bodyStream.cpp
  sdk/storage/CMakeLists.txt
  sdk/storage/inc/blobs/append_blob_client.hpp
  sdk/storage/inc/blobs/blob.hpp
  sdk/storage/inc/blobs/block_blob_client.hpp
  sdk/storage/inc/blobs/internal/protocol/blob_rest_client.hpp
  sdk/storage/inc/blobs/page_blob_client.hpp
  sdk/storage/inc/common/memory_stream.hpp
  sdk/storage/sample/CMakeLists.txt
  sdk/storage/sample/blob_getting_started.cpp
  sdk/storage/src/blobs/append_blob_client.cpp
  sdk/storage/src/blobs/block_blob_client.cpp
  sdk/storage/src/blobs/page_blob_client.cpp
  sdk/storage/src/common/memory_stream.cpp
  sdk/storage/src/common/storage_error.cpp
  sdk/storage/test/append_blob_client_test.cpp
  sdk/storage/test/blob_container_client_test.cpp
  sdk/storage/test/block_blob_client_test.cpp
  sdk/storage/test/page_blob_client_test.cpp
  sdk/storage/test/test_base.cpp
  sdk/storage/test/test_base.hpp
Labels: blocking-release

#244 Suggested changes in API review
  sdk/storage/CMakeLists.txt
  sdk/storage/inc/blobs/blob_client.hpp
  sdk/storage/inc/blobs/blob_container_client.hpp
  sdk/storage/inc/blobs/blob_options.hpp
  sdk/storage/inc/blobs/blob_service_client.hpp
  sdk/storage/inc/blobs/block_blob_client.hpp
  sdk/storage/inc/blobs/internal/protocol/blob_rest_client.hpp
  sdk/storage/inc/common/concurrent_transfer.hpp
  sdk/storage/src/blobs/append_blob_client.cpp
  sdk/storage/src/blobs/blob_client.cpp
  sdk/storage/src/blobs/blob_container_client.cpp
  sdk/storage/src/blobs/blob_service_client.cpp
  sdk/storage/src/blobs/block_blob_client.cpp
  sdk/storage/src/blobs/page_blob_client.cpp
  sdk/storage/test/append_blob_client_test.cpp
  sdk/storage/test/blob_container_client_test.cpp
  sdk/storage/test/blob_service_client_test.cpp
  sdk/storage/test/block_blob_client_test.cpp
  sdk/storage/test/page_blob_client_test.cpp
Labels: Client, Storage, blocking-release

#247 Concurrent upload block blob from file, concurrent download blob to file
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/storage/CMakeLists.txt
  sdk/storage/inc/blobs/block_blob_client.hpp
  sdk/storage/inc/common/file_io.hpp
  sdk/storage/sample/blob_getting_started.cpp
  sdk/storage/src/blobs/blob_client.cpp
  sdk/storage/src/blobs/block_blob_client.cpp
  sdk/storage/src/common/file_io.cpp
  sdk/storage/test/block_blob_client_test.cpp
  sdk/storage/test/test_base.cpp
  sdk/storage/test/test_base.hpp
Labels: Client, Storage

#165 Add constructor for HttpPipeline which accepts rvalue
  sdk/core/azure-core/inc/http/pipeline.hpp
Labels: Azure::Core, Client

#252 Storage Blob Service Access Conditions, Bitwise enum class
  sdk/storage/CMakeLists.txt
  sdk/storage/inc/blobs/blob_options.hpp
  sdk/storage/inc/blobs/internal/protocol/blob_rest_client.hpp
  sdk/storage/inc/common/access_conditions.hpp
  sdk/storage/inc/common/constant.hpp
  sdk/storage/inc/common/constants.hpp
  sdk/storage/src/blobs/append_blob_client.cpp
  sdk/storage/src/blobs/blob_client.cpp
  sdk/storage/src/blobs/blob_container_client.cpp
  sdk/storage/src/blobs/blob_service_client.cpp
  sdk/storage/src/blobs/block_blob_client.cpp
  sdk/storage/src/blobs/page_blob_client.cpp
  sdk/storage/src/common/common_headers_request_policy.cpp
  sdk/storage/test/append_blob_client_test.cpp
  sdk/storage/test/blob_container_client_test.cpp
  sdk/storage/test/blob_service_client_test.cpp
  sdk/storage/test/block_blob_client_test.cpp
  sdk/storage/test/page_blob_client_test.cpp
Labels: Client, Storage, blocking-release

#265 [Storage Blobs Service] ListBlobsByHierarchy
  sdk/storage/inc/blobs/blob_container_client.hpp
  sdk/storage/inc/blobs/blob_options.hpp
  sdk/storage/inc/blobs/internal/protocol/blob_rest_client.hpp
  sdk/storage/src/blobs/blob_container_client.cpp
  sdk/storage/src/common/shared_key_policy.cpp
  sdk/storage/test/blobs/blob_container_client_test.cpp
Labels: Client, Storage, blocking-release

#312 suggested changes in API review
  sdk/storage/CMakeLists.txt
  sdk/storage/inc/blobs/append_blob_client.hpp
  sdk/storage/inc/blobs/blob_client.hpp
  sdk/storage/inc/blobs/blob_container_client.hpp
  sdk/storage/inc/blobs/blob_options.hpp
  sdk/storage/inc/blobs/blob_service_client.hpp
  sdk/storage/inc/blobs/block_blob_client.hpp
  sdk/storage/inc/blobs/internal/protocol/blob_rest_client.hpp
  sdk/storage/inc/blobs/page_blob_client.hpp
  sdk/storage/inc/common/storage_credential.hpp
  sdk/storage/inc/common/storage_uri_builder.hpp
  sdk/storage/inc/datalake/datalake_utilities.hpp
  sdk/storage/inc/datalake/file_system_client.hpp
  sdk/storage/inc/datalake/path_client.hpp
  sdk/storage/inc/datalake/service_client.hpp
  sdk/storage/src/blobs/append_blob_client.cpp
  sdk/storage/src/blobs/blob_client.cpp
  sdk/storage/src/blobs/blob_container_client.cpp
  sdk/storage/src/blobs/blob_service_client.cpp
  sdk/storage/src/blobs/block_blob_client.cpp
  sdk/storage/src/blobs/page_blob_client.cpp
  sdk/storage/src/common/shared_key_policy.cpp
  sdk/storage/src/common/storage_credential.cpp
  sdk/storage/src/common/storage_uri_builder.cpp
  sdk/storage/src/datalake/datalake_utilities.cpp
  sdk/storage/test/CMakeLists.txt
  sdk/storage/test/blobs/append_blob_client_test.cpp
  sdk/storage/test/blobs/blob_container_client_test.cpp
  sdk/storage/test/blobs/block_blob_client_test.cpp
  sdk/storage/test/blobs/page_blob_client_test.cpp
  sdk/storage/test/blobs/performance_benchmark.cpp
  sdk/storage/test/test_base.hpp
Labels: Client, Storage, blocking-release

#319 add perf benchmark code
  sdk/storage/test/CMakeLists.txt
  sdk/storage/test/blobs/large_scale_test.cpp
  sdk/storage/test/blobs/performance_benchmark.cpp
  sdk/storage/test/test_base.cpp
Labels: Client, Storage

#324 Remove MD5 and CRC64 function interface
  sdk/storage/inc/common/crypt.hpp
Labels: Client, Storage

#327 Integrate Response<T> into Storage Blobs Service
  sdk/core/azure-core/inc/response.hpp
  sdk/storage/inc/blobs/append_blob_client.hpp
  sdk/storage/inc/blobs/blob_client.hpp
  sdk/storage/inc/blobs/blob_container_client.hpp
  sdk/storage/inc/blobs/blob_service_client.hpp
  sdk/storage/inc/blobs/block_blob_client.hpp
  sdk/storage/inc/blobs/internal/protocol/blob_rest_client.hpp
  sdk/storage/inc/blobs/page_blob_client.hpp
  sdk/storage/inc/common/constants.hpp
  sdk/storage/inc/common/crypt.hpp
  sdk/storage/sample/blob_getting_started.cpp
  sdk/storage/src/blobs/append_blob_client.cpp
  sdk/storage/src/blobs/blob_client.cpp
  sdk/storage/src/blobs/blob_container_client.cpp
  sdk/storage/src/blobs/blob_service_client.cpp
  sdk/storage/src/blobs/block_blob_client.cpp
  sdk/storage/src/blobs/page_blob_client.cpp
  sdk/storage/test/blobs/append_blob_client_test.cpp
  sdk/storage/test/blobs/blob_container_client_test.cpp
  sdk/storage/test/blobs/blob_service_client_test.cpp
  sdk/storage/test/blobs/block_blob_client_test.cpp
  sdk/storage/test/blobs/page_blob_client_test.cpp
  sdk/storage/test/test_base.hpp
Labels: Client, Storage, blocking-release

#329 Remove MD5 and CRC64 function interface (#324)
  sdk/storage/inc/common/crypt.hpp
Labels: Client, Storage, blocking-release

#328 integrate TelemetryPolicy into Blob Service
  sdk/storage/CMakeLists.txt
  sdk/storage/inc/blobs/append_blob_client.hpp
  sdk/storage/inc/blobs/blob_client.hpp
  sdk/storage/inc/blobs/blob_container_client.hpp
  sdk/storage/inc/blobs/blob_options.hpp
  sdk/storage/inc/blobs/blob_service_client.hpp
  sdk/storage/inc/blobs/block_blob_client.hpp
  sdk/storage/inc/blobs/page_blob_client.hpp
  sdk/storage/inc/blobs/protocol/blob_rest_client.hpp
  sdk/storage/inc/common/constants.hpp
  sdk/storage/inc/common/storage_version.hpp
  sdk/storage/inc/datalake/datalake_responses.hpp
  sdk/storage/sample/CMakeLists.txt
  sdk/storage/src/blobs/blob_client.cpp
  sdk/storage/src/blobs/blob_container_client.cpp
  sdk/storage/src/blobs/blob_service_client.cpp
  sdk/storage/src/datalake/directory_client.cpp
  sdk/storage/src/datalake/file_client.cpp
  sdk/storage/src/datalake/file_system_client.cpp
  sdk/storage/src/datalake/path_client.cpp
  sdk/storage/src/datalake/service_client.cpp
  sdk/storage/test/CMakeLists.txt
  sdk/storage/test/main.cpp
Labels: Client, Storage, blocking-release

#337 Rename XxxRespone->XxxInfo
  sdk/storage/CMakeLists.txt
  sdk/storage/inc/blobs/blob_client.hpp
  sdk/storage/inc/blobs/blob_container_client.hpp
  sdk/storage/inc/blobs/blob_responses.hpp
  sdk/storage/inc/blobs/page_blob_client.hpp
  sdk/storage/inc/blobs/protocol/blob_rest_client.hpp
  sdk/storage/src/blobs/blob_client.cpp
  sdk/storage/src/blobs/blob_container_client.cpp
Labels: Client, Storage, blocking-release

#352 Fix inconsistent RFC1123 date format in different system locales
  sdk/storage/src/common/common_headers_request_policy.cpp
Labels: Client, Storage

#353 Add Account SAS and Blob SAS
  sdk/storage/CMakeLists.txt
  sdk/storage/inc/blobs/blob_sas_builder.hpp
  sdk/storage/inc/blobs/protocol/blob_rest_client.hpp
  sdk/storage/inc/common/account_sas_builder.hpp
  sdk/storage/inc/common/constants.hpp
  sdk/storage/inc/common/storage_credential.hpp
  sdk/storage/src/blobs/blob_sas_builder.cpp
  sdk/storage/src/common/account_sas_builder.cpp
  sdk/storage/src/common/storage_uri_builder.cpp
  sdk/storage/test/CMakeLists.txt
  sdk/storage/test/blobs/blob_sas_test.cpp
  sdk/storage/test/test_base.cpp
  sdk/storage/test/test_base.hpp
Labels: Client, Storage

#260 Engineering changes required to publish tags and docs
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
  eng/common/scripts/create-tags-and-git-release.ps1
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-cpp-release.yml
Labels: EngSys

#356 adapt to breaking change in Azure Core
  sdk/storage/inc/blobs/protocol/blob_rest_client.hpp
  sdk/storage/inc/common/storage_error.hpp
  sdk/storage/inc/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/src/blobs/append_blob_client.cpp
  sdk/storage/src/blobs/block_blob_client.cpp
  sdk/storage/src/blobs/page_blob_client.cpp
  sdk/storage/src/common/storage_error.cpp
  sdk/storage/test/blobs/append_blob_client_test.cpp
  sdk/storage/test/blobs/blob_container_client_test.cpp
  sdk/storage/test/blobs/blob_sas_test.cpp
  sdk/storage/test/blobs/block_blob_client_test.cpp
  sdk/storage/test/blobs/page_blob_client_test.cpp
  sdk/storage/test/datalake/directory_client_test.cpp
  sdk/storage/test/datalake/file_client_test.cpp
  sdk/storage/test/datalake/file_system_client_test.cpp
  sdk/storage/test/datalake/path_client_test.cpp
Labels: Client, Storage

#358 User Delegation SAS
  sdk/storage/inc/blobs/blob_sas_builder.hpp
  sdk/storage/inc/common/account_sas_builder.hpp
  sdk/storage/inc/common/storage_uri_builder.hpp
  sdk/storage/src/blobs/blob_sas_builder.cpp
  sdk/storage/src/common/storage_credential.cpp
  sdk/storage/src/common/storage_uri_builder.cpp
  sdk/storage/test/blobs/blob_sas_test.cpp
Labels: Client, Storage

#359 Add unit test cases that require SAS token
  sdk/storage/test/blobs/append_blob_client_test.cpp
  sdk/storage/test/blobs/blob_container_client_test.cpp
  sdk/storage/test/blobs/blob_container_client_test.hpp
  sdk/storage/test/blobs/block_blob_client_test.cpp
  sdk/storage/test/blobs/page_blob_client_test.cpp
Labels: Client, Storage

#366 GetBlobServiceProperties and SetBlobServiceProperties
  sdk/storage/inc/blobs/blob_options.hpp
  sdk/storage/inc/blobs/blob_service_client.hpp
  sdk/storage/inc/blobs/protocol/blob_rest_client.hpp
  sdk/storage/src/blobs/blob_service_client.cpp
  sdk/storage/test/blobs/blob_service_client_test.cpp
Labels: Client, Storage

#361 Use vcpkg caching
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/steps/vcpkg.yml
Labels: EngSys
