Repository Azure/azure-sdk-for-cpp, pull requests merged in 2021-01, with the labels that each got.

#1240 rename WinHTTP CMake target
  sdk/core/azure-core/CMakeLists.txt
Labels: Azure.Core, Client, auto-merge

#1254 Resolves the leap year last day calculation issue.
  sdk/core/azure-core/src/datetime.cpp
  sdk/core/azure-core/test/ut/datetime.cpp
Labels: Azure.Core, bug

#1253 extensible enum for blob servicve
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_batch_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_rest_client.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
Labels: Client, Storage

#1257 Sync eng/common directory with azure-sdk-tools for PR 1299
  eng/common/scripts/Update-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#1264 Sync eng/common directory with azure-sdk-tools for PR 1278
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/SemVer.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: Central-EngSys, EngSys

#1256 Update canceled to cancelled
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/context.hpp
  sdk/core/azure-core/inc/azure/core/credentials.hpp
  sdk/core/azure-core/inc/azure/core/http/body_stream.hpp
  sdk/core/azure-core/inc/azure/core/http/curl/curl.hpp
  sdk/core/azure-core/inc/azure/core/http/pipeline.hpp
  sdk/core/azure-core/inc/azure/core/http/policy.hpp
  sdk/core/azure-core/inc/azure/core/http/transport.hpp
  sdk/core/azure-core/inc/azure/core/http/winhttp/win_http_client.hpp
  sdk/core/azure-core/src/http/body_stream.cpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/src/http/curl/curl_session_private.hpp
  sdk/core/azure-core/src/http/retry_policy.cpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/core/azure-core/test/ut/context.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.cpp
  sdk/storage/azure-storage-common/src/storage_retry_policy.cpp
Labels: Azure.Core, Client

#1196 remove cancellation check from retry policies
  sdk/core/azure-core/inc/azure/core/http/body_stream.hpp
  sdk/core/azure-core/inc/azure/core/http/winhttp/win_http_client.hpp
  sdk/core/azure-core/src/http/body_stream.cpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_session_private.hpp
  sdk/core/azure-core/src/http/retry_policy.cpp
  sdk/core/azure-core/src/http/transport_policy.cpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/reliable_stream.hpp
  sdk/storage/azure-storage-common/src/reliable_stream.cpp
  sdk/storage/azure-storage-common/src/storage_retry_policy.cpp
Labels: Azure.Core, Client

#1262 Sync eng/common directory with azure-sdk-tools for PR 1298
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: Central-EngSys, EngSys

#1258 Http::Range integration for file/datalake
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Storage

#1259 Renamed MaxResult/Segment to be PageSizeHint/SinglePage
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_service_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/sample/datalake_getting_started.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_directory_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_service_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_sas_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_service_client_test.cpp
Labels: Storage

#1270 Resolves typo in Storage Readme
  sdk/storage/README.md
Labels: Storage, auto-merge

#1273 Fix auto-generator bug
  sdk/storage/azure-storage-blobs/src/blob_rest_client.cpp
Labels: Client, Storage, auto-merge

#1271 use bracket instead of quotation mark for header files not in current…
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
Labels: Storage, auto-merge

#1275 Integrate extensible enum
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_rest_client.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_rest_client.cpp
Labels: Storage

#1268 Use datatime conversion provided by Azure::Core for x-ms-date HTTP header
  sdk/storage/azure-storage-common/src/storage_per_retry_policy.cpp
Labels: Client, Storage

#1280 Sync eng/common directory with azure-sdk-tools for PR 1302
  eng/common/scripts/Verify-Links.ps1
Labels: Central-EngSys, EngSys

#1276 Version strings
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/version.hpp
  sdk/core/azure-core/src/version.cpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/inc/azure/identity/version.hpp
  sdk/identity/azure-identity/src/version.cpp
  sdk/template/azure-template/inc/azure/template/version.hpp
  sdk/template/azure-template/src/template_client.cpp
  sdk/template/azure-template/src/version.cpp
Labels: Azure.Core, Azure.Identity, auto-merge

#1267 Rename SourceConditions->SourceAccessConditions
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
Labels: Client, Storage

#1272 rename delete blob snapshot options, add delete blob snapshot test cases
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_rest_client.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
Labels: Client, Storage

#1274 make continuation token nullable
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/test/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
Labels: Client, Storage

#1279 Sync eng/common directory with azure-sdk-tools for PR 1301
  eng/common/Update-Change-Log.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#1286 Fix ut crash issue introduced in PR#1274
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_service_client_test.cpp
Labels: Client, Storage, auto-merge

#1281 Make IsServerEncrypted non-nullable.
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
Labels: Storage, auto-merge

#1290 Sync eng/common directory with azure-sdk-tools for PR 1306
  eng/common/scripts/update-docs-ci.ps1
  eng/common/scripts/update-docs-metadata.ps1
Labels: Central-EngSys, EngSys

#1291 Enhance the exception for body stream rewind
  sdk/core/azure-core/inc/azure/core/http/body_stream.hpp
Labels: Azure.Core, Client

#1292 Sync eng/common directory with azure-sdk-tools for PR 1308
  eng/common/Update-Change-Log.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#1285 docs for the HTTP transport adapter
  CONTRIBUTING.md
  doc/HttpTransportAdapter.md
  sdk/core/azure-core/README.md
Labels: Azure.Core, Client, Docs

#1294 VcPkg: On Windows, also install WinHTTP by default
  sdk/core/azure-core/vcpkg/CONTROL
Labels: Azure.Core, auto-merge

#1296 Add copyright and license comments to CONTROL files
  sdk/core/azure-core/vcpkg/CONTROL
  sdk/identity/azure-identity/vcpkg/CONTROL
  sdk/storage/azure-storage-blobs/vcpkg/CONTROL
  sdk/storage/azure-storage-common/vcpkg/CONTROL
  sdk/storage/azure-storage-files-datalake/vcpkg/CONTROL
  sdk/storage/azure-storage-files-shares/vcpkg/CONTROL
  sdk/template/azure-template/vcpkg/CONTROL
Labels: EngSys

#1295 Update cg manifest files and move the declaration of the nlohmann json dependency to core.
  sdk/core/azure-core/cgmanifest.json
  sdk/storage/azure-storage-blobs/cgmanifest.json
  sdk/storage/azure-storage-common/cgmanifest.json
  sdk/storage/azure-storage-files-datalake/cgmanifest.json
  sdk/storage/azure-storage-files-shares/cgmanifest.json
Labels: EngSys

#1297 Add Base64 encoding and decoding utility APIs to the `Azure::Core` namespace available from `azure/core/base64.hpp`.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/base64.hpp
  sdk/core/azure-core/src/base64.cpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/base64.cpp
Labels: Azure.Core

#1298 Remove Base64 encode and decode methods from Azure::Storage and move the string-based helper to Internal. Update storage call sites.
  sdk/core/azure-core/src/base64.cpp
  sdk/core/azure-core/test/ut/base64.cpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/inc/azure/storage/common/crypt.hpp
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-common/src/crypt.cpp
  sdk/storage/azure-storage-common/src/shared_key_policy.cpp
  sdk/storage/azure-storage-common/src/storage_common.cpp
  sdk/storage/azure-storage-common/test/crypt_functions_test.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_utilities.cpp
  sdk/storage/azure-storage-files-shares/src/share_sas_builder.cpp
Labels: Storage, auto-merge

#1303 fix build error introduced in PR #1297 and #1298
  sdk/core/azure-core/CMakeLists.txt
  sdk/storage/azure-storage-common/CMakeLists.txt
Labels: Azure.Core, Client, Storage, auto-merge

#1282 Added support for CreateIfNotExists and DeleteIfExists
  sdk/storage/azure-storage-files-datalake/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_constants.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_constants.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_directory_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Storage

#1304 Also swallow exception when container doesn't exist for DeleteIfExists
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
Labels: Client, Storage

#1307 remove Base64EncodeText
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/inc/azure/storage/common/crypt.hpp
  sdk/storage/azure-storage-common/test/test_base.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_utilities.cpp
Labels: Client, Storage

#1306 add "Azure::Core::" prefix for Base64 functions in auto-generator and re-format code
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
Labels: Client, Storage

#1309 Remove blob batch
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_batch_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_batch_client.cpp
  sdk/storage/azure-storage-blobs/test/blob_batch_client_test.cpp
Labels: Client, Storage

#1316 Sync eng/common directory with azure-sdk-tools for PR 1304
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#1318 Sync eng/common directory with azure-sdk-tools for PR 1304
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#1320 DateTime: better integration with chrono, support year 0001+
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/datetime.hpp
  sdk/core/azure-core/src/datetime.cpp
  sdk/core/azure-core/src/http/bearer_token_authentication_policy.cpp
  sdk/core/azure-core/test/ut/datetime.cpp
  sdk/identity/azure-identity/src/client_secret_credential.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-common/src/storage_per_retry_policy.cpp
  sdk/storage/azure-storage-common/test/test_base.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_sas_test.cpp
Labels: Azure.Core

#1315 Make client protected member variables private
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp
Labels: Client, Storage

#1326 fix comparison bug introduced in #1320
  sdk/core/azure-core/inc/azure/core/datetime.hpp
Labels: Azure.Core, Client

#1325 Remove Blob Batch options which was left out in #1309
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
Labels: Client, Storage

#1313 add a bool indicating whether the oepration succeeds for CreateIfNotEx…
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/append_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/page_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
Labels: Client, Storage

#1332 DateTime: Add unit tests for comparison operators
  sdk/core/azure-core/test/ut/datetime.cpp
Labels: Azure.Core, Client, auto-merge, test enhancement

#1336 Sync eng/common directory with azure-sdk-tools for PR 1314
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: Central-EngSys, EngSys

#1321 Enable 1ES hosted pools
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
Labels: Central-EngSys, EngSys

#1339 Update notice.txt files for storage and move nlohmann json notice content to azure-core.
  sdk/core/azure-core/NOTICE.txt
  sdk/storage/azure-storage-blobs/NOTICE.txt
  sdk/storage/azure-storage-common/NOTICE.txt
  sdk/storage/azure-storage-files-datalake/NOTICE.txt
  sdk/storage/azure-storage-files-shares/NOTICE.txt
Labels: EngSys

#1331 void specialization of Response<T>
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/response.hpp
Labels: Azure.Core, Client, feature-request

#1345 parse Content-Range in blob service
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
Labels: Client, Storage

#1344 remove batch friend declaration
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp
Labels: Client, Storage

#1324 BlobServiceClient::CreateBlobContainer/DeleteBlobContainer/UndeleteBl…
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_service_client_test.cpp
Labels: Client, Storage

#1310 Refined prefix for File/Path/Directory/FileSystems in Datalake/File
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/block_blob_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_service_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/sample/datalake_getting_started.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.hpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.hpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.hpp
  sdk/storage/azure-storage-files-datalake/test/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_path_client_test.hpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_directory_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/sample/file_share_getting_started.cpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_sas_test.cpp
Labels: Storage

#1348 Rename Enabled to IsEnabled
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/test/blob_service_client_test.cpp
Labels: Client, Storage, auto-merge

#1349 Service version const strings
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
Labels: Client, Storage, auto-merge

#1340 Update the changelog wording and content for the upcoming release.
  sdk/core/azure-core/CHANGELOG.md
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Docs, blocking-release

#1350 Refined list related API names.
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_service_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
Labels: Storage, auto-merge

#1352 Update the Azure Core changelog wording and content for the upcoming beta.4 release.
  sdk/core/azure-core/CHANGELOG.md
Labels: Docs, auto-merge

#1283 Automate publishing to vcpkg
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-cpp-release.yml
  eng/scripts/Initialize-VcpkgRelease.ps1
  eng/scripts/Language-Settings.ps1
  eng/scripts/New-ReleaseArtifact.ps1
  eng/scripts/New-VcpkgPortDefinition.ps1
  eng/scripts/Update-PkgVersion.ps1
  sdk/core/azure-core/vcpkg/README.md
  sdk/core/ci.yml
  sdk/identity/azure-identity/vcpkg/README.md
  sdk/identity/ci.yml
  sdk/storage/azure-storage-blobs/vcpkg/README.md
  sdk/storage/azure-storage-common/vcpkg/README.md
  sdk/storage/azure-storage-files-datalake/vcpkg/README.md
  sdk/storage/azure-storage-files-shares/vcpkg/README.md
  sdk/storage/ci.yml
  sdk/template/azure-template/CHANGELOG.md
  sdk/template/azure-template/CMakeLists.txt
  sdk/template/azure-template/inc/azure/template/version.hpp
  sdk/template/azure-template/vcpkg/CONTROL
  sdk/template/azure-template/vcpkg/CONTROL.template
  sdk/template/azure-template/vcpkg/portfile.cmake.template
  sdk/template/ci.yml
Labels: Central-EngSys

#1317 changelog updated for Releasing Core 1.0.0-beta.4 and Identity 1.0.0-beta.2
  sdk/core/azure-core/CHANGELOG.md
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Core, Azure.Identity, Client, Docs

#1357 Update changelog for Azure::Core and Azure::Identity
  sdk/core/azure-core/CHANGELOG.md
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Core, Azure.Identity, Docs, auto-merge

#1360 Use two digit month in changelog release date to adhere to expected format for Azure::Core and Azure::Identity
  sdk/core/azure-core/CHANGELOG.md
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Core, Azure.Identity, Docs, auto-merge

#1369 Revert "Service version const strings (#1349)"
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
Labels: Client, Storage, blocking-release

#1370 Partial changelog update for beta6 release
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Labels: Client, Storage, blocking-release

#1372 Update blob changelog
  sdk/storage/azure-storage-blobs/CHANGELOG.md
Labels: Client, Storage, blocking-release

#1371 Changelog for beta.6 release for file/datalake
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Labels: Client, Storage, auto-merge, blocking-release

#1374 Update storage changelog to be consistent on section order, use past tense, and make it a bit more brief.
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Labels: Docs, Storage, auto-merge

#1362 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/version.hpp
Labels: EngSys

#1363 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/inc/azure/identity/version.hpp
Labels: EngSys

#1375 Fix storage changelog entries for older releases for consistency (preview1, beta1) matching what shipped and add dates.
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Labels: Docs, Storage, auto-merge

#1379 adding-nlohmann-3.6-to-interna-core-headers
  sdk/core/azure-core/inc/azure/core/internal/json.hpp
Labels: Azure.Core, Client, auto-merge

#1337 Move APIs from Azure::Core::Strings to Azure::Core::Internal since they aren't meant for end users to call.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core.hpp
  sdk/core/azure-core/inc/azure/core/internal/strings.hpp
  sdk/core/azure-core/inc/azure/core/operation_status.hpp
  sdk/core/azure-core/src/http/raw_response.cpp
  sdk/core/azure-core/src/http/request.cpp
  sdk/core/azure-core/src/http/url.cpp
  sdk/core/azure-core/src/strings.cpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
  sdk/core/azure-core/test/ut/string.cpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_common.hpp
  sdk/storage/azure-storage-common/src/shared_key_policy.cpp
  sdk/storage/azure-storage-common/test/test_base.cpp
Labels: Azure.Core, auto-merge

#1383 Feature/keyvault - GetKey + KeyVaultCommon
  CMakeLists.txt
  sdk/keyvault/CMakeLists.txt
  sdk/keyvault/README.md
  sdk/keyvault/azure-security-keyvault-common/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-common/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-common/NOTICE.txt
  sdk/keyvault/azure-security-keyvault-common/README.md
  sdk/keyvault/azure-security-keyvault-common/cgmanifest.json
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/keyvault_constants.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/keyvault_exception.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/keyvault_pipeline.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/version.hpp
  sdk/keyvault/azure-security-keyvault-common/src/keyvault_exception.cpp
  sdk/keyvault/azure-security-keyvault-common/src/keyvault_pipeline.cpp
  sdk/keyvault/azure-security-keyvault-common/test/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-common/test/main.cpp
  sdk/keyvault/azure-security-keyvault-common/test/pipeline_test.cpp
  sdk/keyvault/azure-security-keyvault-common/vcpkg/CONTROL
  sdk/keyvault/azure-security-keyvault-common/vcpkg/Config.cmake.in
  sdk/keyvault/azure-security-keyvault-common/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/NOTICE.txt
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/cgmanifest.json
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/key_vault.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/json_web_key.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_operation.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_properties.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_release_policy.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_type.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_vault_key.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/version.hpp
  sdk/keyvault/azure-security-keyvault-keys/sample/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/sample/get-key/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/sample/get-key/main.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_type.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_vault_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/key_client_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/main.cpp
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/CONTROL
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/Config.cmake.in
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/portfile.cmake
  sdk/keyvault/ci.yml
Labels: Client, KeyVault

#1381 Increment version for storage releases manually
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/version.hpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/inc/azure/storage/common/version.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/version.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/version.hpp
Labels: Client, Storage

#1394 Removed GetDfsUri.
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_service_client.hpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
Labels: Storage, auto-merge

#1395 add request id in return types
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
Labels: Client, Storage

#1401 Use name for directory/file initializing and removed unwanted funcion…
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_directory_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/sample/file_share_getting_started.cpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_sas_test.cpp
Labels: Storage, auto-merge

#1391 Remove libcurl patch for timeout
  sdk/core/azure-core/src/http/curl/curl.cpp
Labels: Azure.Core, Client

#1328 Make CI fail if there are clang format errors
  CONTRIBUTING.md
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/core/azure-core/inc/azure/core/internal/json.hpp
  sdk/core/azure-core/test/ut/operation_status.cpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/test/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-common/src/storage_per_retry_policy.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
Labels: Azure.Core, Client, auto-merge

#1400 Revert adding the datalake prefix for list path API in protocol layer…
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
Labels: Storage

#1398 Use path/directory/file name instead of path.
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
Labels: Storage

#1399 Refined the ACL/Permission APIs according to review comments.
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
Labels: Storage

#1405 Sync eng/common directory with azure-sdk-tools for PR 1318
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
  eng/common/scripts/update-docs-ci.ps1
Labels: Central-EngSys, EngSys

#1403 Fix the end of chunk parsing
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_session_private.hpp
  sdk/core/azure-core/test/ut/curl_session_test.cpp
Labels: Azure.Core, Client, auto-merge

#1408 AccessType and ListType should be non-nullable
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
Labels: Client, Storage

#1412 revert timeout patch on libcurl
  sdk/core/azure-core/src/http/curl/curl.cpp
Labels: auto-merge

#1410 `AccountSasResource::BlobContainer` was renamed to `AccountSasResource::Container`
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/inc/azure/storage/common/account_sas_builder.hpp
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
Labels: Client, Storage, blocking-release

#1414 Renamed GetUri to GetUrl.
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_service_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_utilities.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_utilities.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_directory_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_service_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_sas_test.cpp
Labels: Storage, blocking-release

#1397 Remove Data suffix according to review comments.
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/sample/datalake_getting_started.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
Labels: Storage

#1384 Add link to the doc
  sdk/core/azure-core/README.md
Labels: Azure.Core, Client

#1419 Sync eng/common directory with azure-sdk-tools for PR 1317
  eng/common/pipelines/templates/steps/get-pr-owners.yml
Labels: Central-EngSys, EngSys

#1420 Sync eng/common directory with azure-sdk-tools for PR 1327
  eng/common/pipelines/templates/steps/bypass-local-dns.yml
Labels: Central-EngSys, EngSys

#1413 add libcurl to livetest pipeline
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Labels: Azure.Core, Client, EngSys

#1411 Added support for Set/GetAccessPolicy in DataLakeFileSystemClient
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_rest_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
Labels: Storage, blocking-release

#1423 remove static analysis from CI
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/core/ci.yml
Labels: Azure.Core, Client, EngSys, auto-merge

#1429 Sync eng/common directory with azure-sdk-tools for PR 1251
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/common.ps1
Labels: Central-EngSys, EngSys

#1424 blob lease client
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_lease_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_lease_client.cpp
  sdk/storage/azure-storage-blobs/test/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_common.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/test/datalake_path_client_test.cpp
Labels: Client, Storage

#1430 replace GetRawResponse with ExtractRawResponse
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
Labels: Client, Storage

#1415 Changed ContentRange from std::string to Azure::Core::Http::Range.
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Storage, blocking-release

#1427 Fix Language-Settings.ps1 to use correct logic
  eng/scripts/Language-Settings.ps1
Labels: Central-EngSys

#1432 use std::chrono::seconds or enum for lease duration
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_lease_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_lease_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_rest_client.cpp
  sdk/storage/azure-storage-blobs/test/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
Labels: Client, Storage

#1378 Moving json to internal
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/internal/json.hpp
  sdk/core/azure-core/test/ut/json.cpp
  sdk/core/azure-core/vcpkg/CONTROL
  sdk/core/azure-core/vcpkg/Config.cmake.in
  sdk/keyvault/azure-security-keyvault-common/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-common/src/keyvault_exception.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_vault_key.cpp
  sdk/storage/README.md
  sdk/storage/azure-storage-common/src/storage_exception.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
Labels: Azure.Core, Client

#1437 missing format
  sdk/core/azure-core/inc/azure/core/internal/json.hpp
Labels: auto-merge

#1438 Move clang-format check to include tests
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/storage/azure-storage-files-datalake/test/datalake_path_client_test.cpp
Labels: Azure.Core, Client, EngSys, Storage

#1392 Sample for fetchContent
  samples/README.md
  samples/integration/cmake-fetch-content/CMakeLists.txt
  samples/integration/cmake-fetch-content/LICENSE
  samples/integration/cmake-fetch-content/README.md
  samples/integration/cmake-fetch-content/src/main.cpp
Labels: Azure.Core, Client

#1443 Refined protocol layer.
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/sample/datalake_getting_started.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.hpp
  sdk/storage/azure-storage-files-datalake/test/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_service_client_test.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/test/share_service_client_test.cpp
Labels: Client, Storage, blocking-release

#1444 Moved lease related operations to DataLakeLeaseClient/ShareLeaseClient.
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_lease_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_lease_client.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_lease_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_lease_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Client, Storage, blocking-release

#1445 Refined list related APIs and make LeaseDuration an enum.
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_rest_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
Labels: Client, Storage, blocking-release

#1446 Refined ListPathsSinglePage
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
Labels: Client, Storage, blocking-release

#1447 Added support for specifying public access type when creating a file …
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
Labels: Client, Storage, blocking-release

#1452 Added request ID.
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
Labels: Client, Storage, blocking-release

#1449 Changed `DataLakeFileClient::Flush`'s `endingOffset` parameter's name to `position`.
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
Labels: Client, Storage, blocking-release

#1451 `startsOn` parameter for `GetUserDelegationKey` was changed to optional.
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/test/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_service_client_test.cpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_service_client.hpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
Labels: Client, Storage

#1453 `PublicAccessType::Private` was renamed to `PublicAccessType::None`
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_rest_client.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
Labels: Client, Storage

#1454 Removed unused parameters, options, results and functions in protocol layer.
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
Labels: Client, Storage, blocking-release

#1455 Added additional information in `StorageException`, fixed a bug where `ClientRequestId` wasn't filled in `StorageException`.
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_exception.hpp
  sdk/storage/azure-storage-common/src/storage_exception.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Client, Storage

#1441 Sync eng/common directory with azure-sdk-tools for PR 1335
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/SemVer.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#1460 Update clang format validate script instructions when it fails to be accurate
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: EngSys, auto-merge

#1461 Support poll operations in blob service
  sdk/core/azure-core/inc/azure/core/operation.hpp
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/page_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_responses.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
Labels: Client, Storage

#1440 Adding missing comments in curl source
  sdk/core/azure-core/src/http/curl/curl.cpp
Labels: Azure.Core, Client, auto-merge

#1476 Sync eng/common directory with azure-sdk-tools for PR 1343
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/docgeneration/docfx.json
  eng/common/docgeneration/templates/matthews/styles/main.js
Labels: Central-EngSys, EngSys

#1428 Add support for HTTP Etag to Azure::Core
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core.hpp
  sdk/core/azure-core/inc/azure/core/etag.hpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/etag.cpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
Labels: Azure.Core

#1478 Add timeout parameter to live test job
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  sdk/core/ci.yml
Labels: Central-EngSys

#1465 Setting up keyvault live test
  sdk/keyvault/ci.yml
  sdk/keyvault/test-resources.json
Labels: Client, KeyVault

#1474 Uses std::abort() instead of abort() or exception for precondition.
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Client, Storage

#1479 Sync eng/common directory with azure-sdk-tools for PR 1341
  eng/common/pipelines/templates/steps/verify-links.yml
Labels: Central-EngSys, EngSys

#1463 throw exception Azure::Core::RequestFailedException or those inherit from that
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_exception.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_sas_builder.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_sas_builder.cpp
Labels: Client, Storage

#1448 Renamed `DataLakePathClient::GetAccessControls` to `DataLakePathClient::GetAccessControlList`.
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
Labels: Client, Storage, blocking-release

#1488 Remove PreviousContinuationToken
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
Labels: Client, Storage, blocking-release

#1485 fix typo Expiries -> Expires
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
Labels: Client, Storage, blocking-release

#1491 Remove c_ for constants.
  sdk/storage/azure-storage-files-datalake/src/datalake_utilities.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_constants.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_service_client_test.cpp
Labels: Client, Storage, blocking-release

#1490 Remove PreviousContinuationToken
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
Labels: Client, Storage, blocking-release

#1464 Json unit tests
  CMakeLists.txt
  cmake-modules/download_test_data.cmake
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  sdk/core/azure-core/test/nlohmann-json-test/CMakeLists.txt
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-algorithms.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-allocator.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-alt-string.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-capacity.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-class_const_iterator.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-class_iterator.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-class_lexer.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-comparison.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-concepts.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-constructor1.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-constructor2.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-convenience.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-conversions.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-deserialization.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-element_access1.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-element_access2.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-inspection.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-items.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-iterators1.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-iterators2.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-large_json.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-modifiers.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-noexcept.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-pointer_access.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-readme.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-reference_access.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-serialization.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-testsuites.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-to_chars.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-udt.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-user_defined_input.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-wstring.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit.cpp
  sdk/core/azure-core/test/nlohmann-json-test/thirdparty/doctest/LICENSE.txt
  sdk/core/azure-core/test/nlohmann-json-test/thirdparty/doctest/doctest.h
  sdk/core/azure-core/test/nlohmann-json-test/thirdparty/doctest/doctest_compatibility.h
  sdk/core/ci.yml
Labels: Azure.Core, Client, test enhancement

#1458 Add ValuePolicy
  sdk/core/azure-core/inc/azure/core/http/policy.hpp
  sdk/core/azure-core/test/ut/policy.cpp
Labels: Azure.Core

#1494 Move ValuePolicy from Details namespace to Internal
  sdk/core/azure-core/inc/azure/core/http/policy.hpp
  sdk/core/azure-core/test/ut/policy.cpp
Labels: Azure.Core, auto-merge

#1481 Fix const naming in Core to follow Guidelines
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/src/http/curl/curl_session_private.hpp
  sdk/core/azure-core/src/strings.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.cpp
Labels: Azure.Core

#1495 Do not pass a placeholder user-agent string as a fallback when using WinHttp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Labels: Azure.Core, auto-merge, bug

#1496 Enable keyvault live tests
  sdk/keyvault/azure-security-keyvault-common/test/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/key_vault.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/key_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/key_client_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/key_client_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/main.cpp
  sdk/keyvault/ci.yml
  sdk/keyvault/test-resources.json
Labels: Client, KeyVault, auto-merge

#1498 Make cmake modules consistent names
  CMakeLists.txt
  cmake-modules/AzureCodeCoverage.cmake
  cmake-modules/AzureDoxygen.cmake
  cmake-modules/AzureGlobalCompileOptions.cmake
  cmake-modules/AzureTransportAdapters.cmake
  cmake-modules/AzureVcpkg.cmake
  cmake-modules/AzureVersion.cmake
  cmake-modules/DownloadJsonTestData.cmake
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/test/nlohmann-json-test/CMakeLists.txt
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-common/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/CMakeLists.txt
  sdk/template/azure-template/CMakeLists.txt
Labels: Azure.Core, Client

#1466 rename bitwise enum variables, following the pattern XxxFlags
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_service_client_test.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
Labels: Client, Storage

#1501 Refine on Recursive ACL.
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
Labels: Client, Storage, blocking-release

#1504 remove some items from filter blob result
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
Labels: Client, Storage

#1493 Refine rename functions in datalake
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
Labels: Client, Storage, blocking-release

#1489 use Azure::Core::ETag for ETag type
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/access_conditions.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/constants.hpp
  sdk/storage/azure-storage-common/test/test_base.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Client, Storage, blocking-release

#1507 Renamed ListDataLakeFileSystemsIncludeItem to ListDataLakeFileSystems…
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
Labels: Client, Storage, blocking-release

#1508 Removed `BlobPrefix` struct, use `std::string` instead
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
Labels: Client, Storage

#1503 add TransferOptions into download and upload options
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_constants.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Client, Storage, blocking-release

#1459 [Keyvault] CreateKey API
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/internal/json_serializable.hpp
  sdk/keyvault/azure-security-keyvault-common/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-common/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/keyvault_pipeline.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/keyvault_constants.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/keyvault_exception.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/version.hpp
  sdk/keyvault/azure-security-keyvault-common/src/keyvault_pipeline.cpp
  sdk/keyvault/azure-security-keyvault-common/test/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-common/test/pipeline_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/key_vault.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/json_web_key.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_constants.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_create_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_operation.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_properties.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_release_policy.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_request_parameters.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_type.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_vault_key.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/version.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_request_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_type.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_vault_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/key_client_test_live.cpp
Labels: Client, KeyVault

#1502 make defaultNonUrlEncodeChars const
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/src/http/url.cpp
Labels: Azure.Core, Client
