Repository Azure/azure-sdk-for-cpp, pull requests merged in 2021-04, with the labels that each got.

#1974 Simplify the public surface design of Response<T> for usability.
  samples/integration/cmake-fetch-content/src/main.cpp
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/response.hpp
  sdk/core/azure-core/test/ut/response_t.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.cpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/keyvault_pipeline.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/delete_key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/recover_deleted_key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample1-hello-world/sample1_hello_world.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample2-backup-and-restore/sample2_backup_and_restore.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample3-get-keys/sample3_get_keys.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_backup_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_delete_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_get_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_update_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/telemetry_header_test.cpp
  sdk/storage/azure-storage-blobs/sample/blob_getting_started.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_lease_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_responses.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-files-datalake/sample/datalake_getting_started.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/sample/file_share_getting_started.cpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_lease_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_responses.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_sas_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_service_client_test.cpp
Labels: Azure.Core

#2002 remove verbose config from win ci
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: EngSys

#2017 Add a forward slash at the end of the key vault URL to match what the portal returns.
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_delete_test_live.cpp
  sdk/keyvault/test-resources.json
Labels: KeyVault, test bug

#2015 Sync eng/common directory with azure-sdk-tools for PR 1525
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/TestResources/Update-TestResources.cmd
  eng/common/TestResources/Update-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1.md
Labels: Central-EngSys, EngSys

#2021 [KeyVault] update links for samples
  sdk/keyvault/azure-security-keyvault-keys/samples/sample1_hello_world.md
  sdk/keyvault/azure-security-keyvault-keys/samples/sample2_backup_and_restore.md
  sdk/keyvault/azure-security-keyvault-keys/samples/sample3_get_keys.md
Labels: Client, Docs, KeyVault

#2029 [KeyVault] Remove the common namespace
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/client_options.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/base64url.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/keyvault_pipeline.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/unix_time_helper.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/keyvault_constants.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/keyvault_exception.hpp
  sdk/keyvault/azure-security-keyvault-common/src/keyvault_exception.cpp
  sdk/keyvault/azure-security-keyvault-common/src/keyvault_pipeline.cpp
  sdk/keyvault/azure-security-keyvault-common/test/ut/pipeline_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/delete_key_operation.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/recover_deleted_key_operation.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/delete_key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/deleted_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/import_key_options.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/json_web_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_backup.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_request_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_vault_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/list_keys_single_page_result.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/recover_deleted_key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample1-hello-world/sample1_hello_world.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample2-backup-and-restore/sample2_backup_and_restore.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample3-get-keys/sample3_get_keys.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_backup_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_delete_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_import_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/mocked_transport_adapter_test.hpp
Labels: Client, KeyVault

#2028 Sync eng/common directory with azure-sdk-tools for PR 1535
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/scripts/job-matrix/samples/matrix-test.yml
Labels: Central-EngSys, EngSys

#1988 Introduce Context::Key with pointer comparison speeds
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/context.hpp
  sdk/core/azure-core/src/http/retry_policy.cpp
  sdk/core/azure-core/test/ut/context.cpp
  sdk/core/azure-core/test/ut/global_context.cpp
  sdk/core/azure-core/test/ut/policy.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_switch_to_secondary_policy.hpp
  sdk/storage/azure-storage-common/src/storage_switch_to_secondary_policy.cpp
Labels: Azure.Core

#2026 [Core] Refactor RequestFailedException with Http information
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/exception.hpp
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/inc/azure/core/http/http_status_code.hpp
  sdk/core/azure-core/inc/azure/core/http/raw_response.hpp
  sdk/core/azure-core/src/exception.cpp
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/src/http/raw_response.cpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/keyvault_constants.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/keyvault_exception.hpp
  sdk/keyvault/azure-security-keyvault-common/src/keyvault_exception.cpp
  sdk/keyvault/azure-security-keyvault-common/src/keyvault_pipeline.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/delete_key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/recover_deleted_key_operation.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_exception.hpp
Labels: Azure.Core, Client, KeyVault

#2033 Changes around context expiration naming and types
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/context.hpp
  sdk/core/azure-core/src/context.cpp
  sdk/core/azure-core/src/http/retry_policy.cpp
  sdk/core/azure-core/test/ut/context.cpp
  sdk/core/azure-core/test/ut/policy.cpp
  sdk/storage/azure-storage-common/src/storage_switch_to_secondary_policy.cpp
Labels: Azure.Core, auto-merge

#2034 Renamed `Azure::Nullable<T>::GetValue()` to `Value()`.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/etag.hpp
  sdk/core/azure-core/inc/azure/core/internal/json/json_optional.hpp
  sdk/core/azure-core/inc/azure/core/nullable.hpp
  sdk/core/azure-core/test/perf/inc/azure/core/test/nullable.hpp
  sdk/core/azure-core/test/ut/http.cpp
  sdk/core/azure-core/test/ut/nullable.cpp
  sdk/core/perf/src/options.cpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/details/key_request_parameters.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_request_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample1-hello-world/sample1_hello_world.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample2-backup-and-restore/sample2_backup_and_restore.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample3-get-keys/sample3_get_keys.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_update_test_live.cpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_lease_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_responses.cpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/sample/datalake_getting_started.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_lease_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_responses.cpp
  sdk/storage/azure-storage-files-shares/src/share_sas_builder.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_service_client_test.cpp
Labels: Azure.Core

#2042 Move package version to details, and rename VersionString() to ToString().
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core.hpp
  sdk/core/azure-core/inc/azure/core/version.hpp
  sdk/core/azure-core/src/version.cpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/inc/azure/identity.hpp
  sdk/identity/azure-identity/inc/azure/identity/version.hpp
  sdk/identity/azure-identity/src/version.cpp
  sdk/identity/azure-identity/test/ut/simplified_header.cpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/version.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/version.hpp
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/version.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/inc/azure/storage/common/version.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/version.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/version.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/template/azure-template/inc/azure/template/version.hpp
  sdk/template/azure-template/src/template_client.cpp
  sdk/template/azure-template/src/version.cpp
Labels: Azure.Core

#2046 Make the Context parameter optional in BodyStream public Read methods.
  sdk/core/azure-core/inc/azure/core/io/body_stream.hpp
  sdk/core/azure-core/test/ut/bodystream.cpp
Labels: Azure.Core

#2009 Add policy tests
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/core/azure-core/src/http/log_policy.cpp
  sdk/core/azure-core/src/http/retry_policy.cpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/bearer_token_authentication_policy.cpp
  sdk/core/azure-core/test/ut/log_policy.cpp
  sdk/core/azure-core/test/ut/request_id_policy.cpp
  sdk/core/azure-core/test/ut/retry_policy.cpp
  sdk/core/azure-core/test/ut/telemetry_policy.cpp
Labels: Azure.Core, Client, auto-merge, test enhancement

#2047 Update RetryPolicy logic to use only one context
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/core/azure-core/src/http/retry_policy.cpp
  sdk/core/azure-core/test/ut/policy.cpp
  sdk/storage/azure-storage-common/src/storage_switch_to_secondary_policy.cpp
Labels: Azure.Core, Client

#2043 Be explicit when using `private` for fields and methods in classes.
  sdk/core/azure-core/inc/azure/core/datetime.hpp
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
Labels: Azure.Core

#2010 Storage server-timeout support
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/ut/storage_timeout_test.cpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/storage_per_retry_policy.cpp
Labels: Client, Storage

#2050 remove all usage of AppendQueryParameters
  sdk/storage/azure-storage-common/src/storage_credential.cpp
Labels: Client, Storage, blocking-release

#2048 Changed the `Azure::Core::Http::HttpMethod` regular enum into an extensible enum class.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/src/http/log_policy.cpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/storage/azure-storage-common/src/shared_key_policy.cpp
Labels: Azure.Core

#2025 Add nightly vcpkg publishing
  eng/pipelines/daily-verification.yml
  eng/pipelines/templates/stages/archetype-cpp-release.yml
  eng/pipelines/templates/steps/generate-daily-branch-name.yml
  eng/pipelines/templates/steps/vcpkg-clone.yml
  eng/pipelines/templates/steps/vcpkg-publish.yml
  eng/scripts/Initialize-VcpkgRelease.ps1
  eng/scripts/Update-VcpkgPort.ps1
Labels: EngSys

#2055 Removed GetUrlWithoutQuery() and GetUrlAuthorityWithScheme() from Azure::Core::Url and added GetScheme().
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/url.hpp
  sdk/core/azure-core/src/http/log_policy.cpp
  sdk/core/azure-core/src/http/url.cpp
  sdk/core/azure-core/test/ut/url.cpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/details/key_serializers.hpp
Labels: Azure.Core, blocking-release

#2056 Remove Azure::Core::Http::Request::GetHeadersAsString().
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/request.cpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Labels: Azure.Core, blocking-release

#2054 Removed `Url::AppendQueryParameters()` since it is no longer used within the SDK.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/url.hpp
  sdk/storage/azure-storage-blobs/test/ut/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-common/test/test_base.cpp
  sdk/storage/azure-storage-common/test/test_base.hpp
Labels: Azure.Core, blocking-release

#2037 Removed `Azure::Core::Context::HasKey()` and add `TryGetValue()` instead
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/context.hpp
  sdk/core/azure-core/src/http/retry_policy.cpp
  sdk/core/azure-core/test/ut/context.cpp
  sdk/core/azure-core/test/ut/global_context.cpp
  sdk/core/azure-core/test/ut/policy.cpp
  sdk/storage/azure-storage-common/src/storage_switch_to_secondary_policy.cpp
Labels: Azure.Core, auto-merge, blocking-release

#2061 small fix: const Type& to be consistent
  sdk/storage/azure-storage-common/test/test_base.cpp
  sdk/storage/azure-storage-common/test/test_base.hpp
Labels: Client, Storage

#2060 move HttpGetter and HttpGetterInfo to internal namespace
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/inc/azure/storage/common/reliable_stream.hpp
  sdk/storage/azure-storage-common/src/reliable_stream.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
Labels: Client, Storage, blocking-release

#2066 Update ssl name
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/curl_transport.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/test/ut/curl_connection_pool.cpp
  sdk/core/azure-core/test/ut/curl_options.cpp
Labels: Azure.Core, Client

#2005 update changelog for release beta - Core and Identity Beta
  sdk/core/azure-core/CHANGELOG.md
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Core, Azure.Identity, Client

#2063 Add changelog for #2060
  sdk/storage/azure-storage-common/CHANGELOG.md
Labels: Client, Storage, blocking-release

#2067 Use consistent pascal casing and rename HKEYHolder to HkeyHolder.
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/internal/hkey_holder.hpp
  sdk/core/azure-core/src/http/telemetry_policy.cpp
Labels: Azure.Core

#2070 Add new header files to the simplified header and update tests.
  sdk/core/azure-core/inc/azure/core.hpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
Labels: Azure.Core

#2069 Update the Azure.Core changelog to be more consise and complete for the beta.8
  sdk/core/azure-core/CHANGELOG.md
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Core, Docs

#2071 Keyvault changelog
  sdk/keyvault/azure-security-keyvault-common/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-common/vcpkg/CONTROL
  sdk/keyvault/azure-security-keyvault-common/vcpkg/README.md
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/CONTROL
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/README.md
  sdk/keyvault/ci.yml
Labels: Client, Docs, KeyVault

#2081 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/version.hpp
Labels: Docs

#2082 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/inc/azure/identity/version.hpp
Labels: Docs

#2084 Increment version for keyvault releases
  sdk/keyvault/azure-security-keyvault-common/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/version.hpp
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/version.hpp
Labels: Docs

#1500 Fix for Azure Core with libcurl. clean up and global clean up
  doc/HttpTransportAdapter.md
  doc/LibCurlTransportAdatper.md
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_pool_private.hpp
  sdk/core/azure-core/src/http/curl/curl_session_private.hpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/azure_libcurl_core_main.cpp
  sdk/core/azure-core/test/ut/curl_connection_pool.cpp
  sdk/core/azure-core/test/ut/curl_options.cpp
  sdk/core/azure-core/test/ut/curl_session_test.cpp
  sdk/core/azure-core/test/ut/main.cpp
  sdk/core/perf/test/inc/azure/perf/test/curl_http_client_get_test.hpp
  sdk/identity/azure-identity/test/live/main.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/main.cpp
Labels: Azure.Core, Client

#2072 Make the casing of sections within the Changelogs consistent.
  sdk/core/azure-core/CHANGELOG.md
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Core, Azure.Identity, Docs

#2090 Disable warning C6326 (potential comparison of a constant) in recently added azure-core tests.
  sdk/core/azure-core/test/ut/CMakeLists.txt
Labels: Azure.Core, test bug

#2096 Sync eng/common directory with azure-sdk-tools for PR 1546
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
Labels: Central-EngSys, EngSys

#2098 Sync eng/common directory with azure-sdk-tools for PR 1548
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
Labels: Central-EngSys, EngSys

#2099 Fix typo startsOn -> StartsOn
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
Labels: Client, Storage, blocking-release

#2088 Sync eng/common directory with azure-sdk-tools for PR 1515
  eng/common/pipelines/templates/steps/retain-run.yml
  eng/common/scripts/Add-RetentionLease.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
Labels: Central-EngSys, EngSys

#2095 Remove Manual build reason at the archetype-sdk-client.yml level
  eng/pipelines/templates/stages/archetype-sdk-client.yml
Labels: Central-EngSys

#2102 Sync eng/common directory with azure-sdk-tools for PR 1534
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/update-docs-ci.ps1
Labels: Central-EngSys, EngSys

#2104 Sync eng/common directory with azure-sdk-tools for PR 1551
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: Central-EngSys, EngSys

#2106 Sync eng/common directory with azure-sdk-tools for PR 1504
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
Labels: Central-EngSys, EngSys

#2101 Enable retain runs.
  eng/pipelines/templates/stages/archetype-cpp-release.yml
Labels: Central-EngSys, EngSys

#2108 Sync eng/common directory with azure-sdk-tools for PR 1553
  eng/common/pipelines/templates/steps/retain-run.yml
Labels: Central-EngSys, EngSys

#2109 Revert retain.
  eng/pipelines/templates/stages/archetype-cpp-release.yml
Labels: Central-EngSys, EngSys

#2110 Sync eng/common directory with azure-sdk-tools for PR 1552
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: Central-EngSys, EngSys

#2087 Jwk deserialize
  sdk/core/azure-core/inc/azure/core/internal/json/json_optional.hpp
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/details/key_serializers.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/json_web_key.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/import_key_options.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/json_web_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_request_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_vault_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_import_test_live.cpp
Labels: Client, KeyVault

#2093 [Keyvault] operation resume token fix
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/delete_key_operation.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/recover_deleted_key_operation.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/delete_key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/recover_deleted_key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_delete_test_live.cpp
Labels: Client, KeyVault

#2119 Sync eng/common directory with azure-sdk-tools for PR 1557
  eng/common/pipelines/templates/steps/verify-agent-os.yml
Labels: Central-EngSys, EngSys

#2120 Sync eng/common directory with azure-sdk-tools for PR 1555
  eng/common/pipelines/templates/steps/verify-samples.yml
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: Central-EngSys, EngSys

#2123 Sync eng/common directory with azure-sdk-tools for PR 1559
  eng/common/pipelines/templates/steps/verify-samples.yml
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: Central-EngSys, EngSys

#2117 Keyvault api review beta.1 updates
  sdk/keyvault/azure-security-keyvault-common/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-common/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/client_options.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/single_page.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/keyvault_exception.hpp
  sdk/keyvault/azure-security-keyvault-common/src/keyvault_exception.cpp
  sdk/keyvault/azure-security-keyvault-common/src/keyvault_pipeline.cpp
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/delete_key_operation.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/details/key_request_parameters.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/json_web_key.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_create_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_curve_name.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_operation.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_type.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_vault_key.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/list_keys_single_page_result.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/recover_deleted_key_operation.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/delete_key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/json_web_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_options.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_curve_name.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_request_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_type.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/recover_deleted_key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample1-hello-world/sample1_hello_world.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample2-backup-and-restore/sample2_backup_and_restore.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample3-get-keys/sample3_get_keys.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_backup_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_delete_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_get_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_import_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_update_test_live.cpp
Labels: App Configuration, Client

#2116 Pageable list functions
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/page_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_responses.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-common/inc/azure/storage/common/paged_response.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_service_client.hpp
  sdk/storage/azure-storage-files-datalake/sample/datalake_getting_started.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_responses.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_directory_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_service_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_responses.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_sas_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_service_client_test.cpp
Labels: Client, Storage, blocking-release

#2129 Mint storage beta.10
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Labels: Client, Storage, blocking-release

#2130 Fix minor nit to storage common change log by specifying full namespace
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
Labels: Docs, Storage, auto-merge

#2131 Increment version for storage releases
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/version.hpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/inc/azure/storage/common/version.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/version.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/version.hpp
Labels: EngSys, Storage

#2125 based on code -rev from https://github.com/Azure/azure-sdk-for-cpp/pull/2117
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_type.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/mocked_transport_adapter_test.hpp
Labels: Client, KeyVault

#2122 Do not reuse connection with diff port
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_pool_private.hpp
  sdk/core/azure-core/test/ut/curl_connection_pool.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.hpp
Labels: Azure.Core, Client

#2105 Remove thread detach
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_pool_private.hpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/src/http/curl/curl_session_private.hpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/azure_libcurl_core_main.cpp
  sdk/core/azure-core/test/ut/curl_connection_pool.cpp
  sdk/core/azure-core/test/ut/curl_options.cpp
  sdk/core/azure-core/test/ut/curl_session.hpp
  sdk/core/azure-core/test/ut/curl_session_test.cpp
Labels: Azure.Core, Client

#2133 Sync eng/common directory with azure-sdk-tools for PR 1560
  eng/common/TestResources/build-test-resource-config.yml
Labels: Central-EngSys, EngSys

#2132 Update vcpkg ports to use a manifest json file instead of a CONTROL file.
  cmake-modules/AzureVcpkg.cmake
  eng/scripts/Initialize-VcpkgRelease.ps1
  sdk/core/azure-core/vcpkg/CONTROL
  sdk/core/azure-core/vcpkg/vcpkg.json
  sdk/identity/azure-identity/vcpkg/CONTROL
  sdk/identity/azure-identity/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-common/vcpkg/CONTROL
  sdk/keyvault/azure-security-keyvault-common/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/CONTROL
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/vcpkg.json
  sdk/storage/azure-storage-blobs/vcpkg/CONTROL
  sdk/storage/azure-storage-blobs/vcpkg/vcpkg.json
  sdk/storage/azure-storage-common/vcpkg/CONTROL
  sdk/storage/azure-storage-common/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-datalake/vcpkg/CONTROL
  sdk/storage/azure-storage-files-datalake/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-shares/vcpkg/CONTROL
  sdk/storage/azure-storage-files-shares/vcpkg/vcpkg.json
  sdk/template/azure-template/vcpkg/CONTROL
  sdk/template/azure-template/vcpkg/vcpkg.json
Labels: EngSys

#2134 Sync eng/common directory with azure-sdk-tools for PR 1563
  eng/common/TestResources/build-test-resource-config.yml
Labels: Central-EngSys, EngSys

#2135 VcPkg files: Simplify header comment handling
  cmake-modules/AzureVcpkg.cmake
  sdk/core/azure-core/vcpkg/vcpkg.json
  sdk/identity/azure-identity/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-common/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/vcpkg.json
  sdk/storage/azure-storage-blobs/vcpkg/vcpkg.json
  sdk/storage/azure-storage-common/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-datalake/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-shares/vcpkg/vcpkg.json
  sdk/template/azure-template/vcpkg/vcpkg.json
Labels: EngSys, auto-merge

#2138 VcPkg: use version-semver
  sdk/core/azure-core/vcpkg/vcpkg.json
  sdk/identity/azure-identity/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-common/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/vcpkg.json
  sdk/storage/azure-storage-blobs/vcpkg/vcpkg.json
  sdk/storage/azure-storage-common/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-datalake/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-shares/vcpkg/vcpkg.json
  sdk/template/azure-template/vcpkg/vcpkg.json
Labels: EngSys

#2139 Sync eng/common directory with azure-sdk-tools for PR 1564
  eng/common/scripts/Package-Properties.ps1
Labels: Central-EngSys, EngSys

#2142 Sync eng/common directory with azure-sdk-tools for PR 1558
  eng/common/pipelines/templates/steps/set-default-branch.yml
Labels: Central-EngSys, EngSys

#2137 Sync eng/common directory with azure-sdk-tools for PR 1565
  eng/common/pipelines/templates/steps/retain-run.yml
  eng/common/scripts/Add-RetentionLease.ps1
Labels: Central-EngSys, EngSys

#2149 VcPkg manifest tweaks
  sdk/core/azure-core/vcpkg/portfile.cmake
  sdk/core/azure-core/vcpkg/vcpkg.json
  sdk/identity/azure-identity/vcpkg/portfile.cmake
  sdk/identity/azure-identity/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-common/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-common/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/vcpkg.json
  sdk/storage/azure-storage-blobs/vcpkg/portfile.cmake
  sdk/storage/azure-storage-blobs/vcpkg/vcpkg.json
  sdk/storage/azure-storage-common/vcpkg/portfile.cmake
  sdk/storage/azure-storage-common/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-datalake/vcpkg/portfile.cmake
  sdk/storage/azure-storage-files-datalake/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-shares/vcpkg/portfile.cmake
  sdk/storage/azure-storage-files-shares/vcpkg/vcpkg.json
  sdk/template/azure-template/vcpkg/portfile.cmake
  sdk/template/azure-template/vcpkg/vcpkg.json
Labels: EngSys

#2150 Sync eng/common directory with azure-sdk-tools for PR 1562
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Labels: Central-EngSys, EngSys

#2145 Enable retain runs.
  eng/pipelines/templates/stages/archetype-cpp-release.yml
Labels: Central-EngSys, EngSys

#2151 VcPkg: format json manifest files
  sdk/core/azure-core/vcpkg/vcpkg.json
  sdk/identity/azure-identity/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-common/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/vcpkg.json
  sdk/storage/azure-storage-blobs/vcpkg/vcpkg.json
  sdk/storage/azure-storage-common/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-datalake/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-shares/vcpkg/vcpkg.json
  sdk/template/azure-template/vcpkg/vcpkg.json
Labels: EngSys

#2147 Update README.md
  README.md
Labels: auto-merge

#2144 Moving Pageble<T> to Core and updating KeyVault to use it
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/paged_response.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/keyvault_pipeline.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/single_page.hpp
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/list_keys_single_page_result.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/list_keys_single_page_result.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample3-get-keys/sample3_get_keys.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_get_test_live.cpp
Labels: Azure.Core, Client, KeyVault

#2158 use Core::PagedResponse
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-common/inc/azure/storage/common/paged_response.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_responses.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_service_client_test.cpp
Labels: Client, Storage

#2159 Add docs for return types and options
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
Labels: Client, Storage

#2162 default chunk size for concurrent upload is nullable
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
Labels: Client, Storage, blocking-release

#2165 FIX BUG: cannot upload 5000MiB blob, introduced in #2162
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
Labels: Client, Storage, blocking-release

#2160 Rename paged models from key vault
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/single_page.hpp
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/details/key_serializers.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/list_keys_single_page_result.hpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample3_get_keys.md
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/list_keys_single_page_result.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample3-get-keys/sample3_get_keys.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_get_test_live.cpp
Labels: Client, KeyVault

#2164 Update for doxygen inline docs
  cmake-modules/AzureDoxygen.cmake
Labels: Client, Docs

#2168 Sync eng/common directory with azure-sdk-tools for PR 1580
  eng/common/scripts/Verify-Links.ps1
Labels: Central-EngSys, EngSys

#2163 Change lease mutates LeaseClient
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_lease_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_lease_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_lease_client.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_lease_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_lease_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Client, Storage, blocking-release

#2172 Sync eng/common directory with azure-sdk-tools for PR 1572
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Labels: Central-EngSys, EngSys

#2173 SetPathAccessControlListRecursive and ForceCloseAllHandles
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_responses.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_directory_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_responses.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Client, Storage, blocking-release

#2174 reorder blob model types
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_rest_client.cpp
Labels: Client, Storage, blocking-release

#2169 Sync eng/common directory with azure-sdk-tools for PR 1577
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: Central-EngSys, EngSys

#2175 Add HttpMethod extensible enum tests
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/http_method.cpp
Labels: Azure.Core, test enhancement

#2177 Sync eng/common directory with azure-sdk-tools for PR 1584
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: Central-EngSys, EngSys
