Repository Azure/azure-sdk-for-cpp, pull requests merged in 2021-07, with the labels that each got.

#2518 Put dependency versions
  eng/scripts/Initialize-VcpkgRelease.ps1
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/vcpkg/portfile.cmake
  sdk/core/azure-core/vcpkg/vcpkg.json
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/identity/azure-identity/vcpkg/portfile.cmake
  sdk/identity/azure-identity/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-common/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-common/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-common/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/vcpkg.json
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-blobs/vcpkg/portfile.cmake
  sdk/storage/azure-storage-blobs/vcpkg/vcpkg.json
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-common/vcpkg/portfile.cmake
  sdk/storage/azure-storage-common/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-datalake/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/vcpkg/portfile.cmake
  sdk/storage/azure-storage-files-datalake/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-shares/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/vcpkg/portfile.cmake
  sdk/storage/azure-storage-files-shares/vcpkg/vcpkg.json
  sdk/template/azure-template/CMakeLists.txt
  sdk/template/azure-template/vcpkg/portfile.cmake
  sdk/template/azure-template/vcpkg/vcpkg.json
Labels: EngSys

#2524 Move POSIX time converter from KeyVault to Core
  sdk/core/azure-core/inc/azure/core/datetime.hpp
  sdk/keyvault/azure-security-keyvault-common/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/unix_time_helper.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/deleted_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/import_key_options.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_request_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_vault_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/list_keys_single_page_result.cpp
Labels: Azure.Core, KeyVault

#2523 Move the SHA256, 384, and 512 Hash implementations to be internal.
  sdk/keyvault/azure-security-keyvault-common/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-common/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/sha.hpp
  sdk/keyvault/azure-security-keyvault-common/src/sha.cpp
  sdk/keyvault/azure-security-keyvault-common/test/ut/sha_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample5_sign_verify.md
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/signature_algorithm.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample5-sign-verify/sample5_sign_verify.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_cryptographic_client_test_live.cpp
Labels: KeyVault

#2448 Managed Identity Credential
  sdk/core/azure-core/inc/azure/core/credentials/credentials.hpp
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/inc/azure/identity.hpp
  sdk/identity/azure-identity/inc/azure/identity/client_secret_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/environment_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/managed_identity_credential.hpp
  sdk/identity/azure-identity/src/client_secret_credential.cpp
  sdk/identity/azure-identity/src/environment.cpp
  sdk/identity/azure-identity/src/environment_credential.cpp
  sdk/identity/azure-identity/src/managed_identity_credential.cpp
  sdk/identity/azure-identity/src/managed_identity_source.cpp
  sdk/identity/azure-identity/src/private/environment.hpp
  sdk/identity/azure-identity/src/private/managed_identity_source.hpp
  sdk/identity/azure-identity/src/private/token_credential_impl.hpp
  sdk/identity/azure-identity/src/token_credential_impl.cpp
  sdk/identity/azure-identity/test/e2e/CMakeLists.txt
  sdk/identity/azure-identity/test/e2e/azure_identity_e2e_test.cpp
  sdk/identity/azure-identity/test/ut/CMakeLists.txt
  sdk/identity/azure-identity/test/ut/client_secret_credential_test.cpp
  sdk/identity/azure-identity/test/ut/credential_test_helper.cpp
  sdk/identity/azure-identity/test/ut/credential_test_helper.hpp
  sdk/identity/azure-identity/test/ut/environment_credential_test.cpp
  sdk/identity/azure-identity/test/ut/managed_identity_credential_test.cpp
  sdk/identity/azure-identity/test/ut/simplified_header_test.cpp
  sdk/identity/azure-identity/test/ut/test_transport_test.hpp
Labels: Azure.Identity

#2530 Sync eng/common directory with azure-sdk-tools for PR 1768
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: Central-EngSys, EngSys

#2532 Core Readme: reorder Key Concepts, remove Distributed Tracing
  sdk/core/azure-core/README.md
Labels: Azure.Core, Docs

#2493 ApiView requested changes
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/cryptography_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/cryptography_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/decrypt_parameters.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/encrypt_parameters.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/cryptography_client_options.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/decrypt_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/encrypt_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_options.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_test.cpp
Labels: Client, KeyVault

#2525 Rename SHA256 and others to Sha256Hash and update header name.
  sdk/keyvault/azure-security-keyvault-common/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/sha_hash.hpp
  sdk/keyvault/azure-security-keyvault-common/src/sha_hash.cpp
  sdk/keyvault/azure-security-keyvault-common/test/ut/sha_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/signature_algorithm.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_cryptographic_client_test_live.cpp
Labels: KeyVault, auto-merge

#2528 Move Base64Url helper internal methods from KeyVault to Azure Core.
  sdk/core/azure-core/inc/azure/core/base64.hpp
  sdk/keyvault/azure-security-keyvault-common/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/base64url.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/decrypt_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/decrypt_result.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/encrypt_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/encrypt_result.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/key_sign_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/key_verify_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/key_wrap_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/sign_result.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/unwrap_result.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/verify_result.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/wrap_result.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/json_web_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_backup.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_import_test_live.cpp
Labels: Azure.Core, KeyVault

#2535 Disable C28020 warning in json.hpp as a stop gap on Windows.
  sdk/core/azure-core/inc/azure/core/internal/json/json.hpp
Labels: Azure.Core

#2536 Fix up the implementation details of the RequestFailedException ctor.
  sdk/core/azure-core/inc/azure/core/exception.hpp
  sdk/core/azure-core/src/exception.cpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/exception_test.cpp
Labels: Azure.Core

#2526 Move Sha256Hash and other Hash algorithm types from KeyVault to Azure::Core
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/internal/cryptography/sha_hash.hpp
  sdk/core/azure-core/src/cryptography/sha_hash.cpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/sha_test.cpp
  sdk/keyvault/azure-security-keyvault-common/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-common/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/signature_algorithm.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_cryptographic_client_test_live.cpp
Labels: Azure.Core

#2539 Make sure RFE Message is only set to the response body payload.
  sdk/core/azure-core/inc/azure/core/exception.hpp
  sdk/core/azure-core/src/exception.cpp
Labels: Azure.Core

#2527 Prepare Core and Identity releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Core, Azure.Identity

#2540 Sync eng/common directory with azure-sdk-tools for PR 1772
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: Central-EngSys, EngSys

#2517 fix bug: transactional MD5 hash was treated as blob MD5 hash when downloading a range of blob
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
Labels: Client, Storage, blocking-release

#2546 remove unused headers from blob protocol layer
  .vscode/cspell.json
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
Labels: Client, Storage

#2558 Fix Bug: libcurl transport layer hangs on 304 response
  sdk/core/azure-core/src/http/curl/curl.cpp
Labels: Azure.Core, Client

#2562 Storage 12.0.1 release
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
Labels: Client, Storage, blocking-release

#2556 compile samples
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample5-sign-verify/sample5_sign_verify.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample6-wrap-unwrap/sample6_wrap_unwrap.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_base_test.hpp
  sdk/keyvault/ci.yml
Labels: Client, KeyVault

#2571 Sync eng/common directory with azure-sdk-tools for PR 1782
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
Labels: Central-EngSys, EngSys

#2554 Sync eng/common directory with azure-sdk-tools for PR 1767
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
Labels: Central-EngSys, EngSys

#2510 add some more uts for create
  sdk/keyvault/azure-security-keyvault-keys/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/ut/mocked_client_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/mocked_transport_adapter_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/telemetry_header_test.cpp
Labels: KeyVault

#2574 remove encrypt decrypt overload
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/cryptography_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample4-encrypt-decrypt/sample4_encrypt_decrypt.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_cryptographic_client_test_live.cpp
Labels: Client, KeyVault

#2565 Increment version for storage releases
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
Labels: Storage, auto-merge

#2580 Update header names
  sdk/keyvault/azure-security-keyvault-common/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-common/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/get_page_results_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/key_vault_keys.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/list_keys_result.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/list_keys_result.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_serializers.hpp
  sdk/keyvault/ci.yml
Labels: Client, KeyVault

#2575 keyvault changelog and version update
  sdk/keyvault/azure-security-keyvault-common/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-common/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/src/private/package_version.hpp
Labels: Client, KeyVault

#2581 Sync eng/common directory with azure-sdk-tools for PR 1780
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: Central-EngSys, EngSys

#2557 Some API changes to blob service
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.hpp
  sdk/storage/azure-storage-blobs/test/ut/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
Labels: Client, Storage

#2584 Fix misplaced entry in datalake changelog
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
Labels: Client, Storage

#2531 Add queue service protocol layer
  sdk/storage/CMakeLists.txt
  sdk/storage/azure-storage-queues/CHANGELOG.md
  sdk/storage/azure-storage-queues/CMakeLists.txt
  sdk/storage/azure-storage-queues/NOTICE.txt
  sdk/storage/azure-storage-queues/cgmanifest.json
  sdk/storage/azure-storage-queues/inc/azure/storage/queues.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/dll_import_export.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/protocol/queue_rest_client.hpp
  sdk/storage/azure-storage-queues/sample/queue_getting_started.cpp
  sdk/storage/azure-storage-queues/src/private/package_version.hpp
  sdk/storage/azure-storage-queues/src/queue_rest_client.cpp
  sdk/storage/azure-storage-queues/test/ut/macro_guard.cpp
  sdk/storage/azure-storage-queues/vcpkg/Config.cmake.in
  sdk/storage/azure-storage-queues/vcpkg/portfile.cmake
  sdk/storage/azure-storage-queues/vcpkg/vcpkg.json
  sdk/storage/ci.yml
Labels: Client, Storage

#2553 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core, EngSys

#2555 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Labels: Azure.Identity, EngSys

#2590 Avoid inheriting from an internal base class for KeyVault PagedResponse Options and expose fields directly
  sdk/keyvault/azure-security-keyvault-common/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-common/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/get_page_results_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/list_keys_result.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/import_key_options.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
Labels: KeyVault

#2588 new API: PageBlobClient::UpdateSequenceNumber
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/page_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_rest_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
Labels: Client, Storage

#2572 Remove curl version from vcpkg manifest
  sdk/core/azure-core/vcpkg/vcpkg.json
Labels: Azure.Core, EngSys

#2585 Remove sha256 hash from storage internal code
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/crypt.hpp
  sdk/storage/azure-storage-common/src/crypt.cpp
  sdk/storage/azure-storage-common/test/crypt_functions_test.cpp
Labels: Client, Storage

#2597 Add missing key vault keys cryptography headers to the simplified header.
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/key_vault_keys.hpp
Labels: KeyVault

#2605 Sync eng/common directory with azure-sdk-tools for PR 1808
  eng/common/scripts/FilterPoliCheckResults.ps1
Labels: Central-EngSys, EngSys

#2602 Fix build error in landing page example
  README.md
Labels: Client, Docs, Storage

#2603 PageBlobClient::SetBlobSize doesn't support encryption headers
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
Labels: Client, Storage

#2592 Rename list_keys_result KeyVault header to list_keys_responses to match PagedResponse naming pattern
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/key_vault_keys.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/list_keys_responses.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/list_keys_responses.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_serializers.hpp
Labels: Client, KeyVault

#2623 Remove unused internal helper method from KeyVaultPipeline.
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/keyvault_pipeline.hpp
Labels: KeyVault

#2621 Fix up doc typos in the PagedResponse KeyVault APIs.
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
Labels: Docs, KeyVault

#2620 Removed the `MaxPageResults` field from `GetPropertiesOfKeysOptions`, `GetPropertiesOfKeyVersionsOptions`, and `GetDeletedKeysOptions`.
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/list_keys_responses.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
Labels: KeyVault

#2619 Adding BackupKeyResult struct wrapper as a return type model for BackupKey.
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/backup_key_result.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample2-backup-and-restore/sample2_backup_and_restore.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_backup_test_live.cpp
Labels: KeyVault

#2618 Rename KeyVaultPipeline to KeyVaultProtocolClient and make it an impl detail (move it to _detail) within the keys package instead of common
  sdk/keyvault/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-common/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-common/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/cryptography_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/internal/cryptography/remote_cryptography_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/remote_cryptography_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/keyvault_protocol.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/keyvault_constants.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/keyvault_protocol.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_import_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/mocked_transport_adapter_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/protocol_test.cpp
  sdk/keyvault/ci.yml
Labels: KeyVault

#2625 Removed the /internal/ directory in Keyvault Keys and move headers to private that don't need to be public.
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/cryptography_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/cryptography_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/remote_cryptography_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/rsa_cryptography_provider.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/cryptography_provider.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/local_cryptography_provider.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/local_cryptography_provider_factory.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/remote_cryptography_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/rsa_cryptography_provider.hpp
Labels: KeyVault

#2508 Sync eng/common directory with azure-sdk-tools for PR 1748
  eng/common/pipelines/templates/steps/bypass-local-dns.yml
Labels: Central-EngSys, EngSys

#2628 Update keyvault keys readme to use C++ specific links
  sdk/keyvault/azure-security-keyvault-keys/README.md
Labels: Docs, KeyVault, auto-merge

#2630 Remove vcpkg dependency from keyvault-keys on keyvault-common.
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/Config.cmake.in
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/vcpkg.json
Labels: KeyVault

#2626 Use forward declaration to avoid exposing private/src headers from public headers.
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/cryptography_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/remote_cryptography_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/mocked_transport_adapter_test.hpp
Labels: KeyVault

#2594 rename types
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/list_keys_responses.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/list_keys_responses.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_serializers.hpp
Labels: Client, KeyVault

#2631 Other than options and model types (which are property bags), make everything that has functions, a class.
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/cryptography_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/cryptography_provider.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/cryptography_serializers.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_backup.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_serializers.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/local_cryptography_provider_factory.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/remote_cryptography_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/rsa_cryptography_provider.hpp
Labels: KeyVault

#2635 Avoid separating key and vault in file names, change key_vault_ to keyvault_.
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/deleted_key.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_create_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/keyvault_key.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/list_keys_responses.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/recover_deleted_key_operation.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keyvault_keys.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/deleted_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/keyvault_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_serializers.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/local_cryptography_provider.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/local_cryptography_provider_factory.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/remote_cryptography_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/perf/inc/azure/keyvault/keys/test/get_key_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample1-hello-world/sample1_hello_world.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample2-backup-and-restore/sample2_backup_and_restore.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample3-get-keys/sample3_get_keys.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample4-encrypt-decrypt/sample4_encrypt_decrypt.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample5-sign-verify/sample5_sign_verify.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample6-wrap-unwrap/sample6_wrap_unwrap.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_backup_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_delete_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_get_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_import_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_update_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_cryptographic_client_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/macro_guard.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/mocked_client_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/mocked_transport_adapter_test.hpp
Labels: KeyVault

#2634 Remove JsonWebKey.HasPrivateKey() since it is not required by anyone.
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/json_web_key.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/local_cryptography_provider.hpp
Labels: KeyVault

#2633 Remove unnecessary methods in the header that aren't called by anyone else.
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/remote_cryptography_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/remote_cryptography_client.hpp
Labels: KeyVault

#2636 Use std::vector instead of std::list for KeyOperation arrays.
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_create_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_request_parameters.hpp
Labels: KeyVault

#2638 remove local support for crypto client
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/cryptography_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/cryptography_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/remote_cryptography_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/rsa_cryptography_provider.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/cryptography_provider.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/local_cryptography_provider.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/local_cryptography_provider_factory.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/remote_cryptography_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/rsa_cryptography_provider.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample4-encrypt-decrypt/sample4_encrypt_decrypt.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample5-sign-verify/sample5_sign_verify.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample6-wrap-unwrap/sample6_wrap_unwrap.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_cryptographic_client_test_live.cpp
Labels: KeyVault

#2632 Fixed a bug where unspecified SMB properties got overwritten rather than preserved by `SetProperties()`
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Client, Storage

#2642 Storage unit test improvements
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-common/test/test_base.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_service_client_test.cpp
Labels: Client, Storage, test enhancement

#2643 Fixed a bug where sequence number access conditions didn't work for page blob operations
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
Labels: Client, Storage

#2641 update polling timeout to 5 min
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/list_keys_responses.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_backup_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_delete_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_get_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_import_test_live.cpp
Labels: Client, KeyVault, test bug

#2646 Update CL version for key vault for the beta release
  sdk/keyvault/azure-security-keyvault-common/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-common/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/src/private/package_version.hpp
Labels: Docs, KeyVault

#2639 adding listBlobs perf test
  sdk/storage/azure-storage-blobs/test/perf/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/perf/inc/azure/storage/blobs/test/list_blob_test.hpp
  sdk/storage/azure-storage-blobs/test/perf/src/azure_storage_blobs_perf_test.cpp
Labels: Client, tenet-performance

#2648 move constant definition to bottom to get around a bug in APIView tool
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/protocol/queue_rest_client.hpp
Labels: Client, Storage

#2651 fix broken link
  sdk/keyvault/azure-security-keyvault-keys/README.md
Labels: Client

#2645 Avoid time domain casting exception during request cancellation
  sdk/storage/azure-storage-blobs/test/ut/storage_timeout_test.cpp
  sdk/storage/azure-storage-common/src/storage_per_retry_policy.cpp
Labels: Storage, customer-reported

#2640 Consolidate keyvault and cryptography client options and model files into single headers.
  .vscode/cspell.json
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/backup_key_result.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/cryptography_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/cryptography_client_models.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/decrypt_parameters.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/decrypt_result.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/encrypt_parameters.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/encrypt_result.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/encryption_algorithm.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/key_wrap_algorithm.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/sign_result.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/signature_algorithm.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/unwrap_result.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/verify_result.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/wrap_result.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/delete_key_operation.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/deleted_key.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/import_key_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/json_web_key.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_models.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_create_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_curve_name.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_operation.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_properties.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_type.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/keyvault_key.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/list_keys_responses.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/recover_deleted_key_operation.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keyvault_keys.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/cryptography_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/decrypt_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/decrypt_result.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/encrypt_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/encrypt_result.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/encryption_algorithm.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/key_wrap_algorithm.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/key_wrap_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/sign_result.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/signature_algorithm.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/unwrap_result.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/verify_result.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/wrap_result.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/delete_key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/deleted_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/import_key_options.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/json_web_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client_paged_responses.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_curve_name.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_type.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/keyvault_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/cryptography_serializers.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_request_parameters.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_serializers.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/recover_deleted_key_operation.cpp
Labels: KeyVault

#2595 Avoid duplication of a method by expanding out the struct into their constituting fields.
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
Labels: KeyVault

#2661 Sync eng/common directory with azure-sdk-tools for PR 1827
  eng/common/scripts/Update-DocsMsMetadata.ps1
  eng/common/scripts/update-docs-metadata.ps1
Labels: Central-EngSys, EngSys

#2664 Fixed a bug where GetBlockList throws exception if the blob is not committed
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
Labels: Client, Storage

#2667 set secrets header to same as other packages
  sdk/keyvault/azure-security-keyvault-secrets/vcpkg/vcpkg.json
Labels: Client, KeyVault

#2672 support connection close header
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_pool_private.hpp
  sdk/core/azure-core/test/ut/curl_connection_pool_test.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base_test.hpp
Labels: Azure.Core, Client

#2668 Sync eng/common directory with azure-sdk-tools for PR 1848
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/docgeneration/templates/matthews/partials/head.tmpl.partial
Labels: Central-EngSys, EngSys

#2564 Update Ubuntu VM Image from 18 to 20
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Labels: EngSys

#2674 remove the const double ref and use move instead
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
Labels: Client, KeyVault

#2677 Remove warning supress
  doc/LibCurlTransportAdatper.md
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/internal/json/json.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_pool_private.hpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/test/ut/azure_core_test.cpp
  sdk/core/azure-core/test/ut/azure_libcurl_core_main_test.cpp
  sdk/core/azure-core/test/ut/curl_session_test.hpp
  sdk/core/perf/test/inc/azure/perf/test/curl_http_client_get_test.hpp
  sdk/identity/azure-identity/test/live/azure_identity_live_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/azure_security_keyvault_keys_test.cpp
Labels: Azure.Core, Client

#2675 remove prefer ninja
  sdk/core/azure-core/vcpkg/portfile.cmake
  sdk/identity/azure-identity/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-common/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-secrets/vcpkg/portfile.cmake
  sdk/storage/azure-storage-blobs/vcpkg/portfile.cmake
  sdk/storage/azure-storage-common/vcpkg/portfile.cmake
  sdk/storage/azure-storage-files-datalake/vcpkg/portfile.cmake
  sdk/storage/azure-storage-files-shares/vcpkg/portfile.cmake
  sdk/storage/azure-storage-queues/vcpkg/portfile.cmake
  sdk/template/azure-template/vcpkg/portfile.cmake
Labels: Azure.Core, Client

#2673 Sync eng/common directory with azure-sdk-tools for PR 1847
  eng/common/scripts/Create-APIReview.ps1
Labels: Central-EngSys, EngSys

#2678 Make WinHTTP transport adapter to NOT use SSL/TLS for unsecured HTTP connections
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/identity/azure-identity/vcpkg/Config.cmake.in
  sdk/identity/azure-identity/vcpkg/vcpkg.json
Labels: Azure.Core

#2670 Change the order of some built-in policies and client policies
  sdk/core/azure-core/inc/azure/core/internal/http/pipeline.hpp
Labels: Azure.Core, Client

#2684 Remove BlobItemDetails::TagCount
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
Labels: Client, Storage

#2683 Backup / Restore secret
  sdk/keyvault/azure-security-keyvault-secrets/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/keyvault_secrets.hpp
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/secrets/keyvault_backup_secret.hpp
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/secrets/secret_client.hpp
  sdk/keyvault/azure-security-keyvault-secrets/src/private/secret_constants.hpp
  sdk/keyvault/azure-security-keyvault-secrets/src/private/secret_serializers.hpp
  sdk/keyvault/azure-security-keyvault-secrets/src/secret_client.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/secret_serializers.cpp
  sdk/keyvault/azure-security-keyvault-secrets/test/sample/test_app.cpp
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/secret_backup_deserialize_test.cpp
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/secret_backup_deserialize_test.hpp
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/secret_get_client_deserialize_test.hpp
Labels: KeyVault

#2686 Sync eng/common directory with azure-sdk-tools for PR 1851
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Labels: Central-EngSys, EngSys

#2687 Add ga to index and individual docs
  eng/docs/api/assets/header.html
  eng/scripts/Language-Settings.ps1
Labels: Central-EngSys
