Repository Azure/azure-sdk-for-cpp, pull requests merged in 2021-08, with the labels that each got.

#2693 remove superfluous (void)
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
Labels: Client, Storage

#2700 typo
  sdk/core/azure-core/src/exception.cpp
Labels: Azure.Core, Client

#2697 clang doc fixes
  sdk/core/azure-core/inc/azure/core/internal/json/json.hpp
  sdk/identity/azure-identity/inc/azure/identity/managed_identity_credential.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_models.hpp
Labels: Client, Docs

#2689 Revert "Update Ubuntu VM Image from 18 to 20 (#2564)"
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Labels: Central-EngSys

#2692 Add samples for Azure Identity
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/identity/azure-identity/samples/CMakeLists.txt
  sdk/identity/azure-identity/samples/azure/service/client.hpp
  sdk/identity/azure-identity/samples/client_secret_credential.cpp
  sdk/identity/azure-identity/samples/environment_credential.cpp
  sdk/identity/azure-identity/samples/managed_identity_credential.cpp
Labels: Azure.Identity, Docs

#2709 small fix to blob doc
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp
Labels: Client, Storage, blocking-release

#2703 improve status code check logic in blob protocol layer
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
Labels: Client, Storage

#2691 Sync eng/common directory with azure-sdk-tools for PR 1852
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Queue-Pipeline.ps1
Labels: EngSys, Central-EngSys

#2705 Re implement keyvault keys
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/cryptography_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/cryptography_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/keyvault_protocol.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_constants.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/keyvault_protocol.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/ut/mocked_transport_adapter_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/protocol_test.cpp
Labels: Client, KeyVault

#2718 Update vcpkg version dependencies
  sdk/core/azure-core/vcpkg/vcpkg.json
  sdk/identity/azure-identity/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-common/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-common/vcpkg/Config.cmake.in
  sdk/keyvault/azure-security-keyvault-common/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/Config.cmake.in
  sdk/keyvault/azure-security-keyvault-secrets/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/vcpkg/Config.cmake.in
  sdk/keyvault/azure-security-keyvault-secrets/vcpkg/vcpkg.json
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-blobs/vcpkg/Config.cmake.in
  sdk/storage/azure-storage-blobs/vcpkg/vcpkg.json
  sdk/storage/azure-storage-common/vcpkg/Config.cmake.in
  sdk/storage/azure-storage-common/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-datalake/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/vcpkg/Config.cmake.in
  sdk/storage/azure-storage-files-datalake/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-shares/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/vcpkg/Config.cmake.in
  sdk/storage/azure-storage-files-shares/vcpkg/vcpkg.json
  sdk/storage/azure-storage-queues/CMakeLists.txt
  sdk/storage/azure-storage-queues/vcpkg/Config.cmake.in
  sdk/storage/azure-storage-queues/vcpkg/vcpkg.json
  sdk/template/azure-template/vcpkg/Config.cmake.in
  sdk/template/azure-template/vcpkg/vcpkg.json
Labels: EngSys, blocking-release

#2685 Add core-test recording-playback
  sdk/core/CMakeLists.txt
  sdk/core/azure-core-test/CMakeLists.txt
  sdk/core/azure-core-test/NOTICE.txt
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core-test/cgmanifest.json
  sdk/core/azure-core-test/inc/azure/core/test/interceptor_manager.hpp
  sdk/core/azure-core-test/inc/azure/core/test/network_models.hpp
  sdk/core/azure-core-test/inc/azure/core/test/playback_http_client.hpp
  sdk/core/azure-core-test/inc/azure/core/test/record_network_call_policy.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/azure-core-test/inc/azure/core/test/test_context_manager.hpp
  sdk/core/azure-core-test/src/environment.cpp
  sdk/core/azure-core-test/src/interceptor_manager.cpp
  sdk/core/azure-core-test/src/playback_http_transport.cpp
  sdk/core/azure-core-test/src/private/environment.hpp
  sdk/core/azure-core-test/src/private/package_version.hpp
  sdk/core/azure-core-test/src/record_policy.cpp
  sdk/core/azure-core-test/src/test_base.cpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_backup_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
Labels: Azure.Core, Client, test-enhancement

#2714 storage 12.1.0 release
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
Labels: Client, Storage

#2724 changelog for release - Key Vault Keys
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/src/private/package_version.hpp
Labels: Client

#2719 Identity 1.1.0 GA release
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Labels: blocking-release, Azure.Identity, Managed Identity

#2731 Update Changelog for storage 12.1.0 release
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Labels: Client, Storage, blocking-release

#2728 Sync eng/common directory with azure-sdk-tools for PR 1866
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Labels: EngSys, Central-EngSys

#2737 Playback test impl
  sdk/core/azure-core-test/inc/azure/core/test/interceptor_manager.hpp
  sdk/core/azure-core-test/inc/azure/core/test/playback_http_client.hpp
  sdk/core/azure-core-test/src/interceptor_manager.cpp
  sdk/core/azure-core-test/src/playback_http_transport.cpp
  sdk/core/azure-core-test/src/record_policy.cpp
  sdk/core/azure-core-test/src/test_base.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/recordings/KeyVaultClientTest.CreateKey.json
Labels: Client

#2736 Remove vcpkg version constraints for Key Vault Keys
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/vcpkg.json
Labels: EngSys, KeyVault

#2734 Fix build error on some platforms
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/uuid.hpp
  sdk/core/azure-core/src/uuid.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Azure.Core, Client

#2743 Sync eng/common directory with azure-sdk-tools for PR 1894
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#2742 Sync eng/common directory with azure-sdk-tools for PR 1876
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#2748 Sync eng/common directory with azure-sdk-tools for PR 1884
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: EngSys, Central-EngSys

#2747 Sync eng/common directory with azure-sdk-tools for PR 1902
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#2671 Storage Queue Service
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_credential.hpp
  sdk/storage/azure-storage-common/test/test_base.hpp
  sdk/storage/azure-storage-queues/CHANGELOG.md
  sdk/storage/azure-storage-queues/CMakeLists.txt
  sdk/storage/azure-storage-queues/inc/azure/storage/queues.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/protocol/queue_rest_client.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/queue_client.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/queue_options.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/queue_responses.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/queue_sas_builder.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/queue_service_client.hpp
  sdk/storage/azure-storage-queues/src/queue_client.cpp
  sdk/storage/azure-storage-queues/src/queue_responses.cpp
  sdk/storage/azure-storage-queues/src/queue_sas_builder.cpp
  sdk/storage/azure-storage-queues/src/queue_service_client.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_client_messages_test.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_client_test.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_client_test.hpp
  sdk/storage/azure-storage-queues/test/ut/queue_sas_test.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_service_client_test.cpp
  sdk/storage/azure-storage-queues/vcpkg/portfile.cmake
Labels: Client, Storage

#2745 Sync eng/common directory with azure-sdk-tools for PR 1901
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#2757 Sync eng/common directory with azure-sdk-tools for PR 1909
  eng/common/scripts/common.ps1
  eng/common/scripts/trust-proxy-certificate.ps1
  eng/common/testproxy/apply-dev-cert.sh
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
  eng/common/testproxy/localhost.conf
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#2749 Disable storage queue vcpkg
  sdk/storage/azure-storage-queues/CMakeLists.txt
Labels: Client, Storage

#2759 Sync eng/common directory with azure-sdk-tools for PR 1913
  eng/common/scripts/Create-APIReview.ps1
Labels: EngSys, Central-EngSys

#2762 Sync eng/common directory with azure-sdk-tools for PR 1919
  eng/common/scripts/FilterPoliCheckResults.ps1
Labels: EngSys, Central-EngSys

#2758 storage queue sample
  sdk/storage/azure-storage-queues/sample/queue_getting_started.cpp
Labels: Client, Storage

#2766 Use `std::chrono::seconds` for time duration in Queue
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/protocol/queue_rest_client.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/queue_client.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/queue_options.hpp
  sdk/storage/azure-storage-queues/sample/queue_getting_started.cpp
  sdk/storage/azure-storage-queues/src/queue_client.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_client_messages_test.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_sas_test.cpp
Labels: Client, Storage

#2767 Sync eng/common directory with azure-sdk-tools for PR 1912
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#2769 Sync eng/common directory with azure-sdk-tools for PR 1924
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: EngSys, Central-EngSys

#2761 adding GetUrl to key vault clients
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_test.cpp
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/secrets/secret_client.hpp
  sdk/keyvault/azure-security-keyvault-secrets/src/private/keyvault_protocol.hpp
  sdk/keyvault/azure-security-keyvault-secrets/src/secret_client.cpp
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/secret_client_test.cpp
Labels: Client, KeyVault

#2775 Sync eng/common directory with azure-sdk-tools for PR 1926
  eng/common/Update-Change-Log.ps1
Labels: EngSys, Central-EngSys

#2780 [KeyVault] use package version for telemetry Keys and Secrets
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/mocked_client_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/mocked_transport_adapter_test.hpp
  sdk/keyvault/azure-security-keyvault-secrets/src/secret_client.cpp
Labels: Client, KeyVault

#2768 Sync eng/common directory with azure-sdk-tools for PR 1918
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
Labels: EngSys, Central-EngSys

#2787 support cmake version 3.12 for Azure core
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CMakeLists.txt
Labels: Azure.Core, Cognitive - Speech

#2784 ignore result of function to compile on G++ 5
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  eng/pipelines/templates/steps/cmake-build.yml
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/base64.cpp
Labels: Cognitive - Speech

#2791 Update keyvault codeowners to reduce noise to signal ratio
  .github/CODEOWNERS
Labels: EngSys, KeyVault, auto-merge

#2810 Sync eng/common directory with azure-sdk-tools for PR 1943
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#2805 ignore specific words rather than skip the whole file for spell-checking augo-generated files
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/protocol/queue_rest_client.hpp
Labels: Client, Storage

#2763 Add support for non public scope for secret client credential on Key Vault
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/cryptography_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_constants.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/mocked_client_test.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/secret_client.cpp
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/secret_client_test.cpp
Labels: Azure.Core, Client, KeyVault

#2813 Sync eng/common directory with azure-sdk-tools for PR 1952
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Labels: EngSys, Central-EngSys

#2814 Sync eng/common directory with azure-sdk-tools for PR 1953
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys
