Repository Azure/azure-sdk-for-cpp, pull requests merged in 2021-05, with the labels that each got.

#2171 Sync eng/common directory with azure-sdk-tools for PR 1579
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
Labels: Central-EngSys, EngSys

#2179 Sync eng/common directory with azure-sdk-tools for PR 1524
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: Central-EngSys, EngSys

#2157 Md5 enhance impl and test
  sdk/core/azure-core/inc/azure/core/cryptography/hash.hpp
  sdk/core/azure-core/src/cryptography/md5.cpp
  sdk/core/azure-core/test/ut/md5.cpp
Labels: Azure.Core, Client

#2178 Context::GetApplicationContext() => Context::ApplicationContext
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/context.hpp
  sdk/core/azure-core/inc/azure/core/operation.hpp
  sdk/core/azure-core/src/context.cpp
  sdk/core/azure-core/test/perf/src/main.cpp
  sdk/core/azure-core/test/ut/azure_libcurl_core_main.cpp
  sdk/core/azure-core/test/ut/bodystream.cpp
  sdk/core/azure-core/test/ut/client_options.cpp
  sdk/core/azure-core/test/ut/context.cpp
  sdk/core/azure-core/test/ut/curl_connection_pool.cpp
  sdk/core/azure-core/test/ut/curl_options.cpp
  sdk/core/azure-core/test/ut/curl_session_test.cpp
  sdk/core/azure-core/test/ut/global_context.cpp
  sdk/core/azure-core/test/ut/http.cpp
  sdk/core/azure-core/test/ut/operation_test.hpp
  sdk/core/azure-core/test/ut/policy.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.cpp
  sdk/core/perf/README.md
  sdk/core/perf/test/src/main.cpp
  sdk/identity/azure-identity/test/live/client_secret_credential.cpp
  sdk/identity/azure-identity/test/live/environment_credential.cpp
  sdk/identity/azure-identity/test/perf/src/main.cpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/delete_key_operation.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/recover_deleted_key_operation.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/delete_key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/recover_deleted_key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/perf/src/main.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_delete_test_live.cpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/src/blob_responses.cpp
  sdk/storage/azure-storage-blobs/test/perf/src/main.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_responses.cpp
Labels: Azure.Core

#2190 Add cspell.json to ignored paths
  .vscode/cspell.json
Labels: EngSys

#2191 Fix datetime doc comment typo
  sdk/core/azure-core/inc/azure/core/datetime.hpp
Labels: Azure.Core, Docs

#2194 Ensure random Uuid generation
  sdk/core/azure-core/inc/azure/core/uuid.hpp
Labels: Azure.Core, auto-merge

#2197 Adding noexcpt to isCancelled
  sdk/core/azure-core/inc/azure/core/context.hpp
Labels: Azure.Core, Client

#2195 LRO operation resume token - following factory method design
  sdk/core/azure-core/test/ut/operation.cpp
  sdk/core/azure-core/test/ut/operation_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/delete_key_operation.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/recover_deleted_key_operation.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/delete_key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/recover_deleted_key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_delete_test_live.cpp
Labels: Azure.Core, Client

#2188 Remove exposing windows.h header from our public headers and reduce risk of introducing it in non-public headers
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/http/win_http_transport.hpp
  sdk/core/azure-core/inc/azure/core/internal/hkey_holder.hpp
  sdk/core/azure-core/inc/azure/core/io/body_stream.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/telemetry_policy.cpp
  sdk/core/azure-core/src/io/body_stream.cpp
  sdk/core/azure-core/src/io/random_access_file_body_stream.cpp
  sdk/core/azure-core/src/private/environment_log_level_listener.hpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/file_io.hpp
  sdk/storage/azure-storage-common/src/file_io.cpp
  sdk/storage/azure-storage-common/test/test_base.hpp
Labels: Azure.Core, auto-merge

#2200 Add changelog entry for Uuid improvement
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core, auto-merge

#2185 Check for context cancellation in more places within the winhttp transport layer before each I/O call.
  .vscode/cspell.json
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Labels: Azure.Core

#2198 Add transport layer unit tests with non-ascii host strings as input.
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.cpp
Labels: Azure.Core

#2196 Rename download via stream
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/src/http/transport_policy.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.cpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
Labels: Azure.Core, Client

#2203 fix user agent for blob service
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
Labels: Client, Storage, blocking-release

#2201 Remove exposing windows.h header from our public headers within storage.
  sdk/storage/azure-storage-common/inc/azure/storage/common/file_io.hpp
Labels: Storage

#2208 Fix up wording in changelog for azure core
  sdk/core/azure-core/CHANGELOG.md
Labels: Docs, auto-merge

#2170 Update abort() for AZURE_ASSERT
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/azure_assert.hpp
  sdk/core/azure-core/inc/azure/core/context.hpp
  sdk/core/azure-core/inc/azure/core/etag.hpp
  sdk/core/azure-core/inc/azure/core/nullable.hpp
  sdk/core/azure-core/src/azure_assert.cpp
  sdk/core/azure-core/test/ut/context.cpp
  sdk/core/azure-core/test/ut/etag.cpp
  sdk/core/azure-core/test/ut/nullable.cpp
Labels: Azure.Core, Client, Storage

#2213 Sync eng/common directory with azure-sdk-tools for PR 1596
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
Labels: Central-EngSys, EngSys

#2206 Add doxygen doc to blob generated code
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
Labels: Client, Storage, blocking-release

#2202 Extend Check Enforcer timeout
  eng/CHECKENFORCER
Labels: Central-EngSys, EngSys

#2216 Add some comments to common package
  sdk/storage/azure-storage-common/inc/azure/storage/common/crypt.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_exception.hpp
Labels: Client, Storage, blocking-release

#2207 File/datalake service doxygen comments and detail struct name refine.
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_rest_client.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_rest_client.cpp
Labels: Storage, auto-merge

#2212 Removed the `Azure::Core::Http::Request` ctor overload that takes both a `bodyStream` and a `bufferedDownload` boolean since it is not used anywhere.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/http.hpp
Labels: Azure.Core

#2209 Fix true spelling errors across all source and header files within the SDK and add exceptions for false positives.
  .vscode/cspell.json
  CMakeLists.txt
  cmake-modules/AzureVcpkg.cmake
  eng/CHECKENFORCER
  eng/scripts/Collect-Changelogs.ps1
  eng/scripts/Get-PkgVersion.ps1
  eng/scripts/Language-Settings.ps1
  eng/scripts/SdkVersion-Common.ps1
  eng/scripts/Update-PkgVersion.ps1
  eng/scripts/Update-VcpkgPort.ps1
  sdk/core/azure-core/inc/azure/core/datetime.hpp
  sdk/core/azure-core/inc/azure/core/platform.hpp
  sdk/core/azure-core/inc/azure/core/url.hpp
  sdk/core/azure-core/src/datetime.cpp
  sdk/core/azure-core/test/ut/curl_options.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.hpp
  sdk/core/perf/inc/azure/perf/argagg.hpp
  sdk/core/perf/inc/azure/perf/program.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/key_vault.hpp
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_sas_builder.hpp
  sdk/storage/azure-storage-common/src/crypt.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_sas_builder.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_service_client.hpp
Labels: EngSys, auto-merge

#2161 Vcpkg sample
  samples/integration/vcpkg-keyvault/.devcontainer/Dockerfile
  samples/integration/vcpkg-keyvault/.devcontainer/devcontainer.json
  samples/integration/vcpkg-keyvault/CMakeLists.txt
  samples/integration/vcpkg-keyvault/LICENSE
  samples/integration/vcpkg-keyvault/README.md
  samples/integration/vcpkg-keyvault/src/main.cpp
  samples/integration/vcpkg-storage/.devcontainer/Dockerfile
  samples/integration/vcpkg-storage/.devcontainer/devcontainer.json
  samples/integration/vcpkg-storage/CMakeLists.txt
  samples/integration/vcpkg-storage/LICENSE
  samples/integration/vcpkg-storage/README.md
  samples/integration/vcpkg-storage/src/main.cpp
Labels: Client, EngSys, test enhancement

#2223 Add a key type pair context precondition test.
  sdk/core/azure-core/test/ut/context.cpp
Labels: Azure.Core, test enhancement

#2210 Rename IsBufferedDownload to ShouldBufferResponse to avoid using a storage specific verb in general purpose Request object.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/src/http/transport_policy.cpp
Labels: Azure.Core

#2233 Sync eng/common directory with azure-sdk-tools for PR 1597
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: Central-EngSys, EngSys

#2235 add some comments for datalake and share services
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
Labels: Client, Docs, Storage, blocking-release

#2236 add namespace explicit qualifier for friend classes to fix some mysterious build errors
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
Labels: Client, Storage, blocking-release

#2241 Update readme for Identity
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity, Docs

#2245 Avoid using WinHttpQueryDataAvailable, and use WinHttpReadData directly for better throughput.
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Labels: Azure.Core, tenet-performance

#2257 Fix stream leak issue
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/reliable_stream.cpp
Labels: Client, Storage, blocking-release

#2256 Document final/virtual destructor changes
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/internal/client_options.hpp
  sdk/core/azure-core/inc/azure/core/modified_conditions.hpp
  sdk/core/azure-core/inc/azure/core/paged_response.hpp
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-common/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_create_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_vault_key.hpp
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/inc/azure/storage/common/access_conditions.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Labels: Docs

#2243 Sync eng/common directory with azure-sdk-tools for PR 1594
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: Central-EngSys, EngSys

#2258 Fix typo in share_responses docs
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
Labels: Docs, Storage, auto-merge

#2259 Disable BlobServiceClientTest::UndeleteBlobContainer to keep CI and live tests green
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.cpp
Labels: Storage

#2264 missing line for single docs
  sdk/core/azure-core/README.md
  sdk/core/azure-core/inc/azure/core/case_insensitive_containers.hpp
  sdk/core/azure-core/inc/azure/core/context.hpp
  sdk/core/azure-core/inc/azure/core/credentials/credentials.hpp
  sdk/core/azure-core/inc/azure/core/credentials/token_credential_options.hpp
  sdk/core/azure-core/inc/azure/core/cryptography/hash.hpp
  sdk/core/azure-core/inc/azure/core/datetime.hpp
  sdk/core/azure-core/inc/azure/core/diagnostics/logger.hpp
  sdk/core/azure-core/inc/azure/core/etag.hpp
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/inc/azure/core/http/http_status_code.hpp
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/core/azure-core/inc/azure/core/http/raw_response.hpp
  sdk/core/azure-core/inc/azure/core/http/transport.hpp
  sdk/core/azure-core/inc/azure/core/internal/client_options.hpp
  sdk/core/azure-core/inc/azure/core/internal/io/null_body_stream.hpp
  sdk/core/azure-core/inc/azure/core/io/body_stream.hpp
  sdk/core/azure-core/inc/azure/core/match_conditions.hpp
  sdk/core/azure-core/inc/azure/core/modified_conditions.hpp
  sdk/core/azure-core/inc/azure/core/nullable.hpp
  sdk/core/azure-core/inc/azure/core/operation.hpp
  sdk/core/azure-core/inc/azure/core/operation_status.hpp
  sdk/core/azure-core/inc/azure/core/url.hpp
  sdk/core/azure-core/inc/azure/core/uuid.hpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/src/http/telemetry_policy.cpp
  sdk/core/azure-core/src/private/curl_connection.hpp
  sdk/core/azure-core/src/private/package_version.hpp
  sdk/identity/azure-identity/inc/azure/identity/client_secret_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/environment_credential.hpp
  sdk/identity/azure-identity/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/base64url.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/keyvault_pipeline.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/unix_time_helper.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/sha.hpp
  sdk/keyvault/azure-security-keyvault-common/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/package_version.hpp
Labels: Client, Docs

#2263 `BlobServiceClient::UndeleteBlobContainer` doesn't support restoring a deleted container under a different name anymore.
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.cpp
Labels: Client, Storage, blocking-release

#2269 Sync eng/common directory with azure-sdk-tools for PR 1598
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
Labels: Central-EngSys, EngSys

#2268 Delete vcpkg readme
  sdk/core/azure-core/vcpkg/README.md
  sdk/identity/azure-identity/vcpkg/README.md
  sdk/keyvault/azure-security-keyvault-common/vcpkg/README.md
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/README.md
  sdk/storage/azure-storage-blobs/vcpkg/README.md
  sdk/storage/azure-storage-common/vcpkg/README.md
  sdk/storage/azure-storage-files-datalake/vcpkg/README.md
  sdk/storage/azure-storage-files-shares/vcpkg/README.md
  sdk/template/azure-template/vcpkg/README.md
Labels: Docs

#2274 Fix the casing of WinHttp and use WinHTTP
  sdk/core/azure-core/inc/azure/core/http/win_http_transport.hpp
Labels: Azure.Core, Docs, auto-merge

#2275 A few spot fixes in docs
  sdk/core/azure-core/inc/azure/core/base64.hpp
  sdk/core/azure-core/inc/azure/core/context.hpp
  sdk/core/azure-core/inc/azure/core/modified_conditions.hpp
  sdk/core/azure-core/inc/azure/core/nullable.hpp
Labels: Azure.Core, auto-merge

#2262 use AZURE_ASSERT in storage code
  sdk/core/azure-core/inc/azure/core/azure_assert.hpp
  sdk/core/azure-core/inc/azure/core/etag.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/src/blob_lease_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_responses.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/concurrent_transfer.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_responses.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_lease_client.cpp
Labels: Client, Storage, blocking-release

#2265 Fault injection test
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/test/fault-injector/CMakeLists.txt
  sdk/core/azure-core/test/fault-injector/main.cpp
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/fault-injector/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/fault-injector/main.cpp
Labels: Azure.Core, Client, test enhancement

#2277 Documentation updates
  sdk/core/azure-core/inc/azure/core/context.hpp
  sdk/core/azure-core/inc/azure/core/exception.hpp
  sdk/core/azure-core/inc/azure/core/match_conditions.hpp
  sdk/core/azure-core/inc/azure/core/operation.hpp
  sdk/core/azure-core/inc/azure/core/operation_status.hpp
  sdk/core/azure-core/inc/azure/core/paged_response.hpp
  sdk/core/azure-core/inc/azure/core/platform.hpp
  sdk/core/azure-core/inc/azure/core/url.hpp
  sdk/core/azure-core/inc/azure/core/uuid.hpp
Labels: Azure.Core, Docs, auto-merge

#2280 Doxygen comment updates
  CMakeLists.txt
  sdk/core/azure-core/inc/azure/core.hpp
  sdk/core/azure-core/inc/azure/core/credentials/credentials.hpp
  sdk/core/azure-core/inc/azure/core/credentials/token_credential_options.hpp
  sdk/core/azure-core/inc/azure/core/diagnostics/logger.hpp
  sdk/core/azure-core/inc/azure/core/dll_import_export.hpp
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/core/azure-core/inc/azure/core/internal/http/pipeline.hpp
  sdk/core/azure-core/src/http/bearer_token_authentication_policy.cpp
  sdk/core/azure-core/src/http/log_policy.cpp
  sdk/core/azure-core/src/http/policy.cpp
  sdk/core/azure-core/src/http/retry_policy.cpp
  sdk/core/azure-core/src/http/telemetry_policy.cpp
  sdk/core/azure-core/src/http/transport_policy.cpp
  sdk/core/azure-core/test/ut/client_options.cpp
  sdk/core/azure-core/test/ut/policy.cpp
  sdk/core/azure-core/test/ut/telemetry_policy.cpp
  sdk/identity/azure-identity/inc/azure/identity.hpp
  sdk/identity/azure-identity/inc/azure/identity/client_secret_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/dll_import_export.hpp
  sdk/identity/azure-identity/inc/azure/identity/environment_credential.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/dll_import_export.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/key_vault_keys.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/dll_import_export.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/dll_import_export.hpp
  sdk/storage/azure-storage-blobs/test/ut/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/storage_timeout_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/dll_import_export.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/shared_key_policy.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_per_retry_policy.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_service_version_policy.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_switch_to_secondary_policy.hpp
  sdk/storage/azure-storage-common/src/storage_per_retry_policy.cpp
  sdk/storage/azure-storage-common/src/storage_switch_to_secondary_policy.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/dll_import_export.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/dll_import_export.hpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
  sdk/template/azure-template/inc/azure/template.hpp
  sdk/template/azure-template/inc/azure/template/dll_import_export.hpp
Labels: Azure.Core, Docs

#2290 Removing `int` from storage public interface
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
Labels: Client, Storage

#2282 Remove Azure::Core::Diagnostics::Logger::Listener typedef
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/diagnostics/logger.hpp
  sdk/core/azure-core/src/environment_log_level_listener.cpp
  sdk/core/azure-core/src/logger.cpp
  sdk/core/azure-core/src/private/environment_log_level_listener.hpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
Labels: Azure.Core

#2276 Explore removing use of `int` within header files to align with guidelines.
  sdk/core/azure-core/inc/azure/core/uuid.hpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/src/private/curl_connection.hpp
  sdk/core/azure-core/src/private/package_version.hpp
  sdk/core/azure-core/test/ut/operation_test.hpp
  sdk/identity/azure-identity/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-common/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/package_version.hpp
Labels: Azure.Core, auto-merge

#2291 copy constructor for RequestFailedException
  sdk/core/azure-core/inc/azure/core/exception.hpp
  sdk/core/azure-core/inc/azure/core/http/raw_response.hpp
Labels: Azure.Core, Client

#2308 Sync eng/common directory with azure-sdk-tools for PR 1585
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: Central-EngSys, EngSys

#2285 Use size_t for buffers representing data in memory rather than int64_t.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/win_http_transport.hpp
  sdk/core/azure-core/inc/azure/core/internal/io/null_body_stream.hpp
  sdk/core/azure-core/inc/azure/core/io/body_stream.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/src/http/curl/curl_session_private.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/core/azure-core/src/io/body_stream.cpp
  sdk/core/azure-core/src/io/random_access_file_body_stream.cpp
  sdk/core/azure-core/src/private/curl_connection.hpp
  sdk/core/azure-core/src/private/curl_session.hpp
  sdk/core/azure-core/test/ut/bodystream.cpp
  sdk/core/azure-core/test/ut/curl_session.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/cryptography_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/reliable_stream.hpp
  sdk/storage/azure-storage-common/src/reliable_stream.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
Labels: Azure.Core

#2311 Vcpkg fixes
  sdk/core/azure-core/src/io/body_stream.cpp
  sdk/storage/azure-storage-files-datalake/vcpkg/vcpkg.json
Labels: Azure.Core, EngSys, blocking-release

#2189 Add argument validation to public APIs. Throw or Precondition/assert failure?
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/cryptography/hash.hpp
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/inc/azure/core/io/body_stream.hpp
  sdk/core/azure-core/src/io/body_stream.cpp
  sdk/core/azure-core/test/ut/bodystream.cpp
  sdk/core/azure-core/test/ut/md5.cpp
Labels: Azure.Core

#2317 Incorrect use of hashing Final/Append APIs now have an assert failure.
  sdk/storage/azure-storage-common/test/crypt_functions_test.cpp
Labels: Storage, auto-merge

#2309 Update changelog for the upcoming beta release.
  sdk/core/azure-core/CHANGELOG.md
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-common/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
Labels: Azure.Core, Docs, auto-merge

#2318 Changed type of CommitBlockCount to int32_t
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
Labels: Client, Storage, blocking-release

#2327 Docs: 'base 64' => Base64
  sdk/core/azure-core/inc/azure/core/base64.hpp
Labels: Azure.Core, Docs

#2326 Storage beta 11
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Labels: Client, Storage, blocking-release

#2335 Sync eng/common directory with azure-sdk-tools for PR 1615
  eng/common/pipelines/templates/jobs/docindex.yml
  eng/pipelines/docindex.yml
Labels: Central-EngSys, EngSys

#2330 Narrow $packagePattern to exclude vcpkg.json files which are now part of the publishing process
  eng/scripts/Language-Settings.ps1
Labels: Central-EngSys

#2312 Add explicit assignment and desctructor for RawResponse and RequestFailedException
  sdk/core/azure-core/inc/azure/core/exception.hpp
  sdk/core/azure-core/inc/azure/core/http/raw_response.hpp
Labels: Azure.Core, Client

#2320 use size_t in storage sdk
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/block_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/sample/blob_getting_started.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/concurrent_transfer.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/crypt.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/file_io.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/xml_wrapper.hpp
  sdk/storage/azure-storage-common/src/crypt.cpp
  sdk/storage/azure-storage-common/src/file_io.cpp
  sdk/storage/azure-storage-common/src/xml_wrapper.cpp
  sdk/storage/azure-storage-common/test/crypt_functions_test.cpp
  sdk/storage/azure-storage-common/test/test_base.cpp
  sdk/storage/azure-storage-common/test/test_base.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/sample/file_share_getting_started.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_sas_test.cpp
Labels: Client, Storage

#2338 Change ContentLength to FileSize.
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
Labels: Storage, auto-merge

#2339 Fix changelog
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Labels: Storage, auto-merge

#2324 Increment version for keyvault releases
  sdk/keyvault/azure-security-keyvault-common/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-common/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/src/private/package_version.hpp
Labels: Azure.Core, KeyVault

#2323 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Labels: Azure.Identity, EngSys

#2322 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core, EngSys

#2247 update storage download perf test - Take connection string from env
  sdk/storage/azure-storage-blobs/test/perf/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/perf/inc/azure/storage/blobs/test/blob_base_test.hpp
  sdk/storage/azure-storage-blobs/test/perf/inc/azure/storage/blobs/test/download_blob.hpp
Labels: Client, Storage, tenet-performance

#2342 Add Storage Samples
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-blobs/sample/blob_list_operation.cpp
  sdk/storage/azure-storage-blobs/sample/blob_sas.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_credential.hpp
  sdk/storage/azure-storage-common/sample/main.cpp
  sdk/storage/azure-storage-common/sample/samples_common.hpp
  sdk/storage/azure-storage-common/src/storage_credential.cpp
Labels: Client, Storage

#2344 Sync eng/common directory with azure-sdk-tools for PR 1627
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: Central-EngSys, EngSys

#2332 Doc changes for HTTP and removing the "More" link
  cmake-modules/AzureDoxygen.cmake
  sdk/core/azure-core/inc/azure/core/context.hpp
  sdk/core/azure-core/inc/azure/core/credentials/credentials.hpp
  sdk/core/azure-core/inc/azure/core/diagnostics/logger.hpp
  sdk/core/azure-core/inc/azure/core/dll_import_export.hpp
  sdk/core/azure-core/inc/azure/core/etag.hpp
  sdk/core/azure-core/inc/azure/core/exception.hpp
  sdk/core/azure-core/inc/azure/core/http/curl_transport.hpp
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/inc/azure/core/http/http_status_code.hpp
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/core/azure-core/inc/azure/core/http/raw_response.hpp
  sdk/core/azure-core/inc/azure/core/http/transport.hpp
  sdk/core/azure-core/inc/azure/core/http/win_http_transport.hpp
  sdk/core/azure-core/inc/azure/core/internal/client_options.hpp
  sdk/core/azure-core/inc/azure/core/internal/json/json_serializable.hpp
  sdk/core/azure-core/inc/azure/core/internal/strings.hpp
  sdk/core/azure-core/inc/azure/core/io/body_stream.hpp
  sdk/core/azure-core/inc/azure/core/operation_status.hpp
  sdk/core/azure-core/inc/azure/core/url.hpp
  sdk/core/azure-core/inc/azure/core/uuid.hpp
  sdk/core/azure-core/test/fault-injector/fault_injector_test.cpp
  sdk/core/azure-core/test/perf/inc/azure/core/test/nullable_test.hpp
Labels: Client, Docs

#2345 Sync eng/common directory with azure-sdk-tools for PR 1629
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: Central-EngSys, EngSys

#2347 use EXPECT_EQ(x, y) instead of EXPECT_TRUE or EXPECT_FALSE
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
Labels: Client, Storage, test enhancement

#2353 Sync eng/common directory with azure-sdk-tools for PR 1635
  eng/common/scripts/Update-DocsMsPackages.ps1
  eng/common/scripts/common.ps1
Labels: Central-EngSys, EngSys

#2352 disable warning from Functional header
  sdk/core/azure-core/CMakeLists.txt
Labels: Azure.Core, Client

#2358 fix a crash issue when copying a RequestFailedException with null RawResponse
  sdk/core/azure-core/inc/azure/core/exception.hpp
Labels: Azure.Core, Client

#2363 Sync eng/common directory with azure-sdk-tools for PR 1606
  eng/common/TestResources/AzurePowerShellV4/Utility.ps1
  eng/common/TestResources/Import-AzModules.ps1
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/setup-environments.yml
  eng/common/pipelines/templates/steps/cache-ps-modules.yml
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
  eng/common/scripts/Import-AzModules.ps1
Labels: Central-EngSys, EngSys

#2343 Use wide-char version of CreateFile API
  sdk/storage/azure-storage-common/src/file_io.cpp
Labels: Client, Storage

#2350 Keyvault readme update
  sdk/keyvault/README.md
  sdk/keyvault/azure-security-keyvault-common/README.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample3-get-keys/sample3_get_keys.cpp
Labels: Docs, KeyVault

#2359 Add `x-ms-request-id` to a default list of unredacted log headers
  sdk/core/azure-core/src/http/log_policy.cpp
  sdk/core/azure-core/test/ut/log_policy_test.cpp
Labels: Azure.Core

#2360 Fix `throw new`
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/base64url.hpp
Labels: KeyVault

#2364 fix blob/file read consistency issue
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
Labels: Client, Storage, blocking-release
