Repository Azure/azure-sdk-for-cpp, pull requests merged in 2021-02, with the labels that each got.

#1521 add missing properties in blob download result
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/page_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/sample/blob_getting_started.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
Labels: Client, Storage, blocking-release

#1529 Supported file tier and removed unwanted functions.
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_rest_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/test-resources.json
Labels: Client, Storage, blocking-release

#1530 PutRangeFromUrl support in file service.
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Client, Storage, blocking-release

#1520 Refinement for GetDataLakePathPropertiesResult and File::Read API.
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_constants.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_utilities.hpp
  sdk/storage/azure-storage-files-datalake/sample/datalake_getting_started.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_utilities.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
Labels: Client, Storage, blocking-release

#1532 Add BlobContainerClient::UploadBlob
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
Labels: Client, Storage, feature-request

#1533 Sync eng/common directory with azure-sdk-tools for PR 1351
  eng/common/TestResources/README.md
Labels: Central-EngSys, EngSys

#1531 Move live tests over to 1ES pools.
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Labels: Central-EngSys, EngSys

#1538 Sync eng/common directory with azure-sdk-tools for PR 1361
  eng/common/scripts/Prepare-Release.ps1
Labels: Central-EngSys, EngSys

#1562 Sync eng/common directory with azure-sdk-tools for PR 1353
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/update-docs-metadata.ps1
Labels: Central-EngSys, EngSys

#1560 release mode test for Linux with test
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/core/azure-core/src/datetime.cpp
Labels: Azure.Core, Client, EngSys

#1497 Add bypass-local-dns.yml to CI and test jobs
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Labels: Central-EngSys

#1564 Refine `DownloadBlobResult` and `DownloadBlobToResult`
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/test/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
Labels: Client, Storage

#1569 Changelog: add () after function names.
  sdk/core/azure-core/CHANGELOG.md
Labels: Docs

#1535 Update changelog for the 'retry-after' fix
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core, Docs

#1534 Follow suggestions for improving azure-core CMake files
  sdk/core/azure-core/CMakeLists.txt
Labels: Azure.Core

#1527 Add TokenRequestOptions and ClientSecretCredentialOptions
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/credentials.hpp
  sdk/core/azure-core/inc/azure/core/http/policy.hpp
  sdk/core/azure-core/src/http/bearer_token_authentication_policy.cpp
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/inc/azure/identity/client_secret_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/environment_credential.hpp
  sdk/identity/azure-identity/src/client_secret_credential.cpp
  sdk/identity/azure-identity/src/environment_credential.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
Labels: Azure.Core, Azure.Identity

#1572 changelog for release Core Beta 5 and Identity Beta 3
  sdk/core/azure-core/CHANGELOG.md
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Core, Client, Docs

#1573 Change ChangeLease return type
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_lease_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_lease_client.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_lease_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_lease_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_lease_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Client, Storage

#1578 refine list return types for blob service
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/test/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
Labels: Client, Storage

#1580 Refined returned properties for list/download API in DataLake.
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
Labels: Client, Storage, blocking-release

#1579 Refined list/download returned properties
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/sample/file_share_getting_started.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Client, Storage, blocking-release

#1581 release beta.7
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
Labels: Client, Storage

#1586 Sync eng/common directory with azure-sdk-tools for PR 1364
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Labels: Central-EngSys, EngSys

#1587 Sync eng/common directory with azure-sdk-tools for PR 1365
  eng/common/pipelines/templates/steps/cosmos-emulator.yml
Labels: Central-EngSys, EngSys

#1588 Sync eng/common directory with azure-sdk-tools for PR 1366
  eng/common/docgeneration/Generate-DocIndex.ps1
Labels: Central-EngSys, EngSys

#1593 Fix math for bearer token refresh time
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/http/bearer_token_authentication_policy.cpp
Labels: Azure.Core, Azure.Identity, customer-reported

#1594 Added release date for File's changelog
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Labels: Client, Storage, blocking-release

#1595 Added release date for File's changelog
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Labels: Client, Storage, auto-merge, blocking-release

#1592 Add conditional request support
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core.hpp
  sdk/core/azure-core/inc/azure/core/match_conditions.hpp
  sdk/core/azure-core/inc/azure/core/request_conditions.hpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/match_conditions.cpp
  sdk/core/azure-core/test/ut/request_conditions.cpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
Labels: Azure.Core

#1582 Increment version for storage releases
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/version.hpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/inc/azure/storage/common/version.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/version.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/version.hpp
Labels: Storage, auto-merge

#1528 [Perf Framework]
  CMakeLists.txt
  CMakeSettings.json
  sdk/core/CMakeLists.txt
  sdk/core/performance-stress/CMakeLists.txt
  sdk/core/performance-stress/NOTICE.txt
  sdk/core/performance-stress/README.md
  sdk/core/performance-stress/inc/azure/performance-stress/argagg.hpp
  sdk/core/performance-stress/inc/azure/performance-stress/base_test.hpp
  sdk/core/performance-stress/inc/azure/performance-stress/dynamic_test_options.hpp
  sdk/core/performance-stress/inc/azure/performance-stress/options.hpp
  sdk/core/performance-stress/inc/azure/performance-stress/program.hpp
  sdk/core/performance-stress/inc/azure/performance-stress/test.hpp
  sdk/core/performance-stress/inc/azure/performance-stress/test_options.hpp
  sdk/core/performance-stress/inc/perf_stress_options.hpp
  sdk/core/performance-stress/inc/perf_stress_test.hpp
  sdk/core/performance-stress/inc/perf_stress_test_base.hpp
  sdk/core/performance-stress/src/arg_parser.cpp
  sdk/core/performance-stress/src/options.cpp
  sdk/core/performance-stress/src/placeholder.cpp
  sdk/core/performance-stress/src/program.cpp
  sdk/core/performance-stress/test/CMakeLists.txt
  sdk/core/performance-stress/test/inc/azure/performance-stress/test/curl_http_client_get_test.hpp
  sdk/core/performance-stress/test/inc/azure/performance-stress/test/delay_test.hpp
  sdk/core/performance-stress/test/inc/azure/performance-stress/test/exception_test.hpp
  sdk/core/performance-stress/test/inc/azure/performance-stress/test/extended_options_test.hpp
  sdk/core/performance-stress/test/inc/azure/performance-stress/test/http_client_get_test.hpp
  sdk/core/performance-stress/test/inc/azure/performance-stress/test/no_op_test.hpp
  sdk/core/performance-stress/test/inc/azure/performance-stress/test/win_http_client_get_test.hpp
  sdk/core/performance-stress/test/src/main.cpp
  sdk/core/performance-stress/test/src/no_op_test.cpp
Labels: Azure.Core, Client

#1605 Add succeeded() condition to dependent jobs
  eng/pipelines/templates/stages/archetype-cpp-release.yml
Labels: EngSys, auto-merge

#1602 Add context tests for ThrowIfCancelled and ApplicationContext
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/context.hpp
  sdk/core/azure-core/test/ut/context.cpp
Labels: Azure.Core, test enhancement

#1610 Add WinHttp cmake option to the contributing guide
  CONTRIBUTING.md
Labels: Docs, auto-merge

#1613 Tests: DateTime: add TimeRoundtrip test
  sdk/core/azure-core/test/ut/datetime.cpp
Labels: Azure.Core, test enhancement

#1614 Use Url::Encode() instead of the own implementation
  sdk/identity/azure-identity/src/client_secret_credential.cpp
Labels: Azure.Identity, auto-merge

#1516 Use exception from keyvault
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/keyvault_exception.hpp
Labels: Client, KeyVault

#1612 Remove vcpkg integration snippet duplication for the root cmakefile
  CMakeLists.txt
Labels: EngSys

#1623 Many changes to File service and DataLake service
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_lease_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/src/blob_lease_client.cpp
  sdk/storage/azure-storage-blobs/test/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_lease_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_service_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_directory_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_attribute.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_attributes.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_lease_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_service_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_attributes.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_attributes_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Client, Storage

#1628 Sync eng/common directory with azure-sdk-tools for PR 1376
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/SemVer.ps1
Labels: Central-EngSys, EngSys

#1625 Add simplified header test for Identity
  CMakeLists.txt
  sdk/identity/azure-identity/test/CMakeLists.txt
  sdk/identity/azure-identity/test/main.cpp
  sdk/identity/azure-identity/test/simplified_header.cpp
Labels: Azure.Identity, test enhancement

#1630 skip not wished files from docs
  cmake-modules/AzureDoxygen.cmake
Labels: Docs, auto-merge

#1617 Add MD5 hashing APIs to Azure::Core available from azure/core/md5.hpp.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core.hpp
  sdk/core/azure-core/inc/azure/core/md5.hpp
  sdk/core/azure-core/src/md5.cpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/md5.cpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
Labels: Azure.Core

#1611 Use the port defined in the URL when setting up the transport adapter usage.
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/core/azure-core/test/ut/url.cpp
Labels: Azure.Core

#1633 fix docs
  cmake-modules/AzureDoxygen.cmake
  sdk/core/azure-core/inc/azure/core/context.hpp
  sdk/core/azure-core/inc/azure/core/http/policy.hpp
  sdk/core/azure-core/inc/azure/core/http/winhttp/win_http_client.hpp
  sdk/core/azure-core/inc/azure/core/internal/json_serializable.hpp
  sdk/core/azure-core/inc/azure/core/internal/strings.hpp
Labels: Azure.Core, Client, Docs

#1632 Add a Hash base class to Azure::Core and redesign Md5 to derive from it.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core.hpp
  sdk/core/azure-core/inc/azure/core/cryptography/hash.hpp
  sdk/core/azure-core/inc/azure/core/md5.hpp
  sdk/core/azure-core/src/cryptography/md5.cpp
  sdk/core/azure-core/test/ut/md5.cpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
Labels: Azure.Core

#1629 Refined File service.
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_directory_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_service_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_lease_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.hpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.hpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_sas_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_service_client_test.cpp
Labels: Client, Storage, blocking-release

#1627 Refined DataLake APIs
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
Labels: Client, Storage, blocking-release

#1618 Remove Storage::Md5 and replace it with the one from Azure::Core.
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/inc/azure/storage/common/crypt.hpp
  sdk/storage/azure-storage-common/src/crypt.cpp
  sdk/storage/azure-storage-common/test/crypt_functions_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Storage

#1568 Simplify logging
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/policy.hpp
  sdk/core/azure-core/inc/azure/core/internal/log.hpp
  sdk/core/azure-core/inc/azure/core/logging/logging.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/logging_policy.cpp
  sdk/core/azure-core/src/http/policy.cpp
  sdk/core/azure-core/src/http/retry_policy.cpp
  sdk/core/azure-core/src/logging/logging.cpp
  sdk/core/azure-core/test/ut/logging.cpp
  sdk/core/azure-core/test/ut/pipeline.cpp
  sdk/keyvault/azure-security-keyvault-keys/sample/get-key/main.cpp
Labels: Azure.Core, auto-merge

#1635 changelog for Core preview 6
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core, Client, Docs

#1645 Add details to the Azure Core beta 6 changelog
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core, Docs, auto-merge

#1649 Publishing automation for vcpkg x-add-version
  eng/pipelines/templates/stages/archetype-cpp-release.yml
  sdk/template/azure-template/vcpkg/CONTROL
Labels: Central-EngSys

#1646 Renamed `Crc64` to `Crc64Hash` and change it to derive from the `Azure::Core::Cryptography::Hash` class.
  sdk/storage/azure-storage-blobs/test/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/page_blob_client_test.cpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/inc/azure/storage/common/crypt.hpp
  sdk/storage/azure-storage-common/src/crypt.cpp
  sdk/storage/azure-storage-common/test/crypt_functions_test.cpp
Labels: Storage

#1658 move context out of options bag
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/append_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_lease_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/block_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/page_blob_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_lease_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_lease_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_service_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_directory_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_lease_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_service_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_lease_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
Labels: Client, Storage

#1660 Update changelog date
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Labels: Client, Storage

#1659 Add Operation<T>, OperationStatus, Exception, and Platform headers to the simplified core header.
  sdk/core/azure-core/inc/azure/core.hpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
Labels: Azure.Core

#1644 Split the inheirtance on the RequestConditions
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core.hpp
  sdk/core/azure-core/inc/azure/core/modified_conditions.hpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/modified_conditions.cpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
Labels: Azure.Core

#1647 Address implementation level feedback for Md5Hash and delete ctors.
  sdk/core/azure-core/inc/azure/core/cryptography/hash.hpp
  sdk/storage/azure-storage-common/test/crypt_functions_test.cpp
Labels: Azure.Core

#1666 Sync eng/common directory with azure-sdk-tools for PR 1393
  eng/common/docgeneration/Generate-DocIndex.ps1
Labels: Central-EngSys, EngSys

#1653 Remove the TransportKind enum from the SDK since it is not used.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/http.hpp
Labels: Azure.Core

#1663 update context paramenter for keyvault APIs
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_create_options.hpp
Labels: Client, KeyVault

#1661 Make keyvault to expose telemetry options
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/mocked_transport_adapter_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/telemetry_header_test.cpp
Labels: Client, KeyVault, auto-merge

#1667 Sync eng/common directory with azure-sdk-tools for PR 1303
  eng/common/scripts/Collect-ChangeLogs.ps1
Labels: Central-EngSys, EngSys

#1642 Moving HttpPipeline to Internal layer
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core.hpp
  sdk/core/azure-core/inc/azure/core/internal/http/pipeline.hpp
  sdk/core/azure-core/test/ut/curl_options.cpp
  sdk/core/azure-core/test/ut/pipeline.cpp
  sdk/core/azure-core/test/ut/policy.cpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
  sdk/core/azure-core/test/ut/telemetry_policy.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.hpp
  sdk/identity/azure-identity/src/client_secret_credential.cpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/keyvault_pipeline.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_service_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_directory_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_service_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
Labels: auto-merge

#1669 Sync eng/common directory with azure-sdk-tools for PR 1358
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Labels: Central-EngSys, EngSys

#1670 Sync eng/common directory with azure-sdk-tools for PR 1386
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: Central-EngSys, EngSys

#1672 Sync eng/common directory with azure-sdk-tools for PR 1307
  eng/common/scripts/Update-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#1674 Sync eng/common directory with azure-sdk-tools for PR 1401
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Labels: Central-EngSys, EngSys

#1681 Sync eng/common directory with azure-sdk-tools for PR 1405
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
Labels: Central-EngSys, EngSys

#1677 Update GetString to ToString
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/datetime.hpp
  sdk/core/azure-core/inc/azure/core/http/policy.hpp
  sdk/core/azure-core/inc/azure/core/uuid.hpp
  sdk/core/azure-core/src/datetime.cpp
  sdk/core/azure-core/test/ut/datetime.cpp
  sdk/core/azure-core/test/ut/modified_conditions.cpp
  sdk/core/azure-core/test/ut/uuid.cpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_lease_client.cpp
  sdk/storage/azure-storage-blobs/test/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-common/src/storage_common.cpp
  sdk/storage/azure-storage-common/src/storage_per_retry_policy.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-shares/src/share_lease_client.cpp
Labels: Azure.Core, Client

#1683 Sync eng/common directory with azure-sdk-tools for PR 1408
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/README.md
Labels: Central-EngSys, EngSys

#1634 Sync eng/common directory with azure-sdk-tools for PR 1371
  eng/common/pipelines/templates/steps/verify-agent-os.yml
  eng/common/scripts/Verify-AgentOS.ps1
Labels: Central-EngSys, EngSys

#1624 Re-enable agent OS verification
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
Labels: Central-EngSys, EngSys

#1686 Sync eng/common directory with azure-sdk-tools for PR 1374
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Labels: Central-EngSys, EngSys

#1678 update noRevoke
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/curl/curl.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/test/ut/curl_options.cpp
Labels: Azure.Core, Client

#1675 Keyvault adding delete key
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/keyvault/azure-security-keyvault-common/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/keyvault_pipeline.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/unix_time_helper.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/keyvault_constants.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/keyvault_exception.hpp
  sdk/keyvault/azure-security-keyvault-common/src/keyvault_exception.cpp
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/key_vault.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/delete_key_operation.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/deleted_key.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_constants.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_vault_key.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/delete_key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/deleted_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_vault_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/key_client_test_live.cpp
Labels: Client, KeyVault

#1695 Sync eng/common directory with azure-sdk-tools for PR 1396
  eng/common/docgeneration/templates/matthews/styles/main.js
Labels: Central-EngSys, EngSys

#1655 Performance projects for services
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/test/performance/CMakeLists.txt
  sdk/core/azure-core/test/performance/inc/azure/core/test/performance/nullable.hpp
  sdk/core/azure-core/test/performance/src/main.cpp
  sdk/core/performance-stress/CMakeLists.txt
  sdk/core/performance-stress/inc/azure/performance-stress/program.hpp
  sdk/core/performance-stress/inc/azure/performance-stress/test_metadata.hpp
  sdk/core/performance-stress/inc/azure/performance-stress/test_options.hpp
  sdk/core/performance-stress/inc/azure/performance_framework.hpp
  sdk/core/performance-stress/src/program.cpp
  sdk/core/performance-stress/test/inc/azure/performance-stress/test/curl_http_client_get_test.hpp
  sdk/core/performance-stress/test/inc/azure/performance-stress/test/delay_test.hpp
  sdk/core/performance-stress/test/inc/azure/performance-stress/test/exception_test.hpp
  sdk/core/performance-stress/test/inc/azure/performance-stress/test/extended_options_test.hpp
  sdk/core/performance-stress/test/inc/azure/performance-stress/test/http_client_get_test.hpp
  sdk/core/performance-stress/test/inc/azure/performance-stress/test/no_op_test.hpp
  sdk/core/performance-stress/test/inc/azure/performance-stress/test/win_http_client_get_test.hpp
  sdk/core/performance-stress/test/src/main.cpp
  sdk/identity/azure-identity/test/CMakeLists.txt
  sdk/identity/azure-identity/test/performance/CMakeLists.txt
  sdk/identity/azure-identity/test/performance/inc/azure/identity/test/performance/secret_credential.hpp
  sdk/identity/azure-identity/test/performance/src/main.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/performance/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/performance/inc/azure/keyvault/keys/test/performance/get_key.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/performance/src/main.cpp
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/performance/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/performance/inc/azure/storage/blobs/test/performance/blob_base_test.hpp
  sdk/storage/azure-storage-blobs/test/performance/inc/azure/storage/blobs/test/performance/download_blob.hpp
  sdk/storage/azure-storage-blobs/test/performance/src/main.cpp
Labels: tenet-performance

#1701 remove unused stuff
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_responses.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/test/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_common.hpp
  sdk/storage/azure-storage-common/src/storage_common.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_lease_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Client, Storage

#1688 Sync eng/common directory with azure-sdk-tools for PR 1415
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Labels: Central-EngSys, EngSys

#1698 Sync eng/common directory with azure-sdk-tools for PR 1425
  eng/common/scripts/get-markdown-files-from-changed-files.ps1
Labels: Central-EngSys, EngSys

#1705 Sync eng/common directory with azure-sdk-tools for PR 1429
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/README.md
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/samples/matrix-job-sample.yml
  eng/common/scripts/job-matrix/samples/matrix-test.yml
  eng/common/scripts/job-matrix/samples/matrix.json
  eng/common/scripts/job-matrix/tests/job-matrix-functions.filter.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
  eng/common/scripts/job-matrix/tests/test-import-matrix.json
Labels: Central-EngSys, EngSys

#1710 Sync eng/common directory with azure-sdk-tools for PR 1436
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: Central-EngSys, EngSys

#1703 Refactor pipeline building logic, add support for customized application id and API version
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_common.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_utilities.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_utilities.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
Labels: Client, Storage

#1711 Exceptions should be caught as const.
  samples/integration/cmake-fetch-content/src/main.cpp
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/internal/hkeyholder.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/retry_policy.cpp
  sdk/core/azure-core/src/http/telemetry_policy.cpp
  sdk/core/azure-core/test/ut/policy.cpp
Labels: Azure.Core

#1712 Make sure to rewind the body stream at the start of each request retry attempt.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/http/request.cpp
  sdk/core/azure-core/src/http/retry_policy.cpp
  sdk/core/azure-core/test/ut/http.cpp
Labels: Azure.Core

#1713 Throw a logic error when calling Rewind on unsupported BodyStreams and update the exception message to be actionable.
  sdk/core/azure-core/inc/azure/core/http/body_stream.hpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/bodystream.cpp
Labels: Azure.Core

#1709 Sync eng/common directory with azure-sdk-tools for PR 1428
  eng/common/pipelines/templates/steps/verify-agent-os.yml
  eng/common/scripts/Verify-AgentOS.ps1
Labels: Central-EngSys, EngSys

#1700 Adding missing documentation for key vault keys
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/key_vault.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/delete_key_operation.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/deleted_key.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/details/key_constants.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/details/key_request_parameters.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/json_web_key.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_create_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_operation.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_properties.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_release_policy.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_type.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_vault_key.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/delete_key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/deleted_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_request_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_type.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_vault_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/key_client_test_live.cpp
Labels: Client, KeyVault

#1720 Sync eng/common directory with azure-sdk-tools for PR 1421
  eng/common/pipelines/templates/steps/check-spelling.yml
  eng/common/scripts/check-spelling-in-changed-files.ps1
Labels: Central-EngSys, EngSys

#1715 Get static/dynamic CRT link options in sync
  CMakeLists.txt
  CONTRIBUTING.md
  README.md
Labels: EngSys

#1719 Defend public headers against inclusion of Windows.h
  sdk/core/azure-core/inc/azure/core/context.hpp
  sdk/core/azure-core/inc/azure/core/http/body_stream.hpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/macro_guard.cpp
  sdk/identity/azure-identity/test/ut/CMakeLists.txt
  sdk/identity/azure-identity/test/ut/macro_guard.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/ut/macro_guard.cpp
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/ut/macro_guard.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/concurrent_transfer.hpp
  sdk/storage/azure-storage-files-datalake/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/test/macro_guard.cpp
  sdk/storage/azure-storage-files-shares/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/test/macro_guard.cpp
  sdk/template/azure-template/test/CMakeLists.txt
  sdk/template/azure-template/test/ut/macro_guard.cpp
Labels: Azure.Core, Storage

#1724 Add -NoNewLine to portfile output
  eng/scripts/Initialize-VcpkgRelease.ps1
Labels: Central-EngSys, EngSys, bug

#1723 Update the root readme to include clear acquisition and installation details.
  README.md
Labels: Docs, auto-merge

#1727 Remove outdated link to the non-existing wiki from the contributing guide
  CONTRIBUTING.md
Labels: Docs

#1729 Add LRO concept section to core, along with a sample snippet to help get started.
  README.md
  sdk/core/azure-core/README.md
Labels: Azure.Core, Docs

#1741 Remove null body stream
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/http/body_stream.hpp
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/inc/azure/core/internal/http/null_body_stream.hpp
  sdk/core/azure-core/src/http/body_stream.cpp
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/test/ut/http.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
Labels: Azure.Core, Client, blocking-release

#1736 return Operation<T> for copy blob API
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/page_blob_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_responses.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
Labels: Client, Storage

#1747 return Operation<T> for copy file API
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_responses.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Client, Storage

#1748 Rename string conversion functions to `ToString()`
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_attributes.hpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_attributes.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_attributes_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Client, Storage

#1731 CaseInsensitiveMap
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/case_insensitive_map.hpp
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/inc/azure/core/http/policy.hpp
  sdk/core/azure-core/inc/azure/core/internal/strings.hpp
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/src/http/raw_response.cpp
  sdk/core/azure-core/src/http/request.cpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/case_insensitive_map.cpp
  sdk/core/azure-core/test/ut/http.cpp
  sdk/keyvault/azure-security-keyvault-common/src/keyvault_exception.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_common.hpp
Labels: Azure.Core

#1756 Fix UWP build
  sdk/core/azure-core/inc/azure/core/internal/hkeyholder.hpp
Labels: Azure.Core, blocking-release

#1757 Sync eng/common directory with azure-sdk-tools for PR 1447
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/common.ps1
  eng/common/scripts/logging.ps1
Labels: Central-EngSys, EngSys
