Repository Azure/azure-sdk-for-cpp, pull requests merged in 2021-06, with the labels that each got.

#2369 remove duplicated headers and update tests
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/src/private/curl_connection.hpp
  sdk/core/azure-core/src/private/curl_connection_pool.hpp
  sdk/core/azure-core/src/private/curl_session.hpp
  sdk/core/azure-core/test/ut/azure_libcurl_core_main_test.cpp
  sdk/core/azure-core/test/ut/curl_connection_pool_test.cpp
  sdk/core/azure-core/test/ut/curl_options_test.cpp
  sdk/core/azure-core/test/ut/curl_session_test.hpp
  sdk/core/azure-core/test/ut/curl_session_test_test.cpp
Labels: Azure.Core, Client

#2373 update variable to compile KeyVault samples
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample3-get-keys/sample3_get_keys.cpp
Labels: Client, KeyVault

#2371 remove extra const to fix PerfFw
  sdk/core/perf/inc/azure/perf/argagg.hpp
Labels: Client, tenet-performance

#2349 Sync eng/common directory with azure-sdk-tools for PR 1611
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Prepare-Release.ps1
Labels: Central-EngSys, EngSys

#2375 remove move from const
  sdk/core/azure-core/src/http/curl/curl.cpp
Labels: Azure.Core, Client

#2377 use int32_t for retry count
  sdk/storage/azure-storage-common/inc/azure/storage/common/reliable_stream.hpp
Labels: Client, Storage, blocking-release

#2385 Expand docs docs for RetryOptions
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
Labels: Azure.Core, Docs

#2384 Add sample for transactional checksum
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-blobs/sample/transactional_checksum.cpp
Labels: Client, Storage

#2383 remove IfUnmodifiedSince from SetDataLakeFileSystemMetadataOptions
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
Labels: Client, Storage, blocking-release

#2380 update storage samples
  sdk/storage/azure-storage-blobs/sample/blob_getting_started.cpp
  sdk/storage/azure-storage-files-datalake/sample/datalake_getting_started.cpp
  sdk/storage/azure-storage-files-shares/sample/file_share_getting_started.cpp
Labels: Client, Storage, blocking-release

#2381 move some headers to internal directory
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-common/inc/azure/storage/common/account_sas_builder.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/constants.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/concurrent_transfer.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/constants.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/file_io.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/reliable_stream.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/shared_key_policy.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/storage_per_retry_policy.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/storage_service_version_policy.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/storage_switch_to_secondary_policy.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/xml_wrapper.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_common.hpp
  sdk/storage/azure-storage-common/src/file_io.cpp
  sdk/storage/azure-storage-common/src/reliable_stream.cpp
  sdk/storage/azure-storage-common/src/shared_key_policy.cpp
  sdk/storage/azure-storage-common/src/storage_exception.cpp
  sdk/storage/azure-storage-common/src/storage_per_retry_policy.cpp
  sdk/storage/azure-storage-common/src/storage_switch_to_secondary_policy.cpp
  sdk/storage/azure-storage-common/src/xml_wrapper.cpp
  sdk/storage/azure-storage-common/test/test_base.hpp
  sdk/storage/azure-storage-files-datalake/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/internal/datalake_constants.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/internal/datalake_utilities.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_responses.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_utilities.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_sas_builder.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Client, Storage, blocking-release

#2382 unify message format of exception/assertion
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_lease_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_responses.cpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-common/sample/main.cpp
  sdk/storage/azure-storage-common/src/crypt.cpp
  sdk/storage/azure-storage-common/src/file_io.cpp
  sdk/storage/azure-storage-common/src/storage_credential.cpp
  sdk/storage/azure-storage-common/src/xml_wrapper.cpp
  sdk/storage/azure-storage-common/test/test_base.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_sas_builder.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_responses.cpp
  sdk/storage/azure-storage-files-shares/src/share_sas_builder.cpp
Labels: Client, Storage, blocking-release

#2389 Fix docs version dropdown
  eng/docs/api/assets/header.html
Labels: Central-EngSys

#2378 Core: Doxygen: Constructors, destructors, operators, and context parameter
  sdk/core/azure-core/inc/azure/core/base64.hpp
  sdk/core/azure-core/inc/azure/core/context.hpp
  sdk/core/azure-core/inc/azure/core/credentials/credentials.hpp
  sdk/core/azure-core/inc/azure/core/cryptography/hash.hpp
  sdk/core/azure-core/inc/azure/core/datetime.hpp
  sdk/core/azure-core/inc/azure/core/diagnostics/logger.hpp
  sdk/core/azure-core/inc/azure/core/etag.hpp
  sdk/core/azure-core/inc/azure/core/exception.hpp
  sdk/core/azure-core/inc/azure/core/http/curl_transport.hpp
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/core/azure-core/inc/azure/core/http/raw_response.hpp
  sdk/core/azure-core/inc/azure/core/http/transport.hpp
  sdk/core/azure-core/inc/azure/core/http/win_http_transport.hpp
  sdk/core/azure-core/inc/azure/core/internal/http/pipeline.hpp
  sdk/core/azure-core/inc/azure/core/io/body_stream.hpp
  sdk/core/azure-core/inc/azure/core/match_conditions.hpp
  sdk/core/azure-core/inc/azure/core/modified_conditions.hpp
  sdk/core/azure-core/inc/azure/core/nullable.hpp
  sdk/core/azure-core/inc/azure/core/operation.hpp
  sdk/core/azure-core/inc/azure/core/operation_status.hpp
  sdk/core/azure-core/inc/azure/core/paged_response.hpp
  sdk/core/azure-core/inc/azure/core/response.hpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/src/http/curl/curl_session_private.hpp
  sdk/identity/azure-identity/inc/azure/identity/client_secret_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/environment_credential.hpp
Labels: Azure.Core, Docs

#2388 Docs: link to root Getting Started section from Storage's readme
  sdk/storage/README.md
Labels: Docs, Storage

#2386 Docs: link to root Getting Started section from Core's readme
  sdk/core/azure-core/README.md
Labels: Azure.Core, Docs

#2387 Docs: link to root Getting Started section from Key Vault Keys' readme
  sdk/keyvault/azure-security-keyvault-keys/README.md
Labels: Docs, KeyVault

#2390 Doxygen PR follow-up
  sdk/core/azure-core/inc/azure/core/datetime.hpp
  sdk/core/azure-core/inc/azure/core/exception.hpp
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
Labels: Azure.Core, Docs

#2396 Sync eng/common directory with azure-sdk-tools for PR 1658
  eng/common/scripts/Delete-RemoteBranches.ps1
Labels: Central-EngSys, EngSys

#2393 Put a comment on static usage guidance
  README.md
Labels: Docs

#2400 add multithread build to macOS
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Labels: Client, EngSys

#2398 update uint64 to int64_t
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/unix_time_helper.hpp
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/details/key_request_parameters.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_create_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/deleted_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/import_key_options.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_request_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_vault_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/list_keys_single_page_result.cpp
Labels: Client, KeyVault

#2394 Add a section to help users understand key SDK and core concepts with samples.
  README.md
Labels: Azure.Core, Docs

#2397 Identity: Switch to release version, update changelog (no changes since Beta)
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Labels: Azure.Identity, blocking-release

#2391 Update Azure Core Changelog for the upcoming GA release.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core, Docs

#2379 Fix potential overflow of casting
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-common/src/crypt.cpp
  sdk/storage/azure-storage-common/src/file_io.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
Labels: Client, Storage, blocking-release

#2405 Update keyvault internal private header location
  sdk/keyvault/azure-security-keyvault-common/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/keyvault_exception.hpp
  sdk/keyvault/azure-security-keyvault-common/src/keyvault_exception.cpp
  sdk/keyvault/azure-security-keyvault-common/src/keyvault_pipeline.cpp
  sdk/keyvault/azure-security-keyvault-common/src/private/keyvault_constants.hpp
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/cryptography/cryptography_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/internal/cryptography/cryptography_provider.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/internal/cryptography/local_cryptography_provider.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/internal/cryptography/local_cryptography_provider_factory.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/internal/cryptography/remote_cryptography_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/internal/cryptography/rsa_cryptography_provider.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/cryptography_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/decrypt_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/decrypt_result.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/encrypt_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/encrypt_result.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/encryption_algorithm.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/key_sign_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/key_verify_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/key_wrap_algorithm.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/key_wrap_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/remote_cryptography_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/rsa_cryptography_provider.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/sign_result.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/signature_algorithm.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/unwrap_result.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/verify_result.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/wrap_result.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/delete_key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/deleted_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/import_key_options.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/json_web_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_backup.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_curve_name.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_request_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_type.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_vault_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/list_keys_single_page_result.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/cryptography_serializers.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_backup.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_constants.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_request_parameters.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_serializers.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_sign_parameters.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_verify_parameters.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_wrap_parameters.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/recover_deleted_key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_backup_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_delete_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_get_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_import_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_update_test_live.cpp
Labels: Client, KeyVault

#2399 update uint32_t to int32_t
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/single_page.hpp
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
Labels: Client, KeyVault, bug

#2419 use ptrdiff_t instead of std::ptrdiff_t
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Client, Storage, blocking-release

#2420 move some datalake headers to private
  sdk/storage/azure-storage-common/test/test_base.hpp
  sdk/storage/azure-storage-files-datalake/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_responses.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_utilities.cpp
  sdk/storage/azure-storage-files-datalake/src/private/datalake_constants.hpp
  sdk/storage/azure-storage-files-datalake/src/private/datalake_utilities.hpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
Labels: Client, Storage, blocking-release

#2421 use precondition instead of runtime exception
  sdk/storage/azure-storage-common/src/crypt.cpp
Labels: Client, Storage, blocking-release

#2406 update version and changelog for GA release
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
Labels: Client, Storage, blocking-release

#2423 update storage changelog
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Labels: Client, Storage, blocking-release

#2429 Sync eng/common directory with azure-sdk-tools for PR 1633
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: Central-EngSys, EngSys

#2430 Fix keyvault changelog nit
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
Labels: Docs, KeyVault, auto-merge

#2424 update changelog for Key Vault Keys beta3
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
Labels: Client, KeyVault

#2432 missing change for common
  sdk/keyvault/azure-security-keyvault-common/CHANGELOG.md
Labels: Client, KeyVault

#2435 remove extra new line
  sdk/storage/azure-storage-files-datalake/CMakeLists.txt
Labels: Client, Storage

#2355 We should NOT deal with any network connections while holding mutex
  sdk/core/azure-core/src/http/curl/curl.cpp
Labels: Azure.Core, Client

#2409 Fix small "Use after free" bug
  sdk/core/azure-core/src/base64.cpp
Labels: Azure.Core, Client, bug, customer-reported

#2428 fix memory leak in xml parser
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/xml_wrapper.hpp
  sdk/storage/azure-storage-common/src/storage_exception.cpp
  sdk/storage/azure-storage-common/src/xml_wrapper.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
Labels: Client, Storage

#2415 Consolidate the use of std::size_t and always use size_t instead, since it is a "primitive" type.
  samples/integration/vcpkg-storage/src/main.cpp
  sdk/core/azure-core/inc/azure/core/cryptography/hash.hpp
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/core/azure-core/src/base64.cpp
  sdk/core/azure-core/src/cryptography/md5.cpp
  sdk/core/azure-core/src/http/url.cpp
  sdk/core/azure-core/test/ut/base64_test.cpp
  sdk/core/azure-core/test/ut/md5_test.cpp
  sdk/core/perf/inc/azure/perf/argagg.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/sha.hpp
  sdk/keyvault/azure-security-keyvault-common/src/sha.cpp
Labels: Azure.Core

#2443 Sync eng/common directory with azure-sdk-tools for PR 1685
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Update-ChangeLog.ps1
  eng/common/scripts/Verify-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#2441 Fix memory leak in Base64Encode
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/base64.cpp
Labels: Azure.Core, Client

#2442 Changelog for #2428
  sdk/storage/azure-storage-common/CHANGELOG.md
Labels: Client, Storage

#2376 use size_t for buffers in libcurl internal impl
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_pool_private.hpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/src/http/curl/curl_session_private.hpp
  sdk/core/azure-core/test/fault-injector/fault_injector_test.cpp
  sdk/core/azure-core/test/ut/curl_session_test_test.cpp
Labels: Azure.Core, Client

#2446 CI builds Perf test
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
Labels: Client, EngSys, test enhancement

#2453 Sync eng/common directory with azure-sdk-tools for PR 1688
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: Central-EngSys, EngSys

#2463 Sync eng/common directory with azure-sdk-tools for PR 1711
  eng/common/pipelines/templates/steps/set-default-branch.yml
  eng/common/scripts/update-docs-metadata.ps1
Labels: Central-EngSys, EngSys

#2450 Key Vault Keys crypto samples
  sdk/keyvault/azure-security-keyvault-keys/samples/sample4_encrypt_decrypt.md
  sdk/keyvault/azure-security-keyvault-keys/samples/sample5_sign_verify.md
  sdk/keyvault/azure-security-keyvault-keys/test/samples/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample4-encrypt-decrypt/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample4-encrypt-decrypt/sample4_encrypt_decrypt.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample5-sign-verify/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample5-sign-verify/sample5_sign_verify.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample6-wrap-unwrap/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample6-wrap-unwrap/sample6_wrap_unwrap.cpp
Labels: Client, KeyVault

#2465 updates from review
  sdk/core/perf/src/random_stream.cpp
  sdk/core/perf/test/src/random_stream_test.cpp
Labels: Client, KeyVault

#2467 Sync eng/common directory with azure-sdk-tools for PR 1716
  eng/common/README.md
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/pipelines/templates/steps/check-spelling.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-DocsMsPackages.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: Central-EngSys, EngSys

#2468 Sync eng/common directory with azure-sdk-tools for PR 1719
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: Central-EngSys, EngSys

#2454 Add Unit Tests for EnvironmentLogLevelListener
  .gitignore
  sdk/core/azure-core/src/environment_log_level_listener.cpp
  sdk/core/azure-core/src/private/environment_log_level_listener.hpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/environmentLogLevelListener_test.cpp
Labels: Azure.Core, test enhancement

#2253 Use TCP fast open and false start to reduce RTT from 3 to 1, when using WinHttp on latest Windows OS.
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Labels: Azure.Core, tenet-performance

#2451 storage migration guide
  sdk/storage/MigrationGuide.md
Labels: Client, Docs, Storage

#2472 update telemetry key for keyvault keys
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
Labels: Client, KeyVault

#2471 Fix Main - ignore warning 6101
  eng/pipelines/templates/jobs/archetype-sdk-tests.yml
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/perf/test/CMakeLists.txt
  sdk/core/perf/test/src/random_stream_test.cpp
Labels: Azure.Core, Client, KeyVault

#2473 Sync eng/common directory with azure-sdk-tools for PR 1729
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Labels: Central-EngSys, EngSys

#2475 Sync eng/common directory with azure-sdk-tools for PR 1736
  eng/common/pipelines/templates/steps/bypass-local-dns.yml
Labels: Central-EngSys, EngSys

#2492 Sync eng/common directory with azure-sdk-tools for PR 1739
  eng/common/scripts/Verify-Links.ps1
  eng/common/scripts/update-docs-metadata.ps1
Labels: Central-EngSys, EngSys

#2494 Add George as reviewer
  .github/CODEOWNERS
Labels: Client, EngSys

#2495 Keyvault unit tests for non standard key sizes.
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_cryptographic_client_test_live.cpp
Labels: KeyVault, test enhancement

#2511 Sync eng/common directory with azure-sdk-tools for PR 1759
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: Central-EngSys, EngSys

#2509 Sync eng/common directory with azure-sdk-tools for PR 1725
  eng/common/pipelines/templates/steps/enable-long-path-support.yml
  eng/common/pipelines/templates/steps/set-daily-docs-branch-name.yml
  eng/common/pipelines/templates/steps/set-default-branch.yml
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/Save-Package-Properties.ps1
  eng/common/scripts/Update-DocsMsMetadata.ps1
  eng/common/scripts/Update-DocsMsPackages.ps1
  eng/common/scripts/common.ps1
Labels: Central-EngSys, EngSys

#2457 Add dependency on LiveTest to release
  eng/pipelines/templates/stages/archetype-cpp-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
Labels: Central-EngSys

#2514 Sync eng/common directory with azure-sdk-tools for PR 1763
  eng/common/scripts/Package-Properties.ps1
Labels: Central-EngSys, EngSys

#2519 Credit community contributors in changelogs
  sdk/core/azure-core/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
Labels: Docs

#2521 Readme section on logging
  sdk/core/azure-core/README.md
Labels: Docs
