Repository Azure/azure-sdk-for-cpp, pull requests merged in 2021-03, with the labels that each got.

#1733 Moved `BodyStream` and its derived types from `Azure::Core::Http` namespace to `Azure::IO`, and update headers.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core.hpp
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/inc/azure/core/http/winhttp/win_http_client.hpp
  sdk/core/azure-core/inc/azure/core/internal/null_body_stream.hpp
  sdk/core/azure-core/inc/azure/core/io/body_stream.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_session_private.hpp
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/src/http/raw_response.cpp
  sdk/core/azure-core/src/http/transport_policy.cpp
  sdk/core/azure-core/src/io/body_stream.cpp
  sdk/core/azure-core/test/ut/bodystream.cpp
  sdk/core/azure-core/test/ut/curl_session_test.cpp
  sdk/core/azure-core/test/ut/http.cpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.hpp
  sdk/core/perf/test/inc/azure/perf/test/http_client_get_test.hpp
  sdk/identity/azure-identity/src/client_secret_credential.cpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/keyvault_pipeline.hpp
  sdk/keyvault/azure-security-keyvault-common/src/keyvault_pipeline.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/mocked_transport_adapter_test.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/append_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/block_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/page_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/reliable_stream.hpp
  sdk/storage/azure-storage-common/src/reliable_stream.cpp
  sdk/storage/azure-storage-common/test/test_base.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/sample/datalake_getting_started.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Azure.Core

#1761 Make ModifiedConditions Nullable.
  sdk/core/azure-core/inc/azure/core/modified_conditions.hpp
  sdk/core/azure-core/inc/azure/core/nullable.hpp
  sdk/core/azure-core/test/ut/modified_conditions.cpp
Labels: Azure.Core

#1726 Keyvault create keys overloads createKey for RSA, EC and Oct
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/details/key_constants.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/details/key_request_parameters.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/json_web_key.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_create_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_curve_name.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_curve_name.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_request_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_vault_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_delete_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_get_test_live.cpp
  sdk/keyvault/test-resources.json
Labels: Client, KeyVault

#1768 Sync eng/common directory with azure-sdk-tools for PR 1456
  eng/common/scripts/common.ps1
Labels: Central-EngSys, EngSys

#1738 Http request counter
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/inc/azure/core/http/policy.hpp
  sdk/core/azure-core/src/http/retry_policy.cpp
  sdk/core/azure-core/test/ut/policy.cpp
  sdk/core/azure-core/test/ut/url.cpp
Labels: Azure.Core, Client, blocking-release

#1734 Client base options on Azure Core
  doc/HttpTransportAdapter.md
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/http/policy.hpp
  sdk/core/azure-core/inc/azure/core/internal/client_options.hpp
  sdk/core/azure-core/inc/azure/core/internal/http/pipeline.hpp
  sdk/core/azure-core/test/ut/curl_options.cpp
  sdk/core/azure-core/test/ut/policy.cpp
  sdk/core/azure-core/test/ut/telemetry_policy.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.hpp
  sdk/core/azure-core/test/ut/transport_adapter_implementation.cpp
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/inc/azure/identity/client_secret_credential.hpp
  sdk/identity/azure-identity/src/client_secret_credential.cpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/keyvault_pipeline.hpp
  sdk/keyvault/azure-security-keyvault-common/test/ut/pipeline_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/mocked_transport_adapter_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/telemetry_header_test.cpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_common.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_utilities.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
Labels: Azure.Core, Client, blocking-release

#1762 Add alternate code path for Get-cpp-PackageInfoFromRepo
  eng/scripts/Get-PkgVersion.ps1
  eng/scripts/Language-Settings.ps1
Labels: Central-EngSys

#1775 use AccessCondition provided by Azure::Core
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/access_conditions.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
Labels: Client, Storage

#1771 make per call and per operation policies public
  sdk/core/azure-core/inc/azure/core/internal/client_options.hpp
  sdk/core/azure-core/inc/azure/core/internal/http/pipeline.hpp
Labels: Azure.Core

#1750 Rename add headers
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/inc/azure/core/http/policy.hpp
  sdk/core/azure-core/src/http/bearer_token_authentication_policy.cpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/src/http/raw_response.cpp
  sdk/core/azure-core/src/http/request.cpp
  sdk/core/azure-core/src/http/telemetry_policy.cpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/core/azure-core/test/ut/http.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.cpp
  sdk/core/azure-core/test/ut/url.cpp
  sdk/identity/azure-identity/src/client_secret_credential.cpp
  sdk/keyvault/azure-security-keyvault-common/src/keyvault_pipeline.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/mocked_transport_adapter_test.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/test/ut/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/shared_key_policy.hpp
  sdk/storage/azure-storage-common/src/storage_per_retry_policy.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
Labels: Azure.Core, Client

#1780 Sync eng/common directory with azure-sdk-tools for PR 1459
  eng/common/scripts/SetTestPipelineVersion.ps1
Labels: Central-EngSys, EngSys

#1782 Sync eng/common directory with azure-sdk-tools for PR 1467
  eng/common/scripts/SetTestPipelineVersion.ps1
Labels: Central-EngSys, EngSys

#1783 fix wrong doc
  sdk/core/azure-core/inc/azure/core/http/http.hpp
Labels: Azure.Core, Client

#1785 remove response<void>
  sdk/core/azure-core/inc/azure/core/response.hpp
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
Labels: Client, Storage

#1788 fix for moving and copying client options
  sdk/core/azure-core/inc/azure/core/internal/client_options.hpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/client_options.cpp
Labels: Azure.Core, Client

#1781 Sync eng/common directory with azure-sdk-tools for PR 1465
  eng/common/pipelines/templates/steps/create-apireview.yml
Labels: Central-EngSys, EngSys

#1774 Sync eng/common directory with azure-sdk-tools for PR 1448
  eng/common/scripts/Create-APIReview.ps1
Labels: Central-EngSys, EngSys

#1752 API Review Feedback: Logging and DateTime updates
  CMakeLists.txt
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core.hpp
  sdk/core/azure-core/inc/azure/core/case_insensitive_containers.hpp
  sdk/core/azure-core/inc/azure/core/datetime.hpp
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/inc/azure/core/http/policy.hpp
  sdk/core/azure-core/inc/azure/core/internal/client_options.hpp
  sdk/core/azure-core/inc/azure/core/internal/http/pipeline.hpp
  sdk/core/azure-core/inc/azure/core/internal/log.hpp
  sdk/core/azure-core/inc/azure/core/logger.hpp
  sdk/core/azure-core/inc/azure/core/logging/logging.hpp
  sdk/core/azure-core/src/datetime.cpp
  sdk/core/azure-core/src/environment_log_level_listener.cpp
  sdk/core/azure-core/src/environment_log_level_listener_private.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/log_policy.cpp
  sdk/core/azure-core/src/http/logging_policy.cpp
  sdk/core/azure-core/src/http/retry_policy.cpp
  sdk/core/azure-core/src/http/url.cpp
  sdk/core/azure-core/src/logger.cpp
  sdk/core/azure-core/src/logging/logging.cpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/case_insensitive_containers.cpp
  sdk/core/azure-core/test/ut/datetime.cpp
  sdk/core/azure-core/test/ut/logging.cpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_common.hpp
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_sas_builder.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_sas_builder.cpp
Labels: Azure.Core

#1790 Sync eng/common directory with azure-sdk-tools for PR 1461
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
Labels: Central-EngSys, EngSys

#1794 Sync eng/common directory with azure-sdk-tools for PR 1470
  eng/common/scripts/SetTestPipelineVersion.ps1
Labels: Central-EngSys, EngSys

#1796 Fix context for unique
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/context.hpp
  sdk/core/azure-core/test/ut/context.cpp
  sdk/core/perf/test/inc/azure/perf/test/http_client_get_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/sample/get-key/main.cpp
Labels: Azure.Core, Client

#1799 Sync eng/common directory with azure-sdk-tools for PR 1472
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
Labels: Central-EngSys, EngSys

#1803 Operations should provide a RawResposne
  CMakeSettings.json
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/operation.hpp
  sdk/core/azure-core/test/ut/operation_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/delete_key_operation.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
Labels: Azure.Core

#1807 return rawresponse for copy operation
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Client, Storage

#1784 use new HttpPipeline builder
  sdk/core/azure-core/inc/azure/core/internal/client_options.hpp
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_common.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_retry_policy.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_switch_to_secondary_policy.hpp
  sdk/storage/azure-storage-common/src/storage_retry_policy.cpp
  sdk/storage/azure-storage-common/src/storage_switch_to_secondary_policy.cpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_utilities.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
Labels: Client, Storage

#1808 Fix build on VS2017
  sdk/core/azure-core/src/http/log_policy.cpp
Labels: Azure.Core, auto-merge

#1809 Move Version out of the Details namespace
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/version.hpp
  sdk/core/azure-core/src/version.cpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
  sdk/template/azure-template/inc/azure/template/version.hpp
  sdk/template/azure-template/src/template_client.cpp
  sdk/template/azure-template/src/version.cpp
Labels: Azure.Core

#1811 [No functional change] typos in "associated"
  sdk/core/azure-core/inc/azure/core/context.hpp
Labels: Azure.Core, Docs

#1813 Fixing ci yml be making sure the comment starts with #
  sdk/storage/ci.yml
Labels: Storage, auto-merge

#1792 Add timeoutInMinutes: 10 to Vcpkg Cache
  eng/pipelines/templates/steps/vcpkg.yml
Labels: Central-EngSys

#1801 Moving ETag to ::Azure
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/etag.hpp
  sdk/core/azure-core/inc/azure/core/match_conditions.hpp
  sdk/core/azure-core/test/ut/etag.cpp
  sdk/core/azure-core/test/ut/match_conditions.cpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-common/test/test_base.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/ci.yml
Labels: Azure.Core, Client

#1791 Refactor vcpkg PR step (also, use CHANGELOG.md entry in commit message)
  eng/pipelines/templates/stages/archetype-cpp-release.yml
  eng/scripts/Update-VcpkgPort.ps1
Labels: Central-EngSys

#1810 Move `Azure::MatchConditions` and `Azure::ModifiedConditions`
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/match_conditions.hpp
  sdk/core/azure-core/inc/azure/core/modified_conditions.hpp
  sdk/core/azure-core/test/ut/modified_conditions.cpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/ci.yml
Labels: Azure.Core, Client

#1814 Sync eng/common directory with azure-sdk-tools for PR 1452
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
  eng/common/scripts/job-matrix/samples/matrix-test.yml
Labels: Central-EngSys, EngSys

#1821 moving pipeline from azure core internal to azure core http internal
  sdk/core/azure-core/inc/azure/core/internal/http/pipeline.hpp
  sdk/core/azure-core/test/ut/curl_options.cpp
  sdk/core/azure-core/test/ut/pipeline.cpp
  sdk/core/azure-core/test/ut/policy.cpp
  sdk/core/azure-core/test/ut/telemetry_policy.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.hpp
  sdk/identity/azure-identity/src/client_secret_credential.cpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/keyvault_pipeline.hpp
  sdk/keyvault/azure-security-keyvault-common/test/ut/pipeline_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/mocked_transport_adapter_test.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_service_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_directory_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_service_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
Labels: Azure.Core, Client

#1812 Make sure DateTime.ToString() works without requiring additional parameters by choosing RFC 3339 as the default.
  sdk/core/azure-core/inc/azure/core/datetime.hpp
  sdk/core/azure-core/src/datetime.cpp
  sdk/core/azure-core/test/ut/datetime.cpp
Labels: Azure.Core

#1818 update tests from core to run together
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/context.cpp
  sdk/core/azure-core/test/ut/global_context.cpp
  sdk/core/azure-core/test/ut/policy.cpp
Labels: Azure.Core, Client, test enhancement

#1817 Sync eng/common directory with azure-sdk-tools for PR 1475
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: Central-EngSys, EngSys

#1825 throw when rawResponse was extracted
  sdk/core/azure-core/inc/azure/core/response.hpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/response_t.cpp
Labels: Azure.Core, Client

#1827 Remove BUILD_ENV_LOGGER cmake option and always honor AZURE_LOG_LEVEL environment variable, if it is set.
  CMakeLists.txt
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/src/environment_log_level_listener.cpp
  sdk/core/azure-core/src/environment_log_level_listener_private.hpp
Labels: Azure.Core

#1829 fix msvc static checks
  sdk/core/azure-core/test/ut/CMakeLists.txt
Labels: Azure.Core, Client

#1832 Sync eng/common directory with azure-sdk-tools for PR 1479
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/SemVer.ps1
Labels: Central-EngSys, EngSys

#1833 Move Azure::IO types like BodyStream to Azure::Core::IO.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/inc/azure/core/http/winhttp/win_http_client.hpp
  sdk/core/azure-core/inc/azure/core/internal/null_body_stream.hpp
  sdk/core/azure-core/inc/azure/core/io/body_stream.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_session_private.hpp
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/src/http/raw_response.cpp
  sdk/core/azure-core/src/http/transport_policy.cpp
  sdk/core/azure-core/src/io/body_stream.cpp
  sdk/core/azure-core/test/ut/bodystream.cpp
  sdk/core/azure-core/test/ut/curl_session_test.cpp
  sdk/core/azure-core/test/ut/http.cpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.cpp
  sdk/core/perf/test/inc/azure/perf/test/http_client_get_test.hpp
  sdk/identity/azure-identity/src/client_secret_credential.cpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/keyvault_pipeline.hpp
  sdk/keyvault/azure-security-keyvault-common/src/keyvault_pipeline.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/mocked_transport_adapter_test.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/append_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/block_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/page_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/reliable_stream.hpp
  sdk/storage/azure-storage-common/src/reliable_stream.cpp
  sdk/storage/azure-storage-common/test/test_base.cpp
  sdk/storage/azure-storage-common/test/test_base.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/sample/datalake_getting_started.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Azure.Core, auto-merge

#1834 _internal::Json => Json::_internal
  sdk/core/azure-core/inc/azure/core/internal/json.hpp
  sdk/core/azure-core/inc/azure/core/internal/json_serializable.hpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-algorithms.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-allocator.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-alt-string.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-capacity.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-class_const_iterator.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-class_iterator.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-class_lexer.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-comparison.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-concepts.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-constructor1.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-constructor2.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-convenience.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-conversions.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-deserialization.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-element_access1.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-element_access2.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-inspection.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-items.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-iterators1.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-iterators2.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-large_json.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-modifiers.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-noexcept.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-pointer_access.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-readme.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-reference_access.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-serialization.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-testsuites.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-to_chars.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-udt.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-user_defined_input.cpp
  sdk/core/azure-core/test/nlohmann-json-test/src/unit-wstring.cpp
  sdk/core/azure-core/test/ut/json.cpp
  sdk/core/perf/inc/azure/perf/options.hpp
  sdk/core/perf/src/options.cpp
  sdk/core/perf/src/program.cpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/keyvault_pipeline.hpp
  sdk/keyvault/azure-security-keyvault-common/src/keyvault_exception.cpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/details/key_request_parameters.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/deleted_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_request_parameters.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_vault_key.cpp
  sdk/storage/azure-storage-common/src/storage_exception.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
Labels: Azure.Core, blocking-release

#1837 Create StringExtensions for string operations in Azure::Core::_internal
  sdk/core/azure-core/inc/azure/core/case_insensitive_containers.hpp
  sdk/core/azure-core/inc/azure/core/internal/strings.hpp
  sdk/core/azure-core/inc/azure/core/operation_status.hpp
  sdk/core/azure-core/src/environment_log_level_listener.cpp
  sdk/core/azure-core/src/http/raw_response.cpp
  sdk/core/azure-core/src/http/request.cpp
  sdk/core/azure-core/src/http/url.cpp
  sdk/core/azure-core/src/strings.cpp
  sdk/core/azure-core/test/ut/string.cpp
  sdk/core/perf/src/program.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/telemetry_header_test.cpp
  sdk/storage/azure-storage-common/src/shared_key_policy.cpp
  sdk/storage/azure-storage-common/test/test_base.cpp
Labels: Azure.Core, Client

#1836 Azure::Core::DateTime => Azure::DateTime
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/datetime.hpp
  sdk/core/azure-core/inc/azure/core/modified_conditions.hpp
  sdk/core/azure-core/src/datetime.cpp
  sdk/core/azure-core/src/environment_log_level_listener.cpp
  sdk/core/azure-core/test/ut/datetime.cpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/unix_time_helper.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/deleted_key.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_create_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_properties.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_sas_builder.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/account_sas_builder.hpp
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-common/src/storage_per_retry_policy.cpp
  sdk/storage/azure-storage-common/test/test_base.cpp
  sdk/storage/azure-storage-common/test/test_base.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_sas_builder.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_service_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_sas_builder.hpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_sas_builder.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_sas_test.cpp
Labels: Azure.Core, blocking-release

#1839 Azure::*::_detail::Version => Azure::*::PackageVersion
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/version.hpp
  sdk/core/azure-core/src/version.cpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/inc/azure/identity/version.hpp
  sdk/identity/azure-identity/src/version.cpp
  sdk/identity/azure-identity/test/ut/simplified_header.cpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/version.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/version.hpp
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/version.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/inc/azure/storage/common/version.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/version.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/version.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/template/azure-template/inc/azure/template/version.hpp
  sdk/template/azure-template/src/template_client.cpp
  sdk/template/azure-template/src/version.cpp
Labels: Azure.Core, Azure.Identity, EngSys, Storage, blocking-release

#1824 New context
  sdk/core/azure-core/inc/azure/core/context.hpp
  sdk/core/azure-core/inc/azure/core/operation.hpp
  sdk/core/azure-core/src/context.cpp
  sdk/core/azure-core/src/http/retry_policy.cpp
  sdk/core/azure-core/test/perf/src/main.cpp
  sdk/core/azure-core/test/ut/client_options.cpp
  sdk/core/azure-core/test/ut/context.cpp
  sdk/core/azure-core/test/ut/curl_options.cpp
  sdk/core/azure-core/test/ut/curl_session_test.cpp
  sdk/core/azure-core/test/ut/global_context.cpp
  sdk/core/azure-core/test/ut/http.cpp
  sdk/core/azure-core/test/ut/policy.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.cpp
  sdk/core/perf/README.md
  sdk/core/perf/test/src/main.cpp
  sdk/identity/azure-identity/test/perf/src/main.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/perf/src/main.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_delete_test_live.cpp
  sdk/storage/azure-storage-blobs/test/perf/src/main.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_switch_to_secondary_policy.hpp
  sdk/storage/azure-storage-common/src/storage_switch_to_secondary_policy.cpp
Labels: Azure.Core, blocking-release

#1835 Rename the Range type to HttpRange within the Azure::Core::Http namespace.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/test/ut/http.cpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/page_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Azure.Core, auto-merge

#1846 Azure::Core::Credentials
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/credentials.hpp
  sdk/core/azure-core/inc/azure/core/http/policy.hpp
  sdk/core/azure-core/src/http/bearer_token_authentication_policy.cpp
  sdk/identity/azure-identity/inc/azure/identity/client_secret_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/environment_credential.hpp
  sdk/identity/azure-identity/src/client_secret_credential.cpp
  sdk/identity/azure-identity/src/environment_credential.cpp
  sdk/identity/azure-identity/test/perf/inc/azure/identity/test/secret_credential.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/sample/get-key/main.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/perf/inc/azure/keyvault/keys/test/get_key.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/append_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/block_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/page_blob_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_service_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
Labels: Azure.Core, Azure.Identity, blocking-release

#1849 DefaultAllowedHttpHeaders: Make static default const
  sdk/core/azure-core/inc/azure/core/http/policy.hpp
  sdk/core/azure-core/src/http/log_policy.cpp
Labels: Azure.Core, blocking-release, bug

#1843 Consolidate the changelog entry for bodystream changes.
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core, Docs

#1721 make curl transport adapter to request new connection if sending fails
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_pool_private.hpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/test/ut/curl_connection_pool.cpp
  sdk/core/azure-core/test/ut/curl_session.hpp
Labels: Azure.Core, Client

#1844 Move http policies to Azure::Core::Http::Policies
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/inc/azure/core/http/policy.hpp
  sdk/core/azure-core/inc/azure/core/internal/client_options.hpp
  sdk/core/azure-core/inc/azure/core/internal/http/pipeline.hpp
  sdk/core/azure-core/src/http/bearer_token_authentication_policy.cpp
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/src/http/log_policy.cpp
  sdk/core/azure-core/src/http/policy.cpp
  sdk/core/azure-core/src/http/retry_policy.cpp
  sdk/core/azure-core/src/http/telemetry_policy.cpp
  sdk/core/azure-core/src/http/transport_policy.cpp
  sdk/core/azure-core/test/ut/client_options.cpp
  sdk/core/azure-core/test/ut/curl_options.cpp
  sdk/core/azure-core/test/ut/pipeline.cpp
  sdk/core/azure-core/test/ut/policy.cpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
  sdk/core/azure-core/test/ut/telemetry_policy.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.hpp
  sdk/core/azure-core/test/ut/transport_adapter_implementation.cpp
  sdk/keyvault/azure-security-keyvault-common/test/ut/pipeline_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/shared_key_policy.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_per_retry_policy.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_switch_to_secondary_policy.hpp
  sdk/storage/azure-storage-common/src/storage_per_retry_policy.cpp
  sdk/storage/azure-storage-common/src/storage_switch_to_secondary_policy.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Azure.Core, Client

#1847 Moving Nullable<T> to Azure namespace
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/etag.hpp
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/inc/azure/core/modified_conditions.hpp
  sdk/core/azure-core/inc/azure/core/nullable.hpp
  sdk/core/azure-core/inc/azure/core/response.hpp
  sdk/core/azure-core/test/perf/inc/azure/core/test/nullable.hpp
  sdk/core/azure-core/test/ut/match_conditions.cpp
  sdk/core/azure-core/test/ut/modified_conditions.cpp
  sdk/core/azure-core/test/ut/nullable.cpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
  sdk/core/perf/inc/azure/perf/options.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/details/key_request_parameters.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/json_web_key.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_create_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_properties.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_lease_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_sas_builder.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/access_conditions.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/account_sas_builder.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_sas_builder.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_lease_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_sas_builder.hpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_service_client_test.cpp
Labels: Azure.Core, Client

#1840 Move URL to CORE
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core.hpp
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/inc/azure/core/url.hpp
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/src/http/log_policy.cpp
  sdk/core/azure-core/src/http/url.cpp
  sdk/core/azure-core/test/ut/curl_connection_pool.cpp
  sdk/core/azure-core/test/ut/curl_options.cpp
  sdk/core/azure-core/test/ut/curl_session_test.cpp
  sdk/core/azure-core/test/ut/http.cpp
  sdk/core/azure-core/test/ut/policy.cpp
  sdk/core/azure-core/test/ut/telemetry_policy.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.cpp
  sdk/core/azure-core/test/ut/url.cpp
  sdk/core/perf/test/inc/azure/perf/test/curl_http_client_get_test.hpp
  sdk/core/perf/test/inc/azure/perf/test/http_client_get_test.hpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/keyvault_pipeline.hpp
  sdk/keyvault/azure-security-keyvault-common/src/keyvault_pipeline.cpp
  sdk/keyvault/azure-security-keyvault-common/test/ut/pipeline_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/mocked_transport_adapter_test.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_credential.hpp
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-common/src/crypt.cpp
  sdk/storage/azure-storage-common/src/shared_key_policy.cpp
  sdk/storage/azure-storage-common/src/storage_credential.cpp
  sdk/storage/azure-storage-common/test/test_base.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_service_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_sas_builder.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_directory_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_service_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_sas_builder.cpp
Labels: Azure.Core, Client

#1862 fix regression on contex value implementation for Storage
  sdk/core/azure-core/test/ut/context.cpp
  sdk/storage/azure-storage-common/src/storage_switch_to_secondary_policy.cpp
Labels: Azure.Core, Client

#1830 Make FileBodyStream easy to construct by accepting a file name, and create an internal ParallelFileBodyStream.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/io/body_stream.hpp
  sdk/core/azure-core/src/io/body_stream.cpp
  sdk/core/azure-core/src/io/random_access_file_body_stream.cpp
  sdk/core/azure-core/test/ut/bodystream.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
Labels: Azure.Core, auto-merge, blocking-release

#1863 Changed the static methods 'BodyStream::ReadToCount()' and 'BodyStream::ReadToEnd()' into instance methods.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/io/body_stream.hpp
  sdk/core/azure-core/src/http/transport_policy.cpp
  sdk/core/azure-core/src/io/body_stream.cpp
  sdk/core/azure-core/test/ut/curl_session_test.cpp
  sdk/core/azure-core/test/ut/http.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.cpp
  sdk/core/perf/test/inc/azure/perf/test/http_client_get_test.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-common/test/test_base.hpp
  sdk/storage/azure-storage-files-datalake/sample/datalake_getting_started.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Azure.Core, auto-merge, blocking-release

#1866 Fix to call the instance method on bodystream from recent tests.
  sdk/core/azure-core/test/ut/bodystream.cpp
Labels: Azure.Core, auto-merge, blocking-release, test bug

#1864 Fix build on VS2017
  sdk/core/azure-core/src/http/http.cpp
Labels: Azure.Core, auto-merge

#1852 Switch to return the RawResponse&
  sdk/core/azure-core/inc/azure/core/operation.hpp
  sdk/core/azure-core/inc/azure/core/response.hpp
  sdk/core/azure-core/test/ut/operation_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/delete_key_operation.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Azure.Core

#1870 Moved the `Base64Encode()` and `Base64Decode()` functions to be static members of a `Convert` class within the `Azure::Core` namespace.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/base64.hpp
  sdk/core/azure-core/src/base64.cpp
  sdk/core/azure-core/test/ut/base64.cpp
  sdk/core/azure-core/test/ut/md5.cpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-common/src/shared_key_policy.cpp
  sdk/storage/azure-storage-common/src/storage_common.cpp
  sdk/storage/azure-storage-common/test/crypt_functions_test.cpp
  sdk/storage/azure-storage-common/test/test_base.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_utilities.cpp
  sdk/storage/azure-storage-files-shares/src/share_sas_builder.cpp
Labels: Azure.Core, blocking-release

#1871 Removed `Azure::Core::Http::InvalidHeaderException` and throw `std::invalid_argument` if the user provides invalid header arguments.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/src/http/raw_response.cpp
  sdk/core/azure-core/test/ut/http.cpp
Labels: Azure.Core

#1878 Sync eng/common directory with azure-sdk-tools for PR 1485
  eng/common/scripts/Collect-ChangeLogs.ps1
Labels: Central-EngSys, EngSys

#1875 make poll return const ref to rawResponse
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/operation.hpp
  sdk/core/azure-core/test/ut/operation_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/delete_key_operation.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/delete_key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_delete_test_live.cpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/src/blob_responses.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_responses.cpp
Labels: Azure.Core, blocking-release

#1874 Changelog: Rephrase to move related entities closer together.
  sdk/core/azure-core/CHANGELOG.md
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Labels: Azure.Core, blocking-release

#1883 Fix StartCopyBlobOperation by removing the field - derived classes should not define a member with the same type and name as the base class
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
Labels: blocking-release

#1884 Add date to the changelog for packages shipping today - core beta.7 and identity beta.4
  sdk/core/azure-core/CHANGELOG.md
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Docs

#1890 Moving GetRawResponseInternal out of public from Operation derived classes
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/delete_key_operation.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
Labels: Client, Storage, blocking-release

#1892 fix poll Internal implementation for DeletedKeyOperation
  sdk/keyvault/azure-security-keyvault-keys/src/delete_key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_base_test.hpp
Labels: Client, KeyVault

#1886 Add back-ticks around `Response<void>` in changelog
  sdk/core/azure-core/CHANGELOG.md
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Docs

#1826 Sync eng/common directory with azure-sdk-tools for PR 1458
  eng/common/pipelines/templates/steps/set-default-branch.yml
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Labels: Central-EngSys, EngSys

#1905 Sync eng/common directory with azure-sdk-tools for PR 1490
  eng/common/pipelines/templates/steps/publish-artifact.yml
Labels: Central-EngSys, EngSys

#1903 rename private method
  sdk/core/azure-core/inc/azure/core/http/win_http_transport.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Labels: Azure.Core, Client

#1819 rename return types of some Get operations
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_service_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_lease_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_responses.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_service_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
Labels: Client, Storage, blocking-release

#1910 fix flaky test failure in file service
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
Labels: Client, Storage

#1759 Sync eng/common directory with azure-sdk-tools for PR 1418
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#1912 move stuff from _details to _internal for storage-common package
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/concurrent_transfer.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/constants.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/crypt.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/file_io.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/shared_key_policy.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_common.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_credential.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_per_retry_policy.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_switch_to_secondary_policy.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/xml_wrapper.hpp
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-common/src/crypt.cpp
  sdk/storage/azure-storage-common/src/file_io.cpp
  sdk/storage/azure-storage-common/src/shared_key_policy.cpp
  sdk/storage/azure-storage-common/src/storage_common.cpp
  sdk/storage/azure-storage-common/src/storage_credential.cpp
  sdk/storage/azure-storage-common/src/storage_exception.cpp
  sdk/storage/azure-storage-common/src/storage_per_retry_policy.cpp
  sdk/storage/azure-storage-common/src/storage_switch_to_secondary_policy.cpp
  sdk/storage/azure-storage-common/src/xml_wrapper.cpp
  sdk/storage/azure-storage-common/test/crypt_functions_test.cpp
  sdk/storage/azure-storage-common/test/storage_credential_test.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_sas_builder.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_sas_test.cpp
Labels: Client, Storage, auto-merge, blocking-release

#1913 remove struct SecondaryHostReplicaStatus, to simplify context use
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_switch_to_secondary_policy.hpp
  sdk/storage/azure-storage-common/src/storage_switch_to_secondary_policy.cpp
Labels: Client, Storage, auto-merge, blocking-release

#1820 Rename return types of some Get operations in file service.
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_directory_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_service_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_responses.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
Labels: Storage, blocking-release

#1916 Datalakereturntype
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_service_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
Labels: Storage, blocking-release

#1914 remove all use of ValuePolicy
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_service_version_policy.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
Labels: Client, Storage, blocking-release

#1918 Sync eng/common directory with azure-sdk-tools for PR 1496
  eng/common/scripts/Package-Properties.ps1
Labels: Central-EngSys, EngSys

#1919 Sync eng/common directory with azure-sdk-tools for PR 1463
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/README.md
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/samples/matrix-test.yml
  eng/common/scripts/job-matrix/samples/matrix.json
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
  eng/common/scripts/job-matrix/tests/test-import-matrix.json
Labels: Central-EngSys, EngSys

#1915 Add new API: ShareFileClient::GetRangeListDiff
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Client, Storage, blocking-release

#1922 Change return type of `BlobClinet::GetTags` to `std::map`
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
Labels: Client, Storage

#1923 revert changes to GetAccessPolicy
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
Labels: Client, Storage

#1907 Adding GetDeletedKey
  sdk/core/azure-core/inc/azure/core/internal/json/json_optional.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/delete_key_operation.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_vault_key.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_delete_test_live.cpp
Labels: Client, KeyVault

#1927 remove DataLake/Blob/Share from options and result types
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_lease_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_lease_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_rest_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_lease_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_responses.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_directory_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_lease_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_service_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_lease_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_responses.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Client, Storage, blocking-release

#1932 Update storage CL to group changes to return types together
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Labels: Docs, Storage

#1933 Update storage datalake CL to group changes to return types together
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Labels: Docs, Storage

#1931 Removed RequestId from return types
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_lease_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
Labels: Client, Storage, blocking-release

#1930 Remove request IDs
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Storage, blocking-release

#1924 Sync eng/common directory with azure-sdk-tools for PR 1498
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
Labels: Central-EngSys, EngSys

#1928 Sync eng/common directory with azure-sdk-tools for PR 1489
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Submit-PullRequest.ps1
Labels: Central-EngSys, EngSys

#1938 Changed BodyStream parameter in upload functions from pointer to refe…
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/append_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/block_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/page_blob_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/sample/datalake_getting_started.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Client, Storage, blocking-release

#1939 remove public fields from operation<T>
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Client, Storage, blocking-release

#1941 Rename some return types and options
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/page_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/append_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_responses.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_file_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_responses.cpp
Labels: Client, Storage, blocking-release

#1943 rename Tier -> AccessTier
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
Labels: Client, Storage, blocking-release

#1940 Removed unwanted Share prefix and moved unused models to details.
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_service_client.hpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_responses.cpp
  sdk/storage/azure-storage-files-shares/src/share_rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/share_service_client_test.cpp
Labels: Storage, blocking-release

#1946 Remove ShareStats.
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
Labels: Storage, blocking-release

#1944 Hide unused models.
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_rest_client.cpp
Labels: Storage, blocking-release

#1945 rename BlockListTypeOption -> BlockListType
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_rest_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
Labels: Client, Storage, blocking-release

#1948 Sync eng/common directory with azure-sdk-tools for PR 1502
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: Central-EngSys, EngSys

#1902 Operation t docs
  doc/Operation.md
  sdk/core/azure-core/inc/azure/core/operation.hpp
Labels: Azure.Core, Client, Docs

#1921 Debian container for VS Codespaces
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  CONTRIBUTING.md
Labels: Azure.Core, Client, EngSys

#1953 broken link
  CONTRIBUTING.md
Labels: Azure.Core, Client, EngSys, blocking-release

#1955 Update relative links to sections in the contributing guide doc to fix link verification
  CONTRIBUTING.md
  sdk/core/azure-core/src/context.cpp
Labels: Docs

#1951 Remove Type suffix from some enums.
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/protocol/datalake_rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_rest_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/test/share_file_client_test.cpp
Labels: Client, Storage, blocking-release

#1957 mint storage beta 9
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Labels: Client, Storage, blocking-release

#1958 Sync eng/common directory with azure-sdk-tools for PR 1476
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: Central-EngSys, EngSys

#1960 Sync eng/common directory with azure-sdk-tools for PR 1514
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
Labels: Central-EngSys, EngSys

#1917 Remove value policy from core
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/core/azure-core/test/ut/policy.cpp
Labels: Azure.Core, Client

#1970 Fix the date in the changelog for storage beta.6 packages using the correct year to avoid auto version bump PR re-ordering it
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Labels: Docs, Storage

#1971 Update sdk/storage codeowners list to use the up-to-date GitHub alias
  .github/CODEOWNERS
Labels: EngSys

#1977 Sync eng/common directory with azure-sdk-tools for PR 1517
  eng/common/scripts/Update-ChangeLog.ps1
Labels: Central-EngSys, EngSys

#1978 Sync eng/common directory with azure-sdk-tools for PR 1478
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Submit-PullRequest.ps1
Labels: Central-EngSys, EngSys

#1956 Sync eng/common directory with azure-sdk-tools for PR 1508
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
Labels: Central-EngSys, EngSys

#1979 Sync eng/common directory with azure-sdk-tools for PR 1493
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/check-spelling-in-changed-files.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: Central-EngSys, EngSys

#1982 Sync eng/common directory with azure-sdk-tools for PR 1521
  eng/common/scripts/job-matrix/README.md
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
Labels: Central-EngSys, EngSys

#1981 Sync eng/common directory with azure-sdk-tools for PR 1477
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/git-push-changes.yml
  eng/common/pipelines/templates/steps/set-default-branch.yml
  eng/common/scripts/git-branch-push.ps1
Labels: Central-EngSys, EngSys

#1947 Add ADFS support for ClientSecretCredential
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/credentials/token_credential_options.hpp
  sdk/core/azure-core/src/datetime.cpp
  sdk/identity/azure-identity/inc/azure/identity/client_secret_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/environment_credential.hpp
  sdk/identity/azure-identity/src/client_secret_credential.cpp
  sdk/identity/azure-identity/src/environment_credential.cpp
  sdk/identity/azure-identity/test/ut/CMakeLists.txt
  sdk/identity/azure-identity/test/ut/client_secret_credential.cpp
  sdk/identity/azure-identity/test/ut/environment_credential.cpp
  sdk/identity/azure-identity/test/ut/test_transport.hpp
Labels: Azure.Identity, auto-merge

#1990 fix datalake user-agent
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
Labels: Client, Storage

#1991 refine impl of rename file/directory
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_utilities.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_utilities.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/datalake_file_system_client_test.hpp
Labels: Client, Storage

#1984 unique_ptr Get() => Extract() || Send() || ExtractOrCreate()
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_pool_private.hpp
  sdk/core/azure-core/src/http/curl/curl_session_private.hpp
  sdk/core/azure-core/src/http/transport_policy.cpp
  sdk/core/azure-core/test/ut/curl_connection_pool.cpp
  sdk/core/azure-core/test/ut/curl_session_test.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.cpp
  sdk/keyvault/azure-security-keyvault-common/inc/azure/keyvault/common/internal/keyvault_pipeline.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/delete_key_operation.cpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/protocol/blob_rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/protocol/share_rest_client.hpp
Labels: Azure.Core

#2001 Sync eng/common directory with azure-sdk-tools for PR 1527
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
Labels: Central-EngSys, EngSys

#1999 test for Context heap integrity
  sdk/core/azure-core/test/ut/context.cpp
  sdk/core/azure-core/test/ut/policy.cpp
Labels: Azure.Core, test enhancement

#2008 changelog for #1991
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
Labels: Client, Storage

#2012 Manually install gcc and g++ 8 if needed
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: Central-EngSys

#1985 Move policies to internal
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/core/azure-core/inc/azure/core/internal/http/pipeline.hpp
  sdk/core/azure-core/src/http/bearer_token_authentication_policy.cpp
  sdk/core/azure-core/src/http/log_policy.cpp
  sdk/core/azure-core/src/http/retry_policy.cpp
  sdk/core/azure-core/src/http/telemetry_policy.cpp
  sdk/core/azure-core/src/http/transport_policy.cpp
  sdk/core/azure-core/test/ut/curl_options.cpp
  sdk/core/azure-core/test/ut/pipeline.cpp
  sdk/core/azure-core/test/ut/policy.cpp
  sdk/core/azure-core/test/ut/simplified_header.cpp
  sdk/core/azure-core/test/ut/telemetry_policy.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.hpp
  sdk/keyvault/azure-security-keyvault-common/test/ut/pipeline_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-common/src/storage_switch_to_secondary_policy.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
Labels: Azure.Core

#1935 update 3rd party httpbin server for inhouse instance
  sdk/core/azure-core/NOTICE.txt
  sdk/core/azure-core/cgmanifest.json
  sdk/core/azure-core/test/ut/curl_connection_pool.cpp
  sdk/core/azure-core/test/ut/curl_options.cpp
  sdk/core/azure-core/test/ut/main.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base.hpp
Labels: Azure.Core, Client, EngSys

#1998 remove-http-response-apis
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/inc/azure/core/url.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/src/http/raw_response.cpp
  sdk/core/azure-core/src/http/request.cpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/core/azure-core/test/ut/client_options.cpp
  sdk/core/azure-core/test/ut/http.cpp
  sdk/core/azure-core/test/ut/operation_test.hpp
  sdk/core/azure-core/test/ut/transport_adapter_base.cpp
Labels: Azure.Core
