Repository Azure/azure-sdk-for-cpp, pull requests merged in 2022-08, with the labels that each got.

#3861 protocol layer for file share STG82
  .vscode/cspell.json
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
Labels: Client, Storage

#3858 Retry poll calls on EINTR
  sdk/core/azure-core/src/http/curl/curl.cpp
Labels: customer-reported

#3860 Sync eng/common directory with azure-sdk-tools for PR 3765
  eng/common/scripts/job-matrix/README.md
Labels: EngSys, Central-EngSys

#3863 Sync eng/common directory with azure-sdk-tools for PR 3826
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#3864 Storage Aug GA release
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-blobs/vcpkg.json
Labels: Client, Storage

#3850 STG 79 80 81 Features
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_sas_builder.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_responses.cpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/rest_client.cpp
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.EncryptionScope.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.SpecialBlobName.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.Tags.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobServiceClientTest.SetProperties.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlockBlobClientTest.CopyWithTagsMetadataTier.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlockBlobClientTest.SyncCopyFromUriEncryptionScope.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlockBlobClientTest.UploadFromUri.json
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/inc/azure/storage/common/account_sas_builder.hpp
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/test-resources-post.ps1
Labels: Client, Storage

#3871 Sync eng/common directory with azure-sdk-tools for PR 3860
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#3868 Storage August Preview Release
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-blobs/vcpkg.json
  sdk/storage/azure-storage-blobs/vcpkg/Config.cmake.in
  sdk/storage/azure-storage-blobs/vcpkg/vcpkg.json
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-common/vcpkg.json
  sdk/storage/azure-storage-common/vcpkg/Config.cmake.in
  sdk/storage/azure-storage-common/vcpkg/vcpkg.json
Labels: Client, Storage

#3879 Fix an issue that reason phrase is missing as expected from HTTP/2 server
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Labels: customer-reported

#3880 fix some issues in protocol layer
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
Labels: Client, Storage

#3886 parse datetime fields as RFC3339 in rename responses
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
Labels: Client, Storage

#3888 Sync eng/common directory with azure-sdk-tools for PR 3945
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#3907 Sync eng/common directory with azure-sdk-tools for PR 3874
  eng/common/pipelines/templates/jobs/perf.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#3904 Changelog for File Share STG82
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Labels: Client, Storage

#3908 File Share Features until STG82
  .vscode/cspell.json
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_directory_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_lease_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-files-shares/test/ut/recordings/FileShareClientTest.Lease.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/FileShareClientTest.PremiumShare.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/FileShareClientTest.SnapshotLease.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/FileShareDirectoryClientTest.DirectorySmbProperties.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/FileShareDirectoryClientTest.ListFilesAndDirectoriesSinglePageTest.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/FileShareDirectoryClientTest.RenameFile.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/FileShareDirectoryClientTest.RenameSubdirectory.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/FileShareDirectoryClientTest.SmbPropertiesDefaultValue.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/FileShareFileClientTest.CopyRelated.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/FileShareFileClientTest.FileSmbProperties.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/FileShareFileClientTest.RangeUploadDownload.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/FileShareFileClientTest.SmbPropertiesDefaultValue.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/FileShareFileClientTest.UploadRangeFromUri.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/withParam-UploadShare.fromBuffer-c1s0.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/withParam-UploadShare.fromBuffer-c1s1024.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/withParam-UploadShare.fromBuffer-c1s1048576.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/withParam-UploadShare.fromBuffer-c1s4096.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/withParam-UploadShare.fromBuffer-c1s4194816.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/withParam-UploadShare.fromBuffer-c1s512.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/withParam-UploadShare.fromBuffer-c2s0.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/withParam-UploadShare.fromBuffer-c2s1024.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/withParam-UploadShare.fromBuffer-c2s1048576.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/withParam-UploadShare.fromBuffer-c2s4096.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/withParam-UploadShare.fromBuffer-c2s4194816.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/withParam-UploadShare.fromBuffer-c2s512.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/withParam-UploadShare.fromBuffer-c5s0.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/withParam-UploadShare.fromBuffer-c5s1024.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/withParam-UploadShare.fromBuffer-c5s1048576.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/withParam-UploadShare.fromBuffer-c5s4096.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/withParam-UploadShare.fromBuffer-c5s4194816.json
  sdk/storage/azure-storage-files-shares/test/ut/recordings/withParam-UploadShare.fromBuffer-c5s512.json
  sdk/storage/azure-storage-files-shares/test/ut/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
Labels: Client, Storage

#3910 Empty file or existing file won't be created/overwritten if the blob to be downloaded doesn't exist.
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlockBlobClientTest.DownloadNonExistingToFile.json
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/DataLakeFileClientTest.DownloadNonExistingToFile.json
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/ut/recordings/FileShareFileClientTest.DownloadNonExistingToFile.json
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
Labels: Client, Storage
