Repository Azure/azure-sdk-for-cpp, pull requests merged in 2022-05, with the labels that each got.

#3594 Create Storage DataMovement directory
  cmake-modules/FolderList.cmake
  sdk/storage/CMakeLists.txt
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/file_io.hpp
  sdk/storage/azure-storage-common/src/file_io.cpp
  sdk/storage/azure-storage-datamovement/CHANGELOG.md
  sdk/storage/azure-storage-datamovement/CMakeLists.txt
  sdk/storage/azure-storage-datamovement/NOTICE.txt
  sdk/storage/azure-storage-datamovement/cgmanifest.json
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/blob_folder.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/datamovement_options.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/dll_import_export.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/job_properties.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/rtti.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/scheduler.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/storage_transfer_manager.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/task.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/tasks/upload_blob_from_file_task.hpp
  sdk/storage/azure-storage-datamovement/samples/CMakeLists.txt
  sdk/storage/azure-storage-datamovement/samples/datamovement_getting_started.cpp
  sdk/storage/azure-storage-datamovement/src/private/package_version.hpp
  sdk/storage/azure-storage-datamovement/src/scheduler.cpp
  sdk/storage/azure-storage-datamovement/src/storage_transfer_manager.cpp
  sdk/storage/azure-storage-datamovement/src/tasks/upload_blob_from_file_task.cpp
  sdk/storage/azure-storage-datamovement/vcpkg.json
  sdk/storage/azure-storage-datamovement/vcpkg/Config.cmake.in
  sdk/storage/azure-storage-datamovement/vcpkg/portfile.cmake
  sdk/storage/azure-storage-datamovement/vcpkg/vcpkg.json
Labels: Client, Storage

#3606 Reword the curl proxy fix changelog entry.
  sdk/core/azure-core/CHANGELOG.md
Labels: Docs, Azure.Core

#3605 Add Emma Zhu as code owner
  .github/CODEOWNERS
Labels: Storage

#3607 Sync eng/common directory with azure-sdk-tools for PR 3261
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
Labels: EngSys, Central-EngSys

#3616 Sync eng/common directory with azure-sdk-tools for PR 3269
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#3617 Get rid of warnings in nullable.hpp
  sdk/core/azure-core/inc/azure/core/nullable.hpp
Labels: Azure.Core, Client

#3623 Sync eng/common directory with azure-sdk-tools for PR 3280
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys

#3625 Prepare Attestation SDK for May Release.
  sdk/attestation/azure-security-attestation/CHANGELOG.md
Labels: Docs, Attestation

#3632 Fix CI handling of ClientCertCred sample failure
  CMakeLists.txt
  samples/helpers/service/CMakeLists.txt
  samples/helpers/service/LICENSE
  samples/helpers/service/README.md
  samples/helpers/service/inc/azure/service/client.hpp
  sdk/identity/azure-identity/samples/CMakeLists.txt
  sdk/identity/azure-identity/samples/client_certificate_credential.cpp
  sdk/identity/azure-identity/samples/client_secret_credential.cpp
  sdk/identity/test-resources-pre.ps1
Labels: Azure.Identity

#3645 Sync eng/common directory with azure-sdk-tools for PR 3320
  eng/common/TestResources/README.md
Labels: EngSys, Central-EngSys

#3643 Fixed a bug where text of XML element cannot be empty.
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/xml_wrapper.hpp
  sdk/storage/azure-storage-common/src/xml_wrapper.cpp
Labels: Client, Storage

#3644 Sync eng/common directory with azure-sdk-tools for PR 3323
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
Labels: EngSys, Central-EngSys

#3611 Adding Acknowledgments
  .vscode/cspell.json
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core, Client

#3648 Sync eng/common directory with azure-sdk-tools for PR 3341
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#3650 Storage Blob Stg78 Features
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/block_blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/samples/CMakeLists.txt
  sdk/storage/azure-storage-blobs/samples/blob_query.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_options.cpp
  sdk/storage/azure-storage-blobs/src/blob_responses.cpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/page_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/private/avro_parser.cpp
  sdk/storage/azure-storage-blobs/src/private/avro_parser.hpp
  sdk/storage/azure-storage-blobs/src/rest_client.cpp
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-blobs/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_query_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobContainerClientTest.ListBlobsDeletedWithActiveVersions.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobServiceClientTest.SetProperties.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/BlobServiceClientTest.listsystemcontainers.json
  sdk/storage/azure-storage-blobs/test/ut/recordings/PageBlobClientTest.GetPageRangesContinuation.json
Labels: Client, Storage

#3657 Remove noexcept specifier from Context::IsCancelled()
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/context.hpp
Labels: Azure.Core

#3665 Sync eng/common directory with azure-sdk-tools for PR 3368
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#3664 Sync eng/common directory with azure-sdk-tools for PR 3342
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#3654 Split out attestation client factory into separate class
  samples/integration/vcpkg-all-smoke/src/main.cpp
  sdk/attestation/azure-security-attestation/CHANGELOG.md
  sdk/attestation/azure-security-attestation/README.md
  sdk/attestation/azure-security-attestation/inc/azure/attestation/attestation_administration_client.hpp
  sdk/attestation/azure-security-attestation/inc/azure/attestation/attestation_client.hpp
  sdk/attestation/azure-security-attestation/inc/azure/attestation/attestation_client_models.hpp
  sdk/attestation/azure-security-attestation/inc/azure/attestation/attestation_client_options.hpp
  sdk/attestation/azure-security-attestation/samples/attestation/attest_openenclave_shared.cpp
  sdk/attestation/azure-security-attestation/samples/attestation/attest_openenclave_with_draft_policy.cpp
  sdk/attestation/azure-security-attestation/samples/attestation/attest_sgxenclave.cpp
  sdk/attestation/azure-security-attestation/samples/attestation/attest_sgxenclave_with_runtime_binary.cpp
  sdk/attestation/azure-security-attestation/samples/attestation/attest_sgxenclave_with_runtime_json.cpp
  sdk/attestation/azure-security-attestation/samples/basic-operations/create_admin_client.cpp
  sdk/attestation/azure-security-attestation/samples/basic-operations/create_client.cpp
  sdk/attestation/azure-security-attestation/samples/basic-operations/get_open-id_metadata.cpp
  sdk/attestation/azure-security-attestation/samples/basic-operations/get_signing_certificates.cpp
  sdk/attestation/azure-security-attestation/samples/policy-certificates/add_policy_certificate.cpp
  sdk/attestation/azure-security-attestation/samples/policy-certificates/get_policy_certificates.cpp
  sdk/attestation/azure-security-attestation/samples/policy/get_policy.cpp
  sdk/attestation/azure-security-attestation/samples/policy/reset_policy.cpp
  sdk/attestation/azure-security-attestation/samples/policy/reset_sealed_policy.cpp
  sdk/attestation/azure-security-attestation/samples/policy/set_policy.cpp
  sdk/attestation/azure-security-attestation/samples/policy/set_sealed_policy.cpp
  sdk/attestation/azure-security-attestation/src/attestation_administration_client.cpp
  sdk/attestation/azure-security-attestation/src/attestation_client.cpp
  sdk/attestation/azure-security-attestation/src/private/attestation_client_private.cpp
  sdk/attestation/azure-security-attestation/src/private/attestation_client_private.hpp
  sdk/attestation/azure-security-attestation/test/ut/attestation_metadata.cpp
  sdk/attestation/azure-security-attestation/test/ut/attestation_test.cpp
  sdk/attestation/azure-security-attestation/test/ut/policycertmgmt_test.cpp
  sdk/attestation/azure-security-attestation/test/ut/policygetset_test.cpp
  sdk/attestation/azure-security-attestation/test/ut/tpmattestation_test.cpp
Labels: Attestation

#3667 storage unittest fix and improvement
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-common/test/ut/test_base.cpp
  sdk/storage/azure-storage-common/test/ut/test_base.hpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c1s0.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c1s1.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c1s1022976.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c1s1048576.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c1s2.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c1s2048.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c1s2097151.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c1s3145728.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c1s4096.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c1s5242880.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c1s8387374.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c1s8388608.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c2s0.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c2s1.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c2s1022976.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c2s1048576.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c2s2.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c2s2048.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c2s2097151.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c2s3145728.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c2s4096.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c2s5242880.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c2s8387374.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c2s8388608.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c5s0.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c5s1.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c5s1022976.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c5s1048576.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c5s2.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c5s2048.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c5s2097151.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c5s3145728.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c5s4096.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c5s5242880.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c5s8387374.json
  sdk/storage/azure-storage-files-datalake/test/ut/recordings/withParam-UploadFile.fromFile-c5s8388608.json
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
Labels: Client, Storage

#3658 Add download/download directory functionality
  sdk/storage/azure-storage-datamovement/CMakeLists.txt
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/tasks/download_blob_directory_task.hpp
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/tasks/download_blob_to_file_task.hpp
  sdk/storage/azure-storage-datamovement/src/tasks/download_blob_directory_task.cpp
  sdk/storage/azure-storage-datamovement/src/tasks/download_blob_to_file_task.cpp
Labels: Client, Storage

#3676 Sync eng/common directory with azure-sdk-tools for PR 3362
  eng/common/pipelines/templates/steps/check-spelling.yml
Labels: EngSys, Central-EngSys

#3679 Sync eng/common directory with azure-sdk-tools for PR 3378
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#3681 Rewrite BlobFolder
  sdk/storage/azure-storage-datamovement/inc/azure/storage/datamovement/blob_folder.hpp
  sdk/storage/azure-storage-datamovement/samples/datamovement_getting_started.cpp
  sdk/storage/azure-storage-datamovement/src/blob_folder.cpp
  sdk/storage/azure-storage-datamovement/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-datamovement/test/ut/blob_folder_test.cpp
  sdk/storage/azure-storage-datamovement/test/ut/blob_transfer_manager_upload_test.cpp
Labels: Client, Storage
