Repository Azure/azure-sdk-for-cpp, pull requests merged in 2023-11, with the labels that each got.

#5095 Fix vcpkg install for the vendored uamqp
  sdk/core/azure-core-amqp/CMakeLists.txt
  sdk/core/azure-core-amqp/samples/README.md
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/CMakeLists.txt
Labels: Azure.Core

#5063 Sync eng/common directory with azure-sdk-tools for PR 7193
  eng/common/testproxy/target_version.txt
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#5067 Add storage FAQ
  sdk/storage/faq.md
Labels: Docs, Storage

#5103 Update faq.md link
  sdk/storage/faq.md
Labels: Docs, Client, Storage

#5098 Bump min tls version to 1.2 for storage live test storage account
  sdk/storage/test-resources.json
Labels: Central-EngSys

#5085 Disallow space character when validating tenant id and scopes as input for AzureCliCredential.
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
Labels: Azure.Identity

#5086 Create separate lists of characters that are allowed within a tenant id vs scopes in AzureCliCredential.
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/inc/azure/identity/azure_cli_credential.hpp
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
Labels: Azure.Identity

#5099 Azure Core November Release
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#5108 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core

#5109 Remove old warning suppression from Storage
  sdk/storage/azure-storage-common/CMakeLists.txt
Labels: Storage

#5110 Add a note to vcpkg manifest files that all changes made in the vcpkg repo alone might be lost.
  sdk/attestation/azure-security-attestation/vcpkg/portfile.cmake
  sdk/attestation/azure-security-attestation/vcpkg/vcpkg.json
  sdk/core/azure-core-amqp/vcpkg/portfile.cmake
  sdk/core/azure-core-amqp/vcpkg/vcpkg.json
  sdk/core/azure-core-tracing-opentelemetry/vcpkg/portfile.cmake
  sdk/core/azure-core-tracing-opentelemetry/vcpkg/vcpkg.json
  sdk/core/azure-core/vcpkg/portfile.cmake
  sdk/core/azure-core/vcpkg/vcpkg.json
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/vcpkg/portfile.cmake
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/vcpkg/vcpkg.json
  sdk/eventhubs/azure-messaging-eventhubs/vcpkg/portfile.cmake
  sdk/eventhubs/azure-messaging-eventhubs/vcpkg/vcpkg.json
  sdk/identity/azure-identity/vcpkg/portfile.cmake
  sdk/identity/azure-identity/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-certificates/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-certificates/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-secrets/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-secrets/vcpkg/vcpkg.json
  sdk/storage/azure-storage-blobs/vcpkg/portfile.cmake
  sdk/storage/azure-storage-blobs/vcpkg/vcpkg.json
  sdk/storage/azure-storage-common/vcpkg/portfile.cmake
  sdk/storage/azure-storage-common/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-datalake/vcpkg/portfile.cmake
  sdk/storage/azure-storage-files-datalake/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-shares/vcpkg/portfile.cmake
  sdk/storage/azure-storage-files-shares/vcpkg/vcpkg.json
  sdk/storage/azure-storage-queues/vcpkg/portfile.cmake
  sdk/storage/azure-storage-queues/vcpkg/vcpkg.json
  sdk/template/azure-template/vcpkg/portfile.cmake
  sdk/template/azure-template/vcpkg/vcpkg.json
Labels: EngSys

#5113 Update faq.md
  sdk/storage/faq.md
Labels: Docs, Storage

#5114 Accurate vcpkg feature availability for winhttp
  sdk/core/azure-core/vcpkg.json
  sdk/core/azure-core/vcpkg/vcpkg.json
Labels: Azure.Core, EngSys

#5100 Azure Core AMQP November Release
  sdk/core/azure-core-amqp/CHANGELOG.md
Labels: Azure.Core

#5101 Azure Messaging EventHubs November Release
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
Labels: Event Hubs

#5120 Increment version for core releases
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/src/private/package_version.hpp
Labels: Azure.Core

#5125 Sync eng/common directory with azure-sdk-tools for PR 7251
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#5096 Storage November Release
  cmake-modules/FolderList.cmake
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-blobs/vcpkg.json
  sdk/storage/azure-storage-blobs/vcpkg/vcpkg.json
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/private/package_version.hpp
  sdk/storage/azure-storage-common/vcpkg.json
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/vcpkg.json
  sdk/storage/azure-storage-files-datalake/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/vcpkg.json
  sdk/storage/azure-storage-files-shares/vcpkg/vcpkg.json
  sdk/storage/azure-storage-queues/CHANGELOG.md
  sdk/storage/azure-storage-queues/src/private/package_version.hpp
  sdk/storage/azure-storage-queues/vcpkg.json
  sdk/storage/azure-storage-queues/vcpkg/vcpkg.json
Labels: Storage

#5129 Fix malformed URL in KeyVault
  sdk/keyvault/assets.json
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
Labels: KeyVault

#5135 Increment version for storage releases
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
  sdk/storage/azure-storage-queues/CHANGELOG.md
  sdk/storage/azure-storage-queues/src/private/package_version.hpp
Labels: Storage

#5122 Move MHSM to region with more availability
  sdk/keyvault/test-resources.json
Labels: KeyVault

#5127 Sync eng/common directory with azure-sdk-tools for PR 7255
  eng/common/testproxy/onboarding/README.md
Labels: EngSys, Central-EngSys

#5106 Harden checks for the tenant ID across all inputs.
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
Labels: Azure.Identity

#5138 Unify all markup C++ code sections to use 'cpp'
  README.md
  doc/DistributedTracing.md
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/storage/MigrationGuide.md
  sdk/storage/azure-storage-blobs/README.md
  sdk/storage/azure-storage-files-datalake/README.md
  sdk/storage/azure-storage-files-shares/README.md
  sdk/storage/azure-storage-queues/README.md
  sdk/storage/faq.md
Labels: Storage, KeyVault

#5140 Drop non-essential line from Storage FAQ
  sdk/storage/faq.md
Labels: Storage

#5144 Sync eng/common directory with azure-sdk-tools for PR 7266
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#5119 Fixed AMQP Link Credits hang; fixed several AMQP memory leaks.
  CMakePresets.json
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/common/async_operation_queue.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/common/global_state.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/connection_string_credential.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_header.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_message.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_properties.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_value.hpp
  sdk/core/azure-core-amqp/src/amqp/connection.cpp
  sdk/core/azure-core-amqp/src/amqp/link.cpp
  sdk/core/azure-core-amqp/src/amqp/management.cpp
  sdk/core/azure-core-amqp/src/amqp/message_receiver.cpp
  sdk/core/azure-core-amqp/src/amqp/message_sender.cpp
  sdk/core/azure-core-amqp/src/amqp/private/link_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/session.cpp
  sdk/core/azure-core-amqp/src/common/global_state.cpp
  sdk/core/azure-core-amqp/src/models/amqp_error.cpp
  sdk/core/azure-core-amqp/src/models/amqp_header.cpp
  sdk/core/azure-core-amqp/src/models/amqp_message.cpp
  sdk/core/azure-core-amqp/src/models/amqp_properties.cpp
  sdk/core/azure-core-amqp/src/models/amqp_value.cpp
  sdk/core/azure-core-amqp/src/models/message_source.cpp
  sdk/core/azure-core-amqp/src/models/message_target.cpp
  sdk/core/azure-core-amqp/src/models/messaging_values.cpp
  sdk/core/azure-core-amqp/test/ut/amqp_message_tests.cpp
  sdk/core/azure-core-amqp/test/ut/amqp_value_tests.cpp
  sdk/core/azure-core-amqp/test/ut/management_tests.cpp
  sdk/core/azure-core-amqp/test/ut/message_sender_receiver.cpp
  sdk/core/azure-core-amqp/test/ut/message_source_target.cpp
  sdk/core/azure-core-amqp/test/ut/mock_amqp_server.hpp
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/link.c
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/models/event_data.hpp
  sdk/eventhubs/azure-messaging-eventhubs/src/event_data.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/partition_client.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/event_data_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/processor_test.cpp
Labels: Azure.Core

#5146 Sync eng/common directory with azure-sdk-tools for PR 7268
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#5142 Re-use the selected credential that works for each subsequent request in `DefaultAzureCredential` by caching the chosen credential per instance.
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/inc/azure/identity/default_azure_credential.hpp
  sdk/identity/azure-identity/src/chained_token_credential.cpp
  sdk/identity/azure-identity/src/default_azure_credential.cpp
  sdk/identity/azure-identity/src/private/chained_token_credential_impl.hpp
  sdk/identity/azure-identity/test/ut/chained_token_credential_test.cpp
  sdk/identity/azure-identity/test/ut/default_azure_credential_test.cpp
Labels: Azure.Identity

#5150 Update perf test secret_credential_test.hpp to be more generic to make local modifications and runs easier
  sdk/identity/azure-identity/test/perf/inc/azure/identity/test/secret_credential_test.hpp
Labels: pillar-performance, Azure.Identity

#5139 Fix typo in storage faq.md
  sdk/storage/faq.md
Labels: Docs, Storage

#5153 Add logging to `WorkloadIdentityCredential` to help with debugging.
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/chained_token_credential.cpp
  sdk/identity/azure-identity/src/workload_identity_credential.cpp
  sdk/identity/azure-identity/test/ut/default_azure_credential_test.cpp
Labels: Azure.Identity

#5156 Revert order of credentials used within the `DefaultAzureCredential` back to what it was at previous GA.
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/img/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/azure-identity/img/mermaidjs/DefaultAzureCredentialAuthFlow.svg
  sdk/identity/azure-identity/inc/azure/identity/default_azure_credential.hpp
  sdk/identity/azure-identity/src/default_azure_credential.cpp
  sdk/identity/azure-identity/test/ut/default_azure_credential_test.cpp
Labels: Azure.Identity

#5155 Incapsulate all the defaults for options values such as authority host in a helper class and add authority host url validation.
  sdk/core/azure-core/test/ut/url_test.cpp
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/inc/azure/identity/client_certificate_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/client_secret_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/detail/client_credential_core.hpp
  sdk/identity/azure-identity/inc/azure/identity/workload_identity_credential.hpp
  sdk/identity/azure-identity/src/client_credential_core.cpp
  sdk/identity/azure-identity/src/workload_identity_credential.cpp
  sdk/identity/azure-identity/test/ut/client_certificate_credential_test.cpp
  sdk/identity/azure-identity/test/ut/client_secret_credential_test.cpp
  sdk/identity/azure-identity/test/ut/workload_identity_credential_test.cpp
Labels: Azure.Identity

#5102 Azure Identity November Release
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Labels: Azure.Identity

#5157 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Labels: Azure.Identity

#5136 update storage cgmanifest.json
  sdk/storage/azure-storage-blobs/cgmanifest.json
  sdk/storage/azure-storage-common/cgmanifest.json
  sdk/storage/azure-storage-files-datalake/cgmanifest.json
  sdk/storage/azure-storage-files-shares/cgmanifest.json
  sdk/storage/azure-storage-queues/cgmanifest.json
Labels: Storage

#5160 Storage/Add Public Access for Blob and Datalake Account
  sdk/storage/test-resources.json
Labels: Storage

#5161 Sync eng/common directory with azure-sdk-tools for PR 7262
  eng/common/scripts/Prepare-Release.ps1
Labels: EngSys, Central-EngSys

#5165 Sync eng/common directory with azure-sdk-tools for PR 7276
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#5168 Sync .github/workflows directory with azure-sdk-tools for PR 7284
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#5134 Storage/STG92 Features
  sdk/storage/assets.json
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
Labels: Storage

#5173 Sync eng/common directory with azure-sdk-tools for PR 7310
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#5174 Sync eng/common directory with azure-sdk-tools for PR 7324
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#5176 Sync eng/common directory with azure-sdk-tools for PR 7322
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: EngSys, Central-EngSys

#5175 Make vcpkg.json comment multiline
  cmake-modules/AzureVcpkg.cmake
  sdk/attestation/azure-security-attestation/vcpkg/vcpkg.json
  sdk/core/azure-core-amqp/vcpkg/vcpkg.json
  sdk/core/azure-core-tracing-opentelemetry/test/ut/test_exporter.hpp
  sdk/core/azure-core-tracing-opentelemetry/vcpkg/vcpkg.json
  sdk/core/azure-core/vcpkg/vcpkg.json
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/vcpkg/vcpkg.json
  sdk/eventhubs/azure-messaging-eventhubs/vcpkg/vcpkg.json
  sdk/identity/azure-identity/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-certificates/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-secrets/vcpkg/vcpkg.json
  sdk/storage/azure-storage-blobs/vcpkg/vcpkg.json
  sdk/storage/azure-storage-common/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-datalake/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-shares/vcpkg/vcpkg.json
  sdk/storage/azure-storage-queues/vcpkg/vcpkg.json
  sdk/template/azure-template/vcpkg/vcpkg.json
  vcpkg.json
Labels: EngSys

#5159 update storage NOTICE.txt
  .vscode/cspell.json
  sdk/storage/azure-storage-blobs/NOTICE.txt
  sdk/storage/azure-storage-common/NOTICE.txt
  sdk/storage/azure-storage-files-datalake/NOTICE.txt
  sdk/storage/azure-storage-files-shares/NOTICE.txt
  sdk/storage/azure-storage-queues/NOTICE.txt
Labels: Client, Storage

#5196 replace internal functions in storage sample code
  sdk/storage/azure-storage-blobs/samples/blob_sas.cpp
Labels: Storage

#5181 Temporarily disable UWP CI
  eng/pipelines/templates/stages/platform-matrix.json
Labels: EngSys

#5185 FIx some typos
  doc/TestProxy.md
  sdk/attestation/azure-security-attestation/samples/policy/cryptohelpers.hpp
  sdk/attestation/azure-security-attestation/src/private/crypto/inc/crypto.hpp
  sdk/attestation/azure-security-attestation/src/private/crypto/openssl/opensslcert.cpp
  sdk/attestation/azure-security-attestation/test/ut/policycertmgmt_test.cpp
  sdk/core/azure-core-amqp/test/ut/amqp_value_tests.cpp
  sdk/core/azure-core/inc/azure/core/http/win_http_transport.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/models/management_models.hpp
  sdk/eventhubs/azure-messaging-eventhubs/test/perf/inc/azure/messaging/eventhubs/test/eventhubs_batch_perf_test.hpp
Labels: Docs, MQ

#5187 URL: avoid double slash at the start of the path
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/http/url.cpp
  sdk/core/azure-core/test/ut/url_test.cpp
Labels: Azure.Core, MQ

#5178 Nullable::Emplace() to set HasValue()
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/nullable.hpp
  sdk/core/azure-core/test/ut/nullable_test.cpp
Labels: Azure.Core

#5186 Remove some usages of internal APIs in samples
  samples/integration/vcpkg-all-smoke/src/main.cpp
  sdk/attestation/azure-security-attestation/samples/policy/reset_policy.cpp
  sdk/attestation/azure-security-attestation/samples/policy/reset_sealed_policy.cpp
  sdk/attestation/azure-security-attestation/samples/policy/set_policy.cpp
  sdk/eventhubs/azure-messaging-eventhubs/samples/consume-events/consume_events.cpp
Labels: Attestation, Event Hubs, MQ

#5202 Fix some spelling errors (for some PRs that are currently in review)
  .vscode/cspell.json
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/core/azure-core/test/ut/datetime_test.cpp
Labels: Docs, EngSys

#5184 Include error details into Identity exceptions
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/token_credential_impl.cpp
  sdk/identity/azure-identity/test/ut/token_credential_impl_test.cpp
Labels: Azure.Identity, MQ

#5197 `ClientCertificateCredential`: better exception message for unsupported file extensions
  .vscode/cspell.json
  sdk/identity/azure-identity/src/client_certificate_credential.cpp
  sdk/identity/azure-identity/test/ut/client_certificate_credential_test.cpp
Labels: Azure.Identity, MQ

#5188 `BearerTokenAuthenticationPolicy` to use shared_lock in case no refresh is needed
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/core/azure-core/src/http/bearer_token_authentication_policy.cpp
Labels: Azure.Core, Azure.Identity, MQ

#5152 Fix the x64 release with perf tests CMakePresets.json by adding the missing `enable-tests` inheritance
  CMakePresets.json
Labels: EngSys, MQ

#5208 Fix typos in storage SDK
  .vscode/cspell.json
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-blobs/test/perf/inc/azure/storage/blobs/test/upload_blob_test.hpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
Labels: Storage

#5182 Use the same client-request-id for retry requests
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/constants.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/reliable_stream.hpp
  sdk/storage/azure-storage-common/src/reliable_stream.cpp
  sdk/storage/azure-storage-common/src/storage_per_retry_policy.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
Labels: Client, Storage

#5189 Add thread safety for `KeyVaultChallengeBasedAuthenticationPolicy`
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-shared/inc/azure/keyvault/shared/keyvault_challenge_based_auth.hpp
Labels: Azure.Identity, KeyVault

#5183 Change samples to use `DefaultAzureCredential`
  .vscode/cspell.json
  samples/integration/vcpkg-all-smoke/src/main.cpp
  sdk/attestation/azure-security-attestation/README.md
  sdk/attestation/azure-security-attestation/samples/attestation/attest_openenclave_shared.cpp
  sdk/attestation/azure-security-attestation/samples/attestation/attest_openenclave_with_draft_policy.cpp
  sdk/attestation/azure-security-attestation/samples/attestation/attest_sgxenclave.cpp
  sdk/attestation/azure-security-attestation/samples/attestation/attest_sgxenclave_with_runtime_binary.cpp
  sdk/attestation/azure-security-attestation/samples/attestation/attest_sgxenclave_with_runtime_json.cpp
  sdk/attestation/azure-security-attestation/samples/basic-operations/create_admin_client.cpp
  sdk/attestation/azure-security-attestation/samples/basic-operations/get_open-id_metadata.cpp
  sdk/attestation/azure-security-attestation/samples/basic-operations/get_signing_certificates.cpp
  sdk/attestation/azure-security-attestation/samples/policy-certificates/add_policy_certificate.cpp
  sdk/attestation/azure-security-attestation/samples/policy-certificates/get_policy_certificates.cpp
  sdk/attestation/azure-security-attestation/samples/policy/get_policy.cpp
  sdk/attestation/azure-security-attestation/samples/policy/reset_policy.cpp
  sdk/attestation/azure-security-attestation/samples/policy/reset_sealed_policy.cpp
  sdk/attestation/azure-security-attestation/samples/policy/set_policy.cpp
  sdk/attestation/azure-security-attestation/samples/policy/set_sealed_policy.cpp
  sdk/core/azure-core-amqp/samples/internal/eventhub_get_properties_sample/eventhub_get_eventhub_properties_sample.cpp
  sdk/core/azure-core-amqp/samples/internal/eventhub_token_writer_sample/eventhub_token_writer_sample.cpp
  sdk/eventhubs/azure-messaging-eventhubs/samples/README.md
  sdk/eventhubs/azure-messaging-eventhubs/samples/basic-operations/create_consumer_aad.cpp
  sdk/eventhubs/azure-messaging-eventhubs/samples/basic-operations/create_producer_aad.cpp
  sdk/eventhubs/azure-messaging-eventhubs/samples/consume-events/consume_events_aad.cpp
  sdk/eventhubs/azure-messaging-eventhubs/samples/produce-events/produce_events_aad.cpp
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/samples/sample1_administration.md
  sdk/keyvault/azure-security-keyvault-administration/test/samples/sample1-basic-operations/sample1_administration.cpp
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate_basic_operations.md
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate_get_certificates.md
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate_import_certificate.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/samples/sample1_hello_world.md
  sdk/keyvault/azure-security-keyvault-keys/samples/sample2_backup_and_restore.md
  sdk/keyvault/azure-security-keyvault-keys/samples/sample3_get_keys.md
  sdk/keyvault/azure-security-keyvault-keys/samples/sample4_encrypt_decrypt.md
  sdk/keyvault/azure-security-keyvault-keys/samples/sample5_sign_verify.md
  sdk/keyvault/azure-security-keyvault-keys/samples/sample6_wrap_unwrap.md
  sdk/keyvault/azure-security-keyvault-keys/samples/sample7_key_rotation.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample1_basic_operations.md
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample2_backup_restore.md
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample3_delete_recover.md
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample4_get_secrets_deleted.md
  sdk/keyvault/azure-security-keyvault-secrets/test/samples/sample1-basic-operations/sample1_basic_operations.cpp
  sdk/keyvault/azure-security-keyvault-secrets/test/samples/sample2-backup-restore/sample2_backup_restore.cpp
  sdk/keyvault/azure-security-keyvault-secrets/test/samples/sample3-delete-recover/sample3_delete_recover.cpp
  sdk/keyvault/azure-security-keyvault-secrets/test/samples/sample4-get-secrets-deleted/sample4_get_secrets_deleted.cpp
  sdk/keyvault/tools/cleanup/src/cleanup.cpp
  sdk/storage/MigrationGuide.md
Labels: Azure.Identity, MQ

#5177 Move `Azure::Core::_internal::UniqueHandleHelper` to `_detail`
  .vscode/cspell.json
  sdk/core/azure-core-amqp/CMakeLists.txt
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/models/amqp_protocol.hpp
  sdk/core/azure-core-amqp/src/amqp/connection.cpp
  sdk/core/azure-core-amqp/src/amqp/management.cpp
  sdk/core/azure-core-amqp/src/amqp/message_receiver.cpp
  sdk/core/azure-core-amqp/src/amqp/message_sender.cpp
  sdk/core/azure-core-amqp/src/amqp/private/claims_based_security_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/connection_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/message_receiver_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/message_sender_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/session_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/unique_handle.hpp
  sdk/core/azure-core-amqp/src/amqp/session.cpp
  sdk/core/azure-core-amqp/src/models/amqp_error.cpp
  sdk/core/azure-core-amqp/src/models/amqp_header.cpp
  sdk/core/azure-core-amqp/src/models/amqp_message.cpp
  sdk/core/azure-core-amqp/src/models/amqp_properties.cpp
  sdk/core/azure-core-amqp/src/models/amqp_value.cpp
  sdk/core/azure-core-amqp/src/models/message_source.cpp
  sdk/core/azure-core-amqp/src/models/message_target.cpp
  sdk/core/azure-core-amqp/src/models/private/error_impl.hpp
  sdk/core/azure-core-amqp/src/models/private/header_impl.hpp
  sdk/core/azure-core-amqp/src/models/private/message_impl.hpp
  sdk/core/azure-core-amqp/src/models/private/properties_impl.hpp
  sdk/core/azure-core-amqp/src/models/private/source_impl.hpp
  sdk/core/azure-core-amqp/src/models/private/target_impl.hpp
  sdk/core/azure-core-amqp/src/models/private/value_impl.hpp
  sdk/core/azure-core-amqp/src/network/private/transport_impl.hpp
  sdk/core/azure-core-amqp/src/network/transport.cpp
  sdk/core/azure-core/inc/azure/core/http/win_http_transport.hpp
  sdk/core/azure-core/inc/azure/core/internal/unique_handle.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_private.hpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/eventhubs_admin_client.cpp
Labels: Azure.Core, MQ

#5211 Identity changelog update - PR feedback
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity, MQ

#5204 Revert "Storage/STG92 List Handles Include Client Name (#5134)"
  sdk/storage/assets.json
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
Labels: Client, Storage

#5213 Initial cut at snippet generation tool. Also updated KeyVault Secrets readme to use snippets as a working proof of concept.
  doc/SnippetGeneration.md
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/cmake-generate.tests.yml
  eng/pipelines/templates/steps/cmake-generate.yml
  eng/scripts/Generate-Snippets.ps1
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/samples/README.md
  sdk/core/azure-core-amqp/samples/internal/eventhub_async_writer_sample/eventhub_async_writer_sample.cpp
  sdk/core/azure-core-amqp/samples/internal/eventhub_token_reader_sample/eventhub_token_reader_sample.cpp
  sdk/core/azure-core-amqp/samples/internal/eventhub_writer_sample/eventhub_writer_sample.cpp
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/test/samples/sample1-basic-operations/sample1_basic_operations.cpp
  sdk/keyvault/azure-security-keyvault-secrets/test/samples/sample4-get-secrets-deleted/sample4_get_secrets_deleted.cpp
Labels: Azure.Core, KeyVault

#5216 Sync eng/common directory with azure-sdk-tools for PR 7369
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys
