Repository Azure/azure-sdk-for-cpp, pull requests merged in 2023-04, with the labels that each got.

#4519 Sync eng/common directory with azure-sdk-tools for PR 5918
  eng/common/pipelines/templates/steps/credscan.yml
Labels: EngSys, Central-EngSys

#4520 Sync eng/common directory with azure-sdk-tools for PR 5924
  eng/common/TestResources/SubConfig-Helpers.ps1
Labels: EngSys, Central-EngSys

#4494 Update README.md to fix markdown linter errors
  README.md
  sdk/core/azure-core/src/datetime.cpp
Labels: Docs

#4516 Core April Beta Release
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#4517 Identity April Beta Release
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#4530 [Azure.Core] Disable TCP_FAST_OPEN to avoid a WinHttp issue
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Labels: Azure.Core

#4531 Move bug fix to the right place in changelog
  sdk/core/azure-core/CHANGELOG.md
Labels: Docs, Azure.Core

#4534 Created transparent form of Azure::Core::Uuid
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/uuid.hpp
  sdk/core/azure-core/src/uuid.cpp
  sdk/core/azure-core/test/ut/uuid_test.cpp
Labels: Azure.Core

#4533 Enable GitHub Event Processor for CPP
  .github/event-processor.config
  .github/fabricbot.json
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: Central-EngSys

#4540 Transparent Uuid part 2.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/uuid.hpp
  sdk/core/azure-core/src/uuid.cpp
  sdk/core/azure-core/test/ut/uuid_test.cpp
Labels: Azure.Core

#4545 Increment version for keyvault releases
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/src/private/package_version.hpp
Labels: KeyVault

#4544 Update cspell.json to include OIDC to fix spell check error in event-processor.yml
  .github/workflows/event-processor.yml
  .vscode/cspell.json
  sdk/core/azure-core/test/ut/context_test.cpp
Labels: EngSys

#4546 Make sure PRs modifying root samples and .github files within the repo get core CI triggered
  sdk/core/ci.yml
Labels: EngSys, MQ

#4537 Sync eng/common directory with azure-sdk-tools for PR 5951
  eng/common/scripts/Add-RetentionLease.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/logging.ps1
Labels: EngSys, Central-EngSys

#4548 Cleaned up AmqpValue, MessageProperties, MessageHeader and Message to be more C++-like.
  sdk/core/azure-core-amqp/inc/azure/core/amqp/message_receiver.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_header.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_message.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_properties.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_value.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/message_source.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/message_target.hpp
  sdk/core/azure-core-amqp/samples/eventhub_async_writer_sample/eventhub_async_writer_sample.cpp
  sdk/core/azure-core-amqp/samples/eventhub_sas_writer_sample/eventhub_sas_writer_sample.cpp
  sdk/core/azure-core-amqp/samples/eventhub_token_writer_sample/eventhub_token_writer_sample.cpp
  sdk/core/azure-core-amqp/samples/eventhub_writer_sample/eventhub_writer_sample.cpp
  sdk/core/azure-core-amqp/samples/local_client_async_sample/local_client_async_sample.cpp
  sdk/core/azure-core-amqp/samples/local_client_sample/local_client_sample.cpp
  sdk/core/azure-core-amqp/samples/local_server_sample/local_server_sample.cpp
  sdk/core/azure-core-amqp/src/amqp/claim_based_security.cpp
  sdk/core/azure-core-amqp/src/amqp/message_sender.cpp
  sdk/core/azure-core-amqp/src/models/amqp_header.cpp
  sdk/core/azure-core-amqp/src/models/amqp_message.cpp
  sdk/core/azure-core-amqp/src/models/amqp_properties.cpp
  sdk/core/azure-core-amqp/src/models/amqp_value.cpp
  sdk/core/azure-core-amqp/src/models/message_source.cpp
  sdk/core/azure-core-amqp/src/models/message_target.cpp
  sdk/core/azure-core-amqp/test/ut/amqp_header_tests.cpp
  sdk/core/azure-core-amqp/test/ut/amqp_message_tests.cpp
  sdk/core/azure-core-amqp/test/ut/amqp_properties_tests.cpp
  sdk/core/azure-core-amqp/test/ut/amqp_value_tests.cpp
  sdk/core/azure-core-amqp/test/ut/connection_tests.cpp
  sdk/core/azure-core-amqp/test/ut/message_sender_receiver.cpp
  sdk/core/azure-core-amqp/test/ut/message_source_target.cpp
  sdk/core/azure-core-amqp/test/ut/mock_amqp_server.hpp
Labels: Azure.Core

#4554 Fixed the UUID generation logic so that the variant digit is RFC 4122 conforming.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/uuid.hpp
  sdk/core/azure-core/src/uuid.cpp
  sdk/core/azure-core/test/ut/uuid_test.cpp
Labels: bug, Azure.Core

#4556 Sync eng/common directory with azure-sdk-tools for PR 5991
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#4558 Sync eng/common directory with azure-sdk-tools for PR 5995
  eng/common/scripts/TypeSpec-Project-Sync.ps1
Labels: EngSys, Central-EngSys

#4561 Sync eng/common directory with azure-sdk-tools for PR 6004
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Labels: EngSys, Central-EngSys

#4560 Create AMQP Management APIs; significant cleanup of Impl types to remove reference values.
  sdk/core/azure-core-amqp/CMakeLists.txt
  sdk/core/azure-core-amqp/inc/azure/core/amqp/claims_based_security.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/common/async_operation_queue.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/management.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/message_receiver.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/message_sender.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_header.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_message.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_properties.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_value.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/private/claims_based_security_impl.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/private/connection_impl.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/private/link_impl.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/private/management_impl.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/private/message_receiver_impl.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/private/message_sender_impl.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/private/session_impl.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/session.hpp
  sdk/core/azure-core-amqp/samples/eventhub_async_writer_sample/eventhub_async_writer_sample.cpp
  sdk/core/azure-core-amqp/samples/eventhub_reader_sample/eventhub_reader_sample.cpp
  sdk/core/azure-core-amqp/samples/eventhub_sas_reader_sample/eventhub_sas_reader_sample.cpp
  sdk/core/azure-core-amqp/samples/eventhub_sas_writer_sample/eventhub_sas_writer_sample.cpp
  sdk/core/azure-core-amqp/samples/eventhub_token_writer_sample/eventhub_token_writer_sample.cpp
  sdk/core/azure-core-amqp/samples/eventhub_writer_sample/eventhub_writer_sample.cpp
  sdk/core/azure-core-amqp/samples/local_client_async_sample/local_client_async_sample.cpp
  sdk/core/azure-core-amqp/samples/local_client_sample/local_client_sample.cpp
  sdk/core/azure-core-amqp/samples/local_server_sample/local_server_sample.cpp
  sdk/core/azure-core-amqp/src/amqp/claim_based_security.cpp
  sdk/core/azure-core-amqp/src/amqp/connection.cpp
  sdk/core/azure-core-amqp/src/amqp/link.cpp
  sdk/core/azure-core-amqp/src/amqp/management.cpp
  sdk/core/azure-core-amqp/src/amqp/message_receiver.cpp
  sdk/core/azure-core-amqp/src/amqp/message_sender.cpp
  sdk/core/azure-core-amqp/src/amqp/session.cpp
  sdk/core/azure-core-amqp/src/models/amqp_header.cpp
  sdk/core/azure-core-amqp/src/models/amqp_message.cpp
  sdk/core/azure-core-amqp/src/models/amqp_properties.cpp
  sdk/core/azure-core-amqp/src/models/amqp_value.cpp
  sdk/core/azure-core-amqp/test/ut/CMakeLists.txt
  sdk/core/azure-core-amqp/test/ut/amqp_header_tests.cpp
  sdk/core/azure-core-amqp/test/ut/amqp_message_tests.cpp
  sdk/core/azure-core-amqp/test/ut/amqp_properties_tests.cpp
  sdk/core/azure-core-amqp/test/ut/amqp_value_tests.cpp
  sdk/core/azure-core-amqp/test/ut/claim_based_security_tests.cpp
  sdk/core/azure-core-amqp/test/ut/connection_tests.cpp
  sdk/core/azure-core-amqp/test/ut/management_tests.cpp
  sdk/core/azure-core-amqp/test/ut/message_sender_receiver.cpp
  sdk/core/azure-core-amqp/test/ut/mock_amqp_server.hpp
Labels: Azure.Core

#4562 Fix `Get-BinarySizes.ps1` to handle new `OsVMImage` names for Ubuntu
  eng/scripts/Get-BinarySizes.ps1
Labels: Central-EngSys

#4563 Sync eng/common directory with azure-sdk-tools for PR 5911
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#4559 Storage/stg88 protocol layer
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
Labels: Storage

#4570 Azure Core April OOB Patch Release (1.8.2)
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core

#4574 Update changelog after Core 1.8.2 release
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#4569 Update github event processor to 1.0.0-dev.20230422.1
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: Central-EngSys

#4581 Sync eng/common directory with azure-sdk-tools for PR 6045
  eng/common/scripts/Verify-RequiredDocsJsonMembers.ps1
Labels: EngSys, Central-EngSys

#4582 Storage/fix encryption context
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
Labels: Storage

#4567 Storage/Added Owner, Group, and Permissions
  sdk/storage/assets.json
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/private/datalake_constants.hpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_path_client_test.cpp
Labels: Storage

#4585 Storage/List Handles Access Rights
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
Labels: Storage

#4588 Fail C++ CI and release pipeline if API review is not approved for a …
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: Central-EngSys

#4587 Added message serialization capability to AMQP.
  CMakeLists.txt
  sdk/core/CMakeLists.txt
  sdk/core/azure-core-amqp/CMakeLists.txt
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_header.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_message.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_properties.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_protocol.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_value.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/private/session_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/management.cpp
  sdk/core/azure-core-amqp/src/amqp/session.cpp
  sdk/core/azure-core-amqp/src/models/amqp_header.cpp
  sdk/core/azure-core-amqp/src/models/amqp_message.cpp
  sdk/core/azure-core-amqp/src/models/amqp_properties.cpp
  sdk/core/azure-core-amqp/src/models/amqp_value.cpp
  sdk/core/azure-core-amqp/src/network/sasl_transport.cpp
  sdk/core/azure-core-amqp/test/ut/amqp_header_tests.cpp
  sdk/core/azure-core-amqp/test/ut/amqp_message_tests.cpp
  sdk/core/azure-core-amqp/test/ut/amqp_properties_tests.cpp
  sdk/core/azure-core-amqp/test/ut/amqp_value_tests.cpp
  sdk/core/azure-core-amqp/test/ut/management_tests.cpp
  sdk/core/azure-core-amqp/test/ut/mock_amqp_server.hpp
Labels: Azure.Core

#4593 Added checks to help diagnose intermittent globalCleanUp test failure
  sdk/core/azure-core/src/http/curl/curl_session_private.hpp
  sdk/core/azure-core/test/ut/azure_libcurl_core_main_test.cpp
Labels: Azure.Core

#4594 Larryo/mergemaintoamqp
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
  eng/common/scripts/Add-RetentionLease.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/TypeSpec-Project-Sync.ps1
  eng/common/scripts/Verify-RequiredDocsJsonMembers.ps1
  eng/common/scripts/logging.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
  eng/common/testproxy/target_version.txt
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/stages/archetype-cpp-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/stages/platform-matrix-quick.json
  eng/pipelines/templates/stages/platform-matrix.json
  eng/scripts/Get-BinarySizes.ps1
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/uuid.hpp
  sdk/core/azure-core/src/uuid.cpp
  sdk/core/azure-core/test/ut/uuid_test.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
Labels: Azure.Core, Storage
