Repository Azure/azure-sdk-for-cpp, pull requests merged in 2023-10, with the labels that each got.

#4997 Sync eng/common directory with azure-sdk-tools for PR 7040
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Helpers/Service-Level-Readme-Automation-Helpers.ps1
  eng/common/scripts/Service-Level-Readme-Automation.ps1
  eng/common/scripts/Update-DocsMsMetadata.ps1
  eng/common/scripts/get-codeowners.lib.ps1
  eng/common/scripts/get-codeowners.ps1
Labels: EngSys, Central-EngSys

#4998 Vcpkg-related fixes for checkpointstore-blob
  cmake-modules/FolderList.cmake
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CMakeLists.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/test/ut/CMakeLists.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/vcpkg/vcpkg.json
Labels: EngSys, Event Hubs

#5001 Update comments for AzureTransportAdapters.cmake
  cmake-modules/AzureTransportAdapters.cmake
Labels: Azure.Core, EngSys

#4980 Change the default value for the authority host option to be read from the environment variable first.
  .gitignore
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/inc/azure/identity/client_certificate_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/client_secret_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/detail/client_credential_core.hpp
  sdk/identity/azure-identity/inc/azure/identity/workload_identity_credential.hpp
  sdk/identity/azure-identity/src/client_credential_core.cpp
  sdk/identity/azure-identity/src/environment_credential.cpp
  sdk/identity/azure-identity/src/workload_identity_credential.cpp
  sdk/identity/azure-identity/test/ut/client_certificate_credential_test.cpp
  sdk/identity/azure-identity/test/ut/client_secret_credential_test.cpp
Labels: Azure.Identity

#5009 Remove OPENSSL_VERSION_NUMBER version check for the CAPath option in libcurl
  sdk/core/azure-core/inc/azure/core/http/curl_transport.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/test/ut/curl_options_test.cpp
Labels: Azure.Core

#4979 Do not throw an exception during `AzureCliCredential` construction, but rather delay it on GetToken() call.
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
Labels: Azure.Identity

#5003 Azure Core October Beta Releases
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#5012 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core

#5013 Increment version for core releases
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/src/private/package_version.hpp
Labels: Azure.Core

#5014 Sync .github/workflows directory with azure-sdk-tools for PR 7071
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#5016 Sync eng/common directory with azure-sdk-tools for PR 7072
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Labels: EngSys, Central-EngSys

#5019 Storage/STG91 Audience remove scope
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_options.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/bearer_token_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/constants.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_credential.hpp
  sdk/storage/azure-storage-common/src/storage_credential.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_options.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_options.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
  sdk/storage/azure-storage-queues/src/queue_client.cpp
  sdk/storage/azure-storage-queues/src/queue_options.cpp
  sdk/storage/azure-storage-queues/src/queue_service_client.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_client_test.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_service_client_test.cpp
Labels: Storage

#5022 Storage/STG91 Renamed PublicAudience to DefaultAudience
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/src/blob_options.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/constants.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_options.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/src/share_options.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/queue_options.hpp
  sdk/storage/azure-storage-queues/src/queue_options.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_client_test.cpp
Labels: Storage

#5023 Storage/Change test record tenant id
  sdk/storage/assets.json
  sdk/storage/ci.yml
Labels: Storage

#5005 Azure Event Hubs October Releases
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
Labels: Event Hubs

#5025 Sync .github/workflows directory with azure-sdk-tools for PR 7098
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#5021 Implement purge check intead of blind timeout
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample2-backup-and-restore/sample2_backup_and_restore.cpp
Labels: KeyVault

#5017 Sync eng/common directory with azure-sdk-tools for PR 7067
  eng/common/scripts/TypeSpec-Project-Generate.ps1
Labels: EngSys, Central-EngSys

#5028 Sync eng/common directory with azure-sdk-tools for PR 7106
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#5010 Azure Identity October Release
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#5034 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Labels: Azure.Identity

#5026 Storage/STG91 Move audience out of models namespace and add help function for audience
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/src/blob_options.cpp
  sdk/storage/azure-storage-blobs/test/ut/bearer_token_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_options.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_utilities.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/src/share_options.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/queue_options.hpp
  sdk/storage/azure-storage-queues/src/queue_options.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_client_test.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_service_client_test.cpp
Labels: Storage

#5032 Sync eng/common directory with azure-sdk-tools for PR 7113
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#5038 Storage October release
  cmake-modules/FolderList.cmake
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/vcpkg.json
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/vcpkg.json
  sdk/storage/azure-storage-common/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/vcpkg.json
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/vcpkg.json
  sdk/storage/azure-storage-queues/CHANGELOG.md
  sdk/storage/azure-storage-queues/vcpkg.json
Labels: Storage

#5040 Increment version for storage releases
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
  sdk/storage/azure-storage-queues/CHANGELOG.md
  sdk/storage/azure-storage-queues/src/private/package_version.hpp
Labels: Storage

#5031 clang-13 version of cstdlib doesn't define integer types in global na…
  CMakePresets.json
  eng/pipelines/templates/stages/platform-matrix.json
  sdk/core/azure-core/inc/azure/core/base64.hpp
  sdk/core/azure-core/inc/azure/core/uuid.hpp
Labels: Azure.Core

#5041 Replace AAD references in azure-identity
  .vscode/cspell.json
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/inc/azure/identity/azure_cli_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/client_certificate_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/client_secret_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/workload_identity_credential.hpp
Labels: Azure.Identity

#5036 Add retry for the restore operation in sample
  sdk/keyvault/azure-security-keyvault-keys/test/samples/sample2-backup-and-restore/sample2_backup_and_restore.cpp
Labels: KeyVault

#5048 Sync eng/common directory with azure-sdk-tools for PR 7171
  eng/common/TestResources/Update-TestResources.ps1
Labels: EngSys, Central-EngSys

#5042 Storage/Added x-ms-file-request-intent to PutRangeFromUrl
  sdk/storage/assets.json
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
Labels: Storage

#5047 Enable TLS 1.3 support
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Labels: Azure.Core

#5018 Fully functioning eventhubs processor.
  CMakePresets.json
  sdk/core/azure-core-amqp/inc/azure/core/amqp/claims_based_security.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/common/global_state.hpp
  sdk/core/azure-core-amqp/src/amqp/claim_based_security.cpp
  sdk/core/azure-core-amqp/src/amqp/connection.cpp
  sdk/core/azure-core-amqp/src/amqp/management.cpp
  sdk/core/azure-core-amqp/src/amqp/message_receiver.cpp
  sdk/core/azure-core-amqp/src/amqp/message_sender.cpp
  sdk/core/azure-core-amqp/src/amqp/private/connection_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/management_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/message_receiver_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/message_sender_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/session_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/session.cpp
  sdk/core/azure-core-amqp/src/models/amqp_value.cpp
  sdk/core/azure-core-amqp/test/ut/amqp_value_tests.cpp
  sdk/core/azure-core-amqp/test/ut/async_operation_queue_tests.cpp
  sdk/core/azure-core-amqp/test/ut/claim_based_security_tests.cpp
  sdk/core/azure-core-amqp/test/ut/transport_tests.cpp
  sdk/core/azure-core/src/environment_log_level_listener.cpp
  sdk/eventhubs/azure-messaging-eventhubs/CMakeLists.txt
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/consumer_client.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/models/checkpoint_store_models.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/models/processor_load_balancer_models.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/partition_client.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/processor.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/processor_partition_client.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/producer_client.hpp
  sdk/eventhubs/azure-messaging-eventhubs/src/checkpoint_store.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/consumer_client.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/event_data_batch.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/eventhubs_utilities.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/partition_client.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/partition_client_models.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/private/eventhubs_constants.hpp
  sdk/eventhubs/azure-messaging-eventhubs/src/private/eventhubs_utilities.hpp
  sdk/eventhubs/azure-messaging-eventhubs/src/private/processor_load_balancer.hpp
  sdk/eventhubs/azure-messaging-eventhubs/src/private/retry_operation.hpp
  sdk/eventhubs/azure-messaging-eventhubs/src/processor.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/processor_load_balancer.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/processor_partition_client.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/producer_client.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/CMakeLists.txt
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/checkpoint_store_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/consumer_client_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/eventhubs_admin_client.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/processor_load_balancer_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/processor_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/producer_client_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/round_trip_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/test_checkpoint_store.hpp
Labels: Azure.Core

#5054 Sync eng/common directory with azure-sdk-tools for PR 7185
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#5051 Reworked TLS 1.3 change; add WS2019 test coverage
  eng/pipelines/templates/stages/platform-matrix.json
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Labels: Azure.Core

#5055 Remove code coverage exclusions from Azure SDK for C++
  sdk/attestation/azure-security-attestation/samples/policy-certificates/cryptohelpers.hpp
  sdk/attestation/azure-security-attestation/src/private/crypto/openssl/opensslcert.cpp
  sdk/attestation/azure-security-attestation/src/private/crypto/openssl/opensslcert.hpp
  sdk/attestation/ci.yml
  sdk/core/azure-core-amqp/inc/azure/core/amqp/connection.hpp
  sdk/core/azure-core-amqp/src/amqp/claim_based_security.cpp
  sdk/core/azure-core-amqp/src/amqp/connection.cpp
  sdk/core/azure-core-amqp/src/amqp/link.cpp
  sdk/core/azure-core-amqp/src/amqp/management.cpp
  sdk/core/azure-core-amqp/src/amqp/message_receiver.cpp
  sdk/core/azure-core-amqp/src/amqp/message_sender.cpp
  sdk/core/azure-core-amqp/src/amqp/session.cpp
  sdk/core/azure-core-amqp/src/common/global_state.cpp
  sdk/core/azure-core-amqp/src/models/amqp_header.cpp
  sdk/core/azure-core-amqp/src/models/amqp_message.cpp
  sdk/core/azure-core-amqp/src/models/amqp_properties.cpp
  sdk/core/azure-core-amqp/src/models/message_source.cpp
  sdk/core/azure-core-amqp/src/models/message_target.cpp
  sdk/core/azure-core-amqp/src/network/sasl_transport.cpp
  sdk/core/azure-core-amqp/src/network/transport.cpp
  sdk/core/azure-core/src/azure_assert.cpp
  sdk/core/azure-core/src/cryptography/md5.cpp
  sdk/core/azure-core/src/cryptography/sha_hash.cpp
  sdk/core/azure-core/src/datetime.cpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/assert_test.cpp
  sdk/core/ci.yml
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/identity/azure-identity/src/environment_credential.cpp
  sdk/identity/azure-identity/src/managed_identity_credential.cpp
  sdk/identity/azure-identity/src/token_credential_impl.cpp
Labels: Azure.Core, Azure.Identity, Attestation

#5060 Updated changelog for azure core; azure core amqp; and eventhubs.
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
Labels: Azure.Core

#5062 Add issue link for the fixed bug in the changelog
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#5064 Prefix interal macros with _azure_ to 'remove' them from the public area
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/processor.hpp
  sdk/eventhubs/azure-messaging-eventhubs/src/private/processor_load_balancer.hpp
  sdk/eventhubs/azure-messaging-eventhubs/src/private/retry_operation.hpp
  sdk/eventhubs/azure-messaging-eventhubs/test/CMakeLists.txt
Labels: Azure.Core

#5074 Drop Get-ApiViewCommandLine.ps1 (a script that was used for the old ApiView process)
  eng/scripts/Get-ApiViewCommandLine.ps1
Labels: Azure.Core

#5068 Ensure all-inclusive headers do include all public API headers
  sdk/core/azure-core/inc/azure/core.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs.hpp
Labels: Azure.Core, Storage

#5065 Ensure CMakeLists don't miss any files
  samples/integration/cmake-fetch-content/CMakeLists.txt
  samples/integration/vcpkg-all-smoke/CMakeLists.txt
  sdk/attestation/azure-security-attestation/CMakeLists.txt
  sdk/attestation/azure-security-attestation/samples/policy-certificates/CMakeLists.txt
  sdk/attestation/azure-security-attestation/samples/policy/CMakeLists.txt
  sdk/attestation/azure-security-attestation/test/ut/CMakeLists.txt
  sdk/core/azure-core-amqp/CMakeLists.txt
  sdk/core/azure-core-amqp/test/ut/CMakeLists.txt
  sdk/core/azure-core-amqp/test/ut_uamqp/CMakeLists.txt
  sdk/core/azure-core-test/CMakeLists.txt
  sdk/core/azure-core-tracing-opentelemetry/CMakeLists.txt
  sdk/core/azure-core-tracing-opentelemetry/test/ut/CMakeLists.txt
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/test/perf/CMakeLists.txt
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/perf/CMakeLists.txt
  sdk/core/perf/test/CMakeLists.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CMakeLists.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/test/ut/CMakeLists.txt
  sdk/eventhubs/azure-messaging-eventhubs/CMakeLists.txt
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/CMakeLists.txt
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/ut-hsm/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/CMakeLists.txt
  sdk/template/azure-template/CMakeLists.txt
Labels: Azure.Core, EngSys, Storage, Azure.Identity, KeyVault, Attestation

#5070 Fix the regex to match client secret in OAuth requests
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
  sdk/storage/assets.json
Labels: Storage, test-enhancement

#5059 Port uAMQPPython fixes to uAMQP to vendored uAMQP
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_message.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/messaging_values.hpp
  sdk/core/azure-core-amqp/src/amqp/link.cpp
  sdk/core/azure-core-amqp/src/amqp/management.cpp
  sdk/core/azure-core-amqp/src/amqp/message_receiver.cpp
  sdk/core/azure-core-amqp/src/amqp/private/link_impl.hpp
  sdk/core/azure-core-amqp/src/models/amqp_message.cpp
  sdk/core/azure-core-amqp/src/models/messaging_values.cpp
  sdk/core/azure-core-amqp/test/ut/management_tests.cpp
  sdk/core/azure-core-amqp/test/ut/message_sender_receiver.cpp
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/inc/azure_uamqp_c/amqpvalue.h
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/inc/azure_uamqp_c/link.h
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/inc/azure_uamqp_c/message.h
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/inc/azure_uamqp_c/messaging.h
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/amqp_management.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/amqpvalue.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/link.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/message.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/message_receiver.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/message_sender.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/messaging.c
Labels: Azure.Core

#5078 Added Powershell script to auto-generate the merged headers for a client SDK
  eng/scripts/Generate-Unified-Header.ps1
Labels: Azure.Core

#5057 Sync eng/common directory with azure-sdk-tools for PR 7181
  eng/common/scripts/Delete-RemoteBranches.ps1
Labels: EngSys, Central-EngSys

#5080 Sync eng/common directory with azure-sdk-tools for PR 7191
  eng/common/scripts/copy-from-blobstorage.ps1
Labels: EngSys, Central-EngSys

#5083 Small cleanup around AMQP dependencies
  sdk/core/azure-core-amqp/cgmanifest.json
  sdk/core/azure-core-amqp/vcpkg/Config.cmake.in
  sdk/core/azure-core-amqp/vcpkg/vcpkg.json
  sdk/eventhubs/azure-messaging-eventhubs/vcpkg/vcpkg.json
Labels: Azure.Core

#5084 Fix AMQP vcpkg depndencies
  sdk/core/azure-core-amqp/vcpkg/vcpkg.json
Labels: Azure.Core

#5081 Sync eng/common directory with azure-sdk-tools for PR 7200
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#5088 Storage/STG92 List Handles Include Client Name
  sdk/storage/assets.json
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
Labels: Storage

#5097 Sync eng/common directory with azure-sdk-tools for PR 5947
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys
