Repository Azure/azure-sdk-for-cpp, pull requests merged in 2023-06, with the labels that each got.

#4685 Fix live tests CI compilation (unused variable warning - gets treated as error)
  sdk/core/azure-core-amqp/test/ut/claim_based_security_tests.cpp
  sdk/core/azure-core-tracing-opentelemetry/test/ut/test_exporter.hpp
Labels: blocking-release

#4687 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core

#4697 Manually disable tests in all vcpkg portfile.cmake files
  sdk/attestation/azure-security-attestation/vcpkg/portfile.cmake
  sdk/core/azure-core-tracing-opentelemetry/vcpkg/portfile.cmake
  sdk/core/azure-core/vcpkg/portfile.cmake
  sdk/eventhubs/azure-messaging-eventhubs/vcpkg/portfile.cmake
  sdk/identity/azure-identity/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-certificates/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-secrets/vcpkg/portfile.cmake
  sdk/storage/azure-storage-blobs/vcpkg/portfile.cmake
  sdk/storage/azure-storage-common/vcpkg/portfile.cmake
  sdk/storage/azure-storage-files-datalake/vcpkg/portfile.cmake
  sdk/storage/azure-storage-queues/vcpkg/portfile.cmake
  sdk/template/azure-template/vcpkg/portfile.cmake
Labels: Azure.Core, EngSys, Storage, Azure.Identity, KeyVault, Attestation

#4698 Sync eng/common directory with azure-sdk-tools for PR 6272
  eng/common/scripts/TypeSpec-Project-Generate.ps1
  eng/common/scripts/TypeSpec-Project-Process.ps1
  eng/common/scripts/TypeSpec-Project-Sync.ps1
Labels: EngSys, Central-EngSys

#4664 Connection Reuse Test
  sdk/storage/azure-storage-blobs/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/ut/connection_reuse_test.cpp
Labels: Storage

#4690 Hopefully final AMQP shape changes.
  .clang-format
  CMakePresets.json
  sdk/core/azure-core-amqp/CMakeLists.txt
  sdk/core/azure-core-amqp/inc/azure/core/amqp/connection.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/dll_import_export.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/management.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/message_receiver.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/message_sender.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_error.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_properties.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/session.hpp
  sdk/core/azure-core-amqp/samples/internal/eventhub_async_writer_sample/eventhub_async_writer_sample.cpp
  sdk/core/azure-core-amqp/samples/internal/eventhub_get_properties_sample/CMakeLists.txt
  sdk/core/azure-core-amqp/samples/internal/eventhub_get_properties_sample/eventhub_get_eventhub_properties_sample.cpp
  sdk/core/azure-core-amqp/samples/internal/eventhub_sas_reader_sample/CMakeLists.txt
  sdk/core/azure-core-amqp/samples/internal/eventhub_sas_reader_sample/eventhub_sas_reader_sample.cpp
  sdk/core/azure-core-amqp/samples/internal/eventhub_sas_writer_sample/CMakeLists.txt
  sdk/core/azure-core-amqp/samples/internal/eventhub_sas_writer_sample/eventhub_sas_writer_sample.cpp
  sdk/core/azure-core-amqp/samples/internal/eventhub_token_reader_sample/CMakeLists.txt
  sdk/core/azure-core-amqp/samples/internal/eventhub_token_reader_sample/eventhub_token_reader_sample.cpp
  sdk/core/azure-core-amqp/samples/internal/eventhub_token_writer_sample/CMakeLists.txt
  sdk/core/azure-core-amqp/samples/internal/eventhub_token_writer_sample/eventhub_token_writer_sample.cpp
  sdk/core/azure-core-amqp/samples/internal/eventhub_writer_sample/eventhub_writer_sample.cpp
  sdk/core/azure-core-amqp/samples/internal/local_client_async_sample/local_client_async_sample.cpp
  sdk/core/azure-core-amqp/samples/internal/local_client_sample/local_client_sample.cpp
  sdk/core/azure-core-amqp/samples/internal/local_server_sample/local_server_sample.cpp
  sdk/core/azure-core-amqp/src/amqp/connection.cpp
  sdk/core/azure-core-amqp/src/amqp/link.cpp
  sdk/core/azure-core-amqp/src/amqp/management.cpp
  sdk/core/azure-core-amqp/src/amqp/message_receiver.cpp
  sdk/core/azure-core-amqp/src/amqp/message_sender.cpp
  sdk/core/azure-core-amqp/src/amqp/private/connection_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/link_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/management_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/message_receiver_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/message_sender_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/session_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/session.cpp
  sdk/core/azure-core-amqp/src/models/amqp_error.cpp
  sdk/core/azure-core-amqp/src/models/amqp_message.cpp
  sdk/core/azure-core-amqp/src/models/amqp_properties.cpp
  sdk/core/azure-core-amqp/src/models/message_source.cpp
  sdk/core/azure-core-amqp/src/models/message_target.cpp
  sdk/core/azure-core-amqp/src/models/messaging_values.cpp
  sdk/core/azure-core-amqp/src/network/socket_listener.cpp
  sdk/core/azure-core-amqp/test/CMakeLists.txt
  sdk/core/azure-core-amqp/test/ut/claim_based_security_tests.cpp
  sdk/core/azure-core-amqp/test/ut/connection_tests.cpp
  sdk/core/azure-core-amqp/test/ut/link_tests.cpp
  sdk/core/azure-core-amqp/test/ut/management_tests.cpp
  sdk/core/azure-core-amqp/test/ut/message_sender_receiver.cpp
  sdk/core/azure-core-amqp/test/ut/message_source_target.cpp
  sdk/core/azure-core-amqp/test/ut/mock_amqp_server.hpp
  sdk/core/azure-core-amqp/test/ut/session_tests.cpp
  sdk/core/azure-core-amqp/test/ut/transport_tests.cpp
  sdk/core/azure-core-amqp/test/ut_uamqp/CMakeLists.txt
  sdk/core/azure-core-amqp/test/ut_uamqp/amqp_error_tests.cpp
  sdk/core/azure-core-amqp/vcpkg/portfile.cmake
Labels: Azure.Core

#4700 Add the ability to log diagnostics using an `ostream`. Fixes #4696
  sdk/core/azure-core-amqp/src/amqp/claim_based_security.cpp
  sdk/core/azure-core-amqp/src/amqp/management.cpp
  sdk/core/azure-core-amqp/src/amqp/message_receiver.cpp
  sdk/core/azure-core-amqp/src/amqp/message_sender.cpp
  sdk/core/azure-core-amqp/src/amqp/session.cpp
  sdk/core/azure-core-amqp/src/network/socket_transport.cpp
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/internal/diagnostics/log.hpp
  sdk/core/azure-core/src/environment_log_level_listener.cpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/logger.cpp
  sdk/core/azure-core/test/ut/environment_log_level_listener_test.cpp
  sdk/core/azure-core/test/ut/logging_test.cpp
Labels: Azure.Core

#4702 Moved logger back to cerr
  sdk/core/azure-core-amqp/src/amqp/claim_based_security.cpp
  sdk/core/azure-core-amqp/src/amqp/management.cpp
  sdk/core/azure-core-amqp/src/amqp/message_receiver.cpp
  sdk/core/azure-core-amqp/src/amqp/message_sender.cpp
  sdk/core/azure-core-amqp/src/amqp/session.cpp
  sdk/core/azure-core-amqp/src/network/socket_transport.cpp
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
  sdk/core/azure-core/inc/azure/core/internal/diagnostics/log.hpp
  sdk/core/azure-core/src/environment_log_level_listener.cpp
  sdk/core/azure-core/src/logger.cpp
  sdk/core/azure-core/test/ut/environment_log_level_listener_test.cpp
  sdk/core/azure-core/test/ut/logging_test.cpp
Labels: Azure.Core

#4703 Sync eng/common directory with azure-sdk-tools for PR 6293
  eng/common/scripts/TypeSpec-Project-Process.ps1
Labels: EngSys, Central-EngSys

#4704 Sync eng/common directory with azure-sdk-tools for PR 6304
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: EngSys, Central-EngSys

#4670 Fix for the flaky curl test
  sdk/core/azure-core/src/http/curl/curl_connection_pool_private.hpp
  sdk/core/azure-core/test/ut/azure_libcurl_core_main_test.cpp
Labels: Azure.Core

#4709 Sync eng/common directory with azure-sdk-tools for PR 6305
  eng/common/scripts/TypeSpec-Project-Process.ps1
Labels: EngSys, Central-EngSys

#4667 Remove a private internal method that is not used.
  sdk/core/azure-core/inc/azure/core/operation.hpp
  sdk/core/azure-core/test/ut/operation_test.hpp
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client_operations.hpp
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_models.hpp
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/secrets/keyvault_operations.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_responses.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
Labels: Azure.Core, Storage, KeyVault

#4708 Fix copy-past errors in the decription within CMakePresets.json and use consistent spacing and x64 capitalization
  CMakePresets.json
Labels: EngSys, MQ

#4706 Convert AMQP Management APIs to use `MessageSender` and `MessageReceiver` instead of uAMQP version.
  sdk/core/azure-core-amqp/inc/azure/core/amqp/management.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/message_receiver.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/message_sender.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_value.hpp
  sdk/core/azure-core-amqp/samples/internal/eventhub_get_properties_sample/eventhub_get_eventhub_properties_sample.cpp
  sdk/core/azure-core-amqp/src/amqp/management.cpp
  sdk/core/azure-core-amqp/src/amqp/message_receiver.cpp
  sdk/core/azure-core-amqp/src/amqp/message_sender.cpp
  sdk/core/azure-core-amqp/src/amqp/private/management_impl.hpp
  sdk/core/azure-core-amqp/src/common/global_state.cpp
  sdk/core/azure-core-amqp/src/models/amqp_message.cpp
  sdk/core/azure-core-amqp/src/models/amqp_value.cpp
  sdk/core/azure-core-amqp/test/ut/amqp_message_tests.cpp
  sdk/core/azure-core-amqp/test/ut/amqp_value_tests.cpp
  sdk/core/azure-core-amqp/test/ut/management_tests.cpp
  sdk/core/azure-core-amqp/test/ut/message_sender_receiver.cpp
  sdk/core/azure-core-amqp/test/ut/message_source_target.cpp
  sdk/core/azure-core-amqp/test/ut_uamqp/CMakeLists.txt
  sdk/core/azure-core/test/ut/service_tracing_test.cpp
Labels: Azure.Core

#4711 Documented log class
  sdk/core/azure-core/inc/azure/core/internal/diagnostics/log.hpp
  sdk/core/azure-core/src/logger.cpp
Labels: Azure.Core

#4713 Sync eng/common directory with azure-sdk-tools for PR 6333
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#4716 Fix `respone` typos in KeyVault Keys, Secrets, and Certificates sources.
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/cryptography_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_backup_test_live.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/private/keyvault_protocol.hpp
  sdk/keyvault/azure-security-keyvault-secrets/src/secret_client.cpp
Labels: KeyVault

#4719 Sync eng/common directory with azure-sdk-tools for PR 6300
  eng/common/testproxy/transition-scripts/generate-assets-json.ps1
Labels: EngSys, Central-EngSys

#4566 Create a CodeQL job for C++ pipelines
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/variables/globals.yml
Labels: Central-EngSys

#4734 Sync eng/common directory with azure-sdk-tools for PR 6392
  eng/common/pipelines/templates/steps/create-pull-request.yml
Labels: EngSys, Central-EngSys

#4727 Update key_client_create_test_live.cpp to remove dependency on attestation headers
  sdk/keyvault/azure-security-keyvault-keys/test/ut-hsm/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_create_test_live.cpp
Labels: KeyVault

#4732 [feature branch] Update eventhubs unit test CMakeLists.txt to remove dependency on attestation
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/CMakeLists.txt
Labels: test-enhancement, Event Hubs

#4739 Prepare for AMQP Release
  sdk/core/azure-core-amqp/CHANGELOG.md
Labels: Azure.Core

#4740 Identity: Credentials to accept a wider variety of token responses
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/token_credential_impl.cpp
  sdk/identity/azure-identity/test/ut/token_credential_impl_test.cpp
Labels: Azure.Identity, Managed Identity

#4741 Sync eng/common directory with azure-sdk-tools for PR 6434
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#4745 Sync eng/common directory with azure-sdk-tools for PR 6440
  eng/common/scripts/get-codeowners.lib.ps1
Labels: EngSys, Central-EngSys

#4746 Sync .github/workflows directory with azure-sdk-tools for PR 6440
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys
