Repository Azure/azure-sdk-for-cpp, pull requests merged in 2023-07, with the labels that each got.

#4748 Refactor blob SAS tests and queue SAS test
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/test/ut/blob_sas_test.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_sas_test.cpp
Labels: Storage, test-enhancement

#4744 Identity: Improve diagnosability
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/identity/azure-identity/src/token_credential_impl.cpp
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
  sdk/identity/azure-identity/test/ut/token_credential_impl_test.cpp
Labels: Azure.Identity

#4749 Enable phasing out a breaking change in Core in a step-by-step manner
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/operation.hpp
Labels: Azure.Core, breaking-change

#4752 Azure Core July Release
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core

#4758 Update core CHANGELOG.md wording to be more accurate
  sdk/core/azure-core/CHANGELOG.md
Labels: Docs, Azure.Core

#4759 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Labels: Azure.Identity

#4760 Increment version for core releases
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/src/private/package_version.hpp
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core

#4766 Vcpkg beta release automation: update to the new requirements
  eng/scripts/Update-VcpkgBeta.ps1
Labels: EngSys

#4750 Update cspell to forbid misspelled word
  .vscode/cspell.json
Labels: EngSys

#4765 Sync eng/common directory with azure-sdk-tools for PR 6465
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#4770 Fix dependencies for azure-core-amqp-cpp
  sdk/core/azure-core-amqp/CMakeLists.txt
  sdk/core/azure-core-amqp/vcpkg/Config.cmake.in
Labels: Azure.Core

#4763 Codifying the behavior of json.contains with nested properties, in the unit test.
  sdk/core/azure-core/test/ut/json_test.cpp
Labels: Azure.Core, test-enhancement

#4772 Update vcpkg baseline
  cmake-modules/AzureVcpkg.cmake
  sdk/core/azure-core-amqp/vcpkg.json
  sdk/core/azure-core-tracing-opentelemetry/vcpkg.json
  sdk/storage/azure-storage-common/vcpkg.json
  vcpkg.json
Labels: EngSys

#4767 Format vcpkg manifest
  sdk/core/azure-core-amqp/vcpkg/vcpkg.json
Labels: EngSys, MQ

#4757 Storage July GA Release
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-blobs/vcpkg.json
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-common/src/private/package_version.hpp
  sdk/storage/azure-storage-common/vcpkg.json
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/vcpkg.json
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/vcpkg.json
Labels: Storage

#4780 Sync eng/common directory with azure-sdk-tools for PR 6468
  eng/common/scripts/TypeSpec-Project-Process.ps1
Labels: EngSys, Central-EngSys

#4783 Increment version for storage releases
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
Labels: Storage

#4775 Verify that the nlohmann json library gracefully handles UTF-8 BOM at the start of the payload
  sdk/core/azure-core/test/ut/json_test.cpp
Labels: Azure.Core, test-enhancement

#4755 Initial creation of EventHubs service by @gearama
  cmake-modules/FolderList.cmake
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/steps/cmake-build.yml
  eng/scripts/Get-BinarySizes.ps1
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_message.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_properties.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_value.hpp
  sdk/core/azure-core-amqp/src/amqp/private/management_impl.hpp
  sdk/core/azure-core-amqp/src/models/amqp_message.cpp
  sdk/core/azure-core-amqp/src/models/amqp_value.cpp
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/eventhubs/assets.json
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/CMakeLists.txt
  sdk/eventhubs/azure-messaging-eventhubs/LICENSE
  sdk/eventhubs/azure-messaging-eventhubs/inc/ApiViewSettings.json
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/checkpoint_store.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/consumer_client.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/event_data_batch.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/eventhub_constants.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/eventhubs.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/models/checkpoint_store_models.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/models/consumer_client_models.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/models/event_data.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/models/management_models.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/models/partition_client_models.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/models/processor_load_balancer_models.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/models/processor_models.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/partition_client.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/processor.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/processor_load_balancer.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/processor_partition_client.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/producer_client.hpp
  sdk/eventhubs/azure-messaging-eventhubs/src/checkpoint_store.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/consumer_client.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/event_data.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/event_data_batch.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/eventhubs.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/private/event_data_models_private.hpp
  sdk/eventhubs/azure-messaging-eventhubs/src/private/retry_operation.hpp
  sdk/eventhubs/azure-messaging-eventhubs/src/processor_load_balancer.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/producer_client.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/retry_operation.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/CMakeLists.txt
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/checkpoint_store_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/consumer_client_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/event_data_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/eventhubs_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/eventhubs_test_base.hpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/processor_load_balancer_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/processor_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/producer_client_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/retry_operation_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/test_checkpoint_store.hpp
  sdk/eventhubs/azure-messaging-eventhubs/vcpkg.json
  sdk/eventhubs/azure-messaging-eventhubs/vcpkg/Config.cmake.in
  sdk/eventhubs/azure-messaging-eventhubs/vcpkg/vcpkg.json
  sdk/eventhubs/ci.yml
Labels: Event Hubs

#4791 Sync .github/workflows directory with azure-sdk-tools for PR 6507
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#4788 Update anchor tag in root README.md to point to storage doc
  README.md
Labels: Docs

#4793 Sync eng/common directory with azure-sdk-tools for PR 6521
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Labels: EngSys, Central-EngSys

#4781 Define CMakeTestOptions in Storage's ci.yml file
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-blobs/vcpkg.json
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/vcpkg.json
  sdk/storage/azure-storage-files-shares/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/vcpkg.json
  sdk/storage/azure-storage-queues/CMakeLists.txt
  sdk/storage/azure-storage-queues/vcpkg.json
  sdk/storage/ci.yml
Labels: Storage

#4769 Add sanitizer for test-proxy to scrub client secrets from recording files
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
Labels: Azure.Core

#4771 Storage/Update swagger patch files for doxygen doc
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/rest_client.hpp
  sdk/storage/azure-storage-files-datalake/swagger/README.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/rest_client.hpp
  sdk/storage/azure-storage-queues/swagger/README.md
Labels: Storage

#4794 Fix Eventhubs vcpkg manifest
  sdk/eventhubs/azure-messaging-eventhubs/vcpkg.json
  sdk/eventhubs/azure-messaging-eventhubs/vcpkg/Config.cmake.in
  sdk/eventhubs/azure-messaging-eventhubs/vcpkg/vcpkg.json
Labels: EngSys, Event Hubs

#4797 Disable libcurl globalCleanUp test until it has been investigated
  sdk/core/azure-core/src/http/curl/curl_connection_pool_private.hpp
  sdk/core/azure-core/src/http/curl/curl_session_private.hpp
  sdk/core/azure-core/test/ut/azure_libcurl_core_main_test.cpp
Labels: Azure.Core, test-reliability

#4743 Storage/STG74 Bearer Challenge
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/ut/bearer_token_test.cpp
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/storage_bearer_token_authentication_policy.hpp
  sdk/storage/azure-storage-common/src/storage_bearer_token_authentication_policy.cpp
  sdk/storage/azure-storage-common/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-common/test/ut/bearer_token_test.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_utilities.cpp
  sdk/storage/azure-storage-queues/CHANGELOG.md
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/queue_options.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/rest_client.hpp
  sdk/storage/azure-storage-queues/src/queue_client.cpp
  sdk/storage/azure-storage-queues/src/queue_sas_builder.cpp
  sdk/storage/azure-storage-queues/src/queue_service_client.cpp
  sdk/storage/azure-storage-queues/src/rest_client.cpp
  sdk/storage/azure-storage-queues/swagger/README.md
Labels: Storage

#4799 Storage/fix datalake patch
  sdk/storage/azure-storage-files-datalake/swagger/README.md
Labels: Storage

#4800 Storage/Fix test case FileShareClientTest.ShareTierRelated
  sdk/storage/azure-storage-files-shares/test/ut/share_client_test.cpp
Labels: Storage

#4801 Sync eng/common directory with azure-sdk-tools for PR 6530
  eng/common/pipelines/templates/steps/docsms-ensure-validation.yml
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#4807 Sync eng/common directory with azure-sdk-tools for PR 6538
  eng/common/spelling/package-lock.json
Labels: EngSys, Central-EngSys

#4808 Sync eng/common directory with azure-sdk-tools for PR 6544
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#4811 Add back package versions to the FolderList.cmake and remove EventHubs from the list for now
  cmake-modules/FolderList.cmake
Labels: EngSys

#4813 Update changelog for the next release of AMQP
  sdk/core/azure-core-amqp/CHANGELOG.md
Labels: Event Hubs

#4812 Fix eventhubs manifest
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/consumer_client_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/vcpkg/portfile.cmake
Labels: EngSys, Event Hubs

#4814 Clean up version requirements
  sdk/attestation/azure-security-attestation/vcpkg/Config.cmake.in
  sdk/core/azure-core-tracing-opentelemetry/vcpkg/Config.cmake.in
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/vcpkg.json
  sdk/core/azure-core/vcpkg/Config.cmake.in
  sdk/core/azure-core/vcpkg/vcpkg.json
  sdk/identity/azure-identity/vcpkg/Config.cmake.in
  sdk/keyvault/azure-security-keyvault-administration/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/Config.cmake.in
  sdk/keyvault/azure-security-keyvault-certificates/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/vcpkg/Config.cmake.in
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/Config.cmake.in
  sdk/keyvault/azure-security-keyvault-secrets/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/vcpkg/Config.cmake.in
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-blobs/vcpkg/Config.cmake.in
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-common/vcpkg/Config.cmake.in
  sdk/storage/azure-storage-files-datalake/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/vcpkg/Config.cmake.in
  sdk/storage/azure-storage-files-shares/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/vcpkg/Config.cmake.in
  sdk/storage/azure-storage-queues/CMakeLists.txt
  sdk/storage/azure-storage-queues/vcpkg/Config.cmake.in
  sdk/template/azure-template/CMakeLists.txt
  sdk/template/azure-template/vcpkg/Config.cmake.in
Labels: EngSys

#4806 blob test cases improvements
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
Labels: test-enhancement

#4815 Sync eng/common directory with azure-sdk-tools for PR 6557
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#4817 Sync eng/common directory with azure-sdk-tools for PR 6543
  eng/common/TestResources/README.md
  eng/common/scripts/X509Certificate2/README.md
  eng/common/scripts/X509Certificate2/X509Certificate2.psm1
Labels: EngSys, Central-EngSys

#4796 Improve test proxy sanitizers
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
Labels: test-enhancement, test-proxy

#4819 Storage test cases improvements
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/test/ut/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/connection_reuse_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-common/test/ut/bearer_token_test.cpp
Labels: Storage, test-enhancement

#4820 Storage/Merge latest main to storage-stg-90
  eng/common/TestResources/README.md
  eng/common/scripts/X509Certificate2/README.md
  eng/common/scripts/X509Certificate2/X509Certificate2.psm1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/test/ut/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/connection_reuse_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-common/test/ut/bearer_token_test.cpp
Labels: Azure.Core, Storage

#4816 Storage/STG90-Data Lake Pagination Delete
  sdk/storage/assets.json
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_service_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/src/rest_client.cpp
  sdk/storage/azure-storage-files-datalake/swagger/README.md
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_path_client_test.cpp
Labels: Storage

#4821 Support root cert validation on CURL
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/curl_transport.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
Labels: Azure.Core

#4803 Sync eng/common directory with azure-sdk-tools for PR 6518
  eng/common/testproxy/onboarding/README.me
  eng/common/testproxy/onboarding/generate-assets-json.ps1
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#4826 fix list files and dirs bug
  sdk/storage/assets.json
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
Labels: Client, Storage

#4828 Add test cases to cover paged response APIs
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_service_client_test.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_service_client_test.cpp
Labels: Storage, test-enhancement

#4827 Storage/STG90 features
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/src/rest_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_directory_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_file_system_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_path_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_service_client.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/src/rest_client.cpp
  sdk/storage/azure-storage-files-datalake/swagger/README.md
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_path_client_test.cpp
Labels: Storage
