Repository Azure/azure-sdk-for-cpp, pull requests merged in 2023-12, with the labels that each got.

#5203 Sync eng/common directory with azure-sdk-tools for PR 7346
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#5220 fix typo in storage
  sdk/storage/azure-storage-blobs/test/perf/inc/azure/storage/blobs/test/upload_blob_test.hpp
Labels: Storage

#5223 Sync eng/common directory with azure-sdk-tools for PR 7385
  eng/common/testproxy/onboarding/common-asset-functions.ps1
  eng/common/testproxy/onboarding/generate-assets-json.ps1
  eng/common/testproxy/scripts/override-proxy-version.ps1
  eng/common/testproxy/scripts/tag-merge/README.md
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#5221 Disable default features in libxml2.
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/vcpkg.json
  sdk/storage/azure-storage-common/vcpkg/vcpkg.json
  vcpkg.json
Labels: customer-reported, EngSys, Storage, Community Contribution

#5227 Add retry logic for CMake download operations
  cmake-modules/FolderList.cmake
Labels: EngSys, MQ

#5180 AzureCliCredential: add support for `expires_on` field.
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/identity/azure-identity/src/private/token_credential_impl.hpp
  sdk/identity/azure-identity/src/token_credential_impl.cpp
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
  sdk/identity/azure-identity/test/ut/token_credential_impl_test.cpp
Labels: Azure.Identity

#5230 Fix spelling errors
  .vscode/cspell.json
  sdk/attestation/azure-security-attestation/test/ut/policygetset_test.cpp
  sdk/core/azure-core-tracing-opentelemetry/src/opentelemetry.cpp
  sdk/core/azure-core-tracing-opentelemetry/src/opentelemetry_private.hpp
  sdk/core/azure-core/inc/azure/core/dll_import_export.hpp
  sdk/core/azure-core/inc/azure/core/internal/tracing/service_tracing.hpp
  sdk/core/azure-core/inc/azure/core/internal/tracing/tracing_impl.hpp
  sdk/core/azure-core/src/cryptography/sha_hash.cpp
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/test/perf/inc/azure/core/test/nullable_test.hpp
  sdk/core/azure-core/test/ut/context_test.cpp
  sdk/core/azure-core/test/ut/http_test.cpp
  sdk/core/perf/inc/azure/perf/base_test.hpp
  sdk/eventhubs/azure-messaging-eventhubs/samples/produce-events/produce_events.cpp
  sdk/keyvault/azure-security-keyvault-certificates/perf-resources.json
  sdk/keyvault/azure-security-keyvault-certificates/test/samples/certificate-get-certificates/certificate_get_certificates.cpp
  sdk/keyvault/azure-security-keyvault-keys/perf-resources.json
  sdk/keyvault/azure-security-keyvault-secrets/perf-resources.json
  sdk/keyvault/test-resources.json
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
Labels: Azure.Core, Storage, KeyVault, Attestation

#5179 AzureCliCredential to treat datetime without TZ info as local time.
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/inc/azure/identity/azure_cli_credential.hpp
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/identity/azure-identity/src/private/token_credential_impl.hpp
  sdk/identity/azure-identity/src/token_credential_impl.cpp
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
Labels: Azure.Identity

#5231 Update cspell words and exclusions
  .vscode/cspell.json
  sdk/attestation/azure-security-attestation/samples/README.md
  sdk/attestation/azure-security-attestation/src/private/crypto/openssl/opensslcert.cpp
  sdk/attestation/test-resources-pre.ps1
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_properties.hpp
  sdk/core/azure-core-amqp/src/network/sasl_transport.cpp
  sdk/core/azure-core-amqp/test/ut/management_tests.cpp
  sdk/core/azure-core-amqp/test/ut/message_sender_receiver.cpp
  sdk/core/azure-core/src/http/user_agent.cpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/core/azure-core/test/ut/proxy_tests/readme.md
  sdk/core/perf/README.md
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/blob_checkpoint_store.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/producer_client_test.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/private/certificate_constants.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/private/key_constants.hpp
Labels: Azure.Core, KeyVault, Attestation

#5218 Move squid image to registry mirror
  sdk/core/azure-core/test/ut/proxy_tests/localproxy.passwd/Dockerfile
  sdk/core/azure-core/test/ut/proxy_tests/localproxy/Dockerfile
  sdk/core/azure-core/test/ut/proxy_tests/readme.md
  sdk/core/azure-core/test/ut/proxy_tests/remoteproxy.passwd/Dockerfile
  sdk/core/azure-core/test/ut/proxy_tests/remoteproxy/Dockerfile
  sdk/core/ci.yml
Labels: Central-EngSys
