Repository Azure/azure-sdk-for-cpp, pull requests merged in 2023-05, with the labels that each got.

#4589 Sync eng/common directory with azure-sdk-tools for PR 6063
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#4604 Sync eng/common directory with azure-sdk-tools for PR 6086
  eng/common/pipelines/templates/steps/detect-api-changes.yml
Labels: EngSys, Central-EngSys

#4575 Azure Core May GA Release
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core

#4579 Azure Identity May Release
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
  sdk/identity/azure-identity/vcpkg/Config.cmake.in
  sdk/identity/azure-identity/vcpkg/vcpkg.json
Labels: Azure.Identity

#4606 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Labels: Azure.Identity

#4577 Azure Core May Beta Release
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core

#4610 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core

#4611 Sync eng/common directory with azure-sdk-tools for PR 6061
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
  eng/common/scripts/Delete-RemoteBranches.ps1
Labels: EngSys, Central-EngSys

#4614 Sync .github/workflows directory with azure-sdk-tools for PR 6101
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#4617 Storage/fix ListHandles return empty list
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
Labels: Storage

#4616 Storage May GA Release
  cmake-modules/FolderList.cmake
  sdk/storage/assets.json
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-common/src/private/package_version.hpp
  sdk/storage/azure-storage-common/vcpkg.json
  sdk/storage/azure-storage-common/vcpkg/Config.cmake.in
  sdk/storage/azure-storage-common/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/vcpkg.json
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/vcpkg.json
  sdk/storage/azure-storage-files-shares/vcpkg/Config.cmake.in
  sdk/storage/azure-storage-files-shares/vcpkg/vcpkg.json
Labels: Storage

#4620 Sync eng/common directory with azure-sdk-tools for PR 6118
  eng/common/testproxy/transition-scripts/README.md
Labels: EngSys, Central-EngSys

#4580 Azure Key Vault May Releases
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/Config.cmake.in
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-certificates/vcpkg/Config.cmake.in
  sdk/keyvault/azure-security-keyvault-certificates/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/Config.cmake.in
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-secrets/vcpkg/Config.cmake.in
  sdk/keyvault/azure-security-keyvault-secrets/vcpkg/vcpkg.json
Labels: KeyVault

#4622 Increment version for storage releases
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
Labels: Storage

#4624 Increment version for keyvault releases
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/src/private/package_version.hpp
Labels: KeyVault

#4625 Set Template to unreleased in CHANGELOG.md
  sdk/template/azure-template/CHANGELOG.md
Labels: EngSys

#4626 Sync eng/common directory with azure-sdk-tools for PR 6103
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#4633 Disable warnings for AMQP tests
  CMakePresets.json
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_message.hpp
  sdk/core/azure-core-amqp/src/models/amqp_message.cpp
  sdk/core/azure-core-amqp/test/ut/CMakeLists.txt
Labels: Azure.Core

#4621 Only check links in changed files (for PR builds) or the service directory (for release builds)
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Labels: EngSys

#4612 Storage/stg88-release
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/src/rest_client.cpp
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/private/datalake_constants.hpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_responses.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
Labels: Storage

#4639 Merge main to AMQP feature branch.
  CMakePresets.json
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/cmake-generate.tests.yml
  eng/pipelines/templates/jobs/live.tests.yml
  samples/README.md
  sdk/attestation/azure-security-attestation/samples/README.md
  sdk/core/azure-core-amqp/inc/azure/core/amqp/claims_based_security.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_message.hpp
  sdk/core/azure-core-amqp/src/amqp/connection.cpp
  sdk/core/azure-core-amqp/src/models/amqp_message.cpp
  sdk/core/azure-core-amqp/test/ut/CMakeLists.txt
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/src/rest_client.cpp
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/private/datalake_constants.hpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_responses.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
Labels: Azure.Core, Storage, Attestation

#4615 Remove -Login and -PushImages parameters from stress helper
  sdk/core/azure-core/test/libcurl-stress-test/deploy.ps1
Labels: Azure.Core, Central-EngSys

#4644 Sync eng/common directory with azure-sdk-tools for PR 6208
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#4646 Sync eng/common directory with azure-sdk-tools for PR 6197
  eng/common/scripts/TypeSpec-Project-Generate.ps1
Labels: EngSys, Central-EngSys

#4652 Sync eng/common directory with azure-sdk-tools for PR 6230
  eng/common/testproxy/publish-proxy-logs.yml
Labels: EngSys, Central-EngSys

#4653 Sync eng/common directory with azure-sdk-tools for PR 6235
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#4651 Sync eng/common directory with azure-sdk-tools for PR 6202
  eng/common/scripts/TypeSpec-Project-Process.ps1
Labels: EngSys, Central-EngSys

#4627 added a test helper to test each type for having the expected default operations.
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/etag_test.cpp
  sdk/core/azure-core/test/ut/test_traits.hpp
Labels: Azure.Core, customer-reported, Community Contribution

#4654 Add DefaultAzureCredential auth flow diagram
  .vscode/cspell.json
  sdk/identity/azure-identity/img/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/azure-identity/img/mermaidjs/DefaultAzureCredentialAuthFlow.svg
Labels: Azure.Identity

#4659 Sync eng/common directory with azure-sdk-tools for PR 6248
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: EngSys, Central-EngSys

#4660 fix flaky storage testcase
  sdk/storage/assets.json
  sdk/storage/azure-storage-queues/test/ut/queue_client_messages_test.cpp
Labels: Client, Storage, test-enhancement

#4656 Acknowledge community contribution in changelog
  .vscode/cspell.json
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/etag_test.cpp
  sdk/core/azure-core/test/ut/test_traits.hpp
Labels: Docs, Azure.Core

#4658 Add DefaultAzureCredential auth flow SVG to Identity README
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity

#4666 Sync eng/common directory with azure-sdk-tools for PR 6244
  eng/common/scripts/TypeSpec-Project-Generate.ps1
Labels: EngSys, Central-EngSys

#4663 Improve storage test coverage
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-common/inc/azure/storage/common/storage_common.hpp
  sdk/storage/azure-storage-common/src/storage_common.cpp
Labels: Client, Storage

#4661 Storage May Beta Release
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/vcpkg.json
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/vcpkg.json
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/vcpkg.json
Labels: Storage

#4674 Sync eng/common directory with azure-sdk-tools for PR 6222
  eng/common/scripts/TypeSpec-Project-Process.ps1
Labels: EngSys, Central-EngSys

#4675 Sync eng/common directory with azure-sdk-tools for PR 6250
  eng/common/scripts/TypeSpec-Project-Process.ps1
Labels: EngSys, Central-EngSys

#4678 Fix DefaultAzureCredential image syntax
  sdk/identity/azure-identity/README.md
Labels: Azure.Identity

#4676 Increment version for storage releases
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
Labels: Storage
