Repository Azure/azure-sdk-for-cpp, pull requests merged in 2023-09, with the labels that each got.

#4922 Update storage coverage target
  sdk/storage/ci.yml
Labels: Storage, test-enhancement

#4917 Storage/Add instruction for setting up storage accounts
  sdk/storage/README.md
  sdk/storage/TestingGuide.md
Labels: Storage

#4919 Acknowledge community contributions in the changelogs
  .vscode/cspell.json
  sdk/core/azure-core/CHANGELOG.md
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
Labels: Docs

#4925 Ignore compiler and STL version mismatch on published packages to unblock ApiView
  sdk/attestation/azure-security-attestation/inc/ApiViewSettings.json
  sdk/eventhubs/azure-messaging-eventhubs/inc/ApiViewSettings.json
  sdk/identity/azure-identity/inc/ApiViewSettings.json
  sdk/keyvault/azure-security-keyvault-administration/inc/ApiViewSettings.json
  sdk/keyvault/azure-security-keyvault-certificates/inc/ApiViewSettings.json
  sdk/keyvault/azure-security-keyvault-keys/inc/ApiViewSettings.json
  sdk/keyvault/azure-security-keyvault-secrets/inc/ApiViewSettings.json
  sdk/storage/azure-storage-blobs/inc/ApiViewSettings.json
  sdk/storage/azure-storage-common/inc/ApiViewSettings.json
  sdk/storage/azure-storage-files-datalake/inc/ApiViewSettings.json
  sdk/storage/azure-storage-files-shares/inc/ApiViewSettings.json
  sdk/storage/azure-storage-queues/inc/ApiViewSettings.json
  sdk/template/azure-template/inc/ApiViewSettings.json
Labels: EngSys, Storage, Azure.Identity, KeyVault, Attestation

#4924 Update the workload identity credential sample to work with required environment variables that need to be set.
  sdk/identity/azure-identity/samples/workload_identity_credential.cpp
Labels: Azure.Identity

#4931 Fix Identity compilation (WinAPI crypto API) on UWP
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/identity/azure-identity/src/client_certificate_credential.cpp
  sdk/identity/azure-identity/vcpkg.json
  sdk/identity/azure-identity/vcpkg/Config.cmake.in
  sdk/identity/azure-identity/vcpkg/vcpkg.json
Labels: Azure.Identity

#4928 Azure Core AMQP September Release
  sdk/core/azure-core-amqp/CHANGELOG.md
Labels: Azure.Core

#4932 Better cmake UWP detection condition (use the same definition as vcpkg)
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/identity/azure-identity/vcpkg/Config.cmake.in
  sdk/identity/azure-identity/vcpkg/vcpkg.json
Labels: Azure.Identity

#4926 Sync eng/common directory with azure-sdk-tools for PR 6903
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#4933 Increment version for core releases
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/src/private/package_version.hpp
Labels: Azure.Core

#4941 Storage/TestProxy playback mode ignore storage sas version
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
Labels: Azure.Core

#4929 Azure Eventhubs September Release
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
Labels: Event Hubs

#4935 storage-september-release
  cmake-modules/FolderList.cmake
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-blobs/vcpkg.json
  sdk/storage/azure-storage-blobs/vcpkg/vcpkg.json
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-common/src/private/package_version.hpp
  sdk/storage/azure-storage-common/vcpkg.json
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/vcpkg.json
  sdk/storage/azure-storage-files-datalake/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/vcpkg.json
  sdk/storage/azure-storage-files-shares/vcpkg/vcpkg.json
  sdk/storage/azure-storage-queues/CHANGELOG.md
  sdk/storage/azure-storage-queues/src/private/package_version.hpp
  sdk/storage/azure-storage-queues/vcpkg.json
  sdk/storage/azure-storage-queues/vcpkg/vcpkg.json
Labels: Storage

#4945 Increment version for storage releases
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
  sdk/storage/azure-storage-queues/CHANGELOG.md
  sdk/storage/azure-storage-queues/src/private/package_version.hpp
Labels: Storage

#4923 Memorize filesystemUrl in directoryClient so that ListPaths knows the correct endpoint without guessing
  sdk/storage/assets.json
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_directory_client_test.cpp
Labels: Storage

#4893 Make several params to WorkloadIdentityCredential optional and read them from the environment instead.
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/inc/azure/identity/workload_identity_credential.hpp
  sdk/identity/azure-identity/samples/workload_identity_credential.cpp
  sdk/identity/azure-identity/src/workload_identity_credential.cpp
  sdk/identity/azure-identity/test/ut/workload_identity_credential_test.cpp
Labels: Azure.Identity

#4940 Add WorkloadIdentityCredential to the DefaultAzureCredential.
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/img/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/azure-identity/img/mermaidjs/DefaultAzureCredentialAuthFlow.svg
  sdk/identity/azure-identity/inc/azure/identity/default_azure_credential.hpp
  sdk/identity/azure-identity/src/default_azure_credential.cpp
  sdk/identity/azure-identity/test/ut/default_azure_credential_test.cpp
Labels: Azure.Identity

#4914 AMQP Stack polls for operations in a background thread.
  .gitignore
  .vscode/cspell.json
  CMakePresets.json
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/CMakeLists.txt
  sdk/core/azure-core-amqp/inc/azure/core/amqp/claims_based_security.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/common/async_operation_queue.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/common/global_state.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/connection.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/message_receiver.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/message_sender.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/session.hpp
  sdk/core/azure-core-amqp/samples/internal/local_server_sample/local_server_sample.cpp
  sdk/core/azure-core-amqp/src/amqp/claim_based_security.cpp
  sdk/core/azure-core-amqp/src/amqp/connection.cpp
  sdk/core/azure-core-amqp/src/amqp/link.cpp
  sdk/core/azure-core-amqp/src/amqp/management.cpp
  sdk/core/azure-core-amqp/src/amqp/message_receiver.cpp
  sdk/core/azure-core-amqp/src/amqp/message_sender.cpp
  sdk/core/azure-core-amqp/src/amqp/private/claims_based_security_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/connection_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/management_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/message_sender_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/session_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/session.cpp
  sdk/core/azure-core-amqp/src/common/global_state.cpp
  sdk/core/azure-core-amqp/test/CMakeLists.txt
  sdk/core/azure-core-amqp/test/ut/amqp_message_tests.cpp
  sdk/core/azure-core-amqp/test/ut/amqp_value_tests.cpp
  sdk/core/azure-core-amqp/test/ut/azure_core_amqp_tests.cpp
  sdk/core/azure-core-amqp/test/ut/claim_based_security_tests.cpp
  sdk/core/azure-core-amqp/test/ut/connection_tests.cpp
  sdk/core/azure-core-amqp/test/ut/link_tests.cpp
  sdk/core/azure-core-amqp/test/ut/management_tests.cpp
  sdk/core/azure-core-amqp/test/ut/message_sender_receiver.cpp
  sdk/core/azure-core-amqp/test/ut/mock_amqp_server.hpp
  sdk/core/azure-core-amqp/test/ut/session_tests.cpp
  sdk/core/azure-core-amqp/test/ut/transport_tests.cpp
  sdk/core/azure-core-amqp/test/ut_uamqp/CMakeLists.txt
  sdk/core/azure-core-amqp/test/ut_uamqp/amqp_error_tests.cpp
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/internal/diagnostics/log.hpp
  sdk/core/azure-core/src/logger.cpp
  sdk/core/azure-core/test/ut/CMakeLists.txt
  sdk/core/azure-core/test/ut/logging_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/partition_client.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/consumer_client_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/processor_test.cpp
Labels: Azure.Core

#4948 Sync eng/common directory with azure-sdk-tools for PR 6895
  eng/common/scripts/Service-Level-Readme-Automation.ps1
  eng/common/scripts/Update-DocsMsPackageMonikers.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#4946 Modify the order of the credentials used within the `DefaultAzureCredential` to be consistent with other languages.
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/img/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/azure-identity/img/mermaidjs/DefaultAzureCredentialAuthFlow.svg
  sdk/identity/azure-identity/inc/azure/identity/default_azure_credential.hpp
  sdk/identity/azure-identity/src/default_azure_credential.cpp
  sdk/identity/azure-identity/test/ut/default_azure_credential_test.cpp
Labels: Azure.Identity

#4930 Azure Identity September Release
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#4951 Do not throw an exception during Credential construction, but rather delay it on GetToken() call.
  sdk/identity/azure-identity/src/workload_identity_credential.cpp
  sdk/identity/azure-identity/test/ut/workload_identity_credential_test.cpp
Labels: Azure.Identity

#4953 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Labels: Azure.Identity

#4958 Sync eng/common directory with azure-sdk-tools for PR 6982
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#4957 Storage/Storage Client Options Support Audiences
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_options.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/bearer_token_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_options.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_utilities.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_options.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/queue_options.hpp
  sdk/storage/azure-storage-queues/src/queue_client.cpp
  sdk/storage/azure-storage-queues/src/queue_options.cpp
  sdk/storage/azure-storage-queues/src/queue_service_client.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_client_test.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_service_client_test.cpp
Labels: Storage

#4960 Sync eng/common directory with azure-sdk-tools for PR 6985
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#4966 Storage/Storage Client Options Support Audiences (#4957)
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_options.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_options.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-blobs/test/ut/bearer_token_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_options.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_utilities.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_options.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/queue_options.hpp
  sdk/storage/azure-storage-queues/src/queue_client.cpp
  sdk/storage/azure-storage-queues/src/queue_options.cpp
  sdk/storage/azure-storage-queues/src/queue_service_client.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_client_test.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_service_client_test.cpp
Labels: Storage

#4967 Disable dockerfile scanning in CI
  sdk/core/azure-core/test/ut/proxy_tests/localproxy.passwd/Dockerfile
  sdk/core/azure-core/test/ut/proxy_tests/localproxy/Dockerfile
  sdk/core/azure-core/test/ut/proxy_tests/remoteproxy.passwd/Dockerfile
  sdk/core/azure-core/test/ut/proxy_tests/remoteproxy/Dockerfile
Labels: Azure.Core

#4950 Enable partial reads on EventHubs.
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/inc/azure/core/amqp/common/async_operation_queue.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/message_receiver.hpp
  sdk/core/azure-core-amqp/src/amqp/message_receiver.cpp
  sdk/core/azure-core-amqp/src/amqp/private/message_receiver_impl.hpp
  sdk/core/azure-core-amqp/test/ut/CMakeLists.txt
  sdk/core/azure-core-amqp/test/ut/async_operation_queue_tests.cpp
  sdk/eventhubs/azure-messaging-eventhubs/README.md
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/processor.hpp
  sdk/eventhubs/azure-messaging-eventhubs/src/partition_client.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test-resources.json
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/CMakeLists.txt
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/consumer_client_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/eventhubs_admin_client.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/eventhubs_admin_client.hpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/eventhubs_admin_client_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/processor_test.cpp
Labels: Azure.Core

#4984 Sync eng/common directory with azure-sdk-tools for PR 7002
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#4977 Shorten build-time paths when building in vcpkg
  sdk/attestation/azure-security-attestation/vcpkg/portfile.cmake
  sdk/core/azure-core-amqp/vcpkg/portfile.cmake
  sdk/core/azure-core-tracing-opentelemetry/vcpkg/portfile.cmake
  sdk/core/azure-core/vcpkg/portfile.cmake
  sdk/eventhubs/azure-messaging-eventhubs/vcpkg/portfile.cmake
  sdk/identity/azure-identity/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-certificates/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-secrets/vcpkg/portfile.cmake
  sdk/storage/azure-storage-blobs/vcpkg/portfile.cmake
  sdk/storage/azure-storage-common/vcpkg/portfile.cmake
  sdk/storage/azure-storage-files-datalake/vcpkg/portfile.cmake
  sdk/storage/azure-storage-files-shares/vcpkg/portfile.cmake
  sdk/storage/azure-storage-queues/vcpkg/portfile.cmake
  sdk/template/azure-template/vcpkg/portfile.cmake
Labels: Azure.Core, EngSys, Storage, Azure.Identity, KeyVault, Attestation

#4988 Sync eng/common directory with azure-sdk-tools for PR 6919
  eng/common/pipelines/templates/steps/sparse-checkout.yml
  eng/common/scripts/Get-BuildSourceDescription.ps1
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
  eng/common/scripts/New-RegenerateMatrix.ps1
  eng/common/scripts/TypeSpec-Project-Generate.ps1
  eng/common/scripts/Update-GeneratedSdks.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#4987 Shorten the names of some long name headers
  sdk/keyvault/azure-security-keyvault-administration/src/settings_client.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/cryptography/cryptography_client.cpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_client.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/secret_client.cpp
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/challenge_based_authentication_policy_test.cpp
  sdk/keyvault/azure-security-keyvault-shared/inc/azure/keyvault/shared/keyvault_challenge_based_auth.hpp
  sdk/keyvault/azure-security-keyvault-shared/inc/azure/keyvault/shared/keyvault_challenge_based_authentication_policy.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_service_client.cpp
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/storage_bearer_token_auth.hpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/storage_bearer_token_authentication_policy.hpp
  sdk/storage/azure-storage-common/src/storage_bearer_token_authentication_policy.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_system_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_service_client.cpp
  sdk/storage/azure-storage-queues/src/queue_client.cpp
  sdk/storage/azure-storage-queues/src/queue_service_client.cpp
Labels: Storage, KeyVault

#4989 Sync eng/common directory with azure-sdk-tools for PR 7013
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#4982 Add support of setting CAPath and relevant test
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/curl_transport.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/test/ut/curl_connection_pool_test.cpp
  sdk/core/azure-core/test/ut/curl_options_test.cpp
Labels: Azure.Core, customer-reported, Community Contribution

#4995 Acknowledge community contribution in the changelog
  .vscode/cspell.json
  sdk/core/azure-core/CHANGELOG.md
Labels: Docs, Azure.Core

#4934 Fix vcpkg features for azure-core-cpp
  cmake-modules/AzureTransportAdapters.cmake
  sdk/core/azure-core/vcpkg/portfile.cmake
Labels: Azure.Core

#4996 Fix azure-messaging-eventhubscheckpointstore-blob build manifest
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/vcpkg/portfile.cmake
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/vcpkg/vcpkg.json
Labels: EngSys, Event Hubs
