Repository Azure/azure-sdk-for-cpp, pull requests merged in 2024-08, with the labels that each got.

#5852 Enable UseFederatedAuth by default
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  sdk/attestation/ci.yml
  sdk/core/ci.yml
  sdk/eventhubs/ci.yml
  sdk/identity/azure-identity/samples/CMakeLists.txt
  sdk/identity/azure-identity/test/ut/azure_pipelines_credential_test.cpp
  sdk/identity/ci.yml
  sdk/keyvault/azure-security-keyvault-administration/samples/sample1-basic-operations/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/samples/sample2-full-backup-restore/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/samples/sample3-backup-selective-restore/CMakeLists.txt
  sdk/keyvault/ci.yml
  sdk/storage/ci.yml
  sdk/tables/ci.yml
Labels: Azure.Core, Azure.Identity

#5861 Updates for the api review
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/backup_client.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/backup_operation.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/rest_client_models.hpp
  sdk/keyvault/azure-security-keyvault-administration/samples/sample1-basic-operations/sample1_administration.cpp
  sdk/keyvault/azure-security-keyvault-administration/samples/sample2-full-backup-restore/sample2_full_backup_restore.cpp
  sdk/keyvault/azure-security-keyvault-administration/samples/sample3-backup-selective-restore/sample3_backup_selective_restore.cpp
  sdk/keyvault/azure-security-keyvault-administration/src/backup_client.cpp
  sdk/keyvault/azure-security-keyvault-administration/src/backup_operation.cpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/backup_restore_client_base_test.hpp
Labels: KeyVault

#5856 Storage/STG95 Resolve Archboard Review Comments
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/rest_client.hpp
Labels: Storage

#5866 Storage/STG95 Files Shares Binary ACE support CreateDirectory and UploadFrom
  sdk/storage/assets.json
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
Labels: Storage

#5869 remove const from api version
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/backup_client.hpp
Labels: KeyVault

#5858 Azure Core August Beta Release
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#5870 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core

#5865 Sync eng/common directory with azure-sdk-tools for PR 8746
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#5802 Use client assertion credential within AzurePipelinesCredential and WorkloadIdentityCredential
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/identity/azure-identity/inc/azure/identity/azure_pipelines_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/client_assertion_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/workload_identity_credential.hpp
  sdk/identity/azure-identity/src/azure_pipelines_credential.cpp
  sdk/identity/azure-identity/src/client_assertion_credential.cpp
  sdk/identity/azure-identity/src/private/client_assertion_credential_impl.hpp
  sdk/identity/azure-identity/src/private/tenant_id_resolver.hpp
  sdk/identity/azure-identity/src/tenant_id_resolver.cpp
  sdk/identity/azure-identity/src/workload_identity_credential.cpp
Labels: Azure.Identity

#5863 Pull beta-only changes out of identity for the August GA release
  .vscode/cspell.json
  sdk/identity/azure-identity/inc/azure/identity/managed_identity_credential.hpp
  sdk/identity/azure-identity/src/managed_identity_credential.cpp
  sdk/identity/azure-identity/src/managed_identity_source.cpp
  sdk/identity/azure-identity/src/private/managed_identity_source.hpp
  sdk/identity/azure-identity/test/ut/CMakeLists.txt
  sdk/identity/azure-identity/test/ut/managed_identity_credential_test.cpp
  sdk/identity/azure-identity/test/ut/resource_identifier_test.cpp
Labels: Azure.Identity

#5862 Prepare for the August Identity GA release.
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Labels: Azure.Identity

#5736 Update the TSG for AzurePipelinesCredential.
  sdk/identity/azure-identity/TROUBLESHOOTING.md
Labels: Docs, Azure.Identity

#5857 KVBackup initial release
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/backup_operation.hpp
Labels: KeyVault

#5859 Tables Release
  sdk/tables/azure-data-tables/CHANGELOG.md
Labels: Tables

#5878 Sync eng/common directory with azure-sdk-tools for PR 8792
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#5874 Sync eng/common directory with azure-sdk-tools for PR 8760
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/build-test-resource-config.yml
Labels: EngSys, Central-EngSys

#5881 update changelog
  sdk/tables/azure-data-tables/CHANGELOG.md
Labels: Tables

#5885 Storage/Merge STG95 to main
  .vscode/cspell.json
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_sas_builder.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-blobs/test/ut/blob_sas_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/account_sas_builder.hpp
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_sas_builder.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/src/rest_client.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_sas_builder.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_lease_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_sas_builder.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-files-shares/test/ut/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_sas_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_service_client_test.cpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/queue_sas_builder.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/rest_client.hpp
  sdk/storage/azure-storage-queues/src/queue_sas_builder.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_sas_test.cpp
Labels: Storage

#5886 Storage August Release
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/vcpkg.json
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/vcpkg.json
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/vcpkg.json
  sdk/storage/azure-storage-queues/CHANGELOG.md
  sdk/storage/azure-storage-queues/vcpkg.json
Labels: Storage

#5883 Increment version for tables releases
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/src/private/package_version.hpp
Labels: Tables

#5882 Increment version for keyvault releases
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/src/private/package_version.hpp
Labels: KeyVault

#5880 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Labels: Azure.Identity

#5868 Log policy extra headers
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/http/log_policy.cpp
  sdk/core/azure-core/test/ut/log_policy_test.cpp
Labels: Azure.Core

#5884 Sync eng/common directory with azure-sdk-tools for PR 8754
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/pipelines/templates/steps/verify-changelogs.yml
  eng/common/pipelines/templates/steps/verify-readmes.yml
  eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Generate-PR-Diff.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Verify-ChangeLogs.ps1
Labels: EngSys, Central-EngSys

#5887 Increment version for storage releases
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
  sdk/storage/azure-storage-queues/CHANGELOG.md
  sdk/storage/azure-storage-queues/src/private/package_version.hpp
Labels: Storage

#5889 Revert "Pull beta-only changes out of identity for the August GA release (#5863)
  .vscode/cspell.json
  sdk/identity/azure-identity/inc/azure/identity/managed_identity_credential.hpp
  sdk/identity/azure-identity/src/managed_identity_credential.cpp
  sdk/identity/azure-identity/src/managed_identity_source.cpp
  sdk/identity/azure-identity/src/private/managed_identity_source.hpp
  sdk/identity/azure-identity/test/ut/CMakeLists.txt
  sdk/identity/azure-identity/test/ut/managed_identity_credential_test.cpp
  sdk/identity/azure-identity/test/ut/resource_identifier_test.cpp
Labels: Azure.Identity

#5892 Identity perf pipeline run triggers
  sdk/identity/azure-identity/perf.yml
Labels: Azure.Identity

#5837 Do not pass a client ID into the request body for MICredential within a Cloud Shell environment, but rather throw, as not supported.
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/managed_identity_source.cpp
  sdk/identity/azure-identity/src/private/managed_identity_source.hpp
  sdk/identity/azure-identity/test/ut/managed_identity_credential_test.cpp
Labels: Azure.Identity

#5913 Sync eng/common directory with azure-sdk-tools for PR 8831
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
Labels: EngSys, Central-EngSys

#5915 Sync eng/common directory with azure-sdk-tools for PR 8830
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Helpers/git-helpers.ps1
Labels: EngSys, Central-EngSys

#5912 Sync eng/common directory with azure-sdk-tools for PR 8842
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: EngSys, Central-EngSys

#5916 Backup Tests redo PR
  sdk/keyvault/assets.json
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/certificate_client_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_backup_test_live.cpp
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/secret_client_test.cpp
Labels: KeyVault

#5917 Ported uAMQP changes to vendored copy of uAMQP
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/amqp_frame_codec.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/amqpvalue.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/amqpvalue_to_string.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/connection.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/header_detect_io.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/link.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/message.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/message_sender.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/sasl_frame_codec.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/session.c
Labels: Azure.Core

#5919 Sync eng/common directory with azure-sdk-tools for PR 8849
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Labels: EngSys, Central-EngSys

#5910 Add support for providing an object ID to ManagedIdentityCredential.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/uuid.hpp
  sdk/core/azure-core/src/uuid.cpp
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/inc/azure/identity/managed_identity_credential.hpp
  sdk/identity/azure-identity/src/managed_identity_credential.cpp
  sdk/identity/azure-identity/src/managed_identity_source.cpp
  sdk/identity/azure-identity/src/private/managed_identity_source.hpp
  sdk/identity/azure-identity/test/ut/managed_identity_credential_test.cpp
Labels: Azure.Identity

#5918 AMQP static analysis fixes
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/amqpvalue.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/connection.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/message.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/message_sender.c
Labels: Azure.Core

#5928 Remove the ResourceIdentifier accepting ctor overload for ManagedIdentityCredential.
  sdk/identity/azure-identity/inc/azure/identity/managed_identity_credential.hpp
  sdk/identity/azure-identity/src/managed_identity_credential.cpp
  sdk/identity/azure-identity/test/ut/managed_identity_credential_test.cpp
Labels: Azure.Identity

#5929 Reduce stack usage in storage unit test
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_system_client_test.cpp
Labels: Storage

#5931 V2 of integrating uAMQP vixes into vendored copy
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/amqp_frame_codec.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/amqpvalue.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/connection.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/link.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/message.c
Labels: Azure.Core

#5925 Optimize Uuid.ToString() by avoiding using sprintf to do the basic string transformation
  sdk/core/azure-core/src/uuid.cpp
  sdk/core/azure-core/test/ut/uuid_test.cpp
Labels: Azure.Core, pillar-performance

#5936 Sync eng/common directory with azure-sdk-tools for PR 8879
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#5935 Uuid: add default ctor and Parse()
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/uuid.hpp
  sdk/core/azure-core/src/uuid.cpp
  sdk/core/azure-core/test/ut/uuid_test.cpp
Labels: Azure.Core

#5933 Sync eng/common directory with azure-sdk-tools for PR 8865
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#5939 Uuid::operator==(): self-comparison optimization, and more tests
  sdk/core/azure-core/inc/azure/core/uuid.hpp
  sdk/core/azure-core/test/ut/uuid_test.cpp
Labels: Azure.Core

#5941 Sync eng/common directory with azure-sdk-tools for PR 8875
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#5949 Sync eng/common directory with azure-sdk-tools for PR 8878
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#5951 Sync eng/common directory with azure-sdk-tools for PR 8900
  eng/common/pipelines/templates/steps/save-package-properties.yml
  eng/common/scripts/Generate-PR-Diff.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#5953 Sync eng/common directory with azure-sdk-tools for PR 8909
  eng/common/pipelines/templates/steps/save-package-properties.yml
Labels: EngSys, Central-EngSys
