Repository Azure/azure-sdk-for-cpp, pull requests merged in 2024-04, with the labels that each got.

#5471 Sync eng/common directory with azure-sdk-tools for PR 7975
  eng/common/scripts/Validate-Package.ps1
Labels: EngSys, Central-EngSys

#5478 Sync eng/common directory with azure-sdk-tools for PR 7986
  eng/common/scripts/Helpers/git-helpers.ps1
Labels: EngSys, Central-EngSys

#5479 Sync eng/common directory with azure-sdk-tools for PR 7988
  eng/common/scripts/Create-APIReview.ps1
Labels: EngSys, Central-EngSys

#5480 Sync eng/common directory with azure-sdk-tools for PR 7989
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Create-APIReview.ps1
Labels: EngSys, Central-EngSys

#5472 Revert "Move the connection back to the connection pool when HTTP error 404 was received (#5308)"
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/http/curl/curl.cpp
Labels: Azure.Core

#5487 Sync eng/common directory with azure-sdk-tools for PR 8015
  eng/common/pipelines/templates/steps/docker-pull-image.yml
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
Labels: EngSys, Central-EngSys

#5474 Strengthen the client_secret sanitizer regex
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
Labels: Azure.Core, EngSys, Storage

#5494 Disable otel warnings in shared_functions.hpp
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/src/scenarios/inc/shared_functions.hpp
Labels: Event Hubs

#5481 Api comments
  sdk/tables/assets.json
  sdk/tables/azure-data-tables/CMakeLists.txt
  sdk/tables/azure-data-tables/inc/azure/data/tables.hpp
  sdk/tables/azure-data-tables/inc/azure/data/tables/account_sas_builder.hpp
  sdk/tables/azure-data-tables/inc/azure/data/tables/credentials/named_key_credential.hpp
  sdk/tables/azure-data-tables/inc/azure/data/tables/enum_operators.hpp
  sdk/tables/azure-data-tables/inc/azure/data/tables/internal/policies/shared_key_lite_policy.hpp
  sdk/tables/azure-data-tables/inc/azure/data/tables/internal/policies/shared_key_policy.hpp
  sdk/tables/azure-data-tables/inc/azure/data/tables/internal/policies/switch_to_secondary_policy.hpp
  sdk/tables/azure-data-tables/inc/azure/data/tables/models.hpp
  sdk/tables/azure-data-tables/inc/azure/data/tables/tables_clients.hpp
  sdk/tables/azure-data-tables/inc/azure/data/tables/tables_sas_builder.hpp
  sdk/tables/azure-data-tables/inc/azure/data/tables/transactions.hpp
  sdk/tables/azure-data-tables/samples/tables_entity_operations.cpp
  sdk/tables/azure-data-tables/src/account_sas_builder.cpp
  sdk/tables/azure-data-tables/src/credentials/named_key_credential.cpp
  sdk/tables/azure-data-tables/src/policies/shared_key_policy.cpp
  sdk/tables/azure-data-tables/src/policies/switch_to_secondary_policy.cpp
  sdk/tables/azure-data-tables/src/serializers.cpp
  sdk/tables/azure-data-tables/src/tables_clients.cpp
  sdk/tables/azure-data-tables/src/tables_sas_builder.cpp
  sdk/tables/azure-data-tables/src/transactions.cpp
  sdk/tables/azure-data-tables/test/stress/tables_stress_test.cpp
  sdk/tables/azure-data-tables/test/ut/sas_test.cpp
  sdk/tables/azure-data-tables/test/ut/serializers_test.cpp
  sdk/tables/azure-data-tables/test/ut/shared_key_lite_policy_test.cpp
  sdk/tables/azure-data-tables/test/ut/table_client_test.cpp
  sdk/tables/azure-data-tables/test/ut/table_client_test.hpp
  sdk/tables/azure-data-tables/test/ut/transactions_test.cpp
  sdk/tables/azure-data-tables/test/ut/transactions_test.hpp
Labels: Tables

#5496 tables transactions samples
  sdk/tables/azure-data-tables/README.md
  sdk/tables/azure-data-tables/samples/CMakeLists.txt
  sdk/tables/azure-data-tables/samples/README.md
  sdk/tables/azure-data-tables/samples/tables_getting_started.cpp
  sdk/tables/azure-data-tables/samples/tables_transactions_fail.cpp
  sdk/tables/azure-data-tables/samples/tables_transactions_ok.cpp
Labels: Tables

#5491 Core April GA Release
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core

#5488 Key Vault April Release
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
Labels: KeyVault

#5489 Tables April Release
  sdk/tables/azure-data-tables/CHANGELOG.md
Labels: Tables

#5501 Updated azure core dependency to the new 1.11.3 version
  sdk/core/azure-core-amqp/vcpkg/vcpkg.json
Labels: Azure.Core

#5502 Update more dependency versions
  cmake-modules/FolderList.cmake
  sdk/tables/azure-data-tables/vcpkg/vcpkg.json
Labels: Tables

#5503 Increment version for core releases
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/src/private/package_version.hpp
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core

#5507 Sync eng/common directory with azure-sdk-tools for PR 8053
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Validate-Package.ps1
Labels: EngSys, Central-EngSys

#5508 Storage/STG93 Features
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/rest_client.cpp
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/private/datalake_constants.hpp
  sdk/storage/azure-storage-files-datalake/src/rest_client.cpp
  sdk/storage/azure-storage-files-datalake/swagger/README.md
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
Labels: Storage

#5473 Fixed libcurl connection pool to use `Connection` response header values
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/raw_response.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/curl/curl_connection_pool_private.hpp
  sdk/core/azure-core/src/http/curl/curl_session_private.hpp
  sdk/core/azure-core/test/ut/curl_connection_pool_test.cpp
Labels: Azure.Core

#5506 Increment version for eventhubs releases
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/private/package_version.hpp
Labels: Event Hubs

#5510 Sync eng/common directory with azure-sdk-tools for PR 8019
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#5512 Sync eng/common directory with azure-sdk-tools for PR 8062
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#5511 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core

#5514 Fix azure-data-tables Config.cmake.in dependency on WIN32
  sdk/tables/azure-data-tables/vcpkg/Config.cmake.in
  sdk/tables/azure-data-tables/vcpkg/vcpkg.json
Labels: customer-reported, Community Contribution, Tables

#5504 Increment version for keyvault releases
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/src/private/package_version.hpp
Labels: KeyVault

#5505 Increment version for tables releases
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/src/private/package_version.hpp
Labels: Tables

#5516 Update sdk vcpkg portfile with VERSION and HEAD_REF
  eng/scripts/Initialize-VcpkgRelease.ps1
  sdk/attestation/azure-security-attestation/vcpkg/portfile.cmake
  sdk/core/azure-core-amqp/vcpkg/portfile.cmake
  sdk/core/azure-core-tracing-opentelemetry/vcpkg/portfile.cmake
  sdk/core/azure-core/vcpkg/portfile.cmake
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/vcpkg/portfile.cmake
  sdk/eventhubs/azure-messaging-eventhubs/vcpkg/portfile.cmake
  sdk/identity/azure-identity/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-administration/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-certificates/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/portfile.cmake
  sdk/keyvault/azure-security-keyvault-secrets/vcpkg/portfile.cmake
  sdk/storage/azure-storage-blobs/vcpkg/portfile.cmake
  sdk/storage/azure-storage-common/vcpkg/portfile.cmake
  sdk/storage/azure-storage-files-datalake/vcpkg/portfile.cmake
  sdk/storage/azure-storage-files-shares/vcpkg/portfile.cmake
  sdk/storage/azure-storage-queues/vcpkg/portfile.cmake
  sdk/tables/azure-data-tables/vcpkg/portfile.cmake
  sdk/template/azure-template/vcpkg/portfile.cmake
Labels: Azure.Core, customer-reported, EngSys, Storage, Azure.Identity, KeyVault, Attestation, Community Contribution, Event Hubs, Tables

#5518 headers sanitize
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
  sdk/storage/README.md
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
  sdk/storage/ci.yml
Labels: Azure.Core, Storage

#5513 Fixed test deadlock in processor test
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/src/amqp/link.cpp
  sdk/core/azure-core-amqp/src/amqp/message_receiver.cpp
  sdk/core/azure-core-amqp/src/common/global_state.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/processor_test.cpp
Labels: Azure.Core, Event Hubs

#5527 fix testName
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/certificate_client_test.cpp
Labels: KeyVault

#5535 one more set of patterns
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
  sdk/storage/README.md
Labels: Azure.Core, Storage

#5525 Sync eng/common directory with azure-sdk-tools for PR 8076
  eng/common/pipelines/templates/steps/policheck.yml
Labels: EngSys, Central-EngSys

#5532 Storage/Enable Test Cases(Resolve Issue #5524)
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
Labels: Storage

#5531 Storage April Release
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/vcpkg.json
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-common/vcpkg.json
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/vcpkg.json
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/vcpkg.json
Labels: Storage

#5540 Sync eng/common directory with azure-sdk-tools for PR 8110
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Detect-Api-Changes.ps1
Labels: EngSys, Central-EngSys

#5541 Storage/STG94 Change Swagger file to stable version
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-files-datalake/swagger/README.md
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-queues/swagger/README.md
Labels: Storage

#5551 Sync eng/common directory with azure-sdk-tools for PR 8117
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Labels: EngSys, Central-EngSys

#5539 Revert win2022 image back to latest and add msvc version mitigation
  .vscode/cspell.json
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/cmake-generate.tests.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/steps/install-cmake.yml
  eng/pipelines/templates/steps/setup-msvc.yml
  eng/pipelines/templates/variables/image.yml
Labels: Central-EngSys

#5553 Sync eng/common directory with azure-sdk-tools for PR 8126
  eng/common/pipelines/templates/steps/policheck.yml
Labels: EngSys, Central-EngSys

#5555 Sync .github/workflows directory with azure-sdk-tools for PR 8131
  .github/workflows/event-processor.yml
Labels: EngSys, Central-EngSys

#5547 Update sorting algorithm used in storage shared-key signing
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-common/src/shared_key_policy.cpp
Labels: Client, Storage

#5560 Revert "Update sorting algorithm used in storage shared-key signing (…
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-common/src/shared_key_policy.cpp
Labels: Storage

#5562 Increment version for storage releases
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
Labels: Storage

#5563 Reapply "Update sorting algorithm used in storage shared-key signing …
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-common/src/shared_key_policy.cpp
Labels: Storage

#5565 Sync eng/common directory with azure-sdk-tools for PR 8152
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: EngSys, Central-EngSys

#5564 Update vcpkg SHA
  cmake-modules/AzureVcpkg.cmake
  vcpkg.json
Labels: EngSys

#5543 Storage/STG94 Snapshot management support via REST for NFS shares
  sdk/storage/assets.json
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-files-shares/test/ut/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_client_test.hpp
  sdk/storage/azure-storage-files-shares/test/ut/share_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_service_client_test.hpp
Labels: Storage

#5568 Pin Newest Version of test-proxy in CI
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/jobs/perf.yml
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
  sdk/keyvault/assets.json
  sdk/keyvault/azure-security-keyvault-administration/test/ut/settings_client_test.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/certificate_client.cpp
  sdk/keyvault/azure-security-keyvault-certificates/src/private/certificate_serializers.hpp
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/certificate_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/certificate_client_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_get_test_live.cpp
  sdk/keyvault/azure-security-keyvault-secrets/src/private/secret_serializers.hpp
  sdk/keyvault/azure-security-keyvault-secrets/src/secret_serializers.cpp
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/secret_client_test.cpp
  sdk/keyvault/ci.yml
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/connection_reuse_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_sas_test.cpp
  sdk/tables/assets.json
Labels: Azure.Core, Storage, KeyVault, Tables

#5566 Add comments for sort-keys
  sdk/storage/azure-storage-common/src/shared_key_policy.cpp
Labels: Storage

#5550 Storage/STG94 GetAccountInfo() for container and blob
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/rest_client.cpp
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
Labels: Storage

#5556 Storage/STG94 Add Queues bearer challenge test case
  sdk/storage/assets.json
  sdk/storage/azure-storage-queues/test/ut/queue_service_client_test.cpp
Labels: Storage

#5497 negative tests
  sdk/tables/assets.json
  sdk/tables/azure-data-tables/test/ut/table_client_test.cpp
Labels: Tables

#5570 Sync eng/common directory with azure-sdk-tools for PR 8158
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#5573 Storage/ Fix DatalakeDirectoryClient::ListPaths() not set encryptionContext and update test cases
  sdk/storage/assets.json
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/datalake_directory_client.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.cpp
Labels: Storage

#5576 Storage/Update Test Cases to resolve #5568
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
Labels: Storage

#5577 Fix table value used for sorting storage request headers
  sdk/storage/azure-storage-common/src/shared_key_policy.cpp
Labels: Storage

#5580 Revert Update sorting algorithm used in storage shared-key signing
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-common/src/shared_key_policy.cpp
Labels: Storage

#5574 samples update for nullable
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate_basic_operations.md
  sdk/keyvault/azure-security-keyvault-certificates/test/samples/certificate-basic-operations/certificate_basic_operations.cpp
  sdk/keyvault/azure-security-keyvault-certificates/test/samples/certificate-get-certificates/certificate_get_certificates.cpp
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample1_basic_operations.md
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample2_backup_restore.md
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample3_delete_recover.md
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample4_get_secrets_deleted.md
  sdk/keyvault/azure-security-keyvault-secrets/test/samples/sample1-basic-operations/sample1_basic_operations.cpp
  sdk/keyvault/azure-security-keyvault-secrets/test/samples/sample2-backup-restore/sample2_backup_restore.cpp
  sdk/keyvault/azure-security-keyvault-secrets/test/samples/sample3-delete-recover/sample3_delete_recover.cpp
Labels: KeyVault

#5571 KV live tests failing
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/certificate_client_test.cpp
Labels: KeyVault

#5586 rerecord download live only tests
  sdk/keyvault/assets.json
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/certificate_client_test.cpp
Labels: KeyVault

#5582 relocate kv samples
  sdk/keyvault/azure-security-keyvault-certificates/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/samples/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate-basic-operations/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate-basic-operations/certificate_basic_operations.cpp
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate-get-certificates/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate-get-certificates/certificate_get_certificates.cpp
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate-import-certificate/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate-import-certificate/certificate_import_certificate.cpp
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate_basic_operations.md
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate_get_certificates.md
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate_import_certificate.md
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/samples/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/samples/sample1-hello-world/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/samples/sample1-hello-world/sample1_hello_world.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample1_hello_world.md
  sdk/keyvault/azure-security-keyvault-keys/samples/sample2-backup-and-restore/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/samples/sample2-backup-and-restore/sample2_backup_and_restore.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample2_backup_and_restore.md
  sdk/keyvault/azure-security-keyvault-keys/samples/sample3-get-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/samples/sample3-get-keys/sample3_get_keys.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample3_get_keys.md
  sdk/keyvault/azure-security-keyvault-keys/samples/sample4-encrypt-decrypt/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/samples/sample4-encrypt-decrypt/sample4_encrypt_decrypt.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample4_encrypt_decrypt.md
  sdk/keyvault/azure-security-keyvault-keys/samples/sample5-sign-verify/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/samples/sample5-sign-verify/sample5_sign_verify.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample5_sign_verify.md
  sdk/keyvault/azure-security-keyvault-keys/samples/sample6-wrap-unwrap/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/samples/sample6-wrap-unwrap/sample6_wrap_unwrap.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample6_wrap_unwrap.md
  sdk/keyvault/azure-security-keyvault-keys/samples/sample7-key-rotation/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/samples/sample7-key-rotation/sample7_key_rotation.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample7_key_rotation.md
  sdk/keyvault/azure-security-keyvault-secrets/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/samples/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample1-basic-operations/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample1-basic-operations/sample1_basic_operations.cpp
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample1_basic_operations.md
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample2-backup-restore/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample2-backup-restore/sample2_backup_restore.cpp
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample2_backup_restore.md
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample3-delete-recover/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample3-delete-recover/sample3_delete_recover.cpp
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample3_delete_recover.md
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample4-get-secrets-deleted/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample4-get-secrets-deleted/sample4_get_secrets_deleted.cpp
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample4_get_secrets_deleted.md
Labels: KeyVault
