Repository Azure/azure-sdk-for-cpp, pull requests merged in 2024-07, with the labels that each got.

#5739 Update CODEOWNERS for /** and /sdk/ catch all
  .github/CODEOWNERS
Labels: EngSys

#5685 Sync eng/common directory with azure-sdk-tools for PR 8371
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#5756 If formatting fails in CI, print detailed diff
  eng/pipelines/templates/jobs/ci.tests.yml
Labels: EngSys

#5757 Update vcpkg SHA
  cmake-modules/AzureVcpkg.cmake
  vcpkg.json
Labels: EngSys

#5755 Sync eng/common directory with azure-sdk-tools for PR 8528
  eng/common/TestResources/build-test-resource-config.yml
Labels: EngSys, Central-EngSys

#5752 Sync eng/common directory with azure-sdk-tools for PR 8516
  eng/common/TestResources/build-test-resource-config.yml
Labels: EngSys, Central-EngSys

#5762 Sync eng/common directory with azure-sdk-tools for PR 8549
  eng/common/testproxy/install-test-proxy.ps1
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy.ps1
Labels: EngSys, Central-EngSys

#5763 Sync eng/common directory with azure-sdk-tools for PR 8543
  eng/common/InterdependencyGraph.html
Labels: EngSys, Central-EngSys

#5766 Add missing include
  sdk/core/azure-core/src/http/http_sanitizer.cpp
Labels: Azure.Core, customer-reported, Community Contribution

#5768 Sync .github/workflows directory with azure-sdk-tools for PR 8566
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#5751 Provide a walkthrough for how to install the Azure SDK packages in a VS MSBuild project via vcpkg.
  README.md
Labels: Docs

#5759 Storage/STG95 Files OAuth - full data plane support
  sdk/storage/assets.json
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_lease_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_service_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-files-shares/test/ut/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_service_client_test.cpp
Labels: Storage

#5780 Sync eng/common directory with azure-sdk-tools for PR 8597
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
  eng/common/pipelines/templates/steps/verify-changelog.yml
  eng/common/pipelines/templates/steps/verify-path-length.yml
  eng/common/pipelines/templates/steps/verify-readme.yml
Labels: EngSys, Central-EngSys

#5779 Sync eng/common directory with azure-sdk-tools for PR 8588
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#5772 Update vcpkg SHA
  cmake-modules/AzureVcpkg.cmake
  sdk/core/azure-core-tracing-opentelemetry/src/opentelemetry.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/src/eventhubs_stress_test.cpp
  vcpkg.json
Labels: EngSys

#5776 Show-FailureLogs to include vcpkg build failure logs
  eng/scripts/Show-FailureLogs.ps1
Labels: EngSys

#5785 Turn federated auth on for Identity tests.
  sdk/identity/azure-identity/test/ut/azure_pipelines_credential_test.cpp
  sdk/identity/azure-identity/test/ut/token_credential_test.cpp
  sdk/identity/ci.yml
  sdk/identity/test-resources.json
Labels: test-enhancement, Azure.Identity

#5754 Move tests to use azure pipeline credentials
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  sdk/attestation/ci.yml
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/ci.yml
  sdk/core/perf/inc/azure/perf/base_test.hpp
  sdk/core/perf/src/base_test.cpp
  sdk/eventhubs/ci.yml
  sdk/identity/azure-identity/samples/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-secrets/CMakeLists.txt
  sdk/keyvault/ci.yml
  sdk/storage/README.md
  sdk/storage/ci.yml
  sdk/tables/ci.yml
Labels: Azure.Core, Storage, Azure.Identity, KeyVault, Event Hubs, Tables

#5771 Update the RetryPolicy for the GA release, keeping ShouldRetry extension point hidden.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/core/azure-core/test/ut/retry_policy_test.cpp
Labels: Azure.Core

#5792 Azure Core July GA Release
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core

#5793 Revert commits related to the new RetryPolicy method
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/core/azure-core/src/http/retry_policy.cpp
  sdk/core/azure-core/test/ut/retry_policy_test.cpp
Labels: Azure.Core

#5777 Sync eng/common directory with azure-sdk-tools for PR 8598
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#5794 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core

#5797 Acknowledge community contribution in the changelog
  .vscode/cspell.json
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#5796 [Storage STG95 Branch] Merge Main to fix cmake build error
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
  .vscode/cspell.json
  README.md
  cmake-modules/AzureVcpkg.cmake
  eng/common/InterdependencyGraph.html
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/TestResources-Helpers.ps1
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
  eng/common/pipelines/templates/steps/verify-changelog.yml
  eng/common/pipelines/templates/steps/verify-path-length.yml
  eng/common/pipelines/templates/steps/verify-readme.yml
  eng/common/scripts/Helpers/Resource-Helpers.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
  eng/common/testproxy/install-test-proxy.ps1
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy.ps1
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/scripts/Show-FailureLogs.ps1
  sdk/attestation/ci.yml
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/azure-core-tracing-opentelemetry/src/opentelemetry.cpp
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/core/azure-core/src/http/http_sanitizer.cpp
  sdk/core/azure-core/src/http/retry_policy.cpp
  sdk/core/azure-core/src/private/package_version.hpp
  sdk/core/azure-core/test/ut/retry_policy_test.cpp
  sdk/core/ci.yml
  sdk/core/perf/inc/azure/perf/base_test.hpp
  sdk/core/perf/src/base_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/src/eventhubs_stress_test.cpp
  sdk/eventhubs/ci.yml
  sdk/identity/azure-identity/samples/CMakeLists.txt
  sdk/identity/azure-identity/test/ut/azure_pipelines_credential_test.cpp
  sdk/identity/azure-identity/test/ut/token_credential_test.cpp
  sdk/identity/ci.yml
  sdk/identity/test-resources.json
  sdk/keyvault/azure-security-keyvault-certificates/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-secrets/CMakeLists.txt
  sdk/keyvault/ci.yml
  sdk/storage/README.md
  sdk/storage/ci.yml
  sdk/tables/ci.yml
  vcpkg.json
Labels: Azure.Core, Storage, Azure.Identity, KeyVault, Attestation, Event Hubs, Tables

#5789 Added `ClientAssertionCredential` to enable applications to authenticate with custom client assertions.
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/inc/azure/identity.hpp
  sdk/identity/azure-identity/inc/azure/identity/client_assertion_credential.hpp
  sdk/identity/azure-identity/src/client_assertion_credential.cpp
  sdk/identity/azure-identity/test/ut/CMakeLists.txt
  sdk/identity/azure-identity/test/ut/client_assertion_credential_test.cpp
Labels: Azure.Identity

#5795 Storage/STG95 Premium Files Paid Burst
  sdk/storage/assets.json
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-files-shares/test/ut/share_service_client_test.cpp
Labels: Storage

#5799 Use GetTestCredentials in eventhubs admin client; updated samples to allow sample execution to be disabled
  cmake-modules/AzureBuildTargetForCI.cmake
  sdk/attestation/azure-security-attestation/samples/attestation/CMakeLists.txt
  sdk/attestation/azure-security-attestation/samples/basic-operations/CMakeLists.txt
  sdk/attestation/azure-security-attestation/samples/policy-certificates/CMakeLists.txt
  sdk/attestation/azure-security-attestation/samples/policy/CMakeLists.txt
  sdk/eventhubs/azure-messaging-eventhubs/samples/basic-operations/CMakeLists.txt
  sdk/eventhubs/azure-messaging-eventhubs/samples/consume-events/CMakeLists.txt
  sdk/eventhubs/azure-messaging-eventhubs/samples/produce-events/CMakeLists.txt
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/consumer_client_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/eventhubs_admin_client.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/eventhubs_admin_client.hpp
  sdk/identity/azure-identity/samples/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate-basic-operations/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate-get-certificates/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate-import-certificate/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/samples/sample1-hello-world/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/samples/sample2-backup-and-restore/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/samples/sample3-get-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/samples/sample4-encrypt-decrypt/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/samples/sample5-sign-verify/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/samples/sample6-wrap-unwrap/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/samples/sample7-key-rotation/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample1-basic-operations/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample2-backup-restore/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample3-delete-recover/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample4-get-secrets-deleted/CMakeLists.txt
Labels: Storage, Azure.Identity, KeyVault, Attestation, Event Hubs, Tables

#5804 Update link in README.md to fix link verification issue.
  README.md
Labels: Docs, EngSys

#5807 Storage Fix AccessType live test failure
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_system_client_test.cpp
Labels: Storage

#5753 Storage July Release
  cmake-modules/FolderList.cmake
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-blobs/vcpkg.json
  sdk/storage/azure-storage-blobs/vcpkg/vcpkg.json
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/private/package_version.hpp
  sdk/storage/azure-storage-common/vcpkg.json
  sdk/storage/azure-storage-common/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/vcpkg.json
  sdk/storage/azure-storage-files-datalake/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/vcpkg.json
  sdk/storage/azure-storage-files-shares/vcpkg/vcpkg.json
  sdk/storage/azure-storage-queues/CHANGELOG.md
  sdk/storage/azure-storage-queues/src/private/package_version.hpp
  sdk/storage/azure-storage-queues/vcpkg.json
  sdk/storage/azure-storage-queues/vcpkg/vcpkg.json
Labels: Storage

#5676 Cleaned up Azure::Core::Context API surface
  CONTRIBUTING.md
  README.md
  doc/PerformanceTesting.md
  samples/helpers/service/inc/azure/service/client.hpp
  sdk/attestation/azure-security-attestation/inc/azure/attestation/attestation_client.hpp
  sdk/core/azure-core-amqp/test/ut/connection_tests.cpp
  sdk/core/azure-core-amqp/test/ut/link_tests.cpp
  sdk/core/azure-core-amqp/test/ut/management_tests.cpp
  sdk/core/azure-core-amqp/test/ut/message_sender_receiver.cpp
  sdk/core/azure-core-amqp/test/ut/transport_tests.cpp
  sdk/core/azure-core-amqp/vcpkg/vcpkg.json
  sdk/core/azure-core-tracing-opentelemetry/test/ut/CMakeLists.txt
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/context.hpp
  sdk/core/azure-core/inc/azure/core/operation.hpp
  sdk/core/azure-core/src/context.cpp
  sdk/core/azure-core/test/perf/src/azure_core_perf_test.cpp
  sdk/core/azure-core/test/ut/azure_libcurl_core_main_test.cpp
  sdk/core/azure-core/test/ut/bodystream_test.cpp
  sdk/core/azure-core/test/ut/client_options_test.cpp
  sdk/core/azure-core/test/ut/context_test.cpp
  sdk/core/azure-core/test/ut/curl_connection_pool_test.cpp
  sdk/core/azure-core/test/ut/curl_options_test.cpp
  sdk/core/azure-core/test/ut/curl_session_test_test.cpp
  sdk/core/azure-core/test/ut/global_context_test.cpp
  sdk/core/azure-core/test/ut/http_test.cpp
  sdk/core/azure-core/test/ut/policy_test.cpp
  sdk/core/azure-core/test/ut/request_activity_policy_test.cpp
  sdk/core/azure-core/test/ut/service_tracing_test.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base_test.cpp
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
  sdk/core/perf/README.md
  sdk/core/perf/test/src/random_stream_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/perf/src/azure_eventhubs_perf_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/consumer_client_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/processor_test.cpp
  sdk/identity/azure-identity/samples/azure_cli_credential.cpp
  sdk/identity/azure-identity/samples/chained_token_credential.cpp
  sdk/identity/azure-identity/samples/client_certificate_credential.cpp
  sdk/identity/azure-identity/samples/client_secret_credential.cpp
  sdk/identity/azure-identity/samples/default_azure_credential.cpp
  sdk/identity/azure-identity/samples/environment_credential.cpp
  sdk/identity/azure-identity/samples/managed_identity_credential.cpp
  sdk/identity/azure-identity/samples/workload_identity_credential.cpp
  sdk/identity/azure-identity/test/perf/src/azure_identity_perf_test.cpp
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
  sdk/identity/azure-identity/test/ut/token_credential_test.cpp
  sdk/identity/azure-identity/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-certificates/test/perf/src/azure_security_keyvault_certificates_perf_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/perf/src/azure_security_keyvault_keys_perf_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_delete_test_live.cpp
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-secrets/test/perf/src/azure_security_keyvault_secrets_perf_test.cpp
  sdk/storage/azure-storage-blobs/samples/CMakeLists.txt
  sdk/storage/azure-storage-blobs/samples/blob_list_operation_with_timeout.cpp
  sdk/storage/azure-storage-blobs/test/perf/CMakeLists.txt
  sdk/storage/azure-storage-blobs/test/perf/inc/azure/storage/blobs/test/upload_blob_test.hpp
  sdk/storage/azure-storage-blobs/test/perf/src/azure_storage_blobs_perf_test.cpp
  sdk/storage/azure-storage-common/vcpkg/vcpkg.json
Labels: Azure.Core, Attestation

#5808 Increment version for storage releases
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
  sdk/storage/azure-storage-queues/CHANGELOG.md
  sdk/storage/azure-storage-queues/src/private/package_version.hpp
Labels: Storage

#5801 Sync eng/common directory with azure-sdk-tools for PR 8602
  eng/common/scripts/Generate-PR-Diff.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Labels: EngSys, Central-EngSys

#5818 Re-enable running previously disabled samples using AzureCliCredential.
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/stages/platform-matrix-live.json
  sdk/attestation/azure-security-attestation/samples/attestation/CMakeLists.txt
  sdk/attestation/azure-security-attestation/samples/basic-operations/CMakeLists.txt
  sdk/attestation/azure-security-attestation/samples/policy-certificates/CMakeLists.txt
  sdk/attestation/azure-security-attestation/samples/policy/CMakeLists.txt
  sdk/eventhubs/azure-messaging-eventhubs/samples/basic-operations/CMakeLists.txt
  sdk/eventhubs/azure-messaging-eventhubs/samples/consume-events/CMakeLists.txt
  sdk/eventhubs/azure-messaging-eventhubs/samples/produce-events/CMakeLists.txt
  sdk/identity/azure-identity/samples/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate-basic-operations/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate-get-certificates/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate-import-certificate/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/samples/sample1-hello-world/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/samples/sample2-backup-and-restore/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/samples/sample3-get-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/samples/sample4-encrypt-decrypt/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/samples/sample5-sign-verify/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/samples/sample6-wrap-unwrap/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/samples/sample7-key-rotation/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample1-basic-operations/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample2-backup-restore/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample3-delete-recover/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample4-get-secrets-deleted/CMakeLists.txt
Labels: EngSys, Azure.Identity, KeyVault, Attestation, Event Hubs

#5826 Update Preview Test Sub to use new connection
  eng/pipelines/templates/stages/archetype-sdk-client.yml
Labels: EngSys

#5829 Reformat DefaultAzureCredential flow chart
  sdk/identity/azure-identity/img/mermaidjs/DefaultAzureCredentialAuthFlow.md
  sdk/identity/azure-identity/img/mermaidjs/DefaultAzureCredentialAuthFlow.svg
Labels: Azure.Identity

#5831 Sync eng/common directory with azure-sdk-tools for PR 8669
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#5825 Fix credentials used for eventhubs admin tests. Fixes #5820
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/consumer_client_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/eventhubs_admin_client.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/eventhubs_admin_client.hpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/eventhubs_admin_client_test.cpp
Labels: Event Hubs

#5812 Sync eng/common directory with azure-sdk-tools for PR 8650
  eng/common/pipelines/templates/steps/set-default-branch.yml
  eng/common/pipelines/templates/steps/verify-links.yml
Labels: EngSys, Central-EngSys

#5828 Update live.tests.yml samples display name to be shorter.
  eng/pipelines/templates/jobs/live.tests.yml
Labels: EngSys

#5810 UseFederatedAuth storage test
  sdk/storage/ci.yml
  sdk/storage/test-resources.json
Labels: Azure.Core, Storage

#5824 Storeage/STG95 Files Binary ACE
  .vscode/cspell.json
  sdk/storage/assets.json
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
Labels: Storage

#5830 Storage/STG95 Support Sas StringToSign for debugging
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_sas_builder.hpp
  sdk/storage/azure-storage-blobs/src/blob_sas_builder.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_sas_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/account_sas_builder.hpp
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_sas_builder.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_sas_builder.hpp
  sdk/storage/azure-storage-files-shares/src/share_sas_builder.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_sas_test.cpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/queue_sas_builder.hpp
  sdk/storage/azure-storage-queues/src/queue_sas_builder.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_sas_test.cpp
Labels: Storage

#5834 Add support for customizing the IMDS endpoint within ManagedIdentityCredential using an env var.
  .vscode/cspell.json
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/managed_identity_source.cpp
  sdk/identity/azure-identity/src/private/managed_identity_source.hpp
  sdk/identity/azure-identity/test/ut/managed_identity_credential_test.cpp
Labels: Azure.Identity

#5832 Add support for providing a Resource ID to ManagedIdentityCredential.
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/inc/azure/identity/managed_identity_credential.hpp
  sdk/identity/azure-identity/src/managed_identity_credential.cpp
  sdk/identity/azure-identity/src/managed_identity_source.cpp
  sdk/identity/azure-identity/src/private/managed_identity_source.hpp
  sdk/identity/azure-identity/test/ut/CMakeLists.txt
  sdk/identity/azure-identity/test/ut/managed_identity_credential_test.cpp
  sdk/identity/azure-identity/test/ut/resource_identifier_test.cpp
Labels: Azure.Identity

#5770 Prepare for the July Identity beta release.
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Docs, Azure.Identity

#5835 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Labels: Azure.Identity

#5765 Fix libcxx build
  sdk/storage/azure-storage-blobs/src/private/avro_parser.hpp
Labels: customer-reported, Storage, Community Contribution

#5836 Storage Fix live test failure
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
Labels: Storage

#5842 Update storage service owners in CODEOWNERS
  .github/CODEOWNERS
Labels: EngSys, Storage

#5844 Sync eng/common directory with azure-sdk-tools for PR 8680
  eng/common/TestResources/sub-config/AzureChinaMsft.json
  eng/common/TestResources/sub-config/AzurePreviewMsft.json
  eng/common/TestResources/sub-config/AzureUsGovMsft.json
Labels: EngSys, Central-EngSys

#5847 Sync eng/common directory with azure-sdk-tools for PR 8677
  eng/common/pipelines/templates/steps/set-daily-docs-branch-name.yml
Labels: EngSys, Central-EngSys

#5849 Sync eng/common directory with azure-sdk-tools for PR 8711
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
Labels: EngSys, Central-EngSys

#5781 Fix exception when an int32 value comes from the json
  sdk/tables/azure-data-tables/src/serializers.cpp
  sdk/tables/azure-data-tables/test/ut/serializers_test.cpp
Labels: customer-reported, Community Contribution, Tables

#5767 XML: Use RAII wrappers instead of manual memory management
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/xml_wrapper.hpp
  sdk/storage/azure-storage-common/src/xml_wrapper.cpp
Labels: customer-reported, Storage, Community Contribution

#5853 Sync eng/common directory with azure-sdk-tools for PR 8721
  eng/common/testproxy/onboarding/generate-assets-json.ps1
Labels: EngSys, Central-EngSys

#5744 Keyvault full backup/restore support
  sdk/keyvault/assets.json
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/README.md
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/backup_client.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/backup_operation.hpp
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/rest_client_models.hpp
  sdk/keyvault/azure-security-keyvault-administration/samples/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/samples/sample1-basic-operations/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/samples/sample1-basic-operations/sample1_administration.cpp
  sdk/keyvault/azure-security-keyvault-administration/samples/sample1_administration.md
  sdk/keyvault/azure-security-keyvault-administration/samples/sample2-full-backup-restore/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/samples/sample2-full-backup-restore/sample2_full_backup_restore.cpp
  sdk/keyvault/azure-security-keyvault-administration/samples/sample2_full_backup_restore.md
  sdk/keyvault/azure-security-keyvault-administration/samples/sample3-backup-selective-restore/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/samples/sample3-backup-selective-restore/sample3_backup_selective_restore.cpp
  sdk/keyvault/azure-security-keyvault-administration/samples/sample3_backup_selective_restore.md
  sdk/keyvault/azure-security-keyvault-administration/src/backup_client.cpp
  sdk/keyvault/azure-security-keyvault-administration/src/backup_operation.cpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/test/ut/backup_restore_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/backup_restore_client_test.cpp
  sdk/keyvault/ci.yml
Labels: KeyVault

#5851 Remove unneeded `<regex>` includes
  sdk/core/azure-core-test/src/test_proxy_manager.cpp
  sdk/core/azure-core-tracing-opentelemetry/test/ut/service_support_test.cpp
  sdk/core/azure-core/src/http/http_sanitizer.cpp
Labels: Azure.Core, customer-reported, Community Contribution

#5850 Acknowledge community contributions in changelogs
  .vscode/cspell.json
  sdk/core/azure-core/CHANGELOG.md
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/tables/azure-data-tables/CHANGELOG.md
Labels: Storage, Tables

#5860 Undo unnecessary Core vcpkg dependency version bump
  sdk/core/azure-core-amqp/vcpkg/vcpkg.json
  sdk/identity/azure-identity/vcpkg/vcpkg.json
  sdk/keyvault/azure-security-keyvault-keys/vcpkg/vcpkg.json
  sdk/storage/azure-storage-common/vcpkg/vcpkg.json
Labels: Azure.Core, Storage, Azure.Identity, KeyVault
