Repository Azure/azure-sdk-for-cpp, pull requests merged in 2024-02, with the labels that each got.

#5300 Step 1 in adding (more)perf tests for Core and Identity.
  sdk/core/perf/inc/azure/perf/base_test.hpp
  sdk/core/perf/src/base_test.cpp
  sdk/core/perf/src/options.cpp
  sdk/identity/azure-identity/test/perf/inc/azure/identity/test/secret_credential_test.hpp
Labels: Azure.Core, Azure.Identity

#5304 Azure Core February Releases
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core

#5311 Fixed nightly CI pipeline build error
  sdk/core/azure-core-amqp/test/ut/session_tests.cpp
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/connection.c
Labels: Azure.Core

#5312 Azure Core February Releases
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#5313 Sync eng/common directory with azure-sdk-tools for PR 7615
  eng/common/scripts/Prepare-Release.ps1
Labels: EngSys, Central-EngSys

#5314 Sync eng/common directory with azure-sdk-tools for PR 7623
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#5309 Http Transport perf test
  sdk/core/azure-core/test/perf/CMakeLists.txt
  sdk/core/azure-core/test/perf/inc/azure/core/test/http_transport_test.hpp
  sdk/core/azure-core/test/perf/src/azure_core_perf_test.cpp
  sdk/core/perf/inc/azure/perf/base_test.hpp
Labels: Azure.Core

#5310 Pipeline tests
  sdk/core/azure-core/test/perf/CMakeLists.txt
  sdk/core/azure-core/test/perf/inc/azure/core/test/pipeline_test.hpp
  sdk/core/azure-core/test/perf/src/azure_core_perf_test.cpp
Labels: Azure.Core

#5308 Move the connection back to the connection pool when HTTP error 404 was received
  sdk/core/azure-core/src/http/curl/curl.cpp
Labels: Azure.Core, customer-reported, Community Contribution

#5317 Update Azure Core changelog after #5308
  .vscode/cspell.json
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#5321 Retroactively update AMQP's changelog
  sdk/core/azure-core-amqp/CHANGELOG.md
Labels: Docs, Azure.Core

#5318 Sync eng/common directory with azure-sdk-tools for PR 7629
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/pipelines/templates/jobs/docindex.yml
Labels: EngSys, Central-EngSys

#5319 Domain-specific changes to fix docindex
  .vscode/cspell.json
  eng/scripts/Language-Settings.ps1
Labels: EngSys, Central-EngSys

#5323 Sync eng/common directory with azure-sdk-tools for PR 7634
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#5325 Sync eng/common directory with azure-sdk-tools for PR 7630
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#5305 Eventhubs February Release
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
Labels: Event Hubs

#5328 Workaround for vcpkg-tool regression bug
  eng/scripts/Update-VcpkgPort.ps1
Labels: EngSys

#5293 Upload logs on cmake generate/build failure
  .vscode/cspell.json
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/cmake-generate.tests.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/steps/cmake-generate.yml
  eng/pipelines/templates/steps/show-failure-logs.yml
  eng/scripts/Show-FailureLogs.ps1
Labels: Central-EngSys, Event Hubs

#5324 Json test
  sdk/core/azure-core/test/perf/CMakeLists.txt
  sdk/core/azure-core/test/perf/inc/azure/core/test/json_test.hpp
  sdk/core/azure-core/test/perf/src/azure_core_perf_test.cpp
Labels: Azure.Core

#5333 Sync .github/workflows directory with azure-sdk-tools for PR 7656
  .github/workflows/event-processor.yml
Labels: EngSys, Central-EngSys

#5315 Multithreaded support for Eventhubs management family of APIs
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/amqp_settle_mode.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/claims_based_security.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/connection.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/link.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/management.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/message_receiver.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/message_sender.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/models/amqp_value.hpp
  sdk/core/azure-core-amqp/src/amqp/claim_based_security.cpp
  sdk/core/azure-core-amqp/src/amqp/connection.cpp
  sdk/core/azure-core-amqp/src/amqp/link.cpp
  sdk/core/azure-core-amqp/src/amqp/management.cpp
  sdk/core/azure-core-amqp/src/amqp/message_receiver.cpp
  sdk/core/azure-core-amqp/src/amqp/message_sender.cpp
  sdk/core/azure-core-amqp/src/amqp/private/connection_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/management_impl.hpp
  sdk/core/azure-core-amqp/src/models/amqp_message.cpp
  sdk/core/azure-core-amqp/src/models/amqp_value.cpp
  sdk/core/azure-core-amqp/src/models/private/value_impl.hpp
  sdk/core/azure-core-amqp/test/ut/amqp_message_tests.cpp
  sdk/core/azure-core-amqp/test/ut/amqp_value_tests.cpp
  sdk/core/azure-core-amqp/test/ut/claim_based_security_tests.cpp
  sdk/core/azure-core-amqp/test/ut/management_tests.cpp
  sdk/core/azure-core-amqp/test/ut/message_sender_receiver.cpp
  sdk/core/azure-core-amqp/test/ut_uamqp/uamqp_insertion_tests.cpp
  sdk/core/azure-core-amqp/test/ut_uamqp/uamqp_value_tests.cpp
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/session.c
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/consumer_client.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/producer_client.hpp
  sdk/eventhubs/azure-messaging-eventhubs/src/consumer_client.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/private/eventhubs_utilities.hpp
  sdk/eventhubs/azure-messaging-eventhubs/src/producer_client.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/consumer_client_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/processor_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/producer_client_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/vcpkg/vcpkg.json
Labels: Azure.Core

#5340 Sync eng/common directory with azure-sdk-tools for PR 7664
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#5336 Enable proactive renewal of Managed Identity tokens.
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/azure_cli_credential.cpp
  sdk/identity/azure-identity/src/client_certificate_credential.cpp
  sdk/identity/azure-identity/src/client_secret_credential.cpp
  sdk/identity/azure-identity/src/managed_identity_source.cpp
  sdk/identity/azure-identity/src/private/token_credential_impl.hpp
  sdk/identity/azure-identity/src/token_credential_impl.cpp
  sdk/identity/azure-identity/src/workload_identity_credential.cpp
  sdk/identity/azure-identity/test/ut/managed_identity_credential_test.cpp
  sdk/identity/azure-identity/test/ut/token_credential_impl_test.cpp
Labels: Azure.Identity

#5307 Azure Identity February Release
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#5331 For new surface area, classes marked as final should not have virtual methods.
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/identity/azure-identity/inc/azure/identity/azure_cli_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/dll_import_export.hpp
  sdk/identity/azure-identity/test/ut/azure_cli_credential_test.cpp
Labels: Azure.Identity

#5343 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Labels: Azure.Identity

#5346 Fix case-sensitive spelling in non-common /eng
  .vscode/cspell.json
  eng/pipelines/templates/steps/cmake-build.yml
  eng/scripts/Test-ShouldReleaseToVcpkg.ps1
  eng/scripts/Update-VcpkgBeta.ps1
Labels: EngSys, Central-EngSys

#5348 Guard against Windows' min/max macros
  sdk/core/azure-core-amqp/README.md
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/connection.hpp
  sdk/core/azure-core-amqp/samples/README.md
  sdk/core/azure-core-amqp/samples/internal/eventhub_async_writer_sample/eventhub_async_writer_sample.cpp
  sdk/core/azure-core-amqp/samples/internal/eventhub_get_properties_sample/eventhub_get_eventhub_properties_sample.cpp
  sdk/core/azure-core-amqp/samples/internal/eventhub_reader_sample/eventhub_reader_sample.cpp
  sdk/core/azure-core-amqp/samples/internal/eventhub_sas_reader_sample/eventhub_sas_reader_sample.cpp
  sdk/core/azure-core-amqp/samples/internal/eventhub_sas_writer_sample/eventhub_sas_writer_sample.cpp
  sdk/core/azure-core-amqp/samples/internal/eventhub_token_reader_sample/eventhub_token_reader_sample.cpp
  sdk/core/azure-core-amqp/samples/internal/eventhub_token_writer_sample/eventhub_token_writer_sample.cpp
  sdk/core/azure-core-amqp/samples/internal/eventhub_writer_sample/eventhub_writer_sample.cpp
  sdk/core/azure-core-amqp/samples/internal/local_client_async_sample/local_client_async_sample.cpp
  sdk/core/azure-core-amqp/samples/internal/local_client_sample/local_client_sample.cpp
  sdk/core/azure-core-amqp/src/amqp/message_receiver.cpp
  sdk/core/azure-core-amqp/src/amqp/message_sender.cpp
  sdk/core/azure-core-amqp/test/ut/amqp_value_tests.cpp
  sdk/core/azure-core-amqp/test/ut/azure_core_amqp_tests.cpp
  sdk/core/azure-core-amqp/test/ut/session_tests.cpp
  sdk/core/azure-core-test/inc/azure/core/test/test_proxy_manager.hpp
  sdk/core/azure-core/src/context.cpp
  sdk/core/azure-core/src/cryptography/md5.cpp
  sdk/core/azure-core/src/cryptography/sha_hash.cpp
  sdk/core/azure-core/src/datetime.cpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/retry_policy.cpp
  sdk/core/azure-core/src/http/url.cpp
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/core/azure-core/src/io/body_stream.cpp
  sdk/core/azure-core/src/io/random_access_file_body_stream.cpp
  sdk/core/perf/src/random_stream.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/consumer_client.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/processor_load_balancer.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/producer_client.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/retry_operation.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/producer_client_test.cpp
  sdk/identity/azure-identity/src/client_certificate_credential.cpp
  sdk/identity/azure-identity/src/private/chained_token_credential_impl.hpp
  sdk/identity/azure-identity/src/token_cache.cpp
  sdk/identity/azure-identity/src/token_credential_impl.cpp
  sdk/storage/azure-storage-blobs/src/blob_batch.cpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/block_blob_client.cpp
  sdk/storage/azure-storage-blobs/src/private/avro_parser.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/concurrent_transfer.hpp
  sdk/storage/azure-storage-common/src/crypt.cpp
  sdk/storage/azure-storage-common/src/file_io.cpp
  sdk/storage/azure-storage-common/src/storage_per_retry_policy.cpp
  sdk/storage/azure-storage-common/src/xml_wrapper.cpp
  sdk/storage/azure-storage-common/test/ut/crypt_functions_test.cpp
  sdk/storage/azure-storage-common/test/ut/test_base.cpp
  sdk/storage/azure-storage-common/test/ut/test_base.hpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
  sdk/tables/azure-data-tables/src/cryptography/hmacsha256.cpp
  sdk/tables/azure-data-tables/src/policies/timeout_policy.cpp
  sdk/tables/azure-data-tables/src/xml_wrapper.cpp
Labels: Azure.Core, Storage, Azure.Identity, Event Hubs, Tables

#5347 Update vcpkg SHA
  cmake-modules/AzureVcpkg.cmake
  vcpkg.json
Labels: EngSys

#5349 Sync eng/common directory with azure-sdk-tools for PR 7665
  eng/common/spelling/Invoke-Cspell.ps1
Labels: EngSys, Central-EngSys

#5353 Sync eng/common directory with azure-sdk-tools for PR 7655
  eng/common/scripts/typespec/New-EmitterPackageJson.ps1
  eng/common/scripts/typespec/New-EmitterPackageLock.ps1
Labels: EngSys, Central-EngSys

#5356 Winhttp flaky test
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base_test.cpp
Labels: Azure.Core

#5330 Publishing to vcpkg-betas syncs vcpkg baseline to our repo
  eng/scripts/Update-VcpkgBeta.ps1
Labels: EngSys

#5361 Sync .github/workflows directory with azure-sdk-tools for PR 7703
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#5362 Sync eng/common directory with azure-sdk-tools for PR 7704
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#5360 Azure Core 1.11.2 Release
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core

#5363 Core perf tests consolidation
  sdk/core/azure-core/test/perf/CMakeLists.txt
  sdk/core/azure-core/test/perf/inc/azure/core/test/delay_test.hpp
  sdk/core/azure-core/test/perf/inc/azure/core/test/exception_test.hpp
  sdk/core/azure-core/test/perf/inc/azure/core/test/extended_options_test.hpp
  sdk/core/azure-core/test/perf/inc/azure/core/test/http_transport_test.hpp
  sdk/core/azure-core/test/perf/inc/azure/core/test/json_test.hpp
  sdk/core/azure-core/test/perf/inc/azure/core/test/no_op_test.hpp
  sdk/core/azure-core/test/perf/inc/azure/core/test/nullable_test.hpp
  sdk/core/azure-core/test/perf/inc/azure/core/test/pipeline_test.hpp
  sdk/core/azure-core/test/perf/inc/azure/core/test/uuid_test.hpp
  sdk/core/azure-core/test/perf/src/azure_core_perf_test.cpp
  sdk/core/perf-tests.yml
  sdk/core/perf.yml
  sdk/core/perf/inc/azure/perf/base_test.hpp
  sdk/core/perf/test/CMakeLists.txt
  sdk/core/perf/test/inc/azure/perf/test/curl_http_client_get_test.hpp
  sdk/core/perf/test/inc/azure/perf/test/http_client_get_test.hpp
  sdk/core/perf/test/inc/azure/perf/test/http_pipeline_get_test.hpp
  sdk/core/perf/test/inc/azure/perf/test/win_http_client_get_test.hpp
  sdk/core/perf/test/src/perf_test.cpp
Labels: Azure.Core

#5366 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core

#5367 Storage/STG93 Fix Archboard Review Comments
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/rest_client.cpp
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
Labels: Storage

#5370 Reworked EventHubs Stress test to export information to OpenTelemetry
  .vscode/cspell.json
  sdk/core/azure-core-amqp/src/amqp/claim_based_security.cpp
  sdk/core/azure-core-amqp/src/amqp/connection.cpp
  sdk/core/azure-core-amqp/src/amqp/connection_string_credential.cpp
  sdk/core/azure-core-amqp/src/amqp/link.cpp
  sdk/core/azure-core-amqp/src/amqp/management.cpp
  sdk/core/azure-core-amqp/src/amqp/message_receiver.cpp
  sdk/core/azure-core-amqp/src/amqp/message_sender.cpp
  sdk/core/azure-core-amqp/src/amqp/private/connection_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/link_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/message_receiver_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/message_sender_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/session_impl.hpp
  sdk/core/azure-core-tracing-opentelemetry/vcpkg.json
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/cgmanifest.json
  sdk/eventhubs/azure-messaging-eventhubs/cgmanifest.json
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/consumer_client.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/producer_client.hpp
  sdk/eventhubs/azure-messaging-eventhubs/src/consumer_client.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/CMakeLists.txt
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/Chart.lock
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/Dockerfile
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/README.md
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/eventhubs_stress_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/scenarios-matrix.yaml
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/src/CMakeLists.txt
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/src/eventhubs_stress_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/src/inc/argagg.hpp
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/src/inc/eventhubs_stress_scenarios.hpp
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/src/scenarios/inc/batch_stress_tests.hpp
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/src/scenarios/inc/event_sender.hpp
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/src/scenarios/inc/opentelemetry_helpers.hpp
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/src/scenarios/inc/scope_guard.hpp
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/src/scenarios/src/batch_stress_tests.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/src/scenarios/src/opentelemetry_helpers.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/stress-test-resources.bicep
  sdk/eventhubs/azure-messaging-eventhubs/test/eventhubs-stress-test/templates/deploy-job.yaml
  sdk/eventhubs/azure-messaging-eventhubs/vcpkg.json
  sdk/eventhubs/ci.yml
  vcpkg.json
Labels: Azure.Core, Event Hubs

#5375 Sync .github/workflows directory with azure-sdk-tools for PR 7742
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#5373 Identity perf tests part 1
  sdk/identity/azure-identity/perf-resources.json
  sdk/identity/azure-identity/perf-tests.yml
  sdk/identity/azure-identity/perf.yml
  sdk/identity/azure-identity/test/perf/inc/azure/identity/test/environment_credential_test.hpp
  sdk/identity/azure-identity/test/perf/inc/azure/identity/test/secret_credential_test.hpp
Labels: Azure.Identity

#5376 AMQP: do not use scope.MinimumExpiration when getting SAS Token
  sdk/core/azure-core-amqp/src/amqp/connection.cpp
  sdk/core/azure-core-amqp/src/amqp/connection_string_credential.cpp
Labels: Azure.Core

#5372 Parse storage error code for HEAD requests
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/storage_exception.cpp
Labels: Storage

#5377 QFE Identity playback
  sdk/identity/azure-identity/perf-tests.yml
Labels: Azure.Identity

#5382 Sync .github/workflows directory with azure-sdk-tools for PR 7765
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#5383 Sync eng/common directory with azure-sdk-tools for PR 7767
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#5380 Sync eng/common directory with azure-sdk-tools for PR 7729
  eng/common/scripts/typespec/New-EmitterPackageLock.ps1
Labels: EngSys, Central-EngSys

#5387 Updated tests to support -UserAuth test resources switch to enable non-corpnet access.
  eng/pipelines/templates/jobs/live.tests.yml
  sdk/attestation/azure-security-attestation/test/ut/attestation_metadata.cpp
  sdk/attestation/azure-security-attestation/test/ut/attestation_test.cpp
  sdk/attestation/azure-security-attestation/test/ut/policycertmgmt_test.cpp
  sdk/attestation/azure-security-attestation/test/ut/policygetset_test.cpp
  sdk/attestation/azure-security-attestation/test/ut/tpmattestation_test.cpp
  sdk/attestation/test-resources.json
  sdk/core/azure-core-amqp/samples/test-resources.json
  sdk/core/azure-core-test/inc/azure/core/test/test_base.hpp
  sdk/core/perf/CMakeLists.txt
  sdk/core/perf/inc/azure/perf/base_test.hpp
  sdk/core/perf/src/base_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/producer_client.hpp
  sdk/eventhubs/azure-messaging-eventhubs/test-resources-post.ps1
  sdk/eventhubs/azure-messaging-eventhubs/test-resources.json
  sdk/eventhubs/azure-messaging-eventhubs/test/perf/inc/azure/messaging/eventhubs/test/eventhubs_batch_perf_test.hpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/consumer_client_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/producer_client_test.cpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/settings_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-certificates/perf-resources.json
  sdk/keyvault/azure-security-keyvault-certificates/test/perf/inc/azure/keyvault/certificates/test/get_certificate_test.hpp
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/certificate_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/perf-resources.json
  sdk/keyvault/azure-security-keyvault-keys/test/perf/inc/azure/keyvault/keys/test/get_key_test.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut-hsm/key_client_test_hsm_live.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_base_test.hpp
  sdk/keyvault/azure-security-keyvault-secrets/perf-resources.json
  sdk/keyvault/azure-security-keyvault-secrets/test/perf/inc/azure/keyvault/secrets/test/get_secret_test.hpp
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/secret_client_base_test.hpp
  sdk/keyvault/test-resources.json
  sdk/tables/azure-data-tables/test/ut/table_client_test.cpp
  sdk/tables/test-resources.json
Labels: Azure.Core, KeyVault, Attestation, Event Hubs, Tables

#5371 Fix use of namespace qualifiers that have not been explicitly introduced
  .vscode/cspell.json
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/credentials/authorization_challenge_parser.cpp
  sdk/core/azure-core/src/http/bearer_token_authentication_policy.cpp
Labels: Azure.Core, customer-reported, Community Contribution

#5391 Storage/STG93 Update documents for UPN
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
Labels: Storage

#5381 Sync eng/common directory with azure-sdk-tools for PR 7682
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#5399 Sync .github/workflows directory with azure-sdk-tools for PR 7796
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys
