Repository Azure/azure-sdk-for-cpp, pull requests merged in 2024-05, with the labels that each got.

#5587 Update samples credentials and add notes to crypto client
  sdk/keyvault/azure-security-keyvault-certificates/README.md
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate-basic-operations/certificate_basic_operations.cpp
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate-get-certificates/certificate_get_certificates.cpp
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate-import-certificate/certificate_import_certificate.cpp
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate_basic_operations.md
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate_get_certificates.md
  sdk/keyvault/azure-security-keyvault-certificates/samples/certificate_import_certificate.md
  sdk/keyvault/azure-security-keyvault-keys/README.md
  sdk/keyvault/azure-security-keyvault-keys/samples/sample1-hello-world/sample1_hello_world.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample1_hello_world.md
  sdk/keyvault/azure-security-keyvault-keys/samples/sample2-backup-and-restore/sample2_backup_and_restore.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample2_backup_and_restore.md
  sdk/keyvault/azure-security-keyvault-keys/samples/sample3-get-keys/sample3_get_keys.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample3_get_keys.md
  sdk/keyvault/azure-security-keyvault-keys/samples/sample4-encrypt-decrypt/sample4_encrypt_decrypt.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample4_encrypt_decrypt.md
  sdk/keyvault/azure-security-keyvault-keys/samples/sample5-sign-verify/sample5_sign_verify.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample5_sign_verify.md
  sdk/keyvault/azure-security-keyvault-keys/samples/sample6-wrap-unwrap/sample6_wrap_unwrap.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample6_wrap_unwrap.md
  sdk/keyvault/azure-security-keyvault-keys/samples/sample7-key-rotation/sample7_key_rotation.cpp
  sdk/keyvault/azure-security-keyvault-keys/samples/sample7_key_rotation.md
  sdk/keyvault/azure-security-keyvault-secrets/README.md
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample1-basic-operations/sample1_basic_operations.cpp
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample1_basic_operations.md
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample2-backup-restore/sample2_backup_restore.cpp
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample2_backup_restore.md
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample3-delete-recover/sample3_delete_recover.cpp
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample3_delete_recover.md
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample4-get-secrets-deleted/sample4_get_secrets_deleted.cpp
  sdk/keyvault/azure-security-keyvault-secrets/samples/sample4_get_secrets_deleted.md
Labels: KeyVault

#5590 reenable the global cleanup test
  sdk/core/azure-core/src/http/curl/curl_connection_pool_private.hpp
  sdk/core/azure-core/src/http/curl/curl_session_private.hpp
  sdk/core/azure-core/test/ut/azure_libcurl_core_main_test.cpp
Labels: Azure.Core

#5595 Sync .github/workflows directory with azure-sdk-tools for PR 8193
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#5454 Harden Show-FailureLogs.ps1 against failures where the files are not present between Get-ChildItem and the output of the file
  eng/scripts/Show-FailureLogs.ps1
Labels: EngSys

#5601 Core AMQP May beta Release
  sdk/core/azure-core-amqp/CHANGELOG.md
Labels: Azure.Core, AMQP

#5578 Storage May GA Release
  cmake-modules/FolderList.cmake
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-blobs/vcpkg.json
  sdk/storage/azure-storage-blobs/vcpkg/vcpkg.json
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/private/package_version.hpp
  sdk/storage/azure-storage-common/vcpkg.json
  sdk/storage/azure-storage-common/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/vcpkg.json
  sdk/storage/azure-storage-files-datalake/vcpkg/vcpkg.json
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/vcpkg.json
  sdk/storage/azure-storage-files-shares/vcpkg/vcpkg.json
Labels: Storage

#5605 Eventhubs May 2024 release
  cmake-modules/FolderList.cmake
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/vcpkg/vcpkg.json
Labels: Event Hubs

#5609 Added changelog entry
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
Labels: Event Hubs

#5606 Increment version for storage releases
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
Labels: Storage

#5611 Update sorting algorithm used in storage shared-key signing
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-common/src/shared_key_policy.cpp
Labels: Storage

#5572 Core May GA Release
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core

#5610 Increment version for eventhubs releases
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/private/package_version.hpp
Labels: Event Hubs

#5602 Increment version for core releases
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/src/private/package_version.hpp
Labels: Azure.Core

#5614 Increment version for core releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core

#5584 Add a virtual ShouldRetry method to the RetryPolicy for customization.
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/core/azure-core/src/http/retry_policy.cpp
  sdk/core/azure-core/test/ut/retry_policy_test.cpp
Labels: Azure.Core

#5621 Sync eng/common directory with azure-sdk-tools for PR 8268
  eng/common/pipelines/templates/steps/verify-restapi-spec-location.yml
Labels: EngSys, Central-EngSys

#5616 Sync eng/common directory with azure-sdk-tools for PR 8249
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#5620 Move tables tests to token only for recordings
  sdk/tables/assets.json
  sdk/tables/azure-data-tables/test/ut/table_client_test.cpp
  sdk/tables/test-resources-post.ps1
  sdk/tables/test-resources.json
Labels: Tables

#5623 Sync eng/common directory with azure-sdk-tools for PR 8216
  eng/common/pipelines/templates/steps/create-apireview.yml
Labels: EngSys, Central-EngSys

#5545 Update CURLCode error to the non-obsoleted value within the CurlConnection ctor.
  sdk/core/azure-core/src/http/curl/curl.cpp
Labels: Azure.Core

#5622 correct command for using specified openssl with cmake
  README.md
Labels: customer-reported, Community Contribution

#5537 Add retries to DisableCrlValidation test to improve reliability
  sdk/core/azure-core/test/ut/transport_policy_options.cpp
Labels: Azure.Core, test-reliability

#5589 Fix possible endless loop while polling curl socket
  sdk/core/azure-core/src/http/curl/curl.cpp
Labels: Azure.Core, customer-reported, Community Contribution

#5626 Update core changelog with attribution for a curl endless loop bug fix.
  .vscode/cspell.json
  sdk/core/azure-core/CHANGELOG.md
Labels: Docs, Azure.Core

#5630 Sync eng/common directory with azure-sdk-tools for PR 8277
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
Labels: EngSys, Central-EngSys

#5629 Sync eng/common directory with azure-sdk-tools for PR 8270
  eng/common/scripts/typespec/New-EmitterPackageJson.ps1
Labels: EngSys, Central-EngSys

#5636 Sync eng/common directory with azure-sdk-tools for PR 8288
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: EngSys, Central-EngSys

#5637 Remove usage of azure-sdk-docs-prod-sas
  eng/pipelines/templates/stages/archetype-cpp-release.yml
Labels: Docs

#5632 Switched blob checkpoint store to use both connection string and token credentials.
  sdk/core/ci.yml
  sdk/eventhubs/assets.json
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/inc/azure/messaging/eventhubs/checkpointstore_blob/blob_checkpoint_store.hpp
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/test/ut/blob_checkpoint_store_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/test/ut/eventhubs_test_base.hpp
  sdk/eventhubs/azure-messaging-eventhubs/test-resources.json
  sdk/eventhubs/ci.yml
Labels: Event Hubs

#5569 Sync eng/common directory with azure-sdk-tools for PR 8157
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#5639 Sync eng/common directory with azure-sdk-tools for PR 8295
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#5608 Clean-up the HTTP versions check in response parsing, and don't reuse connections on any response other than HTTP/1.1
  sdk/core/azure-core/src/http/curl/curl.cpp
Labels: Azure.Core

#5640 Update CHANGELOG acknowledgements with customer contribution
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#5643 Add HTTP request version logging, and scope the variables
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/src/http/log_policy.cpp
  sdk/core/azure-core/test/ut/log_policy_test.cpp
Labels: Azure.Core

#5644 Remove redundant calls to gtest_discover_tests with default args in AMQP tests
  sdk/core/azure-core-amqp/test/ut/CMakeLists.txt
  sdk/core/azure-core-amqp/test/ut_uamqp/CMakeLists.txt
Labels: Azure.Core, test-reliability, AMQP

#5638 Sync eng/common directory with azure-sdk-tools for PR 8294
  eng/common/testproxy/target_version.txt
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#5642 Transaction insert replace
  sdk/tables/assets.json
  sdk/tables/azure-data-tables/inc/azure/data/tables/tables_clients.hpp
  sdk/tables/azure-data-tables/src/tables_clients.cpp
  sdk/tables/azure-data-tables/test/ut/table_client_test.cpp
  sdk/tables/azure-data-tables/test/ut/transactions_test.cpp
Labels: Tables

#5625 fix move to next page in paged response
  sdk/tables/azure-data-tables/inc/azure/data/tables/models.hpp
  sdk/tables/azure-data-tables/src/tables_clients.cpp
  sdk/tables/azure-data-tables/test/ut/table_client_test.cpp
Labels: Tables

#5651 Fixed #5536, fixed a test deadlock discovered while testing the fix for 5536, added some diagnostics for uAMQP to help track the problem.
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/link.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/message_receiver.hpp
  sdk/core/azure-core-amqp/src/amqp/link.cpp
  sdk/core/azure-core-amqp/src/amqp/message_receiver.cpp
  sdk/core/azure-core-amqp/src/amqp/message_sender.cpp
  sdk/core/azure-core-amqp/src/amqp/private/message_receiver_impl.hpp
  sdk/core/azure-core-amqp/src/models/amqp_error.cpp
  sdk/core/azure-core-amqp/test/ut/link_tests.cpp
  sdk/core/azure-core-amqp/test/ut/mock_amqp_server.hpp
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/inc/azure_uamqp_c/connection.h
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/inc/azure_uamqp_c/session.h
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/connection.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/link.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/session.c
Labels: Azure.Core

#5655 Updated AMQP changelog
  sdk/core/azure-core-amqp/CHANGELOG.md
Labels: Azure.Core

#5647 Keyvault macros deprecate and new names
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_models.hpp
  sdk/keyvault/azure-security-keyvault-keys/src/key_encryption_algorithm.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/macros-build/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/test/macros-build/macros_build.cpp
  sdk/keyvault/azure-security-keyvault-keys/test/macros-build/macros_build.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_test.cpp
Labels: KeyVault

#5658 Minor tweaks to HTTP tests found during Rust HTTP testing
  sdk/core/azure-core/test/ut/transport_adapter_base_test.cpp
Labels: Azure.Core

#5659 Sync eng/common directory with azure-sdk-tools for PR 8278
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#5667 Storage/STG94 features
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_container_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/blob_container_client.cpp
  sdk/storage/azure-storage-blobs/src/rest_client.cpp
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-common/src/shared_key_policy.cpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/rest_client.cpp
  sdk/storage/azure-storage-files-datalake/swagger/README.md
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-files-shares/test/ut/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_client_test.hpp
  sdk/storage/azure-storage-files-shares/test/ut/share_sas_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_service_client_test.hpp
  sdk/storage/azure-storage-queues/CHANGELOG.md
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/queue_options.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/rest_client.hpp
  sdk/storage/azure-storage-queues/src/queue_options.cpp
  sdk/storage/azure-storage-queues/src/rest_client.cpp
  sdk/storage/azure-storage-queues/swagger/README.md
  sdk/storage/azure-storage-queues/test/ut/queue_sas_test.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_service_client_test.cpp
Labels: Storage

#5665 Disable playback for several attestation tests that use JWTs
  sdk/attestation/assets.json
  sdk/attestation/azure-security-attestation/test/ut/attestation_test.cpp
  sdk/attestation/azure-security-attestation/test/ut/policycertmgmt_test.cpp
  sdk/attestation/azure-security-attestation/test/ut/policygetset_test.cpp
  sdk/attestation/azure-security-attestation/test/ut/tpmattestation_test.cpp
  sdk/attestation/ci.yml
Labels: Attestation

#5653 Sync eng/common directory with azure-sdk-tools for PR 8319
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/sub-config/AzurePublicMsft.json
Labels: EngSys, Central-EngSys

#5669 Sync eng/common directory with azure-sdk-tools for PR 8340
  eng/common/scripts/Add-RetentionLease.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Queue-Pipeline.ps1
Labels: EngSys, Central-EngSys

#5656 Update the RetryPolicy and ShouldRetry customization logic to allow loosening the retry condition.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/core/azure-core/src/http/retry_policy.cpp
  sdk/core/azure-core/test/ut/retry_policy_test.cpp
Labels: Azure.Core

#5671 Sync eng/common directory with azure-sdk-tools for PR 8324
  eng/common/scripts/Submit-PullRequest.ps1
Labels: EngSys, Central-EngSys
