Repository Azure/azure-sdk-for-cpp, pull requests merged in 2024-10, with the labels that each got.

#6055 CI: mac: update xcode version
  eng/pipelines/templates/stages/platform-matrix.json
Labels: EngSys

#6052 In ClientCertificateCredential, add the x5c parameter of the JWT token as a JSON array rather than a JSON string.
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/client_certificate_credential.cpp
  sdk/identity/azure-identity/test/ut/client_certificate_credential_test.cpp
Labels: Azure.Identity

#6056 Add basic input validation to ResourceIdentifier for ensuring the prefix match what is expected.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/CMakeLists.txt
  sdk/core/azure-core/inc/azure/core/resource_identifier.hpp
  sdk/core/azure-core/src/resource_identifier.cpp
  sdk/core/azure-core/test/ut/resource_identifier_test.cpp
Labels: Azure.Core

#6051 Use static factory methods to create ManagedIdentityId rather than an enum
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/inc/azure/identity/managed_identity_credential.hpp
  sdk/identity/azure-identity/samples/managed_identity_credential.cpp
  sdk/identity/azure-identity/src/managed_identity_credential.cpp
  sdk/identity/azure-identity/test/ut/managed_identity_credential_test.cpp
Labels: Azure.Identity

#6053 Azure Core October GA Release
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core

#5997 Remove support for customizing the IMDS endpoint within ManagedIdentityCredential using an env var
  sdk/identity/azure-identity/src/managed_identity_source.cpp
  sdk/identity/azure-identity/src/private/managed_identity_source.hpp
  sdk/identity/azure-identity/test/ut/managed_identity_credential_test.cpp
Labels: Azure.Identity

#6061 Sync eng/common directory with azure-sdk-tools for PR 9092
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#6063 UserAgentGenerator compatibility for previously published EventHubs
  sdk/core/azure-core/inc/azure/core/internal/http/user_agent.hpp
Labels: Azure.Core, Event Hubs

#6068 Sync eng/common directory with azure-sdk-tools for PR 9098
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#5932 [apiview] adding pr support
  .vscode/cspell.json
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/scripts/Generate-APIReview-Token-Files.ps1
  eng/scripts/Language-Settings.ps1
Labels: Central-EngSys

#6075 Storage/STG96 ProvisionV2 latest swagger update
  .vscode/cspell.json
  sdk/storage/assets.json
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-files-shares/test/ut/share_client_test.cpp
Labels: Storage

#6077 Storage STG96/immpolicy snapshot version support
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
Labels: Storage

#6057 Azure Identity October GA Release
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Labels: Azure.Identity

#6079 Sync eng/common directory with azure-sdk-tools for PR 9099
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#6080 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Labels: Azure.Identity

#6084 Sync eng/common directory with azure-sdk-tools for PR 9113
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#6082 Sync eng/common directory with azure-sdk-tools for PR 9106
  eng/common/scripts/Generate-PR-Diff.ps1
Labels: EngSys, Central-EngSys

#6081 Get TSP files from remote git location with sparse checkout
  cmake-modules/TSPCompile.cmake
  sdk/keyvault/azure-security-keyvault-secrets/CMakeLists.txt
Labels: KeyVault

#6086 azure-identity-cpp 1.10.0 requires azure-core-cpp >= 1.14.0
  sdk/identity/azure-identity/vcpkg/vcpkg.json
Labels: customer-reported, Azure.Identity, Community Contribution

#6083 Implemented Rust AMQP message sender.
  sdk/core/azure-core-amqp/CMakeLists.txt
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/message_receiver.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/models/message_target.hpp
  sdk/core/azure-core-amqp/src/amqp/message_receiver.cpp
  sdk/core/azure-core-amqp/src/amqp/message_sender.cpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/amqp/claim_based_security.cpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/amqp/link.cpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/amqp/management.cpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/amqp/message_receiver.cpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/amqp/message_sender.cpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/amqp/private/link_impl.hpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/amqp/private/message_receiver_impl.hpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/amqp/private/message_sender_impl.hpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/azure_core_amqp/src/cbs.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/azure_core_amqp/src/fe2o3/cbs.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/azure_core_amqp/src/fe2o3/sender.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/azure_core_amqp/src/fe2o3/session.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/azure_core_amqp/src/noop.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/azure_core_amqp/src/sender.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/src/amqp/cbs.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/src/amqp/connection.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/src/amqp/message_sender.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/src/amqp/mod.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/src/model/message.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/src/model/source.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/src/model/target.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/src/tracing.rs
  sdk/core/azure-core-amqp/src/models/message_target.cpp
  sdk/core/azure-core-amqp/src/models/private/target_impl.hpp
  sdk/core/azure-core-amqp/test/ut/CMakeLists.txt
  sdk/core/azure-core-amqp/test/ut/claim_based_security_tests.cpp
  sdk/core/azure-core-amqp/test/ut/link_tests.cpp
  sdk/core/azure-core-amqp/test/ut/message_sender_receiver.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/producer_client_test.cpp
Labels: Azure.Core, Event Hubs

#6088 Generating the actual files
  .vscode/cspell.json
  cmake-modules/TSPCompile.cmake
  sdk/keyvault/azure-security-keyvault-secrets/CMakeLists.txt
Labels: KeyVault

#6078 Storage STG96 Features
  .vscode/cspell.json
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-files-shares/test/ut/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_service_client_test.cpp
Labels: Storage

#6087 Set VERSION property against all libraries to write versioned SONAME
  sdk/attestation/azure-security-attestation/CMakeLists.txt
  sdk/core/azure-core-amqp/CMakeLists.txt
  sdk/core/azure-core-tracing-opentelemetry/CMakeLists.txt
  sdk/core/azure-core/CMakeLists.txt
  sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CMakeLists.txt
  sdk/eventhubs/azure-messaging-eventhubs/CMakeLists.txt
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-administration/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-certificates/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-keys/CMakeLists.txt
  sdk/keyvault/azure-security-keyvault-secrets/CMakeLists.txt
  sdk/storage/azure-storage-blobs/CMakeLists.txt
  sdk/storage/azure-storage-common/CMakeLists.txt
  sdk/storage/azure-storage-files-datalake/CMakeLists.txt
  sdk/storage/azure-storage-files-shares/CMakeLists.txt
  sdk/storage/azure-storage-queues/CMakeLists.txt
  sdk/tables/azure-data-tables/CMakeLists.txt
  sdk/template/azure-template/CMakeLists.txt
Labels: Azure.Core, customer-reported, EngSys, Storage, Azure.Identity, KeyVault, Attestation, Community Contribution, Event Hubs, Tables

#6089 Sync eng/common directory with azure-sdk-tools for PR 9102
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#6091 Acknowledge community contribution to Core
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#6092 Acknowledge community contribution to Identity
  .vscode/cspell.json
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#6090 Storage October Release
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/vcpkg.json
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/vcpkg.json
Labels: Storage

#6093 Switch to TME test subscription
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/pipelines/templates/stages/archetype-sdk-tests.yml
  sdk/attestation/ci.yml
  sdk/storage/ci.yml
  sdk/tables/ci.yml
Labels: Storage, Attestation, Tables

#6097 Increment version for storage releases
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
Labels: Storage

#6094 Kv tsp secrets2
  cmake-modules/TSPCompile.cmake
  eng/scripts/typespec/Build-Codegen.ps1
  eng/scripts/typespec/Cleanup-Directory.ps1
  eng/scripts/typespec/Generate-Code.ps1
  sdk/keyvault/azure-security-keyvault-secrets/CMakeLists.txt
Labels: KeyVault

#6099 Sync .github/workflows directory with azure-sdk-tools for PR 9134
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#6096 Management APIs work
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/models/message_source.hpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/amqp/connection.cpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/amqp/management.cpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/amqp/message_sender.cpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/amqp/private/management_impl.hpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/amqp/session.cpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/azure_core_amqp/src/connection.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/azure_core_amqp/src/fe2o3/management.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/azure_core_amqp/src/management.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/azure_core_amqp/src/sender.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/src/amqp/connection.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/src/amqp/management.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/src/amqp/message_sender.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/src/amqp/mod.rs
  sdk/core/azure-core-amqp/src/models/message_source.cpp
  sdk/core/azure-core-amqp/src/models/private/source_impl.hpp
  sdk/core/azure-core-amqp/test/ut/message_sender_receiver.cpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/producer_client.hpp
  sdk/eventhubs/azure-messaging-eventhubs/src/private/eventhubs_utilities.hpp
  sdk/eventhubs/azure-messaging-eventhubs/src/producer_client.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/producer_client_test.cpp
Labels: Azure.Core, Event Hubs

#6101 first stab at a client tsp /tspconfig scripts
  cmake-modules/TSPCompile.cmake
  eng/scripts/typespec/Build-Codegen.ps1
  eng/scripts/typespec/Cleanup-Directory.ps1
  eng/scripts/typespec/Generate-Code.ps1
  sdk/keyvault/azure-security-keyvault-secrets/client.tsp
  sdk/keyvault/azure-security-keyvault-secrets/tspconfig.yaml
Labels: KeyVault

#6107 Sync eng/common directory with azure-sdk-tools for PR 9147
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
  eng/common/pipelines/templates/steps/create-authenticated-npmrc.yml
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
  eng/common/scripts/New-RegenerateMatrix.ps1
  eng/common/scripts/common.ps1
  eng/common/scripts/typespec/New-EmitterPackageJson.ps1
Labels: EngSys, Central-EngSys

#6106 Sync eng/common directory with azure-sdk-tools for PR 9202
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#6104 Sync .github/workflows directory with azure-sdk-tools for PR 9199
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#6103 Sync eng/common directory with azure-sdk-tools for PR 9179
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#6100 Sync eng/common directory with azure-sdk-tools for PR 9177
  eng/common/scripts/Helpers/Service-Level-Readme-Automation-Helpers.ps1
Labels: EngSys, Central-EngSys

#6108 Sync eng/common directory with azure-sdk-tools for PR 9181
  eng/common/pipelines/templates/steps/save-package-properties.yml
Labels: EngSys, Central-EngSys

#6109 Sync eng/common directory with azure-sdk-tools for PR 9212
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#6113 Sync eng/common directory with azure-sdk-tools for PR 9216
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/sub-config/AzureChinaMsft.json
  eng/common/TestResources/sub-config/AzurePreviewMsft.json
  eng/common/TestResources/sub-config/AzurePublicMsft.json
  eng/common/TestResources/sub-config/AzureUsGovMsft.json
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#6115 Sync eng/common directory with azure-sdk-tools for PR 9229
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#6102 Converted builders to be compliant with Rust guidelines.
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/common/runtime_context.hpp
  sdk/core/azure-core-amqp/src/common/global_state.cpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/amqp/claim_based_security.cpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/amqp/connection.cpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/amqp/management.cpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/amqp/message_sender.cpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/amqp/private/claims_based_security_impl.hpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/amqp/private/connection_impl.hpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/amqp/private/management_impl.hpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/amqp/private/message_sender_impl.hpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/amqp/private/session_impl.hpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/amqp/session.cpp
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/azure_core_amqp/src/connection.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/azure_core_amqp/src/fe2o3/management.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/azure_core_amqp/src/fe2o3/messaging/message_fields.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/azure_core_amqp/src/fe2o3/messaging/message_source.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/azure_core_amqp/src/fe2o3/messaging/mod.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/azure_core_amqp/src/messaging.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/azure_core_amqp/src/noop.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/azure_core_amqp/src/session.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/build.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/src/amqp/cbs.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/src/amqp/connection.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/src/amqp/management.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/src/amqp/session.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/src/call_context.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/src/lib.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/src/model/header.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/src/model/message.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/src/model/message_fields.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/src/model/properties.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/src/model/source.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/src/model/target.rs
  sdk/core/azure-core-amqp/src/impl/rust_amqp/rust_amqp/rust_wrapper/src/model/value.rs
  sdk/core/azure-core-amqp/src/models/amqp_header.cpp
  sdk/core/azure-core-amqp/src/models/amqp_message.cpp
  sdk/core/azure-core-amqp/src/models/amqp_properties.cpp
  sdk/core/azure-core-amqp/src/models/amqp_value.cpp
  sdk/core/azure-core-amqp/src/models/message_source.cpp
  sdk/core/azure-core-amqp/src/models/message_target.cpp
  sdk/core/azure-core-amqp/src/models/private/header_impl.hpp
  sdk/core/azure-core-amqp/src/models/private/message_impl.hpp
  sdk/core/azure-core-amqp/src/models/private/properties_impl.hpp
  sdk/core/azure-core-amqp/src/models/private/source_impl.hpp
  sdk/core/azure-core-amqp/src/models/private/target_impl.hpp
  sdk/core/azure-core-amqp/src/models/private/value_impl.hpp
  sdk/core/azure-core-amqp/test/ut/azure_core_amqp_tests.cpp
Labels: Azure.Core

#6121 Sync eng/common directory with azure-sdk-tools for PR 9234
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#6122 Sync eng/common directory with azure-sdk-tools for PR 9235
  eng/common/pipelines/templates/steps/create-apireview.yml
Labels: EngSys, Central-EngSys

#6128 Sync eng/common directory with azure-sdk-tools for PR 9249
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#6124 Move the serializer, xml wrapper, and policies headers out of public/internal and into private folders within src.
  sdk/tables/azure-data-tables/CMakeLists.txt
  sdk/tables/azure-data-tables/src/policies/shared_key_lite_policy.cpp
  sdk/tables/azure-data-tables/src/policies/tenant_bearer_token_policy.cpp
  sdk/tables/azure-data-tables/src/policies/timeout_policy.cpp
  sdk/tables/azure-data-tables/src/private/policies/service_version_policy.hpp
  sdk/tables/azure-data-tables/src/private/policies/shared_key_lite_policy.hpp
  sdk/tables/azure-data-tables/src/private/policies/tenant_bearer_token_policy.hpp
  sdk/tables/azure-data-tables/src/private/policies/timeout_policy.hpp
  sdk/tables/azure-data-tables/src/private/serializers.hpp
  sdk/tables/azure-data-tables/src/private/xml_wrapper.hpp
  sdk/tables/azure-data-tables/src/serializers.cpp
  sdk/tables/azure-data-tables/src/tables_clients.cpp
  sdk/tables/azure-data-tables/src/xml_wrapper.cpp
  sdk/tables/azure-data-tables/test/ut/serializers_test.hpp
  sdk/tables/azure-data-tables/test/ut/shared_key_lite_policy_test.cpp
Labels: Tables

#6146 Use the package version for telemetry, rather than api version.
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/src/tables_clients.cpp
Labels: Tables

#6136 Removed ServiceVersion type, replaced with ApiVersion field in the TableClientOptions type.
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/inc/azure/data/tables/tables_clients.hpp
  sdk/tables/azure-data-tables/src/tables_clients.cpp
Labels: Tables

#6145 Removed the TablesAudience field from TableClientOptions since it is not required.
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/inc/azure/data/tables/tables_clients.hpp
  sdk/tables/azure-data-tables/src/tables_clients.cpp
Labels: Tables

#6135 Rename table client headers and split out the clients into their own files.
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/CMakeLists.txt
  sdk/tables/azure-data-tables/inc/azure/data/tables.hpp
  sdk/tables/azure-data-tables/inc/azure/data/tables/table_client.hpp
  sdk/tables/azure-data-tables/inc/azure/data/tables/table_service_client.hpp
  sdk/tables/azure-data-tables/src/tables_clients.cpp
  sdk/tables/azure-data-tables/test/ut/serializers_test.hpp
  sdk/tables/azure-data-tables/test/ut/table_client_test.hpp
  sdk/tables/azure-data-tables/test/ut/transactions_test.hpp
Labels: Tables

#6130 Make ApiVersion field within client options settable for keyvault packages
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/inc/azure/keyvault/administration/settings_client_options.hpp
  sdk/keyvault/azure-security-keyvault-administration/test/ut/settings_client_test.cpp
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/inc/azure/keyvault/certificates/certificate_client_options.hpp
  sdk/keyvault/azure-security-keyvault-certificates/test/ut/certificate_client_test.cpp
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/inc/azure/keyvault/keys/key_client_options.hpp
  sdk/keyvault/azure-security-keyvault-keys/test/ut/key_client_test.cpp
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/inc/azure/keyvault/secrets/keyvault_options.hpp
  sdk/keyvault/azure-security-keyvault-secrets/test/ut/secret_client_test.cpp
Labels: KeyVault

#6151 Set token to be expired if response comes back as unauthorized, within BeareTokenAuthenticationPolicy.
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/core/azure-core/src/http/bearer_token_authentication_policy.cpp
  sdk/core/azure-core/test/ut/bearer_token_authentication_policy_test.cpp
Labels: Azure.Core

#6152 Move constants from _detail namespace into private hpp in src.
  sdk/tables/azure-data-tables/CMakeLists.txt
  sdk/tables/azure-data-tables/inc/azure/data/tables/table_client.hpp
  sdk/tables/azure-data-tables/src/private/tables_constants.hpp
  sdk/tables/azure-data-tables/src/table_clients.cpp
Labels: Tables

#6156 remove Include option from query tables
  sdk/tables/azure-data-tables/inc/azure/data/tables/models.hpp
Labels: Tables

#6157 Sync eng/common directory with azure-sdk-tools for PR 9281
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys

#6158 Sync eng/common directory with azure-sdk-tools for PR 9290
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#6067 Move `UserAgentGenerator` to `_internal`
  cmake-modules/AzureGlobalCompileOptions.cmake
  cmake-modules/FolderList.cmake
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/policies/policy.hpp
  sdk/core/azure-core/inc/azure/core/internal/http/user_agent.hpp
  sdk/core/azure-core/src/http/user_agent.cpp
  sdk/core/azure-core/src/private/package_version.hpp
  sdk/core/azure-core/test/ut/telemetry_policy_test.cpp
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/consumer_client.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/producer_client.hpp
  sdk/eventhubs/azure-messaging-eventhubs/src/private/eventhubs_utilities.hpp
  sdk/eventhubs/azure-messaging-eventhubs/vcpkg/vcpkg.json
Labels: Azure.Core, Event Hubs

#6141 Remove linking azure-storage-blobs in azure-data-tables tests and decouple storage-common test base from blobs
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-common/test/ut/test_base.cpp
  sdk/storage/azure-storage-common/test/ut/test_base.hpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_sas_test.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_sas_test.cpp
  sdk/tables/azure-data-tables/test/ut/CMakeLists.txt
Labels: Storage, Tables

#6161 Sync eng/common directory with azure-sdk-tools for PR 9292
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Labels: EngSys, Central-EngSys

#6160 Sync eng/common directory with azure-sdk-tools for PR 9288
  eng/common/scripts/logging.ps1
Labels: EngSys, Central-EngSys

#6162 Sync eng/common directory with azure-sdk-tools for PR 9294
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Labels: EngSys, Central-EngSys
