Repository Azure/azure-sdk-for-cpp, pull requests merged in 2024-06, with the labels that each got.

#5689 Sync eng/common directory with azure-sdk-tools for PR 8370
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Labels: EngSys, Central-EngSys

#5688 Sync eng/common directory with azure-sdk-tools for PR 8376
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#5693 Align eventhubs connection property names with Go
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/private/eventhubs_utilities.hpp
Labels: Event Hubs

#5697 Prepare for June AMQP release
  sdk/core/azure-core-amqp/CHANGELOG.md
Labels: Azure.Core

#5696 Core June Beta Release
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#5690 Sync eng/common directory with azure-sdk-tools for PR 8377
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Labels: EngSys, Central-EngSys

#5700 Increment version for core releases
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/src/private/package_version.hpp
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core

#5691 Remove 'include windows.h' from inc/*
  sdk/core/azure-core/inc/azure/core/http/curl_transport.hpp
  sdk/core/azure-core/inc/azure/core/http/transport.hpp
  sdk/core/azure-core/inc/azure/core/http/win_http_transport.hpp
  sdk/core/azure-core/inc/azure/core/internal/unique_handle.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_request.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Labels: Azure.Core

#5699 Sync eng/common directory with azure-sdk-tools for PR 8373
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#5703 Sync eng/common directory with azure-sdk-tools for PR 8396
  eng/common/pipelines/templates/steps/run-pester-tests.yml
Labels: EngSys, Central-EngSys

#5706 Sync .github/workflows directory with azure-sdk-tools for PR 8412
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys

#5673 Keyvault June release
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
Labels: KeyVault

#5672 Tables 1.0 beta 3
  sdk/tables/azure-data-tables/CHANGELOG.md
Labels: Tables

#5694 Prepare for June eventhubs release
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
Labels: Event Hubs

#5709 Increment version for keyvault releases
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/src/private/package_version.hpp
Labels: KeyVault

#5710 Increment version for tables releases
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/src/private/package_version.hpp
Labels: Tables

#5695 Prepare for the June Identity GA release.
  .vscode/cspell.json
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/managed_identity_source.cpp
  sdk/identity/azure-identity/src/private/package_version.hpp
  sdk/identity/azure-identity/test/ut/managed_identity_credential_test.cpp
Labels: Azure.Identity

#5713 Increment version for eventhubs releases
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/src/private/package_version.hpp
Labels: Event Hubs

#5702 Storage June Release
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/vcpkg.json
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/vcpkg.json
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/vcpkg.json
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/vcpkg.json
  sdk/storage/azure-storage-queues/CHANGELOG.md
  sdk/storage/azure-storage-queues/vcpkg.json
Labels: Storage

#5714 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Labels: Azure.Identity

#5716 Sync eng/common directory with azure-sdk-tools for PR 8434
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#5704 Sync eng/common directory with azure-sdk-tools for PR 8388
  eng/common/pipelines/templates/steps/validate-all-packages.yml
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
  eng/common/scripts/Validate-All-Packages.ps1
  eng/common/scripts/Validate-Package.ps1
Labels: EngSys, Central-EngSys

#5717 Add back-ticks around the WWW-Authenticate header name in exception message.
  sdk/identity/azure-identity/src/managed_identity_source.cpp
Labels: Azure.Identity

#5719 Sync eng/common directory with azure-sdk-tools for PR 8446
  eng/common/spelling/package-lock.json
Labels: EngSys, Central-EngSys

#5720 Sync eng/common directory with azure-sdk-tools for PR 8451
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#5722 Sync eng/common directory with azure-sdk-tools for PR 8457
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
  eng/common/pipelines/templates/steps/run-pester-tests.yml
Labels: EngSys, Central-EngSys

#5724 Sync eng/common directory with azure-sdk-tools for PR 8452
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#5712 Sync eng/common directory with azure-sdk-tools for PR 8422
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/sub-config/AzurePublicMsft.json
Labels: EngSys, Central-EngSys

#5727 Sync eng/common directory with azure-sdk-tools for PR 8467
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Labels: EngSys, Central-EngSys

#5726 Sync eng/common directory with azure-sdk-tools for PR 8463
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: EngSys, Central-EngSys

#5730 Add a trouble shooting guide for azure-identity, specific to C++.
  sdk/identity/azure-identity/TROUBLESHOOTING.md
Labels: Docs, Azure.Identity

#5733 Add AzurePipelinesCredential for authenticating an Azure Pipelines service connection with workload identity federation.
  .vscode/cspell.json
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/CMakeLists.txt
  sdk/identity/azure-identity/README.md
  sdk/identity/azure-identity/inc/azure/identity.hpp
  sdk/identity/azure-identity/inc/azure/identity/azure_pipelines_credential.hpp
  sdk/identity/azure-identity/inc/azure/identity/detail/client_credential_core.hpp
  sdk/identity/azure-identity/src/azure_pipelines_credential.cpp
  sdk/identity/azure-identity/src/token_credential_impl.cpp
  sdk/identity/azure-identity/test/ut/CMakeLists.txt
  sdk/identity/azure-identity/test/ut/azure_pipelines_credential_test.cpp
Labels: Azure.Identity

#5725 Use Token Credential, Remove client secrets, Re-make recording
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/test/ut/append_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/bearer_token_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_batch_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_container_client_test.hpp
  sdk/storage/azure-storage-blobs/test/ut/blob_sas_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/blob_service_client_test.hpp
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/page_blob_client_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/storage_retry_policy_test.cpp
  sdk/storage/azure-storage-blobs/test/ut/storage_timeout_test.cpp
  sdk/storage/azure-storage-common/test/ut/test_base.cpp
  sdk/storage/azure-storage-common/test/ut/test_base.hpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_directory_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.hpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_system_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_system_client_test.hpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_path_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_path_client_test.hpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_sas_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_service_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_service_client_test.hpp
  sdk/storage/azure-storage-files-shares/test/ut/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_client_test.hpp
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.hpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.hpp
  sdk/storage/azure-storage-files-shares/test/ut/share_sas_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_service_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_service_client_test.hpp
  sdk/storage/azure-storage-queues/test/ut/CMakeLists.txt
  sdk/storage/azure-storage-queues/test/ut/queue_client_test.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_client_test.hpp
  sdk/storage/azure-storage-queues/test/ut/queue_sas_test.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_service_client_test.cpp
  sdk/storage/azure-storage-queues/test/ut/queue_service_client_test.hpp
  sdk/storage/ci.yml
  sdk/storage/test-resources.json
Labels: Storage

#5732 Sync eng/common directory with azure-sdk-tools for PR 8475
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#5738 Sync eng/common directory with azure-sdk-tools for PR 8484
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#5735 Prepare for the June Identity beta release, oob.
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Docs, Azure.Identity

#5731 Add pool variable and user env variables to test resources environment
  eng/pipelines/templates/jobs/live.tests.yml
Labels: Central-EngSys

#5742 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Labels: Azure.Identity
