Repository Azure/azure-sdk-for-cpp, pull requests merged in 2024-01, with the labels that each got.

#5234 Sync eng/common directory with azure-sdk-tools for PR 7468
  eng/common/scripts/Submit-PullRequest.ps1
Labels: EngSys, Central-EngSys

#5236 Storage/STG93 List Handles Include Client Name
  sdk/storage/assets.json
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_responses.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_directory_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-files-shares/test/ut/share_directory_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
Labels: Storage

#5237 Sync eng/common directory with azure-sdk-tools for PR 7459
  eng/common/testproxy/scripts/tag-merge/README.md
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
Labels: EngSys, Central-EngSys

#5238 Sync eng/common directory with azure-sdk-tools for PR 7498
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#5245 Storage/STG93 ACL response header support and UPN request headers
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/blob_client.hpp
  sdk/storage/azure-storage-blobs/inc/azure/storage/blobs/rest_client.hpp
  sdk/storage/azure-storage-blobs/src/blob_client.cpp
  sdk/storage/azure-storage-blobs/src/rest_client.cpp
  sdk/storage/azure-storage-blobs/swagger/README.md
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_responses.hpp
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/rest_client.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_file_client.cpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/src/private/datalake_constants.hpp
  sdk/storage/azure-storage-files-datalake/src/rest_client.cpp
  sdk/storage/azure-storage-files-datalake/swagger/README.md
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_file_client_test.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_path_client_test.cpp
Labels: Storage

#5246 Options Http Enum add to Core
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/inc/azure/core/http/http.hpp
  sdk/core/azure-core/src/http/http.cpp
  sdk/core/azure-core/test/libcurl-stress-test/README.md
Labels: Azure.Core

#5207 Make the CAPath option available on all OSes and change to throw on runtime on non-linux.
  sdk/core/azure-core/inc/azure/core/http/curl_transport.hpp
  sdk/core/azure-core/src/http/curl/curl.cpp
  sdk/core/azure-core/test/ut/curl_options_test.cpp
Labels: Azure.Core

#5248 Add a remark in CAInfo doc comment mentioning it is Linux only.
  sdk/core/azure-core/inc/azure/core/http/curl_transport.hpp
Labels: Docs, Azure.Core

#5251 Fixes for CVE-2024-21646
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/amqpvalue.c
Labels: Azure.Core

#5247 Sync eng/common directory with azure-sdk-tools for PR 7445
  eng/common/pipelines/templates/steps/create-tags-and-git-release.yml
  eng/common/scripts/create-tags-and-git-release.ps1
Labels: EngSys, Central-EngSys

#5243 Core-Core (GA) + Core-AMQP (Beta) + Event Hubs (Beta) January Releases (1/11)
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
Labels: Azure.Core, Event Hubs

#5242 Identity January Release (1/11 Beta)
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#5255 Increment version for core releases
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/src/private/package_version.hpp
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/private/package_version.hpp
Labels: Azure.Core

#5257 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Labels: Azure.Identity

#5260 Remove 'using namespace' from header files
  sdk/tables/azure-data-tables/inc/azure/data/tables/internal/policies/shared_key_lite_policy.hpp
  sdk/tables/azure-data-tables/inc/azure/data/tables/internal/policies/shared_key_policy.hpp
Labels: Tables

#5264 Sync eng/common directory with azure-sdk-tools for PR 7451
  eng/common/pipelines/templates/steps/verify-restapi-spec-location.yml
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Verify-RestApiSpecLocation.ps1
Labels: EngSys, Central-EngSys

#5265 Sync eng/common directory with azure-sdk-tools for PR 7528
  eng/common/scripts/Verify-RestApiSpecLocation.ps1
Labels: EngSys, Central-EngSys

#5266 Storage/STG93 Add Rename Support to List Ranges
  sdk/storage/assets.json
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_file_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-files-shares/test/ut/share_file_client_test.cpp
Labels: Storage

#5269 [CODEOWNERS] Remove automation section
  .github/CODEOWNERS
Labels: Client, EngSys

#5241 Key Vault January Releases (1/16)
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/src/private/package_version.hpp
Labels: KeyVault

#5239 Tables January Release (1/16 Beta)
  cmake-modules/FolderList.cmake
  sdk/tables/azure-data-tables/CHANGELOG.md
  sdk/tables/azure-data-tables/vcpkg/vcpkg.json
Labels: Tables

#5273 Fix broken link
  sdk/keyvault/azure-security-keyvault-administration/samples/sample1_administration.md
Labels: KeyVault

#5275 Sync eng/common directory with azure-sdk-tools for PR 7536
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/create-tags-and-git-release.ps1
Labels: EngSys, Central-EngSys

#5276 Increment version for keyvault releases
  sdk/keyvault/azure-security-keyvault-administration/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-administration/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-certificates/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-certificates/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-keys/src/private/package_version.hpp
  sdk/keyvault/azure-security-keyvault-secrets/CHANGELOG.md
  sdk/keyvault/azure-security-keyvault-secrets/src/private/package_version.hpp
Labels: KeyVault

#5258 Sync eng/common directory with azure-sdk-tools for PR 7512
  eng/common/scripts/Generate-PR-Diff.ps1
Labels: EngSys, Central-EngSys

#5226 Re-enable UWP CI pipeline
  eng/pipelines/templates/stages/platform-matrix.json
Labels: EngSys

#5259 Attempt to diagnose WinHTTP CI pipeline errors.
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
Labels: Azure.Core

#5277 Changelog entry for winhttp bug fix
  sdk/core/azure-core/CHANGELOG.md
Labels: Azure.Core

#5278 Sync eng/common directory with azure-sdk-tools for PR 7537
  eng/common/scripts/Helpers/git-helpers.ps1
  eng/common/scripts/Helpers/git-helpers.tests.ps1
  eng/common/testproxy/onboarding/common-asset-functions.ps1
  eng/common/testproxy/scripts/resolve-asset-conflict/README.md
  eng/common/testproxy/scripts/resolve-asset-conflict/resolve-asset-conflict.ps1
  eng/common/testproxy/scripts/tag-merge/README.md
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
Labels: EngSys, Central-EngSys

#5267 Storage/STG93 Add NFS Snapshot Support
  sdk/storage/assets.json
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-files-shares/test/ut/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_service_client_test.cpp
Labels: Storage

#5281 Synchronous AMQP Close
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/claims_based_security.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/management.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/message_receiver.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/message_sender.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/session.hpp
  sdk/core/azure-core-amqp/samples/internal/eventhub_get_properties_sample/eventhub_get_eventhub_properties_sample.cpp
  sdk/core/azure-core-amqp/src/amqp/claim_based_security.cpp
  sdk/core/azure-core-amqp/src/amqp/connection.cpp
  sdk/core/azure-core-amqp/src/amqp/management.cpp
  sdk/core/azure-core-amqp/src/amqp/message_receiver.cpp
  sdk/core/azure-core-amqp/src/amqp/message_sender.cpp
  sdk/core/azure-core-amqp/src/amqp/private/claims_based_security_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/link_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/management_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/message_receiver_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/message_sender_impl.hpp
  sdk/core/azure-core-amqp/src/models/amqp_error.cpp
  sdk/core/azure-core-amqp/src/models/message_source.cpp
  sdk/core/azure-core-amqp/test/ut/claim_based_security_tests.cpp
  sdk/core/azure-core-amqp/test/ut/management_tests.cpp
  sdk/core/azure-core-amqp/test/ut/message_sender_receiver.cpp
  sdk/core/azure-core-amqp/test/ut/mock_amqp_server.hpp
  sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/consumer_client.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/partition_client.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/processor.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/processor_partition_client.hpp
  sdk/eventhubs/azure-messaging-eventhubs/inc/azure/messaging/eventhubs/producer_client.hpp
  sdk/eventhubs/azure-messaging-eventhubs/src/consumer_client.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/private/eventhubs_utilities.hpp
  sdk/eventhubs/azure-messaging-eventhubs/src/processor.cpp
  sdk/eventhubs/azure-messaging-eventhubs/src/producer_client.cpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/processor_test.cpp
Labels: Azure.Core

#5280 Sync eng/common directory with azure-sdk-tools for PR 7543
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#5283 Sync eng/common directory with azure-sdk-tools for PR 7548
  eng/common/scripts/Verify-RestApiSpecLocation.ps1
Labels: EngSys, Central-EngSys

#5285 Sync eng/common directory with azure-sdk-tools for PR 7270
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Update-ChangeLog.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/git-branch-push.ps1
Labels: EngSys, Central-EngSys

#5286 Sync eng/common directory with azure-sdk-tools for PR 7556
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
Labels: EngSys, Central-EngSys

#5287 Storage/STG93 Add UserPrincipalName support for GetAccessControlList
  sdk/storage/assets.json
  sdk/storage/azure-storage-files-datalake/inc/azure/storage/files/datalake/datalake_options.hpp
  sdk/storage/azure-storage-files-datalake/src/datalake_path_client.cpp
  sdk/storage/azure-storage-files-datalake/test/ut/datalake_path_client_test.cpp
Labels: Storage

#5288 Revert "Storage/STG93 Add NFS Snapshot Support (#5267)"
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/rest_client.hpp
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_options.hpp
  sdk/storage/azure-storage-files-shares/src/rest_client.cpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/swagger/README.md
  sdk/storage/azure-storage-files-shares/test/ut/share_client_test.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_service_client_test.cpp
Labels: Storage

#5291 Ported uAMQP bug fix to C++ repo
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/amqp_definitions.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/amqpvalue.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/uamqp_generator/amqp_definitions_c.cs
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/uamqp_generator/amqp_definitions_c.tt
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/uamqp_generator/amqp_definitions_h.cs
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/uamqp_generator/amqp_definitions_type_h.cs
Labels: Azure.Core

#5292 Sync eng/common directory with azure-sdk-tools for PR 7580
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
Labels: EngSys, Central-EngSys

#5289 Sync eng/common directory with azure-sdk-tools for PR 7569
  eng/common/scripts/Verify-RestApiSpecLocation.ps1
Labels: EngSys, Central-EngSys

#5294 Sync eng/common directory with azure-sdk-tools for PR 7584
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#5299 AMQP Session related fixes.
  .clang-format
  .vscode/cspell.json
  CMakePresets.json
  sdk/core/azure-core-amqp/CHANGELOG.md
  sdk/core/azure-core-amqp/CMakeLists.txt
  sdk/core/azure-core-amqp/cspell.json
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/amqp_settle_mode.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/connection.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/endpoint.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/link.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/message_receiver.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/message_sender.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/models/performatives/amqp_detach.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/models/performatives/amqp_transfer.hpp
  sdk/core/azure-core-amqp/inc/azure/core/amqp/internal/session.hpp
  sdk/core/azure-core-amqp/samples/internal/local_server_sample/local_server_sample.cpp
  sdk/core/azure-core-amqp/src/amqp/connection.cpp
  sdk/core/azure-core-amqp/src/amqp/connection_string_credential.cpp
  sdk/core/azure-core-amqp/src/amqp/link.cpp
  sdk/core/azure-core-amqp/src/amqp/management.cpp
  sdk/core/azure-core-amqp/src/amqp/message_receiver.cpp
  sdk/core/azure-core-amqp/src/amqp/message_sender.cpp
  sdk/core/azure-core-amqp/src/amqp/private/connection_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/link_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/management_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/message_sender_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/private/session_impl.hpp
  sdk/core/azure-core-amqp/src/amqp/session.cpp
  sdk/core/azure-core-amqp/src/models/amqp_detach.cpp
  sdk/core/azure-core-amqp/src/models/amqp_error.cpp
  sdk/core/azure-core-amqp/src/models/amqp_transfer.cpp
  sdk/core/azure-core-amqp/src/models/amqp_value.cpp
  sdk/core/azure-core-amqp/src/models/message_source.cpp
  sdk/core/azure-core-amqp/src/models/message_target.cpp
  sdk/core/azure-core-amqp/src/models/private/error_impl.hpp
  sdk/core/azure-core-amqp/src/models/private/performatives/detach_impl.hpp
  sdk/core/azure-core-amqp/src/models/private/performatives/transfer_impl.hpp
  sdk/core/azure-core-amqp/src/models/private/source_impl.hpp
  sdk/core/azure-core-amqp/src/models/private/target_impl.hpp
  sdk/core/azure-core-amqp/src/models/private/value_impl.hpp
  sdk/core/azure-core-amqp/test/ut/CMakeLists.txt
  sdk/core/azure-core-amqp/test/ut/amqp_performative_tests.cpp
  sdk/core/azure-core-amqp/test/ut/connection_tests.cpp
  sdk/core/azure-core-amqp/test/ut/link_tests.cpp
  sdk/core/azure-core-amqp/test/ut/management_tests.cpp
  sdk/core/azure-core-amqp/test/ut/message_sender_receiver.cpp
  sdk/core/azure-core-amqp/test/ut/mock_amqp_server.hpp
  sdk/core/azure-core-amqp/test/ut/session_tests.cpp
  sdk/core/azure-core-amqp/test/ut_uamqp/CMakeLists.txt
  sdk/core/azure-core-amqp/test/ut_uamqp/uamqp_insertion_tests.cpp
  sdk/core/azure-core-amqp/test/ut_uamqp/uamqp_performatives_tests.cpp
  sdk/core/azure-core-amqp/test/ut_uamqp/uamqp_value_tests.cpp
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/connection.c
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/src/session.c
  sdk/core/ci.yml
  sdk/eventhubs/azure-messaging-eventhubs/src/private/eventhubs_utilities.hpp
  sdk/eventhubs/azure-messaging-eventhubs/test/ut/processor_test.cpp
Labels: Azure.Core

#5302 Sync eng/common directory with azure-sdk-tools for PR 7585
  eng/common/scripts/Verify-RestApiSpecLocation.ps1
Labels: EngSys, Central-EngSys

#5306 Removed dead script
  sdk/core/azure-core-amqp/vendor/azure-uamqp-c/tools/kick_jenkins.cmd
Labels: Azure.Core
