Repository Azure/azure-sdk-for-cpp, pull requests merged in 2025-07, with the labels that each got.

#6650 Sync eng/common directory with azure-sdk-tools for PR 11067
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
Labels: EngSys, Central-EngSys

#6655 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Labels: Azure.Identity

#6634 Identity: 'AZURE_TOKEN_CREDENTIALS' env var support for specific credential names
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/default_azure_credential.cpp
  sdk/identity/azure-identity/test/ut/default_azure_credential_test.cpp
Labels: Azure.Identity

#6656 Sync eng/common directory with azure-sdk-tools for PR 11152
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#6652 Azure Identity July Beta Release
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Identity

#6625 Fix small typo
  sdk/keyvault/README.md
Labels: KeyVault

#6664 Storage/Cherry-pick STG98 GA Release Changelog
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
Labels: Storage

#6667 Sync eng/common directory with azure-sdk-tools for PR 11319
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
Labels: EngSys, Central-EngSys

#6668 Sync eng/common directory with azure-sdk-tools for PR 11336
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#6677 Sync eng/common directory with azure-sdk-tools for PR 11373
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys
