Repository Azure/azure-sdk-for-cpp, pull requests merged in 2025-06, with the labels that each got.

#6606 Sync eng/common directory with azure-sdk-tools for PR 10755
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#6608 Add Cargo.toml to sdk/core/ci.yml
  sdk/core/ci.yml
Labels: Azure.Core

#6610 Sync eng/common directory with azure-sdk-tools for PR 10795
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#6587 Sync eng/common directory with azure-sdk-tools for PR 10694
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#6604 Identity samples: make sample service to invoke GetToken()
  eng/pipelines/templates/jobs/live.tests.yml
  samples/helpers/service/src/client.cpp
  sdk/identity/azure-identity/samples/azure_cli_credential.cpp
  sdk/identity/azure-identity/samples/chained_token_credential.cpp
  sdk/identity/azure-identity/samples/client_certificate_credential.cpp
  sdk/identity/azure-identity/samples/client_secret_credential.cpp
  sdk/identity/azure-identity/samples/default_azure_credential.cpp
  sdk/identity/azure-identity/samples/environment_credential.cpp
  sdk/identity/azure-identity/samples/managed_identity_credential.cpp
  sdk/identity/azure-identity/samples/workload_identity_credential.cpp
Labels: Azure.Identity

#6605 Core and Identity June Beta releases
  sdk/core/azure-core/CHANGELOG.md
  sdk/identity/azure-identity/CHANGELOG.md
Labels: Azure.Core, Azure.Identity, Managed Identity

#6615 Increment version for identity releases
  sdk/identity/azure-identity/CHANGELOG.md
  sdk/identity/azure-identity/src/private/package_version.hpp
Labels: Azure.Identity

#6612 Storage/STG99 Added ShareSnapshotNotFound in ShareErrorCode
  sdk/storage/assets.json
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_constants.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_client_test.cpp
Labels: Storage

#6613 Storage/STG99 Made error message for invalid x-ms-version more user-friendly
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/constants.hpp
  sdk/storage/azure-storage-common/src/storage_exception.cpp
Labels: Storage

#6621 Sync eng/common directory with azure-sdk-tools for PR 10835
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#6620 Stg99/Add test records and update change logs
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-queues/CHANGELOG.md
Labels: Storage

#6626 Sync eng/common directory with azure-sdk-tools for PR 10878
  eng/common/spelling/package-lock.json
Labels: EngSys, Central-EngSys

#6627 Sync eng/common directory with azure-sdk-tools for PR 10886
  eng/common/pipelines/templates/steps/detect-api-changes.yml
Labels: EngSys, Central-EngSys

#6629 Sync eng/common directory with azure-sdk-tools for PR 10895
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#6628 Sync eng/common directory with azure-sdk-tools for PR 10892
  eng/common/mcp/azure-sdk-mcp.ps1
Labels: EngSys, Central-EngSys

#6630 Sync eng/common directory with azure-sdk-tools for PR 10913
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#6622 Storage STG99 Features
  sdk/storage/assets.json
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/test/ut/block_blob_client_test.cpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/inc/azure/storage/common/internal/constants.hpp
  sdk/storage/azure-storage-common/src/storage_exception.cpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/inc/azure/storage/files/shares/share_constants.hpp
  sdk/storage/azure-storage-files-shares/src/share_client.cpp
  sdk/storage/azure-storage-files-shares/test/ut/share_client_test.cpp
  sdk/storage/azure-storage-queues/CHANGELOG.md
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/queue_client.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/queue_responses.hpp
  sdk/storage/azure-storage-queues/inc/azure/storage/queues/rest_client.hpp
  sdk/storage/azure-storage-queues/src/queue_client.cpp
  sdk/storage/azure-storage-queues/src/rest_client.cpp
  sdk/storage/azure-storage-queues/swagger/README.md
  sdk/storage/azure-storage-queues/test/ut/queue_client_test.cpp
Labels: Storage

#6635 Storage June Release
  cmake-modules/FolderList.cmake
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-blobs/vcpkg/vcpkg.json
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/account_sas_builder.cpp
  sdk/storage/azure-storage-common/vcpkg.json
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/vcpkg.json
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
  sdk/storage/azure-storage-queues/CHANGELOG.md
  sdk/storage/azure-storage-queues/vcpkg.json
  sdk/storage/azure-storage-queues/vcpkg/vcpkg.json
Labels: Storage

#6645 Increment version for storage releases
  sdk/storage/azure-storage-blobs/CHANGELOG.md
  sdk/storage/azure-storage-blobs/src/private/package_version.hpp
  sdk/storage/azure-storage-common/CHANGELOG.md
  sdk/storage/azure-storage-common/src/private/package_version.hpp
  sdk/storage/azure-storage-files-datalake/CHANGELOG.md
  sdk/storage/azure-storage-files-datalake/src/private/package_version.hpp
  sdk/storage/azure-storage-files-shares/CHANGELOG.md
  sdk/storage/azure-storage-files-shares/src/private/package_version.hpp
  sdk/storage/azure-storage-queues/CHANGELOG.md
  sdk/storage/azure-storage-queues/src/private/package_version.hpp
Labels: Storage

#6637 Fixed WinHTTP failfast caused by premature cancellation
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/src/http/curl/curl_connection_pool_private.hpp
  sdk/core/azure-core/src/http/curl/curl_session_private.hpp
  sdk/core/azure-core/src/http/winhttp/win_http_transport.cpp
  sdk/core/azure-core/test/ut/curl_connection_pool_test.cpp
  sdk/core/azure-core/test/ut/transport_adapter_base_test.cpp
Labels: Azure.Core
